<template>
  <div class="fadein">
    <div class="section">
      <v-container>
        <h3 class="head2">Manage Courses Reviews</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/dashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Manage Courses Reviews</a>
            </li>
          </ul>
        </div>

        <v-row>
          <v-col class="new-title">
            <div class="bx">
              <v-container>
                <v-row style="background-color: #000" class="ml-1">
                  <v-col class="text-left"><h4>Reviews</h4></v-col>
                  <!-- <v-col class="text-right" align-self="center">
                    <router-link
                  to="/corporate/add_new_course"
                  >
                    <v-btn>
                        Add New
                    </v-btn>
                    </router-link
                >
                  </v-col> -->
                </v-row>

                <v-simple-table>
                  <template>
                    <thead>
                      <tr>
                        <th class="text-center">Customer Image</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Message</th>
                        <th class="text-center">Rate</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody v-if="reviewList.length > 0">
                      <tr v-for="(review, index) in reviewList" :key="index">
                        <td style="padding: 5px">
                          <v-img
                            max-height="80"
                            max-width="80"
                            :src="review.customer_image"
                            :alt="review.customer_name"
                          ></v-img>
                        </td>
                        <td class="text-center">{{ review.customer_name }}</td>
                        <td class="text-center">{{ review.message }}</td>
                        <td class="text-center">{{ review.rate }}</td>
                        <td>
                          <v-container>
                            <v-row>
                              <v-col class="text-right">
                                <v-btn
                                  v-if="review.status == 1"
                                  rounded
                                  dark
                                  color="green"
                                  size="small"
                                >
                                  Published
                                </v-btn>
                                <v-btn
                                  v-else
                                  rounded
                                  dark
                                  color="grey darken-4"
                                  size="small"
                                  @click="makePublish(review.id, 1)"
                                >
                                  Make Publish</v-btn
                                >
                              </v-col>
                            </v-row>
                          </v-container>
                        </td>
                      </tr>
                    </tbody>
                    <tbody v-if="reviewList.length == 0">
                      <tr>
                        No review data available
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <!-- <v-data-table
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="headers"
                :items="courses"
                sort-by="fee"
                class="elevation-1"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                @page-count="pageCount = $event"
              >
                <template v-slot:item="{ item }">
                  <v-container>
                    <div class="p-2">
                      <v-img
                        :src="item.image"
                        :alt="item.name"
                        height="50px"
                        width="100px"
                        style="margin: 7px"
                      ></v-img>
                    </div>
                    <template v-slot:item.name="{ item }">
                               <p>{{item.name}}</p>
                                <a>Add batches</a>
                            </template>

                    <nuxt-link :to="`/courses/${item.name}/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-eye </v-icon>
                    </nuxt-link>
                    <nuxt-link to="/">
                      <v-icon small class="mr-2"> mdi-plus </v-icon>
                    </nuxt-link>
                    <nuxt-link :to="`/corporate/edit_course/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-pencil </v-icon>
                    </nuxt-link>
                    <v-icon small @click="deleteModal(item)">
                      mdi-delete
                    </v-icon>
                    <v-btn-toggle
                      v-model="item.status"
                      tile
                      group
                      @change="changeStatus(item)"
                    >
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Active"
                        size="small"
                      >
                        Active
                      </v-btn>
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Inactive"
                        size="small"
                      >
                        Inactive
                      </v-btn>
                    </v-btn-toggle>
                  </v-container>
                </template>
              </v-data-table> -->
                <div class="text-center pt-2">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                  ></v-pagination>
                  <!-- <v-text-field :value="itemsPerPage" label="Items per page" type="number" min="-1" max="15" @input="itemsPerPage = parseInt($event, 10)"></v-text-field> -->
                </div>
              </v-container>
            </div>
          </v-col>
          <InnerDashboardNav />
        </v-row>
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
              <v-card-title class="headline">Are you sure?</v-card-title>
              <v-card-text
                >Do you really want to delete this course ? This process cannot
                be undone.</v-card-text
              >
              <v-card-actions>
                <v-btn
                  color="green darken-1"
                  text
                  @click="dialog = false"
                  class="btn"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteCourse"
                  class="btn"
                  >Yes, delete it!</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
        <v-snackbar v-model="snackbar" color="black">
          <span style="color: #fff">Course Deleted!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="deleteError" color="red">
          <span style="color: #fff">Could not delete!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusTrue" color="black">
          <span style="color: #fff">Status changed!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusFalse" color="red">
          <span style="color: #fff">Could not change status!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
      </v-container>
    </div>

    <!-- <v-dialog
      v-model="batchDialog"
      scrollable
      max-width="1000"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Batch Information </v-card-title>
        <v-card-text>
          <v-simple-table>
            <template>
              <thead>
                <tr>
                  <th class="text-center">Start Date</th>
                  <th class="text-center">Day Type</th>
                  <th class="text-center">Type</th>
                  <th class="text-center">Start Time</th>
                  <th class="text-center">End Time</th>
                  <th class="text-center">Fee</th>
                </tr>
              </thead>
              <tbody v-if="batch_Info.length > 0">
                <tr v-for="(batch, index) in batch_Info" :key="index">
                  <td class="text-center">{{ batch.batch_start_date }}</td>
                  <td class="text-center">{{ batch.day_type }}</td>
                  <td class="text-center">{{ batch.batch_type }}</td>
                  <td class="text-center">{{ batch.start_time }}</td>
                  <td class="text-center">{{ batch.end_time }}</td>
                  <td class="text-center">{{ batch.fee }}</td>
                </tr>
              </tbody>
              <tbody v-if="batch_Info.length == 0">
                <tr>
                  No batch available
                </tr>
              </tbody>
            </template>
          </v-simple-table>
          <v-card-actions
            ><v-row class="mt-2"
              ><v-col
                ><v-btn @click="batchDialog = false" rounded dark color="red"
                  >Close</v-btn
                ></v-col
              ></v-row
            ></v-card-actions
          >
        </v-card-text>
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script>
import InnerDashboardNav from "../../../components/InnerDashboardNav";
export default {
  name: "ManageCourses",
  components: {
    InnerDashboardNav,
  },
  data() {
    return {
      slug: this.$route.params,
      page: 1,
      pageCount: 0,
      itemsPerPage: 6,
      status: "Active",
      dialog: false,
      statusTrue: false,
      statusFalse: false,
      user: null,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      courseId: "",
      deleteError: false,

      headers: [
        {
          text: "Course Image",
          align: "start",
          value: "image",
          sortable: false,
        },
        {
          text: "Course Name",
          value: "name",
          sortable: false,
        },
        {
          text: "Fee",
          value: "fee",
        },
        {
          text: "Duration",
          value: "duration",
        },
        {
          text: "Actions",
          value: "actions",
          sortable: false,
        },
      ],
      courses: [],
      user_id: "",
      enrollList: [],
      batch_Info: [],
      batchDialog: false,
      reviewList: [],
      entity_id: "",
    };
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.entity_id = localStorage.getItem("course_id_for_review");
    // this.getCourseList();
    // this.getEnrollList();
    this.getReviewList();
    console.log("dfasdfg35423534",this.slug)
  },
  methods: {
    // showBatchInfo(batch) {
    //   this.batch_Info = batch;
    //   this.batchDialog = true;
    // },
    // deleteModal(item) {
    //   this.dialog = true;
    //   this.courseId = item.course_id;
    // },
    // async changeStatus(item) {
    //   // console.log("this is is id", item.status, item.course_id);
    //   let res = await this.$axios.post(
    //     "trainingInstituteApi/update_course_status",
    //     {
    //       user_id: this.user_id,
    //       course_id: item.course_id,
    //       status: item.status,
    //     }
    //   );
    //   console.log(res);
    //   if (res.data.result === 1) {
    //     this.deleteError = false;
    //     this.statusTrue = true;
    //   } else {
    //     this.statusFalse = true;
    //   }
    // },
    async makePublish(id, stat) {
      let res = await this.$axios.post("trainingInstituteApi/approve_review", {
        review_id: id,
        status: stat,
      });
      if (res.data.result === 1) {
        this.getReviewList();
      }
    },
    // async deleteCourse() {
    //   this.deleteProcessing = true;
    //   this.snackbar = false;
    //   this.deleteError = false;
    //   // setTimeout(() =>
    //   //     this.$delete(this.snackbar = true, this.dialog = false, this.deleteProcessing = false),
    //   //     2000);
    //   let res = await this.$axios.post("trainingInstituteApi/delete_course", {
    //     user_id: this.user_id,
    //     course_id: this.courseId,
    //   });
    //   console.log(res);
    //   if (res.data.result === 1) {
    //     this.deleteError = false;
    //     this.snackbar = true;
    //     this.dialog = false;
    //     this.deleteProcessing = false;
    //   } else {
    //     this.deleteError = true;
    //     this.dialog = false;
    //     this.deleteProcessing = false;
    //   }
    // },
    // async getCourseList() {
    //   let res = await this.$axios.post("trainingInstituteApi/course_list", {
    //     user_id: this.user_id,
    //   });
    //   console.log(res);
    //   if (res.data.result === 1) {
    //     this.courses = res.data.data;
    //     this.loading = false;
    //   } else {
    //     this.loading = false;
    //   }
    // },
    // async getEnrollList() {
    //   let res = await this.$axios.post("trainingInstituteApi/enroll_info", {
    //     user_id: this.user_id,
    //   });
    //   if (res.data.result === 1) {
    //     this.enrollList = res.data.data;
    //     console.log("sfgsdgd3534dgdh7u", res.data.data);
    //     this.loading = false;
    //   } else {
    //     this.loading = false;
    //   }
    // },
    async getReviewList() {
      // let entity=localStorage.getItem("course_id_for_review");
      let res = await this.$axios.post("trainingInstituteApi/get_reviews", {
        entity_id: this.slug.course_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.reviewList = res.data.data;
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.v-pagination__item.v-pagination__item--active.primary {
  background: #000;
  border-color: #000;
}
</style>
