<template>
  <fragment>
    <v-expansion-panels multiple v-model="panel" class="filter-modal" style="position:sticky;top:0;">
      <v-expansion-panel >
        <v-expansion-panel-header>
          <h6>Country</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
              
                v-model="ex4"
                label="India"
                color="black"
                value="india"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
           
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="usa"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
         
      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>City</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="city1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
           
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="city2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>Area</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="area1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="area2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      
      <v-expansion-panel v-if="trainer || persons || HR">
        <v-expansion-panel-header>
          <h6>Looking For</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="trainer">
        <v-expansion-panel-header>
          <h6>Course/Subjects</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="training">
        <v-expansion-panel-header>
          <h6>Type of institute</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="companies">
        <v-expansion-panel-header>
          <h6>Company Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="consultancy">
        <v-expansion-panel-header>
          <h6>Consultancy Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>Classification</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>Board</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>School TYpe</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Freshness</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      
       <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Salary</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs || HR">
        <v-expansion-panel-header>
          <h6>Experience</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="HR">
        <v-expansion-panel-header>
          <h6>Industry</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Jobs Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Posted By</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Education</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Industry</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
   <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Course level</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Stream</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Course</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Program Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college">
        <v-expansion-panel-header>
          <h6>Type of college</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college || schools || universities || trainer">
        <v-expansion-panel-header>
          <h6>Fees</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools || college || universities">
        <v-expansion-panel-header>
          <h6>Distance</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Duration</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    
     
      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Language</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="form-group form-check">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="lang"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            
              <v-checkbox
                v-model="ex4"
                label="Indi"
                color="black"
                value="lang2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Explore By Institute</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Delhi"
                color="black"
                value="ins1"
                hide-details
              ></v-checkbox>
              <label for="cit1">Delhi</label>
            
              <v-checkbox
                v-model="ex4"
                label="Kolkata"
                color="black"
                value="ins2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training || persons">
        <v-expansion-panel-header>
          <h6>Category</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="cate"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
          
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="cate1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training">
        <v-expansion-panel-header>
          <h6>Sub category</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="subcat"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="subcat1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training">
        <v-expansion-panel-header>
          <h6>Course</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="course"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="course1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="courses || schools || college || universities || companies || training || consultancy || trainer">
        <v-expansion-panel-header>
          <h6>Popularity</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="popu"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
           
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="popu1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
  <v-expansion-panel v-if="courses || schools || college || universities || companies || training || consultancy || trainer">
        <v-expansion-panel-header>
          <h6>Review / rating</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="review"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
           
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="review1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools || college || universities">
        <v-expansion-panel-header>
          <h6>Facilities</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Price</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="price"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="price1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
       <v-expansion-panel v-if="jobs" class="certi-res">
        <v-expansion-panel-header>
          <nuxt-link to="/walkin">walk-ins</nuxt-link>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      
    </v-expansion-panels>
  </fragment>
  
</template>

  
    
  


<script>
export default {
  props: ["jobs", 'courses','universities','college','schools','companies','training','consultancy','trainer','persons','HR'],
  name: "CourseFilters",
  data() {
    return {
      panel: [0],
      ex4: [],
    };
  },
};
</script>

<style></style>
