<template>
  <div class="fadein">
    <div v-if="preloader">
    <PreLoader/>
    </div>
    <Header/>
    <div class="course-detail">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/courses">Courses</nuxt-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <!-- <a href="#">{{slug.id}}</a> -->
              <a href="#">{{ slug.name.replace(/-/g, " ") }}</a>
            </li>
          </ul>
        </div>
        <v-row>
          <v-col md="9" class="courseContent">
            <BasicDetails
              :loading="loading"
              :courseName="data.course_name"
              :fee="fee"
              :duration="data.duration"
              :language="data.language"
              :trainingInstituteName="data.training_institute_name"
              :image="data.image"
              :eligibility="data.eligibility"
              :rating="data.rating"
              :category="data.category"
              :subCategory="data.sub_category"
              :description="data.description"
            />
            <!-- <Description :loading="loading" :description="data.description"/> -->

            <WhyThisCourse :loading="loading" :data="data.why_this" />
            <div class="right-menu certi-res">
              <VideoContainer
                :user="userId"
                :courseuser="course_user_id"
                :slug="slug"
                :loading="loading"
                :data="data.demo_video"
                :fee="data.fee"
                :courseName="data.course_name"
              />
              <Certification
                :loading="loading"
                :data="data.certification_image"
              />

              <Topics :loading="loading" :data="data.topic_list" />

              
            </div>
            <!-- <fragment v-if="loading"></fragment> -->
              <Batches
                :loading="loading"
                :slug="slug"
                :user="userId"
                :courseuser="course_user_id"
                :data="batchData"
                :fee="data.fee"
              />

            <Features
              :data="feature_list"
              :loading="loading"
            />
            <Curriculums
              :slug="slug"
              :data="curriculum_list"
              :loading="loading"
            />
            <Projects
              :data="project_list"
              :loading="loading"
              :ispurchased="isPurchased"
            />
            <Faqs
              :data="faq_list"
              :loading="loading"
            />

            <TrainerDetails
              :data="trainer_data"
              :loading="loading"
            />

            <Reviews :loading="loading" :id="data.course_user_id" />
          </v-col>
          <v-col md="3">
            <div class="right-menu certi-desk">
              <VideoContainer
                :user="userId"
                :courseuser="course_user_id"
                :slug="slug"
                :loading="loading"
                :data="data.demo_video"
                :fee="data.fee"
                :courseName="data.course_name"
              />
              <Certification
                :loading="loading"
                :data="data.certification_image"
              />

              <Topics :loading="loading" :data="data.topic_list" />

              

              <!-- <section><div class="bx"><div class="course-ft vendor-board"><h3 class="head2" style="margin-top: 0px;">Enquiry Form</h3><div class="form"><div class="form-group"><input type="text" placeholder="Enter  Name" class="form-control"></div><div class="form-group"><input type="text" placeholder="Enter Mobile Number" class="form-control"></div><div class="form-group"><input type="text" placeholder="Enter Email" class="form-control"></div><div class="form-group"><select class="form-control"><option>Select Course</option></select></div><div class="form-group"><a href="#" class="btn" style="width: 100%; border-radius: 0px;">Send</a></div></div></div></div></section> -->
            </div>
          </v-col>
          <div class="col-md-12">
            <SameCourses :courseuser="course_user_id"/>
            <SimilarCourses />
          </div>
          <!-- <v-col md="12">
            <PopularKeywords />
          </v-col> -->
        </v-row>
      </v-container>
    </div>
    <Footer/>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import BasicDetails from "../../../components/courseDetails/BasicDetails";
import WhyThisCourse from "../../../components/courseDetails/WhyThisCourse";
import Description from "../../../components/courseDetails/Description";
import Batches from "../../../components/courseDetails/Batches";
import Features from "../../../components/courseDetails/Features";
import Curriculums from "../../../components/courseDetails/Curriculums";
import Projects from "../../../components/courseDetails/Projects";
import Faqs from "../../../components/courseDetails/Faqs";
import TrainerDetails from "../../../components/courseDetails/TrainerDetails";
import Reviews from "../../../components/courseDetails/Reviews";
import VideoContainer from "../../../components/courseDetails/VideoContainer";
import Topics from "../../../components/courseDetails/Topics";
import Certification from "../../../components/courseDetails/Certification";
import PopularKeywords from "../../../components/courseDetails/PopularKeywords";
import SimilarCourses from "../../../components/courseDetails/SimilarCourses";
import SameCourses from "../../../components/courseDetails/SameCourses";
import PreLoader from "../../../components/PreLoader";
import Footer from "../../../components/Footer";
import Header from "../../../components/Header";
export default {
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id);
  },
  name: "Course-details",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    BasicDetails,
    WhyThisCourse,
    Description,
    Batches,
    Features,
    Curriculums,
    Projects,
    Faqs,
    TrainerDetails,
    Reviews,
    VideoContainer,
    Topics,
    Certification,
    PopularKeywords,
    SimilarCourses,
    SameCourses,
    PreLoader,
    Header,
    Footer
  },
  data() {
    return {
      slug: this.$route.params,
      // preloader:true,
      data: "",
      loading: true,
      userId: "",
      batchData: [],
      course_user_id:"",
      trainer_data:[],
      faq_list:[],
      project_list:[],
      curriculum_list:[],
      feature_list:[],
      fee:"",
      purchasedCourseList:[],
      isPurchased:false

    };
  },
  beforeMount() {
    this.getCourseData();
    
  },
  methods: {
    async getCoursePurchaseList(){
      let user=localStorage.getItem("userId")
      if(user == "" || user == null){
        this.isPurchased=false
      }
      else{
      let res = await this.$axios.post("CustomerApi/purchased_course_list", {
        user_id: user,
      });
      if(res.data.result===1){
        this.purchasedCourseList=res.data.data
        for(let i=0;i<res.data.data.length;i++){
          if(this.slug.id == res.data.data[i].course_id){
            this.isPurchased=true
          }
        }
      }
      }
    },
    // async getBatchData() {
    //   let payload = {
    //     course_id: this.slug.id,
    //     action: "list",
    //     user_id: this.course_user_id,
    //   };
    //   console.log("payloadBatch4545", payload);
    //   let res = await this.$axios.post(
    //     "trainingInstituteApi/manage_batch",
    //     payload
    //   );
    //   if (res.data.result === 1) {
    //     this.batchData = res.data.data;
    //   }
    //   console.log("batches345345",res.data.data)
    // },
    async getCourseData() {
      this.courseLoading = true;
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id,
      });
      if (res.data.result === 1) {
        this.data = res.data.data[0];
        this.trainer_data=res.data.data[0].trainer_data[0]
        this.faq_list=res.data.data[0].faq_list[0]
        this.project_list=res.data.data[0].project_list[0]
        this.curriculum_list=res.data.data[0].curriculum_list[0]
        this.feature_list=res.data.data[0].feature_list[0]
        this.batchData=res.data.data[0].batch_data
        this.fee=res.data.data[0].fee
        localStorage.setItem("course_userId",res.data.data[0].user_id)
        localStorage.setItem("courseId",res.data.data[0].course_id)
        // this.course_user_id=res.data.data[0].user_id
        console.log("dfgsdfg5643563",res.data.data[0])
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
    getUser() {
      let userId = localStorage.getItem("userId");
      console.log("sfgdsgd3535dfgsdg", userId);
      this.userId = userId;
    },
  },
  computed: {
    //  getUser() {
    //     return this.$store.state.user
    //     // alert(userId)
    // },
  },
  mounted() {
   
    this.getUser();
    let id=localStorage.getItem("course_userId")
    this.course_user_id=id
    console.log("dfgfdagfsd",this.course_user_id)
    this.getCoursePurchaseList()
    setTimeout(() => {
      this.preloader=false
    }, 3000);
    this.$store.dispatch("persist")
    //  this.getBatchData();
  },
  head() {
    let data = this.data;
    let slug = this.$route.params;
    return {
      title: slug.name,
      meta: [
        { charset: "utf-8" },
        { name: "viewport", content: "width=device-width, initial-scale=1" },
        {
          hid: "description",
          name: "description",
          content: "my website description",
        },
      ],
    };
  },
};
</script>

<style></style>
