<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerdata})` }"
    >
      <h2>{{ trainer_username }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/trainers_list">Trainers</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>{{ trainer_username }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <img
                      :src="profile.profile_image"
                      style="height: 180px; width: 170px; object-fit: cover"
                      alt=""
                    />
                  </div>
                  <div class="pl-8">
                    <span>
                      <h3 class="head2">{{ profile.name }}</h3>
                      <div>
                        <small
                          >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                            ></path></svg
                        ></small>
                        <span class="rated">
                          <i class="fa fa-star fa-fw"></i> 4.0
                        </span>
                      </div>
                      <div class="social">
                        <a
                          v-if="profile.facebook"
                          v-bind:href="profile.facebook"
                          target="_blank"
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.twitter"
                          v-bind:href="profile.twitter"
                          target="_blank"
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.instagram"
                          v-bind:href="profile.instagram"
                          target="_blank"
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.linkedin"
                          v-bind:href="profile.linkedin"
                          target="_blank"
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                      </div>
                      <div class="social">
                        <h4 class="lightHead">
                          <span style="color: #000" class="mr-2"
                            ><i
                              class="fa fa-heart"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            30</span
                          >
                          <span style="color: #000"
                            ><i
                              class="fa fa-rss"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            50</span
                          >
                        </h4>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="col-md-6" align-self="center">
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Email</b>
                    </v-col>
                    <v-col>: {{ email ? "XXXXXXXX" : "" }}{{ email }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Phone</b>
                    </v-col>
                    <v-col>: {{ mobile ? "XXXXXX" : "" }}{{ mobile }}
                        {{ profile.landline_no ? "|" : "" }}
                        {{ profile.landline_no }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Website</b>
                    </v-col>
                    <v-col>: {{ profile.website }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Country</b>
                    </v-col>
                    <v-col>: {{ profile.country_name }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>State</b>
                    </v-col>
                    <v-col>: {{ profile.state_name }}</v-col>
                  </v-row>
                    
                    <!-- <div>
                      <b>City</b>
                      <p>{{ profile.city_name }}</p>
                    </div> -->
                    <v-row class="py-1">
                    <v-col md="3">
                      <b>Area</b>
                      
                    </v-col>
                    <v-col>: {{ profile.area_name }}</v-col>
                  </v-row>
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <v-tabs background-color="#FAFAFB" color="black">
                  <v-tab>Overview</v-tab>
                  <v-tab>Teaching Courses</v-tab>
                  <v-tab>Reviews</v-tab>

                  <v-tab-item>
                    <div id="Overview">
                      <div class="bx">
                        <h3 class="head2">About Me</h3>
                        <p>
                          {{ profile.about_us }}
                        </p>
                        <hr />
                      </div>
                      <div class="bx panel">
                        <v-row class="pb-2">
                          <v-col><h3 class="head2">Education</h3></v-col>
                        </v-row>

                        <div
                          class="education grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="education in profile.eduction_list"
                          :key="education.education_id"
                        >
                          <div>
                            <i
                              style="
                                width: 150px;
                                height: 160px;
                                font-size: 4rem;
                                border-radius: 5px;
                                background-color: #d6dbdf;
                              "
                              aria-hidden="true"
                              class="fa fa-university pl-10 pt-9"
                            ></i>
                          </div>
                          <div class="ml-15">
                            <h6>
                              {{ education.stream }} -
                              {{ education.specialization }}
                            </h6>
                            <h5>{{ education.college }}</h5>
                            <h5>{{ education.course_type }}</h5>
                            <h5>
                              {{ education.grading_system }} -
                              {{
                                education.grading_system_id == 2
                                  ? education.marks + "%"
                                  : education.marks
                              }}
                            </h5>
                            <p>{{ education.passing_year }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="bx panel">
                        <v-row class="pb-2">
                          <v-col
                            ><h3 class="head2">
                              Experience & Employment
                            </h3></v-col
                          >
                        </v-row>

                        <div
                          class="education grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="experience in profile.employement_list"
                          :key="experience.employement_id"
                        >
                          <div>
                            <!-- <v-icon aria-hidden="true"  style="width: 150px; height: 160px; font-size:5rem">mdi-collage</v-icon> -->
                            <i
                              style="
                                width: 150px;
                                height: 160px;
                                font-size: 4rem;
                                border-radius: 5px;
                                background-color: #d6dbdf;
                              "
                              class="fa fa-align-center pl-10 pt-10"
                              aria-hidden="true"
                            ></i>
                          </div>
                          <div class="ml-15">
                            <h6>Designation: {{ experience.designation }}</h6>
                            <h5>Company: {{ experience.company }}</h5>

                            <p>
                              From: {{ experience.work_start_date }} -
                              {{
                                experience.is_current
                                  ? "Present"
                                  : experience.work_end_date
                              }}
                            </p>
                            <h5>
                              Salary: {{ experience.currency }}
                              {{ experience.current_salary }}
                            </h5>
                            <h5>
                              Notice Period: {{ experience.notice_period }}
                            </h5>
                          </div>
                        </div>
                      </div>
                      <div class="bx panel">
                        <v-row class="pb-2">
                          <v-col
                            ><h3 class="head2">
                              Trainings & Certifications
                            </h3></v-col
                          >
                        </v-row>
                        <div
                          class="education grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="training in profile.traings_list"
                          :key="training.training_id"
                        >
                          <v-col md="1" class="mt-2">
                            <img
                              :src="training.docs"
                              style="
                                width: 120px;
                                height: 100px;
                                border-radius: 5px;
                              "
                            />
                          </v-col>
                          <v-col
                            md="9"
                            class="text-left ml-15"
                            align-self="center"
                            ><h6>
                              {{ training.description }}
                            </h6></v-col
                          >
                        </div>
                      </div>

                      <div class="bx panel">
                        <v-row>
                          <v-col><h3 class="head2">Technical Skill</h3></v-col>
                        </v-row>

                        <div
                          class="grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="technical in technicalList"
                          :key="technical.skill_id"
                        >
                          <v-row>
                            <v-col>
                              <i class="fa fa-comments-o"></i>
                              {{ technical.skill }}
                            </v-col>
                          </v-row>
                        </div>
                      </div>

                      <div class="bx panel">
                        <v-row>
                          <v-col
                            ><h3 class="head2">Professional Skill</h3></v-col
                          >
                        </v-row>

                        <div
                          class="grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="professional in proffessionalList"
                          :key="professional.skill_id"
                        >
                          <v-row>
                            <v-col>
                              <i class="fa fa-comments-o"></i>
                              {{ professional.skill }}
                            </v-col>
                          </v-row>
                        </div>
                      </div>
                      <div class="bx panel">
                        <v-row>
                          <v-col><h3 class="head2">Key Skill</h3></v-col>
                        </v-row>

                        <div
                          class="grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="key in keyList"
                          :key="key.skill_id"
                        >
                          <v-row>
                            <v-col>
                              <i class="fa fa-comments-o"></i>
                              {{ key.skill }}
                            </v-col>
                          </v-row>
                        </div>
                      </div>

                      <div class="bx panel">
                        <v-row class="mb-2 ">
                          <v-col
                            ><h3 class="head2">Awards & Acheivements</h3></v-col
                          >
                        </v-row>

                        <div
                          class="grey-box mb-2"
                          style="border-radius: 5px"
                          v-for="award in profile.award_list"
                          :key="award.award_id"
                        >
                          <v-col
                            md="9"
                            class="text-left"
                            v-if="award.description"
                          >
                            <li>
                              {{ award.description }}
                            </li></v-col
                          >
                        </div>
                      </div>
                      <div class="bx panel">
                        <v-row class="mb-2 ">
                          <v-col><h3 class="head2">Languages</h3></v-col>
                        </v-row>

                        <div
                          class="col-md-4"
                          v-for="(lang, index) in languages"
                          :key="index"
                        >
                          <li
                            v-if="lang"
                            style="
                              padding-left: 15px !important;
                              border-radius: 5px;
                            "
                            class="grey-box mb-2"
                          >
                            {{ lang }}
                          </li>
                        </div>
                      </div>
                      <div class="bx">
                        <v-row class="mb-2 ">
                          <v-col
                            ><h3 class="head2">Interests & Hobbies</h3></v-col
                          >
                        </v-row>

                        <div
                          class="col-md-4"
                          v-for="(hobie, index) in hobie_list"
                          :key="index"
                        >
                          <li
                            v-if="hobie"
                            style="
                              padding-left: 15px !important;
                              border-radius: 5px;
                            "
                            class="grey-box mb-2"
                          >
                            {{ hobie }}
                          </li>
                        </div>
                      </div>
                      <div class="review_view panel bx">
                        <h3
                          class="head2"
                          style="
                            background: #fafafb;
                            margin-bottom: 5px;
                            padding: 10px;
                          "
                        >
                          Reviews
                        </h3>
                        <div v-if="reviewData.length > 0">
                          <div
                            class="grey-box mb-4"
                            style="border-radius: 20px"
                            v-for="review in reviewData"
                            :key="review.id"
                          >
                            <div>
                              <article>
                                <div class="tit">
                                  <div class="col-md-2" style="width: 150px">
                                    <v-row
                                      ><v-col>
                                        <img
                                          :src="review.customer_image" /></v-col
                                    ></v-row>
                                    <v-row
                                      ><v-col>
                                        <span class="stars">
                                          <i
                                            class="ion-android-star"
                                            v-for="rateindex in parseInt(
                                              review.rate
                                            )"
                                            :key="rateindex"
                                          ></i> </span></v-col
                                    ></v-row>
                                  </div>
                                  <div class="col-md-10 mb-20">
                                    <v-row
                                      ><v-col class="text-left"
                                        ><h5 class="ml-0">
                                          {{ review.customer_name }}
                                        </h5></v-col
                                      >
                                                            <!-- <v-col class="text-right"
                                          ><v-btn
                                            v-if="review.status == 1"
                                            rounded
                                            dark
                                            color="green"
                                            size="small"
                                          >
                                            Published
                                          </v-btn>
                                          <v-btn
                                            v-else
                                            rounded
                                            dark
                                            color="grey darken-4"
                                            size="small"
                                            @click="makePublish(review.id, 1)"
                                          >
                                            Make Publish</v-btn
                                          ></v-col
                                        > -->
                                    </v-row>
                                    <v-row
                                      ><v-col style="padding-left: -20px">
                                        <p>
                                          {{ review.message }}
                                        </p></v-col
                                      ></v-row
                                    >
                                  </div>
                                </div>
                                                      <!-- <div class="tit">
                                  <div>
                                    <img :src="review.customer_image" />
                                    <span class="stars">
                                      <i
                                        class="ion-android-star"
                                        v-for="rateindex in parseInt(review.rate)"
                                        :key="rateindex"
                                      ></i>
                                    </span>
                                  </div>
                                  <div>
                                    <v-col
                                      ><h5>{{ review.customer_name }}</h5></v-col
                                    ><v-col class="text-right"
                                      ><v-btn
                                        v-if="review.status == 1"
                                        rounded
                                        dark
                                        color="green"
                                        size="small"
                                      >
                                        Published
                                      </v-btn>
                                      <v-btn
                                        v-else
                                        rounded
                                        dark
                                        color="grey darken-4"
                                        size="small"
                                        @click="makePublish(review.id, 1)"
                                      >
                                        Make Publish</v-btn
                                      ></v-col
                                    >
                                  </div>
                                </div> -->
                                                      <!-- <p>
                                  {{ review.message }}
                                </p> -->
                              </article>
                            </div>
                          </div>
                        </div>
                      </div>
                      <section v-if="user_id && entity_id != user_id">
                        <div class="bx">
                          <div class="write_review">
                            <h6>Write a Review</h6>
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <v-textarea
                                v-model="review.message"
                                placeholder="Message (within 250 characters)"
                                maxlength="250"
                                counter
                              ></v-textarea>
                            </div>
                            <div>
                              <v-rating
                                v-model="review.rate"
                                color="yellow darken-3"
                                background-color="grey darken-1"
                                half-increments
                                hover
                                large
                              ></v-rating>
                            </div>
                            <div
                              v-if="error"
                              class="form-group fadein"
                              style="margin-bottom: 30px"
                            >
                              <v-alert class="" text prominent type="error">
                                {{ errorMessage }}
                              </v-alert>
                            </div>
                            <div
                              class="form-group fadein"
                              v-if="success"
                              style="margin-bottom: 15px"
                            >
                              <div class="row">
                                <v-alert text type="success" align="left">
                                  {{ successMessage }}
                                </v-alert>
                              </div>
                            </div>
                            <v-btn
                              :loading="loading"
                              :disabled="loading"
                              rounded
                              dark
                              color="grey darken-4"
                              @click="submitReview"
                              >Add your Review</v-btn
                            >
                          </div>
                        </div>
                      </section>

                      <!-- <div class="bx gallery_new">
                          <h3 class="head2" style="margin-top:0">Gallery</h3>
                          <div class="row">
                            <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                                <a href="#gal" @click="showFirstTabFunc" class="more-btn">View More</a>
                              </div>
                            </div>
                          </div> -->
                      <!-- <div class="bx">
                            <h3 class="head2" style="margin-top:0">News</h3>
                            <hooper class="tyming"
                                  :itemsToShow="4"
                              :itemsToSlide="4"
                              :wheelControl="false"
                              style="margin-bottom;background:transparent;
                              }">
                              <slide> <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                              <slide>
                                  <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                              <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                               <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                               <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                                  </slide>
                            </hooper>
                            <div style="text-align:center;margin:0 auto">
                                <a href="#" class="btn">View More</a>
                            </div> -->
                      <!-- <div class="row">
                            
                              <div class="col-md-4">
                              
                              </div>
                              <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                      <!-- </div> -->
                    </div>
                  </v-tab-item>

                  <!-- <v-tab-item>
                     <div id="Courses" class="bx">
                      <div class="row">
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4 class="head2">Course Name</h4>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4 class="head2">Course Name</h4>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4 class="head2">Course Name</h4>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                      </div>
                    </div>
                  </v-tab-item> -->
                  <v-tab-item>
                    <div class="bx school-course" id="Courses">
                      <div class="row box box-new">
                        <div
                          class="col-md-4"
                          v-for="course in courselist"
                          :key="course.course_id"
                        >
                          <img :src="course.image" alt="" />

                          <article>
                            <h4>{{ course.name }}</h4>
                            <div>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                {{ course.eligibility }}</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                {{ course.duration }}</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees:
                                {{ course.fee }}</small
                              >
                            </div>
                            <div>
                              <v-btn
                                v-if="user_id != entity_id"
                                rounded
                                dark
                                color="grey darken-4"
                                @click="enrollDialog(course)"
                                >Enroll</v-btn
                              >
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>

                  <!-- <v-tab-item>
                    <div class="bx">
                      <v-tabs background-color="#FAFAFB" color="black">
                          <v-tab>Hyderabad</v-tab>
                          <v-tab>Mumbai</v-tab>
                          <v-tab>Banagalore</v-tab>
                          <v-tab>Chennai</v-tab>
                          <v-tab>Kanpur</v-tab>
                          <v-tab-item>
                            <h4 class="head2">Timings:</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <p>Mon 10:00 to 18:00 Hrs</p>
                                <p>Tue 10:00 to 18:00 Hrs</p>
                                <p>Wed 10:00 to 18:00 Hrs</p>
                                <p>Thurs 10:00 to 18:00 Hrs</p>
                                <p>Fri 10:00 to 18:00 Hrs</p>
                                <p>Sat 10:00 to 18:00 Hrs</p>
                                <p>Sun 10:00 to 18:00 Hrs</p>
                                <h4 class="head2">Address</h4>
                                <p>
                                  JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                </p>
                              </div>
                              <div class="col-md-7">
                                <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                  width="100%"
                                  height="300"
                                  frameborder="0"
                                  style="border: 0"
                                  allowfullscreen=""
                                  aria-hidden="false"
                                  tabindex="0"
                                ></iframe>
                              </div>
                            </div>
                          </v-tab-item>
                        </v-tabs>
                    </div>
                  </v-tab-item> -->
                  <v-tab-item>
                    <AllTabReview :reviewData="reviewData" />
                  </v-tab-item>
                </v-tabs>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <div class="course-ft vendor-board">
                <div class="">
                  <a
                    href="/trainers/Details"
                    class="box box-new"
                    style="margin-top: -100px"
                  >
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>trainer Name</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/trainers/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Trainer Name</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/trainers/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Trainer Name</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
              </div>
            </section>
          </div>
          <div class="col-md-12">
            <section class="grey-box bx">
              <v-row class="py-2">
                <v-col><h3 class="head2">Similar Trainers</h3></v-col>
              </v-row>

              <div class="row">
                <div
                  class="col-md-3"
                  v-for="item in similarTrainer"
                  :key="item.trainer_id"
                >
                  <nuxt-link :to="item.username" class="box box-new">
                    <img v-if="item.logo_image" :src="item.logo_image" alt="" />
                    <img
                      v-else
                      src="../../assets/img/trainer_avatar.jpeg"
                      alt=""
                    />
                    <article style="height:180px">
                      <div class="stars" v-if="item.rating">
                        <v-rating
                          color="warning"
                          hover
                          length="5"
                          readonly
                          size="15"
                          half-increments
                          :value="Number(item.rating).toFixed(1)"
                        ></v-rating>
                      </div>
                      <h4>{{ item.name }}</h4>
                      <h5
                        style="
                          color: #f73c1f;
                          font-weight: bold;
                          font-size: 15px;
                        "
                      >
                        Board: CBSE
                      </h5>
                      <h5>
                        <v-icon style="font-size: 1rem">mdi-email</v-icon
                        >{{ item.email }}
                      </h5>

                      <h5>
                        <v-icon style="font-size: 1rem">mdi-phone</v-icon>
                        {{ item.mobile_no }}
                      </h5>
                      <h5 >
                        <v-icon style="font-size: 1rem">mdi-web</v-icon
                        >http://exreed.com
                      </h5>
                    </article>
                  </nuxt-link>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <v-dialog v-model="showDialog" width="600">
      <v-card>
        <v-card-title class="headline"
          >Enroll Now For {{ courseName }}</v-card-title
        >
        <v-form ref="enrollform">
          <v-card-text>
            <v-row>
              <div class="col-md-12">
                <v-text-field
                  label="First Name*"
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.first_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  label="Last Name*"
                  v-model="enroll.last_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Email*"
                  required
                  :rules="emailRules"
                  v-model="enroll.email"
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Phone Number*"
                  maxlength="10"
                  :rules="[(v) => /^\d{10}$/.test(v) || 'Must be 10 digit']"
                  required
                  v-model="enroll.phone"
                  @keypress="onlyNumbers"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  outlined
                  label="Message*"
                  maxlength="250"
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.message"
                ></v-textarea>
              </div>
              <div class="col-md-12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ responseMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      {{ responseMessage }}
                    </v-alert>
                  </div>
                </div>
              </div>
            </v-row>

            <v-card-actions>
              <v-btn
                rounded
                dark
                color="grey darken-4"
                :loading="loading"
                :disabled="loading"
                @click="enrollCourse"
                >Submit</v-btn
              >
              <v-btn color="red" rounded dark @click="closeEnrollDialog"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import AllTabReview from "../../components/AllTabReview";
export default {
  name: "SchoolDetails",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    AllTabReview,
  },
  data() {
    return {
      customer_id: "",
      profile: "",
      languages: [],
      bannerdata: "",
      user_id: "",
      reviewData: [],
      hobie_list: [],
      customer_name: "",
      email: "",
      mobile: "",
      successMessage: "",
      errorMessage: "",
      responseMessage: "",
      loading: false,
      error: false,
      showDialog: false,
      courselist: [],
      entity_id: "",
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      enroll: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
        course_user_id: "",
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
      technicalList: [],
      proffessionalList: [],
      keyList: [],
      similarTrainer:[]
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.trainer_username = id.pop();
    this.getProfile();
  },
  mounted() {
    let userid = localStorage.getItem("userId");
    this.user_id = userid;
    let id = localStorage.getItem("details_id");
    this.entity_id = id;
    console.log("sfdgsd242345342fgdsgsdf", this.entity_id, this.user_id);
    setTimeout(() => {
      this.getBanner();
      this.getReviews();
      this.getCourseList();
      this.getSimilar()
    }, 1000);
  },
  methods: {
    async getSimilar() {
      let res = await this.$axios.post("CustomerApi/trainer_list", {
        per_page: 4,
        page_no: 1,
      });
      this.similarTrainer = res.data.data;
      // if(res.data.data.rating){
      // let rate=Number(res.data.data.rating)
      // this.similarrating=Number(rate.toFixed(1))
      // }
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    async getBanner() {
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: this.entity_id,
      });
      if (res.data.result === 1) {
        this.bannerdata = res.data.data.banner_image;
        console.log("log2", this.bannerdata);
      }
    },
    async getReviews() {
      let res = await this.$axios.post("trainingInstituteApi/get_reviews", {
        entity_id: this.entity_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let entity_id = localStorage.getItem("details_id");
      this.loading = true;
      (this.review.customer_id = this.user_id),
        (this.review.entity_id = entity_id);
      console.log("sdfasfgafsdgdf", this.review);
      if (this.review.message == "" && this.review.rate == "") {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please give rate or review";
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/trainingInstituteApi/add_review",
          this.review
        );
        if (res.data.result === 1) {
          this.loading = false;
          this.success = true;
          this.successMessage = res.data.message;
          setTimeout(() => {
            this.success = false;
            this.review = {
              customer_id: "",
              entity_id: "",
              description: "",
              rating: "",
            };
          }, 2000);
        } else {
          this.loading = false;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      }
    },

    async getCourseList() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/vendor_course_list",
        {
          user_id: entity_id,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.courselist = res.data.data;
        console.log("werwe34535353", res.data.data);
        this.loading = false;
      } else {
        this.loading = false;
      }
    },

    async getProfile() {
      let lang;
      let i;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.trainer_username,
      });
      if (res.data.result === 1) {
        console.log("detailspersons", res.data.data);
        this.profile = res.data.data;

        if (res.data.data.skill_list) {
          let skills = res.data.data.skill_list;
          for (let i = 0; i < res.data.data.skill_list.length; i++) {
            if (skills[i].type === "technical") {
              this.technicalList.push(skills[i]);
            }
            if (skills[i].type === "key") {
              this.keyList.push(skills[i]);
            }
            if (skills[i].type === "professional") {
              this.proffessionalList.push(skills[i]);
            }
          }
        }
        i = res.data.data.email.indexOf("@");
        this.email = res.data.data.email.substring(i);
        this.mobile = res.data.data.mobile_no.substring(0, 4);
        this.customer_name = res.data.data.name;
        this.hobie_list = res.data.data.hobbie.split(",");
        // localStorage.setItem("use_id", res.data.data.user_id);
        lang = res.data.data.language;

        this.languages = lang.split(",");
        localStorage.setItem("details_id", res.data.data.user_id);
        localStorage.setItem("username", res.data.data.username);
        localStorage.setItem(
          "entity_corporate_type",
          res.data.data.corporate_type
        );
      } else {
        console.log("detailspersons", res.data.message);
      }
      console.log("collegedetails");
    },
    closeEnrollDialog() {
      this.showDialog = false;
      this.enroll.first_name = "";
      this.enroll.last_name = "";
      this.enroll.message = "";
      this.$refs.enrollform.reset();
    },
    enrollDialog(course) {
      if (this.user_id) {
        console.log("course12234", course);

        this.courseName = course.name;
        console.log("enroll2234", this.enroll);
        this.enroll.email = localStorage.getItem("email");
        this.enroll.phone = localStorage.getItem("mobile");
        this.enroll.user_id = this.user_id;
        this.enroll.course_id = course.course_id;
        this.enroll.course_user_id = this.entity_id;
        this.showDialog = true;
      } else {
        this.$router.push("/login");
        // if (this.corporate === "Company") {
        // } else if (this.corporate === "Consultancy") {
        // } else if (this.corporate === "School") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "College") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "University") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "Training Institute") {
        //   this.$router.push("/corporate/login");
        // } else {
        //   this.$router.push("/login");
        // }
      }
    },
    async enrollCourse() {
      this.loading = true;
      let checkEmail = true;
      let checkPhone = true;

      // if(this.enroll.phone !=""){
      // if(this.enroll.phone >10 || this.enroll.phone <10){
      //   checkPhone=false
      // }
      // }
      if (!this.$refs.enrollform.validate()) {
        // if(this.enroll.first_name == "" ||
        // this.enroll.last_name == "" ||
        // this.enroll.email == "" ||
        // this.enroll.phone == "" ||
        // this.enroll.message == ""){
        this.loading = false;
        this.responseMessage = "Please fill the mandatory field";
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.responseMessage = "";
        }, 2000);
        // }else{
        //   this.loading = false;
        // this.responseMessage = "Please fill valid Email or Phone Number";
        // this.error = true;
        // setTimeout(() => {
        //   this.error = false;
        //   this.responseMessage = "";
        // }, 2000);
        // }
      } else {
        let res = await this.$axios.post("CustomerApi/enroll_now", this.enroll);
        if (res.data.result === 1) {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.responseMessage = "";
            this.showDialog = false;
            this.enroll.first_name = "";
            this.enroll.last_name = "";
            this.enroll.message = "";
            this.$refs.enrollform.reset();
          }, 2000);
        } else {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.responseMessage = "";
          }, 2000);
        }
      }
    },
  },
};
</script>
<style scoped>
.grey-box-trainer {
  color: #999;
  float: left;
  /* padding: 15px; */
  width: 100%;
  height: auto;
}
</style>