<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      style="
        background-image: url('https://lh3.googleusercontent.com/-euhNLKcAirc/X7IygXmL1zI/AAAAAAAAFqQ/rZ3PtkSyU8U_Bk557keNaG1NQTWnaLp6QCK8BGAsYHg/s0/2020-11-16.jpg');
      "
    >
      <h2>Company Details</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/companies">Company</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/companies/Details">Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard">
              <div class="row">
                <div class="col-md-6">
                  <img
                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                    alt=""
                  />
                  <span>
                    <h3 class="head2">John Wick</h3>
                    <p>
                      <small
                        >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                          <path
                            d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                          ></path></svg
                      ></small>
                      <span class="rated">
                        <i class="fa fa-star fa-fw"></i> 4.0
                      </span>
                    </p>
                    <div class="social">
                      <a href="" class="fa fa-facebook"></a>
                      <a href="" class="fa fa-twitter"></a>
                      <a href="" class="fa fa-google-plus"></a>
                      <a href="" class="fa fa-linkedin"></a>
                    </div>
                  </span>
                </div>
                <div class="col-md-6">
                  <h4 class="lightHead">
                    <!-- 500+ Online Courses -->
                    <span
                      style="
                        float: right;
                        position: absolute;
                        top: 60px;
                        right: 0;
                      "
                      class="likes"
                    >
                      <span style="color: #000"
                        ><i class="fa fa-heart" aria-hidden="true"></i> 30</span
                      >
                      <span style="color: #000"
                        ><i class="fa fa-rss" aria-hidden="true"></i> 50</span
                      >
                    </span>
                  </h4>
                  <article>
                    <div>
                      <b>Email</b>
                      <p>john_wick@mail.com</p>
                    </div>
                    <div>
                      <b>Phone</b>
                      <p>7894561230 | 033-1234-0123</p>
                    </div>
                    <div>
                      <b>Website</b>
                      <p>john_wick@mail.com</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <v-tabs background-color="#FAFAFB" color="black" v-model="tabIndex">
                  <v-tab>Overview</v-tab>
                  <v-tab id="gal">Gallery</v-tab>
                  <v-tab>Services</v-tab>
                  <v-tab>Products</v-tab>
                  <v-tab>Solutions</v-tab>
                  <v-tab>R & D</v-tab>
                  <v-tab>Jobs</v-tab>
                  <v-tab>Reviews</v-tab>

                  <v-tab-item>
                   <div id="Overview">
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">About Us</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Earum fugit impedit temporibus sapiente tempora
                          expedita similique doloribus itaque dicta possimus
                          quasi distinctio veritatis, sunt quam aliquam iste
                          facilis enim perspiciatis. Lorem ipsum dolor sit amet
                          consectetur adipisicing elit. Quo nihil ipsam aliquid
                          quos reprehenderit reiciendis debitis mollitia quia
                          quisquam ipsa nesciunt excepturi illum deserunt nemo
                          numquam neque perferendis, delectus rem?
                        </p>
                      </div>

                      <div style="float: left; width: 100%">
                        <v-tabs background-color="#FAFAFB" color="black">
                          <v-tab>Hyderabad</v-tab>
                          <v-tab>Mumbai</v-tab>
                          <v-tab>Banagalore</v-tab>
                          <v-tab>Chennai</v-tab>
                          <v-tab>Kanpur</v-tab>

                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                        </v-tabs>
                      </div>

                      <div class="bx gallery_new">
                        <h3 class="head2" style="margin-top: 0">Gallery</h3>
                        <div class="row">
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <a
                              href="#gal"
                              @click="tabIndex=1"
                              class="more-btn"
                              >View More</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">News</h3>
                        <hooper
                          class="tyming"
                          :itemsToShow="4"
                          :itemsToSlide="4"
                          :wheelControl="false"
                          style="margin-bottom;background:transparent;
            }"
                        >
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                        </hooper>
                        <div style="text-align: center; margin: 0 auto">
                          <a href="#" class="btn">View More</a>
                        </div>
                        <!-- <div class="row">
                         
                          <div class="col-md-4">
                           
                          </div>
                          <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                      </div>

                      <div class="review_view">
                         <h3 class="head2">Reviews</h3>
                        <div class="bx">
                         
                          <div>
                            <article>
                              <div class="tit">
                                <div>
                                  <img
                                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                  />
                                  <span class="stars"
                                    ><i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i
                                  ></span>
                                </div>
                                <div><h5>John Doe</h5></div>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Rem quae nemo voluptatum,
                                debitis optio earum quam nesciunt labore,
                                aperiam saepe error repellat, perferendis
                                assumenda fuga? Beatae quibusdam eligendi
                                ratione quisquam.Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Rem quae nemo
                                voluptatum, debitis optio earum quam nesciunt
                                labore, aperiam saepe error repellat,
                                perferendis assumenda fuga? Beatae quibusdam
                                eligendi ratione quisquam.
                              </p>
                            </article>
                            <article>
                              <div class="tit">
                                <div>
                                  <img
                                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                  />
                                  <span class="stars"
                                    ><i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i
                                  ></span>
                                </div>
                                <div><h5>John Doe</h5></div>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Rem quae nemo voluptatum,
                                debitis optio earum quam nesciunt labore,
                                aperiam saepe error repellat, perferendis
                                assumenda fuga? Beatae quibusdam eligendi
                                ratione quisquam.Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Rem quae nemo
                                voluptatum, debitis optio earum quam nesciunt
                                labore, aperiam saepe error repellat,
                                perferendis assumenda fuga? Beatae quibusdam
                                eligendi ratione quisquam.
                              </p>
                            </article>
                          </div>
                        </div>
                      </div>
                      <section>
                        <div class="bx">
                          <div class="write_review">
                            <h6>Write a Review</h6>
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <textarea
                                class="form-control"
                                placeholder="Message"
                              ></textarea>
                            </div>

                            <div class="rating">
                              <input
                                type="radio"
                                id="star5"
                                name="rating"
                                value="5"
                              />
                              <label
                                class="star"
                                for="star5"
                                title="Awesome"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star4"
                                name="rating"
                                value="4"
                              />
                              <label
                                class="star"
                                for="star4"
                                title="Great"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star3"
                                name="rating"
                                value="3"
                              />
                              <label
                                class="star"
                                for="star3"
                                title="Very good"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star2"
                                name="rating"
                                value="2"
                              />
                              <label
                                class="star"
                                for="star2"
                                title="Good"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star1"
                                name="rating"
                                value="1"
                              />
                              <label
                                class="star"
                                for="star1"
                                title="Bad"
                                aria-hidden="true"
                              ></label>
                            </div>
                            <span class="clearfix"></span>
                            <a href="#" class="btn">Add your Review</a>
                          </div>
                        </div>
                      </section>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx gallery_new">
                      <h3 class="head2">Gallery</h3>
                      <div class="row">
                        <div class="col-md-3">
                          <img
                            src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <img
                            src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                            alt=""
                          />
                        </div>
                        <div class="col-md-3">
                          <a href="#" class="btn">View More</a>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                        <h4 class="head2">Service 1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                        <hr>
                        <h4 class="head2">Service 2</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                        <hr>
                        <h4 class="head2">Service 3</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugiat voluptatibus facilis sed ratione iste qui pariatur temporibus earum quisquam?</p>
                        </div>
                  </v-tab-item>
                  <v-tab-item>
                   <div class="bx">
                        <h4 class="head2">Product 1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                        <hr>
                        <h4 class="head2">Product 2</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                        <hr>
                        <h4 class="head2">Product 3</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugiat voluptatibus facilis sed ratione iste qui pariatur temporibus earum quisquam?</p>
                        </div>
                  </v-tab-item>
                  <v-tab-item>
                    
                     <SchoolSolutionList/>
                  </v-tab-item>
                  <v-tab-item>
                  <SchoolResearchList/>
                  </v-tab-item>

                  <v-tab-item>
                    <div class="bx" id="jobs">
                      <div class="bx job-list">
                        <h3 class="head2">Recruting For</h3>
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                        <h3 class="head2">Recruting For</h3>
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                        <h3 class="head2">Recruting For</h3>
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <AllTabReview/>
                  </v-tab-item>
                </v-tabs>
              </div>
            </div>

            
          </div>
         <div class="col-md-3">
            <div class="">
              <div class="course-ft vendor-board">
                <div class="">
                  <!-- <h3 class="head2" style="margin-top: 0">
                      Sponsors &amp; Ads
                    </h3> -->
                  <a href="/companies/Details" class="box box-new" style="margin-top: -100px">
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Company Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/companies/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Company Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/companies/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Company Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                 <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                 <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
              </div>
            </section>
          </div>
          <div class="col-md-12">
            <section>
              <div class="bx">
                <h3 class="head2" style="margin-top:0">Similar Companies</h3>
                <div class="row">
                  <div class="col-md-3">
                    <a href="#" class="box box-new"
                      ><img
                        src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                        alt=""
                      />
                      <article>
                        <h4>Company Name</h4>
                        <p>Kolkata, WB</p>

                        <h6>Category</h6>
                        <small
                          ><i class="ion-android-call"></i> 0123456789</small
                        >
                        <!---->
                        <small
                          ><i
                            aria-hidden="true"
                            class="ion-ios-world-outline"
                          ></i
                          >Exreed.com</small
                        >
                      </article></a
                    >
                  </div>
                   <div class="col-md-3">
                    <a href="#" class="box box-new"
                      ><img
                        src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                        alt=""
                      />
                      <article>
                        <h4>Company Name</h4>
                        <p>Kolkata, WB</p>

                        <h6>Category</h6>
                        <small
                          ><i class="ion-android-call"></i> 0123456789</small
                        >
                        <!---->
                        <small
                          ><i
                            aria-hidden="true"
                            class="ion-ios-world-outline"
                          ></i
                          >Exreed.com</small
                        >
                      </article></a
                    >
                  </div>

                  <div class="col-md-3">
                    <a href="#" class="box box-new"
                      ><img
                        src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                        alt=""
                      />
                      <article>
                        <h4>Company Name</h4>
                        <p>Kolkata, WB</p>

                        <h6>Category</h6>
                        <small
                          ><i class="ion-android-call"></i> 0123456789</small
                        >

                        <small
                          ><i
                            aria-hidden="true"
                            class="ion-ios-world-outline"
                          ></i
                          >Exreed.com</small
                        >
                      </article></a
                    >
                  </div>
                  <div class="col-md-3">
                    <a href="#" class="box box-new"
                      ><img
                        src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                        alt=""
                      />
                      <article>
                        <h4>Company Name</h4>
                        <p>Kolkata, WB</p>
                        <h6>Category</h6>
                        <small
                          ><i class="ion-android-call"></i> 0123456789</small
                        >
                        <small
                          ><i
                            aria-hidden="true"
                            class="ion-ios-world-outline"
                          ></i
                          >Exreed.com</small
                        >
                      </article></a
                    >
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import SchoolSolutionList from '../../components/CompanySolutionList';
import SchoolResearchList from '../../components/CompanyResearchList';
import AllTabReview from '../../components/AllTabReview';
export default {
  name: "Details",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    SchoolSolutionList,
    SchoolResearchList,
    AllTabReview,
  },
  data() {
    return {
      tabIndex: 0,
      timeout: 6000,
      showDialog: false,
      courses: [
        {
          id: 1,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
          title:"School Name",
          company:"By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
        {
          id: 2,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
           title:"School Name",
          company:"By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
        {
          id: 3,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
           title:"School Name",
          company:"By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
      ],
    };
  },
 
};
</script>