<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerdata})` }"
    >
      <h2>{{ profile.name }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/persons">Persons</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a >{{customer_name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <v-container>
        <v-row>
          <v-col md="9">
            <div class="boxCard" style="margin-bottom: 0">
              <div class="row">
                <div class="col-md-6">
                  <img :src="profile.profile_image" alt="" />
                  <span>
                    <h3 class="head2">{{ profile.name }}</h3>
                    <!-- <div v-if="profile.email || profile.mobile_no">
                      <small
                        >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                          <path
                            d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                          ></path></svg
                      ></small>
                      <span class="rated">
                        <i class="fa fa-star fa-fw"></i> 4.0
                      </span>
                    </div> -->

                    <div>
                      <!-- <v-row>
                        <v-col md="5"><h6>Gender:</h6></v-col
                        ><v-col md="6" class="text-left" align-self="center">{{
                          profile.gender
                        }}</v-col>
                      </v-row>
                      <v-row>
                        <v-col md="5"><h6>Marital Status:</h6></v-col
                        ><v-col md="6" class="text-left" align-self="center">{{
                          profile.martial_status
                        }}</v-col>
                      </v-row> -->
                      <v-row>
                        <v-col md="5"><h6>Country:</h6></v-col
                        ><v-col md="6" class="text-left" align-self="center">{{
                          profile.country_name
                        }}</v-col>
                      </v-row>
                      <!-- <v-row>
                        <v-col md="5"><h6>Pin:</h6></v-col
                        ><v-col md="6" class="text-left" align-self="center">{{
                          profile.pincode
                        }}</v-col>
                      </v-row> -->
                    </div>
                    <div class="social">
                      <a
                        v-if="profile.facebook"
                        v-bind:href="profile.facebook"
                        target="_blank"
                        class="fa fa-facebook"
                      ></a>
                      <a
                      v-else
                        class="fa fa-facebook"
                      ></a>

                      <a
                      v-if="profile.twitter"
                        v-bind:href="profile.twitter"
                        target="_blank"
                        class="fa fa-twitter"
                      ></a>
                      <a
                      v-else
                        class="fa fa-twitter"
                      ></a>


                      <a v-if="profile.instagram" v-bind:href="profile.instagram" target="_blank" class="fa fa-instagram"></a>
                      <a
                      v-else
                        class="fa fa-instagram"
                      ></a>

                      <a
                      v-if="profile.linkedin"
                        v-bind:href="profile.linkedin"
                        target="_blank"
                        class="fa fa-linkedin"
                      ></a>
                      <a
                      v-else
                        class="fa fa-linkedin"
                      ></a>
                    </div>
                  </span>
                </div>
                <div class="col-md-6">
                  <!-- <h4 class="lightHead">
                    500+ Online Courses
                    <span
                      style="
                        float: right;
                        top: 60px;
                        right: 0;
                      "
                      class="likes"
                    >
                      <span style="color: #000"
                        ><i class="fa fa-heart" aria-hidden="true"></i> 30</span
                      >
                      <span style="color: #000"
                        ><i class="fa fa-rss" aria-hidden="true"></i> 50</span
                      >
                    </span>
                  </h4>
                   -->
                  <article>
                    <div>
                      <b>Email</b>
                      <p>{{email?"XXXXXXXX":""}}{{email }}</p>
                    </div>
                    <div>
                      <b>Phone</b>
                      <p>{{ mobile?"XXXXXX":""}}{{mobile}}</p>
                    </div>
                    <div>
                      <b>Website</b>
                      <p>{{ profile.website }}</p>
                    </div>
                    <!-- <div>
                      <b>State</b>
                      <p>{{ profile.state_name }}</p>
                    </div>
                    <div>
                      <b>City</b>
                      <p>{{ profile.city_name }}</p>
                    </div> -->
                    <div>
                      <b>Area</b>
                      <p>{{ profile.area_name }}</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <div id="Overview">
                  <div class="bx">
                    <h3 class="head2">About Me</h3>
                    <p>
                      {{ profile.about_us }}
                    </p>
                  </div>

                  <!-- <div class="bx">
                    <h3 class="head2">Present Address</h3>
                    <p>{{ profile.present_address }}</p>
                  </div>
                  <div class="bx">
                    <h3 class="head2">Permanent Address</h3>
                    <p>{{ profile.permanent_address }}</p>
                  </div> -->

                  <div class="bx">
                    <h3 class="head2">Education</h3>
                    <div
                      class="education"
                      v-for="education in profile.eduction_list"
                      :key="education.education_id"
                    >
                      <div>
                        <i style="
                        height:130px; size:5rem" class="fa fa-university" aria-hidden="true"></i>
                      </div>
                      <div>
                        <h6>
                          {{ education.stream }} -
                          {{ education.specialization }}
                        </h6>
                        <h5>{{ education.college }}</h5>
                        <h5>{{ education.course_type }}</h5>
                        <h5>{{ education.grading_system }} - {{(education.grading_system_id ==2)?(education.marks+"%"):education.marks }}</h5>
                        <p>{{ education.passing_year }}</p>

                      </div>
                    </div>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Experience & Employment</h3>
                    <div
                      class="education"
                      v-for="experience in profile.employement_list"
                      :key="experience.employement_id"
                    >
                      <div>
                        <i
                          style="width: 120px; height: 130px"
                          class="fa fa-align-left"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div>
                        <h6>Designation: {{ experience.designation }}</h6>
                        <h5>Company: {{ experience.company }}</h5>

                        <p>
                          From: {{ experience.work_start_date }} -
                          {{
                            experience.is_current
                              ? "Present"
                              : experience.work_end_date
                          }}
                        </p>
                        <h5>
                          Salary: {{ experience.currency }}
                          {{ experience.current_salary }}
                        </h5>
                        <h5>Notice Period: {{ experience.notice_period }}</h5>
                      </div>
                    </div>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Trainings & Certifications</h3>

                    <v-row
                      v-for="training in profile.traings_list"
                      :key="training.training_id"
                    >
                      <v-col md="1" class="mt-2">
                        <img
                          :src="training.docs"
                          style="width: 120px; height: 100px"
                        />
                      </v-col>
                      <v-col md="9" class="text-left ml-10"
                        ><h6>
                          {{ training.description }}
                        </h6></v-col
                      >
                    </v-row>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Technical Skill</h3>
                    <div
                      class="fact"
                      v-for="technical in profile.skill_list"
                      :key="technical.skill_id"
                    >
                      <!-- <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                      <p v-if="technical.type === 'technical'">
                        <i class="fa fa-comments-o"></i>
                        {{ technical.skill }}
                      </p>
                      <!-- <p>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Contact Mahesh Directly
                          </p>
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                    </div>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Professional Skill</h3>
                    <div
                      class="fact"
                      v-for="professional in profile.skill_list"
                      :key="professional.skill_id"
                    >
                      <!-- <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                      <p v-if="professional.type === 'professional'">
                        <i class="fa fa-comments-o"></i>
                        {{ professional.skill }}
                      </p>
                      <!-- <p>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Contact Mahesh Directly
                          </p>
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                    </div>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Key Skill</h3>
                    <div
                      class="fact"
                      v-for="key in profile.skill_list"
                      :key="key.skill_id"
                    >
                      <!-- <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                      <p v-if="key.type === 'key'">
                        <i class="fa fa-comments-o"></i>
                        {{ key.skill }}
                      </p>
                      <!-- <p>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Contact Mahesh Directly
                          </p>
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p> -->
                    </div>
                  </div>

                  <div class="bx">
                    <h3 class="head2">Awards & Acheivements</h3>
                    <v-row
                      v-for="award in profile.award_list"
                      :key="award.award_id"
                    >
                      <v-col md="9" class="text-left" v-if="award.description"
                        >
                          <li>
                            {{ award.description }}
                          </li></v-col
                      >
                    </v-row>
                  </div>
                  <!-- <div class="bx">
                    <h3 class="head2">Kyc</h3>

                    <div v-for="kyc in profile.kyc_list" :key="kyc.kyc_id">
                      <v-row v-if="kyc.name" class="mt-2">
                        <v-col
                          ><h5>
                            <li>{{ kyc.name }} : {{ kyc.doc_number }}</li>
                          </h5></v-col
                        >
                        <v-col
                          ><img
                            style="
                              width: 70px;
                              height: 70px;
                              object-fit: cover;
                              border-radius: 4px;
                            "
                            :src="kyc.front_image"
                        /></v-col>
                        <v-col
                          ><img
                            v-if="kyc.back_image"
                            style="
                              width: 70px;
                              height: 70px;
                              object-fit: cover;
                              border-radius: 4px;
                              padding-left: 10px;
                            "
                            :src="kyc.back_image"
                        /></v-col>
                      </v-row>
                    </div>
                  </div> -->

                  <div class="bx">
                    <h3 class="head2">Languages</h3>
                    <div
                      class="col-md-4"
                      v-for="(lang, index) in languages"
                      :key="index"
                    >
                      <ul style="padding-left: 15px !important">
                        <li v-if="lang">{{ lang }}</li>
                      </ul>
                    </div>
                  </div>
                  <div class="bx">
                    <h3 class="head2">Interests & Hobbies</h3>

                    <div class="col-md-4" v-for="(hobie, index) in hobie_list" :key="index">
                      <ul style="padding-left: 15px !important">
                        <li v-if="hobie">{{ hobie }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="bx job-list">
                        <h3 class="head2">Recruting For</h3>
                        <div class="row">
                          <div class="col-md-4">
                           
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                        </div>
                      </div> -->
            </div>
          </v-col>
          <v-col md="3">
            <div class="">
              <div class="vendor-board">
                <div class="">
                  <a
                    href="/persons/Details"
                    class="box box-new"
                    style="margin-top: -100px"
                  >
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="persons/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/persons/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
              </div>
            </section>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
export default {
  name: "Details",
  data() {
    return {
      customer_id: "",
      profile: "",
      languages: [],
      bannerdata: "",
      user_id: "",
      reviewData: [],
      hobie_list: [],
      customer_name:"",
      email:"",
      mobile:""
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.customer_id = id.pop();
    this.getProfile();
  },
  mounted() {
    let id = localStorage.getItem("use_id");
    this.user_id = id;
    this.getBanner();
    this.getReviews();
  },
  methods: {
    async getBanner() {
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: this.user_id,
      });
      if (res.data.result === 1) {
        this.bannerdata = res.data.data.banner_image;
        console.log("log2", this.bannerdata);
      }
    },
    async getReviews() {
      let res = await this.$axios.post("trainingInstituteApi/get_reviews", {
        entity_id: this.user_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async getProfile() {
      let lang;
      let i
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.customer_id,
      });
      if (res.data.result === 1) {
        console.log("detailspersons", res.data.data);
        this.profile = res.data.data;
        i = res.data.data.email.indexOf("@")
        this.email=res.data.data.email.substring(i,)
        this.mobile=res.data.data.mobile_no.substring(0,4)
        this.customer_name=res.data.data.name
        this.hobie_list = res.data.data.hobbie.split(",");
        localStorage.setItem("use_id", res.data.data.user_id);
        lang = res.data.data.language;

        this.languages = lang.split(",");
      } else {
        console.log("detailspersons", res.data.message);
      }
      console.log("collegedetails");
    },
  },
};
</script>
<style>
.head2 {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
</style>
