<template>
  <section>
    <div v-if="loading" class="grey-box bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="avatar"
      ></v-skeleton-loader>
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div v-else class="panel grey-box bx">
      <div class="row">
        <div
          class="col-md-2"
          style="display: flex; align-items: stretch; justify-content: center"
        >
          <img :src="image" alt style=" height:180px; width:170px; object-fit: cover; border-radius:20px" />
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Logo_Mradio.png" alt /> -->
        </div>
        <div class="col-md-7" style="padding: 0">
          <h3 class="head2">{{courseName.replace(/-/g, ' ')}}</h3>
          <p style="padding: 0; margin-bottom: 7px">
            By {{trainingInstituteName}}
          </p>
          
          <p v-if="language" style="padding: 0; margin-top: 0; margin-bottom: 7px">
            Language: {{language}}
          </p>
          <p v-if="category && subCategory" style="padding: 0; margin-top: 0; margin-bottom: 7px">
            <a style="color: #999">{{category}}</a> |
            <a style="color: #999">
              {{subCategory}}
            </a>
          </p>
           <p style="padding-right: 7px; margin: 7px 0">
            Eligibility:  {{eligibility}}
          </p>
          <p>{{description}}</p>
          
        </div>
        <div class="col-md-3">
          
          <span>
            <div v-if="rating">
            <i class="ion-android-star mr-1" v-for="rateindex in parseInt(rating)"
                  :key="rateindex" ></i>
            </div>
          </span>
          <h6>Fee: {{fee}}</h6>
          <small>Duration: <i class="ion-ios-stopwatch"></i> {{duration}} </small>
          
          <!-- <h6>--- Students Enrolled</h6> -->
          <!-- hijibiji -->
         
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    props: ['loading', 'courseName', 'fee', 'description', 'duration', 'language', 'trainingInstituteName', 'image', 'subCategory', 'category', 'rating', 'eligibility'],
    name: 'BasicDetails'
}
</script>

<style></style>
