<template>
  <section>
    <!-- class v-if="courseuser !== user" -->
    <div class v-if="courseuser !== user">
      <div class="col-md-12 self_placed" style="margin: 0">
        <v-row>
          <v-col class="text-left"
            ><h3 class="head2">Self Paced ₹ {{ this.fee }}</h3></v-col
          >
          <v-col class="text-right">
            <v-btn
              rounded
              dark
              :disabled="loading3"
              style="background-color: #fff"
              @click.prevent="addToCart"
            >
              <span style="color: #000">Buy Now</span>
              <template v-if="loading3">
                <span>Processing...</span>
              </template>
            </v-btn>
          </v-col>
        </v-row>

        <v-snackbar
          class=""
          color="success"
          v-model="success"
          :timeout="timeout"
        >
          <span style="color: #fff">Added This course to your cart! </span>
          <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="success = false">
              <i style="color: #fff" class="ion-android-close"></i>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar class="" color="error" v-model="error" :timeout="timeout">
          <span style="color: #fff">
            This Course Already Exists In Your Cart!
          </span>
          <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="error = false">
              <i style="color: #fff" class="ion-android-close"></i>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar class="" color="error" v-model="notloggedIn">
          <span style="color: #fff"> Please Login! </span>
          <template v-slot:action="{ attrs }">
            <v-btn
              color="white"
              text
              v-bind="attrs"
              @click="notloggedIn = false"
            >
              <i style="color: #fff" class="ion-android-close"></i>
            </v-btn>
          </template>
        </v-snackbar>
      </div>
    </div>
    <div class=" grey-box bx">
      <div class>
        <div class="col-md-12">
          <h4 class="head2 mb-4">Batches</h4>
          <div
            v-if="data.length <= 4"
            style="display: flex; flex-direction: row"
            class="panel"
          >
            <v-card
              v-for="(l, i) in data"
              :key="i"
              width="24%"
              style="border-radius: 20%"
              class="mr-5"
            >
              <v-card-title
                ><v-col class="text-center"
                  ><h6>{{ l.type }}</h6></v-col
                ></v-card-title
              >
              <v-card-text>
                <v-col class="text-center">
                  <span>{{ l.batch_start_date }}</span>
                  <p>
                    <fragment v-if="l.day_type === 'Weekends'"
                      >Sat &amp; Sun</fragment
                    >
                    <fragment v-else>Mon to Fri</fragment> <br/>
                    from {{ getTimeFormat(l.start_time) }} to {{ getTimeFormat(l.end_time) }}
                  </p>
                  <h6>Fee: {{ l.fee }}</h6>
                </v-col>
                <v-card-actions v-if="user_id != course_user_id">
                  <v-col class="text-center">
                    <a @click="enrollModal(l)" class="btn">Enroll Now</a>
                  </v-col>
                </v-card-actions>
              </v-card-text>
            </v-card>
          </div>
          <hooper
            v-if="data.length > 4"
            class="tyming grey-box"
            :itemsToShow="data.length"
            :itemsToSlide="4"
            :wheelControl="false"
            :settings="hooperSettings"
            :infiniteScroll="true"
            :autoPlay="true"
            :playSpeed="10000"
          >
            <slide v-for="(l, i) in data" :key="i" width="24%">
              <v-card style="border-radius: 20%">
                <v-card-title
                  ><v-col class="text-center"
                    ><h6>{{ l.type }}</h6></v-col
                  ></v-card-title
                >
                <v-card-text>
                  <span>{{ l.batch_start_date }}</span>
                  <p>
                    <fragment v-if="l.day_type === 'Weekends'"
                      >Sat &amp; Sun</fragment
                    >
                    <fragment v-else>Mon to Fri</fragment><br/> 
                    from {{ getTimeFormat(l.start_time) }} to {{ getTimeFormat(l.end_time) }}
                  </p>
                  <h6>Fee: {{ l.fee }}</h6>
                  <v-card-actions v-if="user_id != course_user_id">
                    <a @click="enrollModal(l)" class="btn">Enroll Now</a>
                  </v-card-actions>
                </v-card-text>
              </v-card>
              <!-- v-if="user_id != course_user_id" -->
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
          </hooper>
        </div>
        <!-- <div class="col-md-12 self_placed">
          <h3 class="head2">Self Paced ₹ {{ this.fee }}</h3>
          <article>
            <p>Life time access to course material and 24/7 support</p>
            
            <v-btn
              class="btn"
              :disabled="loading2"
              color="#000"
              type="submit"
              style="background: #fff"
              @click.prevent="addToCart"
            >
              <span v-if="!loading2" style="color: #000">Enroll Now</span>
              <template v-else>
                <span>Processing...</span>
              </template>
            </v-btn>
          </article>
          <v-snackbar
            class=""
            color="success"
            v-model="success"
            :timeout="timeout"
          >
            <span style="color: #fff">Added This course to your cart! </span>
            <template v-slot:action="{ attrs }">
              <v-btn color="white" text v-bind="attrs" @click="success = false">
                <i style="color: #fff" class="ion-android-close"></i>
              </v-btn>
            </template>
          </v-snackbar>
          <v-snackbar class="" color="error" v-model="error" :timeout="timeout">
            <span style="color: #fff">
              This Course Already Exists In Your Cart!
            </span>
            <template v-slot:action="{ attrs }">
              <v-btn color="white" text v-bind="attrs" @click="error = false">
                <i style="color: #fff" class="ion-android-close"></i>
              </v-btn>
            </template>
          </v-snackbar>
          <v-snackbar class="" color="error" v-model="notloggedIn">
            <span style="color: #fff">
              Please Login as a student To Continue!
            </span>
            <template v-slot:action="{ attrs }">
              <v-btn
                color="white"
                text
                v-bind="attrs"
                @click="notloggedIn = false"
              >
                <i style="color: #fff" class="ion-android-close"></i>
              </v-btn>
            </template>
          </v-snackbar>
        </div> -->
      </div>
    </div>
    <v-snackbar class="" color="success" v-model="success" :timeout="timeout">
      <span style="color: #fff">Succefully Enrolled For The Batch! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="success = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar
      class=""
      color="success"
      v-model="successaddtocart"
      :timeout="timeout"
    >
      <span style="color: #fff">Succefully add to cart! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="success = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar class="" color="error" v-model="error" :timeout="timeout">
      <span style="color: #fff"> Some Error Occured! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="error = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar class="" color="error" v-model="errorenroll" :timeout="timeout">
      <span style="color: #fff"> {{ errormes }} </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="error = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar class="" color="error" v-model="errorCart" :timeout="timeout">
      <span style="color: #fff"> {{ errorMessage }} </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="error = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar class="" color="error" v-model="notloggedIn">
      <span style="color: #fff"> Please Login! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="notloggedIn = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
    <v-row justify="center">
      <v-dialog v-model="enrollDialog" width="600px">
        <v-card>
          <v-form
            v-model="valid"
            @submit.prevent="signUp"
            id="check-form"
            ref="enrollFor"
          >
            <v-card-title>
              <span class="headline">Enroll Now</span>
            </v-card-title>
            <v-card-text class="">
              <v-row>
                <v-col cols="12" md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="enrollForm.first_name"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Is required']"
                    label="First Name*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="enrollForm.last_name"
                    
                    dense
                    filled
                    :rules="[(v) => !!v || 'Is required']"
                    label="Last Name*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="enrollForm.email"
                    :disabled="isNameEmailPresent"
                    dense
                    filled
                    :rules="emailRules"
                    label="Email*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="enrollForm.phone"
                    :disabled="isNameEmailPresent"
                    dense
                    filled
                    :rules="phoneRules"
                    label="Phone*"
                    required
                    @keypress="onlyNumbers"
                    maxlength="10"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" md="12" lg="12" sm="12" xs="12">
                  <v-textarea
                    v-model="enrollForm.message"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Is required']"
                    label="Message*"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-row>
                <v-col class="text-left">
                  <v-btn
                    rounded
                    dark
                    :loading="enrollLoad"
                    :disabled="enrollLoad"
                    color="grey darken-4"
                    @click="submitForm"
                  >
                    Submit
                    <!-- <template  v-if="loading2">
                  <span>Processing...</span>
                </template> -->
                  </v-btn>
                  <v-btn rounded dark color="red" @click="closeEnrollDialog">
                    Cancel
                  </v-btn>
                  <!-- <v-btn class="btn" style="background: #000" @click="submitForm">
              Submit
            </v-btn> -->
                </v-col>
              </v-row>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog v-model="guestEnrollDialog" width="700px">
      <v-card>
        <v-card-title>
          <span class="headline">Enroll Now</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="guestEnrollFor">
            <v-row>
              <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.first_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="First Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.last_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Last Name*"
                  required
                ></v-text-field>
              </v-col>
              <div class="col-md-12">
                <v-text-field
                ref="enrollEmail"
                  v-model="guestEnrollForm.email"
                  dense
                  filled
                  :disabled="emailField"
                  :rules="emailRules"
                  label="Email*"
                  @blur="checkMobileNumber"
                  required
                ></v-text-field>
              </div>
              <div class="col-md-6">
                <v-text-field
                  v-model="guestEnrollForm.phone"
                  dense
                  :disabled="mobileField"
                  filled
                  :rules="phoneRules"
                  label="Phone*"
                  required
                  ref="mobile"
                  @blur="checkMobileNumber"
                  @keypress="onlyNumbers"
                  maxlength="10"
                ></v-text-field>
              </div>
              <div class="col-md-6" >
                <v-btn
                v-if="verifyButton"
                  rounded
                  dark
                  color="green"
                  :disabled="guestLoading"
                  :loading="guestLoading"
                  @click="verifyMobile"
                  >Verify</v-btn
                >
                <v-alert v-if="verifyError" text type="error" align="left">
                    {{ verifyErrorMessage }}
                  </v-alert>
                <!-- <v-btn
                v-if="resendButton"
                  rounded
                  dark
                  color="green"
                  >Resend</v-btn
                > -->
              </div>
              <!-- <div class="col-md-6">
                <v-alert v-if="verifyError" text type="error" align="left">
                    {{ verifyErrorMessage }}
                  </v-alert>
              </div> -->
              <div class="col-md-6" v-if="showOtpForm">
                <v-text-field
                  v-model="otp"
                  dense
                  :disabled="otpField"
                  filled
                  label="Otp*"
                  required
                  @blur="checkOtp"
                  @keypress="onlyOtp"
                  maxlength="4"
                ></v-text-field>
              </div>
              <div class="col-md-4" v-if="submitotpbutton">
                <v-btn
                
                  rounded
                  dark
                  color="green"
                  @click="submitOtp"
                  >Submit Otp</v-btn
                >
                  
              </div>
              <div class="col-md-4">
                <v-alert v-if="submitSuccess" text type="success" align="left">
                    Verified!
                  </v-alert>
                  <v-alert v-if="submitError" text type="error" align="left">
                    {{ submitErrorMessage }}
                  </v-alert>
              </div>
              <div class="col-md-4"></div>
              <v-col cols="12" md="12" lg="12" sm="12" xs="12">
                <v-textarea
                  v-model="guestEnrollForm.message"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Message*"
                  required
                ></v-textarea>
              </v-col>
            </v-row>

            <v-card-actions>
              <v-row>
                <v-col class="text-left">
                  <v-btn
                  v-if="showSubmitButton"
                    rounded
                    dark
                    :loading="enrollLoad"
                    :disabled="enrollLoad"
                    color="grey darken-4"
                    @click="submitGuestForm"
                  >
                    Submit
                    <!-- <template  v-if="loading2">
                  <span>Processing...</span>
                </template> -->
                  </v-btn>
                  <v-btn
                    rounded
                    dark
                    color="red"
                    @click="closeGuestEnrollDialog"
                  >
                    Cancel
                  </v-btn>
                  <!-- <v-btn class="btn" style="background: #000" @click="submitForm">
              Submit
            </v-btn> -->
                </v-col>
              </v-row>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "Batches",
  props: ["slug", "user", "courseuser", "fee", "data"],
  components: {
    Hooper,
    Slide,
    HooperNavigation,
  },
  data() {
    return {
      error: false,
      errorMessage: "",
      errorCart: false,
      valid: false,
      loading3: false,
      success: false,
      timeout: 6000,
      loading2: false,
      notloggedIn: false,
      onlineData: "",
      classroomData: "",
      hooperSettings: {
        itemsToShow: 4,
        breakpoints: {
          800: {
            centerMode: false,
            itemsToShow: 2,
          },
          700: {
            centerMode: false,
            itemsToShow: 2,
          },
          360: {
            centerMode: false,
            itemsToShow: 1,
          },
          320: {
            centerMode: false,
            itemsToShow: 1,
          },
          280: {
            centerMode: false,
            itemsToShow: 1,
          },
          1000: {
            itemsToShow: 4,
          },
        },
      },
      error: false,
      errorMessage: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      phoneRules: [
        (v) => !!v || "Phone number is required",
        (v) => (v && v.length >= 10) || "Invalid",
      ],
      success: false,
      successaddtocart: false,
      timeout: 6000,
      loading2: false,

      notloggedIn: false,
      enrollLoad: false,
      enrollDialog: false,
      guestEnrollForm: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
      },
      enrollForm: {
        user_id: "",
        course_id: "",
        batch_id: "",
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
      },
      user_id: "",
      batchData: [],
      course_user_id: "",
      errorenroll: false,
      errormes: "",
      batch_type: "",
      start_date: "",
      guestEnrollDialog: false,
      verifyButton: false,
      mobileField:false,
      guestLoading: false,
      verifySuccess: false,
      verifyError: false,
      verifyErrorMessage: "",
      showOtpForm: false,
      otp: "",
      submitotpbutton: false,
      verified: false,
      showSubmitButton:false,
      resendButton:false,
      otpField:false,
      killResendButton:false,
      milisec:60000,
      submitSuccess:false,
      submitError:false,
      submitErrorMessage:"",
      emailField:false,
      isNameEmailPresent:false
    };
  },
  methods: {
    getTimeFormat(t){
      let ti=t.split(":")
      let h=Number(ti[0])
      let m=Number(ti[1])
      let ampm=(h>=12)?"PM":"AM"
      let h1=Number(h%12)
      let hours=h1?h1:12
      let minutes=(m<10)?"0"+m:m
      let time=hours+":"+minutes+" "+ampm
      return time

    },
    submitOtp() {
      let responseOtp = localStorage.getItem("verifyotp");
      if (this.otp === responseOtp) {
        this.submitSuccess = true;
        this.submitotpbutton = false;
        this.showSubmitButton=true
        this.otpField=true
        this.mobileField=true
        this.emailField=true
        
        // setTimeout(() => {
        //   this.otpField=false
        // }, 60000);
        
      } else {
        this.submitotpbutton=false
        this.submitErrorMessage="Invalid Otp!"
        this.submitError = true;
        setTimeout(() => {
          this.submitError = false;
           this.submitotpbutton = true
        }, 2000);
        
      }
    },
    checkOtp() {
      if (this.otp.length == 4) {
        this.submitotpbutton = true;
      } else {
        this.submitotpbutton = false;
      }
    },
    async verifyMobile() {
      this.guestLoading=true
      
      // this.showOtpForm = true;
      // this.verifyButton=false
      // setTimeout(() => {
      //   this.resendButton=true
      // }, this.milisec);
      
      let payload={
        mobile_no:this.guestEnrollForm.phone,
        email:this.guestEnrollForm.email
      }
      // this.mobileField=true
      let res = await this.$axios.post(
        "CustomerApi/verify_email_mobile",
        payload
      );
      // this.guestLoading=true
      if(res.data.result === 1){
        this.guestLoading=false
        localStorage.setItem("verifyotp", res.data.otp);
        this.showOtpForm = true;
        this.verifyButton=false
        this.submitSuccess=false
        this.emailField=false
        // this.verifySuccess=true
        // setTimeout(() => {
        //   this.verifySuccess=false
        // }, 2000);

      }else if(res.data.result === 0){

        this.verifyErrorMessage=res.data.message
        this.verifyButton=false
        this.verifyError=true
        setTimeout(() => {
          this.guestLoading=false
          this.verifyError=false
          this.verifyButton=true
        }, 2000);
      }
    },
    closeGuestEnrollDialog() {
      this.$refs.guestEnrollFor.reset();
      this.guestEnrollDialog = false;
      this.showOtpForm = false;
      this.verifyButton=false
      this.mobileField=false
      this.submitSuccess=false
      this.resendButton=false
      this.showSubmitButton=false
      this.submitotpbutton=false
      this.otpField=false
      this.mobileField=false
      this.emailField=false
      
    },
    closeEnrollDialog() {
      this.$refs.enrollFor.reset();
      this.enrollDialog = false;
    },
    async getBatchData() {
      let id = localStorage.getItem("course_userId");
      this.course_user_id = id;
      this.user_id = localStorage.getItem("userId");
      let payload = {
        course_id: this.slug.id,
        action: "list",
        user_id: id,
      };
      console.log("payloadBatch4545", payload);
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_batch",
        payload
      );
      if (res.data.result === 1) {
        this.batchData = res.data.data;
      }
      console.log("batches345345sgsdfgdfgdgd", this.batchData);
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
      console.log("231dasda213123", this.guestEnrollForm.phone);
      
    },
    onlyOtp(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
      
    
    },

    
    checkMobileNumber() {
      if (this.$refs.mobile.validate() && this.$refs.enrollEmail.validate()) {
        this.verifyButton = true;
      } else {
        this.verifyButton = false;
      }
    },
    async enrollModal(l) {
      let user = localStorage.getItem("userId");
      if (user === "" || user === null) {
        this.guestEnrollDialog = true;
        this.guestEnrollForm.batch_id = l.batch_id;
        this.guestEnrollForm.course_id = this.slug.id;
      } else {
        this.enrollForm.batch_id = l.batch_id;
        this.enrollForm.course_id = this.slug.id;
        this.enrollForm.user_id = this.user;
        // this.batch_type=l.type
        // this.start_date=l.batch_start_date
        let name = localStorage.getItem("name");
        let email = localStorage.getItem("email");
        let mobile = localStorage.getItem("mobile");
        if (name && email && mobile) {
          this.isNameEmailPresent=true
          this.enrollForm.first_name = name.split(" ")[0];
          this.enrollForm.last_name = name.split(" ")[1];
          this.enrollForm.email = email;
          this.enrollForm.phone = mobile;
        }
        this.enrollDialog = true;
      }
    },
    async addToCart() {
      let user = localStorage.getItem("userId");
      if (user == "" || user == null) {
        this.$router.push("/login");
      } else {
        this.loading2 = true;
        this.errorCart = false;
        this.successaddtocart = false;
        let res = await this.$axios.post("/CustomerApi/manage_cart", {
          user_id: user,
          action: "Add",
          course_id: this.slug.id,
        });
        console.log("already added", res);
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.errorCart = true;
          this.errorMessage = res.data.message;
        } else if (res.data.result === "1") {
          this.$store.dispatch("addToCart");
          this.successaddtocart = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          console.log(res);
          this.$router.push("/checkout");
        }
      }
    },
    async submitGuestForm() {
      this.enrollLoad = true;
      this.error = false;
      this.success = false;
      this.guestEnrollForm.course_user_id = this.courseuser;
      if (!this.$refs.guestEnrollFor.validate()) {
        this.errorenroll = true;
        this.errormes = "Please fill mandatory field";
        setTimeout(() => {
          this.errorenroll = false;
          this.enrollLoad = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/CustomerApi/enroll_now",
          this.guestEnrollForm
        );
        console.log(res);
        if (res.data.result === 0) {
          this.enrollLoad = false;
          this.valid = true;
          this.errorenroll = true;
          this.errormes = res.data.message;
          setTimeout(() => {
            this.errorenroll = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.success = true;
          this.valid = true;
          this.enrollLoad = false;
          this.errorenroll = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
            this.guestEnrollDialog = false;
            this.$refs.guestEnrollFor.reset();
      this.guestEnrollDialog = false;
      this.showOtpForm = false;
      this.verifyButton=false
      this.mobileField=false
      this.submitSuccess=false
      this.emailField=false
      this.otpField=false
      this.resendButton=false
      this.submitotpbutton=false
      this.showSubmitButton=false
          }, 2000);
          // this.enrollForm.first_name = " ";
          // this.enrollForm.last_name = " ";
          // this.enrollForm.email = " ";
          // this.enrollForm.phone = " ";
          // this.enrollForm.message = " ";
        }
      }
    },
    async submitForm() {
      this.enrollLoad = true;
      this.enrollForm.course_user_id = this.courseuser;
      this.error = false;
      this.success = false;
      if (!this.$refs.enrollFor.validate()) {
        this.errorenroll = true;
        this.errormes = "Please fill mandatory field";
        setTimeout(() => {
          this.errorenroll = false;
          this.enrollLoad = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/CustomerApi/enroll_now",
          this.enrollForm
        );
        console.log(res);
        if (res.data.result === 0) {
          this.enrollLoad = false;
          this.valid = true;
          this.errorenroll = true;
          this.errormes = res.data.message;
          setTimeout(() => {
            this.errorenroll = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.success = true;
          this.valid = true;
          this.enrollLoad = false;
          this.errorenroll = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
            this.enrollDialog = false;
            this.$refs.enrollFor.reset();
          }, 2000);
          // this.enrollForm.first_name = " ";
          // this.enrollForm.last_name = " ";
          // this.enrollForm.email = " ";
          // this.enrollForm.phone = " ";
          // this.enrollForm.message = " ";
        }
      }
    },
  },
  mounted() {
    let name = localStorage.getItem("name");
    let email = localStorage.getItem("email");
    let mobile = localStorage.getItem("mobile");
    let user = localStorage.getItem("course_userId");
    this.user_id = this.course_user_id;
    if (name && email && mobile) {
      this.enrollForm.first_name = name.split(" ")[0];
      this.enrollForm.last_name = name.split(" ")[1];
      this.enrollForm.email = email;
      this.enrollForm.phone = mobile;
    }
    this.getBatchData();
    this.batchData = this.data;
    console.log("adf123123213", localStorage.getItem("course_userId"));

    // console.log("this is data", this.data);
    // this.onlineData = this.data
    //   ? this.data?.filter((l) => l.type === "Online")
    //   : null;
    // this.classroomData = this.data
    //   ? this.data?.filter((l) => l.type === "Classroom")
    //   : null;
    // console.log("classroom", this.classroomData);
  },
  // created() {
  //   this.onlineData = this.data
  //     ? this.data?.filter((l) => l.type === "Online")
  //     : null;
  //   this.classroomData = this.data
  //     ? this.data?.filter((l) => l.type === "Classroom")
  //     : null;
  // },

  computed: {},
};
</script>

<style></style>
