<template>
<section style="margin-bottom: 0;">
    <div v-if='loading' class="grey-box bx">
        <v-skeleton-loader class="mx-auto" style="width: 100%" type="image"></v-skeleton-loader>
    </div>
    <div v-else class="bx panel pl-5 mt-2" >
        <h6>Certification</h6>
        <div class="row box box-new">
            <img :src="data" alt style="height:250px; width:350px"/>
        </div>
    </div>
</section>
</template>

<script>
export default {
    name: 'Certification',
    props: ['loading', 'data']
}
</script>

<style>

</style>
