<template>
  <fragment>
    <div v-if="loading" class="grey-box bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="avatar"
      ></v-skeleton-loader>
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <fragment v-else>
      <section>
        <div class="bx">
          <v-row>
            <v-col class="text-left"><h3 class="head2">Curriculum</h3></v-col>
            <v-col class="text-right" md="3">
              <v-container>
                <v-col class="text-right">
                  <img
                    src="../../assets/img/pdf-icon.png"
                    style="width: 50px"
                    alt=""
                  />
                  <a v-bind:href="pdf" target="_blank"
                    ><i class="fa fa-download" aria-hidden="true"></i
                  ></a>
                </v-col>

                <!-- <h4 class="head2" style="color:green">Download</h4> -->
              </v-container>
              <!-- <img src="../assets/img/pdf-icon.png" style="width: 80px" alt="" /> -->
            </v-col>
          </v-row>
          <v-expansion-panels >
            <v-expansion-panel v-for="(item, i) in curriculum_list" :key="i" class="grey-box">
              <v-expansion-panel-header
                ><h6>{{ item.name }}</h6></v-expansion-panel-header
              >
              <v-expansion-panel-content>
                <div v-html="item.description"></div>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </section>
      <!-- <vue-collapsible-panel-group>
    <vue-collapsible-panel>
        <template #title>
            Panel A Title
        </template>
        <template #content>
            Panel A Content
        </template>
    </vue-collapsible-panel>
    <vue-collapsible-panel>
        <template #title>
            Panel B Title
        </template>
        <template #content>
            Panel B Content
        </template>
    </vue-collapsible-panel>
    ...
</vue-collapsible-panel-group> -->
    </fragment>
  </fragment>
</template>

<script>
export default {
  name: "Curriculums",
  props: ["loading", "data", "userid", "slug"],
  data() {
    return {
      panel: [0],
      pdf_file: "",
      curriculum_list: "",
      user_id: "",
      pdf: "",
    };
  },
  mounted() {
    let id = localStorage.getItem("course_userId");
    this.user_id = id;
    setTimeout(() => {
      this.getCurriculumList();
    }, 1000);

    console.log("dfsgsfdgsdfg", this.data);
    for (let i = 0; i < this.data.length; i++) {
      let pdf = this.data[i].pdf_file;
      this.pdf_file = pdf;
    }
  },
  methods: {
    async getCurriculumList() {
      let res = await this.$axios.post(
        "trainingInstituteApi/course_curriculum_list",
        {
          course_id: this.slug.id,
          user_id: this.user_id,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.curriculum_list = res.data.data;
        if (res.data.data.length > 0) {
          this.pdf = res.data.data[0].pdf_file;
        }

        console.log("curriculum_list123", this.curriculum_list);
      } else if (res.data.result === 0) {
      }
    },
  },
};
</script>

<style></style>
