<template>
  <section>
    <div v-if="loading" class="grey-box bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div v-else-if="description" class="panel grey-box bx">
      <h3 class="head2">Description</h3>
      <p  style="margin-bottom:0">{{description}}</p>
    </div>
  </section>
</template>

<script>
export default {
    props: ['loading','description'],
    name: 'Description',
}
</script>

<style></style>