<template>
  <fragment>
    <div v-if="loading" class="grey-box bx grey-box">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="avatar"
      ></v-skeleton-loader>
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <fragment v-else>
      <section >
        <div class="collap  bx ">
          <h3 class="head2">FAQs</h3>
          <v-expansion-panels multiple v-model="panel" class="grey-box">
            <v-expansion-panel v-for="(l, i) in data" :key="i">
              <v-expansion-panel-header>
                <h6><v-icon class="mr-1">mdi-chat-question-outline</v-icon>{{l.question}}</h6>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <p><v-icon class="mr-1">mdi-forum</v-icon>{{l.answer}}</p>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </div>
      </section>
    </fragment>
  </fragment>
</template>

<script>
export default {
    name: 'Faqs',
    props: ['loading', 'data'],
    data() {
        return {
            panel: [],
        }
    }
}
</script>

<style></style>
