<template>
  <fragment>
    <div v-if="loading" class="grey-box panel bx">
      <div class="row">
        <div class="col-md-3">
          <v-skeleton-loader
            class="mx-auto"
            style="width: 100%"
            type="card"
          ></v-skeleton-loader>
        </div>
        <div class="col-md-3">
          <v-skeleton-loader
            class="mx-auto"
            style="width: 100%"
            type="card"
          ></v-skeleton-loader>
        </div>
        <div class="col-md-3">
          <v-skeleton-loader
            class="mx-auto"
            style="width: 100%"
            type="card"
          ></v-skeleton-loader>
        </div>
        <div class="col-md-3">
          <v-skeleton-loader
            class="mx-auto"
            style="width: 100%"
            type="card"
          ></v-skeleton-loader>
        </div>
      </div>
    </div>
    <fragment v-else>
      <section >
        <div class="grey-box  bx">
          <h3 class="head2 mb-4">Features</h3>
          <div class="row grey-box">
            <div class="col-md-3 " v-for="(l, index) in data" :key="index">
              <article style="width:200px;height:200px; border-radius:20px" class="mx-0">
                <v-col class="text-center"><i class="fa fa-file-text" aria-hidden="true"></i></v-col>
                <v-col class="text-center"><p>{{l.description}}</p></v-col>
                
                
              </article>
            </div>
          </div>
        </div>
      </section>
    </fragment>
  </fragment>
</template>

<script>
export default {
    props: ['data', 'loading'],
    name: 'Features'
}
</script>

<style></style>
