<template>
<div class="collap" style="margin: 25px 0;float: left; width: 100%;">
    <h3 class="head2">Popular Keywords</h3>
    <ul class="keywords" style="margin: 15px 0;float: left; width: 100%;">
        <li>
            <a href>Lorem ipsum.</a>
        </li>
        <li>
            <a href>Lorem, ipsum dolor.</a>
        </li>
        <li>
            <a href>Zombie</a>
        </li>
        <li>
            <a href>Quincey</a>
        </li>
        <li>
            <a href>Morris</a>
        </li>
        <li>
            <a href>Van Helsing</a>
        </li>
        <li>
            <a href>Winchesters</a>
        </li>
        <li>
            <a href>Professor</a>
        </li>
        <li>
            <a href>Varna</a>
        </li>
        <li>
            <a href>Harker</a>
        </li>
        <li>
            <a href>Mina</a>
        </li>
        <li>
            <a href>Jonathan</a>
        </li>
        <li>
            <a href>Savannah</a>
        </li>
        <li>
            <a href>Lone Star</a>
        </li>
        <li>
            <a href>Captain Calhoun</a>
        </li>
        <li>
            <a href>Texas</a>
        </li>
        <li>
            <a href>January</a>
        </li>
        <li>
            <a href>Albert Dock</a>
        </li>
        <li>
            <a href>Germans</a>
        </li>
        <li>
            <a href>Openshaw</a>
        </li>
        <li>
            <a href>Lorem ipsum.</a>
        </li>
        <li>
            <a href>Lorem, ipsum dolor.</a>
        </li>
        <li>
            <a href>Zombie</a>
        </li>
        <li>
            <a href>Quincey</a>
        </li>
        <li>
            <a href>Morris</a>
        </li>
        <li>
            <a href>Van Helsing</a>
        </li>
    </ul>
</div>
</template>

<script>
export default {
    name: 'PopularKeywords'
}
</script>

<style>

</style>
