<template>
  <fragment>
    <div v-if="loading" class="grey-box bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="avatar"
      ></v-skeleton-loader>
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <fragment v-else>
      <section >
        <div class="bx panel projects">
          <h3 class="head2">Projects</h3>
          <ul class="grey-box">
            <li v-for="(l, i) in data" :key="i">
              <p>
                <span>{{ l.name }}</span>
                <a :href="l.file" class="btn" v-if="ispurchased" download target="_blank"
                  >Download file</a
                >
              </p>
            </li>
          </ul>
        </div>
      </section>
    </fragment>
  </fragment>
</template>

<script>
export default {
  name: "Projects",
  props: ["loading", "data","ispurchased"],
};
</script>

<style></style>
