<template>
  <fragment>
    <section class="review_view" style="margin-bottom: 0">
      <div class="review_view panel bx">
    <h3
      class="head2"
      style="background: #fafafb; margin-bottom: 0; padding: 15px"
    >
      Reviews
    </h3>
    <div v-if="reviewData.length > 0">
      <div
        class="grey-box"
        style="border-radius: 20px; width:100%"
        v-for="review in reviewData"
        :key="review.id"
      >
        <div>
          <article>
            <div class="tit">
              <div class="col-md-2" style="width: 150px">
                <v-row
                  ><v-col> <img :src="review.customer_image" /></v-col
                ></v-row>
                <v-row
                  ><v-col>
                    <span class="stars">
                      <i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(review.rate)"
                        :key="rateindex"
                      ></i> </span></v-col
                ></v-row>
              </div>
              <div class="col-md-10 mb-20">
                <v-row
                  ><v-col class="text-left"
                    ><h5>
                      {{ review.customer_name }}
                    </h5></v-col
                  >
                  <!-- <v-col class="text-right"
                    ><v-btn
                      v-if="review.status == 1"
                      rounded
                      dark
                      color="green"
                      size="small"
                    >
                      Published
                    </v-btn>
                    <v-btn
                      v-else
                      rounded
                      dark
                      color="grey darken-4"
                      size="small"
                      @click="makePublish(review.id, 1)"
                    >
                      Make Publish</v-btn
                    ></v-col
                  > -->
                </v-row>
                <v-row
                  ><v-col style="padding-left: -20px">
                    <p>
                      {{ review.message }}
                    </p></v-col
                  ></v-row
                >
              </div>
            </div>
            <!-- <div class="tit">
            <div>
              <img :src="review.customer_image" />
              <span class="stars">
                <i
                  class="ion-android-star"
                  v-for="rateindex in parseInt(review.rate)"
                  :key="rateindex"
                ></i>
              </span>
            </div>
            <div>
              <v-col
                ><h5>{{ review.customer_name }}</h5></v-col
              ><v-col class="text-right"
                ><v-btn
                  v-if="review.status == 1"
                  rounded
                  dark
                  color="green"
                  size="small"
                >
                  Published
                </v-btn>
                <v-btn
                  v-else
                  rounded
                  dark
                  color="grey darken-4"
                  size="small"
                  @click="makePublish(review.id, 1)"
                >
                  Make Publish</v-btn
                ></v-col
              >
            </div>
          </div> -->
            <!-- <p>
            {{ review.message }}
          </p> -->
          </article>
        </div>
      </div>
    </div>
  </div>
    </section>
    <section v-if="user_id != course_userId">
      <div class="bx">
        <div class="write_review">
          <h6>Write a Review</h6>
          <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
          <div class="form">
            <v-textarea
              v-model="review.message"
              placeholder="Message (within 250 characters)"
              maxlength="250"
            ></v-textarea>
          </div>
          <div>
            <v-rating
              v-model="review.rate"
              color="yellow darken-3"
              background-color="grey darken-1"
              half-increments
              hover
              large
            ></v-rating>
          </div>
          <div
            v-if="error"
            class="form-group fadein"
            style="margin-bottom: 30px"
          >
            <v-alert class="" text prominent type="error">
              {{ errorMessage }}
            </v-alert>
          </div>
          <div
            class="form-group fadein"
            v-if="success"
            style="margin-bottom: 15px"
          >
            <div class="row">
              <v-alert text type="success" align="left">
                {{ successMessage }}
              </v-alert>
            </div>
          </div>
          <v-btn
            :loading="loading"
            :disabled="loading"
            rounded
            dark
            color="grey darken-4"
            @click="submitReview"
            >Add your Review</v-btn
          >
        </div>
      </div>
    </section>
  </fragment>
</template>

<script>
export default {
  name: "Reviews",
  props: ["loading", "id"],
  data() {
    return {
      user_id: "",
      slug: this.$route.params,
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      loading: false,
      success: false,
      error: false,
      errorMessage: "",
      successMessage: "",
      reviewData: [],
      course_userId: "",
    };
  },
  beforeMount() {},
  mounted() {
    let courseUID = localStorage.getItem("course_userId");
    this.course_userId = courseUID;
    let userid = localStorage.getItem("userId");
    this.user_id = userid;

    console.log("dfgsdfgew6345dfgdfg", this.user_id, this.course_userId);
    this.getReviews();
  },
  methods: {
    async getReviews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/review_list", {
        entity_id: this.slug.id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let user = localStorage.getItem("userId");
      this.loading = true;
      if(user){
      (this.review.customer_id = this.user_id),
        (this.review.entity_id = this.slug.id);
      if (this.review.message == "" && this.review.rate == "") {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please give rate or review";
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        console.log("sdfasfgafsdgdf", this.review);
        let res = await this.$axios.post(
          "/trainingInstituteApi/add_review",
          this.review
        );
        if (res.data.result === 1) {
          this.loading = false;
          this.success = true;
          this.successMessage = res.data.message;
          setTimeout(() => {
            this.success = false;
            this.review = {
              customer_id: "",
              entity_id: "",
              description: "",
              rating: "",
            };
          }, 2000);
        } else {
          this.loading = false;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      }
      }else{
        this.loading=false
        this.$router.push("/login")
      }
    },
  },
};
</script>

<style></style>
