<template>
  <div class="collap">
    <h3 class="head2">Course by the same Institute/Trainer/Vendor:</h3>

    <hooper
      class="tyming"
      :itemsToShow="courseList.length"
      :wheelControl="false"
      :settings="hooperSettings"
    >
      <slide v-for="course in courseList" :key="course.course_id">
        <nuxt-link :to="`/courses/${course.name}/${course.course_id}`" class="box"
          >
          <div>
          <img
            :src="course.image"
            alt=""
          />
          <article>
            <h4>{{course.name}}</h4>
            <p>By {{course.uploader_name}}</p>
            <h6>₹ {{course.fee}}</h6>
            <div class="art-info">
              <span class="left" v-if="course.rating"><i class="ion-android-star" style="color:#E42203" v-for="rateindex in parseInt(course.rating)"
                  :key="rateindex"></i> {{course.rating}}</span>
              <span class="right"
                ><i aria-hidden="true" class="ion-ios-stopwatch"></i>
                {{course.duration}}
              </span>
            </div>
          </article>
          </div></nuxt-link
        >
      </slide>
      
      <hooper-navigation slot="hooper-addons" v-if="courseList.length > 4"></hooper-navigation>
    </hooper>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "SameCourses",
  props:['courseuser'],
  components: {
    Hooper,
    Slide,
    HooperNavigation,
  },
  data() {
    return {
      error: false,
      errorMessage: "",
      success: false,
      timeout: 6000,
      loading2: false,
      notloggedIn: false,
      courseList:[],
      course_id:"",
      hooperSettings: {
        breakpoints: {
          800: {
            centerMode: false,
            itemsToShow: 3,
          },
          700: {
            centerMode: false,
            itemsToShow: 3,
          },
          360: {
            centerMode: false,
            itemsToShow: 1,
          },
          320: {
            centerMode: false,
            itemsToShow: 1,
          },
          280: {
            centerMode: false,
            itemsToShow: 1,
          },
          1000: {
            itemsToShow: 4,
          },
        },
      },
    };
  },
  mounted(){
    let cId=localStorage.getItem("courseId");
     this.course_id=cId
    setTimeout(() => {
      this.getCouseList()
    }, 2000);
    
   

  },
  methods:{
    async getCouseList() {
      let user = localStorage.getItem("course_userId");
      let res = await this.$axios.post("trainingInstituteApi/vendor_course_list", {
        user_id: user,
      });
      if (res.data.result === 1) {
        this.courseList = res.data.data;
        console.log("detailscollege123321", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },
  }
};
</script>

<style>
</style>
