<template>
  <div class="collap">
    <h3>Similar Courses:</h3>
    <!-- <div class="carousel-wrap">
        <div class="owl-carousel owl-loaded owl-drag" id="similar">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-1893px, 0px, 0px); transition: all 0.25s ease 0s; width: 5048px;">
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://s3.amazonaws.com/www-inside-design/uploads/2018/02/responsive-web-square.jpg" alt />
                                <article>
                                    <h4>Web Design</h4>
                                    <p>by kazma technology</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt />
                                <article>
                                    <h4>Marketing</h4>
                                    <p>by concept marketing</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg" alt />
                                <article>
                                    <h4>Fashion Design</h4>
                                    <p>by NSHM institue</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.chalk.com/wp-content/uploads/2019/12/Screen-Shot-2020-01-14-at-12.12.01-AM-1024x485.png" alt />
                                <article>
                                    <h4>Teaching &amp; Academics</h4>
                                    <p>by pailan college of educations</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt />
                                <article>
                                    <h4>Photography</h4>
                                    <p>By Filmmake Media</p>
                                    <h6>
                                        ₹ 750.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://images.financialexpress.com/2019/05/cats-1182.jpg" alt />
                                <article>
                                    <h4>Jewellery Design</h4>
                                    <p>By Object'D Art</p>
                                    <h6>
                                        ₹ 600.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg" alt />
                                <article>
                                    <h4>Music</h4>
                                    <p>By Elite Singing Techniques</p>
                                    <h6>
                                        ₹ 650.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://images.livemint.com/img/2019/03/12/600x338/gymlead_1552389206197.jpg" alt />
                                <article>
                                    <h4>Fitness</h4>
                                    <p>By Kickfitness Workoua</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://s3.amazonaws.com/www-inside-design/uploads/2018/02/responsive-web-square.jpg" alt />
                                <article>
                                    <h4>Web Design</h4>
                                    <p>by kazma technology</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt />
                                <article>
                                    <h4>Marketing</h4>
                                    <p>by concept marketing</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg" alt />
                                <article>
                                    <h4>Fashion Design</h4>
                                    <p>by NSHM institue</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.chalk.com/wp-content/uploads/2019/12/Screen-Shot-2020-01-14-at-12.12.01-AM-1024x485.png" alt />
                                <article>
                                    <h4>Teaching &amp; Academics</h4>
                                    <p>by pailan college of educations</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt />
                                <article>
                                    <h4>Photography</h4>
                                    <p>By Filmmake Media</p>
                                    <h6>
                                        ₹ 750.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://images.financialexpress.com/2019/05/cats-1182.jpg" alt />
                                <article>
                                    <h4>Jewellery Design</h4>
                                    <p>By Object'D Art</p>
                                    <h6>
                                        ₹ 600.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg" alt />
                                <article>
                                    <h4>Music</h4>
                                    <p>By Elite Singing Techniques</p>
                                    <h6>
                                        ₹ 650.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 305.5px; margin-right: 10px;">
                        <div class="item">
                            <div class="box">
                                <img src="https://images.livemint.com/img/2019/03/12/600x338/gymlead_1552389206197.jpg" alt />
                                <article>
                                    <h4>Fitness</h4>
                                    <p>By Kickfitness Workoua</p>
                                    <h6>
                                        ₹ 350.00
                                    </h6>
                                    <div class="art-info">
                                        <span class="left">
                                            <i class="ion-android-star"></i> 4.1
                                        </span>
                                        <span class="right">
                                            <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <div class="owl-prev">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="owl-next">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="owl-dots">
                <div class="owl-dot active">
                    <span></span>
                </div>
                <div class="owl-dot">
                    <span></span>
                </div>
            </div>
        </div>
    </div> -->

   <hooper
            class="tyming"
            :itemsToShow="4"
            :itemsToSlide="4"
            :wheelControl="false"
            style="padding-bottom: 30px;
}"
          >
            <slide>
               <a href="/courses/The-Adventure-Of-The-Speckled-Band/78" class="box"><img src="https://exreed.com/backend/uploads/course/1599216573.jpeg" alt=""> <article><h4>The Adventure Of The Speckled Band</h4> <p>By Kazma</p> <h6>₹ 2000.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 Years
        </span></div></article></a>
            </slide>
            <slide>
               <a href="/courses/hassan/84" class="box"><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> <article><h4>hassan</h4> <p>By Kazma</p> <h6>₹ 1000.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 years
        </span></div></article></a>
            </slide>

            <slide>
              <a href="/courses/Cytrion/88" class="box"><img src="https://exreed.com/backend/uploads/course/1601652201.jpeg" alt=""> <article><h4>Cytrion</h4> <p>By Kazma</p> <h6>₹ 1500.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 years
        </span></div></article></a>
            </slide>
            <slide>
               <a href="/courses/lorem/89" class="box"><img src="https://exreed.com/backend/uploads/course/1601654000.jpeg" alt=""> <article><h4>lorem</h4> <p>By Kazma</p> <h6>₹ 1000.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 years
        </span></div></article></a>
            </slide>
            <slide>
               <a href="/courses/The-Adventure-Of-The-Speckled-Band/78" class="box"><img src="https://exreed.com/backend/uploads/course/1599216573.jpeg" alt=""> <article><h4>The Adventure Of The Speckled Band</h4> <p>By Kazma</p> <h6>₹ 2000.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 Years
        </span></div></article></a>
            </slide>
            <slide>
               <a href="/courses/hassan/84" class="box"><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> <article><h4>hassan</h4> <p>By Kazma</p> <h6>₹ 1000.00</h6> <div class="art-info"><span class="left"><i class="ion-android-star"></i> 0
      </span> <span class="right"><i aria-hidden="true" class="ion-ios-stopwatch"></i>
        2 years
        </span></div></article></a>
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
          </hooper>
      </div>
   
 
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "SimilarCourses",
   components: {
    Hooper,
    Slide,
    HooperNavigation,
  },
  data() {
    return {
      error: false,
      errorMessage: "",
      success: false,
      timeout: 6000,
      loading2: false,
      notloggedIn: false,
    };
  },
};
</script>

<style>
</style>
