<template>
  <fragment>
    <div v-if="loading" class="grey-box bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="image"
      ></v-skeleton-loader>
    </div>
    <fragment v-else>
      <div
        class="bx"
        style="
          margin-bottom: 0;
          padding-top: 0 !important;
          padding-top: 0 !important;
        "
      >
        <h6>Topics</h6>
        <br />
        <div class="topic panel">
          <fragment v-for="(l, i) in data" :key="i">
            <a @click="topicViewDialog =true">
              {{ l.topic_name }}
              <i class="fa fa-play-circle-o" aria-hidden="true"></i>
            </a>
            <!-- <vue-plyr>
              <video controls width="100%" height="200px">
                <source
                  id="mp4"
                  :src="l.topic_video"
                  type="video/mp4"
                  height="200px"
                />
                Your browser does not support the video tag.
              </video>
            </vue-plyr> -->
          </fragment>
        </div>
      </div>
      <v-dialog v-model="topicViewDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">To View Course Video Please Purchase!</v-card-title>
        <v-card-actions>
          <v-btn
            color="green darken-1"
            text
            @click="topicViewDialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="black darken-1"
            text
            @click.prevent="buyNow"
            >Buy Now</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar class="" color="success" v-model="success" :timeout="timeout">
      <span style="color: #fff">Added This course to your cart! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="success = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar class="" color="error" v-model="error" :timeout="timeout">
      <span style="color: #fff">
        This Course Already Exists In Your Cart!
      </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="error = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
    </fragment>
  </fragment>
</template>

<script>

export default {
  name: "Topics",
  props: ["loading", "data"],
  data() {
    return {
      user_id:"",
      topicViewDialog:false,
      error: false,
      errorMessage: "",
      success: false,
      timeout: 6000,
      loading2: false,
      loadingbuy:false,
      notloggedIn: false,
      slug: this.$route.params,
      
    };
  },
  mounted(){
    let user=localStorage.getItem("userId")
    this.user_id=user
  },
  methods: {
    async buyNow(){

      let user = localStorage.getItem("userId");
      if (user == "" || user == null) {
        localStorage.setItem("buyNow",true)
        this.$router.push("/login");
      } else {
        let res = await this.$axios.post("/CustomerApi/manage_cart", {
          user_id: user,
          action: "Add",
          course_id: this.slug.id,
        });
        console.log(res);
        if (res.data.result === 0) {
          this.loadingbuy= false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (res.data.result === "1") {
          this.$store.dispatch("addToCart");
          this.success = true;
          this.valid = true;
          this.loadingbuy = false;
          this.error = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
          }, 2000);
          this.$router.push("/checkout");
          console.log(res);
        }
      }
    },
    getVideo(topic_id) {
      this.$emit("clicked", topic_id);
    },
  },
};
</script>

<style></style>
