<template>
  <div class="grey-box bx panel">
    <div class>
      <h3 class="head2">Trainer Details</h3>
      <!-- <div class="bx school-course" id="Courses" v-if="data.length <= 3">
        <div class="row box box-new" style="height: 300px">
          <div
            class="col-md-4"
            v-for="trainer in data"
            :key="trainer.trainer_id"
            style="height: 300px"
          >
            <img :src="trainer.image" alt="" />
            <article class="mt-0">
              <ul style="display: flex">
                <li class="mr-2" v-if="trainer.facebook">
                  <a v-bind:href="trainer.facebook" target="_blank"
                    ><i class="fa fa-facebook" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-else>
                  <a
                    ><i class="fa fa-facebook" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-if="trainer.twitter">
                  <a v-bind:href="trainer.twitter" target="_blank"
                    ><i class="fa fa-twitter" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-else>
                  <a><i class="fa fa-twitter" style="font-size: 1.5rem"></i></a>
                </li>
                <li class="mr-2" v-if="trainer.linkedin">
                  <a v-bind:href="trainer.linkedin" target="_blank"
                    ><i class="fa fa-linkedin" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-else>
                  <a
                    ><i class="fa fa-linkedin" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-if="trainer.instagram">
                  <a v-bind:href="trainer.instagram" target="_blank"
                    ><i class="fa fa-instagram" style="font-size: 1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-else>
                  <a
                    ><i class="fa fa-instagram" style="font-size: 1.5rem"></i
                  ></a>
                </li>
              </ul>
              <h4>Name: {{ trainer.name }}</h4>
              <h4>Designation: {{ trainer.designation }}</h4>
              <h4>Description: {{ trainer.description }}</h4>
            </article>
          </div>
        </div>
      </div> -->
      <hooper
        v-if="data.length > 0"
        class="tyming"
        :itemsToShow="itemsToShow"
        :itemsToSlide="1"
        :infiniteScroll="(data.length) > 1?true:false"
        :autoPlay="true" 
        :playSpeed="5000"
      >
        <slide
          v-for="trainer in data"
          :key="trainer.trainer_id"
          style="width: 100%"
        >
          <!-- <div class="bx school-course" id="Courses"> -->
          <v-card style="width: 100%; height: 200px">
            <v-card-text>
              <v-row>
                <v-col md="2">
                  <v-row>
                    <v-col class="text-center">
                    <img
                      :src="trainer.image"
                      alt=""
                      style="width: 75px; height: 75px; border-radius: 50px"
                    />
                    </v-col>
                  </v-row>
                  <v-row>
                  <v-col class="text-center">
                    <ul style="display: flex">
                      <li  v-if="trainer.facebook">
                        <a v-bind:href="trainer.facebook" target="_blank"
                          ><i
                            class="fa fa-facebook"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li v-else>
                        <a
                          ><i
                            class="fa fa-facebook"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li v-if="trainer.twitter">
                        <a v-bind:href="trainer.twitter" target="_blank"
                          ><i
                            class="fa fa-twitter"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li v-else>
                        <a
                          ><i
                            class="fa fa-twitter"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li v-if="trainer.linkedin">
                        <a v-bind:href="trainer.linkedin" target="_blank"
                          ><i
                            class="fa fa-linkedin"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li  v-else>
                        <a
                          ><i
                            class="fa fa-linkedin"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li v-if="trainer.instagram">
                        <a v-bind:href="trainer.instagram" target="_blank"
                          ><i
                            class="fa fa-instagram"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li>
                      <li  v-else>
                        <a
                          ><i
                            class="fa fa-instagram"
                            style="font-size: 1.5rem"
                          ></i
                        ></a>
                      </li></ul
                      
                  >
                  </v-col></v-row>
                </v-col>
                <v-col md="10" class="text-left">
                  <h4>{{ trainer.name }}</h4>
                  <h4>{{ trainer.designation }}</h4>
                  <p>{{ trainer.description }}</p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- <div class="row box box-new">
          <div
            class="col-md-4"
            style="height: 300px"
          >
            <img :src="trainer.image" alt="" />
            <article class="mt-0">
              <ul style="display: flex">
                <li class="mr-2" v-if="trainer.facebook">
                  <a v-bind:href="trainer.facebook"><i class="fa fa-facebook" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-else>
                  <a ><i class="fa fa-facebook" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-if="trainer.twitter">
                  <a v-bind:href="trainer.twitter"><i class="fa fa-twitter" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-else>
                  <a ><i class="fa fa-twitter" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-if="trainer.linkedin">
                  <a v-bind:href="trainer.linkedin"><i class="fa fa-linkedin" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-else>
                  <a ><i class="fa fa-linkedin" style="font-size:1.5rem"></i></a>
                </li>
                <li class="mr-2" v-if="trainer.instagram">
                  <a v-bind:href="trainer.instagram"
                    ><i class="fa fa-instagram" style="font-size:1.5rem"></i
                  ></a>
                </li>
                <li class="mr-2" v-else>
                  <a ><i class="fa fa-instagram" style="font-size:1.5rem"></i></a>
                </li>
              </ul>
              <h4>Name: {{ trainer.name }}</h4>
              <h4>Designation: {{ trainer.designation }}</h4>
              <h4>Description: {{ trainer.description }}</h4>
            </article>
          </div> -->
          <!-- </div> -->
          <!-- </div> -->
        </slide>
        <hooper-navigation slot="hooper-addons"></hooper-navigation>
      </hooper>
    </div>
  </div>
</template>

<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "TrainerDetails",
  props: ["loading", "data"],
  components: {
    Hooper,
    Slide,
    HooperNavigation,
  },
  data() {
    return {
      hooperSettings: {
        itemsToShow: this.data.length,
        breakpoints: {
          800: {
            centerMode: false,
            itemsToShow: 1,
          },
          700: {
            centerMode: false,
            itemsToShow: 1,
          },
          360: {
            centerMode: false,
            itemsToShow: 1,
          },
          320: {
            centerMode: false,
            itemsToShow: 1,
          },
          280: {
            centerMode: false,
            itemsToShow: 1,
          },
          1000: {
            itemsToShow: 1,
          },
        },
      },
    };
  },
};
</script>

<style></style>
