<template>
  <div class="panel bx" style="margin-bottom: 0">
    <vue-plyr >
      <video controls width="100%" height="200px">
        <source id="mp4" :src="data" type="video/mp4" height="200px" />
        Your browser does not support the video tag.
      </video>
    </vue-plyr>
    <h5>₹ {{ fee }}/-</h5>
    <v-btn
    v-if="courseuser !== user"
      class="btn"
      :disabled="loading2"
      :loading="loading2"
      color="#000"
      type="submit"
      @click.prevent="addToCart"
    >
      <span style="color: #fff">add to cart</span>
    </v-btn>
    <v-btn v-if="courseuser !== user" @click="buyNow" :loading="loadingbuy" :disabled="loadingbuy" class="btn" color="#000">Buy Now</v-btn>
    <!-- <a href="#" class="btn">buy now</a> -->
    <v-snackbar class="" color="success" v-model="success" :timeout="timeout">
      <span style="color: #fff">Added This course to your cart! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="success = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar class="" color="error" v-model="error" :timeout="timeout">
      <span style="color: #fff">
        This Course Already Exists In Your Cart!
      </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="error = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar class="" color="error" v-model="notloggedIn">
      <span style="color: #fff"> Please Login as a student To Continue! </span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="notloggedIn = false">
          <i style="color: #fff" class="ion-android-close"></i>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "VideoContainer",
  props: ["loading", "data", "fee", "slug", "user","courseuser", "courseName"],
  data() {
    return {
      error: false,
      errorMessage: "",
      success: false,
      timeout: 6000,
      loading2: false,
      loadingbuy:false,
      notloggedIn: false,
      slug: this.$route.params,
      courseVideo:"",
      loading:false,
      
    };
  },
  watch: {},
  mounted(){
    localStorage.setItem("buyNow",false)
    console.log("sfsgsg32123",this.data)
    this.getCourseData()
  },
  methods: {
    async getCourseData() {
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id,
      });
      if (res.data.result === 1) {
        this.courseVideo = res.data.data[0].demo_video;
        console.log("dfgsdfg5643563535sdfadada",res.data.data[0].demo_video)
        this.loading = false;
      } else {
        this.loading = false;
      }
    },

    async buyNow(){

      let user = localStorage.getItem("userId");
      console.log("sfg32123",user)
      if (user == "" || user == null) {
        // this.notloggedIn = true;
        localStorage.setItem("buyNow",true)
        this.$router.push("/login");
      } else {
        this.loadingbuy = true;
        this.error = false;
        this.success = false;
        let res = await this.$axios.post("/CustomerApi/manage_cart", {
          user_id: user,
          action: "Add",
          course_id: this.slug.id,
        });
        console.log(res);
        if (res.data.result === 0) {
          this.loadingbuy= false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (res.data.result === "1") {
          this.$store.dispatch("addToCart");
          this.success = true;
          this.valid = true;
          this.loadingbuy = false;
          this.error = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
          }, 2000);
          this.$router.push("/checkout");
          console.log(res);
        }
      }
    },

    async addToCart() {
      let user = localStorage.getItem("userId");
      if (user == "" || user == null) {
        this.$router.push("/login");
      } else {
        this.loading2 = true;
        this.error = false;
        this.success = false;
        let res = await this.$axios.post("/CustomerApi/manage_cart", {
          user_id: user,
          action: "Add",
          course_id: this.slug.id,
        });
        console.log(res);
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error=false
          }, 2000);
        } else if (res.data.result === "1") {
          this.$store.dispatch("addToCart");
          this.success = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          console.log(res);
          setTimeout(() => {
            this.success=false
          }, 2000);
        }
      }
    },
  },
};
</script>

<style></style>
