<template>
  <section>
    <div v-if="loading" class="panel bx">
      <v-skeleton-loader
        class="mx-auto"
        style="width: 100%"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div v-else-if="data" class="panel  bx">
      <h3 class="head2">Why this course?</h3>
      <p  style="margin-bottom:0" class="grey-box">{{data}}</p>
    </div>
  </section>
</template>

<script>
export default {
    props: ['loading', 'data'],
    name: 'WhyThisCourse',
}
</script>

<style></style>
