<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{
        backgroundImage: `url(${bannerdata ? bannerdata : banner})`,
      }"
    >
      <h2>{{ profile.display_name }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/colleges">Colleges</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>{{ profile.display_name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard">
              <div class="row">
                <div class="col-md-6">
                  <div v-if="profile.logo_image">
                    <img
                      style="height: 140px; width: 140px; object-fit: cover"
                      :src="profile.logo_image"
                      alt=""
                    />
                  </div>
                  <div v-else>
                    <img
                      style="height: 140px; width: 140px; object-fit: cover"
                      src="../../assets/img/college-avatar.jpeg"
                      alt=""
                    />
                  </div>
                  <div class="pl-8">
                    <span style="width: 120px">
                      <h5 class="head2 pb-2 pt-0" style="font-size: 16px">
                        {{ profile.display_name }}
                      </h5>
                      <h6
                        class="head2 mt-0"
                        style="font-size: 15px; font-style: italic"
                      >
                        {{ profile.board }}
                      </h6>
                      <div v-if="profile.email || profile.mobile_no">
                        <small style="font-size: 15px"
                          >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                            ></path></svg
                        ></small>
                        <span class="rated ml-5" v-if="profile.rating">
                          <i class="fa fa-star fa-fw"></i>
                          {{ Number(profile.rating).toFixed(1) }}
                        </span>
                      </div>
                      <div class="social">
                        <a
                          v-if="profile.facebook"
                          v-bind:href="profile.facebook"
                          target="_blank"
                          class="fa fa-facebook"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-facebook"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.twitter"
                          v-bind:href="profile.twitter"
                          target="_blank"
                          class="fa fa-twitter"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-twitter"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.instagram"
                          v-bind:href="profile.instagram"
                          target="_blank"
                          class="fa fa-instagram"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-instagram"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.linkedin"
                          v-bind:href="profile.linkedin"
                          target="_blank"
                          class="fa fa-linkedin"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-linkedin"
                          style="font-size: 1rem"
                        ></a>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <v-row class="py-2">
                    <v-col md="1" v-if="profile.email"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-email</v-icon
                      ></v-col
                    >
                    <v-col v-if="profile.email">: {{ profile.email }}</v-col>
                  </v-row>
                  <v-row class="py-2" v-if="profile.mobile_no">
                    <v-col md="1"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-phone</v-icon
                      ></v-col
                    >
                    <v-col md="8"
                      >: {{ profile.mobile_no }}
                      {{ profile.landline_no ? "|" : "" }}
                      {{ profile.landline_no }}</v-col
                    >
                    <v-col>
                      <span class="mr-1"
                        ><v-icon style="font-size: 1rem; color: black"
                          >mdi-heart</v-icon
                        >30</span
                      >
                      <span
                        ><v-icon style="font-size: 1rem; color: black"
                          >mdi-rss</v-icon
                        >50</span
                      >
                    </v-col>
                    <!-- <v-col md="2"
                      ><div class="social">
                        <h4>
                          <span style="color: #000" class="mr-2"
                            ><i
                              class="fa fa-heart"
                              style="font-size: 1rem"
                              aria-hidden="true"
                            ></i>
                            30</span
                          >
                          <span style="color: #000"
                            ><i
                              class="fa fa-rss"
                              style="font-size: 1rem"
                              aria-hidden="true"
                            ></i>
                            50</span
                          >
                        </h4>
                      </div></v-col
                    > -->
                  </v-row>
                  <v-row class="py-2" v-if="profile.website_link">
                    <v-col md="1"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-web</v-icon
                      ></v-col
                    >
                    <v-col>: {{ profile.website_link }}</v-col>
                  </v-row>

                  <!-- <v-row class="py-1" v-if="profile.type">
                    <v-col md="3">
                      <b>Type of School</b>
                    </v-col>
                    <v-col>: {{ profile.type }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.board">
                    <v-col md="3">
                      <b>Board</b>
                    </v-col>
                    <v-col>: {{ profile.board }}</v-col>
                  </v-row> -->
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <v-tabs
                  background-color="#FAFAFB"
                  color="black"
                  v-model="tabIndex"
                >
                  <v-tab>Overview</v-tab>
                  <v-tab id="gal">Gallery</v-tab>
                  <v-tab>Staff</v-tab>
                  <v-tab>Jobs</v-tab>
                  <v-tab id="news">News</v-tab>
                  <v-tab>Facilities</v-tab>
                  <v-tab>Courses</v-tab>
                  <v-tab>Placements</v-tab>
                  <v-tab>Reviews</v-tab>
                  <v-tab-item>
                    <div id="Overview">
                      <section class="mt-4">
                        <div class="bx">
                          <h3 class="head2" style="margin-top: 0">About Us</h3>
                          <p>
                            {{ profile.about_us }}
                          </p>
                        </div>
                      </section>
                      <section class="mt-0">
                        <!-- <h3 class="head2" style="margin-top: 0">
                          Address & Timings
                        </h3> -->
                        <div style="float: right; width: 100%">
                          <v-tabs
                            background-color="#FAFAFB"
                            color="grey !important"
                            v-model="tabIndexAddress"
                          >
                            <v-tab
                              v-for="address in adresslist"
                              :key="address.city_address_time_id"
                              v-model="tabIndexAddress"
                              style="width: auto"
                              >{{ address.city_name }}</v-tab
                            >
                            <!-- <v-tab>Mumbai</v-tab>
                          <v-tab>Banagalore</v-tab>
                          <v-tab>Chennai</v-tab>
                          <v-tab>Kanpur</v-tab> -->

                            <v-tab-item
                              v-for="address in adresslist"
                              :key="address.city_address_time_id"
                            >
                              <div class="bx">
                                <h4 class="head2">Timings:</h4>
                                <div class="row">
                                  <div class="col-md-5">
                                    <p v-if="address.monday_start_time != ''">
                                      Mon
                                      {{
                                        getTimeFormat(address.monday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.monday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_monday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.monday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_monday_holiday === "Yes"
                                            ? "Monday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.tuesday_start_time != ''">
                                      Tue
                                      {{
                                        getTimeFormat(
                                          address.tuesday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.tuesday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_tuesday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.tuesday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_tuesday_holiday === "Yes"
                                            ? "Tuesday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p
                                      v-if="address.wednesday_start_time != ''"
                                    >
                                      Wed
                                      {{
                                        getTimeFormat(
                                          address.wednesday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(
                                          address.wednesday_end_time
                                        )
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_wednesday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p
                                      v-if="address.wednesday_start_time == ''"
                                    >
                                      <span style="color: red">
                                        {{
                                          address.is_wednesday_holiday === "Yes"
                                            ? "Wednesday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.thursday_start_time != ''">
                                      Thurs
                                      {{
                                        getTimeFormat(
                                          address.thursday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.thursday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_thursday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.thursday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_thursday_holiday === "Yes"
                                            ? "Thurseday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.friday_start_time != ''">
                                      Fri
                                      {{
                                        getTimeFormat(address.friday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.friday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_friday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.friday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_friday_holiday === "Yes"
                                            ? "Friday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.saturday_start_time != ''">
                                      Sat
                                      {{
                                        getTimeFormat(
                                          address.saturday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.saturday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_saturday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.saturday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_saturday_holiday === "Yes"
                                            ? "Saturday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.sunday_start_time != ''">
                                      Sun
                                      {{
                                        getTimeFormat(address.sunday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.sunday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_sunday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.sunday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_sunday_holiday === "Yes"
                                            ? "Sunday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                  </div>
                                  <div class="col-md-7">
                                    <iframe
                                      :src="address.map_link"
                                      width="100%"
                                      height="300"
                                      frameborder="0"
                                      style="border: 0"
                                      allowfullscreen=""
                                      aria-hidden="false"
                                      tabindex="0"
                                    ></iframe>
                                  </div>
                                  <div class="col-md-12">
                                    <h4 class="head2">Address</h4>
                                    <p>
                                      {{ address.address }},
                                      {{ address.city_name }},
                                      {{ address.state_name }},
                                      {{ address.country_name }},
                                      {{ address.mobile_no }}
                                      {{ address.phone_no ? " / " : "" }}
                                      {{ address.phone_no }},

                                      {{ address.email }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </v-tab-item>
                            <!-- <v-tab-item>
                            <div class="bx">
                            <h4 class="head2">Timings:</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <p>Mon 10:00 to 18:00 Hrs</p>
                                <p>Tue 10:00 to 18:00 Hrs</p>
                                <p>Wed 10:00 to 18:00 Hrs</p>
                                <p>Thurs 10:00 to 18:00 Hrs</p>
                                <p>Fri 10:00 to 18:00 Hrs</p>
                                <p>Sat 10:00 to 18:00 Hrs</p>
                                <p>Sun 10:00 to 18:00 Hrs</p>
                                <h4 class="head2">Address</h4>
                                <p>
                                  JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                </p>
                              </div>
                              <div class="col-md-7">
                                <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                  width="100%"
                                  height="300"
                                  frameborder="0"
                                  style="border: 0"
                                  allowfullscreen=""
                                  aria-hidden="false"
                                  tabindex="0"
                                ></iframe>
                              </div>
                            </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                            <h4 class="head2">Timings:</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <p>Mon 10:00 to 18:00 Hrs</p>
                                <p>Tue 10:00 to 18:00 Hrs</p>
                                <p>Wed 10:00 to 18:00 Hrs</p>
                                <p>Thurs 10:00 to 18:00 Hrs</p>
                                <p>Fri 10:00 to 18:00 Hrs</p>
                                <p>Sat 10:00 to 18:00 Hrs</p>
                                <p>Sun 10:00 to 18:00 Hrs</p>
                                <h4 class="head2">Address</h4>
                                <p>
                                  JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                </p>
                              </div>
                              <div class="col-md-7">
                                <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                  width="100%"
                                  height="300"
                                  frameborder="0"
                                  style="border: 0"
                                  allowfullscreen=""
                                  aria-hidden="false"
                                  tabindex="0"
                                ></iframe>
                              </div>
                            </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                            <h4 class="head2">Timings:</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <p>Mon 10:00 to 18:00 Hrs</p>
                                <p>Tue 10:00 to 18:00 Hrs</p>
                                <p>Wed 10:00 to 18:00 Hrs</p>
                                <p>Thurs 10:00 to 18:00 Hrs</p>
                                <p>Fri 10:00 to 18:00 Hrs</p>
                                <p>Sat 10:00 to 18:00 Hrs</p>
                                <p>Sun 10:00 to 18:00 Hrs</p>
                                <h4 class="head2">Address</h4>
                                <p>
                                  JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                </p>
                              </div>
                              <div class="col-md-7">
                                <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                  width="100%"
                                  height="300"
                                  frameborder="0"
                                  style="border: 0"
                                  allowfullscreen=""
                                  aria-hidden="false"
                                  tabindex="0"
                                ></iframe>
                              </div>
                            </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                            <h4 class="head2">Timings:</h4>
                            <div class="row">
                              <div class="col-md-5">
                                <p>Mon 10:00 to 18:00 Hrs</p>
                                <p>Tue 10:00 to 18:00 Hrs</p>
                                <p>Wed 10:00 to 18:00 Hrs</p>
                                <p>Thurs 10:00 to 18:00 Hrs</p>
                                <p>Fri 10:00 to 18:00 Hrs</p>
                                <p>Sat 10:00 to 18:00 Hrs</p>
                                <p>Sun 10:00 to 18:00 Hrs</p>
                                <h4 class="head2">Address</h4>
                                <p>
                                  JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                </p>
                              </div>
                              <div class="col-md-7">
                                <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                  width="100%"
                                  height="300"
                                  frameborder="0"
                                  style="border: 0"
                                  allowfullscreen=""
                                  aria-hidden="false"
                                  tabindex="0"
                                ></iframe>
                              </div>
                            </div>
                            </div>
                          </v-tab-item> -->
                          </v-tabs>
                        </div>
                      </section>
                      <section>
                        <h3 class="head2" style="margin-top: 0">Gallery</h3>

                        <div class="bx gallery_new">
                          <div class="row">
                            <div
                              class="col-md-2 mr-10"
                              v-for="gallary in gallarylistShort"
                              :key="gallary.gallery_id"
                            >
                              <img
                                style="
                                  width: 150px;
                                  height: 140px;
                                  object-fit: cover;
                                  border-radius: 4px;
                                "
                                :src="gallary.image"
                                alt=""
                              />
                            </div>
                            <div
                              class="col-md-2"
                              v-if="gallarylistShort.length > 3"
                            >
                              <a
                                @click="goToGallaryTab"
                                class="viewMorebtn"
                                style="color: #999"
                                >View More</a
                              >
                            </div>
                          </div>
                        </div>
                      </section>
                      <section>
                        <h3 class="head2" style="margin-top: 0">News</h3>
                        <div class="bx">
                          <v-row>
                            <hooper
                              class="tyming"
                              :itemsToShow="4"
                              :itemsToSlide="4"
                              :wheelControl="false"
                              style="margin-bottom;background:transparent;
                          }"
                            >
                              <slide
                                v-for="news in newslist"
                                :key="news.news_id"
                              >
                                <nuxt-link
                                  :to="'/NewsDetail/?' + news.news_id"
                                  class="box box-new"
                                  ><img :src="news.image" alt="" />
                                  <article>
                                    <v-row>
                                      <v-col
                                        ><h4>{{ news.title }}</h4></v-col
                                      ></v-row
                                    >
                                    <v-row>
                                      <v-col>{{
                                        news.desc.substr(0, 100)
                                      }}</v-col>
                                    </v-row>
                                  </article></nuxt-link
                                >
                              </slide>
                            </hooper>
                          </v-row>
                          <v-row v-if="newslist.length > 3">
                            <v-col class="text-center">
                              <a @click="goToNewsTab" class="btn">View More</a>
                            </v-col>
                          </v-row>

                          <!-- <div class="row">
                         
                          <div class="col-md-4">
                           
                          </div>
                          <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                        </div>
                      </section>
                      <section>
                        <h3 class="head2">Reviews</h3>

                        <div class="review_view panel bx">
                          <div v-if="reviewData.length > 0">
                            <div
                              class="grey-box"
                              style="border-radius: 20px"
                              v-for="review in reviewData"
                              :key="review.id"
                            >
                              <div>
                                <article>
                                  <div class="tit">
                                    <div class="col-md-2" style="width: 150px">
                                      <v-row
                                        ><v-col>
                                          <img
                                            :src="
                                              review.customer_image
                                            " /></v-col
                                      ></v-row>
                                      <v-row
                                        ><v-col>
                                          <span class="stars">
                                            <i
                                              class="ion-android-star"
                                              v-for="rateindex in parseInt(
                                                review.rate
                                              )"
                                              :key="rateindex"
                                            ></i> </span></v-col
                                      ></v-row>
                                    </div>
                                    <div class="col-md-10 mb-20">
                                      <v-row
                                        ><v-col class="text-left"
                                          ><h5 class="ml-0">
                                            {{ review.customer_name }}
                                          </h5></v-col
                                        >
                                        <!-- <v-col class="text-right"
                                          ><v-btn
                                            v-if="review.status == 1"
                                            rounded
                                            dark
                                            color="green"
                                            size="small"
                                          >
                                            Published
                                          </v-btn>
                                          <v-btn
                                            v-else
                                            rounded
                                            dark
                                            color="grey darken-4"
                                            size="small"
                                            @click="makePublish(review.id, 1)"
                                          >
                                            Make Publish</v-btn
                                          ></v-col
                                        > -->
                                      </v-row>
                                      <v-row
                                        ><v-col style="padding-left: -20px">
                                          <p>
                                            {{ review.message }}
                                          </p></v-col
                                        ></v-row
                                      >
                                    </div>
                                  </div>
                                  <!-- <div class="tit">
                                  <div>
                                    <img :src="review.customer_image" />
                                    <span class="stars">
                                      <i
                                        class="ion-android-star"
                                        v-for="rateindex in parseInt(review.rate)"
                                        :key="rateindex"
                                      ></i>
                                    </span>
                                  </div>
                                  <div>
                                    <v-col
                                      ><h5>{{ review.customer_name }}</h5></v-col
                                    ><v-col class="text-right"
                                      ><v-btn
                                        v-if="review.status == 1"
                                        rounded
                                        dark
                                        color="green"
                                        size="small"
                                      >
                                        Published
                                      </v-btn>
                                      <v-btn
                                        v-else
                                        rounded
                                        dark
                                        color="grey darken-4"
                                        size="small"
                                        @click="makePublish(review.id, 1)"
                                      >
                                        Make Publish</v-btn
                                      ></v-col
                                    >
                                  </div>
                                </div> -->
                                  <!-- <p>
                                  {{ review.message }}
                                </p> -->
                                </article>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section v-if="entity_id != user_id">
                        <h3 class="head2">Write a Review</h3>
                        <div class="bx">
                          <div class="write_review">
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <v-textarea
                                v-model="review.message"
                                placeholder="Message (within 250 characters)"
                                maxlength="250"
                                counter
                              ></v-textarea>
                            </div>
                            <div>
                              <v-rating
                                v-model="review.rate"
                                color="yellow darken-3"
                                background-color="grey darken-1"
                                half-increments
                                hover
                                large
                              ></v-rating>
                            </div>
                            <div
                              v-if="error"
                              class="form-group fadein"
                              style="margin-bottom: 30px"
                            >
                              <v-alert class="" text prominent type="error">
                                {{ errorMessage }}
                              </v-alert>
                            </div>
                            <div
                              class="form-group fadein"
                              v-if="success"
                              style="margin-bottom: 15px"
                            >
                              <div class="row">
                                <v-alert text type="success" align="left">
                                  {{ successMessage }}
                                </v-alert>
                              </div>
                            </div>
                            <v-btn
                              :loading="loading"
                              :disabled="loading"
                              rounded
                              dark
                              color="grey darken-4"
                              @click="submitReview"
                              >Add your Review</v-btn
                            >
                          </div>
                        </div>
                      </section>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <SchoolGalleryList :record="gallarylist" />
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="list_view">
                        <div
                          class="row mb-2"
                          v-for="staff in stafflist"
                          :key="staff.trainer_id"
                        >
                          <div class="col-md-3">
                            <img
                              style="border-radius: 5px"
                              :src="staff.image"
                              alt=""
                            />
                          </div>
                          <div class="col-md-9">
                            <div class="list-bx">
                              <div>
                                <h3 class="head2">{{ staff.name }}</h3>
                                <h5>{{ staff.designation }}</h5>
                                <p>
                                  {{ staff.description }}
                                </p>
                                <ul>
                                  <li>
                                    <a
                                      v-bind:href="staff.facebook"
                                      target="_blank"
                                      ><i
                                        class="ion-social-facebook"
                                        style="font-size: 1.5rem"
                                      ></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.twitter"
                                      target="_blank"
                                      ><i
                                        class="ion-social-twitter"
                                        style="font-size: 1.5rem"
                                      ></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.instagram"
                                      target="_blank"
                                      ><i
                                        class="ion-social-instagram"
                                        style="font-size: 1.5rem"
                                      ></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.linkedin"
                                      target="_blank"
                                      ><i
                                        class="ion-social-linkedin"
                                        style="font-size: 1.5rem"
                                      ></i
                                    ></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx job-list">
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >

                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="row">
                        <div
                          class="col-md-4"
                          v-for="news in newslist"
                          :key="news.news_id"
                        >
                          <nuxt-link
                            :to="'/NewsDetail/?' + news.news_id"
                            class="box box-new"
                          >
                            <img :src="news.image" alt="" />
                            <article>
                              <v-row>
                                <v-col
                                  ><h4>{{ news.title }}</h4></v-col
                                ></v-row
                              >
                              <v-row>
                                <v-col>{{ news.desc.substr(0, 150) }}</v-col>
                              </v-row>
                              <!-- <h4>{{ news.title }}</h4>
                                <p>
                                  {{ news.desc }}
                                </p> -->
                            </article>
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="fact">
                        <ul
                          v-for="facility in facilitylist"
                          :key="facility.facility_id"
                        >
                          <p>
                            <i
                              class="ion-checkmark-round"
                              aria-hidden="true"
                            ></i>
                            {{ facility.desc }}
                          </p>
                        </ul>
                      </div>
                    </div>
                  </v-tab-item>

                  <v-tab-item>
                    <!-- <div class="bx" id="Courses">
                      <div class="row">
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                        <div class="col-md-4">
                          <a href="#" class="box box-new"
                            ><img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                experienced</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                2years</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees: 20k-30k</small
                              >
                            </article></a
                          >
                        </div>
                      </div>
                    </div> -->
                    <SchoolCoursesList :courses="courselist" />
                  </v-tab-item>
                  <v-tab-item>
                    <div class="collap panel bx grey-box">
                      <div
                        class="grey-box"
                        style="background: rgb(255, 255, 255)"
                        v-for="placement in placementlist"
                        :key="placement.placement_id"
                      >
                        <div
                          fragment="c7f12a3f69"
                          class="col-md-2"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                          "
                        >
                          <img :src="placement.image" alt="" />
                          <!-- <ul>
                            <li>
                              <a href="#"><i class="fa fa-facebook" style="background: rgb(72, 91, 150);"></i></a></li> 
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-linkedin" style="background: rgb(22, 126, 183);"></i></a></li>
                               </ul> -->
                        </div>
                        <div fragment="c7f12a3f69" class="col-md-10">
                          <h4>{{ placement.name }}</h4>
                          <!-- <span>Btech | Batch:2020</span> -->
                          <span
                            >{{ placement.designation }} ({{
                              placement.placement_date
                            }})
                          </span>
                          <br />
                          <span>{{ placement.company }}</span>
                          <p style="margin-top: 0">
                            {{ placement.message }}
                          </p>
                        </div>
                        <!--fragment#c7f12a3f69#tail-->
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <AllTabReview :reviewData="reviewData" />
                  </v-tab-item>
                </v-tabs>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <div class="course-ft vendor-board">
                <div class="">
                  <a
                    href="/colleges/Details"
                    class="box box-new"
                    style="margin-top: -100px"
                  >
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>College Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/colleges/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>College Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/colleges/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">College Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>College Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
              </div>
            </section>
          </div>
          <section>
            <v-row class="py-2 pl-4">
              <v-col><h3 class="head2">Similar Colleges</h3></v-col>
            </v-row>
            <div class="col-md-12">
              <!-- Add 3 july -->
              <hooper
                class="tyming grey-box"
                style="border-radius: 5px"
                :itemsToShow="similarColleges.length"
                :itemsToSlide="4"
                :wheelControl="false"
                :settings="hooperSettings"
                :infiniteScroll="true"
                :autoPlay="true"
                :playSpeed="5000"
              >
                <slide v-for="item in similarColleges" :key="item.college_id">
                  <div>
                    <nuxt-link :to="item.username" class="box box-new">
                      <img
                        v-if="item.logo_image"
                        :src="item.logo_image"
                        alt=""
                      />
                      <img
                        v-else
                        src="../../assets/img/college-avatar.jpeg"
                        alt=""
                      />
                      <article style="height: 180px">
                        <div class="stars" v-if="item.rating">
                          <v-rating
                            color="warning"
                            hover
                            length="5"
                            readonly
                            size="15"
                            half-increments
                            :value="Number(item.rating).toFixed(1)"
                          ></v-rating>
                        </div>
                        <h4>{{ item.name }}</h4>
                        <!-- <h5
                        style="
                          color: #f73c1f;
                          font-weight: bold;
                          font-size: 15px;
                        "
                      >
                        Board: CBSE
                      </h5> -->
                        <h5>
                          <v-icon style="font-size: 1rem">mdi-email</v-icon
                          >{{ item.email }}
                        </h5>

                        <h5>
                          <v-icon style="font-size: 1rem">mdi-phone</v-icon>
                          {{ item.mobile_no }}
                        </h5>
                        <h5 v-if="item.website">
                          <v-icon style="font-size: 1rem">mdi-web</v-icon
                          >{{ item.website }}
                        </h5>
                      </article>
                    </nuxt-link>
                  </div>
                </slide>
              </hooper>
              <!-- Add 3 july -->
            </div>
          </section>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import SchoolCoursesList from "../../components/SchoolCoursesList";
import SchoolGalleryList from "../../components/SchoolGalleryList";
import AllTabReview from "../../components/AllTabReview";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
import banner from "../../assets/img/picnic.jpg";
export default {
  name: "SchoolDetails",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    SchoolCoursesList,
    SchoolGalleryList,
    AllTabReview,
    Footer,
    Header,
    PreLoader,
  },
  data() {
    return {
      banner,
      tabIndex: 0,
      tabIndexAddress: 0,
      error: false,
      errorMessage: "",
      success: false,
      loading: false,
      timeout: 6000,
      college_username: "",
      courses: [
        {
          id: 1,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
          title: "Course Name",
          company: "By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
        {
          id: 2,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
          title: "Course Name",
          company: "By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
        {
          id: 3,
          img: "https://exreed.com/backend/uploads/course/1599216573.jpeg",
          title: "Course Name",
          company: "By KazmaTechnology",
          eligibilty: "experienced",
          fee: "2000",
          duration: "2 year",
        },
      ],
      profile: "",
      adresslist: [],
      gallarylist: [],
      gallarylistShort: [],
      stafflist: [],
      similarColleges: [],
      newslist: [],
      facilitylist: [],
      courselist: [],
      joblist: [],
      placementlist: [],
      kyclist: [],
      reviewData: [],
      user_id: "",
      entity_id: "",
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      bannerdata: "",
      // preloader: true,
      hooperSettings: {
        itemsToShow: 4,
        breakpoints: {
          800: {
            centerMode: false,
            itemsToShow: 2,
          },
          700: {
            centerMode: false,
            itemsToShow: 2,
          },
          360: {
            centerMode: false,
            itemsToShow: 1,
          },
          320: {
            centerMode: false,
            itemsToShow: 1,
          },
          280: {
            centerMode: false,
            itemsToShow: 1,
          },
          1000: {
            itemsToShow: 4,
          },
        },
      },
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.college_username = id.pop();
    this.getProfile();

    console.log("url5235", id);
  },
  mounted() {
    let cust_id = localStorage.getItem("userId");
    this.user_id = cust_id;
    let id = localStorage.getItem("details_id");
    this.entity_id = id;
    console.log("sfdgsdfgdsgsdf", this.entity_id, this.user_id);
    setTimeout(() => {
      this.getAddress();
      this.getGallery();
      this.getStaff();
      this.getNews();
      this.getFacilities();
      this.getCouseList();
      this.getJobs();
      this.getPlacements();
      this.getKycs();
      this.getBanner();
      this.getReviews();
      this.getSimilar();
    }, 1000);
    setTimeout(() => {
      this.getBanner();
      this.preloader = false;
    }, 3500);
    this.$store.dispatch("persist");
    this.$store.dispatch("cartItem");
  },
  methods: {
    getTimeFormat(t) {
      let ti = t.split(":");
      let h = Number(ti[0]);
      let m = Number(ti[1]);
      let ampm = h >= 12 ? "PM" : "AM";
      let h1 = Number(h % 12);
      let hours = h1 ? h1 : 12;
      let minutes = m < 10 ? "0" + m : m;
      let time = hours + ":" + minutes + " " + ampm;
      return time;
    },
    goToNewsTab() {
      this.tabIndex = 4;
      window.scrollTo(0, 0);
    },
    goToGallaryTab() {
      this.tabIndex = 1;
      window.scrollTo(0, 0);
    },
    async getSimilar() {
      let res = await this.$axios.post("CustomerApi/college_list", {
        per_page: 100,
        page_no: 1,
      });
      this.similarColleges = res.data.data;
    },
    async getProfile() {
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.college_username,
      });
      if (res.data.result === 1) {
        console.log("detailscollege", res.data.data);
        this.profile = res.data.data;
        localStorage.setItem("details_id", res.data.data.user_id);
        localStorage.setItem("username", res.data.data.username);
        localStorage.setItem(
          "entity_corporate_type",
          res.data.data.corporate_type
        );
      } else {
        console.log("detailscollege", res.data.message);
      }
      console.log("collegedetails");
    },

    async getAddress() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_city_address_time",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.adresslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getGallery() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_gallery", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.gallarylist = res.data.data;
        this.gallarylistShort = res.data.data.slice(0, 4);
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getStaff() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/trainer_list", {
        user_id: entity_id,
      });
      if (res.data.result === 1) {
        this.stafflist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getNews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_news", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.newslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getFacilities() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.facilitylist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getCouseList() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: entity_id,
      });
      if (res.data.result === 1) {
        this.courselist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getJobs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_job", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.joblist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getPlacements() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_placement",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.placementlist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getKycs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_kyc", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.kyclist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getReviews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/review_list", {
        entity_id: entity_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let entity_id = localStorage.getItem("details_id");
      let user = localStorage.getItem("userId");
      this.loading = true;
      if (user) {
        (this.review.customer_id = this.user_id),
          (this.review.entity_id = entity_id);
        console.log("sdfasfgafsdgdf", this.review);
        if (this.review.message == "" && this.review.rate == "") {
          this.loading = false;
          this.error = true;
          this.errorMessage = "Please give rate or review";
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else {
          let res = await this.$axios.post(
            "/trainingInstituteApi/add_review",
            this.review
          );
          if (res.data.result === 1) {
            this.loading = false;
            this.success = true;
            this.successMessage = res.data.message;
            setTimeout(() => {
              this.success = false;
              this.review = {
                customer_id: "",
                entity_id: "",
                description: "",
                rating: "",
              };
            }, 2000);
          } else {
            this.loading = false;
            this.error = true;
            this.errorMessage = res.data.message;
            setTimeout(() => {
              this.error = false;
            }, 2000);
          }
        }
      } else {
        this.loading = false;
        this.$router.push("/login");
      }
    },

    async getBanner() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: entity_id,
      });
      this.bannerdata = res.data.data.banner_image;
      console.log("log2212121", this.bannerdata);
    },
  },
};
</script>
<style >
.viewMorebtn {
  text-align: center;
  align-self: center;
  border: 2px solid #ddd;
  float: left;
  width: 150px;
  height: 140px;
  color: #999;
  font-weight: bold;
  line-height: 10;
}
</style>