<template>
  <div class="vendor-board">

 <div>
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="article"
      ></v-skeleton-loader>
    </div>
     <div class="bx profile_info" >
         <h4 class="head2">Profile <a @click.prevent="openModal" class="btn" style="margin: 0 4px"
            >Edit <i class="ion-edit"></i></a></h4>
            

            <div class="row">
        <div class="col-md-3 form-group">
          <label for>Display Name</label>
          <p> Bright Shine </p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Registered Name</label>
          <p>Shine.com</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Type Of Consultancy</label>
          <p>Jobs</p>
        </div>
         <div class="col-md-3 form-group">
          <label for>Industry</label>
          <p> Job Portal </p>
        </div>
        
        <div class="col-md-3 form-group">
          <label for>Website</label>
          <p>www.shine.com</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Email id</label>
          <p>shine@gmail.com</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Mobile Number</label>
          <p>334334443</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Land Line Number</label>
          <p>2332323322</p>
        </div>
        
         <div class="col-md-12">
         
        <h4 class="head2">About Consultancy</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, beatae commodi rem voluptas nihil expedita aperiam nisi vero recusandae atque nemo assumenda! Animi est quis iure blanditiis eveniet quisquam deleniti!</p>
       
        
       </div>
        
            </div>
  </div>

  </div>

</template>
<script>
export default {
    name: "ConsultancyInfo"
}
</script>
<style scoped>
.profile_info .form-group span:last-child {
  display: none;
}
.btn {
  margin: 0 4px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 699px;
    position: relative;
}
</style>