<template>
  <div>
    <div class="bx mb-4" id="facili">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2">Facilities</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <v-row v-for="facility in facilities"
          :key="facility.facility_id">
              <v-col lg="10" class="text-left" style="text-overflow:ellipsis"><li>{{ facility.desc }}</li></v-col>
              <v-col lg="2" class="text-right">
                <a @click.prevent="openModal1(facility.facility_id,facility.desc)">
                  <v-icon>mdi-pencil</v-icon>
                </a>
                <a @click.prevent="deleteModal(facility)">
                  <v-icon>mdi-delete</v-icon>
                </a>
              </v-col>
        </v-row>
      </v-container>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Facilities </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <v-text-field
              v-model="edit.desc"
              dense
              filled
              :rules="facilityRule"
              @focus="facilityR"
              @blur="cancelFacilityR"
              label="Facility Description *"
              required
            >
            </v-text-field>
          </v-form>
          <v-alert v-if="error" text-prominent-type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Facility Added Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="!valid || loading"
              color="#000"
              @click="submitForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="dialog = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Facilities </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <v-text-field
              v-model="edit.desc"
              ref="file"
              dense
              filled
              :rules="facilityRule"
              @focus="facilityR"
              @blur="cancelFacilityR"
              label="Facility Description *"
              required
            >
            </v-text-field>
          </v-form>
          <v-alert v-if="error" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="Edited" text type="success" align="left">
            Facility Edited Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="!valid || loading"
              color="#000"
              @click="submitEditForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="closeEditFacilityDialog"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Facilities",
  data() {
    return {
      edit: {
        action: "",
        user_id: "",
        facility_id: "",
        desc: "",
      },
      facilities: "",
      dialog: false,
      error: false,
      dialog3: false,
      success: false,
      Edited: false,
      loading: false,
      valid: true,
      // index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      desc:"",
      facilityRule:[]
    };
  },
  mounted() {
    this.facilitylist();
  },
  methods: {
    facilityR(){
      this.facilityRule=[(v) => !!v || 'This field is required']
    },
    cancelFacilityR(){
      this.facilityRule=[]
    },
    closeEditFacilityDialog(){
      this.dialog3=false
      this.desc=""
    },
    async facilitylist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        this.edit
      );
      if(respo.data.result === 1){
      console.log("list data", respo);

      this.facilities = respo.data.data;
      
      }
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if(this.edit.desc == ""){
        this.facilityR()
        this.loading = false;
      }else{
        this.cancelFacilityR()
      let resp = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.errorMessage = resp.data.message
        this.loading = false;
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        console.log("list data", resp);
        this.facilities = resp.data.data;
        this.error = false;
        this.success = true;
        setTimeout(() => {
          this.dialog = false;
          this.success = false;
          
          this.edit = {
            action: "",
            user_id: "",
            facility_id: "",
            desc: "",
          };
        }, 2000);

        this.facilitylist();
        this.$refs.file.reset();
        this.loading = false;
      }
      }
    },
    deleteModal(facility) {
      this.dialog2 = true;
      this.deleteId = facility.facility_id;
      // this.index = facility;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        facility_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        params
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.facilitylist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    async openModal() {
      this.dialog = true;

      this.success = false;
      this.Edited = false;
      this.error = false;
      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async openModal1(id,desc) {
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.errorMessage = "";

      this.edit.facility_id = id;
      this.edit.desc = desc;
      this.deleteId = id;
      // this.index = facility;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      if(this.edit.desc == ""){
        this.facilityR()
        this.loading = false;
      }else{
        this.cancelFacilityR()
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        this.edit
      );
      if (respo.data.result === 0) {
        this.error = true;
        this.errorMessage = respo.data.message
        this.loading = false;
        setTimeout(() => {
          this.error=false
        }, 2000);
        // setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.Edited = true;
        this.facilitylist();
        setTimeout(() => {this.dialog3 = false
        this.Edited =false
        this.edit = {
            action: "",
            user_id: "",
            facility_id: "",
            desc: "",
          };
        }, 2000);
        this.loading = false;
      } else {
      }
      }
    },
  },
};
</script>
<style scoped>
a.btn {
  margin: 0 4px;
  top: 0px;
  bottom: 0px;
  left: 700px;
  right: 0px;
  height: 15%;
  width: 10%;
  position: relative;
}
.ion-trash-b {
  content: "\f253";

  top: 0px;
  bottom: 0px;
  left: 800px;
  right: 0px;
  position: absolute;
}
.ion-edit {
  content: "\f2bf";

  top: 0px;
  bottom: 0px;
  left: 760px;
  right: 0px;
  position: absolute;
}
p {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 35px;
  position: relative;
}
.relative {
  padding: 0px;
  margin: 0px;
  height: 10px;
  width: 19px;
}
</style>
