<template>
  <div class="bx mb-4" id="gallery">
    <v-container>
      <v-row class="mb-2">
        <v-col class="text-left"
          ><h3 class="head2" style="margin-top: 0">Gallery</h3></v-col
        >
        <v-col class="text-right">
          <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark>
            Add new
          </v-btn>
        </v-col>
      </v-row>

      <div class="row">
        <div
          v-viewer="options"
        >
          <div
            v-for="(src, index) in galleries"
            :key="index"
            class="col-md-2 text-center"
          >
            <div class="img-wrap">
              <button
                class="close"
                @click="deleteimg(src)"
                style="backgroundcolor: solidred"
              >
                &times;
              </button>
              <img :src="src.image" class="image" />
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div
          class="col-md-2"
          v-for="gallery in galleries"
          :key="gallery.gallery_id"
          v-viewer
        >
          <img :src="gallery.image" alt="" />
          <div class="img-wrap">
            <button
              class="close"
              @click="deleteimg(gallery)"
              style="backgroundcolor: solidred"
            >
              &times;
            </button>
            <img :src="gallery.image" alt="" />
          </div>
        </div>
      </div> -->
    </v-container>
    <div v-if="(message = true)"></div>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn1"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn1"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Add Photos</v-col>
        </v-card-title>
        <v-card-text>
          <v-form ref="gallaryForm">
            <v-file-input
              ref="image_string"
              v-model="image_string"
              v-on:change="onChange"
              accept="image/jpeg"
              dense
              filled
              :rules="galleryRule"
              label="Upload Image*"
              required
            >
            </v-file-input>
            <v-row
              ><v-col class="ml-3 mt-5"
                ><p style="font-color: #e74c3c">
                  Image Format (.jpeg) / Maximum Size (5 MB)
                </p></v-col
              ></v-row
            >
          </v-form>
          <v-alert v-if="error" text type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Gallery Added Successfully.
          </v-alert>

          <v-card-actions>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                :disabled="loading"
                :loading="loading"
                color="grey darken-4"
                rounded
                dark
                @click="submitForm"
                >Save
              </v-btn>
              <v-btn rounded dark color="red" @click="cancelGallery"
                >Cancel</v-btn
              >
            </div>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import "viewerjs/dist/viewer.css";
import VueViewer from "v-viewer";
import Vue from "vue";
Vue.use(VueViewer);
export default {
  name: "Gallery",
  data() {
    return {
      file: "",
      edit: {
        image: "",
        action: "",
        gallery_id: "",
        user_id: "",
      },

      successAlert: false,
      errorAlert: false,
      uploadedImage: "",
      dialog: false,
      error: false,
      success: false,
      loading: false,
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      message: "",
      currentFile: "",
      galleries: "",
      file: "",
      image: "",
      image_string: "",
      user_id: "",
      action: "",
      hovers: false,
      errorMessage: "",
      galleryRule: [(v) => !!v || "Image is required",
      (v)=>(v && v.size <= 5242880) || 'Image size must be less than or equal 5 Mb'],
    };
  },
  mounted() {
    this.getGallery();
  },
  methods: {
    galleryR() {
      this.galleryRule = [(v) => !!v || "Image is required"];
    },
    cancelGalleryR() {
      this.galleryRule = [];
    },

    cancelGallery() {
      this.dialog = false;
      this.$refs.image_string.reset();
      this.$refs.gallaryForm.reset()
      // this.cancelGalleryR();
    },
    // selectFile(e) {
    //   this.progress = 0;
    //   const image_file = e;
    //   console.log("selectfile", image_file);
    //   // this.createBase64Image(image_file);

    //   const reader = new FileReader();

    //   reader.onload = evt => {
    //     // this.currentFile = evt.target.result;
    //     this.image = evt.target.result;
    //     console.log("photo", this.image);
    //   };
    //   reader.readAsBinaryString(image_file);
    // },
    onChange(e) {
      if (e === undefined) {
        this.edit.image = "";
      } else {
        if(e.size < 5242880){
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.image = reader.result;
        };
        reader.readAsDataURL(image_string);
        }else{
          this.image_string=""
        }
      }
    },
    // onChange(e) {
    //   if (e === undefined) {
    //     this.edit.image = "";
    //   } else {
    //     let image_string = this.edit.image;

    //     let reader = new FileReader();
    //     reader.onloadend = (image_string) => {
    //       this.edit.image = reader.result;
    //     };
    //     reader.readAsDataURL(image_string);
    //   }
    // },
    //       uploadImage:function(){
    //         if (!this.image) {
    //         this.message = "Please select a file!";
    //         return;
    //       }
    // //this.file1 =this.$refs.file.files[0];
    //     console.log('m1',this.$refs.file);

    //       this.message = "";

    //    var formData = new FormData();
    //     console.log('m2',this.image);
    //    formData.append('image', this.image);
    //     formData.append('action', 'add');
    //     formData.append('user_id', localStorage.getItem("userId"));

    //    this.$axios.post('TrainingInstituteApi/manage_gallery', formData, {
    //     header:{
    //      'Content-Type' : 'multipart/form-data'
    //     }
    //    }).then(function(response){
    //      console.log('m3',response)
    //     if(response.data.image == '')
    //     {
    //      this.errorAlert = true;
    //      this.successAlert = false;
    //      this.errorMessage = response.data.message;
    //      this.successMessage = '';
    //      this.uploadedImage = '';
    //     }
    //     else
    //     {
    //      this.errorAlert = false;
    //      this.successAlert = true;
    //      this.errorMessage = '';
    //      this.successMessage = response.data.message;
    //      var image_html = "<img src='"+response.data.image+"' class='img-thumbnail' width='200' />";
    //      this.uploadedImage = image_html;
    //      this.$refs.file.value = '';
    //     }
    //    });
    //   },
    async getGallery() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_gallery",
        this.edit
      );
      console.log("list data", respo.data.message);
      this.galleries = respo.data.data;

      this.errorMessage = respo.data.message;
    },
    // onChange(e) {
    //   if (e === undefined) {
    //     this.edit.image = "";
    //   } else {
    //     let image_string = this.image_string;

    //     let reader = new FileReader();
    //     reader.onloadend = image_string => {
    //       this.edit.image = reader.result;
    //     };
    //     reader.readAsDataURL(image_string);
    //   }
    // },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if (!this.$refs.gallaryForm.validate()) {
        // this.galleryR();
        // this.error = true;
        // this.errorMessage = "Please choose a photo";
        setTimeout(() => {
          this.loading = false;
          // this.error = false;
        }, 2000);
      } else {
        // this.cancelGalleryR();
        let resp = await this.$axios.post(
          "trainingInstituteApi/manage_gallery",
          this.edit
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.edit.action = "list";

          let res = await this.$axios.post(
            "trainingInstituteApi/manage_gallery",
            this.edit
          );
          console.log("list data", res);
          this.galleries = res.data.data;
          this.success = true;

          setTimeout(() => {
            this.dialog = false;
            this.success = false;
          }, 2000);
          this.loading = false;
          this.getGallery();
          this.$refs.image_string.reset();
          this.$refs.gallaryForm.reset()
        }
      }
    },

    deleteimg(gallery) {
      this.dialog2 = true;
      this.deleteId = gallery.gallery_id;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        gallery_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "TrainingInstituteApi/manage_gallery",
        params
      );
      console.log("the deletion api", res.data);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.getGallery();

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    // submitForm: function() {
    // this.edit.action = "add";
    //   this.edit.user_id = localStorage.getItem("userId");
    //   this.file = this.$refs.file.files;
    //   let formData = new FormData();
    //   formData.append("file", this.file);
    //  let res= this.$axios
    //     .post("/TrainingInstituteApi/manage_gallery", formData, {
    //       headers: {
    //         "Content-Type": "multipart/form-data"
    //       },

    //     })
    //     .then(function(response) {
    //       if (!response.data) {
    //         alert("File not uploaded.");
    //       } else {
    //         alert("File uploaded successfully.");
    //       }
    //       console.log("respodata",response.data)
    //     })
    //     .catch(function(error) {
    //       console.log(error);
    //     });
    //     console.log("respo", res);
    // },

    async openModal() {
      console.log("gallery clicked");
      this.dialog = true;
      this.error = false;
      this.success = false;
    },
  },
};
</script>
<style scoped>
a.btn {
  top: 10px;
  bottom: 0px;
  right: 0px;
  height: 30px;
  width: 60px;
  position: absolute;
  left: 800px;
}
.img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: -10px;
  right: -5px;
  z-index: 100;
  border: 2px solid red;
}
.image {
  /* height: 200px;
  cursor: pointer;
  margin: 5px; */
  /* display: inline-flex; */
  width: 150px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}
</style>
