<template>
  <div class="dashboardNav">
    <div class="course-profile customer-menu js-sidebar-menu"  style="position: sticky;top: 0px;">
      <div class="bx article-sidebar-menu js-navigation-list">
        <ul style="margin-top: 0">
          <li>
            <router-link to="/corporate/HRsdashboard" class="js-navigation-item " style="color:#ED1D25;">
              Dashboard
              <i class="fa fa-angle-right" style="color:#ED1D25"></i>
            </router-link>
          </li>
          <li>
            <a href="#resume" class="js-navigation-item ">
              Resume
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <nuxt-link to="#pro" class="js-navigation-item ">
              Profile
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#edu" class="js-navigation-item ">
              Education
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#emp" class="js-navigation-item ">
              Employment / Experience
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
         
          <li>
            <nuxt-link to="#certi" class="js-navigation-item ">
              Training & Certifications
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#technical" class="js-navigation-item ">
             Technical Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
           <li>
            <nuxt-link to="#professional" class="js-navigation-item ">
             Professional Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
           <li>
            <nuxt-link to="#keyskill" class="js-navigation-item ">
             Key Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <a href="#lang" >
             Languages
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        
           <li>
            <a href="#subs">
             Subcriptions
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <a href="#jobs">
             Jobs
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#kyc">
             Kyc
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#hoby">
             Interest & Hobbies
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top:0">
            
           <li>
             <v-expansion-panels v-model="panel" >
      <v-expansion-panel style="padding-left: 11px;background:transparent">
        <v-expansion-panel-header>Jobs</v-expansion-panel-header>
        <v-expansion-panel-content>
           <li><a href="">Post a Job</a></li>
            <li><a href="">Job's Tracker</a></li>
        
        </v-expansion-panel-content>
      </v-expansion-panel>
             </v-expansion-panels>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HrsNav",
  panel: [0, 1],
      readonly: false,
};
</script>

<style></style>
