<template>
  <div class="vendor-board">
    <div v-if="loader">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="article"
      ></v-skeleton-loader>
    </div>
  
    <div class="bx profile_info" v-if="profile">
      <!-- <v-alert
        type="error"
        class="desk"
        v-if="
          profile.about_us < 1 ||
          profile.country_name < 1 ||
          profile.state_name < 1 ||
          profile.city_name.lenght < 1 ||
          profile.area_name < 1 ||
          profile.pincode < 1
        "
      >
        <h5 style="color: #fff; margin: 0; position: relative">
          Your profile is incomplete, please update your profile.
          <router-link
            to="/customer/update_profile"
            class="btn"
            style="
              position: absolute;
              top: -6px;
              right: 0;
              background: #fff;
              color: #ff5252 !important;
            "
            >Update Profile</router-link
          >
        </h5>
      </v-alert> -->
      <!-- <h3 class="head2">Profile <a href="#" class="btn">Edit <i class="fa fa-pencil"></i> </a></h3> -->
     <h4 class="head2">Profile <a @click.prevent="openModal" class="btn" style="margin: 0 4px"
            >Edit <i class="ion-edit"></i></a></h4>
            
      <div class="row">
        <div class="col-md-3 form-group">
          <label for>Name</label>
          <p>{{ profile.name }}</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Email</label>
          <p>{{ profile.email }}</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Phone Number</label>
          <p>{{ profile.mobile_no }}</p>
        </div>
         <div class="col-md-3 form-group">
          <label for>Landline Number</label>
          <p>{{ profile.mobile_no }}</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>DOB</label>
          <p>17 Dec 94</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Gender</label>
          <p>Female</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Marital Status</label>
          <p>Unmarried</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Country</label>
          <p>India</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>State</label>
          <p>West Bengal</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>City</label>
          <p>Kolkata</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Area</label>
          <p>Kolkata</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Pincode</label>
          <p>700011</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Website</label>
          <p> <a href="#">www.exreed.com</a></p>
        </div>
        

        <!-- <div class="col-md-4 form-group" v-if="profile.country_name">
          <label for>Country</label>
          <p>{{ profile.country_name }}</p>
        </div>
        <div class="col-md-4 form-group" v-if="profile.state_name">
          <label for>State</label>
          <p>{{ profile.state_name }}</p>
        </div>
        <div class="col-md-4 form-group" v-if="profile.city_name">
          <label for>City</label>
          <p>{{ profile.city_name }}</p>
        </div>
        <div class="col-md-4 form-group" v-if="profile.pincode">
          <label for>Pincode</label>
          <p>{{ profile.pincode }}</p>
        </div>
        <div class="col-md-4 form-group" v-if="profile.language">
          <label for>Languages</label>
          <p>
            <fragment v-for="(l, i) in profile.language" :key="i">
              {{ l }}
              
            </fragment>
          </p>
        </div>
        <div
          class="col-md-4 form-group"
          v-if="profile.hobbie && profile.hobbie.length"
        >
          <label for>Interests and hobbies</label>
          <p>
            <fragment v-for="(l, i) in profile.hobbie" :key="i">
              {{ l }}
              
            </fragment>
          </p>
        </div>

        <div
          class="row adresses"
          style="margin: 0"
          v-if="profile.present_address || profile.permanent_address"
        >
          <div class="col-md-12">
            <label for>Adresses</label>
          </div>
          <div class="col-md-6 form-group">
            <p>
              <i class="ion-location"></i>
              <span style="display: flex; align-items: center">{{
                profile.present_address
              }}</span>
            </p>
          </div>
          <div class="col-md-6 form-group">
            <p>
              <i class="ion-location"></i>

              <span style="display: flex; align-items: center">{{
                profile.permanent_address
              }}</span>
            </p>
          </div>
        </div>
        <div class="col-md-12 form-group" v-if="profile.about_us">
          <label for>About me</label>
          <p>
            {{
              profile.about_us ||
              `Your Profile Is Incomplete, Please Update Your Profile.`
            }}
          </p>
        </div> -->
      </div>
      <div class="bx" style="background:#fff">
          <h4 class="head2">Present Address</h4>
          <div class="row">
            <div class="col-md-3 form-group">
          <label for>Address</label>
          <p>504 A,P.S Aviator Chinarpark</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Pincode</label>
          <p>700011</p>
        </div>
         <div class="col-md-3 form-group">
          <label for>City</label>
          <p>Kolkata</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>State</label>
          <p>West Bengal</p>
        </div>
          </div>
        </div>
        
        <div class="bx" style="background:#fff">
          <h4 class="head2">Permanent Address</h4>
          <div class="row">
            <div class="col-md-3 form-group">
          <label for>Address</label>
          <p>504 A,P.S Aviator Chinarpark</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>Pincode</label>
          <p>700011</p>
        </div>
         <div class="col-md-3 form-group">
          <label for>City</label>
          <p>Kolkata</p>
        </div>
        <div class="col-md-3 form-group">
          <label for>State</label>
          <p>West Bengal</p>
        </div>
          </div>
        </div>
       <div class="row">
         <div class="col-md-12">
         
        <h4 class="head2">About me</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, beatae commodi rem voluptas nihil expedita aperiam nisi vero recusandae atque nemo assumenda! Animi est quis iure blanditiis eveniet quisquam deleniti!</p>
        <h4 class="head2">Current Job Description</h4>
        <table>
    <thead>
      <tr>
        <th>Designation</th>
        <th>Company</th>
        <th>Salary</th>
             </tr>
    </thead>
    <tbody>
      <tr>
        <td>Developer</td>
        <td>Kazma Technology</td>
        <td>5000</td>
       
      </tr>
    </tbody>
  </table>
        
       </div>
       </div>
    </div>
     <v-row justify="center">
        <v-dialog v-model="dialog2" persistent max-width="500">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-text
              >Do you really want to delete this ? This process cannot be
              undone.</v-card-text
            >
            <v-card-actions>
              <v-btn
                color="green darken-1"
                text
                @click="dialog2 = false"
                class="btn"
                >Cancel</v-btn
              >
              <v-btn
                color="black darken-1"
                text
                :loading="deleteProcessing"
                :disabled="deleteProcessing"
                @click.prevent="deleteItem"
                class="btn"
                >Yes, delete it!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline">
            <v-col md="12" lg="12">Edit Profile</v-col>
          </v-card-title>
          <v-card-text style="background: #fff; float: left; width: 100%">
            <v-form ref="form" v-model="valid" lazy-validation>
              <div class="updateEmployment">
                <div class="">
                  <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Name"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Email"
                      required
                    ></v-text-field>
                  </div>

                  <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Landline Number"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="DOB"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Gender"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Marital Status"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Country"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="State"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="City"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Area"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Pincode"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Website"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-12">
                    <h4 class="head2">Permanent Address</h4>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Address"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Pincode"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="City"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="State"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-12"><h4 class="head2">Present Address</h4></div>
                    <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Address"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="Pincode"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="City"
                      required
                    ></v-text-field>
                  </div>
                   <div class="col-md-6 form-group">
                    <v-text-field
                     
                      dense
                      filled
                      label="State"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-12" ><div class="head2">About You</div></div>
                  <div class="col-md-12">
                    <v-textarea
                      dense
                      filled
                      label="Message"
                    ></v-textarea>
                  </div>
                  <div class="col-md-12"><h4 class="head2">Social Media Link</h4></div>
                  <div class="col-md-4">
                     <v-text-field
                      
                      filled
                      label="Socials"
                      required
                    ></v-text-field>
                  </div>
                  
                  
                </div>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      Employment added successfully!
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn"
                  :disabled="!valid || loading2"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading2" style="color: #fff">Save</span>
                  <template v-else>
                    <span>Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
  
</template>

<script>
// export default {
//   props: ["profile", "loader"],
//   name: "BasicInfo",
// };
export default {
  props: ["profile", "loader"],
  name: "IndiTrainerBasicInfo",
  data() {
    return {
      dialog: false,
      dialog2: false,
      editData: {},
      user_id: "",
      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
    };
  },
  methods: {
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.employement_list;
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(data) {
      this.dialog = true;
      this.editData = data;
    },
    async submitForm() {
      this.editData.user_id = this.user_id;
      delete this.editData["notice_period"];
      delete this.editData["resume"];
      this.editData.end_date = this.editData.work_end_date;
      this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];
      let res = await this.$axios.post(
        "/CustomerApi/update_employement",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = res.data.message;
        this.dialog = false;
      } else if (res.data.result === 1) {
        this.getProfile();
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
      }
    },
    deleteModal(item) {
      this.dialog2 = true;
      this.deleteId = item.employement_id;
      this.index = item;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        const index = this.data.indexOf(this.index);
        this.data.splice(index, 1);
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
  },
};


</script>

<style>
.profile_info .form-group span:last-child {
  display: none;
}
th {
      border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    width: 200px;
    position: relative;
    left: -70px;
}
td {
  top: 0px;
    bottom: 0px;
    left: 5px;
    right: 0px;
    position: relative;
}
</style>
