<template>
  <div class="dashboardNav">
    <div
      class="course-profile customer-menu js-sidebar-menu"
      style="position: sticky; top: 0px"
    >
      <div class="bx article-sidebar-menu js-navigation-list">
        <ul style="margin-top: 0">
          <li>
            <router-link
              to="/corporate/Trainerdashboard"
              class="js-navigation-item"
              style="color: #ed1d25"
            >
              Dashboard
              <i class="fa fa-angle-right" style="color: #ed1d25"></i>
            </router-link>
          </li>
          <li>
            <a href="#resume" class="js-navigation-item">
              Resume
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <nuxt-link to="#pro" class="js-navigation-item">
              Profile
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#edu" class="js-navigation-item">
              Education
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#emp" class="js-navigation-item">
              Employment / Experience
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>

          <li>
            <nuxt-link
              to="#certi"
              class="js-navigation-item"
            >
              Training & Certifications
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#uploadedCourse" class="js-navigation-item">
              Uploaded Courses
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#technical" class="js-navigation-item">
              Technical Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#professional" class="js-navigation-item">
              Professional Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="#keyskill" class="js-navigation-item">
              Key Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li>
            <a href="#lang">
              Languages
              <i class="fa fa-angle-right"></i>
            </a>
          </li>

          <li>
            <a href="#kyc">
              Kyc
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <a href="#hoby">
              Interest & Hobbies
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top: 0">
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Courses</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li>
                    <router-link to="/corporate/manage_courses">
                      Teaching Subjects / Courses
                    </router-link>
                  </li>
                  <li>
                    <router-link to="/corporate/add_new_course"
                      >Upload a course</router-link
                    >
                  </li>
                  <!-- <li><a href="">View all Courses</a></li> -->
                  <li>
                    <router-link to="/corporate/purchased_courses"
                      >Purchased Courses</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/payment_history"
                      >Payment History</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/enquiry_batchinformation"
                      >Enquiry / Batch Information</router-link
                    >
                  </li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Jobs</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="#">Post a Job</a></li>
                  <li><a href="#">Job's Tracker</a></li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndiTrainerNav",
  panel: [0, 1],
  readonly: false,
};
</script>

<style></style>
