<template>
  <div id="jobs">
    <div class="bx mb-4">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2">Jobs</h3></v-col>
          <v-col class="text-right">
            <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark>
              Search
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <div v-for="job in Jobs" :key="job.job_id" style="padding: 5px">
            <div>
              <h6>{{ job.name }}</h6>
              <h5>{{ job.company }}</h5>
              <p>{{ job.description }}</p>
            </div>
          </div>
      </v-container>
          
    </div>
  </div>     
</template>
<script>
export default {
  name: "jobs",
  data() {
    return {
      success: false,
      edit: {
        action: "",
        user_id: "",
        job_id: "",
        name: "",
        description: "",
        company: "",
      },
      Jobs: "",
    };
  },
  mounted() {
    this.getJoblist();
  },
  methods: {
    async getJoblist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_job",
        this.edit
      );
      console.log("list data job", respo);

      this.Jobs = respo.data.data;
    },
  },
};
</script>
<style scoped>
a.btn {
  margin: 0 4px;
  top: -35px;
  bottom: 0px;
  left: 760px;
  right: 0px;
  position: relative;
}
</style>