<template>
  <div id="kyc">
    <div class="bx">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2">KYC</h3></v-col>
          <v-col class="text-right">
            <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark
              >Add New</v-btn
            >
          </v-col>
        </v-row>
        <v-row v-for="kyc in Kyclist" :key="kyc.kyc_id" class="mt-2">
          <v-col md="6" align-self="center">
            <li>{{ kyc.name }} : {{ kyc.doc_number }}</li></v-col
          >
          <v-col md="2">
            <img
              style="
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 4px;
              "
              :src="kyc.front_image"
            />
          </v-col>
          <!-- <v-img :src="kyc.front_image"></v-img></v-col>  -->
          <v-col md="2">
            <img
              v-if="kyc.back_image"
              style="
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 4px;
              "
              :src="kyc.back_image"
            />
          </v-col>
          <!-- <v-img :src="kyc.back_image"></v-img></v-col> -->

          <v-col class="text-right" md="2">
            <a @click.prevent="openModal1(kyc.kyc_id)" style="margin: 0 4px"
              ><v-icon> mdi-pencil </v-icon></a
            >
            <a @click.prevent="deleteModal(kyc)" style="margin: 0 4px"
              ><v-icon> mdi-delete </v-icon></a
            >
          </v-col>
        </v-row>
      </v-container>
    </div>
    <!-- <p>
                          Pan card number:in654684
                               <a @click.prevent="deleteModal" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
                  <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
                        </p> 
                        <p>
                          Voterid card number:154851uhsy
                              <a @click.prevent="deleteModal" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
                  <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
                        </p>  -->

    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn color="green darken-1" text @click="dialog2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteItem()"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Kyc </v-card-title>
        <v-card-text>
          <v-form ref="addfile">
            <div class="row" >
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="add.name"
                dense
                filled
                :rules="[(v) => !!v || 'Document name is required']"
                label="Document Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="add.number"
                dense
                filled
                :rules="[(v) => !!v || 'Document id is required']"
                label="Document Id *"
                required
              >
              </v-text-field>
            </div>

            <div class="col-md-6 form-group">
              <v-file-input
                v-model="font_image"
                v-on:change="uploadFrontImage"
                prepend-icon="mdi-camera"
                accept="image/jpeg"
                dense
                filled
                :show-size="font_image ? true : false"
                :rules="frontImageRule"
                label="Upload Front Side Image *"
                required
              >
              </v-file-input>

              <!-- <button @click="!show">+Add Back Side Image</button> -->
            </div>
            <div class="col-md-5 form-group">
              <p style="font-color: #e74c3c" class="mt-3">
                Image Format (.jpeg) / Maximum Size (2 MB)
              </p>
            </div>

            <div class="col-md-6 form-group">
              <v-file-input
                v-model="back_image"
                v-on:change="uploadbackImage"
                prepend-icon="mdi-camera"
                accept="image/jpeg"
                dense
                filled
                show-size
                :rules="backImageRule"
                label="Upload Back Side Image"
              >
              </v-file-input>
            </div>
            <div class="col-md-5 form-group">
              <p style="font-color: #e74c3c" class="mt-3">
                Image Format (.jpeg) / Maximum Size (2 MB)
              </p>
            </div>
            <!-- <div class="col-md-12 form-group">
                      <v-file-input
                    ref="image_string"
                      v-model="imaze_string"
                    v-on:change="onFileChanged"     
                      dense
                      filled
                      show-size
                      label="Upload Image"
                      >
                      </v-file-input>
                      </div> -->
            <v-col md="12" lg="12" xs="12" xsm="12">
              <v-alert class="" v-if="error" text type="error">
                {{ errorMessage }}
              </v-alert>
              <v-alert
                v-if="Edited"
                text
                type="success"
                align="left"
                style="backgroundcolor: green"
              >
                Kyc Added Successfully
              </v-alert>
            </v-col>
            <v-card-actions>
              <div class="col-md-12">
                <v-btn
                  rounded
                  dark
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  @click="submitForm"
                  >Save
                </v-btn>
                <v-btn rounded dark color="red" @click="closeAddDia"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- testing -->

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="700"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Kyc </v-card-title>
        <v-card-text>
          <v-form ref="closefile">
            <div class="row">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.name"
                dense
                filled
                :rules="[(v) => !!v || 'Document name is required']"
                label="Document Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.number"
                dense
                filled
                :rules="[(v) => !!v || 'Document id is required']"
                label="Document Id *"
                required
              >
              </v-text-field>
            </div>

            <div class="col-md-12 form-group">
              <v-row>
                <v-col md="6">
                  <v-file-input
                    v-model="front_image"
                    v-on:change="uploadFrontImageEdit"
                    prepend-icon="mdi-camera"
                    accept="image/jpeg"
                    dense
                    :rules="editImageRule"
                    filled
                    :show-size="front_image ? true : false"
                    label="Upload Front Side Image"
                  >
                  </v-file-input>
                </v-col>
                <v-col md="1" v-if="font_image">
                  <img
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      border-radius: 4px;
                    "
                    :src="font_image"
                  />
                </v-col>
                <v-col md="4" class="ml-4">
              <p style="font-color: #e74c3c" class="mt-1">
                Image Format (.jpeg) / Maximum Size (2 MB)
              </p>
                </v-col>
              </v-row>
            </div>

            <div class="col-md-12 form-group">
              <v-row>
                <v-col md="6">
                  <v-file-input
                    v-model="back_image"
                    v-on:change="uploadbackImageEdit"
                    prepend-icon="mdi-camera"
                    accept="image/jpeg"
                    dense
                    filled
                    :rules="editImageRule"
                    :show-size="back_image ? true : false"
                    label="Upload Back Side Image (Optional)"
                  >
                  </v-file-input>
                </v-col>
                <v-col md="1" v-if="bak_image">
                  <img
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      border-radius: 4px;
                    "
                    :src="bak_image"
                  />
                </v-col>
                <v-col md="4" class="ml-4">
              <p style="font-color: #e74c3c" class="mt-1">
                Image Format (.jpeg) / Maximum Size (2 MB)
              </p>
                </v-col>
              </v-row>
            </div>
            <!-- <div class="col-md-12 form-group">
                      <v-file-input
                    ref="image_string"
                      v-model="imaze_string"
                    v-on:change="onFileChanged"     
                      dense
                      filled
                      show-size
                      label="Upload Image"
                      >
                      </v-file-input>
                      </div> -->
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="Edited"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    text
                    type="success"
                    align="left"
                    style="backgroundcolor=green"
                  >
                    Kyc Edited Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  rounded
                  dark
                  @click="submitEditForm"
                  >Save
                </v-btn>
                <v-btn color="red" rounded dark @click="closeEditDia"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- testing -->
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Kyc",
  props: ["data"],
  data() {
    return {
      dialog: false,
      valid: true,

      back_image: "",
      font_image: "",
      bak_image: "",
      front_image: "",
      add: {
        action: "",
        user_id: "",
        kyc_id: "",
        front_image: "",
        name: "",
        number: "",
        back_image: "",
      },
      edit: {
        action: "",
        user_id: "",
        kyc_id: "",
        front_image: "",
        name: "",
        number: "",
        back_image: "",
      },
      Kyclist: "",
      dialog: false,
      error: false,
      success: false,
      loading: false,
      valid: true,
      errorMessage: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      dialog3: false,
      index: "",
      Edited: false,
      show: false,
      documentIdRule: [],
      documentNameRule: [],
      editImageRule: [],
      frontImageRule: [
        (v) => !!v || "Image is required",
        (v) =>
          (v && v.size <= 2097152) ||
          "Image size must be less than or equal 2 Mb",
      ],
      backImageRule: [],
    };
  },
  mounted() {
    this.getKyclist();
  },
  methods: {
    documentIdR() {
      this.documentIdRule = [(v) => !!v || "Document id is required"];
    },
    cancelDocumentIdR() {
      this.documentIdRule = [];
    },
    documentNameR() {
      this.documentNameRule = [(v) => !!v || "Document Name is required"];
    },
    cancelDocumentNameR() {
      this.documentNameRule = [];
    },
    frontImageR() {
      this.frontImageRule = [(v) => !!v || "Image is required"];
    },
    cancelFrontImageR() {
      this.frontImageRule = [];
    },

    closeAddDia() {
      // this.add.name=""
      // this.add.number=""
      this.font_image = "";
      this.back_image = "";

      this.dialog = false;
      this.$refs.addfile.reset();
      this.editImageRule = [];
      this.add.front_image = "";
      this.add.back_image = "";
    },
    closeEditDia() {
      this.dialog3 = false;
      this.font_image = "";
      this.bak_image = "";
      this.$refs.closefile.reset();
      this.editImageRule = [];
      this.edit.front_image = "";
      this.edit.back_image = "";
    },
    uploadFrontImage(e) {
      if (e) {
        if (e.size < 2097152) {
          let img_string = this.font_image;
          let reader = new FileReader();
          reader.onloadend = () => {
            this.add.front_image = reader.result;
            console.log("fsafgdfsgdf", this.add.front_image);
          };
          reader.readAsDataURL(img_string);
        } else {
          this.add.front_image = "";
        }
      }
    },
    uploadbackImage(e) {
      if (e) {
        if (e.size < 2097152) {
          let img_string = this.back_image;
          let reader = new FileReader();
          reader.onloadend = () => {
            // cb(reader.result)
            this.add.back_image = reader.result;
            console.log("backimage", reader.result);
          };
          reader.readAsDataURL(img_string);
        } else {
          this.add.back_image = "";
          this.backImageRule = [
            (v) =>
              (v && v.size <= 2097152) ||
              "Image size must be less than or equal 2 Mb",
          ];
        }
      }
    },
    uploadFrontImageEdit(e) {
      if (e) {
        if (e.size < 2097152) {
          let img_string = this.front_image;
          let reader = new FileReader();

          reader.onloadend = () => {
            // cb(reader.result)
            this.edit.front_image = reader.result;
            this.font_image = reader.result;
          };
          reader.readAsDataURL(img_string);
        } else {
          this.editImageRule = [
            (v) =>
              (v && v.size <= 2097152) ||
              "Image size must be less than or equal 2 Mb",
          ];
        }
      }
    },
    uploadbackImageEdit(e) {
      if (e) {
        if (e.size < 2097152) {
          let img_string = this.back_image;
          let reader = new FileReader();

          reader.onloadend = () => {
            // cb(reader.result)
            this.edit.back_image = reader.result;
            this.bak_image = reader.result;
          };
          reader.readAsDataURL(img_string);
        } else {
          this.editImageRule = [
            (v) =>
              (v && v.size <= 2097152) ||
              "Image size must be less than or equal 2 Mb",
          ];
        }
      }
    },

    async getKyclist() {
      let id = localStorage.getItem("userId");
      let resp = await this.$axios.post("trainingInstituteApi/manage_kyc", {
        action: "list",
        user_id: id,
      });
      this.Kyclist = resp.data.data;
    },
    openModal() {
      this.editImageRule=[]
      this.dialog = true;

      this.success = false;
      this.Edited = false;
      this.error = false;
    },
    async submitForm() {
      console.log("submitkyc");
      this.error = false;
      this.loading = true;
      this.success = false;
      this.add.user_id = localStorage.getItem("userId");
      this.add.action = "add";
      console.log(
        "44444455555",
        this.add.front_image,
        this.add.name,
        this.add.number
      );
      // if (
      //   this.add.front_image == "" ||
      //   this.add.name == "" ||
      //   this.add.number == ""
      // ) {
      //   if (this.add.front_image == "") {
      //     this.frontImageR();
      //   }
      //   if (this.add.name == "") {
      //     this.documentNameR();
      //   }
      //   if (this.add.number == "") {
      //     this.documentIdR();
      //   }
      //   this.error = true;
      //   this.errorMessage = "Please provide mandatory details!";
      //   setTimeout(() => {
      //     this.loading = false;
      //     this.error = false;
      //   }, 2000);
      if (this.add.back_image === "" || this.add.back_image === null) {
        this.backImageRule = [];
        if (!this.$refs.addfile.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 2000);
        } else {
          let resp = await this.$axios.post(
            "trainingInstituteApi/manage_kyc",
            this.add
          );
          console.log("onsubmit", resp);
          if (resp.data.result === 0) {
            this.error = true;
            this.errorMessage = resp.data.message;
            this.loading = false;
            setTimeout(() => {
              this.error = false;
            }, 2000);
            // setTimeout(() => (this.dialog = false), 2000);
          } else if (resp.data.result === 1) {
            this.error = false;
            // this.edit.action = "list";
            // this.edit.kyc_id = this.kyc_id;
            // let res = await this.$axios.post(
            //   "trainingInstituteApi/manage_kyc",
            //   this.edit
            // );
            // console.log("list data", res);
            // this.kyc = res.data.data;
            this.Edited = true;
            this.loading = false;

            this.getKyclist();
            setTimeout(() => {
              this.dialog = false;
              this.Edited = false;
              this.$refs.addfile.reset();
              this.front_image = "";
              this.back_image = "";
              this.add.front_image = "";
              this.add.back_image = "";
            }, 2000);
          }

          console.log("kyc", resp);
        }
      } else {
        this.backImageRule = [
          (v) =>
            (v && v.size <= 2097152) ||
            "Image size must be less than or equal 5 Mb",
        ];
        if (!this.$refs.addfile.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 2000);
        } else {
          let resp = await this.$axios.post(
            "trainingInstituteApi/manage_kyc",
            this.add
          );
          console.log("onsubmit", resp);
          if (resp.data.result === 0) {
            this.error = true;
            this.errorMessage = resp.data.message;
            this.loading = false;
            setTimeout(() => {
              this.error = false;
              this.backImageRule = [];
            }, 2000);
            // setTimeout(() => (this.dialog = false), 2000);
          } else if (resp.data.result === 1) {
            this.error = false;
            // this.edit.action = "list";
            // this.edit.kyc_id = this.kyc_id;
            // let res = await this.$axios.post(
            //   "trainingInstituteApi/manage_kyc",
            //   this.edit
            // );
            // console.log("list data", res);
            // this.kyc = res.data.data;
            this.Edited = true;
            this.loading = false;

            this.getKyclist();
            setTimeout(() => {
              this.dialog = false;
              this.Edited = false;
              this.$refs.addfile.reset();
              this.front_image = "";
              this.back_image = "";
              this.backImageRule = [];
              this.add.front_image = "";
              this.add.back_image = "";
            }, 2000);
          }

          console.log("kyc", resp);
        }
      }
    },

    deleteModal(kyc) {
      this.dialog2 = true;
      this.deleteId = kyc.kyc_id;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        kyc_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_kyc",
        params
      );
      console.log("the deletion api", res.data);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getKyclist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    async openModal1(id) {
      let kyc = this.Kyclist.find((k) => k.kyc_id === id);
      console.log("editfgdg", kyc);
      this.dialog3 = true;
      this.success = false;
      this.editImageRule=[]

      this.error = false;
      this.errorMessage = "";
      this.bak_image = kyc.back_image;
      this.font_image = kyc.front_image;
      this.edit.kyc_id = id;
      this.edit.name = kyc.name;
      this.edit.number = kyc.doc_number;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      let id = localStorage.getItem("userId");
      // if (this.edit.name == "" || this.edit.number == "") {
      //   if (this.edit.name == "") {
      //     this.documentNameR();
      //   }
      //   if (this.edit.number == "") {
      //     this.documentIdR();
      //   }
      //   setTimeout(() => {
      //     this.loading = false;
      //   }, 1000);
      if (!this.$refs.closefile.validate()) {
        setTimeout(() => {
          this.loading = false;
        }, 1000);
      } else {
        let payload = {
          user_id: id,
          kyc_id: this.edit.kyc_id,
          name: this.edit.name,
          action: "edit",
          back_image: this.edit.back_image,
          front_image: this.edit.front_image,
          number: this.edit.number,
        };
        let respo = await this.$axios.post(
          "trainingInstituteApi/manage_kyc",
          payload
        );
        if (respo.data.result === 0) {
          this.error = true;
          this.errorMessage = respo.data.message;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
          // setTimeout(() => (this.dialog3 = false), 2000);
        } else if (respo.data.result === 1) {
          this.Edited = true;
          this.loading = false;
          this.getKyclist();
          setTimeout(() => {
            this.dialog3 = false;
            this.Edited = false;
            this.add.front_image = "";
            this.add.back_image = "";
            this.$refs.closefile.reset();
            this.editImageRule = [];
          }, 2000);
        } else {
        }
      }
    },
  },
};
</script>
<style scoped>
.ion-trash-b {
  content: "\f253";
  top: 0px;
  left: 1170px;
  position: sticky;
}
.ion-edit {
  content: "\f2bf";
  top: 0px;
  left: 1130px;
  position: sticky;
}
.relative {
  padding: 0px;
  margin: 0px;
  height: 10px;
  width: 20px;
}
</style>
