<template>
    <div>
      <div style="float: left; width: 100%">
                        <v-tabs background-color="#FAFAFB" color="black">
                          <v-tab>Kolkata</v-tab>
                          <v-tab>Mumbai</v-tab>
                          <v-tab>Banagalore</v-tab>
                          <v-tab>Chennai</v-tab>
                          <v-tab>Kanpur</v-tab>

                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                        </v-tabs>
                      </div>
    </div>
</template>
<script>
export default {
    name: "Locations",
}
</script>
<style scoped>
 
</style>