<!-- <template>
<div>
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
                <h3>News</h3>
        </div>
         <h4 class="head2"><a @click.prevent="openModal" class="btn" style="margin: 0 4px"
            >Add+ <i class="ion-edit"></i></a></h4>
        </div>
         <div class="bx">
           <div v-for="news in Newses" :key="news.news_id">
  <v-card >
    <v-row no-gutters>
      <v-col md="3">
        <Img src="news.image" alt="" class="box" />
      </v-col>
      <v-col md="6">
        <v-card-body title="Horizontal Card">
          <h3>{{ news.title }}</h3>
          <v-card-text>
            
          {{ news.desc }}
          </v-card-text>
            <a @click.prevent="deleteModal" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
                  <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
        </v-card-body>
      </v-col>
    </v-row>
  </v-card>
  <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff">
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Or Add News</v-col>
        </v-card-title>
       <v-form>
        <div class="updateNews">
        <div class="">
          <div class="col-md-12 form-group">
          <v-text-field
          v-model="edit.title"
            dense
            filled
            label="News Title"
            required
      >
          </v-text-field>
          </div>
         
         
          <div class="col-md-12 form-group">
          <v-text-field
          v-model="edit.desc"
          dense
          filled
          label="Description"
          required
          >
          </v-text-field>
          </div>
         
        <div class="col-md-12 form-group">
        <v-file-input
        v-model="edit.image"
        dense
        filled
        show-size
        label="Upload Image"
        >
        </v-file-input>
        </div>
        
        <v-col md="12" lg="12" xs="12" xsm="12">
          <div
          v-if="error"
          class="form-group fadein col-md-12"
          style="margin-bottom: 15px"
          >
          <v-alert class="" text-prominent-type="error">
            {{errorMessage}}
          </v-alert>
          </div>
        <div class="form-group fadein col-md-12"
        v-if="success"
        style="margin-bottom: 15px"
        >
        <div class="row">
          <v-alert text-type="success" align="left" style="color= green">
            News Added Successfully
          </v-alert>
        </div>
        </div>
          </v-col>
  <div class="col-md-12" style= "display:flex; align-items :center">
    <v-btn
    class="btn"
    :disabled="!valid || loading"
    color="#000"
    type="submit"
    @click.prevent="submitForm"
    >
    <span v-if="!loading" style="color: #fff">Save </span>
    <template v-else>
<span > Processing...</span>
    </template>
    </v-btn>
     <v-btn
                  class="btn btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
  </div>

          </div>
        </div>
       </v-form>
      </v-card>
      </v-dialog>
</div>

                  
   </div>
      </div>
    </div>
  </div>
</div>
        </template>
        <script>
        export default {
         name: "News", 
         data() {
           return { 
            edit: {
              action: "",
              user_id: "",
              news_id: "",
              title: "",
              desc: "",
              image: "",
            },
            Newses: "",
            dialog: false,
           };
         },
         mounted() {
           this.getNews();
         },
         methods: {
          async getNews() {
            this.edit.action = "list"
this.edit.user_id =  localStorage.getItem("userId")
let respo = await this.$axios.post('trainingInstituteApi/manage_news', this.edit)
console.log("Newses data", respo)
this.Newses = respo.data.data;
           }
         },
         openModal() {
this.dialog = true;
         }
        }
        </script>
        -->
<template>
  <div>
    <div class="bx mb-4" id="news">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2 mt-0">News</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <div v-for="news in Newses" :key="news.news_id" style="padding: 5px">
          <v-card class="card">
            <v-row class="no-gutters">
              <v-col md="2" align-self="center" class="py-2">
                <img
                  style="
                    width: 170px;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  :src="news.image"
                />
                <!-- <v-img :src="news.image" alt class="box" ></v-img> -->
              </v-col>
              <v-col md="8" class="py-5 side">
                <v-row>
                  <v-col
                    ><h3
                      class="head2"
                      style="font-weight: bold; font-size: 16px"
                    >
                      {{ news.title }}
                    </h3></v-col
                  ></v-row
                >
                <v-row>
                  <v-col
                    >{{ news.desc.substr(0, 250) }}{{ " "
                    }}<nuxt-link
                      :to="'/NewsDetail/?' + news.news_id"
                      v-if="news.desc.length > 250"
                      >...Read more</nuxt-link
                    ></v-col
                  >
                </v-row>
              </v-col>
              <v-col md="2" class="text-center" align-self="center">
                <a @click.prevent="openModal1(news.news_id)">
                  <v-icon> mdi-pencil </v-icon>
                </a>
                <a @click.prevent="deleteModal(news)">
                  <v-icon> mdi-delete </v-icon>
                </a>
              </v-col>
            </v-row>
          </v-card>
        </div>
        <div>
          <!-- <div class="col-md-12">
                  <h4 class="head2">
                  News
                  <a @click.prevent="openModal" class="btn" style="margin: 0 4px"
                    >Add +</a
                          >
                        </h4>
                      </div>
                  <div class="bx" >
                    <div v-for="news in Newses" :key="news.news_id">
                                      <v-col md="3">
                                <img src="news.image" alt="" class="box" />
                              </v-col>
                              <div class="details">
                                <h6>{{ news.title }}
                                  <a @click.prevent="deleteModal(news)" style="margin: 0 4px"
                        ><i class="ion-trash-b"></i
                      ></a>
                      <a @click.prevent="openModal" style="margin: 0 4px"
                        ><i class="ion-edit"></i
                      ></a>
                                </h6>
                          
                                <p>{{news.desc}}</p>
                              
                              </div>
                            </div> -->
        </div>
      </v-container>
      <v-row justify="center">
        <v-dialog v-model="dialog2" persistent max-width="500">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-text
              >Do you really want to delete this ? This process cannot be
              undone.</v-card-text
            >
            <v-card-actions>
              <v-btn
                color="green darken-1"
                text
                @click="dialog2 = false"
                class="btn2"
                >Cancel</v-btn
              >
              <v-btn
                color="black darken-1"
                text
                :loading="deleteProcessing"
                :disabled="deleteProcessing"
                @click.prevent="deleteItem()"
                class="btn2"
                >Yes, delete it!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-dialog v-model="dialog" max-width="700" style="background: #fff">
        <v-card>
          <v-card-title class="headline"> Add News </v-card-title>
          <v-card-text>
            <v-form ref="addNewsForm">
              <div class="col-md-12">
                <v-text-field
                  v-model="add.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="News Title *"
                  required
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  v-model="add.desc"
                  dense
                  filled
                  :rules="newsDescriptionRule"
                  label="News Description *"
                  placeholder="Minimum 120 character"
                  required
                  counter
                >
                </v-textarea>
              </div>
              <div class="col-md-12">
                <v-file-input
                  v-model="image_string"
                  v-on:change="onChange"
                  prepend-icon="mdi-camera"
                  dense
                  filled
                  accept="image/jpeg"
                  :rules="newsImageRule"
                  label="Upload Image *"
                  required
                >
                </v-file-input>
                <v-row
                  ><v-col class="ml-3 mt-5"
                    ><p style="font-color: #e74c3c">
                      Image Format (.jpeg) / Maximum Size (5 MB)
                    </p></v-col
                  ></v-row
                >
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div class="form-group fadein" v-if="success">
                  <div class="row">
                    <v-alert text type="success" align="left">
                      News Added Successfully.
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <v-card-actions>
                <div
                  class="col-md-12"
                  style="display: flex; align-items: center"
                >
                  <v-btn
                    :disabled="!valid || loading"
                    color="grey darken-4"
                    rounded
                    dark
                    @click.prevent="submitForm"
                  >
                    <span v-if="!loading" style="color: #fff">Save </span>
                    <template v-else>
                      <span> Processing...</span>
                    </template>
                  </v-btn>
                  <v-btn color="red" rounded dark @click="closeAddNewsDialog"
                    >Cancel</v-btn
                  >
                </div>
              </v-card-actions>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialog3"
        scrollable
        max-width="700"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline"> Edit News </v-card-title>
          <v-card-text>
            <v-form ref="editNewsForm">
              <div class="col-md-12">
                <v-text-field
                  v-model="edit.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="News Title *"
                  required
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  v-model="edit.desc"
                  dense
                  filled
                  :rules="newsDescriptionRule"
                  label="News Description *"
                  placeholder="Minimum 120 character"
                  required
                  counter
                >
                </v-textarea>
                <!-- <v-row
              ><v-col class="ml-3 mt-5"
                ><p style="font-color: #e74c3c">
                  Minimum 120 character.
                </p></v-col
              ></v-row
            > -->
              </div>

              <div class="col-md-12">
                <v-row>
                  <v-col md="10">
                    <v-file-input
                      v-model="image_string"
                      v-on:change="onChangeEdit"
                      prepend-icon="mdi-camera"
                      accept="image/jpeg"
                      dense
                      filled
                      :rules="newsEditImageRule"
                      label="Upload Image *"
                    >
                    </v-file-input>
                    <v-row
                      ><v-col class="ml-3 mt-5"
                        ><p style="font-color: #e74c3c">
                          Image Format (.jpeg) / Maximum Size (5 MB)
                        </p></v-col
                      ></v-row
                    >
                  </v-col>
                  <v-col md="2">
                    <img
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      :src="profile_im"
                    />
                  </v-col>
                </v-row>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 15px"
                >
                  <v-alert class="" text type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div class="form-group fadein" v-if="Edited">
                  <div class="row">
                    <v-alert text type="success" align="left">
                      News Edited Successfully.
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="loading"
                  :loading="loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="closeEdit"
                  >Cancel</v-btn
                >
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "News",
  data() {
    return {
      edit: {
        action: "",
        news_id: "",
        user_id: "",
        image: "",
        title: "",
        desc: "",
      },
      add: {
        action: "",
        news_id: "",
        user_id: "",
        image: "",
        title: "",
        desc: "",
      },
      dialog: false,
      dialog3: false,
      profile_im: "",
      news_id: "",
      error: false,
      success: false,
      Edited: false,
      loading: false,
      valid: true,
      user_id: "",
      Newses: "",
      errorMessage: "",
      images: "",
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,

      image_string: "",
      newsImageRule: [
        (v) => !!v || "Image is required",
        (v) =>
          (v && v.size <= 5242880) ||
          "Image size must be less than or equal 5 Mb",
      ],
      newsEditImageRule: [
        (v) =>
          (v && v.size <= 5242880) ||
          "Image size must be less than or equal 5 Mb",
      ],
      newsDescriptionRule: [
        (v) => !!v || "Description is required",
        (v) =>
          (v && v.length >= 120) ||
          "Minimum 120 character requirement for description",
      ],
    };
  },

  mounted() {
    this.showlist();
  },
  methods: {
    closeEdit() {
      (this.edit.image = ""),
        (this.edit.title = ""),
        (this.edit.desc = ""),
        (this.image_string = "");
      this.dialog3 = false;
    },
    closeAddNewsDialog() {
      // (this.add.image = ""),
      //   (this.add.title = ""),
      //   (this.add.desc = ""),
      this.dialog = false;
      this.$refs.addNewsForm.reset()
      this.image_string = ""
      
    },
    async showlist() {
      let payload = {
        action: "list",
        user_id: localStorage.getItem("userId"),
      };
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_news",
        payload
      );
      console.log("newslist data", respo.data.data);
      this.Newses = respo.data.data;
    },
    onChangeEdit(e) {
      if (e === undefined) {
        this.edit.image = "";
        this.profile_im = "";
      } else {
        if (e.size < 5242880) {
          let image_string = this.image_string;

          let reader = new FileReader();
          reader.onloadend = (image_string) => {
            this.edit.image = reader.result;
            this.profile_im = reader.result;
          };
          reader.readAsDataURL(image_string);
        } else {
          this.edit.image = "";
          this.profile_im = "";
        }
      }
    },

    onChange(e) {
      if (e === undefined) {
        this.add.image = "";
        this.profile_im = "";
      } else {
        if (e.size < 5242880) {
          let image_string = this.image_string;

          let reader = new FileReader();
          reader.onloadend = (image_string) => {
            this.add.image = reader.result;
            this.profile_im = reader.result;
          };
          reader.readAsDataURL(image_string);
        } else {
          this.add.image = "";
          this.profile_im = "";
        }
      }
    },

    async submitForm() {
      this.error = false;
      this.loading = true;

      // addNewsForm
      this.add.user_id = localStorage.getItem("userId");
      this.add.action = "add";
      // if (
      //   this.add.title === "" ||
      //   this.add.desc === "" ||
      //   this.add.desc.length < 120 ||
      //   this.add.image === ""
      // ) {
      //   if (this.add.desc.length < 120) {
      //     this.errorMessage =
      //       "Minimum 120 character requirement for description";
      //     this.error = true;
      //     setTimeout(() => {
      //       this.error = false;
      //       this.loading = false;
      //     }, 2000);
      //   } else {
      //     this.errorMessage = "please fill all mandatory field";
      //     this.error = true;
      //     setTimeout(() => {
      //       this.error = false;
      //       this.loading = false;
      //     }, 2000);
      //   }
      if (!this.$refs.addNewsForm.validate()) {
        setTimeout(() => {
          this.loading = false;
        }, 2000);
      } else {
        let resp = await this.$axios.post(
          "trainingInstituteApi/manage_news",
          this.add
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.error = true;
          this.errorMessage = resp.data.message;
          // this.loading = false;
          setTimeout(() => (this.loading = false), 2000);
        } else if (resp.data.result === 1) {
          this.error = false;
          this.showlist();
          this.$refs.addNewsForm.reset();
          this.success = true;
          setTimeout(() => {
            this.loading = false;
            this.dialog = false;
            // this.add = {
            //   action: "",
            //   news_id: "",
            //   user_id: "",
            //   image: "",
            //   title: "",
            //   desc: "",
            // };
            this.image_string = "";
          }, 2000);
        }
      }
    },
    openModal() {
      this.dialog = true;
      // this.edit = "";
      this.error = false;
      this.success = false;
      // this.add = {
      //   action: "",
      //   news_id: "",
      //   user_id: "",
      //   image: "",
      //   title: "",
      //   desc: "",
      // };
    },
    deleteModal(news) {
      this.dialog2 = true;
      this.deleteId = news.news_id;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        news_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_news",
        params
      );
      console.log("the deletion api", res.data);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.showlist();

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    openModal1(id) {
      let news = this.Newses.find((n) => n.news_id === id);
      console.log("news53534", news);
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.errorMessage = "";
      this.add.title = "";
      this.add.desc = "";
      this.add.desc = "";
      this.edit.news_id = id;
      this.edit.title = news.title;
      this.edit.desc = news.desc;
      this.profile_im = news.image;
      this.deleteId = news.news_id;
      this.index = news;
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      // if (this.profile_im !== "" && this.image_string === "") {
      //   this.edit.image = "";
      // }
      // if (
      //   this.edit.title === "" ||
      //   this.edit.desc === "" ||
      //   this.edit.desc.length < 120
      // ) {
      //   if (this.edit.desc.length < 120) {
      //     this.error = true;
      //     this.errorMessage =
      //       "Minimum 120 character requirement for description";

      //     setTimeout(() => {
      //       this.loading = false;
      //       this.error = false;
      //     }, 2000);
      //   } else {
      //     this.error = true;
      //     this.errorMessage = "Please fill all mandatory field";

      //     setTimeout(() => {
      //       this.loading = false;
      //       this.error = false;
      //     }, 2000);
      //   }
      if (this.edit.image === "" || this.edit.image === null) {
       
        this.newsEditImageRule = [];
        if (!this.$refs.editNewsForm.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 2000);
        } else {
          let respo = await this.$axios.post(
            "trainingInstituteApi/manage_news",
            this.edit
          );
          if (respo.data.result === 0) {
            this.error = true;
            this.errorMessage = respo.data.message;

            setTimeout(() => {
              this.loading = false;
              this.error = false;
            }, 2000);
            // setTimeout(() => (this.dialog3 = false), 2000);
          } else if (respo.data.result === 1) {
            this.Edited = true;
            this.edit.image = "";
            this.image_string = "";
            this.showlist();
            setTimeout(() => {
              this.loading = false;
              this.dialog3 = false;
              this.Edited = false;
              this.$refs.editNewsForm.reset();
            }, 2000);
          } else {
          }
        }
      } else {
        
        this.newsEditImageRule = [(v) =>
          (v && v.size <= 5242880) ||
          "Image size must be less than or equal 5 Mb"];
        if (!this.$refs.editNewsForm.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 2000);
        } else {
          let respo = await this.$axios.post(
            "trainingInstituteApi/manage_news",
            this.edit
          );
          if (respo.data.result === 0) {
            this.error = true;
            this.errorMessage = respo.data.message;

            setTimeout(() => {
              this.loading = false;
              this.error = false;
              this.newsEditImageRule =[]
            }, 2000);
            // setTimeout(() => (this.dialog3 = false), 2000);
          } else if (respo.data.result === 1) {
            this.Edited = true;
            this.edit.image = "";
            this.image_string = "";
            
            this.showlist();
            setTimeout(() => {
              this.loading = false;
              this.dialog3 = false;
              this.Edited = false;
              this.$refs.editNewsForm.reset();
              this.newsEditImageRule =[]
            }, 2000);
          } else {
            this.newsEditImageRule =[]
          }
        }
      }
    },
  },
};
</script>

<style scoped>
a.btn {
  margin: 0px 4px;
  top: -30px;
  bottom: 0%;
  left: 785px;
  right: 0%;
  position: relative;
}

.edit-del {
  /* top: -68px;
  bottom: 0px;
  left: 638px;
  right: 0px;
  position: relative; */
  top: 0px;
  bottom: 0px;
  left: 638px;
  right: 0px;
  position: absolute;
}
.ion-trash-b:before {
  content: "\f253";
  top: 4px;
  left: 35px;
  position: absolute;
}

/* .box {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: sticky;
} */
.whole {
  max-block-size: 150px;
}

.box[data-v-11db3e48] {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 140px;
  width: 120px;
  position: sticky;
}
.py-5 {
  left: 15px;
  align-self: start;
}
.side {
  left: 5%;
  position: relative;
}
</style>
