<template>
  <div id="placement">
    <div class="bx">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2 mt-0">Placement</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <div
          v-for="placement in Placements"
          :key="placement.placement_id"
          class="mb-2"
        >
          <v-card class="py-2 px-2">
            <v-row >
              <v-col md="3">
                <img
                      style="
                        width: 245px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      :src="placement.image"
                    />
                <!-- <v-img :src="placement.image" width="280px" height="200px"></v-img> -->
              </v-col>
              <v-col md="6" class="side">
                <v-row 
                  ><h4> Name: {{ placement.name }}</h4></v-row
                >
                <v-row 
                  ><h4>Company: {{ placement.company }}</h4></v-row
                >
                <v-row 
                  ><h4> Designation: {{ placement.designation }}</h4></v-row
                >
                <v-row >
                  <h4>Placement Date: {{ placement.placement_date }}</h4></v-row
                >
                <v-row 
                  ><h4>Description: {{ placement.message }}</h4></v-row
                >
              </v-col>
              <v-col md="3" class="text-right" align-self="center">
                <a @click.prevent="openModal1(placement)">
                  <v-icon>mdi-pencil</v-icon>
                </a>
                <a @click.prevent="deleteModal(placement)">
                  <v-icon>mdi-delete</v-icon>
                </a>
              </v-col>
            </v-row>
          </v-card>
        </div>
      </v-container>
    </div>

    <v-row justify="center">
      <v-dialog v-model="calenderedit" width="400">
        <div class="col-md-12 form-group">
          <v-date-picker
            id="datepicker-lg"
            size="lg"
            locale="en"
            v-model="edit.placement_date"
            dense
            filled
            :rules="[(v) => !!v || 'Date is required']"
            label="Placement date *"
            required
          ></v-date-picker>
        </div>
        <v-btn class="btn1" @click="calenderedit = false"> Save </v-btn>
      </v-dialog>
      <v-dialog v-model="calender" width="400">
        <div class="col-md-12 form-group">
          <v-date-picker
            id="datepicker-lg"
            size="lg"
            locale="en"
            v-model="edit.placement_date"
            dense
            filled
            :rules="[(v) => !!v || 'Date is required']"
            label="Placement date *"
            required
          ></v-date-picker>
          <v-btn class="btn1" @click="calender = false"> Save </v-btn>
        </div>
      </v-dialog>
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Add Placements
        </v-card-title>
        <v-card-text>
          <v-form ref="addplacementfile">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.name"
                dense
                filled
                :rules="nameRule"
                @focus="nameR"
                @blur="cancelNameR"
                label="Name*"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.company"
                dense
                filled
                :rules="companyRule"
                @focus="companyR"
                @blur="cancelCompanyR"
                label="Company Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.designation"
                dense
                filled
                :rules="designationRule"
                @focus="designationR"
                @blur="cancelDesignationR"
                label="Designation *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
              type="date"
                dense
                filled
                :rules="dateRule"
                @focus="dateR"
                @blur="cancelDateR"
                :date-format="(placement_date) =>new Date(placement_date).toDateString()"
                label="Placement Date *"
                v-model="placement_date"
              ></v-text-field>
            </div>
            <!-- <div class="col-md-0 form-group">
                        <v-date-picker
                        v-model="edit.placement_date"
                        dense
                        filled
                        label="Date of Placement"
                        required
                        >
                        </v-date-picker>
                        </div> -->
            <!-- <div>
                          <v-text-field
                          v-model="edit.placement_date"
                          label="Placement Date"
                          filled
                          dense
                          required
                          ></v-text-field>
                      </div> -->

            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.message"
                dense
                filled
                :rules="commentRule"
                @focus="commentR"
                @blur="cancelCommentR"
                label="Comment / Message *"
                required
                counter
                maxlength="200"
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-col md="10">
              <v-file-input
                ref="image_string"
                v-model="image_string"
                v-on:change="onChange"
                prepend-icon="mdi-camera"
                dense
                filled
                :rules="imageRule"
                @focus="imageR"
                @blur="cancelImageR"
                label="Upload Image *"
              >
              </v-file-input>
              </v-col>
              <v-col md="2" v-if="profile_im">
                <img
                  style="
                                  width: 50px;
                                  height: 50px;
                                  object-fit: cover;
                                  border-radius: 4px;
                                "
                  :src="profile_im"
                />
              </v-col>
            </div>
            <!-- <div class="col-md-12 form-group">
                        <v-file-input
                      ref="image_string"
                        v-model="imaze_string"
                      v-on:change="onFileChanged"     
                        dense
                        filled
                        show-size
                        label="Upload Image"
                        >
                        </v-file-input>
                        </div> -->
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text-prominent-type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="Edited"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    text
                    type="success"
                    align="left"
                  >
                    Placement Added Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>

            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  rounded
                  dark
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  @click="submitForm"
                >Save
                </v-btn>
                <v-btn
                  rounded
                  dark
                  color="red"
                  @click="closeAddPlacementDialog"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Edit Placements
        </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.name"
                dense
                filled
                :rules="nameRule"
                @focus="nameR"
                @blur="cancelNameR"
                label="Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.company"
                dense
                filled
                :rules="companyRule"
                @focus="companyR"
                @blur="cancelCompanyR"
                label="Company Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.designation"
                dense
                filled
                :rules="designationRule"
                @focus="designationR"
                @blur="cancelDesignationR"
                label="Designation *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="placement_date"
                dense
                filled
                :rules="dateRule"
                type="date"
                @focus="dateR"
                @blur="cancelDateR"
                :date-format="(placement_date) =>new Date(placement_date).toDateString()"
                label="Placement date *"
                required
              >
              </v-text-field>
            </div>
            <!-- <div class="col-md-0 form-group">
                          <v-date-picker
                          v-model="edit.placement_date"
                          dense
                          filled
                          label="Date of Placement"
                          required
                          >
                          </v-date-picker>
                          </div> -->
            <!-- <div>
                            <v-text-field
                            v-model="edit.placement_date"
                            label="Placement Date"
                            filled
                            dense
                            required
                            ></v-text-field>
                        </div> -->

            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.message"
                dense
                filled
                :rules="commentRule"
                @focus="commentR"
                @blur="cancelCommentR"
                label="Comment / Message *"
                required
                counter
                maxlength="200"
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-col md="10">
              <v-file-input
                ref="image_string"
                v-model="image_string"
                v-on:change="onChange"
                prepend-icon="mdi-camera"
                dense
                filled
                :rules="imageRule"
                @focus="imageR"
                @blur="cancelImageR"
                label="Upload Image *"
                required
              >
              </v-file-input>
              </v-col>
              <v-col md="2" v-if="profile_im">
                <img
                  style="
                                  width: 50px;
                                  height: 50px;
                                  object-fit: cover;
                                  border-radius: 4px;
                                "
                  :src="profile_im"
                />
              </v-col>
            </div>
            <!-- <div class="col-md-12 form-group">
                      <v-file-input
                    ref="image_string"
                      v-model="imaze_string"
                    v-on:change="onFileChanged"     
                      dense
                      filled
                      show-size
                      label="Upload Image"
                      >
                      </v-file-input>
                      </div> -->
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text-prominent-type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="Edited"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    text-type="success"
                    align="left"
                    style="backgroundcolor=green"
                  >
                    Placement Edited Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  @click="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog3 = false"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "Employment",
  data() {
    return {
      calender: false,
      calenderedit: false,
      edit: {
        action: "",
        placement_id: "",
        user_id: "",
        image: "",
        name: "",
        company: "",
        designation: "",
        placement_date: "",
        message: "",
      },
      dialog3: false,
      profile_im: "",
      image: "",
      image_string: "",
      pro_img: "",
      dialog: false,
      dialog2: false,
      deleteId: "",
      error: false,
      success: false,
      loading: false,
      valid: true,
      user_id: "",
      Placements: "",
      errorMessage: "Error Occured",
      images: "",
      index: "",
      index1: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      Edited: false,
      placement_date:"",
      nameRule:[],
      companyRule:[],
      designationRule:[],
      dateRule:[],
      commentRule:[],
      imageRule:[]
    };
  },
  mounted() {
    this.showlist();
  },
  methods: {
    nameR(){
      this.nameRule=[(v) => !!v || 'Name is required']
    },
    cancelNameR(){
      this.nameRule=[]
    }, 

    companyR(){
      this.companyRule=[(v) => !!v || 'Company is required']
    },
    cancelCompanyR(){
      this.companyRule=[]
    },
    designationR(){
      this.designationRule=[(v) => !!v || 'Designation is required']
    },
    cancelDesignationR(){
      this.designationRule=[]
    },

    dateR(){
      this.dateRule=[(v) => !!v || 'Date is required']
    },
    cancelDateR(){
      this.dateRule=[]
    },

    commentR(){
      this.commentRule=[(v) => !!v || 'Comment is required']
    },
    cancelCommentR(){
      this.commentRule=[]
    },

    imageR(){
      this.imageRule=[(v) => !!v || 'Image is required']
    },
    cancelImageR(){
      this.imageRule=[]
    },
    async showlist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let payload={
        action:"list",
        user_id:localStorage.getItem("userId")
      }

      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_placement",payload);
      console.log("list data", respo);
      this.Placements = respo.data.data;
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.image = "";
        this.profile_im = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.image = reader.result;
          this.profile_im = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      this.edit.placement_date=this.placement_date
      //       const formData = new FormData()
      //   formData.append('image', this.edit.image)
      //    formData.append('name', this.edit.name)
      // formData.append('company', this.edit.company)
      // formData.append('designation', this.edit.designation)
      // formData.append('placement_date', this.edit.placement_date)
      // formData.append('message', this.edit.message)
      // formData.append('user_id', this.edit.user_id)
      // formData.append('action', this.edit.action)

       if(this.edit.image == "" ||
        this.edit.name == "" ||
        this.edit.company == "" ||
        this.edit.designation == "" ||
        this.edit.placement_date == "" ||
        this.edit.message == ""){
          if(this.edit.image == ""){
            this.imageR()
          }
          if(this.edit.name == ""){
            this.nameR()
          }
          if(this.edit.company == ""){
            this.companyR()
          }
          if(this.edit.designation == ""){
            this.designationR()
          }
          if(this.edit.placement_date == ""){
            this.dateR()
          }
          if(this.edit.message == ""){
            this.commentR()
          }
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        }else{
          this.cancelNameR()
          this.cancelCompanyR()
          this.cancelDesignationR()
          this.cancelDateR()
          this.cancelCommentR()
          this.cancelImageR()

      let resp = await this.$axios.post(
        "trainingInstituteApi/manage_placement",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.errorMessage = resp.data.message
        this.loading = false;
        setTimeout(() => (this.error = false), 2000);
      } else if (resp.data.result === 1) {
        this.error = false;
        this.success = true;
        this.loading=false
        setTimeout(() => {this.dialog = false
       this.success = false
       this.placement_date=""
      this.profile_im=""}, 2000);
        this.showlist();
        this.$refs.addplacementfile.reset()
      }
        }
    },
    //  Changed (e) {
    //     if (e === undefined) {
    //       this.edit.image = "";

    //     } else {
    //       let image_string = this.image_string;

    //       let reader = new FileReader();
    //       reader.onloadend = (image_string) => {
    //         this.edit.image = reader.result;

    //       };
    //       reader.readAsDataURL(image_string);
    //     }
    //   },

    deleteModal(placement) {
      this.dialog2 = true;
      this.deleteId = placement.placement_id;
      this.index = placement;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        placement_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_placement",
        params
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.showlist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    openModal() {
      this.dialog = true;
      this.success = false;
      this.error = false;
      this.Edited = false;
      // this.edit={
      //   action: "",
      //   placement_id: "",
      //   user_id: "",
      //   image: "",
      //   name: "",
      //   company: "",
      //   designation: "",
      //   placement_date: "",
      //   message: "",
      // }
      
    },
    closeAddPlacementDialog(){
      this.dialog = false
      this.$refs.addplacementfile.reset()
      this.placement_date=""
      this.profile_im=""
    },
    closeEditlacementDialog(){
      this.dialog3 = false
      this.$refs.file.reset()
      this.edit= {
        action: "",
        placement_id: "",
        user_id: "",
        image: "",
        name: "",
        company: "",
        designation: "",
        placement_date: "",
        message: "",
      },
      this.placement_date=""
      this.profile_im=""
    },
    async openModal1(placement) {
      this.dialog3 = true;
      this.success = false;

      this.error = false;
      this.errorMessage = "";
      this.profile_im = placement.image;
        this.edit.name=placement.name
        this.edit.company=placement.company
        this.edit.designation=placement.designation
        this.edit.placement_date=placement.placement_date
        this.edit.message=placement.message
        this.edit.placement_id=placement.placement_id
        this.placement_date=placement.placement_date
      this.deleteId = placement.placement_id;
      this.index1 = placement;
      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    calen() {
      this.calender = true;
    },
    calenedit() {
      this.calenderedit = true;
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      this.edit.placement_date=this.placement_date
      if(this.profile_im != "" && this.edit.image == ""){
        this.edit.image == ""
      }

      if(
        this.edit.name == "" ||
        this.edit.company == "" ||
        this.edit.designation == "" ||
        this.edit.placement_date == "" ||
        this.edit.message == ""){
          if(this.edit.name == ""){
            this.nameR()
          }
          if(this.edit.company == ""){
            this.companyR()
          }
          if(this.edit.designation == ""){
            this.designationR()
          }
          if(this.edit.placement_date == ""){
            this.dateR()
          }
          if(this.edit.message == ""){
            this.commentR()
          }
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        }else{
          this.cancelNameR()
          this.cancelCompanyR()
          this.cancelDesignationR()
          this.cancelDateR()
          this.cancelCommentR()
          this.cancelImageR()
      let respo = await this.$axios.post(
        "/trainingInstituteApi/manage_placement",
        this.edit
      );
      if (respo.data.result === 0) {
        this.error = true;
        this.errorMessage = respo.data.message
        this.loading = false;
        setTimeout(() => (this.error = false), 2000);
      } else if (respo.data.result === 1) {
        this.showlist();
        this.Edited = true;
        setTimeout(() => {this.dialog3 = false
        this.Edited = false
        }, 2000);
        this.$refs.file.reset()
        this.edit= {
        action: "",
        placement_id: "",
        user_id: "",
        image: "",
        name: "",
        company: "",
        designation: "",
        placement_date: "",
        message: "",
      },
      this.placement_date=""
      this.profile_im=""

        this.loading = false;
      } else {
      }
        }
    },
  },
};
</script>

<style scoped>
a.btn {
  margin: 0 4px;
  top: -49px;
  bottom: 0px;
  left: 750px;
  right: 0px;
  position: relative;
}

.card {
  top: 0px;
  bottom: 0px;
  height: 180px;
  width: 1000px;
  position: relative;
}
.edit-del {
  top: -90px;
  bottom: 0px;
  left: 540px;
  right: 0px;
  position: relative;
}
.side {
  left: 9%;
  position: relative;
}
</style>
