<!-- <template>
<div>
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
                <h3>News</h3>
        </div>
         <h4 class="head2"><a @click.prevent="openModal" class="btn" style="margin: 0 4px"
            >Add+ <i class="ion-edit"></i></a></h4>
        </div>
         <div class="bx">
           <div v-for="news in Newses" :key="news.news_id">
  <v-card >
    <v-row no-gutters>
      <v-col md="3">
        <Img src="news.image" alt="" class="box" />
      </v-col>
      <v-col md="6">
        <v-card-body title="Horizontal Card">
          <h3>{{ news.title }}</h3>
          <v-card-text>
            
          {{ news.desc }}
          </v-card-text>
            <a @click.prevent="deleteModal" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
                  <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
        </v-card-body>
      </v-col>
    </v-row>
  </v-card>
  <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff">
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Or Add News</v-col>
        </v-card-title>
       <v-form>
        <div class="updateNews">
        <div class="">
          <div class="col-md-12 form-group">
          <v-text-field
          v-model="edit.title"
            dense
            filled
            label="News Title"
            required
      >
          </v-text-field>
          </div>
         
         
          <div class="col-md-12 form-group">
          <v-text-field
          v-model="edit.desc"
          dense
          filled
          label="Description"
          required
          >
          </v-text-field>
          </div>
         
        <div class="col-md-12 form-group">
        <v-file-input
        v-model="edit.image"
        dense
        filled
        show-size
        label="Upload Image"
        >
        </v-file-input>
        </div>
        
        <v-col md="12" lg="12" xs="12" xsm="12">
          <div
          v-if="error"
          class="form-group fadein col-md-12"
          style="margin-bottom: 15px"
          >
          <v-alert class="" text-prominent-type="error">
            {{errorMessage}}
          </v-alert>
          </div>
        <div class="form-group fadein col-md-12"
        v-if="success"
        style="margin-bottom: 15px"
        >
        <div class="row">
          <v-alert text-type="success" align="left" style="color= green">
            News Added Successfully
          </v-alert>
        </div>
        </div>
          </v-col>
  <div class="col-md-12" style= "display:flex; align-items :center">
    <v-btn
    class="btn"
    :disabled="!valid || loading"
    color="#000"
    type="submit"
    @click.prevent="submitForm"
    >
    <span v-if="!loading" style="color: #fff">Save </span>
    <template v-else>
<span > Processing...</span>
    </template>
    </v-btn>
     <v-btn
                  class="btn btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
  </div>

          </div>
        </div>
       </v-form>
      </v-card>
      </v-dialog>
</div>

                  
   </div>
      </div>
    </div>
  </div>
</div>
        </template>
        <script>
        export default {
         name: "News", 
         data() {
           return { 
            edit: {
              action: "",
              user_id: "",
              news_id: "",
              title: "",
              desc: "",
              image: "",
            },
            Newses: "",
            dialog: false,
           };
         },
         mounted() {
           this.getNews();
         },
         methods: {
          async getNews() {
            this.edit.action = "list"
this.edit.user_id =  localStorage.getItem("userId")
let respo = await this.$axios.post('trainingInstituteApi/manage_news', this.edit)
console.log("Newses data", respo)
this.Newses = respo.data.data;
           }
         },
         openModal() {
this.dialog = true;
         }
        }
        </script>
        -->
<template>
  <div>
    <div class="bx" id="product">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2 mt-0">Products</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <div v-for="news in Newses" :key="news.news_id">
          <v-card class="card mb-2">
            <v-row class="no-gutters">
              <v-col md="2">
                <img :src="news.image" alt class="box" />
              </v-col>
              <v-col md="8">
                <v-row class="py-1"
                  ><h4>{{ news.title }}</h4></v-row
                >
                <v-row class="py-1"
                  ><p>{{ news.desc }}</p></v-row
                >
              </v-col>
              <v-col class="text-center" align-self="center">
                <a @click.prevent="openModal1(news)">
                  <v-icon>mdi-pencil</v-icon>
                </a>
                <a @click.prevent="deleteModal(news)">
                  <v-icon>mdi-delete</v-icon>
                </a>
              </v-col>
            </v-row>
          </v-card>
        </div>
        <div>
          <!-- <div class="col-md-12">
              <h4 class="head2">
              News
              <a @click.prevent="openModal" class="btn" style="margin: 0 4px"
                >Add +</a
              >
                      </h4>
                    </div>
                <div class="bx" >
                  <div v-for="news in Newses" :key="news.news_id">
                                    <v-col md="3">
                             <img src="news.image" alt="" class="box" />
                          </v-col>
                          <div class="details">
                            <h6>{{ news.title }}
                              <a @click.prevent="deleteModal(news)" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
                  <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
                            </h6>
                       
                            <p>{{news.desc}}</p>
                          
                          </div>
                        </div> -->
        </div>
      </v-container>
      <v-row justify="center">
        <v-dialog v-model="dialog2" persistent max-width="500">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-text
              >Do you really want to delete this ? This process cannot be
              undone.</v-card-text
            >
            <v-card-actions>
              <v-btn
                color="green darken-1"
                text
                @click="dialog2 = false"
                class="btn2"
                >Cancel</v-btn
              >
              <v-btn
                color="black darken-1"
                text
                :loading="deleteProcessing"
                :disabled="deleteProcessing"
                @click.prevent="deleteItem()"
                class="btn2"
                >Yes, delete it!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>

      <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline">
            Add Products
          </v-card-title>
          <v-card-text>
            <v-form ref="file">
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="Product Title *"
                  required
                >
                </v-text-field>
              </div>
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.desc"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Description is required']"
                  label="Product Description *"
                  required
                >
                </v-text-field>
              </div>

              <div class="col-md-12 form-group">
                <v-file-input
                  ref="image_string"
                  v-model="image_string"
                  v-on:change="onChange"
                  prepend-icon="mdi-camera"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Image is required']"
                  label="Product Image *"
                  required
                >
                </v-file-input>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <v-alert v-if="error" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
                <v-alert v-if="success" text type="success" align="left">
                  Product Added Successfully.
                </v-alert>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialog3"
        scrollable
        max-width="600"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline">
            Edit Product
          </v-card-title>
          <v-card-text>
            <v-form ref="file">
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="Product Title *"
                  required
                >
                </v-text-field>
              </div>
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.desc"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Description is required']"
                  label="Product Description *"
                  required
                >
                </v-text-field>
              </div>

              <div class="col-md-12 form-group">
                <v-file-input
                  ref="image_string"
                  v-model="image_string"
                  v-on:change="onChange"
                  prepend-icon="mdi-camera"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Image is required']"
                  label="Product Image *"
                  required
                >
                </v-file-input>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div class="form-group fadein" v-if="Edited">
                  <div class="row">
                    <v-alert text type="success" align="left">
                      Product Edited Successfully.
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog3 = false"
                  >Cancel</v-btn
                >
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      edit: {
        action: "",
        product_id: "",
        user_id: "",
        image: "",
        title: "",
        desc: "",
      },
      dialog: false,
      dialog3: false,
      news_id: "",
      error: false,
      success: false,
      loading: false,
      valid: true,
      user_id: "",
      Newses: "",
      errorMessage: "",
      images: "",
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      Edited: false,
      image_string: "",
    };
  },

  mounted() {
    this.showlist();
  },
  methods: {
    async showlist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "/trainingInstituteApi/manage_product",
        this.edit
      );
      console.log("newslist data", respo);
      this.Newses = respo.data.data;
    },

    onChange(e) {
      if (e === undefined) {
        this.edit.image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },

    async submitForm() {
      this.error = false;
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";

      let resp = await this.$axios.post(
        "/trainingInstituteApi/manage_product",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.errorMessage = "Please fill the mandatory fields";
        this.loading = false;
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        // this.edit.action = "list";
        // this.edit.news_id = this.news_id;
        // let res = await this.$axios.post(
        //   "trainingInstituteApi/manage_news",
        //   this.edit
        // );
        // console.log("news list data", res);
        // this.Newses = res.data.data;
        this.error = false;
        this.success = true;

        setTimeout(() => (this.dialog = false), 2000);
        this.showlist();
        this.$refs.file.reset();
        this.loading = false;
      }
    },
    openModal() {
      this.dialog = true;
      this.error = false;
      this.success = false;
    },
    deleteModal(news) {
      this.dialog2 = true;
      this.deleteId = news.product_id;
      this.index = news;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      // let params = {
      //   action: "delete",
      //   procut_id: this.deleteId,
      //   user_id: localStorage.getItem("userId")
      // };
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "delete";
      this.edit.product_id = this.deleteId;
      let res = await this.$axios.post(
        "/trainingInstituteApi/manage_product",
        this.edit
      );
      console.log("the deletion api", res.data);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.showlist();

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    async openModal1(news) {
      this.dialog3 = true;
      this.success = false;

      this.error = false;
      this.errorMessage = "";

      this.edit = news;
      this.deleteId = news.product_id;
      this.index = news;
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      this.edit.product_id = this.deleteId;
      let respo = await this.$axios.post(
        "/trainingInstituteApi/manage_product",
        this.edit
      );
      if (respo.data.result === 0) {
        this.error = true;
        this.errorMessage = "Please fill the mandatory fields";
        this.loading = false;
        // setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.Edited = true;
        setTimeout(() => (this.dialog3 = false), 2000);
        this.showlist();
        this.$refs.file.reset();
        this.loading = false;
      } else {
      }
    },
  },
};
</script>

<style scoped>
a.btn {
  margin: 0px 4px;
  top: -30px;
  bottom: 0%;
  left: 785px;
  right: 0%;
  position: relative;
}

.edit-del {
  /* top: -68px;
  bottom: 0px;
  left: 638px;
  right: 0px;
  position: relative; */
  top: 0px;
  bottom: 0px;
  left: 638px;
  right: 0px;
  position: absolute;
}
.ion-trash-b:before {
  content: "\f253";
  top: 4px;
  left: 35px;
  position: absolute;
}

/* .box {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: sticky;
} */
.whole {
  max-block-size: 150px;
}

.box[data-v-11db3e48] {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 140px;
  width: 120px;
  position: sticky;
}
</style>
