<template>
  <div>
    <div class="bx mb-2" id="service">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h3 class="head2">Services</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>

        <div
          v-for="facility in facilities"
          :key="facility.facility_id"
          style="padding: 5px"
        >
          <v-card class="card">
            <v-row class="no-gutters">
              <v-col md="2" align-self="center" class="py-2">
                <img
                  style="
                    width: 170px;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 5px;
                  "
                  :src="facility.image"
                />
                <!-- <v-img :src="news.image" alt class="box" ></v-img> -->
              </v-col>
              <v-col md="8" class="py-5 pl-15">
                <v-row>
                  <v-col class="pl-10" 
                    ><h4 style="font-weight:bold">Title: {{ facility.title }}</h4></v-col
                  ></v-row
                >
                <v-row>
                  <v-col class="pl-2"
                    ><p>Description: {{ facility.desc }}</p></v-col
                  >
                </v-row>
              </v-col>
              <v-col md="2" class="text-right" align-self="center">
                <a @click.prevent="openService(facility)">
                  <v-icon>mdi-pencil</v-icon>
                </a>
                <a @click.prevent="deleteModal(facility)">
                  <v-icon>mdi-delete</v-icon>
                </a>
              </v-col>
            </v-row>
          </v-card>
        </div>
      </v-container>
    </div>
    <!-- <div class="bx mb-2" id="solution">
      <v-container>
        <v-row class="mb-2">
          <v-col class="text-left"><h4 class="head2">Solutions</h4></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal1"
              rounded
              color="grey darken-4"
              dark
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <v-row
          class="py-2"
          v-for="facility in sollutions"
          :key="facility.facility_id"
        >
          <p>{{ facility.desc }}</p>
          <v-col class="text-right">
            <a @click.prevent="openSolution(facility)">
              <v-icon>mdi-pencil</v-icon>
            </a>
            <a @click.prevent="deleteSolution(facility)">
              <v-icon>mdi-delete</v-icon>
            </a>
          </v-col>
        </v-row>
      </v-container>
    </div> -->
    <v-row justify="center">
      <v-dialog v-model="deletedialog" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="deletedialog = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="delSol"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Services </v-card-title>
        <v-card-text>
          <v-form ref="addService">
            <v-row>
              <v-col md="12">
                <v-text-field
                  v-model="addservice.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="Service Title *"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col md="12">
                <v-textarea
                  v-model="addservice.desc"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Description is required']"
                  label="Service Description *"
                  required
                  counter
                  maxlength="250"
                >
                </v-textarea>
              </v-col>
              <v-col md="9">
                <v-file-input
                  v-on:change="onImageUpload"
                  v-model="img_string"
                  show-size
                  dense
                  filled
                  required
                  label="Service Image*"
                  accept="image/*"
                ></v-file-input>
              </v-col>
              <v-col md="3">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
              </v-col>
            </v-row>
          </v-form>
          <v-alert v-if="error" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Service Added Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              :disabled="loading"
              :loading="loading"
              rounded
              dark
              color="grey darken-4"
              @click="submitForm"
              >Save
            </v-btn>
            <v-btn rounded dark color="red" @click="closeServiceDialog"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="editservice"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Services </v-card-title>
        <v-card-text>
          <v-form ref="editServices">
            <v-row>
              <v-col md="12">
                <v-text-field
                  v-model="editServi.title"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Title is required']"
                  label="Service Title *"
                  required
                >
                </v-text-field>
              </v-col>
              <v-col md="12">
                <v-textarea
                  v-model="editServi.desc"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Description is required']"
                  label="Service Description *"
                  required
                  counter
                  maxlength="250"
                >
                </v-textarea>
              </v-col>
              <v-col md="9">
                <v-file-input
                  v-on:change="onImageUploadUpdate"
                  v-model="imga_string"
                  show-size
                  dense
                  filled
                  label="Service Image"
                  accept="image/*"
                ></v-file-input>
              </v-col>
              <v-col md="3">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
              </v-col>
            </v-row>
          </v-form>
          <v-alert v-if="error" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Service Edited Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              rounded
              dark
              :disabled="loading"
              :loading="loading"
              color="grey darken-4"
              @click="submiteditserviceForm"
              >Save
            </v-btn>
            <v-btn rounded dark color="red" @click="closeEditServiceDialog"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- <v-dialog
      v-model="dialog4"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Add Solutions
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-text-field
              v-model="edit1.desc"
              dense
              filled
              :rules="[(v) => !!v || 'Description is required']"
              label="Solution Description *"
              required
            >
            </v-text-field>
          </v-form>
          <v-alert v-if="error" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Solution Added Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="!valid || loading"
              color="#000"
              @click="submitsolForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="dialog4 = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <!-- <v-dialog
      v-model="editsolution"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Edit Solutions
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-text-field
              v-model="edit1.desc"
              dense
              filled
              :rules="[(v) => !!v || 'Description is required']"
              label="Solution Description *"
              required
            >
            </v-text-field>
          </v-form>
          <v-alert v-if="error" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Solution Edited Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="!valid || loading"
              color="#000"
              @click="submitsoleditForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="editsolution = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <!-- Experiment -->

    <!-- Experiment -->

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Facilities",
  data() {
    return {
      edit: {
        action: "",
        user_id: "",
        facility_id: "",
        desc: "",
      },
      editservice: false,
      editsolution: false,

      edit1: {
        action: "",
        user_id: "",
        solution_id: "",
        desc: "",
      },
      facilities: "",
      sollutions: "",
      dialog: false,
      error: false,
      dialog3: false,
      success: false,
      loading: false,
      valid: true,
      index: "",
      index1: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      deleteId1: "",
      dialog2: false,
      deletedialog: false,
      dialog4: false,
      addservice: {
        title: "",
        image: "",
        desc: "",
        user_id: "",
      },
      editServi: {
        service_id: "",
        action: "",
        title: "",
        image: "",
        desc: "",
        user_id: "",
      },
      user_id: "",
      img_string: "",
      imga_string: "",
      image: "",
    };
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.facilitylist();
    this.solutionlist();
  },
  methods: {
    closeEditServiceDialog() {
      this.editservice = false;
      this.$refs.editServices.reset();
      this.imga_string = "";
      this.image = "";
    },
    closeServiceDialog() {
      this.dialog = false;
      this.$refs.addService.reset();
      this.img_string = "";
      this.image = "";
    },
    onImageUpload() {
      let img_string = this.img_string;
      let reader = new FileReader();
      reader.onloadend = (image_string) => {
        this.addservice.image = reader.result;
        this.image = reader.result;
      };
      reader.readAsDataURL(img_string);
    },
    onImageUploadUpdate() {
      let img_string = this.imga_string;
      let reader = new FileReader();
      reader.onloadend = () => {
        this.editServi.image = reader.result;
        this.image = reader.result;
      };
      reader.readAsDataURL(img_string);
    },
    async facilitylist() {
      let action = "list";
      let user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_service",
        {
          action: action,
          user_id: user_id,
        }
      );
      console.log("list data", respo);
      this.facilities = respo.data.data;
    },
    openService(facility) {
      this.editservice = true;
      this.success = false;
      this.error = false;
      this.editServi.service_id = facility.service_id;
      this.editServi.title = facility.title;
      this.editServi.desc = facility.desc;
      this.image = facility.image;
      this.deleteId = facility.service_id;
      this.index = facility;
    },
    async submiteditserviceForm() {
      this.loading = true;
      this.editServi.user_id = localStorage.getItem("userId");
      this.editServi.action = "edit";
      if (!this.$refs.editServices.validate()) {
        this.errorMessage = "Please fill mandatory field";
        this.error = true;

        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      } else {
        let respo = await this.$axios.post(
          "trainingInstituteApi/manage_service",
          this.editServi
        );
        if (respo.data.result === 0) {
          this.errorMessage = respo.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.loading = false;
          }, 2000);
        } else if (respo.data.result === 1) {
          this.success = true;
          this.loading = false;
          setTimeout(() => {
            this.editservice = false;
            this.$refs.editServices.reset();
            this.imga_string = "";
            this.image = "";
          }, 2000);
        } else {
        }
      }
    },
    deleteSolution(facility) {
      this.deletedialog = true;
      this.deleteId1 = facility.solution_id;
      this.index1 = facility;
    },
    async delSol() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        solution_id: this.deleteId1,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_solution",
        params
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        setTimeout(() => (this.deletedialog = false), 1500);
        this.deleteProcessing = false;

        this.solutionlist();
      } else {
        (this.deleteError = true), (this.deletedialog = false);
        this.deleteProcessing = false;
      }
    },
    openSolution(facility) {
      this.editsolution = true;
      this.success = false;
      this.error = false;
      this.edit1 = facility;
      this.deleteId = facility.solution_id;
      this.index = facility;
    },
    async submitsoleditForm() {
      this.loading = true;
      this.edit1.user_id = localStorage.getItem("userId");
      this.edit1.action = "edit";
      this.edit1.solution_id = this.deleteId;
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_solution",
        this.edit1
      );
      if (respo.data.result === 0) {
        this.error = true;
        this.errorMessage = "Please fill the field";
        this.loading = false;
        // setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.success = true;
        setTimeout(() => (this.editsolution = false), 2000);
        this.loading = false;
        this.solutionlist();
      } else {
      }
    },
    async solutionlist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "/trainingInstituteApi/manage_solution",
        this.edit
      );
      console.log("list data", respo);
      this.sollutions = respo.data.data;
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.addservice.action = "add";
      this.addservice.user_id = localStorage.getItem("userId");
      if (!this.$refs.addService.validate()) {
        this.errorMessage = "Please fill the mandatory field";
        this.error = true;

        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      } else {
        let resp = await this.$axios.post(
          "trainingInstituteApi/manage_service",
          this.addservice
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.errorMessage = resp.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.loading = false;
          }, 2000);
        } else if (resp.data.result === 1) {
          this.error = false;
          this.success = true;

          setTimeout(() => {
            this.dialog = false;
            this.loading = false;
            this.success = false;
          }, 2000);
          this.facilitylist();
          this.$refs.addService.reset();
          this.img_string = "";
          this.image = "";
        }
      }
    },

    deleteModal(facility) {
      this.dialog2 = true;
      this.deleteId = facility.service_id;
      this.index = facility;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let payload = {
        action: "delete",
        service_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_service",
        payload
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.facilitylist();
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    async openModal(facility) {
      this.dialog = true;
      this.success = false;
      this.error = false;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    openModal1() {
      this.dialog4 = true;
      this.error = false;
      this.success = false;
    },
    //      async solutionlist() {
    //      this.edit.action = "list"
    // this.edit.user_id =  localStorage.getItem("userId")
    // let respo = await this.$axios.post('/trainingInstituteApi/manage_solution', this.edit)
    // console.log("list data", respo)
    //   this.sollutions = respo.data.data;

    //      },
    async submitsolForm() {
      this.loading = true;
      this.$refs.form.validate();
      this.edit1.user_id = localStorage.getItem("userId");
      this.edit1.action = "add";
      let resp = await this.$axios.post(
        "/trainingInstituteApi/manage_solution",
        this.edit1
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.errorMessage = "Please fill the mandatory field";
        this.loading = false;
        // setTimeout(() => (this.dialog4 = false), 2000);
      } else if (resp.data.result === 1) {
        this.success = true;

        setTimeout(() => (this.dialog4 = false), 2000);
        this.solutionlist();
        this.$refs.form.reset();
        this.loading = false;
      }
    },
    //       async openModal1(facility) {
    // this.dialog3= true;
    //  this.success = false;

    //       this.error = false;
    //       this.errorMessage = "";

    //       this.edit = facility;
    //      this.deleteId = facility.facility_id;
    //       this.index = facility;

    //       // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    //      },
    //  async submitEditForm() {
    //     this.edit.user_id = localStorage.getItem('userId');
    //      this.edit.action= "edit";
    //      this.edit.facility_id = this.deleteId;
    //      let respo = await this.$axios.post('trainingInstituteApi/manage_service', this.edit)
    //      if (respo.data.result === 0) {

    //      }
    //      else if (respo.data.result === 1) {
    //         this.dialog3 = false;
    //      }
    //      else {

    //      }
    //    }
  },
};
</script>
<style scoped>
a.btn {
  margin: 0 4px;
  top: 0px;
  bottom: 0px;
  left: 700px;
  right: 0px;
  height: 15%;
  width: 10%;
  position: relative;
}
.ion-trash-b {
  content: "\f253";

  top: 0px;
  bottom: 0px;
  left: 800px;
  right: 0px;
  position: absolute;
}
.ion-edit {
  content: "\f2bf";

  top: 0px;
  bottom: 0px;
  left: 760px;
  right: 0px;
  position: absolute;
}
p {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 35px;
  position: relative;
}
</style>
