<template>
  <div>
    <div class="bx mb-4" id="staff" style="width: 100%; margin-left: 33px">
      <v-container id="staff">
        <v-row style="margin-bottom: 16px">
          <v-col class="text-left"><h3 class="head2">Staff</h3></v-col>
          <v-col class="text-right">
            <v-btn
              @click.prevent="openModal"
              rounded
              color="grey darken-4"
              dark
            >
              Add<v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <div
          class="mb-2"
          v-for="t in Staffs"
          :key="t.trainer_id"
          style="width: 100%"
        >
          <v-card>
            <v-row>
              <v-col md="2" class="text-center ml-3 mt-3" align-self="center">
                <img
                  style="
                    width: 180px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  :src="t.image"
                />
                <!-- <v-img :src="t.image" alt class="box" ></v-img> -->
              </v-col>
              <v-col md="8" class="ml-5 pl-14">
                <v-row>
                  <h3 style="font-weight: bold; font-size:16px">{{ t.name }}</h3></v-row
                >
                <v-row
                  ><h5 style="color: #ff0000; font-size: 15px">
                    {{ t.designation }}
                  </h5></v-row
                >
                <v-row
                  ><p>
                    {{ t.description }}
                  </p></v-row
                >
              </v-col>
              <v-col class="text-center" align-self="center">
                <a @click.prevent="openModal1(t)" v-if="t.is_editable == 'Y'">
                  <v-icon>mdi-pencil</v-icon>
                </a>
                <a @click.prevent="deleteModal(t)">
                  <v-icon>mdi-delete</v-icon>
                </a>
              </v-col>
            </v-row>
            <v-row class="py-1 pl-2">
              <ul class="social">
                <li v-if="t.facebook">
                  <a v-bind:href="t.facebook" target="_blank">
                    <i class="fa fa-facebook" style="background: #485b96"></i>
                  </a>
                </li>
                <li v-else>
                  <a>
                    <i class="fa fa-facebook" style="background: #485b96"></i
                  ></a>
                </li>

                <li v-if="t.twitter">
                  <a v-bind:href="t.twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li v-else>
                  <a>
                    <i class="fa fa-twitter" style="background: #485b96"></i
                  ></a>
                </li>

                <li v-if="t.linkedin">
                  <a v-bind:href="t.linkedin" target="_blank">
                    <i class="fa fa-linkedin" style="background: #167eb7"></i>
                  </a>
                </li>
                <li v-else>
                  <a>
                    <i class="fa fa-linkedin" style="background: #485b96"></i
                  ></a>
                </li>

                <li v-if="t.instagram">
                  <a v-bind:href="t.instagram" target="_blank">
                    <i class="fa fa-instagram" style="background: #e7437f"></i>
                  </a>
                </li>
                <li v-else>
                  <a>
                    <i class="fa fa-instagram" style="background: #485b96"></i
                  ></a>
                </li>

                <li v-if="t.youtube">
                  <a v-bind:href="t.youtube" target="_blank">
                    <i class="fa fa-youtube" style="background: #e7437f"></i>
                  </a>
                </li>
                <li v-else>
                  <a>
                    <i class="fa fa-youtube" style="background: #485b96"></i
                  ></a>
                </li>
              </ul>
            </v-row>
          </v-card>
        </div>
      </v-container>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem()"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="700"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Staff </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="updateNews">
              <div class="">
                <div class="col-md-12">
                  <v-text-field
                    v-model="edit.email"
                    dense
                    filled
                    :rules="emailRules"
                    label="Staff Email *"
                    required
                  >
                  </v-text-field>
                </div>

                <div class="col-md-12">
                  <v-text-field
                    v-model="edit.name"
                    :rules="[(v) => !!v || '']"
                    dense
                    filled
                    label="Staff Name *"
                    required
                  >
                  </v-text-field>
                </div>

                <div class="col-md-12">
                  <v-textarea
                    v-model="edit.description"
                    dense
                    filled
                    :rules="[(v) => !!v || '']"
                    label="Staff Description *"
                    required
                    maxlength="200"
                    counter
                  >
                  </v-textarea>
                </div>

                <div class="col-md-12">
                  <v-text-field
                    v-model="edit.designation"
                    dense
                    filled
                    :rules="[(v) => !!v || '']"
                    label="Staff Designation *"
                    required
                  >
                  </v-text-field>
                </div>

                <div class="col-md-12">
                  <v-row>
                    <v-col md="10">
                      <v-file-input
                        ref="image_string"
                        v-model="image_string"
                        v-on:change="onChange"
                        accept="image/jpeg"
                        dense
                        filled
                        :rules="staff_image_Rule"
                        label="Upload Image *"
                        required
                      >
                      </v-file-input>
                      <v-row
                        ><v-col class="ml-3"
                          ><p style="font-color: #e74c3c">
                            Image Format (.jpeg) / Maximum Size (2 MB)
                          </p></v-col
                        ></v-row
                      >
                    </v-col>
                    <v-col md="2" v-if="profile_im">
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          object-fit: cover;
                          border-radius: 4px;
                        "
                        :src="profile_im"
                      />
                    </v-col>
                  </v-row>
                </div>
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.facebook"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Facebook"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.twitter"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Twitter"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.linkedin"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="linkedin"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.instagram"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Instagram"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.youtube"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Youtube"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >

                <v-col md="12" lg="12" xs="12" xsm="12">
                  <div
                    v-if="error"
                    class="form-group fadein col-md-12"
                    style="margin-bottom: 15px"
                  >
                    <v-alert class="" text type="error">
                      {{ errorMessage }}
                    </v-alert>
                  </div>
                  <div
                    class="form-group fadein col-md-12"
                    v-if="edited"
                    style="margin-bottom: 15px"
                  >
                    <div class="row">
                      <v-alert
                        text
                        type="success"
                        align="left"
                        style="backgroundcolor: green"
                      >
                        Staff Edited Successfully
                      </v-alert>
                    </div>
                  </div>
                </v-col>
                <v-card-actions>
                  <div
                    class="col-md-12"
                    style="display: flex; align-items: center"
                  >
                    <v-btn
                      class="btn1"
                      :disabled="!valid || loading"
                      color="#000"
                      type="submit"
                      form
                      ref="anyName"
                      @click.prevent="submitEditForm"
                    >
                      <span v-if="!loading" style="color: #fff">Save </span>
                      <template v-else>
                        <span> Processing...</span>
                      </template>
                    </v-btn>
                    <v-btn
                      class="btn1 btn-red"
                      style="margin-left: 7px; background-color: red"
                      @click="closeEditStaffdialog"
                      >Cancel</v-btn
                    >
                  </div>
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="700"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Staff </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="updateStaff">
              <div class="row">
                <div class="col-md-12">
                  <v-text-field
                    v-model="add.email"
                    @blur="getStaff()"
                    dense
                    filled
                    :rules="emailRules"
                    label="Staff Email *"
                    required
                  >
                  </v-text-field>
                </div>

                <div class="col-md-12" v-if="readOnly">
                  <v-text-field
                    v-model="add.name"
                    :disabled="readOnly"
                    dense
                    filled
                    label="Staff Name"
                  >
                  </v-text-field>
                </div>
                <div class="col-md-12" v-else>
                  <v-text-field
                    v-model="add.name"
                    dense
                    filled
                    label="Staff Name *"
                    required
                  >
                  </v-text-field>
                </div>
                <div class="col-md-12" v-if="readOnly">
                  <v-textarea
                    v-model="add.description"
                    :disabled="readOnly"
                    dense
                    filled
                    label="Staff Description"
                    maxlength="200"
                    counter
                  >
                  </v-textarea>
                </div>
                <div class="col-md-12" v-else>
                  <v-textarea
                    v-model="add.description"
                    :disabled="description"
                    dense
                    filled
                    label="Staff Description *"
                    required
                    maxlength="200"
                    counter
                  >
                  </v-textarea>
                </div>
                <div class="col-md-12" v-if="readOnly">
                  <v-text-field
                    v-model="add.designation"
                    :disabled="readOnly"
                    dense
                    filled
                    label="Staff Designation"
                  >
                  </v-text-field>
                </div>
                <div class="col-md-12" v-else>
                  <v-text-field
                    v-model="add.designation"
                    :disabled="designation"
                    dense
                    filled
                    label="Staff Designation *"
                    required
                  >
                  </v-text-field>
                </div>

                <div class="col-md-12" v-if="readOnly">
                  <v-row>
                    <v-col md="10">
                      <v-file-input
                        ref="image_string"
                        v-model="image_string"
                        v-on:change="onChangeadd"
                        :disabled="readOnly"
                        accept="image/jpeg"
                        dense
                        filled
                        label="Upload Image"
                      >
                      </v-file-input>
                    </v-col>
                    <v-col md="2" v-if="profile_im">
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          object-fit: cover;
                          border-radius: 4px;
                        "
                        :src="profile_im"
                      />
                    </v-col>
                  </v-row>
                </div>

                <div class="col-md-12" v-else>
                  <v-row>
                    <v-col md="10">
                      <v-file-input
                        ref="image_string"
                        v-model="image_string"
                        v-on:change="onChangeadd"
                        :rules="staff_image_Rule"
                        accept="image/jpeg"
                        dense
                        filled
                        label="Upload Image *"
                        required
                      >
                      </v-file-input>
                      <v-row
                        ><v-col class="ml-3"
                          ><p style="font-color: #e74c3c">
                            Image Format (.jpeg) / Maximum Size (2 MB)
                          </p></v-col
                        ></v-row
                      >
                    </v-col>
                    <v-col md="2" v-if="profile_im">
                      <img
                        style="
                          width: 50px;
                          height: 50px;
                          object-fit: cover;
                          border-radius: 4px;
                        "
                        :src="profile_im"
                      />
                    </v-col>
                  </v-row>
                </div>
                <div class="col-md-8" v-if="readOnly">
                  <v-text-field
                    v-model="add.facebook"
                    dense
                    type="url"
                    filled
                    label="Facebook"
                    :disabled="readOnly"
                  />
                </div>
                <div class="col-md-8" v-else>
                  <v-text-field
                    v-model="add.facebook"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Facebook"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8" v-if="readOnly">
                  <v-text-field
                    v-model="add.twitter"
                    dense
                    type="url"
                    :disabled="readOnly"
                    filled
                    label="Twitter"
                  />
                </div>
                <div class="col-md-8" v-else>
                  <v-text-field
                    v-model="add.twitter"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Twitter"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8" v-if="readOnly">
                  <v-text-field
                    v-model="add.linkedin"
                    dense
                    :disabled="readOnly"
                    type="url"
                    filled
                    label="linkedin"
                  />
                </div>
                <div class="col-md-8" v-else>
                  <v-text-field
                    v-model="add.linkedin"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="linkedin"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >
                <div class="col-md-8" v-if="readOnly">
                  <v-text-field
                    v-model="add.instagram"
                    dense
                    type="url"
                    filled
                    :disabled="readOnly"
                    label="Instagram"
                  />
                </div>
                <div class="col-md-8" v-else>
                  <v-text-field
                    v-model="add.instagram"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Instagram"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >

                <div class="col-md-8" v-if="readOnly">
                  <v-text-field
                    v-model="add.youtube"
                    dense
                    type="url"
                    filled
                    :disabled="readOnly"
                    label="Youtube"
                  />
                </div>
                <div class="col-md-8" v-else>
                  <v-text-field
                    v-model="add.youtube"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Youtube"
                  />
                </div>
                <v-col md="4"
                  ><p class="mt-4" style="color: red">
                    ex: http://example.com
                  </p></v-col
                >

                <v-col md="12" lg="12" xs="12" xsm="12">
                  <v-alert
                    v-if="error"
                    text
                    type="error"
                    id="error"
                    align="left"
                    class="mt-5"
                  >
                    {{ errorMessage }}
                  </v-alert>
                  <div
                    class="form-group fadein col-md-12"
                    v-if="success"
                    style="margin-bottom: 15px"
                  >
                    <div class="row">
                      <v-alert
                        text
                        type="success"
                        align="left"
                        style="backgroundcolor: green"
                      >
                        Staff Added Successfully
                      </v-alert>
                    </div>
                  </div>
                </v-col>
                <v-card-actions>
                  <div
                    class="col-md-12"
                    style="display: flex; align-items: center"
                  >
                    <v-btn
                      class="btn1"
                      :disabled="!valid || loading"
                      color="#000"
                      type="submit"
                      @click.prevent="submitForm"
                    >
                      <span v-if="!loading" style="color: #fff">Save </span>
                      <template v-else>
                        <span> Processing...</span>
                      </template>
                    </v-btn>
                    <v-btn
                      class="btn1 btn-red"
                      style="margin-left: 7px; background-color: red"
                      @click="closeAddStaffDialog"
                      >Cancel</v-btn
                    >
                  </div>
                </v-card-actions>
              </div>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
const regex = new RegExp(
  "^(http[s]?:\\/\\/(www\\.)?){1}([0-9A-Za-z-\\.@:%_+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?"
);

export default {
  name: "Staff",
  data() {
    return {
      Staffs: "",
      emailRules: [
        (v) => !!v || "",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      image_string: "",
      // update:{
      //   user_id: "",
      //   trainer_id: "",
      //   name: "",
      //   designation: "",
      //   image_file: "",
      //   description: "",
      //   email: "",
      //   facebook: "",
      //   twitter: "",
      //   linkedin: "",
      //   youtube: "",
      //   instagram: "",
      // },
      edit: {
        user_id: "",
        trainer_id: "",
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook: "",
        twitter: "",
        linkedin: "",
        youtube: "",
        instagram: "",
      },
      add: {
        user_id: "",
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook: "",
        twitter: "",
        linkedin: "",
        youtube: "",
        instagram: "",
      },
      dialog: false,

      error: false,
      success: false,
      loading: false,
      valid: true,
      user_id: "",
      profile_im: "",
      errorMessage: "",
      images: "",
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      dialog3: false,
      edited: false,
      validUrl: false,
      inValidUrl: false,
      urlRules: [],
      readOnly: false,
      furlRules: [],
      staff_image_Rule: [],
    };
  },
  mounted() {
    this.getTrainerlist();
  },
  methods: {
    urlR() {
      this.urlRules = [(v) => (v && regex.test(v)) || "invalid url"];
    },
    cancelUrlR() {
      this.urlRules = [];
    },
    closeAddStaffDialog() {
      this.dialog = false;
      this.$refs.file.reset();
      this.cancelUrlR();
    },
    closeEditStaffdialog() {
      this.getTrainerlist();
      setTimeout(() => {
        this.dialog3 = false;
        this.image_string = "";
        this.$refs.file.reset();
      }, 500);
    },

    async getStaff() {
      let respo = await this.$axios.post(
        "trainingInstituteApi/trainer_details_by_email",
        {
          email: this.add.email,
        }
      );
      if (respo.data.result === 1) {
        this.readOnly = true;
        this.add.trainer_id = respo.data.data.user_id;
        this.add.name = respo.data.data.name;
        this.add.designation = respo.data.data.designation;
        this.add.image_file = respo.data.data.image_file;
        this.add.description = respo.data.data.description;
        this.add.facebook = respo.data.data.facebook;
        this.add.twitter = respo.data.data.twitter;
        this.add.linkedin = respo.data.data.linkedin;
        this.add.youtube = respo.data.data.youtube;
        this.add.instagram = respo.data.data.instagram;
      } else {
        // (this.add.user_id = ""),
        //   (this.add.trainer_id = ""),
        //   (this.add.name = ""),
        //   (this.add.designation = ""),
        //   (this.add.image_file = ""),
        //   (this.add.description = ""),
        //   (this.add.facebook = ""),
        //   (this.add.twitter = ""),
        //   (this.add.linkedin = ""),
        //   (this.add.youtube = ""),
        //   (this.add.instagram = ""),
        this.readOnly = false;
      }
    },

    async getTrainerlist() {
      this.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post("trainingInstituteApi/trainer_list", {
        user_id: this.user_id,
      });
      console.log("Trainer data", respo);
      this.Staffs = respo.data.data;
      this.success = false;
    },
    openModal(t) {
      this.dialog = true;
      this.success = false;
      this.error = false;
      (this.profile_im = ""), (this.edited = false);
      this.add.name = "";
      this.add.designation = "";
      this.add.image_file = "";
      this.add.description = "";
      this.add.email = "";
      this.image_string = "";
      this.add.facebook = "";
      this.add.linkedin = "";
      this.add.instagram = "";
      this.add.twitter = "";
      this.add.youtube = "";
    },
    async openModal1(t) {
      this.dialog3 = true;
      this.success = false;
      this.edited = false;
      this.error = false;
      this.errorMessage = "";
      this.profile_im = t.image;
      console.log("dsfgsd3535fgdsdg", t);
      // this.image_string = t.image_file;
      this.edit = t;
      this.deleteId = t.trainer_id;
      this.index = t;
    },
    onChange(e) {
      if (e) {
        if (e.size < 2097152) {
          if (e === undefined) {
            this.edit.image_file = "";
            this.profile_im = "";
          } else {
            let image_string = this.image_string;

            let reader = new FileReader();
            reader.onloadend = (image_string) => {
              this.edit.image_file = reader.result;
              this.profile_im = reader.result;
            };
            reader.readAsDataURL(image_string);
          }
        } else {
          this.staff_image_Rule = [
            (v) =>
              (v && v.size <= 2097152) ||
              "Image size must be less than or equal 1 Mb",
          ];
          this.image_string = "";
        }
      }
    },
    onChangeadd(e) {
      if (e === undefined) {
        this.add.image_file = "";
        this.profile_im = "";
      } else {
        if (e.size < 2097152) {
          let image_string = this.image_string;

          let reader = new FileReader();
          reader.onloadend = (image_string) => {
            this.add.image_file = reader.result;
            this.profile_im = reader.result;
          };
          reader.readAsDataURL(image_string);
        } else {
          this.staff_image_Rule = [
            (v) =>
              (v && v.size <= 2097152) ||
              "Image size must be less than or equal 1 Mb",
          ];
          this.image_string = "";
        }
      }
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.trainer_id = this.deleteId;
      let facebookurlcheck = true;
      let twitterurlcheck = true;
      let linkedinurlcheck = true;
      let instagramurlcheck = true;
      let youtubeurlcheck = true;
      if (this.profile_im !== "" && this.image_string === "") {
        this.edit.image = "";
      }
      if (this.edit.youtube != "" && this.edit.youtube != null) {
        youtubeurlcheck = this.checkUrlValid(this.edit.youtube);
      }
      if (this.edit.facebook != "" && this.edit.facebook != null) {
        facebookurlcheck = this.checkUrlValid(this.edit.facebook);
      }
      if (this.edit.twitter != "" && this.edit.twitter != null) {
        twitterurlcheck = this.checkUrlValid(this.edit.twitter);
      }
      if (this.edit.linkedin != "" && this.edit.linkedin != null) {
        linkedinurlcheck = this.checkUrlValid(this.edit.linkedin);
      }
      if (this.edit.instagram != "" && this.edit.instagram != null) {
        instagramurlcheck = this.checkUrlValid(this.edit.instagram);
      }
      if (
        this.edit.name === "" ||
        this.edit.designation === "" ||
        this.edit.description === "" ||
        this.edit.email === "" ||
        !facebookurlcheck ||
        !twitterurlcheck ||
        !linkedinurlcheck ||
        !instagramurlcheck ||
        !youtubeurlcheck
      ) {
        if (
          this.edit.name === "" ||
          this.edit.designation === "" ||
          this.edit.description === "" ||
          this.edit.email === ""
        ) {
          this.errorMessage = "Please fill all mandatory field";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else {
          this.errorMessage = "Please fill valid url";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      } else {
        let resp = await this.$axios.post(
          "/trainingInstituteApi/update_trainer",
          this.edit
        );
        if (resp.data.result === 0) {
          this.error = true;
          this.errorMessage = resp.data.message;
          this.loading = false;
          // setTimeout(() => (this.dialog3 = false), 2000);
        } else if (resp.data.result === 1) {
          this.edited = true;
          this.getTrainerlist();
          setTimeout(() => {
            this.edited = false;
            this.loading = false;
            this.dialog3 = false;
            this.$refs.file.reset();
          }, 2000);
        } else {
          this.error = true;
          this.errorMessage = resp.data.message;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      }
    },
    checkUrlValid(value) {
      return regex.test(value);
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      let facebookurlcheck = true;
      let twitterurlcheck = true;
      let linkedinurlcheck = true;
      let instagramurlcheck = true;
      let youtubeurlcheck = true;
      if (this.profile_im) {
        this.add.image_file = this.profile_im;
      }
      this.add.user_id = localStorage.getItem("userId");
      console.log("thisisis", this.add);
      let invalid = false;
      if (this.add.youtube != "" && this.add.youtube != null) {
        youtubeurlcheck = this.checkUrlValid(this.add.youtube);
      }
      if (this.add.facebook != "" && this.add.facebook != null) {
        facebookurlcheck = this.checkUrlValid(this.add.facebook);
      }
      if (this.add.twitter != "" && this.add.twitter != null) {
        twitterurlcheck = this.checkUrlValid(this.add.twitter);
      }
      if (this.add.linkedin != "" && this.add.linkedin != null) {
        linkedinurlcheck = this.checkUrlValid(this.add.linkedin);
      }
      if (this.add.instagram != "" && this.add.instagram != null) {
        instagramurlcheck = this.checkUrlValid(this.add.instagram);
      }
      if (
        this.add.name === "" ||
        this.add.designation === "" ||
        this.add.image_file === "" ||
        this.add.description === "" ||
        this.add.email === "" ||
        !facebookurlcheck ||
        !twitterurlcheck ||
        !linkedinurlcheck ||
        !instagramurlcheck ||
        !youtubeurlcheck
      ) {
        if (
          this.add.name === "" ||
          this.add.designation === "" ||
          this.add.image_file === "" ||
          this.add.description === "" ||
          this.add.email === ""
        ) {
          this.errorMessage = "Please fill all mandatory field";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else {
          if (!facebookurlcheck) {
            this.urlR();
          }
          if (!twitterurlcheck) {
            this.urlR();
          }
          if (!linkedinurlcheck) {
            this.urlR();
          }
          if (!instagramurlcheck) {
            this.urlR();
          }
          if (!youtubeurlcheck) {
            this.urlR();
          }

          this.errorMessage = "Please fill valid url";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      } else {
        this.cancelUrlR();
        let resp = await this.$axios.post(
          "trainingInstituteApi/add_trainer_without_course",
          this.add
        );
        if (resp.data.result === 0) {
          this.error = true;

          this.errorMessage = resp.data.message;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
          // setTimeout(() => (this.dialog = false), 2000);
        } else if (resp.data.result === 1) {
          this.getTrainerlist();
          this.error = false;
          this.errorMessage = "";
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.loading = false;
            this.dialog = false;
            this.$refs.file.reset();
          }, 2000);
        }
      }
    },
    deleteModal(t) {
      this.dialog2 = true;
      this.deleteId = t.trainer_id;
      this.index = t;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        trainer_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_trainer",
        params
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getTrainerlist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
};
</script>
<style scoped>
.bx {
  top: 0px;
  bottom: 0px;
  left: -35px;
  right: 0px;
  width: 908px;
  position: relative;
}
.card {
  top: 0px;
  bottom: 0px;
  height: 130px;
  width: 900px;
  position: relative;
}
.edit-del {
  top: -90px;
  bottom: 0px;
  left: 630px;
  right: 0px;
  position: relative;
}
a.btn {
  margin: 0 4px;
  top: -25px;
  bottom: 0px;
  left: 780px;
  right: 0px;
  position: relative;
}
.head2 {
  top: 0px;
  position: absolute;
}
.box {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 130px;
  width: 120px;
  position: sticky;
}
.py-1 {
  left: 20px;
  position: relative;
}
</style>
