<template>
  <div class="bx mb-4" id="subs">
    <v-container>
      <v-row
        ><v-col><h3 class="head2">Subscriptions</h3></v-col></v-row
      >
      <!-- <v-row>
        <v-col>
        <table>
          <thead>
            <tr>
              <th>Package</th>
              <th>Validity</th>
              <th>Ammount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Silver</td>
              <td>6 months</td>
              <td>5000</td>
            </tr>
          </tbody>
        </table>
        </v-col>
      </v-row> -->
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Subscription",
};
</script>
<style scoped>
th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  width: 200px;
  position: relative;
  left: -70px;
}
td {
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 0px;
  position: relative;
}
</style>
