<template>
  <div class="bx">
    <v-container>
      <v-row class="mb-2">
        <v-col class="text-left"><h3 class="head2">Trainer</h3></v-col>
        <v-col class="text-right">
          <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark>
            Add New
          </v-btn>
        </v-col>
      </v-row>
      <div v-for="t in Trainers" :key="t.trainer_id">
        <v-card class="mb-2" style="width: 100%">
          <v-row class="no-gutters">
            <v-col md="2" class="p-2 py-2">
              <img :src="t.image" alt="" style="width:130px;height:130px" />
              
            </v-col>
            <v-col md="8">
              <v-row class="side"
                ><h4>Name: {{ t.name }}</h4></v-row
              >
              <v-row class="side"
                ><h5> Designation: {{ t.designation }}</h5></v-row
              >
              <v-row class="side"
                ><p> Description: {{ t.description }}</p></v-row
              >
              
            </v-col>
            <v-col md="2" class="text-right" align-self="center">
              <a @click.prevent="openModal1(t)">
                <v-icon> mdi-pencil </v-icon>
              </a>
              <a @click.prevent="deleteModal(t)">
                <v-icon>mdi-delete</v-icon>
              </a>
            </v-col>
          </v-row>
          <v-row>
                <ul class="social pl-2">
                  <li v-if="t.facebook">
                    <a v-bind:href="t.facebook" target="_blank">
                      <i class="fa fa-facebook" style="background: #485b96"></i>
                    </a>
                  </li>
                  <li v-else>
                    <a >
                      <i class="fa fa-facebook" style="background: #485b96"></i>
                    </a>
                  </li>
                  <li v-if="t.twitter">
                    <a v-bind:href="t.twitter" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li v-else>
                    <a >
                      <i class="fa fa-twitter" style="background: #485b96"></i>
                    </a>
                  </li>
                  <li v-if="t.linkedin">
                    <a v-bind:href="t.linkedin" target="_blank">
                      <i class="fa fa-linkedin" style="background: #167eb7"></i>
                    </a>
                  </li>
                  <li v-else>
                    <a >
                      <i class="fa fa-linkedin" style="background: #485b96"></i>
                    </a>
                  </li>
                  <li v-if="t.instagram">
                    <a v-bind:href="t.instagram">
                      <i
                        class="fa fa-instagram"
                        style="background: #e7437f"
                      ></i>
                    </a>
                  </li>
                  <li v-else>
                    <a >
                      <i class="fa fa-instagram" style="background: #485b96"></i>
                    </a>
                  </li>
                </ul>
              </v-row>
        </v-card>
      </div>
    </v-container>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn2"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem()"
              class="btn2"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Trainers </v-card-title>
        <v-card-text>
          <v-form ref="editTrainerForm">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.name"
                dense
                filled
                :rules="nameRule"
                @focus="nameR"
                @blur="cancelNameR"
                label="Trainer Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-textarea
                v-model="edit.description"
                dense
                filled
                :rules="descriptionRule"
                @focus="descriptionR"
                @blur="cancelDescriptionR"
                label="Trainer Description *"
                required
                maxlength=200
                counter
              >
              </v-textarea>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.designation"
                ref="file"
                dense
                filled
                :rules="designationRule"
                @focus="designationR"
                @blur="cancelDesignationR"
                label="Trainer Designation *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.email"
                ref="fil"
                dense
                filled
                :rules="emailRules"
                @focus="emailR"
                @blur="cancelEmailR"
                label="Trainer Email *"
                required
              >
              </v-text-field>
            </div>

            <div class="col-md-9 form-group">
              <v-file-input
                v-model="image_string"
                v-on:change="onChange"
                prepend-icon="mdi-camera"
                dense
                filled
                label="Upload Image"
              >
              </v-file-input>
              
            </div>
            <div class="col-md-3 form-group">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  :src="profile_im"
                />
            </div>
            <div class="col-md-8">
                  <v-text-field
                    v-model="edit.facebook"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Facebook"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.twitter"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Twitter"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.linkedin"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="linkedin"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="edit.instagram"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Instagram"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
            
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="Edited"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    text
                    type="success"
                    align="left"
                    style="backgroundcolor=green"
                  >
                    Trainer Edited Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  form
                  ref="anyName"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="closeEdit"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Trainers </v-card-title>
        <v-card-text>
          <v-form ref="addTrainerForm">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="add.name"
                dense
                filled
                :rules="nameRule"
                @focus="nameR"
                @blur="cancelNameR"
                label="Trainer Name *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-textarea
                v-model="add.description"
                dense
                filled
                :rules="descriptionRule"
                @focus="descriptionR"
                @blur="cancelDescriptionR"
                label="Trainer Description *"
                required
                maxlength=200
                counter
              >
              </v-textarea>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="add.designation"
                ref="file"
                dense
                filled
                :rules="designationRule"
                @focus="designationR"
                @blur="cancelDesignationR"
                label="Trainer Designation *"
                required
              >
              </v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="add.email"
                ref="fil"
                dense
                filled
                :rules="emailRules"
                @focus="emailR"
                @blur="cancelEmailR"
                label="Trainer Email *"
                required
              >
              </v-text-field>
            </div>

            <div class="col-md-12 form-group">
              <v-file-input
                v-model="image_string"
                v-on:change="onChangeAdd"
                prepend-icon="mdi-camera"
                dense
                filled
                :rules="imageRule"
                @focus="imageR"
                @blur="cancelImageR"
                label="Upload Image *"
                required
              >
              </v-file-input>
            </div>
            <div class="col-md-8">
                  <v-text-field
                    v-model="add.facebook"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Facebook"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="add.twitter"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="Twitter"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="add.linkedin"
                    dense
                    type="url"
                    :rules="urlRules"
                    filled
                    label="linkedin"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                <div class="col-md-8">
                  <v-text-field
                    v-model="add.instagram"
                    dense
                    type="url"
                    filled
                    :rules="urlRules"
                    label="Instagram"
                  />
                </div>
                 <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text-prominent-type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="Edited"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    text-type="success"
                    align="left"
                    style="backgroundcolor=green"
                  >
                    Trainer Added Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  rounded
                  dark
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  ref="anyName"
                  @click.prevent="submitForm"
                  >Save
                </v-btn>
                <v-btn color="red" rounded dark @click="closeAdd">Cancel</v-btn>
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
const regex = new RegExp(
  "^(http[s]?:\\/\\/(www\\.)?){1}([0-9A-Za-z-\\.@:%_+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?"
);
export default {
  name: "Trainer",
  data() {
    return {
      Trainers: "",
      profile_im: "",
      edit: {
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook:"",
        twitter:"",
        linkedin:"",
        instagram:""
      },
      add: {
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook:"",
        twitter:"",
        linkedin:"",
        instagram:""
      },
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],

      emailRules: [],
      dialog: false,
      news_id: "",
      error: false,
      success: false,
      loading: false,
      valid: true,
      user_id: "",
      Newses: "",
      errorMessage: "",
      images: "",
      index: "",
      index1: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      deleteId1: "",
      dialog2: false,
      dialog3: false,
      nameRule: [],
      companyRule: [],
      designationRule: [],
      dateRule: [],
      commentRule: [],
      imageRule: [],
      descriptionRule: [],
      urlRules: [
        (v) => (v && regex.test(v)) || "invalid url",
      ],
    };
  },
  mounted() {
    this.getTrainerlist();
  },
  methods: {
    closeAdd() {
      this.add = {
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook:"",
        twitter:"",
        linkedin:"",
        instagram:""
      }
        // (this.edit.image_file = "");
      this.profile_im = "";
      this.image_string = "";
      this.dialog = false;
      // this.cancelNameR();
      //   this.cancelDesignationR();
      //   this.cancelDescriptionR();
      //   this.cancelEmailR();
      //   this.cancelImageR();
      this.$refs.addTrainerForm.reset()
    },

    closeEdit() {
      this.edit = {
        name: "",
        designation: "",
        image_file: "",
        description: "",
        email: "",
        facebook:"",
        twitter:"",
        linkedin:"",
        instagram:""
      }
      this.profile_im = "";
      this.image_string = "";
      this.dialog3 = false;
      // this.cancelNameR();
      //   this.cancelDesignationR();
      //   this.cancelDescriptionR();
      //   this.cancelEmailR();
      this.$refs.editTrainerForm.reset()
    },

    nameR() {
      this.nameRule = [(v) => !!v || "Name is required"];
    },
    cancelNameR() {
      this.nameRule = [];
    },

    companyR() {
      this.companyRule = [(v) => !!v || "Company is required"];
    },
    cancelCompanyR() {
      this.companyRule = [];
    },
    designationR() {
      this.designationRule = [(v) => !!v || "Designation is required"];
    },
    cancelDesignationR() {
      this.designationRule = [];
    },

    descriptionR() {
      this.descriptionRule = [(v) => !!v || "Description is required"];
    },
    cancelDescriptionR() {
      this.descriptionRule = [];
    },

    dateR() {
      this.dateRule = [(v) => !!v || "Date is required"];
    },
    cancelDateR() {
      this.dateRule = [];
    },

    commentR() {
      this.commentRule = [(v) => !!v || "Comment is required"];
    },
    cancelCommentR() {
      this.commentRule = [];
    },

    imageR() {
      this.imageRule = [(v) => !!v || "Image is required"];
    },
    cancelImageR() {
      this.imageRule = [];
    },

    emailR() {
      this.emailRules = [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ];
    },
    cancelEmailR() {
      this.emailRules = [];
    },

    async getTrainerlist() {
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "trainingInstituteApi/trainer_list",
        this.edit
      );
      console.log("Trainer data", respo);
      this.Trainers = respo.data.data;
    },

    onChange(e) {
      if (e === undefined) {
        this.edit.image_file = "";
        this.profile_im = "";
      } else {
        let reader = new FileReader();
        reader.readAsDataURL(this.image_string);
        reader.onloadend = () => {
          this.edit.image_file = reader.result;
          this.profile_im = reader.result;
        };
      }
    },
    onChangeAdd(e) {
      if (e === undefined) {
        this.add.image_file = "";
        this.profile_im = "";
      } else {
        let reader = new FileReader();
        reader.readAsDataURL(this.image_string);
        reader.onloadend = () => {
          this.add.image_file = reader.result;
          this.profile_im = reader.result;
        };
      }
    },
    openModal() {
      this.dialog = true;
      this.error = false;
      this.success = false;
    },
    checkUrlValid(value) {
      return regex.test(value);
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.add.user_id = localStorage.getItem("userId");
      let checkEmail = true;
      if (this.add.email != "") {
        checkEmail = /.+@.+\..+/.test(this.add.email);
      }
      console.log("thisisis", this.add);
      let facebookurlcheck = true;
      let twitterurlcheck = true;
      let linkedinurlcheck = true;
      let instagramurlcheck = true;
      if (this.add.facebook != "") {
        facebookurlcheck = this.checkUrlValid(this.add.facebook);
      }
      if (this.add.twitter != "") {
        twitterurlcheck = this.checkUrlValid(this.add.twitter);
      }
      if (this.add.linkedin != "") {
        linkedinurlcheck = this.checkUrlValid(this.add.linkedin);
      }
      if (this.add.instagram != "") {
        instagramurlcheck = this.checkUrlValid(this.add.instagram);
      }
      if (
        this.add.name == "" ||
        this.add.designation == "" ||
        this.add.image_file == "" ||
        this.add.description == "" ||
        this.add.email == "" ||
        !checkEmail ||
        !facebookurlcheck ||
        !twitterurlcheck ||
        !linkedinurlcheck ||
        !instagramurlcheck
      ) {
        if (
          this.add.name === "" ||
          this.add.designation === "" ||
          this.add.image_file === "" ||
          this.add.description === "" ||
          this.add.email === ""
        ) {
          if (this.add.name == "") {
          this.nameR();
        }
        if (this.add.designation == "") {
          this.designationR();
        }
        if (this.add.description == "") {
          this.descriptionR();
        }
        if (this.add.image_file == "") {
          this.imageR();
        }
        if (this.add.email == "" || !checkEmail) {
          this.emailR();
        }
        this.error = true;
          this.errorMessage = "Please fill mandatory field"
        setTimeout(() => {
          this.loading=false
          this.error = false;
        }, 1000);
        } else {
          this.errorMessage = "Please fill valid url";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
        
      } else {
        this.cancelNameR();
        this.cancelDesignationR();
        this.cancelDescriptionR();
        this.cancelEmailR();
        this.cancelImageR();
        let resp = await this.$axios.post(
          "trainingInstituteApi/add_trainer_without_course",
          this.add
        );
        if (resp.data.result === 0) {
          this.error = true;
          this.errorMessage = res.data.message;
          this.loading = false;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.error = false;
          this.errorMessage = "";
          this.success = true;

          this.getTrainerlist();
          this.$refs.addTrainerForm.reset()
        //   (this.edit = {
        //     name: "",
        //     designation: "",
        //     image_file: "",
        //     description: "",
        //     email: "",
        //     facebook:"",
        // twitter:"",
        // linkedin:"",
        // instagram:""
        //   }),
        
          this.profile_im = "";
          this.image_string = "";
          this.loading = false;
          setTimeout(() => {
            this.dialog = false;
            this.success = false;
            
          }, 2000);
        }
      }
    },
    deleteModal(t) {
      this.dialog2 = true;
      this.deleteId = t.trainer_id;
      this.index = t;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        trainer_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_trainer",
        params
      );
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getTrainerlist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    async openModal1(t) {
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.profile_im = t.image;
      this.errorMessage = "";
      (this.edit.trainer_id = t.trainer_id),
        (this.edit.name = t.name),
        (this.edit.designation = t.designation),
        (this.edit.description = t.description),
        (this.edit.email = t.email)
        this.edit.facebook = t.facebook
        this.edit.twitter = t.twitter
        this.edit.linkedin = t.linkedin
        this.edit.instagram = t.instagram,
        (this.deleteId = t.trainer_id);
      this.index = t;
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      let checkEmail=true
      this.edit.user_id = localStorage.getItem("userId");
      if (this.edit.email != "") {
        checkEmail = /.+@.+\..+/.test(this.edit.email);
      }
      let facebookurlcheck = true;
      let twitterurlcheck = true;
      let linkedinurlcheck = true;
      let instagramurlcheck = true;
      if (this.edit.facebook != "") {
        facebookurlcheck = this.checkUrlValid(this.edit.facebook);
      }
      if (this.edit.twitter != "") {
        twitterurlcheck = this.checkUrlValid(this.edit.twitter);
      }
      if (this.edit.linkedin != "") {
        linkedinurlcheck = this.checkUrlValid(this.edit.linkedin);
      }
      if (this.edit.instagram != "") {
        instagramurlcheck = this.checkUrlValid(this.edit.instagram);
      }
      if (
        this.edit.name == "" ||
        this.edit.designation == "" ||
        this.edit.description == "" ||
        this.edit.email == "" ||
        !checkEmail ||
        !facebookurlcheck ||
        !twitterurlcheck ||
        !linkedinurlcheck ||
        !instagramurlcheck
      ) {
        if (
          this.edit.name === "" ||
          this.edit.designation === "" ||
          this.edit.description === "" ||
          this.edit.email === ""
        ) {
          if (this.edit.name == "") {
          this.nameR();
        }
        if (this.edit.designation == "") {
          this.designationR();
        }
        if (this.edit.description == "") {
          this.descriptionR();
        }
        if (this.edit.email == "" || !checkEmail) {
          this.emailR();
        }
        this.error = true;
          this.errorMessage = "Please fill mandatory field"
        setTimeout(() => {
          this.loading=false
          this.error = false;
        }, 1000);
        } else {
          this.errorMessage = "Please fill valid url";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      } else {
        this.cancelNameR();
        this.cancelDesignationR();
        this.cancelDescriptionR();
        this.cancelEmailR();

        let respo = await this.$axios.post(
          "/trainingInstituteApi/update_trainer",
          this.edit
        );
        if (respo.data.result === 0) {
          this.error = true;
          this.errorMessage = res.data.message;
          this.loading = false;
          setTimeout(() => (this.error = false), 2000);
        } else if (respo.data.result === 1) {
          this.Edited = true;

          this.getTrainerlist();
        //   (this.edit = {
        //     name: "",
        //     designation: "",
        //     image_file: "",
        //     description: "",
        //     email: "",
        //     facebook:"",
        // twitter:"",
        // linkedin:"",
        // instagram:""
          // }),
          this.profile_im = "";
          this.image_string = "";
          this.loading = false;
          setTimeout(() => {this.dialog3 = false
          this.Edited=false
          this.$refs.editTrainerForm.reset()}, 2000);
        } else {
        }
      }
    },
  },
};
</script>
<style scoped>
.card {
  top: 0px;
  bottom: 0px;
  height: 130px;
  width: 900px;
  position: relative;
}
.edit-del {
  top: -90px;
  bottom: 0px;
  left: 540px;
  right: 0px;
  position: relative;
}
.social {
  top: -10px;
  bottom: 0px;
  left: 10px;
  right: 0px;
  position: relative;
}
a.btn {
  margin: 0 4px;
  top: -30px;
  bottom: 0px;
  left: 720px;
  right: 0px;
  position: relative;
}
.box {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 130px;
  width: 120px;
  position: sticky;
}
.side {
  left: 9%;
  position: relative;
}
</style>
