<template>
  <div>
    <h4>
      <label for>Other Education</label>
    </h4>
    <div class="row">
      <div class="form-group col-md-4">
        <v-select
          v-model="passingOut"
          :items="passingOutYears"
          dense
          filled
          :rules="rules"
          label="Passing out year"
          required
        ></v-select>
      </div>
      <div class="form-group col-md-4">
        <v-select
          v-model="board"
          :items="boards"
          dense
          filled
          :rules="rules"
          label="Passing out year"
          required
        ></v-select>
      </div>
      <div class="form-group col-md-4">
        <v-select
          v-model="passingOutYear"
          :items="passingOutYears"
          dense
          filled
          :rules="rules"
          label="Year of passing"
          required
        ></v-select>
      </div>
    </div>
    <div class="form-group col-md-4">
      <v-select
        v-model="medium"
        :items="mediums"
        dense
        filled
        :rules="rules"
        label="Medium"
        required
      ></v-select>
    </div>
    <div class="col-md-4 form-group">
      <v-text-field
        v-model="marks"
        dense
        filled
        :rules="rules"
        label="Marks obtained"
        required
      ></v-text-field>
    </div>
  </div>
</template>

<script>
export default {
  name: "OtherEducation"
};
</script>

<style></style>
