<template>
  <v-container>
    <v-row>
      <v-col><h3>Course Details</h3></v-col>
    </v-row>

    <v-form id="Form" ref="addCourseForm" v-model="valid">
      <!-- <v-form id="nativeForm" ref="form" v-model="valid"> -->
      <v-row>
        <v-col md="4" xs="12" sm="12">
          <v-text-field
            v-model="submitCourseDetails.course_name"
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            label="Course Name*"
            required
          ></v-text-field>
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <v-text-field
            v-model="submitCourseDetails.duration"
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            label="Duration*"
            required
          ></v-text-field>
        </v-col>

        <v-col md="4" xs="12" sm="12">
          <v-select
            v-model="submitCourseDetails.language_id"
            :items="languages"
            item-text="name"
            item-value="language_id"
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            label="Language*"
            required
          ></v-select>
        </v-col>
        <v-col md="4" xs="12" sm="12">
          
          <v-file-input
          v-if="slug.id"
            v-on:change="onFileC"
            v-model="image_string"
            show-size
            dense
            filled
            label="Certification"
            accept="image/*"
          ></v-file-input>
          <v-file-input
          v-else
            ref="image_string"
            v-on:change="onFileC"
            v-model="image_string"
            show-size
            required
            dense
            :rules="[(v) => !!v || 'Is required']"
            filled
            label="Certification*"
            accept="image/*"
          ></v-file-input>
        </v-col>
        <v-col md="2" xs="12" sm="12">
          <img
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            "
            v-if="certification"
            :src="certification"
          />
          <img
            v-else
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            "
            src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
          />
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <v-file-input
v-if="slug.id"
            v-on:change="onImageUpload"
            v-model="img_string"
            show-size
            dense
            filled
            label="Course Image"
            accept="image/*"
          ></v-file-input>
          <v-file-input
          v-else
            ref="image_string"
            v-on:change="onImageUpload"
            v-model="img_string"
            show-size
            required
            dense
            :rules="[(v) => !!v || 'Is required']"
            filled
            label="Course Image*"
            accept="image/*"
          ></v-file-input>
        </v-col>
        <v-col md="2" xs="12" sm="12">
          <img
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            "
            v-if="image"
            :src="image"
          />
          <img
            v-else
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            "
            src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
          />
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <v-file-input
            v-if="slug.id"
            v-model="video"
            v-on:change="onFileV"
            accept="video/*"
            show-size
            dense
            filled
            label="Demo Video"
          ></v-file-input>
          <v-file-input
          v-else
            ref="video"
            v-model="video"
            v-on:change="onFileV"
            accept="video/*"
            show-size
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            required
            label="Demo Video*"
          ></v-file-input>
        </v-col>
        <v-col md="2" xs="12" sm="12">
          <video v-if="demo_video" width="100" height="50" controls>
            <source :src="demo_video" type="video/mp4" />
            <source :src="demo_video" type="video/ogg" />
            Your browser does not support HTML video.
          </video>
          <img
            v-else
            style="
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            "
            src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
          />
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <v-text-field
            v-model="submitCourseDetails.eligibility"
            dense
            filled
            :rules="[(v) => !!v || 'Is required']"
            label="Eligibility*"
            required
          ></v-text-field>
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <!-- <v-text-field v-model="submitCourseDetails.category" dense filled :rules="[v => !!v || 'Is required']" label="Category" required></v-text-field> -->
          <v-select
            v-model="submitCourseDetails.category_id"
            :items="categories"
            item-text="name"
            item-value="id"
            :rules="[(v) => !!v || 'Is required']"
            @change="getSubcategory()"
            dense
            filled
            label="Category*"
            required
          ></v-select>
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <!-- <v-text-field v-model="submitCourseDetails.subCategory" dense filled :rules="[v => !!v || 'Is required']" label="Sub Category" required></v-text-field> -->
          <v-select
            v-model="submitCourseDetails.sub_category_id"
            :items="subCategories"
            item-text="name"
            item-value="id"
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            label="Sub Category*"
            required
          ></v-select>
        </v-col>
        <v-col md="4" xs="12" sm="12">
          <v-text-field
            v-model="submitCourseDetails.fee"
            :rules="[(v) => !!v || 'Is required']"
            dense
            filled
            @keypress="onlyNumbers"
            label="Fee*"
            required
          ></v-text-field>
        </v-col>
        <v-col md="12"></v-col>
        <v-col md="6" xs="12" sm="12">
          <v-textarea
            clearable
            v-model="submitCourseDetails.description"
            clear-icon="cancel"
            dense
            filled
            counter
            required
            maxlength="200"
            :rules="[
              (v) => !!v || 'Is required',
              (v) => v.length <= 200 || 'Max Length 200',
            ]"
            label="Description*"
          ></v-textarea>
        </v-col>
        <v-col md="6" xs="12" sm="12">
          <v-textarea
            v-model="submitCourseDetails.why_this"
            clearable
            clear-icon="cancel"
            required
            dense
            filled
            counter
            maxlength="200"
            :rules="[
              (v) => !!v || 'Is required',
              (v) => v.length <= 200 || 'Max Length 200',
            ]"
            label="Why this Course?*"
          ></v-textarea>
        </v-col>
        <v-col md="12" v-if="success" style="margin-top: 15px">
          <div class="form-group fadein">
            <v-alert text type="success" align="left">
              Course details saved!
            </v-alert>
          </div>
        </v-col>
        <v-col md="12" v-if="error" style="margin-top: 15px">
          <div class="form-group fadein">
            <v-alert text type="error" align="left">
              {{errorMessage}}
            </v-alert>
          </div>
        </v-col>

        <!-- <v-col md='12'>
                    <hr />
                </v-col> -->
      </v-row>
      <v-row>
        <v-col md="12" class="text-left">
          <v-btn
            :loading="loading"
            :disabled="loading"
            v-if="slug.id"
            color="grey darken-4"
            rounded
            dark
            @click.prevent="editCourseDetails"
            >Save course details
          </v-btn>
          <v-btn
            :loading="loading"
            :disabled="loading"
            @click="saveCourseDetails"
            v-else
            color="grey darken-4"
            rounded
            dark
            >Save course details
          </v-btn>
          
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: "AddCourseDetails",
  data() {
    return {
      slug: this.$route.params,
      valid: true,
      show:true,
      allowNext: false,
      image_string: "",
      courserId: "",
      success: false,
      loading: false,
      editCourse: false,
      video: "",
      languages: [],
      submitted: true,
      categories: [],
      subCategories: [],
      certification: "",
      demo_video: "",
      image: "",
      submitCourseDetails: {
        user_id: "",
        course_name: "",
        duration: "",
        fee: "",
        eligibility: "",
        language_id: "",
        category_id: "",
        sub_category_id: "",
        description: "",
        why_this: "",
        certification: "",
        demo_video: "",
        image: "",
        
      },
      error:false,
      errorMessage:"",
      corporate_type:""
    };
  },
  created() {
    this.$nuxt.$on("submitCourseDetails", () => {
      // alert(res.course_id)
      // if (res.result === 1) {
      // // localStorage.setItem('course_id', res.course_id)
      // alert(res.course_id)
      // } else {}
    });
  },
  async mounted() {
    this.submitCourseDetails.user_id = localStorage.getItem("userId");
    this.corporate_type=localStorage.getItem("corporate")
    console.log("slug1234",this.slug.id)

    await this.getCourseData();
    this.getLanguage();
    await this.getCategory();
    this.getSubcategory();
  },
  methods: {
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    async getCourseData() {
      if (this.slug.id) {
        let res = await this.$axios.post("CustomerApi/course_details", {
          course_id: this.slug.id,
        });
        console.log(res);
        if (res.data.result === 1) {
          this.editCourse = true;
          this.submitCourseDetails.course_name = res.data.data[0].course_name;
          this.submitCourseDetails.duration = res.data.data[0].duration;
          this.submitCourseDetails.fee = res.data.data[0].fee;
          this.submitCourseDetails.eligibility = res.data.data[0].eligibility;
          this.submitCourseDetails.language_id = res.data.data[0].language_id;
          this.submitCourseDetails.category_id = res.data.data[0].category_id;
          this.submitCourseDetails.sub_category_id =
            res.data.data[0].sub_category_id;
          this.submitCourseDetails.description = res.data.data[0].description;
          this.submitCourseDetails.why_this = res.data.data[0].why_this;
          this.certification = res.data.data[0].certification_image;
          this.demo_video = res.data.data[0].demo_video;
          this.image = res.data.data[0].image;
        } else {
        }
      } else {
      }
    },

    editCourseDetails() {
      this.submitCourseDetails.course_id = this.slug.id;
      this.loading = true;
      if(!this.$refs.addCourseForm.validate()){
          this.loading = false;
          this.errorMessage="Please fill mandatory field"
            this.error = true;
            setTimeout(() => {
              this.error = false;
            }, 2000);
      }else{
      this.$axios
        .post(
          "trainingInstituteApi/update_course_details",
          this.submitCourseDetails
        )
        .then((response) => {
          if (response.data.result === 1) {
            this.loading = false;
            this.success = true;
            setTimeout(() => {
              this.success = false;
            }, 2000);
          }else{
            this.loading = false;
            this.error = true;
            setTimeout(() => {
              this.error = false;
            }, 2000);
          }
        })
        .catch((err) => {
          console.log(err);
        });
      }
    },
    saveCourseDetails() {
      console.log("saveCourseDetails", this.submitCourseDetails);
      this.submitCourseDetails.corporate_type=this.corporate_type
      let payload = this.submitCourseDetails;
      this.loading = true;
       if(!this.$refs.addCourseForm.validate()){
          this.loading = false;
          this.errorMessage="Please fill mandatory field"
            this.error = true;
            setTimeout(() => {
              this.error = false;
            }, 2000);
      }else{
      this.$axios
        .post("trainingInstituteApi/add_course_details", payload)
        .then((response) => {
          console.log("response23424", response);
          localStorage.setItem("course_id", response.data.course_id);
          if (response.data.result === 1) {
            this.allowNext = true;
            this.success = true;
            this.loading = false;
            this.submitted = false;
            setTimeout(() => {
              this.success = false;
              // this.submitCourseDetails = {
              //   user_id: "",
              //   course_name: "",
              //   duration: "",
              //   fee: "",
              //   eligibility: "",
              //   language_id: "",
              //   category_id: "",
              //   sub_category_id: "",
              //   description: "",
              //   why_this: "",
              //   certification: "",
              //   demo_video: "",
              //   image: "",
              // },
              // this.show=false
            }, 2000);
            this.$emit("changeStep",2)
            this.$emit("changeColor",1)
            // this.courserId = response.course_id
            // localStorage.setItem('course_id', response.data.course_id)
            // alert(response.course_id)
          } else {
            this.loading = false;
            this.errorMessage=response.data.messege
            setTimeout(() => {
              this.errorMessage=""
            }, 2000);
          }

        })
        .catch((err) => {
          console.log(err);
        });
      }
    },
    onImageUpload(e) {
      if (e === undefined) {
        this.submitCourseDetails.image = "";
        this.image = "";
      } else {
        let img_string = this.img_string;
        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.submitCourseDetails.image = reader.result;
          this.image = reader.result;
        };
        reader.readAsDataURL(img_string);
      }
    },
    onFileC(e) {
      if (e === undefined) {
        this.submitCourseDetails.certification = "";
        this.certification = "";
      } else {
        let image_string = this.image_string;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.submitCourseDetails.certification = reader.result;
          this.certification = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    onFileV(e) {
      if (e === undefined) {
        this.submitCourseDetails.demo_video = "";
        this.demo_video = "";
      } else {
        let video = this.video;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (video) => {
          this.submitCourseDetails.demo_video = reader.result;
          this.demo_video = reader.result;
        };
        reader.readAsDataURL(video);
      }
    },
    async getLanguage() {
      let res = await this.$axios.get("trainingInstituteApi/language_list");
      // console.log(res)
      // if (res.result === 1) {
      this.languages = res.data.data;
      // console.log('success')
      // } else {}
    },
    async getCategory() {
      let res = await this.$axios.get("trainingInstituteApi/category_list");
      this.categories = res.data.data;
    },
    async getSubcategory() {
      let res = await this.$axios.get(
        "trainingInstituteApi/sub_category_list/" +
          this.submitCourseDetails.category_id
      );
      this.subCategories = res.data.data;
    },
  },
  updated() {
    // Fired every second, should always be true
    if (this.allowNext === true) {
      this.$store.dispatch("courseValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseInValid");
    }
  },
};
</script>

<style>
.v-file-input .v-input__slot {
  height: 30px;
  overflow: hidden;
}
</style>
