<template>
  <div>
    <v-container>
      <v-row>
        <v-col class="text-left"><h3 class="head2">Curriculums</h3> </v-col>
        <!-- <v-col class="text-right">
          <v-btn rounded dark color="grey darken-4" @click="addCurriculum"
            ><v-icon>mdi-plus</v-icon>Add More</v-btn
          >
        </v-col> -->
      </v-row>
      <v-form id="nativeForm" ref="editForm" v-if="slug.id">
        <v-row class="ml-1">
          <v-col md="6" xs="12" sm="12">
            <v-text-field
              v-model="editCurriculumContent.name"
              dense
              filled
              :rules="[(v) => !!v || 'Curriculum name Is required']"
              label="Curriculum Name*"
              required
            ></v-text-field>
          </v-col>
          <v-col md="3" xs="12" sm="12">
            <v-file-input
              accept="application/pdf,application/word"
              v-on:change="onUploadPdfUpdate"
              v-model="pd_string"
              show-size
              dense
              filled
              label="Upload Pdf / Word"
            ></v-file-input>
          </v-col>
          <v-col md="3">
            <v-container >
              <v-col class="text-left">
                <img
                  src="../assets/img/pdf-icon.png"
                  style="width: 50px"
                  alt=""
                />
                <a v-bind:href="pdfs_string" target="_blank"
                  ><i class="fa fa-download" aria-hidden="true"></i
                ></a>
              </v-col>

              <!-- <h4 class="head2" style="color:green">Download</h4> -->
            </v-container>
            <!-- <img src="../assets/img/pdf-icon.png" style="width: 80px" alt="" /> -->
          </v-col>
        </v-row>
        <div id="editor"></div>
        <v-row>
          <v-col md="12">
            <div v-if="success" class="form-group fadein">
              <v-alert text type="success" align="left">
                Curriculum Updated!
              </v-alert>
            </div>
          </v-col>
          <v-col md="12">
            <div v-if="error" class="form-group fadein">
              <v-alert text type="error" align="left">
                {{ errorMessage1 }}
              </v-alert>
            </div>
          </v-col>

          <v-col class="text-left mt-3">
            <v-btn
              color="grey darken-4"
              rounded
              dark
              v-if="valid"
              :loading="loading"
              :disabled="loading"
              @click.prevent="updateCurriculum"
              >Save Curriculum</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
      <v-form id="nativeForm" ref="addCurriculum" v-else>
        <v-row>
          <v-col md="6" xs="12" sm="12">
            <v-text-field
              v-model="curriculum.name"
              dense
              filled
              :rules="[(v) => !!v || 'Curriculum name Is required']"
              label="Curriculum Name*"
              required
            ></v-text-field>
          </v-col>
          <v-col md="3" xs="12" sm="12">
            <v-file-input
              accept="application/pdf,application/word"
              v-on:change="onUploadPdf"
              v-model="pdf_string"
              :rules="[(v) => !!v || 'Document Is required']"
              required
              show-size
              dense
              filled
              label="Upload Pdf / Word*"
            ></v-file-input>
          </v-col>
          <v-col md="1">
            <img src="../assets/img/pdf-icon.png" style="width: 80px" alt="" />
          </v-col>
        </v-row>
        <div id="editor"></div>
        <v-row>
          <v-col md="12">
            <div v-if="success" class="form-group fadein">
              <v-alert text type="success" align="left">
                Curriculum Added!
              </v-alert>
            </div>
          </v-col>
          <v-col md="12">
            <div v-if="error" class="form-group fadein">
              <v-alert text type="error" align="left">
                {{ errorMessage }}
              </v-alert>
            </div>
          </v-col>

          <v-col class="text-left mt-3">
            <v-btn
              color="grey darken-4"
              rounded
              dark
              v-if="valid"
              :loading="loading"
              :disabled="loading"
              @click.prevent="submit"
              >Save Curriculum</v-btn
            >
          </v-col>
        </v-row>

        <!-- <v-row>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="curriculum.name"
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      label="Curriculum Name"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-file-input
                      accept="application/pdf"
                      v-on:change="onUploadPdf"
                      v-model="pdf_string"
                      :rules="[(v) => !!v || 'Is required']"
                      required
                      show-size
                      dense
                      filled
                      label="PDF file"
                    ></v-file-input>
                  </v-col>
                  <v-col
                    md="4"
                    xs="12"
                    sm="12"
                    v-if="valid"
                    style="padding: 12px !important"
                  >
                    <v-btn
                      color="#000"
                      class="btn"
                      :loading="loading"
                      :disabled="loading"
                      @click.prevent="submit"
                      small
                      style="text-transform: capitalize"
                      >Save Curriculum</v-btn
                    >
                  </v-col>
                  <v-col md="2">
                    <a
                      class="deleteRow btn"
                      @click.prevent="deleteCurri(index)"
                      style="margin: 0 auto; padding: 0; margin-top: 15px"
                    >
                      <span>Remove</span>
                      <svg class="svg-icon" viewBox="0 0 20 20">
                        <path
                          d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                        />
                      </svg>
                    </a>
                  </v-col>
                  <v-col md="12">
                    <div v-if="success" class="form-group fadein">
                      <v-alert text type="success" align="left">
                        Successfully added {{ count }}
                        <span v-if="count > 1">curriculums</span
                        ><span v-else> curriculum</span>
                      </v-alert>
                    </div>
                  </v-col>
                  <v-col md="12">
                    <fragment v-if="addedItems.length > 0">
                      <v-alert
                        v-for="(l, i) in addedItems"
                        :key="i"
                        elevation="2"
                        outlined
                        color="#eee"
                      >
                        <div style="display: flex; justify-content: space-between">
                          <span
                            style="
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              width: 95%;
                            "
                          >
                            {{ l.name }}
                            <v-btn x-small class="btn">
                              <a
                                target="_blank"
                                :href="l.pdf_file"
                                style="
                                  color: #000;
                                  text-decoration: none;
                                  font-size: 13px;
                                "
                                >View file</a
                              ></v-btn
                            >
                          </span>
                          <v-icon
                            v-if="l.deleteClick"
                            @click="deleteItem(l.curriculum_id, i)"
                            right
                            >mdi-delete</v-icon
                          >
                          <span
                            v-else
                            style="
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            "
                          >
                            <i
                              style="color: #ccc; font-size: 20px"
                              class="fa fa-circle-o-notch fa-spin"
                            ></i>
                          </span>
                        </div>
                      </v-alert>
                    </fragment>
                  </v-col>
                  <v-col md="12">
                    <hr />
                  </v-col>
                </v-row> -->
      </v-form>

      <v-dialog v-model="deleteTopicDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this course ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col class="text-left">
                <v-btn
                  color="green darken-1"
                  dark
                  text
                  @click="deleteTopicDialog = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  dark
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteTopic"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <!-- <v-container class="mt-2" v-if="slug.id">
      <v-row style="background-color: #000" class="ml-1">
        <v-col class="text-center"
          ><h4 style="color: white">Curriculums</h4></v-col
        >
      </v-row> -->
    <!-- <div>
        <v-simple-table>
          <template>
            <thead>
              <tr>
                <th class="text-center">Curriculum Name</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody v-if="showEmptyMessage">
              <tr>
                {{
                  EmptyMessage
                }}
              </tr>
            </tbody>
            <tbody v-else>
              <tr
                v-for="curriculum in curriculum_list"
                :key="curriculum.curriculum_id"
              >
                <td class="text-center">{{ curriculum.name }}</td>
                <td class="text-center">
                  <v-btn>
                    <v-icon @click="editCurriculumDia(curriculum)"
                      >mdi-pencil</v-icon
                    >
                  </v-btn>
                  <v-btn>
                    <v-icon @click="deleteTopicDia(curriculum)"
                      >mdi-delete</v-icon
                    >
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div> -->
    <!-- </v-container> -->
    <!-- <v-dialog v-model="editCurriculumDialog" max-width="800">
      <v-card>
        <v-card-title> Edit Curriculum </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="editCurriculumForm">
            <div class="row">
              <v-col>
                <v-text-field
                  v-model="editCurriculumContent.name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  required
                  label="Curriculum Name*"
                />
              </v-col>
              <v-col>
                <v-file-input
                  accept="application/pdf"
                  v-on:change="onUploadPdfUpdate"
                  v-model="pdf_string_update"
                  show-size
                  dense
                  filled
                ></v-file-input>
              </v-col>
              <v-col md="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{ errorMessage1 }}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Curriculum Updated!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      color="grey darken-4"
                      dark
                      rounded
                      :loading="loadingUpdate"
                      :disabled="showUpdateButton"
                      @click.prevent="updateCurriculum"
                      >Update</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn
                      color="red"
                      dark
                      rounded
                      @click="closeEditCurriDialog"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script>
let ClassicEditor;
if (process.browser) {
  ClassicEditor = require("@ckeditor/ckeditor5-build-classic");
}
let editor;

export default {
  name: "AddCourseCurriculum",
  // components: {
  //   ckeditor: CKEditor.component,
  // },
  // props: {
  //   value: {
  //     type: String,
  //     required: true,
  //   },

  //   tagName: {
  //     type: String,
  //     required: true,
  //     default: "div",
  //   },
  //   disabled: {
  //     type: Boolean,
  //     required: false,
  //   },
  //   uploadUrl: {
  //     type: String,
  //     required: false,
  //   },
  // },
  data() {
    return {
      // editor: ClassicEditor,
      // curricu: [{ name: "" }],
      valid: true,
      show: true,
      pdf_string: "",
      pdf_string_update: "",
      loading: false,
      loadingUpdate: false,
      course_id: "",
      user_id: "",
      count: 1,
      success: false,
      activeButton: false,
      slug: this.$route.params,
      allowNext: false,
      curriculum: {
        course_id: "",
        name: "",
        pdf_file: "",
        description: "",
      },
      pdf_file: "",
      curriculum_list: "",
      addedItems: [],
      deleteTopicDialog: false,
      curriculum_id: "",
      curriculumImage: [{ image: "" }],
      editCurriculumDialog: false,
      editCurriculumContent: {
        course_id: "",
        curriculum_id: "",
        name: "",
        pdf_file: "",
        description: "",
        user_id: "",
      },
      curriculum_list_mes: "",
      error: false,
      errorMessage1: "",
      showEmptyMessage: false,
      EmptyMessage: "",
      deleteProcessing: false,
      curriculumContent: "",
      showUpdateButton: true,
      description: "",
      pd_string: "",
      errorMessage: "",
      pdfs_string:""
    };
  },
  methods: {
    // getEditorvalue(editordata) {
    //   this.curriculumContent = editordata;
    //   if (editordata != "") {
    //     this.showUpdateButton = false;
    //   }
    //   console.log("dfgsdg543656dfgd", editordata);
    // },
    closeEditCurriDialog() {
      this.editCurriculumDialog = false;
      this.$refs.editCurriculumForm.reset();
      this.pdf_string_update = "";
      this.editCurriculumContent.pdf_file = "";
    },
    deleteItem(id, i) {
      this.addedItems[i].deleteClick = false;
      this.$set(this.addedItems, i, this.addedItems[i]);
      // setTimeout(() =>
      //     this.$delete(this.addedItems, i),
      //     2000);

      // console.log('deleteItem', id, i)
      this.$axios
        .post("trainingInstituteApi/delete_curriculum", {
          user_id: this.user_id,
          curriculum_id: id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.$delete(this.addedItems, i),
              // console.log(i)
              (this.success = false);
          } else {
            this.addedItems[i].deleteClick = true;
            this.$set(this.addedItems, i, this.addedItems[i]);
          }
        })
        .catch((err) => {
          console.log(err);
          // this.success = false
          // this.deleteClick = true
        });
    },
    onUploadPdfUpdate() {
      if (this.pd_string === undefined) {
        this.pd_string = "";
      } else {
        let that = this;
        let reader = new FileReader();
        reader.readAsDataURL(this.pd_string);
        reader.onload = function () {
          // cb(reader.result)
          that.editCurriculumContent.pdf_file = reader.result;
          // that.curriculumImage[0].image=that.pdf_file
          // console.log("dgdgfgsdfg", that.pdf_file);
        };
      }
    },
    onUploadPdf() {
      if (this.pdf_string === undefined) {
        this.pdf_file = "";
      } else {
        let that = this;
        let reader = new FileReader();
        reader.readAsDataURL(this.pdf_string);
        reader.onload = function () {
          // cb(reader.result)
          that.curriculum.pdf_file = reader.result;
          // that.curriculumImage[0].image=that.pdf_file
          console.log("dgdgfgsdfg", that.pdf_file);
        };
        reader.onerror = function (error) {
          console.log("Error: ", error);
        };
      }
    },
    editCurriculumDia(curri) {
      this.editCurriculumDialog = true;
      this.editCurriculumContent.user_id = curri.course_id;
      this.editCurriculumContent.curriculum_id = curri.curriculum_id;
      this.editCurriculumContent.name = curri.name;
      // this.pdfs_string=curri.pdf_file
      console.log("editCurriculumt ", curri);
    },
    async updateCurriculum() {
      this.loading = true;
      this.errorMessage1 = "";

      this.editCurriculumContent.user_id = this.user_id;
      this.editCurriculumContent.description = editor.getData();
      console.log("editCurriculumContent ", this.editCurriculumContent);
      // let payload = {
      //   curriculum_id: this.curriculum.curriculum_id,
      //   user_id: this.user_id,
      //   name: this.curriculum.name,
      //   pdf_file: this.curriculum.pdf_file,
      //   description: this.curriculum.description,
      // };
      // if (!this.$refs.editCurriculumForm.validate()) {
      //   this.error = true;
      //   this.errorMessage1 = "Please fill mandatory field";

      //   setTimeout(() => {
      //     this.error = false;
      //     this.loadingUpdate = false;
      //   }, 2000);
      // } else {
      if (
        this.editCurriculumContent.name == "" ||
        this.editCurriculumContent.description == ""
      ) {
        this.errorMessage1 = "Please fill mandatory field";
        this.error = true;

        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "trainingInstituteApi/update_course_curriculum",
          this.editCurriculumContent
        );
        if (res.data.result === 1) {
          this.loading = false;
          console.log("updatecurriapiresp", res.data);
          this.success = true;
          this.getCourseData();
          setTimeout(() => {
            this.success = false;
            this.editCurriculumDialog = false;
            this.pd_string = "";
            this.editCurriculumContent.pdf_file = "";
          }, 2000);
        } else {
          this.errorMessage1 = res.data.message;
          this.error = true;

          setTimeout(() => {
            this.error = false;
            this.loading = false;
          }, 2000);
        }
      }
      // }
    },
    deleteTopicDia(curri) {
      this.curriculum_id = curri.curriculum_id;
      this.deleteTopicDialog = true;
    },
    async deleteTopic() {
      this.deleteProcessing = true;
      let payload = {
        curriculum_id: this.curriculum_id,
        user_id: this.user_id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_curriculum",
        payload
      );
      if (res.data.result === 1) {
        this.deleteProcessing = false;
        this.getCourseData();
        if (this.curriculum_list_mes === "Failed") {
          this.curriculum_list = "";
        }
        this.deleteTopicDialog = false;
      } else if (res.result === 0) {
        this.deleteProcessing = false;
      }
    },

    submit() {
      this.loading = true;
      this.success = false;
      this.curriculum.user_id = this.user_id;
      this.curriculum.course_id = this.slug.id || this.course_id;
      this.curriculum.description = editor.getData();
      let name = this.curriculumName;
      // if (this.slug.id) {
      if (
        this.curriculum.name == "" ||
        this.curriculum.pdf_file == "" ||
        this.curriculum.description == ""
      ) {
        this.errorMessage = "Please fill mandatory field";
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      } else {
        this.$axios
          .post("trainingInstituteApi/add_course_curriculum", this.curriculum)
          .then((response) => {
            console.log(response);
            if (response.data.result === 1) {
              this.getCourseData();
              console.log("curriculum_list", this.curriculum_list);
              // this.addedItems = response.data.data
              if (response.data.data.length) {
                this.addedItems = response.data.data.map((rep) => {
                  rep.deleteClick = true;
                  return rep;
                });
              }
              this.activeButton = true;
              this.count = response.data.count;
              this.loading = false;
              this.valid = false;
              this.show = false;
              this.allowNext = true;
              this.success = true;
              this.pdf_string = "";
              this.curriculum.pdf_file = "";
              setTimeout(() => {
                this.success = false;
                this.$emit("changeStep", 4);
                this.$emit("changeColor", 3);
              }, 2000);
            }
          })
          .catch((err) => {
            console.log(err);
            this.success = false;
          });
        // } else {
        //   this.$axios
        //     .post("trainingInstituteApi/add_course_curriculum", this.curriculum)
        //     .then((response) => {
        //       console.log(response);
        //       if (response.data.result === 1) {
        //         this.getCourseData();
        //         console.log("curriculum_list12", this.curriculum_list);
        //         // this.addedItems = response.data.data
        //         if (response.data.data.length) {
        //           this.addedItems = response.data.data.map((rep) => {
        //             rep.deleteClick = true;
        //             return rep;
        //           });
        //         }
        //         this.activeButton = true;
        //         this.count = response.data.count;
        //         this.loading = false;
        //         this.valid = false;
        //         this.allowNext = true;
        //         this.success = true;
        //         setTimeout(() => {
        //           this.success = false;
        //           // this.curriculumName=[{ name: ""}]
        //         }, 2000);
        //         this.$emit("changeStep", 4);
        //         this.$emit("changeColor", 3);
        //       } else {
        //         this.loading = false;
        //         this.error = true;
        //         this.errorMessage1 = response.data.message;
        //         setTimeout(() => {
        //           this.error = false;
        //           // this.curriculumName=[{ name: ""}]
        //         }, 2000);
        //       }
        //     })
        //     .catch((err) => {
        //       console.log(err);
        //       this.success = false;
        //     });
        // }
      }
    },
    addCurriculum() {
      this.curriculumName.push({ name: "" });
    },

    removeCurricu(index) {
      console.log("removeCurricuindex", index);
      this.$delete(this.curriculumName, index);
    },
    async getCourseData() {
      let res = await this.$axios.post(
        "trainingInstituteApi/course_curriculum_list",
        {
          course_id: this.slug.id,
          user_id: this.user_id,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.editCourse = true;
        this.curriculum_list = res.data.data;
        this.editCurriculumContent.name = res.data.data[0].name;
        this.editCurriculumContent.description = res.data.data[0].description;
        editor.setData(res.data.data[0].description);
        this.editCurriculumContent.course_id = res.data.data[0].course_id;
        this.editCurriculumContent.curriculum_id =
          res.data.data[0].curriculum_id;
        this.pdfs_string = res.data.data[0].pdf_file;
        this.curriculum_list_mes = res.data.message;
        console.log("curriculum_list123", this.curriculum_list);
        console.log("curriculum_listsdfasdf123", this.description);
        // this.addedItems = res.data.data[0].curriculum_list[0].map((rep) => {
        //   rep.deleteClick = true;
        //   return rep;
        // });
      } else if (res.data.result === 0) {
        this.showEmptyMessage = true;
        this.EmptyMessage = "No topic available";
      }
    },
  },
  mounted() {
    ClassicEditor.create(document.querySelector("#editor"), {
      toolbar: [
        "heading",
        "|",
        "bold",
        "italic",
        "link",
        "numberedList",
        "blockQuote",
      ],
      heading: {
        options: [
          {
            model: "paragraph",
            title: "Paragraph",
            class: "ck-heading_paragraph",
          },
          {
            model: "heading1",
            view: "h1",
            title: "Heading 1",
            class: "ck-heading_heading1",
          },
          {
            model: "heading2",
            view: "h2",
            title: "Heading 2",
            class: "ck-heading_heading2",
          },
        ],
      },
    })
      .then((newEditor) => {
        editor = newEditor;
      })
      .catch((error) => {
        console.log(error);
      });

    this.user_id = localStorage.getItem("userId");
    this.course_id = localStorage.getItem("course_id");
    if (this.slug.id) {
      this.getCourseData();
      console.log("curriculum_list1234", this.curriculum_list);
    } else {
    }
  },
  updated() {
    // Fired every second, should always be true
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }
    // if (this.allowNext === true) {
    //   this.$store.dispatch("courseCurrValid");
    // } else if (this.allowNext === false) {
    //   this.$store.dispatch("courseCurrInValid");
    // } else {
    // }
    // if (this.count > 0) {
    //     this.activeButton = true
    // } else {
    //     this.activeButton = false
    // }
  },
  created() {
    // this.course_id = localStorage.getItem('course_id')
    this.$nuxt.$on("submitCourseCurriculums", () => {
      // this.$axios.post('trainingInstituteApi/add_course_curriculum', {
      //         user_id: this.user_id,
      //         course_id: this.course_id,
      //         name: this.curriculum
      //     })
      //     .then((response) => {
      //         console.log(response)
      //     })
      //     .catch((err) => {
      //         console.log(err)
      //     })
    });
  },
};
</script>

<style>
.ck-editor__editable {
  min-height: 300px;
  min-width: 1000px;
}
</style>
