<template>
  <div>
    <v-container>
      <v-row>
        <v-col class="text-left"><h3 class="head2">FAQs</h3></v-col>
        <v-col class="text-right">
          <v-btn rounded dark color="grey darken-4" @click="addFaq"
            ><v-icon>mdi-plus</v-icon>Add More</v-btn
          >
        </v-col>
      </v-row>

      <v-form
        id="nativeForm"
        ref="addFaqForm"
        v-model="valid"
        @submit.prevent="submitFaq"
      >
        <div class="addNew">
          <div class v-for="(faq, index) in faqs" :key="index">
            <v-row>
              <v-col md="5" xs="11" sm="11">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="faq.question"
                  dense
                  filled
                  rows="2"
                  :rules="[(v) => !!v || 'Is required']"
                  label="Question*"
                  required
                ></v-textarea>
              </v-col>
              <v-col md="6" xs="11" sm="11">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="faq.answer"
                  dense
                  filled
                  rows="2"
                  :rules="[(v) => !!v || 'Is required']"
                  label="Answer*"
                  required
                ></v-textarea>
              </v-col>
              <v-col md="1" xs="1" sm="1" v-if="faqs.length > 1">
                <v-btn @click.prevent="deleteFaq(index)" v-if="index !== 0">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </div>
        </div>
        <v-row>
          <v-col md="12" v-if="errorMes" style="margin-top: 15px">
            <div class="form-group fadein">
              <v-alert text type="error" align="left">
                {{errorMes}}
              </v-alert>
            </div>
          </v-col>
          <v-col md="12" v-if="success" style="margin-top: 15px">
            <div class="form-group fadein">
              <v-alert text type="success" align="left">
                Course FAQs saved!
              </v-alert>
            </div>
          </v-col>

          <v-col md="12" class="text-left" v-if="submitted">
            <v-btn
              :loading="loading"
              :disabled="loading"
              v-if="valid"
              type="submit"
              rounded
              dark
              color="grey darken-4"
              >Save course FAQs
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
    <v-container class="mt-2" v-if="slug.id">
      <div v-if="addedItems.length > 0">
        <v-alert
          v-for="(l, i) in addedItems"
          :key="i"
          elevation="2"
          outlined
          color="#eee"
        >
        
          <div style="display: flex; justify-content: space-between">
            <span style="display: block; width: 95%">
              <p>
                <strong
                  ><v-icon class="mr-1">mdi-chat-question-outline</v-icon
                  >{{ l.question }}</strong
                >
              </p>
              <span>
                <v-icon class="mr-1">mdi-forum</v-icon>{{ l.answer }}</span
              >
            </span>
            <v-btn v-if="l.deleteClick" @click="deleteItem(l.faq_id, i)" right>
              <v-icon 
              >mdi-delete</v-icon
            >
            </v-btn>
            
            <span
              v-else
              style="
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <i
                style="color: #ccc; font-size: 20px"
                class="fa fa-circle-o-notch fa-spin"
              ></i>
            </span>
            <v-btn @click="editFaqDia(l)">
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </div>
        </v-alert>
      </div>
    </v-container>
    <v-dialog v-model="editFaqDialog" max-width="800">
        <v-card>
          <v-card-title> Edit Faq </v-card-title>
          <v-card-text>
            <v-form id="nativeForm" ref="editFaqForm">
              <div class="row">
                <v-col md="5" xs="11" sm="11">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="editFaqContent.question"
                  dense
                  filled
                  rows="2"
                  :rules="[(v) => !!v || 'Is required']"
                  label="Question*"
                  required
                ></v-textarea>
              </v-col>
              <v-col md="6" xs="11" sm="11">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="editFaqContent.answer"
                  dense
                  filled
                  rows="2"
                  :rules="[(v) => !!v || 'Is required']"
                  label="Answer*"
                  required
                ></v-textarea>
              </v-col>
                
                <v-col md="12">
                  <div v-if="successfaq" class="form-group fadein">
                    <v-alert text type="success" align="left">
                      Faq Updated!
                    </v-alert>
                  </div>
                </v-col>
                <v-col md="12">
                  <div v-if="errorfaq" class="form-group fadein">
                    <v-alert text type="error" align="left">
                      {{errorfaq}}
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-row>
                    <v-col>
                      <v-btn
                        color="grey darken-4"
                        dark
                        rounded
                        :loading="loading"
                        :disabled="loading"
                        @click.prevent="updateFaq"
                        >Update</v-btn
                      >
                    </v-col>
                    <v-col>
                      <v-btn
                        color="red"
                        dark
                        rounded
                        @click="editFaqDialog = false"
                        >Cancel</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-card-actions>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
  </div>
</template>

<script>
export default {
  name: "AddCourseFaq",
  data() {
    return {
      valid: true,
      errorMes:"",
      show: true,
      submitted: true,
      addedItems: [],
      success: false,
      successfaq:false,
      editCourse: false,
      editFaqDialog:false,
      slug: this.$route.params,
      loading: false,
      activeButton: false,
      allowNext: false,
      course_id: "",
      user_id: "",
      faqs: [
        {
          question: "",
          answer: "",
        },
      ],
      data: null,
      editFaqContent:{
        answer: "",
faq_id: "",
question: "",
      },
      errorfaq:""
    };
  },
  methods: {
    async getCourseData() {
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.editCourse = true;
        this.addedItems = res.data.data[0].faq_list[0].map((rep) => {
          rep.deleteClick = true;
          return rep;
        });
      } else {
      }
    },
    deleteItem(id, i) {
      this.addedItems[i].deleteClick = false;
      this.success = false;
      this.$set(this.addedItems, i, this.addedItems[i]);

      this.$axios
        .post("trainingInstituteApi/delete_faq", {
          user_id: this.user_id,
          faq_id: id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.$delete(this.addedItems, i),
              // console.log(i)
              (this.success = false);
          } else {
            this.addedItems[i].deleteClick = true;
            this.$set(this.addedItems, i, this.addedItems[i]);
          }
        })
        .catch((err) => {
          console.log(err);
          // this.success = false
          // this.deleteClick = true
        });
    },
    editFaqDia(f){
      this.editFaqDialog=true
      this.editFaqContent.question=f.question
      this.editFaqContent.answer=f.answer
      this.editFaqContent.faq_id=f.faq_id
      console.log("Faqedit",f)
    },
    async updateFaq(){
      this.loading=true
      let payload={
        course_id:this.slug.id,
        user_id:this.user_id,
        question:this.editFaqContent.question,
        answer:this.editFaqContent.answer,
        faq_id:this.editFaqContent.faq_id
      }
      if(!this.$refs.editFaqForm.validate()){

        this.errorfaq="Please fill mandatory field"
        setTimeout(() => {
          this.loading=false
          this.errorfaq=""
        }, 2000);
      }else{
      let res = await this.$axios.post("trainingInstituteApi/update_course_faq", payload);
      if(res.data.result===1){
        this.successfaq=true
        this.loading=false
        this.getCourseData();
        setTimeout(()=>{
          this.editFaqDialog=false
          this.successfaq=false
        },2000)
      }else{
        this.loading=false
        this.errorfaq=res.data.messege
        setTimeout(() => {
          this.errorfaq=""
        }, 2000);
      }
      }
    },
    submitFaq() {
      this.loading = true;
      this.success = false;
      let id = this.slug.id || this.course_id;
      // let question = this.data;
      this.$axios
        .post("trainingInstituteApi/add_course_faq", {
          user_id: this.user_id,
          course_id: id,
          question: this.faqs,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            // this.submitted = false;
            // this.faqs.map((l) => {
            //   l.question = " ";
            //   l.answer = " ";
            // });
            this.faqs.answer = "";
            this.loading = false;
            this.success = true;
            this.activeButton = true;
            this.allowNext = true;
            this.getCourseData();
            this.valid=true
            setTimeout(() => {
              this.success = false;
              if(this.slug.id){
              this.faqs = [
                {
                  question: "",
                  answer: "",
                },
              ];
              }
            }, 2000);
            this.$emit("changeStep",5)
            this.$emit("changeColor",4)
            this.$refs.addFaqForm.reset()
          } else {
            this.loading=false
            this.errorMes=response.data.messege
            setTimeout(() => {
              this.errorMes=""
            }, 2000);

          }
        })
        .catch((err) => {
          console.log(err);
          this.submitted = true;
          this.loading = false;
          this.success = false;
        });
    },
    addFaq: function () {
      this.faqs.push({
        question: "",
        answer: "",
      });
      this.submitted = true;
      this.success = false;
    },
    deleteFaq: function (index) {
      this.$delete(this.faqs, index);
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.course_id = localStorage.getItem("course_id");
    this.getCourseData();
  },
  updated() {
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }

    // Fired every second, should always be true
    if (this.allowNext === true) {
      this.$store.dispatch("courseFaqValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseFaqInValid");
    }
    this.data = {
      user_id: this.user_id,
      course_id: this.course_id,
      question: this.faqs,
    };
  },
  created() {
    this.$nuxt.$on("submitCourseFaq", () => {
      // alert('Curriculum!')
    });
  },
};
</script>

<style></style>
