<template>
  <div>
    <v-container>
      <v-row>
        <v-col class="text-left"><h3 class="head2">Projects/Documents</h3></v-col>
        <v-col class="text-right">
          <v-btn @click="addProject" rounded dark color="gret darken-4">
            <v-icon>mdi-plus</v-icon>Add More
          </v-btn>
        </v-col>
      </v-row>

      <v-form id="nativeForm" ref="addProjectForm" v-model="valid">
        <div class="addNew">
          <div class>
            <v-row v-for="(pro, index) in project" :key="index">
              <v-col md="6" xs="11" sm="11">
                <v-text-field
                  v-model="pro.name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Project/Document Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="5" xs="11" sm="11">
                <v-file-input
                  accept="application/pdf"
                  v-on:change="onUploadPdf"
                  v-model="img_string[index]"
                  :rules="[(v) => !!v || 'Is required']"
                  required
                  show-size
                  dense
                  filled
                  label="Upload Document*"
                ></v-file-input>
              </v-col>
              <v-col v-if="project.length > 1" md="1" xs="1" sm="1">
                <v-btn @click="deletePro(index)" v-if="index !== 0">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-col>

              <!-- <v-col
                        md="4"
                        xs="12"
                        sm="12"
                        v-if="img_string"
                        style="padding: 12px !important"
                      >
                        <v-btn
                          color="#000"
                          class="btn"
                          :loading="loading"
                          :disabled="loading"
                          @click.prevent="submit"
                          small
                          style="text-transform: capitalize"
                          >Save Project</v-btn
                        >
                      </v-col>
                      <v-col md="2">
                        <a
                          class="deleteRow btn"
                          @click.prevent="deleteCurri(index)"
                          style="margin: 0 auto; padding: 0; margin-top: 15px"
                        >
                          <span>Remove</span>
                          <svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                            />
                          </svg>
                        </a>
                      </v-col>
                      <v-col md="12">
                        <div v-if="success" class="form-group fadein">
                          <v-alert text type="success" align="left">
                            Successfully added {{ count }}
                            <span v-if="count > 1">projects</span
                            ><span v-else> project</span>
                          </v-alert>
                        </div>
                      </v-col>
                      <v-row>
                        <v-col md="12">
                          <fragment v-if="addedItems.length > 0">
                            <v-alert
                              v-for="(l, i) in addedItems"
                              :key="i"
                              elevation="2"
                              outlined
                              color="#eee"
                            >
                              <div style="display: flex; justify-content: space-between">
                                <span
                                  style="
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 95%;
                                  "
                                >
                                  {{ l.name }}
                                  <v-btn x-small class="btn">
                                    <a
                                      target="_blank"
                                      :href="l.file"
                                      style="
                                        color: #000;
                                        text-decoration: none;
                                        font-size: 13px;
                                      "
                                      >View file</a
                                    ></v-btn
                                  >
                                </span>
                                <v-icon
                                  v-if="l.deleteClick"
                                  @click="deleteItem(l.project_id, i)"
                                  right
                                  >mdi-delete</v-icon
                                >
                                <span
                                  v-else
                                  style="
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <i
                                    style="color: #ccc; font-size: 20px"
                                    class="fa fa-circle-o-notch fa-spin"
                                  ></i>
                                </span>
                              </div>
                            </v-alert>
                          </fragment>
                        </v-col>
                      </v-row>
                      <v-col md="12">
                        <hr />
                      </v-col> -->
            </v-row>
            <v-row>
              <v-col class="text-left">
                <v-btn
                  color="grey darken-4"
                  dark
                  rounded
                  v-if="valid "
                  :loading="loading"
                  :disabled="loading"
                  @click.prevent="submit"
                  >Save Project</v-btn
                >
              </v-col>
            </v-row>
          </div>
        </div>
      </v-form>
      <v-dialog v-model="editProjectDialog" max-width="800">
        <v-card>
          <v-card-title> Edit Project </v-card-title>
          <v-card-text>
            <v-form id="nativeForm" ref="editProjectForm">
              <div class="row">
                <v-col md="12">
                  <v-text-field
                    v-model="editProjectContent.name"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Is required']"
                    label="Project/Document Name*"
                    required
                  />
                </v-col>
                <v-col md="6">
                  <v-file-input
                    accept="application/pdf"
                    v-on:change="onUploadPdfUpdate"
                    v-model="pdf_string"
                    :rules="[(v) => !!v || 'Is required']"
                    required
                    show-size
                    label="Upload Document*"
                    dense
                    filled
                  ></v-file-input>
                </v-col>
                <v-col md="2" v-if="pd_string">
                  <img
          src="https://uwm.edu/freshwater/wp-content/uploads/sites/48/2018/09/pdf-icon-transparent-7.png"
          style="width: 80px;"
          alt=""
        />
                </v-col>
                <v-col md="12">
                  <div v-if="errorMessage1" class="form-group fadein">
                    <v-alert text type="error" align="left">
                      {{errorMessage1}}
                    </v-alert>
                  </div>
                </v-col>
                <v-col md="12">
                  <div v-if="successPro" class="form-group fadein">
                    <v-alert text type="success" align="left">
                      Project Updated!
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-row>
                    <v-col>
                      <v-btn
                        color="grey darken-4"
                        dark
                        rounded
                        :loading="loading"
                        :disabled="loading"
                        @click.prevent="updateProject"
                        >Update</v-btn
                      >
                    </v-col>
                    <v-col>
                      <v-btn
                        color="red"
                        dark
                        rounded
                        @click="closeEditProjectDialog"
                        >Cancel</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-card-actions>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog v-model="deleteProjectDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this course ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="deleteProjectDialog = false"
              class="btn"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteProject"
              class="btn"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container class="mt-15" v-if="slug.id">
      <div class="bx " style="width:1040px">
        <v-row class="grey-box" style="width:1000px">
          <v-col md="2" class="text-center"><h4>Project Document</h4></v-col>
           <v-col md="7" class="text-center"><h4>Project Name</h4></v-col>
            <v-col md="3" class="text-center"><h4>Actions</h4></v-col>
        </v-row>
        <v-row v-for="pro in projectList" :key="pro.project_id">
        <v-alert style="width:1000px">
          <v-row >
            <v-col md="2" class="text-center">
              <img
              v-if="pro.pdf_file"
          src="https://uwm.edu/freshwater/wp-content/uploads/sites/48/2018/09/pdf-icon-transparent-7.png"
          style="width: 80px;"
          alt=""
        />
        <a v-bind:href="pro.pdf_file" target="_blank"
                  ><i class="fa fa-download" aria-hidden="true"></i
                ></a>
            </v-col>
            <v-col md="7" class="text-center" align-self="center">{{ pro.name }} </v-col>
            <v-col md="3" class="text-center" align-self="center">
              <v-btn @click="deleteProjectDia(pro)"
                ><v-icon>mdi-delete</v-icon></v-btn
              >
              <v-btn @click="editProjectDia(pro)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-alert>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "AddCourseProject",
  data() {
    return {
      valid: true,
      show: true,
      slug: this.$route.params,
      img_string: [],
      pdf_string: "",
      course_id: "",
      user_id: "",
      loading: false,
      success: false,
      allowNext: false,
      editCourse: false,
      addedItems: [],
      count: 1,
      activeButton: false,
      projectList: "",
      project: [
        {
          name: "",
          document: "",
        },
      ],
      editProjectDialog: false,
      editProjectContent:{
        course_id: "",
name: "",
pdf_file: "",
project_id: ""
      },
      deleteProjectDialog: false,
      project_id: "",
      successPro:false,
      projectListMes:"",
      errorMessage1:"",
    };
  },
  methods: {
    closeEditProjectDialog(){
      this.editProjectDialog = false
      this.$refs.editProjectForm.reset()
      this.pdf_string=""
    },
    async getCourseData() {
      let res = await this.$axios.post(
        "trainingInstituteApi/course_project_list",
        {
          course_id: this.slug.id,
          user_id: this.user_id,
        }
      );
      console.log("projectLIST", res.data);
      if (res.data.result === 1) {
        this.projectList = res.data.data;
        this.projectListMes=res.data.message
      }
      //   this.editCourse = true;
      //   this.addedItems = res.data.data[0].project_list[0].map((rep) => {
      //     rep.deleteClick = true;
      //     return rep;
      //   });
      // } else {
      // }
    },
    deleteItem(id, i) {
      this.success = false;
      this.addedItems[i].deleteClick = false;
      this.$set(this.addedItems, i, this.addedItems[i]);

      this.$axios
        .post("trainingInstituteApi/delete_project", {
          user_id: this.user_id,
          project_id: id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.$delete(this.addedItems, i),
              // console.log(i)
              (this.success = false);
          } else {
            this.addedItems[i].deleteClick = true;
            this.$set(this.addedItems, i, this.addedItems[i]);
          }
        })
        .catch((err) => {
          console.log(err);
          // this.success = false
          // this.deleteClick = true
        });
    },
    onUploadPdfUpdate() {
      // console.log(image_string);
      let reader = new FileReader();

      reader.readAsDataURL(this.pdf_string);
      reader.onloadend = () => {
        this.editProjectContent.pdf_file = reader.result;
        console.log("ryrtyututyuy", this.editProjectContent.pdf_file);
        // this.trainers.image_file = this.trainers.image_file;
      };
    },
    onUploadPdf() {
      // if (this.img_string === undefined) {
      //   this.project.document = "";
      // } else {
      // let img_string = this.img_string;
      //  console.log("image_string",img_string);
      for (let i = 0; i < this.img_string.length; i++) {
        let reader = new FileReader();

        reader.readAsDataURL(this.img_string[i]);
        reader.onloadend = () => {
          this.project[i].document = reader.result;
          // this.finalDocument[i].image=this.project.document
          console.log("document", this.project);
          // this.submitCourseDetails.certification = this.submitCourseDetails.certification;
        };
      }
      // }
    },
    editProjectDia(p) {
      this.editProjectDialog = true;
      this.editProjectContent.name = p.name;
      this.editProjectContent.project_id = p.project_id;
      this.pd_string=p.pdf_file
      this.editProjectContent.course_id = p.course_id;
      console.log("fsdf3453gsdg",p)
    },
    async updateProject() {
      this.loading = true;
      let payload = {
        user_id: this.user_id,
        course_id: this.slug.id,
        project_id: this.editProjectContent.project_id,
        name: this.editProjectContent.name,
        documents: this.editProjectContent.pdf_file,
      };
      console.log("dsfgsdfgsdfgdfs", payload);
      if(!this.$refs.editProjectForm.validate()){
        this.errorMessage1="Please fill mandatory field"
        setTimeout(() => {
          this.loading=false
          this.errorMessage1=""
        }, 2000);
      }else{
      let res = await this.$axios.post(
        "trainingInstituteApi/update_course_project",
        payload
      );
      if (res.data.result === 1) {
        this.successPro = true;
        this.loading = false;
        this.getCourseData();
        setTimeout(() => {
          this.successPro = false;
          this.editProjectDialog = false;
          this.$refs.editProjectForm.reset()
          this.pdf_string=""
        }, 2000);
      }else{
        this.loading=false
        this.errorMessage1=res.data.message
        setTimeout(() => {
          this.errorMessage1=""
        }, 2000);
      }
      }
    },
    deleteProjectDia(p) {
      this.deleteProjectDialog = true;
      this.project_id = p.project_id;
    },
    async deleteProject() {
      let payload = {
        user_id: this.user_id,
        project_id: this.project_id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_project",
        payload
      );
      if (res.data.result === 1) {
        this.getCourseData();
        if(this.projectListMes==="Failed"){
          this.projectList=""
        }
        setTimeout(() => {
          this.deleteProjectDialog = false;
        }, 2000);
      }
    },
    submit() {
      this.loading = true;
      let project = this.projectList;
      let prodocument = this.finalDocument;
      let id = this.slug.id || this.course_id;
      this.$axios
        .post("trainingInstituteApi/add_course_project", {
          user_id: this.user_id,
          course_id: id,
          projects: this.project,
        })
        .then((response) => {
          console.log(response);
          if (response.data.count > 0) {
            this.activeButton = true;
            this.success = true;
            this.count = response.data.count;
            this.loading = false;
            this.allowNext = true;
            this.getCourseData();
            setTimeout(() => {
              this.success = false;
              this.$refs.addProjectForm.reset()
              this.img_string=[]
              this.project = [
                {
                  name: "",
                  document: "",
                },
              ];
            }, 2000);
            this.$emit("changeColor",8)
          }
        })
        .catch((err) => {
          console.log(err);
          this.loading = false;
        });
    },
    addProject() {
      this.project.push({
        name: "",
        document: "",
      });
    },
    deletePro(index) {
      this.$delete(this.project, index);
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getCourseData();
  },
  updated() {
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }
    // Fired every second, should always be true
    if (this.allowNext === true) {
      this.$store.dispatch("courseProjectValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseProjectInValid");
    } else {
    }
    // if (this.count > 0) {
    //     this.activeButton = true
    // } else {
    //     this.activeButton = false
    // }
  },
  created() {
    this.$nuxt.$on("submitCourseCurriculums", () => {
      // this.$axios.post('trainingInstituteApi/add_course_curriculum', {
      //         user_id: this.user_id,
      //         course_id: this.course_id,
      //         name: this.project
      //     })
      //     .then((response) => {
      //         console.log(response)
      //     })
      //     .catch((err) => {
      //         console.log(err)
      //     })
    });
  },
};
</script>

<style></style>
