<template>
  <v-container>
    <v-row>
      <v-col class="text-left"><h3 class="head2">Trainers</h3></v-col>
      <v-col class="text-right">
        <!-- <router-link to="/corporate/add_new_course"> -->
        <v-btn rounded dark color="grey darken-4" @click="addDialog = true">
          <v-icon>mdi-plus</v-icon>Add New
        </v-btn>
        <!-- </router-link> -->
      </v-col>
    </v-row>
    <v-row v-if="trainerListDrop.length > 0">
      <v-col md="6">
        <v-select
          :items="trainerListDrop"
          item-text="trainer_name"
          item-value="trainer_id"
          label="Select Trainers"
          v-model="selectedTrainer"
          dense
          outlined
          multiple
        ></v-select>
      </v-col>
      <v-col >
        <v-btn
          @click="assignTrainer"
          rounded
          dark
          color="grey darken-4"
          :loading="assignTrainLoader"
          :disabled="assignTrainLoader"
        >
          Assign Trainer
        </v-btn>
      </v-col>
       <v-col md="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{errorMess}}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Trainer Assigned!
                  </v-alert>
                </div>
              </v-col>
    </v-row>
    <div v-if="slug.id">

      <v-simple-table>
        <template>
          <thead>
            <tr>
              <th class="text-center">Trainer Image</th>
              <th class="text-center">Trainer Name</th>
              <th class="text-center">Trainer Designation</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody v-if="isCourseTrainerlistEmpty">
            <tr>{{emptyMessage}}</tr>
          </tbody>
          
          <tbody v-if="courseTrainerList.length>0">
            <tr v-for="trainer in courseTrainerList" :key="trainer.trainer_id">
              <td class="text-center">
                <v-img
                  max-height="80"
                  max-width="80"
                  :src="trainer.image"
                ></v-img>
              </td>
              <td class="text-center">{{ trainer.trainer_name }}</td>
              <td class="text-center">{{ trainer.designation }}</td>
              <td class="text-center">
                <v-btn @click="unAssignTrainerDia(trainer)">
                  Remove
                </v-btn>
                <!-- <v-btn @click="deleteTrainerDia(trainer)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn> -->
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <!-- <v-row v-if="courseTrainerList.length===0"><v-col><h5 class="text-center">No trainer available</h5></v-col></v-row> -->
    </div>
    <!-- <h3 class="head2">Trainers</h3>
    <div class="row" style="" v-if="trainerCont === null">
      <div class="col-md-4">
        <v-autocomplete
          @change="trainerSelected"
          item-text="name"
          item-value="trainer_id"
          v-model="trainerSelectedId"
          :items="trainerList"
          :rules="[(v) => !!v || 'Item is required']"
          required
          dense
          filled
          label="Search trainer"
        ></v-autocomplete>
      </div>
      <div class="col-md-1">
        <label for>Or</label>
      </div>
      <div class="col-md-4">
        <button :disabled="disableButton" @click="addTrainer" class="btn">
          <i class="fa fa-plus"></i> Add New
        </button>
      </div>
    </div> -->

    <!-- <v-form
      v-if="addnew"
      id="nativeForm"
      ref="form"
      v-model="valid"
      @submit.prevent="addNewTrainer"
    >
      <div class="row">
        <div class="col-md-4">
          <v-text-field
            v-model="trainer.name"
            dense
            filled
            :rules="[(v) => !!v || 'Is required']"
            label="Trainer Name"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainer.email"
            dense
            filled
            :rules="emailRules"
            label="Trainer Email"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainers.designation"
            dense
            filled
            :rules="[(v) => !!v || 'Is required']"
            label="Trainer Designation"
            required
          />
        </div>
        <div class="col-md-4">
          <v-file-input
            v-on:change="onImageUpload"
            accept="image/*"
            v-model="image_string"
            show-size
            dense
            filled
            label="Trainer Image"
            :rules="[(v) => !!v || 'Is required']"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainers.facebook"
            dense
            type="url"
            filled
            label="Facebook"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainers.twitter"
            dense
            type="url"
            filled
            label="Twitter"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainers.youtube"
            dense
            type="url"
            filled
            label="YouTube"
            required
          />
        </div>
        <div class="col-md-4">
          <v-text-field
            v-model="trainers.instagram"
            dense
            type="url"
            filled
            label="Instagram"
            required
          />
        </div>
        <div class="col-md-12">
          <v-textarea
            clearable
            clear-icon="cancel"
            v-model="trainers.description"
            dense
            filled
            :rules="[(v) => !!v || 'Is required']"
            label="Trainer Description"
            required
          ></v-textarea>
        </div>

        <v-col md="12">
          <div v-if="errorMessage1" class="form-group fadein">
            <v-alert text type="error" align="left">
              Some error occured!
            </v-alert>
          </div>
        </v-col>
        <v-col md="12">
          <div v-if="success" class="form-group fadein">
            <v-alert text type="success" align="left">
              Trainer assigned!
            </v-alert>
          </div>
        </v-col>

        <v-col md="4" xs="12" sm="12" v-if="submitted === false">
          <v-btn
            :loading="loading"
            :disabled="loading"
            v-if="valid"
            type="submit"
            color="#000"
            class="btn"
            style="text-transform: capitalize"
            >Save</v-btn
          >
           <button :disabled="!valid" type="submit" class="btn">Save </button> -->
    <!-- <a
            class="deleteRow btn"
            @click.prevent="deleteTrainer(index)"
            style="margin: 0 auto; padding: 0"
          >
            <span>Remove</span>
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path
                d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
              />
            </svg>
          </a>
        </v-col>

        <v-col md="12">
          <hr />
        </v-col>
      </div>
    </v-form>
    <v-row>
      <v-col md="12">
        <div v-if="error" class="form-group fadein">
          <v-alert text type="error" align="left">
            {{ errorMessage }}
          </v-alert>
        </div>
      </v-col>
      <v-col md="12">
        <div v-if="success1" class="form-group fadein">
          <v-alert text type="success" align="left">
            Trainer assigned!
          </v-alert>
        </div>
      </v-col> -->
    <!-- <v-col md="12">
        <TrainerDetails v-if="trainerCont" :data="trainerCont" />
      </v-col> -->
    <!-- </v-row> -->

    <!-- <v-dialog v-model="editDialog" max-width="800">
      <v-card>
        <v-card-title> Edit Trainer Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="form">
            <div class="row">
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.trainer_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Name"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.email"
                  dense
                  filled
                  :rules="emailRules"
                  label="Trainer Email"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.designation"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Designation"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-file-input
                  v-on:change="onImageUpload"
                  accept="image/*"
                  v-model="image_string"
                  show-size
                  prepend-icon="mdi-camera"
                  dense
                  filled
                  label="Trainer Image"
                  :rules="[(v) => !!v || 'Is required']"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.facebook"
                  dense
                  type="url"
                  filled
                  label="Facebook"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.twitter"
                  dense
                  type="url"
                  filled
                  label="Twitter"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.youtube"
                  dense
                  type="url"
                  filled
                  label="YouTube"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="editDialogContent.instagram"
                  dense
                  type="url"
                  filled
                  label="Instagram"
                  required
                />
              </div>
              <div class="col-md-12">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="editDialogContent.description"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Description"
                  required
                ></v-textarea>
              </div>

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    Some error occured!
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    {{ updateTrainerMessage }}
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      color="grey darken-4"
                      dark
                      rounded
                      :loading="updateLoader"
                      :disabled="updateLoader"
                      @click.prevent="updateTrainer"
                      >Update</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn color="red" dark rounded @click="editDialog = false"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog> -->
    <v-dialog v-model="addDialog" max-width="800">
      <v-card>
        <v-card-title> Add Trainer Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="addTrainerForm">
            <div class="row">
              <div class="col-md-4">
                <v-text-field
                  v-model="trainers.name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Name*"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="trainers.email"
                  dense
                  filled
                  :rules="emailRules"
                  label="Trainer Email*"
                  required
                />
              </div>
              <div class="col-md-4">
                <v-text-field
                  v-model="trainers.designation"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Designation*"
                  required
                />
              </div>
              <div class="col-md-12">
                <v-file-input
                  v-on:change="onImageUpload"
                  accept="image/*"
                  v-model="image_string"
                  show-size
                  prepend-icon="mdi-camera"
                  dense
                  filled
                  label="Trainer Image*"
                  :rules="[(v) => !!v || 'Is required']"
                  required
                />
              </div>
              <div class="col-md-8">
                <v-text-field
                  v-model="trainers.facebook"
                  dense
                  type="url"
                  filled
                  label="Facebook"
                  :rules="urlRules"
                />
              </div>
               <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
              <div class="col-md-8">
                <v-text-field
                  v-model="trainers.twitter"
                  dense
                  type="url"
                  filled
                  label="Twitter"
                  :rules="urlRules"
                />
              </div>
               <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
              <div class="col-md-8">
                <v-text-field
                  v-model="trainers.linkedin"
                  dense
                  type="url"
                  filled
                  label="Linkedin"
                  :rules="urlRules"
                />
              </div>
               <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
              <div class="col-md-8">
                <v-text-field
                  v-model="trainers.instagram"
                  dense
                  type="url"
                  filled
                  label="Instagram"
                  :rules="urlRules"
                />
              </div>
               <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
              <div class="col-md-12">
                <v-textarea
                  clearable
                  clear-icon="cancel"
                  v-model="trainers.description"
                  dense
                  filled
                  counter
                  maxlength="200"
                  :rules="[(v) => !!v || 'Is required']"
                  label="Trainer Description*"
                  required
                ></v-textarea>
              </div>

              <v-col md="12">
                <div v-if="errorAdd" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{errorMessageAdd}}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="successAdd" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Trainer Added!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      color="grey darken-4"
                      dark
                      rounded
                      :loading="trainerAddedLoader"
                      :disabled="trainerAddedLoader"
                      @click="addNewTrainer"
                      >Save</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn color="red" dark rounded @click="closeAddTrainerDialog"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="deleteTrainerDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-text
          >Do you really want to delete this course ? This process cannot be
          undone.</v-card-text
        >
        <v-card-actions>
          <v-btn
            color="green darken-1"
            text
            @click="deleteTrainerDialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="black darken-1"
            text
            :loading="deleteProcessing"
            :disabled="deleteProcessing"
            @click.prevent="deleteTrainer"
            >Yes, delete it!</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="unAssignDialog" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-text
          >Do you really want to remove from this course?.</v-card-text
        >
        <v-card-actions>
          <v-btn
            color="green darken-1"
            text
            @click="unAssignDialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="black darken-1"
            text
            :loading="deleteProcessing"
            :disabled="deleteProcessing"
            @click.prevent="unAssignTrainer"
            >Yes, Unassign!</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import TrainerDetails from "../components/courseDetails/TrainerDetails";
const regex = new RegExp(
  "^(http[s]?:\\/\\/(www\\.)?){1}([0-9A-Za-z-\\.@:%_+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?"
);
export default {
  name: "AddCourseTrainer",
  components: {
    TrainerDetails,
  },
  data() {
    return {
      assignTrainLoader: false,
      deleteTrainerDialog: false,
      unAssignDialog: false,
      editDialogContent: "",
      deleteProcessing: false,
      updateTrainerMessage: "",
      addDialog: false,
      addDialogContent: "",
      success: false,
      success1: false,
      slug: this.$route.params,
      trainerList: [],
      trainerName: [],
      trainerSelectedId: "",
      disableButton: false,
      error: false,
      submitted: false,
      loading: false,
      trainerAddedLoader: false,
      updateLoader: false,
      errorMessage: "",
      errorMessage1: false,
      allowNext: false,
      image_string: "",
      trainerCont: null,
      trainers: {
        name: "",
        email: "",
        course_id: "",
        user_id: "",
        designation: "",
        image_file: "",
        description: "",
        facebook: "",
        instagram: "",
        twitter: "",
        linkedin: "",
      },
      valid: true,
      addnew: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      user_id: "",
      trainer_id: "",
      courseTrainerList: [],
      trainerListDrop: [],
      selectedTrainer: [],
      assignedTrainer: [],
      courseTrainerListMes:"",
      trainerListMes:"",
      course_id:"",
      trainerIdList:[],
      errorMess:"",
      isCourseTrainerlistEmpty:false,
      emptyMessage:"",
      urlRules: [
        (v) => (v && regex.test(v)) || "invalid url",
      ],
      errorAdd:false,
      errorMessageAdd:"",
      successAdd:false
    };
  },
  methods: {
    closeAddTrainerDialog(){
      
      this.$refs.addTrainerForm.reset()
      this.trainers= {
        name: "",
        email: "",
        course_id: "",
        user_id: "",
        designation: "",
        image_file: "",
        description: "",
        facebook: "",
        instagram: "",
        twitter: "",
        linkedin: "",
      },
      this.image_string=""
      this.addDialog=false
    },
    trainerSelected() {
      let course_id = localStorage.getItem("course_id");
      this.$axios
        .post("trainingInstituteApi/assign_trainer", {
          user_id: this.trainers.user_id,
          course_id: course_id,
          trainer_id: this.trainerSelectedId,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.success1 = true;
            (this.disableButton = true), (this.allowNext = true);
          } else {
            this.errorMessage1 = true;
          }
        })
        .catch((err) => {
          console.log(err);
          this.errorMessage1 = true;
        });
    },
    onImageUpload(e) {
      let image_string = this.image_string;
      // console.log(image_string);
      let reader = new FileReader();
      reader.onloadend = (image_string) => {
        this.trainers.image_file = reader.result;
        console.log(this.trainers.image_file);
        // this.trainers.image_file = this.trainers.image_file;
      };
      reader.readAsDataURL(image_string);
    },
   
    addTrainer: function () {
      // this.trainers.push({
      //     name: "",
      //     email: '',
      //     designation: "",
      //     image_file: "",
      //     description: ""
      // });
      this.addnew = true;
      this.disableButton = true;
    },
    deleteTrainer: function (index) {
      this.$delete(this.trainers, index);
      this.addnew = false;
    },
    deleteTrainerDia(t) {
      this.deleteTrainerDialog = true;
      this.trainer_id = t.trainer_id;
    },
    deleteTrainer() {
      this.deleteProcessing = true;
      let payload = {
        user_id: this.user_id,
        trainer_id: this.trainer_id,
      };
      this.$axios
        .post("trainingInstituteApi/delete_trainer", payload)
        .then((resp) => {
          console.log("resp24234", resp.data);
          if (resp.data.result === 1) {
            this.updateTrainerMessage = resp.data.message;
            this.getCourseTrainerList();
            if(this.courseTrainerListMes==="Failed"){
              this.courseTrainerList=""
            }
            this.deleteTrainerDialog = false;
            this.trainerAddedLoader=false
          }
        });
    },
    addNewTrainer() {
      this.error = false;
      this.trainerAddedLoader = true;
      let course_id = localStorage.getItem("course_id");
      this.trainers.course_id = course_id || this.slug.id;
      this.trainers.user_id =this.user_id
      let form = this.trainers;
      console.log(this.trainers);
      let facebookurlcheck = true;
      let twitterurlcheck = true;
      let linkedinurlcheck = true;
      let instagramurlcheck = true;
      if (this.trainers.facebook != "") {
        facebookurlcheck = this.checkUrlValid(this.trainers.facebook);
      }
      if (this.trainers.twitter != "") {
        twitterurlcheck = this.checkUrlValid(this.trainers.twitter);
      }
      if (this.trainers.linkedin != "") {
        linkedinurlcheck = this.checkUrlValid(this.trainers.linkedin);
      }
      if (this.trainers.instagram != "") {
        instagramurlcheck = this.checkUrlValid(this.trainers.instagram);
      }
      if (
        this.trainers.name == "" ||
        this.trainers.designation == "" ||
        this.trainers.image_file == "" ||
        this.trainers.description == "" ||
        this.trainers.email == "" ||
        !facebookurlcheck ||
        !twitterurlcheck ||
        !linkedinurlcheck ||
        !instagramurlcheck
      ) {
        if (
          this.trainers.name == "" ||
          this.trainers.designation == "" ||
          this.trainers.image_file == "" ||
          this.trainers.description == "" ||
          this.trainers.email == ""
        ) {
          this.errorMessageAdd = "Please fill all mandatory field";
          this.errorAdd = true;
          
          setTimeout(() => {
            this.errorAdd = false;
            this.trainerAddedLoader = false;
          }, 2000);
        } else {
          this.errorMessageAdd = "Please fill valid url";
          this.errorAdd = true;
                    
          setTimeout(() => {
            this.errorAdd = false;
            this.trainerAddedLoader = false;
          }, 2000);
        }
      } else {
      this.$axios
        .post("trainingInstituteApi/add_trainer", this.trainers)
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.successAdd = true;
            this.disableButton = true;
            this.allowNext = true;
            this.trainerAddedLoader = false;
            this.submitted = true;

            this.getCourseTrainerList();

            setTimeout(() => {
              this.successAdd = false;
              
              this.trainers.facebook= "",
                this.trainers.instagram= "",
                this.trainers.twitter= "",
                this.trainers.linkedin= "",
              this.addDialog = false;
              this.$refs.addTrainerForm.reset()
              this.image_string=""
            }, 2000);
            this.$emit("changeStep",7)
            this.$emit("changeColor",6)
          } else {
            
            this.errorAdd = true;
            this.errorMessageAdd = response.data.message;
            this.trainerAddedLoader = false;
            setTimeout(() => {
              this.errorAdd =false
              this.trainers = {
              name: "",
              email: "",
              course_id: "",
              user_id: "",
              designation: "",
              image_file: "",
              description: "",
              facebook: "",
              instagram: "",
              twitter: "",
              linkedin: "",
            };
            }, 2000);
          }
        })
        .catch((err) => {
          console.log(err);
          this.errorAdd = true;
          this.trainerAddedLoader = false;
          setTimeout(() => {
            this.errorAdd =false
          }, 2000);
          this.trainers = {
            name: "",
            email: "",
            course_id: "",
            user_id: "",
            designation: "",
            image_file: "",
            description: "",
            facebook: "",
            instagram: "",
            twitter: "",
            linkedin: "",
          };
        });
      }
    },
    checkUrlValid(value) {
      return regex.test(value);
    },
     unAssignTrainerDia(trainer) {
      this.unAssignDialog = true;
      this.trainer_id=trainer.trainer_id
      console.log("editDialogContent", trainer);
    },
    async unAssignTrainer(){
      let payload
     if(this.slug.id){
      payload = {
        user_id: this.user_id,
        course_id: this.slug.id,
        trainer_id: this.trainer_id,
      };
      }else{
        payload = {
        user_id: this.user_id,
        course_id: this.course_id,
        trainer_id: this.trainer_id,
      };
      }
      let res = await this.$axios.post(
        "trainingInstituteApi/unassign_trainer",
        payload
      );
      if(res.data.result===1){
        console.log("unassinedtrainer",res.data)
        this.unAssignDialog=false
        this.getTrainerList()
        this.getCourseTrainerList()
        
            this.$emit("changeStep",7)
            this.$emit("changeColor",6)
      }
    },
    async assignTrainer() {
      this.assignTrainLoader = true; 
      let payload
      for (let i = 0; i < this.selectedTrainer.length; i++) {
        this.trainerIdList.push({ id: this.selectedTrainer[i] });
      }
      if(this.slug.id){
      payload = {
        user_id: this.user_id,
        course_id: this.slug.id,
        trainer_id: this.trainerIdList,
      };
      }else{
        payload = {
        user_id: this.user_id,
        course_id: this.course_id,
        trainer_id: this.trainerIdList,
      };
      }
      if(this.trainerIdList.length == 0){
        this.error=true
        this.errorMess="please select trainer!"
setTimeout(() => {
          this.assignTrainLoader = false;
          this.error=false
        }, 2000);
      }else{
      let res = await this.$axios.post(
        "trainingInstituteApi/assign_trainer",
        payload
      );
      if (res.data.result === 1) {
        this.assignedTrainer = this.selectedTrainer;
        this.selectedTrainer = [];
        this.trainerListDrop = [];
        console.log("assigntrainer", this.assignedTrainer);
        console.log("selectedtrain", this.selectedTrainer);
        this.assignTrainLoader = false;
        this.getCourseTrainerList();
        this.getTrainerList();
        this.trainerIdList=[]
        this.$emit("changeStep",7)
            this.$emit("changeColor",6)
        // this.postTrainerAssign()
      }else{
        setTimeout(() => {
          this.assignTrainLoader = false;
        }, 2000);
      }
      }
    },
    // postTrainerAssign(){
    //   console.log("sert5345345",this.trainerListDrop)
    //   let last=this.trainerListDrop.length
    //   this.assignedTrainer=this.selectedTrainer
    //   this.selectedTrainer=[]
    //   if(this.assignedTrainer.length === 0){

    //   }else{
    //     for(let j=0;j<this.trainerListDrop.length;j++){
    //       for(i=0;i<this.assignedTrainer.length;i++){
    //         if(this.trainerListDrop[j].trainer_id === this.assignedTrainer[i]){

    //           this.trainerListDrop[j]=this.trainerListDrop.pop()
    //         }
    //       }
    //     }
    //   }
    // },
    updateTrainer() {
      this.updateLoader = true;
      console.log("dfgdsfgd", this.editDialogContent);
      this.editDialogContent.user_id = this.user_id;
      let payload = {
        name: this.editDialogContent.trainer_name,
        email: this.editDialogContent.email,
        trainer_id: this.editDialogContent.trainer_id,
        user_id: this.user_id,
        designation: this.editDialogContent.designation,
        image_file: this.editDialogContent.image,
        description: this.editDialogContent.description,
      };
      this.$axios
        .post("trainingInstituteApi/update_trainer", payload)
        .then((resp) => {
          console.log("resp24234", resp.data);
          if (resp.data.result === 1) {
            this.success = true;
            this.updateLoader = false;
            this.updateTrainerMessage = resp.data.message;
            this.getCourseTrainerList();
            setTimeout(() => {
              this.success = false;
              this.editDialog = false;
            }, 2000);
          }else{
            
          }
        });
    },
    getCourseTrainerList() {
      let id=this.slug.id || this.course_id
      this.$axios
        .post("trainingInstituteApi/course_trainer_list", {
          user_id: this.user_id,
          course_id: id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            console.log("coursetrainerList", response.data.data);
            this.courseTrainerList = response.data.data;
            this.courseTrainerListMes=response.data.message
            this.isCourseTrainerlistEmpty=false
          }else if(response.data.result === 0){
            this.isCourseTrainerlistEmpty=true
            this.emptyMessage="Course trainer list empty"
            this.courseTrainerList =[]
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    shortTrainerList() {
      console.log("trainerList234234523", this.trainerList);
      for (let j = 0; j < this.trainerList.length; j++) {
        // if (this.assignedTrainer.length === 0) {
        // } else {
        //   for (let i = 0; i < this.assignedTrainer.length; i++) {
        //     if (this.assignedTrainer[i] === this.trainerList[j].trainer_id) {
        //     } else {
        this.trainerListDrop.push({
          trainer_id: this.trainerList[j].trainer_id,
          trainer_name: this.trainerList[j].name,
        });
      }
      //     }
      //   }
      // }

      console.log("trainerLisdfgdf", this.trainerListDrop);
    },
    getTrainerList() {
      this.$axios
        .post("trainingInstituteApi/trainer_list", {
          user_id: this.user_id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            console.log("trainerList", response.data.data);
            this.trainerList = response.data.data;
            this.trainerListMes=response.data.message
            this.shortTrainerList();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    async getCourseData() {
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id,
      });
      console.log("34534ertertre", res);
      if (res.data.result === 1) {
        this.editCourse = true;
        this.trainerCont = res.data.data[0].trainer_data[0];
      } else {
      }
    },
  },
  mounted() {
    this.trainers.user_id = localStorage.getItem("userId");
    this.user_id = localStorage.getItem("userId");
    this.course_id=localStorage.getItem("course_id");
    this.getTrainerList();
    this.getCourseTrainerList();
    if (this.slug.id) {
      this.getCourseData();
    } else {
    }
  },
  updated() {
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }
    // Fired every second, should always be true
    if (this.allowNext === true) {
      this.$store.dispatch("courseTrainerValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseTrainerInValid");
    }
  },
};
</script>

<style></style>
