<template>
  <v-container>
    <v-row>
      <v-col class="text-left"> <h3 class="head2">
      Features</h3></v-col>
      <v-col class="text-right">
        <v-btn rounded dark color="grey darken-4" @click="addFeature">
          Add More
        </v-btn>
      </v-col>
    </v-row>

    <v-form
      id="nativeForm"
      ref="addFeatureform"
      v-model="valid"
      @submit.prevent="submitFeatures"
    >
      <div class="addNew">
        <v-row v-for="(feature, index) in features" :key="index">
          <v-col md="11">
            <v-textarea
            clearable
            v-model="feature.description"
            clear-icon="cancel"
            required
            dense
            counter
            filled
            :rules="[(v) => !!v || 'Is required']"
            maxlength="100"
            label="Feature Description*"
          ></v-textarea>
          </v-col>
          <v-col md="1" v-if="features.length>1">
            <v-btn v-if="index!==0" @click.prevent="deleteFeature(index)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </div>
      <v-row>
        <v-col md="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{errorMessage1}}
                  </v-alert>
                </div>
              </v-col>
        <v-col md="12" v-if="success" style="margin-top: 15px">
          <div class="form-group fadein">
            <v-alert text type="success" align="left">
              Course features saved!
            </v-alert>
          </div>
        </v-col>
        <v-col class="text-left mb-2" md="12"  v-if="submitted" >
          <v-btn
          rounded
          dark
          color="grey darken-4"
            :loading="loading"
            :disabled="loading"
            v-if="valid"
            type="submit"
            >Save course features
          </v-btn>
          <!-- <v-btn
            :loading="loading"
            :disabled="loading"
            v-if="editCourse"
            type="submit"
            color="#000"
            class="btn"
            style="text-transform: capitalize"
            >Save course features
          </v-btn> -->
        </v-col>
        <v-col md="12" v-if="slug.id">
          <fragment v-if="addedFeatures.length > 0">
            <v-alert
              v-for="(l, i) in addedFeatures"
              :key="i"
              elevation="2"
              outlined
              color="#eee"
            >
              <div style="display: flex; justify-content: space-between">
                <span
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 95%;
                  "
                >
                  {{ l.description }}
                </span>
                <v-icon
                  v-if="l.deleteClick"
                  @click="deleteItem(l.feature_id, i)"
                  right
                  >mdi-delete</v-icon
                >
                
                <span
                  v-else
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <i
                    style="color: #ccc; font-size: 20px"
                    class="fa fa-circle-o-notch fa-spin"
                  ></i>
                </span>
                <v-icon
                  
                  @click="editFeatureDia(l)"
                  right
                  >mdi-pencil</v-icon
                >
              </div>
            </v-alert>
          </fragment>
        </v-col>
        
      </v-row>
    </v-form>
    <v-dialog v-model="editFeatureDialog" max-width="800">
      <v-card>
        <v-card-title> Edit Feature </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="form">
            <div class="row">
                <v-text-field
                clearable
                  clear-icon="cancel"
                 v-model="featureDesc"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  required
                />
              

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{errorMessage1}}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="successUpdate" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Feature Updated!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      color="grey darken-4"
                      dark
                      rounded
                      :loading="loading"
                      :disabled="loading"
                      @click.prevent="editFeature"
                      >Update</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn color="red" dark rounded @click="editFeatureDialog = false"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "AddCourseFeatures",
  props: ["courseName"],
  data() {
    return {
      slug: this.$route.params,
      valid: true,
      show:true,
      submitted: true,
      success: false,
      successUpdate:false,
      activeButton: false,
      allowNext: false,
      loading: false,
      editCourse: false,
      course_id: "",
      user_id: "",
      feature_id:"",
      featureDesc:"",
      editFeatureDialog:false,
      addedFeatures: [],
      features: [
        {
          description: "",
        },
      ],
      errorMessage1:"",
      error:false
    };
  },
  created() {},
  methods: {
    editFeatureDia(l){
      console.log("feature",l)
      this.editFeatureDialog=true
      this.feature_id=l.feature_id
      this.featureDesc=l.description
    },
    async editFeature(){
      this.loading=true
      let payload={
        user_id:this.user_id,
        course_id:this.slug.id,
        course_feature_id:this.feature_id,
        description:this.featureDesc
      }
      if(this.slug){
      let res = await this.$axios.post("trainingInstituteApi/edit_course_feature", payload);
      if(res.data.result===1){
        console.log("editfeature",res.data)
        this.successUpdate=true
        this.loading=false
        setTimeout(()=>{
          this.successUpdate=false
          this.editFeatureDialog=false
        },2000)
        this.getCourseData();
      }
      }
    },
    async getCourseData() {
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.editCourse = true;
        // this.addedFeatures = res.data.data[0].feature_list[0];
        this.addedFeatures = res.data.data[0].feature_list[0].map((rep) => {
          rep.deleteClick = true;
          return rep;
        });
      } else {
      }
    },
    deleteItem(id, i) {
      this.addedFeatures[i].deleteClick = false;
      this.$set(this.addedFeatures, i, this.addedFeatures[i]);
      this.$axios
        .post("trainingInstituteApi/delete_feature", {
          user_id: this.user_id,
          feature_id: id,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.$delete(this.addedFeatures, i),
              // console.log(i)
              (this.success = false);
          } else {
            this.addedFeatures[i].deleteClick = true;
            this.$set(this.addedFeatures, i, this.addedFeatures[i]);
          }
        })
        .catch((err) => {
          console.log(err);
          // this.success = false
          // this.deleteClick = true
        });
    },
    submitFeatures() {
      this.loading = true;
      this.success = false;
      let id = this.slug.id || this.course_id;
      this.$axios
        .post("trainingInstituteApi/add_course_feature", {
          user_id: this.user_id,
          course_id: id,
          description: this.features,
        })
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            // this.submitted = false;
            this.loading = false;
            this.success = true;
            if(this.slug.id){
              this.features=[{description: ""}]
              this.$refs.addFeatureform.reset()
            }
            // this.features=[{description: ""}]
            setTimeout(()=>{
              this.success = false;
              this.show=false
            },2000)
            this.activeButton = true;
            this.allowNext = true;
            this.getCourseData();
            this.$emit("changeStep",3)
            this.$emit("changeColor",2)
          } else {
            this.loading = false;
            this.error=true
            this.errorMessage1=response.data.messege
            setTimeout(()=>{
              this.error = false;
            },2000)
          }
        })
        .catch((err) => {
          console.log(err);
          this.submitted = true;
          this.loading = false;
          this.success = false;
        });
    },
    addFeature: function () {
      this.features.push({
        description: "",
      });
      this.submitted = true;
      this.success = false;
    },
    deleteFeature: function (index) {
      this.$delete(this.features, index);
    },
  },
  async mounted() {
    this.user_id = localStorage.getItem("userId");
    this.course_id = localStorage.getItem("course_id");
    this.getCourseData();
  },
  updated() {
    // Fired every second, should always be true
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }

    if (this.allowNext === true) {
      this.$store.dispatch("courseFeaturesValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseFeaturesInValid");
    }
  },
};
</script>

<style></style>
