<template>
  <div >
    <v-container>
      <v-row>
        <v-col class="text-left"><h3 class="head2">Topics</h3></v-col>
        <v-col class="text-right">
          <v-btn rounded dark color="grey darken-4" @click="addTopic">
            <v-icon>mdi-plus</v-icon>Add More
          </v-btn>
        </v-col>
      </v-row>
      <div>
        <v-form id="nativeForm" ref="addTopicForm" v-model="valid">
          <div class="addNew">
            <v-row v-for="(cours, index) in courseTopics" :key="index">
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="cours.topic_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Topic Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12" class="text-center">
                <p v-if="video_size_error">{{ video_size_error }}</p>
                <v-file-input
                  accept="video/*"
                  v-on:change="onUploadVideo"
                  v-model="video_string[index]"
                  :rules="[(v) => !!v || 'Is required']"
                  required
                  show-size
                  dense
                  filled
                  label="Topic Video*"
                ></v-file-input>
              </v-col>

              <v-col md="2" v-if="courseTopics.length > 1">
                <v-btn @click.prevent="deleteCurri(index)" v-if="index !== 0">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </v-col>
              <!-- <v-col md="12">
              <div v-if="success" class="form-group fadein">
                <v-alert text type="success" align="left">
                  You have added {{ count }}
                  <span v-if="addedItems.length > 1">topics</span
                  ><span v-else> topic</span>
                </v-alert>
              </div>
            </v-col>
            <v-col md="12">
              <fragment v-if="addedItems.length > 0">
                <v-alert
                  v-for="(l, i) in addedItems"
                  :key="i"
                  elevation="2"
                  outlined
                  color="#eee"
                >
                  <div style="display: flex; justify-content: space-between">
                    <span
                      style="
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 95%;
                      "
                    >
                      {{ l.name }}
                      <v-btn x-small class="btn">
                        <a
                          target="_blank"
                          :href="l.video_file"
                          style="
                            color: #000;
                            text-decoration: none;
                            font-size: 13px;
                          "
                          >View file</a
                        ></v-btn
                      >
                    </span>
                    <v-icon
                      v-if="l.deleteClick"
                      @click="deleteItem(l.topic_id, i)"
                      right
                      >mdi-delete</v-icon
                    >
                    <span
                      v-else
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <i
                        style="color: #ccc; font-size: 20px"
                        class="fa fa-circle-o-notch fa-spin"
                      ></i>
                    </span>
                  </div>
                </v-alert>
              </fragment>
            </v-col>
            <v-col md="12">
              <hr />
            </v-col> -->
            </v-row>
          </div>
          <v-col md="12">
            <div v-if="errorMessage1" class="form-group fadein">
              <v-alert text type="error" align="left">
                {{ errorMessage1 }}
              </v-alert>
            </div>
          </v-col>
          <v-col md="12">
            <div v-if="successTopic" class="form-group fadein">
              <v-alert text type="success" align="left"> Topic Added! </v-alert>
            </div>
          </v-col>
          <v-col
            md="4"
            xs="12"
            sm="12"
            v-if="valid"
            style="padding: 12px !important"
          >
            <v-btn
              color="grey darken-4"
              dark
              rounded
              :loading="loading"
              :disabled="loading"
              @click.prevent="submit"
              >Save Topic</v-btn
            >
          </v-col>
        </v-form>
      </div>

      <v-dialog v-model="deleteTopicDialog" max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this course ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="deleteTopicDialog = false"
              class="btn"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteTopic"
              class="btn"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="editTopicDialog" max-width="800">
        <v-card>
          <v-card-title> Edit Topic </v-card-title>
          <v-card-text>
            <v-form id="nativeForm" ref="editTopicForm">
              <div class="row">
                <v-col md="12">
                  <v-text-field
                    v-model="editTopicContent.name"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Is required']"
                    required
                    label="Topic Name*"
                  />
                </v-col>
                <v-col md="6">
                  <v-file-input
                    accept="video/*"
                    v-on:change="onUploadVideoUpdate"
                    v-model="video_string_update"
                    :rules="[(v) => !!v || 'Is required']"
                    required
                    show-size
                    dense
                    filled
                    label="Topic Video*"
                  ></v-file-input>
                </v-col>
                <v-col md="2"></v-col>
                <video v-if="topic_video" width="75" height="75" controls>
                  <source :src="topic_video" type="video/mp4" />
                  <source :src="topic_video" type="video/ogg" />
                  Your browser does not support HTML video.
                </video>
                <v-col md="12">
                  <div v-if="error" class="form-group fadein">
                    <v-alert text type="error" align="left">
                      {{ errorMessage }}
                    </v-alert>
                  </div>
                </v-col>
                <v-col md="12">
                  <div v-if="successTopic" class="form-group fadein">
                    <v-alert text type="success" align="left">
                      Topic Updated!
                    </v-alert>
                  </div>
                </v-col>
                <v-card-actions>
                  <v-row>
                    <v-col>
                      <v-btn
                        color="grey darken-4"
                        dark
                        rounded
                        :loading="loading"
                        :disabled="loading"
                        @click.prevent="updateTopic"
                        >Update</v-btn
                      >
                    </v-col>
                    <v-col>
                      <v-btn
                        color="red"
                        dark
                        rounded
                        @click="editTopicDialog = false"
                        >Cancel</v-btn
                      >
                    </v-col>
                  </v-row>
                </v-card-actions>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
    <v-container v-if="slug.id" class="mt-15">
      <!-- <v-row style="background-color:#000" class="ml-1">
                    <v-col class="text-center"><h4 style="color:white">Curriculums</h4></v-col>
            </v-row>
            <div>
              <v-simple-table>
                <template>
                  
                  <thead>
                    <tr>
                      <th class="text-center">Curriculum Name</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="curriculum in curriculum_list" :key="curriculum.curriculum_id">
                      <td class="text-center">{{ curriculum.name }}</td>
                      <td class="text-center">
                        <v-btn >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn >
                          <v-icon @click="deleteTopicDia(curriculum)">mdi-delete</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </div> -->
      <div class="bx" style="width: 840px">
        <v-row class="grey-box" style="width: 800px">
          <v-col md="2" class="text-center"><h4>Topic Video</h4></v-col>
          <v-col md="7" class="text-center"><h4>Topic Name</h4></v-col>
          <v-col md="3" class="text-center"><h4>Actions</h4></v-col>
        </v-row>
        <v-row v-for="topic in topicList" :key="topic.topic_id">
          <v-alert style="width: 800px">
            <v-col md="2" class="text-center">
              <video v-if="topic.video_file" width="75" height="75" controls>
                <source :src="topic.video_file" type="video/mp4" />
                <source :src="topic.video_file" type="video/ogg" />
                Your browser does not support HTML video.
              </video>
            </v-col>
            <v-col md="7" align-self="center" class="text-center">
              {{ topic.name }}
            </v-col>
            <v-col md="3" class="text-center" align-self="center">
              <v-btn @click="deleteTopicDia(topic)"
                ><v-icon>mdi-delete</v-icon></v-btn
              >
              <v-btn @click="editTopicDia(topic)"
                ><v-icon>mdi-pencil</v-icon></v-btn
              >
            </v-col>
          </v-alert>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "AddCourseTopic",
  data() {
    return {
      editTopicDialog: false,
      deleteTopicDialog: false,
      deleteProcessing: false,
      video_size_error: "",
      valid: true,
      show: true,
      video_string: [],
      video_string_update: "",
      course_id: "",
      user_id: "",
      count: 1,
      loading: false,
      yes: false,
      success: false,
      successTopic: false,
      slug: this.$route.params,
      allowNext: false,
      activeButton: false,
      topicList: "",
      topic_id: "",
      courseTopics: [{ topic_name: "", topic_video: "" }],
      topics: {
        name: "",
        image: "",
      },
      addedItems: [],
      editTopicContent: {
        course_id: "",
        name: "",
        topic_id: "",
        video_file: "",
      },
      topicListMes: "",
      errorMessage1: "",
      errorMessage: "",
      error: false,
      topic_video: "",
    };
  },
  methods: {
    closeEditTopic() {
      this.$refs.editTopicForm.reset();
      this.topic_video = "";
      this.video_string_update = "";
      this.editTopicDialog = false;
    },
    // deleteItem(id, i) {
    //   this.success = false;
    //   this.addedItems[i].deleteClick = false;
    //   this.$set(this.addedItems, i, this.addedItems[i]);
    //   this.$axios
    //     .post("trainingInstituteApi/delete_topic", {
    //       user_id: this.user_id,
    //       topic_id: id,
    //     })
    //     .then((response) => {
    //       console.log(response);
    //       if (response.data.result === 1) {
    //         this.$delete(this.addedItems, i),
    //           // console.log(i)
    //           (this.success = false);
    //         this.getCourseData();
    //       } else {
    //         this.addedItems[i].deleteClick = true;
    //         this.$set(this.addedItems, i, this.addedItems[i]);
    //       }
    //     })
    //     .catch((err) => {
    //       console.log(err);
    //       // this.success = false
    //       // this.deleteClick = true
    //     });
    // },
    deleteTopicDia(t) {
      this.deleteTopicDialog = true;
      this.topic_id = t.topic_id;
    },
    async deleteTopic() {
      let payload = {
        user_id: this.user_id,
        topic_id: this.topic_id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_topic",
        payload
      );
      if (res.data.result === 1) {
        this.deleteTopicDialog = false;
        this.getCourseData();
        if (this.topicListMes === "Failed") {
          this.topicList = "";
        }
      }
    },
    editTopicDia(t) {
      this.editTopicDialog = true;
      this.editTopicContent.course_id = t.course_id;
      this.editTopicContent.name = t.name;
      this.editTopicContent.topic_id = t.topic_id;
      this.topic_video = t.video_file;
      console.log("gsdhgdhdwew425346534", t);
    },
    async updateTopic() {
      this.loading = true;
      if (!this.$refs.editTopicForm.validate()) {
        this.errorMessage = "Please fill mandatory field";
        this.error = true;
        setTimeout(() => {
          this.loading = false;
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "trainingInstituteApi/update_course_topic",
          {
            course_id: this.slug.id,
            user_id: this.user_id,
            topic_id: this.editTopicContent.topic_id,
            topic_name: this.editTopicContent.name,
            topic_video: this.editTopicContent.video_file,
          }
        );
        if (res.data.result === 1) {
          console.log("updateTopicResp", res.data);
          this.getCourseData();
          this.successTopic = true;
          setTimeout(() => {
            this.successTopic = false;
            this.editTopicDialog = false;
            this.loading = false;
            this.$refs.editTopicForm.reset();
            this.topic_video = "";
            this.video_string_update = "";
          }, 2000);
        } else {
          this.loading = false;
          this.errorMessage1 = res.data.messege;
          setTimeout(() => {
            this.errorMessage1 = "";
          }, 2000);
        }
      }
    },
    onUploadVideoUpdate() {
      let that = this;
      console.log("5345234", this.video_string_update);
      let reader = new FileReader();
      reader.readAsDataURL(this.video_string_update);
      reader.onload = function () {
        // cb(reader.result)

        that.editTopicContent.video_file = reader.result;
        this.topic_video = reader.result;
        this.yes = false;
        // this.topics.image = reader.result;
        console.log("edittopics", that.editTopicContent);
      };
    },
    onUploadVideo() {
      // if (file === undefined) {
      //   this.topics.image = "";
      // } else if (file.size > 104857600) {
      //   this.yes = true;
      //   this.video_size_error = "*note: video should be less than 100 mb";
      // } else {
      let that = this;
      console.log("534dfgsdsd5234", this.video_string);
      for (let i = 0; i < this.video_string.length; i++) {
        console.log("5345234", this.video_string[i].file);
        let reader = new FileReader();
        reader.readAsDataURL(this.video_string[i]);
        reader.onload = function () {
          // cb(reader.result)

          that.courseTopics[i].topic_video = reader.result;
          this.yes = false;
          // this.topics.image = reader.result;
          console.log("topics", that.courseTopics);
        };
      }
      // }
    },
    submit() {
      this.loading = true;
      let id = this.slug.id || this.course_id;
      let name = this.courseTopics;
      let payload = {
        user_id: this.user_id,
        course_id: id,
        topics: name,
      };
      console.log("payload", payload);
      if (!this.$refs.addTopicForm.validate()) {
        this.errorMessage1 = "Please fill mandatory field";

        setTimeout(() => {
          this.loading = false;
          his.errorMessage1 = "";
        }, 2000);
      } else {
        this.$axios
          .post("trainingInstituteApi/add_course_topic", payload)
          .then((response) => {
            console.log(response);
            if (response.data.count > 0) {
              if (response.data.data.length) {
                this.addedItems = response.data.data.map((rep) => {
                  rep.deleteClick = true;
                  return rep;
                });
              }
              this.getCourseData();
              this.activeButton = true;
              this.success = true;
              this.count = response.data.count;
              this.loading = false;
              // this.valid = false;
              this.allowNext = true;
              setTimeout(() => {
                this.success = false;
                this.$refs.addTopicForm.reset();

                this.courseTopics = [{ topic_name: "", topic_video: "" }];
              }, 2000);
              this.$emit("changeStep", 6);
              this.$emit("changeColor", 5);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    addTopic() {
      this.courseTopics.push({ name: "", image: "" });
    },
    deleteCurri(index) {
      this.$delete(this.courseTopics, index);
    },
    async getCourseData() {
      let res = await this.$axios.post(
        "trainingInstituteApi/course_topic_list",
        {
          course_id: this.slug.id,
          user_id: this.user_id,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.editCourse = true;
        this.topicList = res.data.data;
        this.topicListMes = res.data.message;
        console.log("topicList", this.topicList);
        // this.addedItems = res.data.data[0].curriculum_list[0].map((rep) => {
        //   rep.deleteClick = true;
        //   return rep;
        // });
      } else {
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    if (this.slug.id) {
      this.getCourseData();
    } else {
    }
  },
  updated() {
    let course_id = localStorage.getItem("course_id");
    if (course_id === undefined) {
      console.log("Undefined course id!");
    } else {
      this.course_id = course_id;
    }

    // Fired every second, should always be true
    if (this.allowNext === true) {
      this.$store.dispatch("courseTopicValid");
    } else if (this.allowNext === false) {
      this.$store.dispatch("courseTopicInValid");
    } else {
    }
    // if (this.count > 0) {
    //     this.activeButton = true
    // } else {
    //     this.activeButton = false
    // }
  },
  created() {},
};
</script>

<style></style>
