<template>
  <div>
    <v-container>
      <v-row>
        <v-col class="text-left"><h3 class="head2">Batches</h3></v-col>
        <!-- <v-col class="text-right">
        <v-btn rounded dark color="grey darken-4" @click="addBatches" class="btn">
          Add New
        </v-btn>
      </v-col> -->
      </v-row>
      <v-form id="nativeForm" ref="addBatchForm" v-model="valid">
        <div class="addNew">
          <div class>
            <v-row>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  outlined
                  :value="start_date"
                  type="date"
                  :date-format="
                    (start_date) => new Date(start_date).toDateString()
                  "
                  :min="today"
                  v-model="start_date"
                  label="Start Date*"
                  filled
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                type="time"
                outlined
                v-model="batch.start_time"
                label="Batch Start Time*"

                ></v-text-field>
                <!-- <v-menu
                  ref="menu"
                  v-model="menu2"
                  :close-on-content-click="false"
                  :return-value.sync="batch.start_time"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="batch.start_time"
                      label="Batch Start Time*"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      dense
                      filled
                      v-bind="attrs"
                      :rules="[(v) => !!v || 'Is required']"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="menu2"
                    outlined
                    v-model="batch.start_time"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu.save(batch.start_time)"
                  ></v-time-picker>
                </v-menu> -->
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                type="time"
                outlined
                v-model="batch.end_time"
                      label="Batch End Time*"

                ></v-text-field>
                <!-- <v-menu
                  ref="menuu"
                  v-model="menu1"
                  :close-on-content-click="false"
                  :return-value.sync="batch.end_time"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="batch.end_time"
                      label="Batch End Time*"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="menu1"
                    outlined
                    v-model="batch.end_time"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menuu.save(batch.end_time)"
                  ></v-time-picker>
                </v-menu> -->
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-select
                  v-model="batch.batch_type"
                  :items="batch_types"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Batch Type*"
                  required
                ></v-select>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-select
                  v-model="batch.day_type"
                  :items="day_types"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Day Type*"
                  required
                ></v-select>
              </v-col>
              <v-col md="4" sm="12" class="form-group">
                <v-text-field
                  dense
                  :rules="[(v) => !!v || 'Is required']"
                  @keypress="onlyNumbers"
                  filled
                  v-model="batch.fee"
                  label="Fee*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Successfully added {{ count }}
                    <span v-if="count > 1">batches</span
                    ><span v-else> batch</span>
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12" class="text-left">
                <v-btn
                  v-if="valid"
                  :disabled="loading"
                  rounded
                  dark
                  color="grey darken-4"
                  type="submit"
                  @click.prevent="submit"
                >
                  <span v-if="!loading" style="color: #fff">Save</span>
                  <template v-else>
                    <span>Processing...</span>
                  </template>
                </v-btn>
              </v-col>
              <v-col md="12">
                <hr />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-form>
      <v-snackbar v-model="statusTrue" color="black">
        <span style="color: #fff">Status changed!</span>
        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
            <span style="color: #fff">Close</span>
          </v-btn>
        </template>
      </v-snackbar>
      <v-snackbar v-model="statusFalse" color="red">
        <span style="color: #fff">Could not change status!</span>
        <template v-slot:action="{ attrs }">
          <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
            <span style="color: #fff">Close</span>
          </v-btn>
        </template>
      </v-snackbar>
    </v-container>
    <v-container class="mt-2" v-if="slug.id">
      <div v-if="batchList.length > 0">
        <v-row style="background-color: #000" class="ml-1">
          <v-col class="text-center"
            ><h4 style="color: white">Batch List</h4></v-col
          >
        </v-row>
        <v-simple-table>
          <template>
            <thead>
              <tr>
                <th class="text-center">Start Date</th>
                <th class="text-center">Day Type</th>
                <th class="text-center">Type</th>
                <th class="text-center">Start Time</th>
                <th class="text-center">End Time</th>
                <th class="text-center">Fee</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="batch in batchList" :key="batch.batch_id">
                <td class="text-center">{{ batch.batch_start_date }}</td>
                <td class="text-center">{{ batch.day_type }}</td>
                <td class="text-center">{{ batch.type }}</td>
                <td class="text-center">{{ getTimeFormat(batch.start_time) }}</td>
                <td class="text-center">{{ getTimeFormat(batch.end_time) }}</td>
                <td class="text-center">{{ batch.fee }}</td>
                <td class="text-center">
                  <v-btn @click="editBatchDia(batch)"
                    ><v-icon>mdi-pencil</v-icon></v-btn
                  >
                  <v-btn-toggle v-model="batch.status" mandatory>
                    <v-btn
                      style="
                        height: 30px;
                        text-transform: capitalize;
                        border-radius: 5px;
                      "
                      value="Active"
                      size="small"
                      @click="batchStatusControl(batch.batch_id, 1)"
                      :disabled="getStatusActive(batch.status)"
                    >
                      Active
                    </v-btn>
                    <v-btn
                      style="
                        height: 30px;
                        text-transform: capitalize;
                        border-radius: 5px;
                      "
                      value="Inactive"
                      size="small"
                      @click="batchStatusControl(batch.batch_id, 0)"
                      :disabled="getStatusInactive(batch.status)"
                    >
                      Inactive
                    </v-btn>
                  </v-btn-toggle>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </div>
    </v-container>
    <v-dialog v-model="editBatchDialog" max-width="800">
      <v-card>
        <v-card-title> Edit Batch </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="editBatchForm">
            <v-row>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  outlined
                  :value="start_date"
                  type="date"
                  :date-format="
                    (start_date) => new Date(start_date).toDateString()
                  "
                  v-model="start_date"
                  label="Start Date*"
                  filled
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                type="time"
                outlined
                v-model="editBatchContent.start_time"
                      label="Batch Start Time*"

                ></v-text-field>
                <!-- <v-menu
                  ref="menu3"
                  v-model="menu3"
                  :close-on-content-click="false"
                  :return-value.sync="editBatchContent.start_time"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="editBatchContent.start_time"
                      label="Batch Start Time*"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      dense
                      filled
                      v-bind="attrs"
                      :rules="[(v) => !!v || 'Is required']"
                      v-on="on"
                      required
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="menu3"
                    outlined
                    v-model="editBatchContent.start_time"
                    full-width
                    format="24hr"
                    @click:minute="
                      $refs.menu3.save(editBatchContent.start_time)
                    "
                  ></v-time-picker>
                </v-menu> -->
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                type="time"
                outlined
                v-model="editBatchContent.end_time"
                      label="Batch End Time*"

                ></v-text-field>
                <!-- <v-menu
                  ref="menu4"
                  v-model="menu4"
                  :close-on-content-click="false"
                  :return-value.sync="editBatchContent.end_time"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="editBatchContent.end_time"
                      label="Batch End Time*"
                      prepend-icon="mdi-clock-time-four-outline"
                      readonly
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      v-bind="attrs"
                      v-on="on"
                      required
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="menu4"
                    outlined
                    v-model="editBatchContent.end_time"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu4.save(editBatchContent.end_time)"
                  ></v-time-picker>
                </v-menu> -->
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-select
                  v-model="editBatchContent.batch_type"
                  :items="batch_types"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Batch Type*"
                  required
                ></v-select>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-select
                  v-model="editBatchContent.day_type"
                  :items="day_types"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Day Type*"
                  required
                ></v-select>
              </v-col>
              <v-col md="4" sm="12" class="form-group">
                <v-text-field
                  dense
                  :rules="[(v) => !!v || 'Is required']"
                  filled
                  v-model="editBatchContent.fee"
                  @keypress="onlyNumbers"
                  label="Fee*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="12"> </v-col>
              <v-col md="12">
                <div v-if="successBatch" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Batch Updated!
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="errorBatch" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{ errorBatch }}
                  </v-alert>
                </div>
              </v-col>
            </v-row>
            <v-card-actions>
              <v-row>
                <v-col>
                  <v-btn
                    color="grey darken-4"
                    dark
                    rounded
                    :loading="loadingBatch"
                    :disabled="loadingBatch"
                    @click.prevent="updateBatch"
                    >Update</v-btn
                  >
                  <v-btn
                    color="red"
                    dark
                    rounded
                    @click="closeEditBatchDialog"
                    >Cancel</v-btn
                  >
                </v-col>
              </v-row>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "AddNewCourseBatches",
  props: ["action"],
  data() {
    return {
      valid: true,
      time: null,
      menu2: false,
      menu1: false,
      menu3: false,
      menu4: false,
      slug: this.$route.params,
      img_string: "",
      course_id: "",
      user_id: "",
      loading: false,
      loadingBatch: false,
      success: false,
      successBatch: false,
      allowNext: false,
      editCourse: false,
      statusTrue: false,
      statusFalse: false,
      batchList: "",
      count: 1,
      activeButton: false,
      batch_types: ["Online", "Classroom"],
      day_types: ["Weekdays", "Weekends"],
      addedItems: "",
      start_date: "",
      batch: {
        user_id: "",
        course_id: "",
        action: "",
        batch_start_date: "",
        batch_type: "",
        day_type: "",
        start_time: "",
        end_time: "",
        fee: "",
      },
      batchStatus: "",
      editBatchDialog: false,
      editBatchContent: {
        user_id: "",
        course_id: "",
        action: "",
        batch_start_date: "",
        batch_type: "",
        day_type: "",
        start_time: "",
        end_time: "",
        fee: "",
        batch_id: "",
      },
      errorBatch: "",
      today:""
    };
  },
  methods: {
    getTimeFormat(t){
      let ti=t.split(":")
      let h=Number(ti[0])
      let m=Number(ti[1])
      let ampm=(h>=12)?"PM":"AM"
      let h1=Number(h%12)
      let hours=h1?h1:12
      let minutes=(m<10)?"0"+m:m
      let time=hours+":"+minutes+" "+ampm
      return time

    },
    getStatusActive(c){
      if(c == 'Active'){
        return true
      }else{
        return false
      }
    },
    getStatusInactive(c){
      if(c == 'Inactive'){
        return true
      }else{
        return false
      }
    },
    closeEditBatchDialog(){
      this.editBatchDialog = false
      this.$refs.editBatchForm.reset()
    },
     onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
      this.$refs.menuUp.save(date);
    },
    // for date picker end
    async changeStatus(item) {
      // console.log("this is is item", item);
      let res = await this.$axios.post("trainingInstituteApi/manage_batch", {
        course_id: this.slug.id || this.batch.course_id,
        action: item.action,
        batch_id: item.batch_id,
        user_id: this.batch.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.statusTrue = true;
      } else {
        this.statusFalse = true;
      }
    },
    addBatches: function () {
      this.batch.batch_start_date = "";
      this.batch.batch_type = "";
      this.batch.day_type = "";
      this.batch.start_time = "";
      this.batch.end_time = "";
      this.batch.fee = "";
    },

    async getCourseData() {
      let res = await this.$axios.post("CustomerApi/course_details", {
        course_id: this.slug.id || this.batch.course_id,
      });
      console.log("fjhgfjhres", res.data);
      // if (res.data.result === 1) {
      //   this.addedItems = res.data.data[0].batch_data.map((rep) => {
      //     return rep;
      //   });
      //   console.log("sdfgsdgd", this.addedItems);
      // } else {
      // }
    },
    async getBatchData() {
      let payload = {
        course_id: this.slug.id || this.batch.course_id,
        action: "list",
        user_id: this.user_id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_batch",
        payload
      );
      if (res.data.result === 1) {
        console.log("batchlist", res.data);
        this.batchList = res.data.data;
      }
    },
    async batchStatusControl(id, status) {
      console.log("id and status", id, status);
      let Stat;
      if (status === 1) {
        Stat = "active";
      }
      if (status === 0) {
        Stat = "inactive";
      }
      let payload = {
        course_id: this.slug.id || this.batch.course_id,
        action: Stat,
        user_id: this.user_id,
        batch_id: id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_batch",
        payload
      );
      if (res.data.result === 1) {
        this.statusTrue = true;
      }
      if (res.data.result === 0) {
        this.statusFalse = true;
      }
    },

    editBatchDia(b) {
      this.editBatchDialog = true;
      console.log("batchinfo", b);
      this.editBatchContent.course_id = b.course_id;
      this.start_date = b.batch_start_date;
      this.editBatchContent.batch_type = b.type;
      this.editBatchContent.day_type = b.day_type;
      this.editBatchContent.start_time = b.start_time;
      this.editBatchContent.end_time = b.end_time;
      this.editBatchContent.fee = b.fee;
      this.editBatchContent.batch_id = b.batch_id;
      this.editBatchContent.action = "edit";
      this.editBatchContent.user_id = this.user_id;
    },
    async updateBatch() {
      this.loadingBatch = true;
      console.log("batchEdipayload", this.editBatchContent);
      this.editBatchContent.batch_start_date = this.start_date;
      if(!this.$refs.editBatchForm.validate()){

        this.errorBatch = "Please fill mandatory field"
        setTimeout(() => {
          this.loadingBatch = false;
          this.errorBatch =""
        }, 2000);
      }else{
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_batch",
        this.editBatchContent
      );
      if (res.data.result === 1) {
        this.successBatch = true;
        this.loadingBatch = false;
        setTimeout(() => {
          this.successBatch = false;
          this.editBatchDialog = false;
          this.$refs.editBatchForm.reset()
        }, 2000);
        this.getBatchData();
      } else {
        this.loadingBatch = false;
        this.errorBatch = res.data.messege;
        setTimeout(() => {
          this.errorBatch =""
        }, 2000);
      }
      }
    },

    submit() {
      this.loading = true;
      let id = this.slug.id || localStorage.getItem("course_id")
      this.batch.batch_start_date = this.start_date;
      this.batch.course_id=id
      this.$axios
        .post("trainingInstituteApi/manage_batch", this.batch)
        .then((response) => {
          console.log(response);
          if (response.data.result === 1) {
            this.activeButton = true;
            this.success = true;
            this.count = response.data.count;
            this.loading = false;
            this.allowNext = true;
            this.getCourseData();
            this.getBatchData();
            setTimeout(() => {
              this.success = false;
              this.$refs.addBatchForm.reset();
              // this.batch = {
              //   user_id: "",
              //   course_id: "",
              //   action: "",
              //   batch_start_date: "",
              //   batch_type: "",
              //   day_type: "",
              //   start_time: "",
              //   end_time: "",
              //   fee: "",
              //   batch_id: "",
              // };
            }, 2000);
            this.$emit("changeStep", 8);
            this.$emit("changeColor", 7);
          }
          else{
            setTimeout(() => {
               this.loading = false;
            }, 2000);
           
          }
        })
        .catch((err) => {
          console.log(err);
          this.loading = false;
        });
    },
    addProjects: function () {
      this.project.name = "";
      this.project.img_string = "";
      this.img_string = "";
      this.success = false;
    },
    deleteCurri: function (index) {
      this.$delete(this.topics, index);
    },
    getToday(){
      let dat=new Date()
      let tod=new Date(dat).toISOString()
      this.today=tod.split("T")[0]
      console.log("sdfasf1234",this.today)
    }
  },
  mounted() {
    let id = localStorage.getItem("course_id") || this.slug.id;
    this.batch.course_id = id;
    this.course_id = id;
    this.batch.user_id = localStorage.getItem("userId");
    this.user_id = localStorage.getItem("userId");
    this.getCourseData();
    this.getBatchData();
    this.batch.action = this.action;
    
    this.getToday()
    
    

  },
};
</script>

<style>
</style>