<template>
<div class="course-ft">
    <div class="bx">
        <h6 style="color: #000;font-weight: bold;">Sponsors &amp; Ads</h6>
        <div class="box">
            <img src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg" alt />
            <div class="prom-tag">promoted</div>
            <article>
                <h4>Music</h4>
                <p>By Elite Singing Techniques</p>
                <h6>
                    ₹ 650.00
                </h6>
                <div class="art-info">
                    <span class="left">
                        <i class="ion-android-star"></i> 4.1
                    </span>
                    <span class="right">
                        <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                    </span>
                </div>
            </article>
        </div>
        <div class="box">
            <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt />
            <div class="prom-tag">Newly Added</div>
            <article>
                <h4>Photography</h4>
                <p>By Filmmake Media</p>
                <h6>
                    ₹ 750.00
                </h6>
                <div class="art-info">
                    <span class="left">
                        <i class="ion-android-star"></i> 4.1
                    </span>
                    <span class="right">
                        <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                    </span>
                </div>
            </article>
        </div>
        <div class="box">
            <img src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg" alt />
            <div class="prom-tag">Exclusive</div>
            <article>
                <h4>Fashion Design</h4>
                <p>by NSHM institue</p>
                <h6>
                    ₹ 350.00
                </h6>
                <div class="art-info">
                    <span class="left">
                        <i class="ion-android-star"></i> 4.1
                    </span>
                    <span class="right">
                        <i class="ion-ios-stopwatch" aria-hidden="true"></i> 74 Hours
                    </span>
                </div>
            </article>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'AdvertisementSidebar'
}
</script>

<style>

</style>
