<template>
  <div class="review_view panel bx">
    <h3
      class="head2"
      style="background: #fafafb; margin-bottom: 0; padding: 15px"
    >
      Reviews
    </h3>
    <div v-if="reviewData.length > 0">
      <div
        style="border-radius: 20px"
        v-for="review in reviewData"
        :key="review.id"
      >
        <div>
          <!-- <article>
            <div class="tit">
              <div class="col-md-2" style="width: 150px">
                <v-row
                  ><v-col> <img :src="review.customer_image" /></v-col
                ></v-row>
                <v-row
                  ><v-col>
                    <span class="stars">
                      <i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(review.rate)"
                        :key="rateindex"
                      ></i> </span></v-col
                ></v-row>
              </div>
              <div class="col-md-10 mb-20">
                <v-row
                  ><v-col class="text-left "
                    ><h5 class="ml-0">
                      {{ review.customer_name }}
                    </h5></v-col
                  >
                </v-row>
                <v-row
                  ><v-col style="padding-left: -20px">
                    <p>
                      {{ review.message }}
                    </p></v-col
                  ></v-row
                >
              </div>
            </div>
          </article> -->
          <article>
            <div class="tit">
              <div class="col-md-2" style="width: 150px">
                <v-row
                  ><v-col> <img :src="review.customer_image" /></v-col
                ></v-row>
                <v-row
                  ><v-col>
                    <span class="stars">
                      <i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(review.rate)"
                        :key="rateindex"
                      ></i> </span></v-col
                ></v-row>
              </div>
              <div class="col-md-10 mt-5">
                <v-row
                  ><v-col class="text-left "
                    ><h5 class="ml-0" style="font-size:15px">
                      {{ review.customer_name }}
                    </h5></v-col
                  >
                </v-row>
                
              </div>
            </div>
            <v-row
                  ><v-col style="padding-left: -20px">
                    <p>
                      {{ review.message }}
                    </p></v-col
                  ></v-row
                >
          </article>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "AllTabReview",
  props: ["reviewData"],
  data() {
    return {};
  },
};
</script>