<template>
  <div class="bx">
    <div class="form respRow">
      <h3 style="margin-bottom: 25px" class="small-title">Change Password</h3>
      <v-form v-model="valid" @submit.prevent="changePassword" id="check-form">
        <v-row>
          <v-col md="6" lg="6" sm="12" xs="12">
            <div class="form-group">
              <v-text-field
                dense
                filled
                label="Old Password"
                v-model="oldPassword"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show1 = !show1"
                required
              ></v-text-field>
            </div>
          </v-col>
          <v-col md="6" lg="6" sm="12" xs="12">
            <div class="form-group">
              <v-text-field
                dense
                filled
                label="New Password"
                v-model="newPassword"
                :rules="passwordRules"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show1 = !show1"
                required
              ></v-text-field>
            </div>
          </v-col>
          <br />
          <v-col md="6" lg="6" sm="12">
            <div class="form-group">
              <v-text-field
                dense
                filled
                label="Confirm New Password"
                v-model="rePassword"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[[(v) => !!v || 'Required'], passwordConfirmationRule]"
                :type="show2 ? 'text' : 'password'"
                @click:append="show2 = !show2"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <div v-if="error" class="form-group fadein">
          <v-alert class="" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
        </div>
        <div
          class="form-group fadein"
          v-if="success"
          style="margin-bottom: 15px"
        >
          <div class="row">
            <v-alert text type="success" align="left">
              Password updated successfully!
            </v-alert>
          </div>
        </div>
        <v-btn
          class="btn"
          :disabled="!valid || loading2"
          color="#000"
          type="submit"
        >
          <span v-if="!loading2" style="color: #fff">Submit</span>
          <template v-else>
            <span>Processing...</span>
          </template>
        </v-btn>
      </v-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChangePasswordForm",
  props: ["corporate", "customer"],
  data() {
    return {
      valid: false,
      loading2: false,
      show1: false,
      show2: false,
      error: false,
      errorMessage: "",
      success: false,
      oldPassword: "",
      newPassword: "",
      rePassword: "",
      user_id: "",
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,16}$/.test(v) ||
          "Password must be at least of 8 characters containing at least one number and one special character",
      ],
    };
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
  },
  methods: {
    async changePassword() {
      this.loading2 = true;
      let url =
        this.corporate === true
          ? "trainingInstituteApi/change_password"
          : "CustomerApi/change_password";
      const response = await this.$axios.$post(url, {
        user_id: this.user_id,
        old_password: this.oldPassword,
        password: this.newPassword,
      });
      console.log(response);
      if (
        response.result === 0 &&
        response.message === "Please enter valid password"
      ) {
        this.loading2 = false;
        this.otpForm = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = "Please enter valid Old password";
      } else if (response.result === 0) {
        this.errorMessage = "An error occured!";
      } else if (response.result === 1) {
        this.success = true;
        this.valid = true;
        setTimeout(() => (this.otpForm = true), 2000);
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
      }
      localStorage.setItem("OTP", response.otp);
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
  },
  computed: {
    passwordConfirmationRule() {
      return () =>
        this.newPassword === this.rePassword || "Password must match";
    },
  },
  watch: {},
};
</script>

<style>
/* .login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}

.login .col-md-6 {
  padding-left: 0 !important;
}

.form div {
  box-shadow: none !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .v-messages__message {
  color: #ed1d25;
}

.form .v-text-field__details {
  padding: 0 !important;
} */
</style>
