<template>
  <ckeditor
  v-model="description"
    :editor="editor"
    :value="value"
    :config="config"
    :tagName="tagName"
    :disabled="disabled"
    @input="event => $emit('input', event)"
  />
</template>
<script>

let ClassicEditor
let CKEditor

if (process.client) {
  ClassicEditor = require('@ckeditor/ckeditor5-build-classic')
  CKEditor = require('@ckeditor/ckeditor5-vue2')
} else {
  CKEditor = { component : {template:'<div></div>'}}
}


export default {
  components: {
    ckeditor: CKEditor.component
  },
  props: ['description'],
  props: {
    value: {
      type: String,
      required: false
    },
    
    tagName: {
      type: String,
      required: false,
      default: 'div'
    },
    disabled: {
      type: Boolean,
      required: false,
    },
    uploadUrl: {
      type: String,
      required: false
    },
    config: {
      type: Object,
      required: false,
      default: function () {
      }
    },
  },
  data() {
    return {
      editor: ClassicEditor,
      editorData:this.description
    }
  },
  mounted(){
    alert(this.description)
  }
};
</script>
<style>
.ck-editor__editable {
    min-height: 300px;
    min-width: 1000px
   }</style>