<template>
  <div class="common_search">
    <form class="row">
      <!-- <div class="col-md-3" style="padding-right: 0">
        <div class="form-group">
          <v-select
            class="form-control"
            style="width: 100%"
            :items="types"
            label="Type"
            solo
          ></v-select>
        </div>
      </div> -->
      <div class="col-md-12" style="padding-left: 0">
        <div class="form-group">
          <v-text-field
            label="Search Courses , Jobs , Institutes , Companies , Persons"
            solo
            class="form-control"
            style="width: 100%"
          ></v-text-field>
          <button href="#" class="btn">
            <svg class="svg-icon" viewBox="0 0 20 20">
              <path
                fill="none"
                d="M12.323,2.398c-0.741-0.312-1.523-0.472-2.319-0.472c-2.394,0-4.544,1.423-5.476,3.625C3.907,7.013,3.896,8.629,4.49,10.102c0.528,1.304,1.494,2.333,2.72,2.99L5.467,17.33c-0.113,0.273,0.018,0.59,0.292,0.703c0.068,0.027,0.137,0.041,0.206,0.041c0.211,0,0.412-0.127,0.498-0.334l1.74-4.23c0.583,0.186,1.18,0.309,1.795,0.309c2.394,0,4.544-1.424,5.478-3.629C16.755,7.173,15.342,3.68,12.323,2.398z M14.488,9.77c-0.769,1.807-2.529,2.975-4.49,2.975c-0.651,0-1.291-0.131-1.897-0.387c-0.002-0.004-0.002-0.004-0.002-0.004c-0.003,0-0.003,0-0.003,0s0,0,0,0c-1.195-0.508-2.121-1.452-2.607-2.656c-0.489-1.205-0.477-2.53,0.03-3.727c0.764-1.805,2.525-2.969,4.487-2.969c0.651,0,1.292,0.129,1.898,0.386C14.374,4.438,15.533,7.3,14.488,9.77z"
              />
            </svg>
          </button>
        </div>
      </div>
    </form>
 <!-- <v-tabs >
   <v-tab>Course</v-tab>
                  <v-tab>Jobs</v-tab>
                  <v-tab>Staff</v-tab>
                  <v-tab>People</v-tab>
                  <v-tab>Schools</v-tab>
                  <v-tab>Colleges</v-tab>
                  <v-tab>Universities</v-tab>
                  <v-tab>Companies</v-tab>
                  <v-tab>Institutes</v-tab>
                  <v-tab>Companies</v-tab>
                  <v-tab></v-tab>
                  <v-tabs-item>
                    <input type="text" name="" id="" placeholder="Search for Course">
                    <a href="#"><i class="fa fa-search"></i></a>
                  </v-tabs-item>
                   <v-tabs-item>
                    <input type="text" name="" id="" placeholder="Search for Course">
                    <a href="#"><i class="fa fa-search"></i></a>
                  </v-tabs-item>
                   <v-tabs-item>
                    <input type="text" name="" id="" placeholder="Search for Course">
                    <a href="#"><i class="fa fa-search"></i></a>
                  </v-tabs-item>
 </v-tabs> -->
 
 
  </div>
</template>

<script>
export default {
  data() {
    return {
      types: [
        "Job",
        "Schools",
        "Colleges",
        "Companies",
      ]
    };
  }
};
</script>

<style>
.banner .caption .form-control {
  padding-left: 0 !important;
}
.banner .caption .col-md-3 .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.banner .caption .col-md-9 .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.common_search {
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
  position: relative;
}
.banner .caption .btn {
  background-color: #ed1d25;
    height: 49px;
    line-height: 2.5 !important;
    margin-left: 0 !important;
    position: absolute !important;
    border-radius: 4px !important;
    width: 75px;
    right: -6px !important;
    top: -1px !important;
    font-size: 18px;
}
.banner .caption .btn:hover, .banner .caption .btn:focus{
  border:transparent !important;
}
.banner .caption {
  top: 65px;
}
.banner {
  height: 56vh;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* height: 75vh !important; */
}
.common_search .row .form-group:last-child{
      margin-left: 0;
}
</style>
