<template>
  <div class="dashboardNav">
    <div class="course-profile">
      <div class="bx">
        <ul style="margin-top: 0">
          <li>
            <router-link to="/corporate/Companydashboard">
              Dashboard
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <!-- <router-link to="/corporate/update_profile">
              Update profile
              <i class="fa fa-angle-right"></i>
            </router-link> -->
              <router-link to="#pro">
              Profile
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
           <li>
           <a href="#address">
              Address And Locations
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
             <a href="#timing">
             Company Timings
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
             <a href="#gallery">
              Gallery
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#product">
            Products
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#service">
             Services
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          
          
           <li>
            <a href="#solution">
             Sollutions
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#research">
             Research & Development
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <li>
            <a href="#jobs">
            Jobs
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#news">
             News
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
           <a href="#facili">
             Facilities
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#review">
             Reviews
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#subs">
             Subscriptions
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#kyc">
            Company Kyc Dashboard
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
          <!-- <li>
            <router-link to="/corporate/change_password">
              Change Password
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_courses">
              Manage Courses
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_trainers">
              Manage Trainers
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- 
          <li>
            <a @click="toogle =! toogle">
              Manage
              <i class="fa fa-angle-down"></i>
            </a>
            <transition name="fade">
              <ul
                v-if="toogle"
                class="drop"
                style="border: none; margin: 0; padding: 0 15px !important;"
              >
                <li>
                  <a>Manage Courses</a>
                </li>
              </ul>
            </transition>
          </li> -->

          <!-- <li>
            <router-link to="/corporate/manage_gallery">
              Manage Gallery
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_placement">
              Manage Placements
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->

          <!-- <li>
            <router-link to="/corporate/maanage_jobs">
              Manage Jobs
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_products">
              Manage products
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_services">
              Manage Services
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_trackings">
              Enquiries tracker
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_history">
              Payment History
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/subscription_plans">
              Subscription Plan
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_news">
              Manage News
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_news">
              Manage Facilities
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/corporate/manage_news">
              Manage Solutions
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/corporate/manage_news">
              Research and development
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top: 0">
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Courses</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="#">Teaching Subjects / Courses</a></li>
                  <li><a href="#">Upload a course</a></li>
                  <li><a href="#">Upload a course</a></li>
                  <li><a href="#">View all Courses</a></li>

                  <li>
                    <a href="#">Purchased Courses</a>
                  </li>
                  <li>
                    <a href="#">Payment History</a>
                  </li>
                  <li>
                    <a href="#"
                      >Enquiry / Batch Information</a
                    >
                  </li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Jobs</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="#">Post a Job</a></li>
                  <li><a href="#">Job's Tracker</a></li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CompanyDashboardNav",
  data() {
    return {
      toogle: false,
    };
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}
/* .fade-transition{} */
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.drop a {
  border: none !important;
}
.drop {
  border-bottom: 1px solid #ddd !important;
}
</style>