<template>
    <div class="bx">
                        <h4 class="head2">Solution</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                        
                         <v-btn style="background:#000" class="btn" @click="showDialog = true">Enquire Us</v-btn>
                       <v-dialog v-model="showDialog" width="500">
              <v-card>
                <v-card-title class="headline">Enroll Us</v-card-title>
                <v-card-text>
                  <v-col md="6" sm="12">
                  <v-text-field 
                    label="Name"
                    v-model="firstName"
                  ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12">
                  <v-text-field
                    label="Qualification"
                    v-model="lastName"
                  ></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" >
                  <v-text-field label="Email" v-model="email"></v-text-field>
                  </v-col>
                  <v-col md="6" sm="12" >
                  <v-text-field
                    label="Phone Number"
                    v-model="Phone"
                  ></v-text-field>
                  </v-col>
                  <!-- <v-col md="6" sm="12" >
                  <v-select
                    label="Course Name"
                    :items="professionItems"
                    v-model="profession"
                  ></v-select>
                  </v-col> -->
                  <a href="#" class="btn">Submit</a>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" text @click="showDialog = false"
                    >Close</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
                        <hr>
                        <h4 class="head2">Solution</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae placeat maxime ad commodi voluptatem quia.</p>
                                                 <v-btn style="background:#000" class="btn" @click="showDialog = true">Enquire Us</v-btn>

                        <hr>
                        <h4 class="head2">Solution</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugiat voluptatibus facilis sed ratione iste qui pariatur temporibus earum quisquam?</p>
                                                <v-btn style="background:#000" class="btn" @click="showDialog = true">Enquire Us</v-btn>

                        </div>
                        
</template>
<script>
export default {
  name: "SchoolSolutionList",
   data () {
      return {
        showDialog: false,
      }
    },
};
</script>
<style >
</style>