<template>
  <div class="bx mb-4">
    <div v-if="loader">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="image"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <v-container id="uploadedCourse">
        <v-row class="mb-2">
          <v-col class="text-left"
            ><h3 class="head2 mt-0">
              Uploaded Courses ({{ courses.length }})
            </h3></v-col
          >
          <v-col class="text-right">
            <router-link to="/corporate/enquiry_batchinformation">
              <v-btn rounded color="grey darken-4" dark>
                Enquiry Tracker
              </v-btn>
            </router-link>
            <router-link
              to="/corporate/add_new_course"
              v-if="corporate_type === training || corporate_type === indi"
            >
              <v-btn rounded color="grey darken-4" dark> Add New </v-btn>
            </router-link>
            <v-btn
              v-if="
                corporate_type === school ||
                corporate_type === college ||
                corporate_type === univer
              "
              rounded
              color="grey darken-4"
              dark
              @click="addSCUCourseDashboardDia"
            >
              Add New
            </v-btn>
          </v-col>
        </v-row>
        <div class="button"></div>
        <div class="row" v-if="courses">
          <div class="col-md-4" v-for="(l, index) in courses" :key="index">
            <router-link to="/corporate/manage_courses" class="box">
            </router-link>
            <router-link to="/corporate/manage_courses" class="box">
              <img :src="l.image" :alt="l.name" />
              <article>
                <h4>{{ l.name }}</h4>
                <p>By {{ instituteName }}</p>
                <h6>₹ {{ l.fee }}</h6>
                <div class="art-info">
                  <span class="left">
                    <span v-if="l.rating > 0"
                      ><i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(l.rating)"
                        :key="rateindex"
                      ></i>
                      {{ " " }}{{ l.rating }}</span
                    >
                  </span>
                  <span class="right">
                    <i class="ion-ios-stopwatch" aria-hidden="true"></i>
                    {{ l.duration }}
                  </span>
                </div>
              </article>
            </router-link>
            <article>
              <div
                v-if="
                  corporate_type === school ||
                  corporate_type === college ||
                  corporate_type === univer
                "
              >
                <v-btn @click="editSCUCourseDashboardDia(l.course_id)">
                  <v-icon>mdi-pencil</v-icon></v-btn
                >
                <v-btn @click.prevent="deleteDialogOpen(l)"
                  ><v-icon>mdi-delete</v-icon></v-btn
                >
              </div>
              <div
                class="edit-del"
                v-if="corporate_type === training || corporate_type === indi"
              >
                <nuxt-link :to="`/corporate/edit_course/${l.course_id}`"
                  ><v-icon>mdi-pencil</v-icon></nuxt-link
                >
                <a @click.prevent="deleteDialogOpen(l)"
                  ><v-icon>mdi-delete</v-icon></a
                >
                <nuxt-link :to="`/corporate/courses_reviews/${l.course_id}`">
                  <v-icon>mdi-message-draw</v-icon>
                </nuxt-link>
              </div>
            </article>
          </div>
        </div>
        <div v-else>
          <p>You have added no courses yet.</p>
        </div>
        <v-row v-if="courses && courses.length == 3">
          <v-col>&nbsp;</v-col>
          <v-col
            ><router-link to="/corporate/manage_courses" class="btn"
              >View All</router-link
            ></v-col
          >
          <v-col>&nbsp;</v-col>
        </v-row>
      </v-container>
    </div>
    <v-dialog v-model="deleteCourseDialog" max-width="500">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-text
          >Do you really want to delete this course ? This process cannot be
          undone.</v-card-text
        >
        <v-card-actions>
          <v-btn color="green darken-4" text @click="deleteCourseDialog = false"
            >Cancel</v-btn
          >
          <v-btn
            color="black darken-4"
            text
            :loading="deleteProcessing"
            :disabled="deleteProcessing"
            @click.prevent="deleteCourse"
            >Yes, delete it!</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- <v-snackbar v-model="statusTrue" color="black">
          <span style="color: #fff">Status changed!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar> -->

    <v-dialog v-model="addSCUCourseDashboardDialog" max-width="800">
      <v-card>
        <v-card-title> Add Course Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="addCourseForm">
            <div class="row">
              <v-col md="12" xs="12" sm="12">
                <v-text-field
                  v-model="submitCourseDetails.course_name"
                  :rules="[(v) => !!v || 'Course name is required']"
                  dense
                  filled
                  label="Course Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6" xs="12" sm="12">
                <v-file-input
                  v-on:change="onImageUploadDash"
                  v-model="img_string"
                  :show-size="img_string ? true : false"
                  dense
                  :rules="courseImageRule"
                  filled
                  label="Course Image*"
                  accept="image/jpeg"
                  required
                ></v-file-input>
                
              </v-col>

              <v-col md="1" xs="12" sm="12">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
                <img
                  v-else
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                />
              </v-col>
              <v-col md="4" class="ml-3"
                    ><p style="font-color: #e74c3c">
                      Image Format (.jpeg) / Maximum Size (5 MB)
                    </p></v-col
                  >
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="submitCourseDetails.eligibility"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Course eligibility is required']"
                  label="Eligibility*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="submitCourseDetails.duration"
                  :rules="[(v) => !!v || 'Course duration is required']"
                  dense
                  filled
                  label="Duration*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="submitCourseDetails.fee"
                  :rules="[(v) => !!v || 'Course fee is required']"
                  dense
                  filled
                  label="Fee*"
                  @keypress="onlyNumbers"
                  required
                ></v-text-field>
              </v-col>

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{ errorMessage1 }}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Course Added!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      v-if="valid"
                      color="grey darken-4"
                      dark
                      rounded
                      :loading="loading"
                      :disabled="loading"
                      @click="submitSCUCourseDash"
                      >Save Course</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn
                      color="red"
                      dark
                      rounded
                      @click="closeaddSCUCourseDashboardDia"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editSCUCourseDashboardDialog" max-width="800">
      <v-card>
        <v-card-title> Edit Course Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="editCourseForm">
            <div class="row">
              <v-col md="12" xs="12" sm="12">
                <v-text-field
                  v-model="editSCUCourseDashboardContent.course_name"
                  :rules="[(v) => !!v || 'Course name is required']"
                  dense
                  filled
                  label="Course Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6" xs="12" sm="12">
                <v-file-input
                  v-on:change="onImageUploadUpdateDash"
                  v-model="image_string"
                  :show-size="image_string ? true : false"
                  dense
                  filled
                  :rules="courseEditImageRule"
                  label="Course Image"
                  accept="image/jpeg"
                ></v-file-input>
                
              </v-col>
              
              <v-col md="1" xs="12" sm="12">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
                <img
                  v-else
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                />
              </v-col>
              <v-col md="4" class="ml-3"
                    ><p style="font-color: #e74c3c">
                      Image Format (.jpeg) / Maximum Size (5 MB)
                    </p></v-col
                  >
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="editSCUCourseDashboardContent.eligibility"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Course eligibility is required']"
                  label="Eligibility*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="editSCUCourseDashboardContent.duration"
                  :rules="[(v) => !!v || 'Course duration is required']"
                  dense
                  filled
                  label="Duration*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                  v-model="editSCUCourseDashboardContent.fee"
                  :rules="[(v) => !!v || 'Course fee is required']"
                  dense
                  filled
                  label="Fee*"
                  @keypress="onlyNumbers"
                  required
                ></v-text-field>
              </v-col>

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    {{ errorMessage1 }}
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Course Updated!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn
                      color="grey darken-4"
                      dark
                      rounded
                      @click="updateSCUCourseDashboard"
                      :loading="loading"
                      :disabled="loading"
                      >Update</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn color="red" dark rounded @click="closeEditCourse"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  // props: ["courses", "loader"],
  name: "CorporateDashboardCourses",
  data() {
    return {
      deleteCourseDialog: false,
      course_id: "",
      valid: true,
      myCourses: [],
      courses: [],
      loading: false,
      deleteProcessing: false,
      user_id: "",
      instituteName: "",
      training: "Training Institute",
      indi: "Individual Trainer",
      school: "School",
      college: "College",
      univer: "University",
      addSCUCourseDashboardDialog: false,
      editSCUCourseDashboardDialog: false,
      editSCUCourseDashboardContent: {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      },
      corporate_type: "",
      success: false,
      image: "",
      image_string: "",
      img_string: "",
      submitCourseDetails: {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      },
      errorMessage1: "",
      courseNameRule: [],
      courseEligibilityRule: [],
      courseDurationRule: [],
      courseFeeRule: [],
      courseImageRule: [
        (v) => !!v || "Course image is required",
        (v) =>
          (v && v.size <= 5242880) ||
          "Image size must be less than or equal 5 Mb",
      ],
      courseEditImageRule: [],
    };
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.instituteName = localStorage.getItem("name");
    this.corporate_type = localStorage.getItem("corporate");
    this.getCourseList();
    console.log("dftwe456464", this.corporate_type);
  },
  methods: {
    closeEditCourse() {
      this.editSCUCourseDashboardDialog = false;
      this.image_string = "";
      this.image = "";
      this.$refs.editCourseForm.reset();
    },
    getCourseId(id) {
      localStorage.setItem("course_id_for_review", id);
    },
    courseNameR() {
      this.courseNameRule = [(v) => !!v || "Course name is required"];
    },
    cancelCourseNameR() {
      this.courseNameRule = [];
    },

    courseImageR() {
      this.courseImageRule = [(v) => !!v || "Course image is required"];
    },
    cancelCourseImageR() {
      this.courseImageRule = [];
    },

    courseEligibilityR() {
      this.courseEligibilityRule = [
        (v) => !!v || "Course eligibility is required",
      ];
    },
    cancelEligibilityR() {
      this.courseEligibilityRule = [];
    },

    courseDurationR() {
      this.courseDurationRule = [(v) => !!v || "Course duration is required"];
    },
    cancelCourseDurationR() {
      this.courseDurationRule = [];
    },

    courseFeeR() {
      this.courseFeeRule = [(v) => !!v || "Course fee is required"];
    },
    cancelCourseFeeR() {
      this.courseFeeRule = [];
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    closeaddSCUCourseDashboardDia() {
      this.img_string = "";
      this.image = "";
      this.errorMessage1 = "";
      this.$refs.addCourseForm.reset();
      this.addSCUCourseDashboardDialog = false;
    },
    onImageUploadDash(e) {
      if (e) {
        if (e.size < 5242880) {
          let reader = new FileReader();

          reader.readAsDataURL(this.img_string);
          reader.onloadend = () => {
            this.submitCourseDetails.image = reader.result;
            this.image = reader.result;
            console.log("this.image", this.image);
            // this.submitCourseDetails.image = this.submitCourseDetails.image;
          };
        } else {
          this.submitCourseDetails.image = "";
          this.image = "";
        }
      }
    },

    onImageUploadUpdateDash(e) {
      if (e) {
        if (e.size < 5242880) {
          let reader = new FileReader();

          reader.readAsDataURL(this.image_string);
          reader.onloadend = () => {
            this.editSCUCourseDashboardContent.image = reader.result;
            this.image = reader.result;
            // this.submitCourseDetails.image = this.submitCourseDetails.image;
          };
        } else {
          this.editSCUCourseDashboardContent.image = "";
          this.image = "";
        }
      }
    },

    addSCUCourseDashboardDia() {
      this.errorMessage1 = "";
      this.addSCUCourseDashboardDialog = true;
      // this.submitCourseDetails = {
      //   course_name: "",
      //   image: "",
      //   eligibility: "",
      //   duration: "",
      //   fee: "",
      // };
      // this.img_string = "";
      this.image = "";
    },

    async submitSCUCourseDash() {
      this.loading = true;
      this.submitCourseDetails.user_id = this.user_id;
      console.log("payloadschool", this.submitCourseDetails);
      // if (
      //   this.submitCourseDetails.course_name == "" ||
      //   this.submitCourseDetails.duration == "" ||
      //   this.submitCourseDetails.eligibility == "" ||
      //   this.submitCourseDetails.fee == ""
      // ) {
      //   if (this.submitCourseDetails.course_name == "") {
      //     this.courseNameR();
      //   }

      //   if (this.submitCourseDetails.eligibility == "") {
      //     this.courseEligibilityR();
      //   }

      //   if (this.submitCourseDetails.duration == "") {
      //     this.courseDurationR();
      //   }

      //   if (this.submitCourseDetails.fee == "") {
      //     this.courseFeeR();
      //   }
      //   setTimeout(() => {
      //     this.loading = false;
      //   }, 1000);
      if (!this.$refs.addCourseForm.validate()) {
        setTimeout(() => {
          this.loading = false;
        }, 1000);
      } else {
        this.cancelCourseImageR();
        this.cancelCourseNameR();
        this.cancelEligibilityR();
        this.cancelCourseDurationR();
        this.cancelCourseFeeR();
        let res = await this.$axios.post(
          "trainingInstituteApi/add_course_details",
          this.submitCourseDetails
        );
        if (res.data.result === 1) {
          this.success = true;
          this.loading = false;
          this.getCourseList();
          setTimeout(() => {
            this.success = false;
            this.addSCUCourseDashboardDialog = false;
            // this.submitCourseDetails = {
            //   course_name: "",
            //   image: "",
            //   eligibility: "",
            //   duration: "",
            //   fee: "",
            // };
            this.$refs.addCourseForm.reset();
          }, 2000);
          this.img_string = "";
          this.image = "";
        } else {
          this.errorMessage1 = res.data.message;
          this.loading = false;
          setTimeout(() => {
            this.errorMessage1 = "";
          }, 2000);
        }
      }
    },

    editSCUCourseDashboardDia(id) {
      let course = this.courses.find((c) => c.course_id === id);
      console.log("course34324", course);
      this.errorMessage1 = "";
      this.editSCUCourseDashboardDialog = true;
      this.editSCUCourseDashboardContent.course_name = course.name;
      this.editSCUCourseDashboardContent.duration = course.duration;
      this.editSCUCourseDashboardContent.eligibility = course.eligibility;
      this.editSCUCourseDashboardContent.fee = course.fee;
      this.editSCUCourseDashboardContent.course_id = id;
      // this.image_string = course.image;

      this.image = course.image;
    },

    async updateSCUCourseDashboard() {
      this.loading = true;
      // if (
      //   this.editSCUCourseDashboardContent.course_name == "" ||
      //   this.editSCUCourseDashboardContent.duration == "" ||
      //   this.editSCUCourseDashboardContent.eligibility == "" ||
      //   this.editSCUCourseDashboardContent.fee == ""
      // ) {
      //   if (this.editSCUCourseDashboardContent.course_name == "") {
      //     this.courseNameR();
      //   }

      //   if (this.editSCUCourseDashboardContent.eligibility == "") {
      //     this.courseEligibilityR();
      //   }

      //   if (this.editSCUCourseDashboardContent.duration == "") {
      //     this.courseDurationR();
      //   }

      //   if (this.editSCUCourseDashboardContent.fee == "") {
      //     this.courseFeeR();
      //   }
      //   setTimeout(() => {
      //     this.loading = false;
      //   }, 1000);
      if (this.editSCUCourseDashboardContent.image === "" || this.editSCUCourseDashboardContent.image === null) {
       
        this.courseEditImageRule = [];
        if (!this.$refs.editCourseForm.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        } else {
          this.editSCUCourseDashboardContent.user_id = this.user_id;
          let res = await this.$axios.post(
            "trainingInstituteApi/update_course_details",
            this.editSCUCourseDashboardContent
          );
          if (res.data.result === 1) {
            this.success = true;

            this.getCourseList();
            setTimeout(() => {
              this.success = false;
              this.loading = false;
              this.editSCUCourseDashboardDialog = false;
              // this.image_string=""
              // this.image=""
              this.$refs.editCourseForm.reset();
            }, 2000);
          } else {
            this.loading = false;
            this.errorMessage1 = res.data.message;
            setTimeout(() => {
              this.errorMessage1 = "";
            }, 2000);
          }
        }
      }else{
       
        this.courseEditImageRule=[(v)=>(v && v.size <= 5242880) || 'Image size must be less than or equal 5 Mb']
       
        if (!this.$refs.editCourseForm.validate()) {
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        } else {
          this.editSCUCourseDashboardContent.user_id = this.user_id;
          let res = await this.$axios.post(
            "trainingInstituteApi/update_course_details",
            this.editSCUCourseDashboardContent
          );
          if (res.data.result === 1) {
            this.success = true;

            this.getCourseList();
            setTimeout(() => {
              this.success = false;
              this.loading = false;
              this.editSCUCourseDashboardDialog = false;
              // this.image_string=""
              // this.image=""
              this.courseEditImageRule=[]
              this.$refs.editCourseForm.reset();
            }, 2000);
          } else {
            this.loading = false;
            this.errorMessage1 = res.data.message;
            setTimeout(() => {
              this.errorMessage1 = "";
              this.courseEditImageRule=[]
            }, 2000);
          }
        }
      }
    },

    deleteDialogOpen(l) {
      console.log("deleteDialogs", l);
      this.deleteCourseDialog = true;
      this.course_id = l.course_id;
    },
    async deleteCourse() {
      this.deleteProcessing = true;
      let res = await this.$axios.post("trainingInstituteApi/delete_course", {
        user_id: this.user_id,
        course_id: this.course_id,
      });
      console.log("deletecourse", res);
      if (res.data.result === 1) {
        this.deleteCourseDialog = false;
        this.getCourseList();
      }
    },
    async getCourseList() {
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });

      if (res.data.result === 1) {
        console.log("corselist234234", res);
        this.courses = res.data.data.reverse().slice(0, 3);
        // this.dashboardCourses = res.data.data.reverse().slice(0, 3);
      } else {
      }
    },
  },
};
</script>

<style>
.button {
  top: 0px;
  bottom: 0px;
  position: absolute;
}
</style>

<!--
<template>
  <div class="bx">
    <div v-if="loader">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="image"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <span class="small-title">
        <h3>Courses</h3>
        <div class="button">
        <router-link
          to="/corporate/add_new_course"
          class="btn"
          style="text-transform: capitalize"
          >Enquiry Tracker</router-link
        >
        </div>
        <router-link
          to="/corporate/add_new_course"
          class="btn"
          style="text-transform: capitalize"
          >Add New</router-link
        >
      </span>
     
      <div class="whole">
  <v-card class="card">
    <v-row class="no-gutters">
      <v-col md="2">
        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg" alt="" class="box" />
      </v-col>
      <v-col md="6">
        <v-card-body title="Horizontal Card">
            <h6>Computer Hardware</h6>
          <p1>
           Duration: 6 months | Eligibility : 12th pass
              
          </p1>
          <p>₹ 5000.00</p>
          <div class="edit-del">
               <a @click.prevent="openModal" style="margin: 0 4px"
                    ><i class="ion-edit"></i
                  ></a>
                              <a @click.prevent="deleteModal" style="margin: 0 4px"
                    ><i class="ion-trash-b"></i
                  ></a>
          </div>
           
        </v-card-body>
      </v-col>
    </v-row>
  </v-card>
</div>
      </div>
    </div>
 
</template>
<script>

export default {
  props: ["courses", "loader"],
  name: "CorporateDashboardCourses",
  data() {
    return {
      myCourses: [],
    };
  },
};
</script>
<style scoped>
.box {
  float: left;
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: -14px;
    right: 0px;
}
.ion-trash-b {
  content: "\f253";
    top: -80px;
    bottom: 0px;
    left: 660px;
    right: 0px;
    position: relative;
}
.ion-edit {
  content: "\f2bf";
    top: -80px;
    bottom: 0px;
    left: 655px;
    right: 0px;
    position: relative;
}
.button {
     top: 0px;
    bottom: 0px;
    left: 270px;
    right: 0px;
    position: relative;

}
</style>

-->
