<template>
  <fragment>
    <v-col md="4" xs="12" sm="12">
      <v-text-field
        v-model="name"
        dense
        filled
        :rules="[v => !!v || 'Is required']"
        label="Topic Name"
        required
      ></v-text-field>
    </v-col>
    <v-col md="4" xs="12" sm="12">
      <!-- <File /> -->
      <!-- <v-file-input v-model="topic.image" show-size dense filled label="Topic Image" accept="image/*" :rules="[v => !!v || 'Is required']" required></v-file-input> -->
      <v-file-input
        ref="image_string"
        v-on:change="onUploadFile"
        v-model="image_string"
        show-size
        dense
        :rules="[v => !!v || 'Is required']"
        filled
        label="Certification"
        accept="image/*"
      ></v-file-input>
    </v-col>

    <v-col md="12">
      <hr />
    </v-col>
  </fragment>
</template>

<script>
import File from '../components/File'
export default {
    name: 'CourseTopicFieldsetItem',
    components: {
        File
    },
    props: ['item'],

    data() {
        return {
            name: "",
            image: ""
        }
    },
    methods: {
        onUploadFile(e) {
            let image_string = this.image_string;
            // console.log(image_string);
            let reader = new FileReader();
            reader.onloadend = image_string => {
                // console.log(reader.result)
                // var to = this.topics
                // console.log(to)
                // to.map(function (item, index) {
                //     item.image = reader.result;
                // });
                // }
                this.image = reader.result;
                console.log(this.image);
                // this.image = this.image;
            };
            reader.readAsDataURL(image_string);
        },

    },
}
</script>

<style></style>
