<template>
  <fragment>
    <v-expansion-panels
      multiple
      class="filter-modal"
      style="position: sticky; top: 0"
    >
      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>Country</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="country in countries" :key="country.country_id">
              <v-checkbox
                v-model="filter.country_id"
                :label="country.name"
                color="black"
                :value="country.country_id"
                hide-details
              ></v-checkbox>
            </div>
            {{filter.country_id}}
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>State</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="state in states" :key="state.state_id">
              <v-checkbox
                v-model="filter.state_id"
                :label="state.name"
                color="black"
                :value="state.state_id"
                hide-details
              ></v-checkbox>
            </div>
            {{filter.state_id}}
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>City</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="city in cities" :key="city.city_id">
              <v-checkbox
                v-model="filter.city_id"
                :label="city.name"
                color="black"
                :value="city.city_id"
                hide-details
              ></v-checkbox>
            </div>
            {{filter.city_id}}
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <h6>Area</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="area in areas" :key="area.area_id">
              <v-checkbox
                v-model="filter.area"
                :label="area.name"
                color="black"
                :value="area.name"
                multiple
                hide-details
              ></v-checkbox>
            </div>
            {{filter.area}}
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="trainer || persons || HR">
        <v-expansion-panel-header>
          <h6>Looking For</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="trainer">
        <v-expansion-panel-header>
          <h6>Course/Subjects</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="training">
        <v-expansion-panel-header>
          <h6>Type of institute</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="companies">
        <v-expansion-panel-header>
          <h6>Company Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="consultancy">
        <v-expansion-panel-header>
          <h6>Consultancy Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>Classification</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="(item, index) in SchoolClassificationList" :key="index">
              <v-checkbox
              multiple
                v-model="filter.classification"
                :label="item"
                color="black"
                :value="item"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            {{filter.classification}}
            <!-- <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <label for="cit2">Kolkata</label>
            </div> -->
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>Board</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="(item, index) in SchoolBoardList" :key="index">
              <v-checkbox
                v-model="filter.board"
                :label="item"
                color="black"
                :value="item"
                hide-details
                multiple
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            {{filter.board}}
            <!-- <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <label for="cit2">Kolkata</label>
            </div> -->
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools">
        <v-expansion-panel-header>
          <h6>School Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div v-for="(item, index) in SchoolTypeList" :key="index">
              <v-checkbox
                v-model="filter.school_type"
                :label="item"
                color="black"
                :value="item"
                hide-details
                multiple
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            {{filter.school_type}}
            <!-- <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <label for="cit2">Kolkata</label>
            </div> -->
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Freshness</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Salary</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs || HR">
        <v-expansion-panel-header>
          <h6>Experience</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="HR">
        <v-expansion-panel-header>
          <h6>Industry</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Jobs Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Posted By</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Education</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs">
        <v-expansion-panel-header>
          <h6>Industry</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Course level</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="college"
          >
            <div v-for="item in course_level_list" :key="item.id">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="String(item.name).toUpperCase()"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="universities"
          >
            <div v-for="item in course_level_list" :key="item.id">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="String(item.name).toUpperCase()"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Stream</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="college"
          >
            <div v-for="(item, index) in CollegeStreamList" :key="index">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="universities"
          >
            <div v-for="(item, index) in UniversityStreamList" :key="index">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Course</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Program Type</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="college"
          >
            <div v-for="(item, index) in CollegeProgrameTypeList" :key="index">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="universities"
          >
            <div
              v-for="(item, index) in UniversityProgrameTypeList"
              :key="index"
            >
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college">
        <v-expansion-panel-header>
          <h6>Type of college</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="college"
          >
            <div v-for="(item, index) in CollegeTypeList" :key="index">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
          <div
            class="panel-body"
            style="max-height: 300px; overflow-y: auto"
            v-if="universities"
          >
            <div v-for="(item, index) in UniversityTypeList" :key="index">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                :label="item"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || schools || universities || trainer">
        <v-expansion-panel-header>
          <h6>Fees</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="height: 200px; overflow-y: auto">
            <v-text-field
              :value="filter.fee_min"
              v-model="filter.fee_min"
              outlined
              class="mt-0 pt-0"
              hide-details
              type="number"
              style="width: auto"
              @change="$set((filter.fee_min), $event)"
            ></v-text-field>
            <v-range-slider
              v-model="range"
              :max="max"
              :min="min"
              thumb-label="always"
              track-color="grey"
              thumb-color="red"
              color="red"
              hide-details
              class="pt-10"
            >
            </v-range-slider>
            <v-text-field
              :value="filter.fee_max"
              class="mt-0 pt-0"
              v-model="filter.fee_max"
              outlined
              hide-details
              type="number"
              style="width: auto"
              @change="$set((filter.fee_max), $event)"
            ></v-text-field>
          </div>
          {{filter.fee_min }}{{filter.fee_max}}
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools || college || universities">
        <v-expansion-panel-header>
          <h6>Distance</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <!-- <v-text-field
                :value="distance"
                class="mt-0 pt-0"
                outlined
                hide-details
                type="number"
                style="width: auto"
                @change="$set(distance, $event)"
              ></v-text-field> -->
            <v-slider
            class="mt-5"
              min="10"
              max="100"
              v-model="filter.distance"
              :label="distance+'KM'"
              track-color="grey"
              thumb-color="red"
              thumb-label="always"
              color="red"
            ></v-slider>
            {{filter.distance}}
            <!-- <v-text-field
                :value="distance"
                class="mt-0 pt-0"
                outlined
                label="KM"
                type="number"
                style="width: auto"
                @change="$set(distance, $event)"
              ></v-text-field> -->
            <!-- <div class=""> -->
            <!-- <v-checkbox
                v-model="ex4"
                label="Usa"
                color="black"
                value="black"
                hide-details
              ></v-checkbox> -->
            <!-- <label for="cit1">Delhi</label> -->
            <!-- </div> -->
            <!-- <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox> -->
            <!-- <label for="cit2">Kolkata</label> -->
            <!-- </div> -->
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="college || universities">
        <v-expansion-panel-header>
          <h6>Duration</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div class="">
              <!-- <input type="checkbox" id="cit1" /> -->
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">India</label> -->
            </div>
            <div class="">
              <!-- <input type="checkbox" id="cit2" /> -->
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">USA</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Language</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
            <div class="form-group form-check">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="lang"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="Indi"
                color="black"
                value="lang2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Explore By Institute</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="Delhi"
                color="black"
                value="ins1"
                hide-details
              ></v-checkbox>
              <label for="cit1">Delhi</label>

              <v-checkbox
                v-model="ex4"
                label="Kolkata"
                color="black"
                value="ins2"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training || persons">
        <v-expansion-panel-header>
          <h6>Category</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="cate"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="cate1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training">
        <v-expansion-panel-header>
          <h6>Sub category</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="subcat"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="red"
                color="black"
                value="subcat1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses || training">
        <v-expansion-panel-header>
          <h6>Course</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="course"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="course1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel
        v-if="
          courses ||
          schools ||
          college ||
          universities ||
          companies ||
          training ||
          consultancy ||
          trainer
        "
      >
        <v-expansion-panel-header>
          <h6>Popularity</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="popu"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="Inida"
                color="black"
                value="popu1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel
        v-if="
          courses ||
          schools ||
          college ||
          universities ||
          companies ||
          training ||
          consultancy ||
          trainer
        "
      >
        <v-expansion-panel-header>
          <h6>Rating</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div v-for="rateindex in parseInt(ratingFilter)" :key="rateindex">
              <div class="row">
                <v-col md="1">
                  <v-checkbox
                
                v-model="filter.ratings"
                color="warning"
                :value="rateindex"
                multiple
                hide-details
              ></v-checkbox>
                </v-col>
                <v-col md="6" class="pb-1" align-self="center">
                  <v-rating :value="`${rateindex}`" :length="`${rateindex}`" color="warning" readonly></v-rating>
                </v-col>
                
              
              </div>
              
              
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="schools || college || universities">
        <v-expansion-panel-header>
          <h6>Facilities</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="max-height: 300px; overflow-y: auto">
           
            <div  v-for="facility in facilities" :key="facility.id">
              <v-checkbox
              multiple
              class="py-2"
              v-model="filter.facilities"
                :label="facility.name"
                color="black"
                :value="facility.name"
                hide-details
              ></v-checkbox>
            </div>
            <!-- <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <label for="cit2">Kolkata</label>
            </div> -->
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel v-if="courses">
        <v-expansion-panel-header>
          <h6>Price</h6>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="price"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->

              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="price1"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-expansion-panel v-if="jobs" class="certi-res">
        <v-expansion-panel-header>
          <nuxt-link to="/walkin">walk-ins</nuxt-link>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div class="panel-body" style="padding: 0">
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="USA"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit1">Delhi</label> -->
            </div>
            <div class="">
              <v-checkbox
                v-model="ex4"
                label="India"
                color="black"
                value="black"
                hide-details
              ></v-checkbox>
              <!-- <label for="cit2">Kolkata</label> -->
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </fragment>
</template>

  
    
  


<script>
export default {
  props: [
    "jobs",
    "courses",
    "universities",
    "college",
    "schools",
    "companies",
    "training",
    "consultancy",
    "trainer",
    "persons",
    "HR",
  ],
  name: "CourseFilters",
  data() {
    return {
      panel: [0],
      ex4: [],
      country_Id: 100,
      state_Id: 35,
      city_Id: 1,
      countries: [],
      states: [],
      cities: [],
      areas: [],
      facilities:[],
      distance: "",
      min: 0,
      max: 3000,
      range: [0, 1000],
      ratingFilter:5,
      rating:"",
      filter:{
        corporate_type:"School",
          ratings:"",
          country_id:100,
          state_id:"",
          city_id:"",
          area:"",
          classification:"",
          board:"",
          school_type:"",
          distance:"",
          popularity:"",
          facilities:"",
          fee_min:0,
          fee_max:1000
      },
      course_level_list: [],
      SchoolBoardList: [
        "CBSE",
        "CISCE",
        "CIE",
        "IB",
        "State Board",
        "NIOS",
        "Montessori",
        "SEN",
        "AP",
        "Edexcel",
        "American Curriculum",
        "British Curricullum",
      ],
      SchoolClassificationList: [
        "Senior Secondary School(XI-XII)",
        "Secondary School(IX-X",
        "Middle School(VI-VIII)",
        "Primary School(I-V)",
        "Pre Primary School(Pre School)",
        "Playgroup",
      ],
      SchoolTypeList: [
        "Public School",
        "Private School",
        "Government School",
        "Municipal School",
        "State Government School",
        "Society",
        "Trust",
      ],
      CollegeProgrameTypeList: ["FULL TIME", "PART TIME", "DISTANCE"],
      CollegeTypeList: ["PRIVATE", "GOVERNMENT"],
      CollegeStreamList: [
        "MANAGEMENT",
        "ENGINEERING",
        "SCIENCE",
        "ARTS",
        "COMMERCE",
        "COMPUTER APPLICATIONS",
        "EDUCATION",
      ],
      UniversityProgrameTypeList: ["FULL TIME", "PART TIME", "DISTANCE"],
      UniversityTypeList: ["PRIVATE", "GOVERNMENT"],
      UniversityStreamList: [
        "MANAGEMENT",
        "ENGINEERING",
        "SCIENCE",
        "ARTS",
        "COMMERCE",
        "COMPUTER APPLICATIONS",
        "EDUCATION",
      ],
    };
  },
  mounted() {
    this.getCountries();
    this.getStates();
    this.getCities();
    this.getAreas();
    this.getFacilities()
    this.getCourseLevel();
  },
  methods: {
    async getCourseLevel() {
      let res = await this.$axios.get("/trainingInstituteApi/get_course_level");
      if (res.data.result === 1) {
        this.course_level_list = res.data.data;
        console.log("course_level_list", res.data.data);
      }
    },
    async getCountries() {
      let res = await this.$axios.get("/trainingInstituteApi/country_list");
      this.countries = res.data.data;
      console.log("country", this.countries);
    },
    async getStates() {
      let res = await this.$axios.get(
        "/trainingInstituteApi/state_list/" + this.country_Id
      );
      if (res.data.result === 1) {
        this.states = res.data.data;
      } else {
        this.states = [];
      }
    },
    async getCities() {
      let res = await this.$axios.get(
        "/trainingInstituteApi/city_list/" + this.state_Id
      );
      if (res.data.result === 1) {
        this.cities = res.data.data;
      } else {
        this.cities = [];
      }
    },
    async getAreas() {
      let res = await this.$axios.get(
        "/trainingInstituteApi/area_list/" + this.city_Id
      );
      if (res.data.result === 1) {
        this.areas = res.data.data;
      } else {
        this.areas = [];
      }
    },
    async getFacilities() {
      if(this.schools){
        let payload={
          corporate_type:"School"
        }
      let res = await this.$axios.post('CustomerApi/facilities_by_corporate_type',payload);
      if (res.data.result === 1) {
        this.facilities = res.data.data[0];
        console.log("facility2342",res.data.data[0])
      } else {
        this.facilities = [];
      }
      }
    },
  },
};
</script>

<style></style>
