<template>
  <div :class="course.is_promoted === 'Yes' && 'isPromoted'">
    <nuxt-link
      :to="`/courses/${course.name.replace(/\s/g, '-').replace(/\//g, '-')}/${
        course.course_id
      }`"
      class="box"
    >
      <img :src="course.image" alt />
      <!-- <div class="prom-tag" v-if="course.is_promoted === 'Yes'">promoted</div> -->
      <article>
        <h4>{{ course.name.substring(0, 34) }}</h4>
        <p>By {{ course.uploader_name?course.uploader_name:"" }}</p>
        <h6>₹ {{ course.fee }}</h6>
        <div class="art-info">
          <span class="left">
            <div v-if="rating">
            <i class="ion-android-star" style="color:#E42203" v-for="rateindex in parseInt(rating)"
                  :key="rateindex"></i>{{" "}}{{ rating}}
                  </div>
          </span>
          <span class="right">
            <i class="ion-ios-stopwatch" aria-hidden="true"></i>
            {{ course.duration }}
            <!-- Hours -->
          </span>
        </div>
      </article>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: ["course"],
  name: "CourseListItem",
  data(){
    return {
      rating:""
    }
  },
  mounted(){
    let rate=Number(this.course.rating)
    this.rating=Number(rate.toFixed(1))
  }
};
</script>

<style></style>
