<!--
<template>
<div class="review_view">
    <div class="bx">
        <div class="row">
            <h3 class="small-title">Reviews</h3>
        </div>
        <span v-if="myReviews.length">
            <article v-for="(l, index) in myReviews" :key='index'>
                <div class="tit">
                    <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg" />
                    <h5>John Doe</h5>
                </div>
                <p>
                    <span>
                        <strong>Rate</strong>
                        <small>
                            <i class="ion-android-star"></i> 4.1
                        </small>
                    </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.
                </p>
            </article>
        </span>
        <span v-else>
            <p>No reviews.</p>
        </span>
    </div>
</div>
</template>

<script>
export default {
    name: 'DashboardReviews',
    data() {
        return {
            myReviews: []
        }
    }
}
</script>

<style>

</style>

-->

<template>
  <div class="review_view panel bx mb-4">
    <v-row>
      <v-col class="ml-7"
        ><h3
          class="head2"
          style="background: #fafafb; margin-bottom: 0; padding: 15px"
        >
          Reviews
        </h3></v-col
      >
    </v-row>

    <div v-if="reviewData.length > 0">
      <div
        class=" ml-7"
        style="border-radius: 20px"
        v-for="review in reviewData"
        :key="review.id"
      >
        <div>
          <article>
            <div class="tit">
              <div class="col-md-2" style="width: 150px">
                <v-row
                  ><v-col> <img :src="review.customer_image" /></v-col
                ></v-row>
                <v-row
                  ><v-col>
                    <span class="stars">
                      <i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(review.rate)"
                        :key="rateindex"
                        style="display:flex"
                      ></i> </span></v-col
                ></v-row>
              </div>
              <div class="col-md-10">
                <v-row class="mt-6"
                  ><v-col class="text-left"
                    ><h5 class="ml-0">
                      {{ review.customer_name }}
                    </h5></v-col
                  >
                  <v-col class="text-right"
                    ><v-btn
                      v-if="review.status == 1"
                      rounded
                      dark
                      color="green"
                      size="small"
                    >
                      Published
                    </v-btn>
                    <v-btn
                      v-else
                      rounded
                      dark
                      color="grey darken-4"
                      size="small"
                      @click="makePublish(review.id, 1)"
                    >
                      Make Publish</v-btn
                    ></v-col
                  >
                </v-row>
              </div>
            </div>
            <v-row
                  ><v-col style="padding-left: -20px">
                    <p>
                      {{ review.message }}
                    </p></v-col
                  ></v-row
                >

            <!-- <div class="tit">
              <div class="col-md-2" style="width: 150px">
                <v-row
                  ><v-col> <img :src="review.customer_image" /></v-col
                ></v-row>
                <v-row
                  ><v-col>
                    <span class="stars">
                      <i
                        class="ion-android-star"
                        v-for="rateindex in parseInt(review.rate)"
                        :key="rateindex"
                      ></i> </span></v-col
                ></v-row>
              </div>
              <div class="col-md-10 mb-20">
                <v-row
                  ><v-col class="text-left"
                    ><h5 class="ml-0">
                      {{ review.customer_name }}
                    </h5></v-col
                  >
                  <v-col class="text-right"
                    ><v-btn
                      v-if="review.status == 1"
                      rounded
                      dark
                      color="green"
                      size="small"
                    >
                      Published
                    </v-btn>
                    <v-btn
                      v-else
                      rounded
                      dark
                      color="grey darken-4"
                      size="small"
                      @click="makePublish(review.id, 1)"
                    >
                      Make Publish</v-btn
                    ></v-col
                  >
                </v-row>
                <v-row
                  ><v-col style="padding-left: -20px">
                    <p>
                      {{ review.message }}
                    </p></v-col
                  ></v-row
                >
              </div>
            </div> -->

            <!-- <div class="tit">
                          <div>
                            <img :src="review.customer_image" />
                            <span class="stars">
                              <i
                                class="ion-android-star"
                                v-for="rateindex in parseInt(review.rate)"
                                :key="rateindex"
                              ></i>
                            </span>
                          </div>
                          <div>
                            <v-col
                              ><h5>{{ review.customer_name }}</h5></v-col
                            ><v-col class="text-right"
                              ><v-btn
                                v-if="review.status == 1"
                                rounded
                                dark
                                color="green"
                                size="small"
                              >
                                Published
                              </v-btn>
                              <v-btn
                                v-else
                                rounded
                                dark
                                color="grey darken-4"
                                size="small"
                                @click="makePublish(review.id, 1)"
                              >
                                Make Publish</v-btn
                              ></v-col
                            >
                          </div>
                        </div> -->
            <!-- <p>
                          {{ review.message }}
                        </p> -->
          </article>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DashboardReviews",
  data() {
    return {
      reviewData: [],
      user_id: "",
    };
  },
  mounted() {
    let id = localStorage.getItem("userId");
    this.user_id = id;
    this.getReviews();
  },
  methods: {
    async makePublish(id, stat) {
      let res = await this.$axios.post("trainingInstituteApi/approve_review", {
        review_id: id,
        status: stat,
      });
      if (res.data.result === 1) {
        this.getReviews();
      }
    },
    async getReviews() {
      let res = await this.$axios.post("trainingInstituteApi/get_reviews", {
        entity_id: this.user_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464dgdsg674", res.data.data);
      } else {
      }
    },
  },
};
</script>

<style>
.st {
  float: left;
  margin-top: 35px;
}
.st i {
  color: #f79426;
  font-size: 15px;
}
</style>
