<template>
  <footer>
    <v-container>
      <div class="footer-top section">
        <v-row>
          <v-col md="3">
            <img src="../assets/img/footer.logo.png" alt class="logo" />
            <p>504A,5th Floor,Ps Aviator Building,Above Big Bazaar,Chinar Park ,Rajarhat,Kolkata</p>
            <ul class="social">
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
            <br>
            <br>
             <p>
              © 2021
              Exreed All Right Reserved.
            </p>
          </v-col>
          <v-col md="3">
            <ul>
              <!-- <li>
                <a href="#">
                  <b>Useful Links</b>
                </a>
              </li> -->
              <li>
                <a href="/About_Us">About Us</a>
              </li>
             
              <li>                
                <a href="/Career">Career with us</a>
              </li>
             
              <li>
                <a href="#">Site Map</a>
              </li>
               <li>
                <a href="/Testimonials">Testimonials</a>
              </li>
               <li>
                <a href="/news">News</a>
              </li>
               <li>
                <a href="/blog">Blog</a>
              </li>
               <li>
                <a href="/Contactus">Contact us</a>
              </li>
           <br>
               <li>
                <a href="/corporate/sign_up">Corporate Registration </a>
              </li>
              <li>
                <a href="/subscription">Subscriptions</a>
              </li>
              
            </ul>
          </v-col>
          <v-col md="3">
            <ul>
              <!-- <li>
                <a href="3">
                  <b>More</b>
                </a>
              </li> -->
              
              <li>
                <a href="/courses">All Courses</a>
              </li>
               <li>
                <a href="jobs">All Jobs</a>
              </li>
              <li><a href="/schools">Schools</a></li>
               <li><a href="/colleges">College  </a></li>
               <li><a href="/universities">Universities</a></li>
               <li><a href="/training_institutes">Training Institutes</a></li>
               <li><a href="/trainers">Individual Trainers</a></li>
               <li><a href="/companies">Companies</a></li>
               <li><a href="/Consultancies">Consultancies</a></li>
               <li><a href="/HRs">HR's</a></li>
               
             
              
            </ul>
          </v-col>
          <v-col md="3">
            <ul>
              <!-- <li>
                <a href="3">
                  <b>Get in Touch</b>
                </a>
              </li> -->
              <li class="news_letter">
                <h4 style="color: #fff;">Subscribe to our newsletter</h4>
                <input type="text" class="form-control" />
                <a href=""><i class="fa fa-paper-plane"></i></a>
              </li>
              <li>
                <a href="#">Contact us if you need help with anything</a>
              </li>
              <li>
                <a href="#">+91 9547333056</a>
              </li>
              <li>
                <a href="#">exreed@kazmatechnology.com</a>
              </li>
              
              <li>
                <a href="#">
                  <b>Download Our App</b>
                </a>
              </li>
              <a href="#">
                <img src="img/googleplay.png" alt />
              </a>
              <a href="#">
                <img
                  style="width: 125px;"
                  src="https://cogniable.tech/wp-content/uploads/2019/12/xHgSL.png"
                  alt
                />
              </a>
            </ul>
          </v-col>
        </v-row>
      </div>
      <div class="footer-bottom">
        <v-row>
          <v-col md="12" xs='12' sm='12'>
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/Terms_Conditions">Terms & Conditions</a>
              </li>
              <li>
                <a href="/Privacy_Policy">Privacy Policy</a>
              </li>
              <li>
                <a href="/Help">Help and FAQ's</a>
              </li>
               <li>
                <a href="/Web_Policy">Web Use Policy</a>
              </li>
              <li>
                <a href="/Cookie_Policy">Cookie Policy</a>
              </li>
              <li>
                <a href="/Cancellation_Policy">Cancellation Policy</a>
              </li>
               <li>
                <a href="/Copyright_Policy">Copyright Policy</a>
              </li>
               <li>
                <a href="/Community_Guideline">Community Guidelines</a>
              </li>
               <li>
                <a href="/User_Agreement">User Agreement</a>
              </li>
            </ul>
          </v-col>
        
        </v-row>
      </div>
      
    </v-container>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>