<template>
  <header>
    <div class="head-top">
      <v-speed-dial
        class="responsive"
        v-if="user_id"
        v-model="fab"
        bottom="bottom"
        right="right"
        direction="top"
        transition="slide-y-reverse-transition"
      >
        <template v-slot:activator>
          <v-btn v-model="fab" color="red darken-2" dark fab>
            <v-icon v-if="fab">mdi-close</v-icon>
            <v-icon v-else>mdi-account-circle</v-icon>
          </v-btn>
        </template>
        <v-card max-width="400" raised style="min-width: 85%; display: block">
          <span
            style="
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: center;
              padding: 5px;
            "
          >
            <v-badge
              bordered
              bottom
              color="red accent-4"
              dot
              offset-x="10"
              offset-y="10"
            >
              <v-avatar size="30">
                <i class="ion-person" style="font-size: 25px"></i>
              </v-avatar>
            </v-badge>
            <label style="position: relative; top: 6px">{{
              user_id
            }}</label>
          </span>
          <span v-if="customerLogin">
            <nuxt-link to="/customer/dashboard">Dashboard</nuxt-link>
          </span>
          <span v-else>
            <nuxt-link to="/corporate/dashboard">Dashboard</nuxt-link>
            <nuxt-link to="/corporate/manage_courses">Manage Courses</nuxt-link>
            <nuxt-link to="/corporate/update_profile">Update Profile</nuxt-link>
          </span>
          <span class="logout">
            <a @click="logout">
              <svg
                width="1.4em"
                height="1.4em"
                aria-hidden="true"
                focusable="false"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
              >
                <path d="M2 12l5 4v-3h9v-2H7V8z" fill="#ED1D25" />
                <path
                  d="M13.001 2.999a8.938 8.938 0 0 0-6.364 2.637L8.051 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051s2.051 3.08 2.051 4.95s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637c1.7-1.699 2.637-3.959 2.637-6.364s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"
                  fill="#ED1D25"
                /></svg
              ><span>Logout</span></a
            >
          </span>
        </v-card>
      </v-speed-dial>
      <v-container>
        <v-row>
          <v-col md="2" class="resp-top-nav">
            <nuxt-link to="/">
              <img src="../assets/img/logo.png" alt />
            </nuxt-link>
            <span>
              <button
                class="responsive nav-button"
                style="line-height"
                @click.stop="drawer = !drawer"
              >
                <i class="ion-navicon"></i>
              </button>
              <nuxt-link to="/cart" class="responsive" v-if="user_id">
                <i
                  style="
                    font-size: 20px;
                    position: relative;
                    top: 6px;
                    left: 6px;
                  "
                >
                  <svg class="svg-icon" viewBox="0 0 20 20">
                    <path
                      fill="none"
                      d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z"
                    />
                    <path
                      fill="none"
                      d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z"
                    />
                    <path
                      fill="none"
                      d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z"
                    />
                  </svg>
                </i>
                <span v-if="cartCountNumber" class="badge">{{
                  cartCountNumber
                }}</span>
              </nuxt-link>
            </span>
          </v-col>

          <v-navigation-drawer class="responsive" v-model="drawer">
            <nuxt-link to="/" style="position: absolute; top: 20px">
              <img src="../assets/img/logo.png" style="width: 110px" alt />
            </nuxt-link>
            <i @click.prevent="drawer = false" class="ion-android-close"></i>
            <v-list-item>
              <nuxt-link to="/courses">Courses</nuxt-link>
            </v-list-item>
            <v-list-item>
              <nuxt-link to="/jobs">All jobs</nuxt-link>
            </v-list-item>
            <v-expansion-panels flat style="padding: 0 15px">
              <v-expansion-panel>
                <v-expansion-panel-header>More</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list-item>
                    <nuxt-link to="/schools">Schools</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/colleges">Colleges</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/universities">Universities</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/companies">Companies</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/training_institutes"
                      >Training Institutes</nuxt-link
                    >
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/trainers">Individual Trainers</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/persons">All Persons</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/HRs">HR's</nuxt-link>
                  </v-list-item>
                  <v-list-item>
                    <nuxt-link to="/Consultancies">Consultancies</nuxt-link>
                  </v-list-item>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
            <fragment v-if="!user_id">
              <v-list-item>
                <nuxt-link to="/corporate/login">Login as a coporate</nuxt-link>
              </v-list-item>
              <v-list-item>
                <nuxt-link to="/corporate/sign_up"
                  >Signup as a corporate</nuxt-link
                >
              </v-list-item>
              <v-list-item
                style="display: flex; justify-content: space-between"
              >
                <nuxt-link class="btn" style="width: 49%" to="/login"
                  >Login</nuxt-link
                >

                <nuxt-link class="btn" style="width: 49%" to="/sign_up"
                  >Signup</nuxt-link
                >
              </v-list-item>
            </fragment>
          </v-navigation-drawer>

          <v-col md="10" class="desk">
            <ul class>
              <li class="search_content" v-if="$route.path !== '/'">
                <div class="search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search for anything.."
                  />
                  <i class="fa fa-search"></i>
                </div>
              </li>
              <li>
                <nuxt-link to="/courses">Courses</nuxt-link>
              </li>

              <li>
                <nuxt-link to="/jobs">All jobs</nuxt-link>
              </li>

              <li class="dropdown">
                <a>
                  <span>More</span>
                  <i
                    style="
                      font-size: 17px;
                      position: relative;
                      top: 1px;
                      left: 3px;
                    "
                    class="ion-ios-arrow-down"
                    aria-hidden="true"
                  ></i>
                </a>
                <ul class="dropdown-menu">
                  <i class="fa fa-caret-up"></i>
                  <li>
                    <nuxt-link to="/schools">Schools</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/colleges">Colleges</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/universities_list">Universities</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/companies">Companies</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/training_institutes"
                      >Training Institutes</nuxt-link
                    >
                  </li>
                  <li>
                    <nuxt-link to="/trainers_list">Individual Trainers</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/Hrs">HR's</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/persons">All Persons</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/Consultancies">Consultancies</nuxt-link>
                  </li>
                </ul>
              </li>
              <li class="dropdown" v-if="user_id">
                <a>
                  <v-badge
                    bordered
                    bottom
                    color="red accent-4"
                    dot
                    offset-x="10"
                    offset-y="10"
                  >
                    <v-avatar size="30">
                      <img src="../assets/img/userp.png" alt="" />
                    </v-avatar>
                  </v-badge>
                  <label>{{ username }}</label>
                </a>

                <ul class="dropdown-menu">
                  <i class="fa fa-caret-up"></i>
                  <li v-if="customerLogin">
                    <nuxt-link to="/customer/dashboard">Dashboard</nuxt-link>
                  </li>
                  <li v-if="customerLogin">
                    <nuxt-link to="/customer/wallet">Wallet</nuxt-link>
                  </li>
                  <li v-if="customerLogin">
                    <nuxt-link to="/customer/Change_password"
                      >Settings</nuxt-link
                    >
                  </li>

                  <li v-else>
                    <router-link v-if="training" to="/corporate/dashboard"
                      >Dashboard</router-link
                    >
                    <router-link
                      v-else-if="University"
                      to="/corporate/Universitydashboard"
                      >University Dashboard</router-link
                    >
                    <router-link
                      v-else-if="School"
                      to="/corporate/Schooldashboard"
                      >School Dashboard</router-link
                    >
                    <router-link
                      v-else-if="College"
                      to="/corporate/Collegedashboard"
                      >College Dashboard</router-link
                    >
                    <router-link
                      v-else-if="Company"
                      to="/corporate/Companydashboard"
                      >Company Dashboard</router-link
                    >
                    <router-link
                      v-else-if="consultancy"
                      to="/corporate/Consultancydashboard"
                      >Consultancy Dashboard</router-link
                    >
                    <!-- <router-link v-else-if="consultancy" to="/corporate/Consultancydashboard">Consultancy Dashboard</router-link> -->
                    <router-link v-else-if="hrs" to="/corporate/HRsdashboard"
                      >Hrs Dashboard</router-link
                    >
                    <router-link
                      v-else-if="indi"
                      to="/corporate/Trainerdashboard"
                      >Trainer's Dashboard</router-link
                    >
                    <router-link to="/corporate/manage_courses"
                      >Manage Courses</router-link
                    >
                    <nuxt-link v-if="training" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="School" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="College" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="Company" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="consultancy" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="University" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="indi" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >
                    <nuxt-link v-if="hrs" to="/corporate/wallet"
                      >Wallet</nuxt-link
                    >

                    <nuxt-link to="/corporate/Change_password"
                      >Settings</nuxt-link
                    >
                  </li>
                  <li class="logout">
                    <a @click="logout">
                      <svg
                        width="1.4em"
                        height="1.4em"
                        aria-hidden="true"
                        focusable="false"
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 24 24"
                      >
                        <path d="M2 12l5 4v-3h9v-2H7V8z" fill="#ED1D25" />
                        <path
                          d="M13.001 2.999a8.938 8.938 0 0 0-6.364 2.637L8.051 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051s2.051 3.08 2.051 4.95s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637c1.7-1.699 2.637-3.959 2.637-6.364s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"
                          fill="#ED1D25"
                        /></svg
                      ><span>Logout</span></a
                    >
                  </li>
                </ul>
              </li>
              <span v-else>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                      <path
                        fill="none"
                        d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"
                      />
                      <path
                        fil
                        l="none"
                        d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"
                      /></svg
                    >For Corporate
                  </a>

                  <ul class="dropdown-menu">
                    <i class="fa fa-caret-up"></i>
                    <li>
                      <nuxt-link to="/corporate/login">Login</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link to="/corporate/sign_up">Signup</nuxt-link>
                    </li>
                  </ul>
                </li>

                <li>
                  <nuxt-link to="/login" class="btn2">Login</nuxt-link>
                  <nuxt-link to="/sign_up" class="btn2">Signup</nuxt-link>
                </li>
                
              </span>
              <li v-if="user_id"><v-icon>mdi-heart-outline</v-icon></li>
              <li v-if="user_id">
                <nuxt-link to="/cart">
                  <v-icon>mdi-cart</v-icon>
                  <span v-if="cartCountNumber" class="badge">{{
                    cartCountNumber
                  }}</span>
                </nuxt-link>
              </li>
              
            </ul>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <!-- 
    <div class="container">
      <div class="nav">
        <ul>
          <li>
            <nuxt-link to="/"> <i class="fa fa-home"></i> Home </nuxt-link>
          </li>

          <li>
            <nuxt-link to="/schools">Schools</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/colleges">Colleges</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/universities">Universities</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/companies">Companies</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/training_institutes">Training Institutes</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/trainers">Individual Trainer</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/HR">HR's</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/Consultancies">Consultancies</nuxt-link>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- ------responsive-header------- -->
    <div class="header">
      <a id="offCanvas" class="hamburger">
        <i class="ti-menu"></i>
      </a>
      <!-- <img src="img/logo.png" alt /> -->
      <!-- <div class="repo">
            <a href="cart.html">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M17.72,5.011H8.026c-0.271,0-0.49,0.219-0.49,0.489c0,0.271,0.219,0.489,0.49,0.489h8.962l-1.979,4.773H6.763L4.935,5.343C4.926,5.316,4.897,5.309,4.884,5.286c-0.011-0.024,0-0.051-0.017-0.074C4.833,5.166,4.025,4.081,2.33,3.908C2.068,3.883,1.822,4.075,1.795,4.344C1.767,4.612,1.962,4.853,2.231,4.88c1.143,0.118,1.703,0.738,1.808,0.866l1.91,5.661c0.066,0.199,0.252,0.333,0.463,0.333h8.924c0.116,0,0.22-0.053,0.308-0.128c0.027-0.023,0.042-0.048,0.063-0.076c0.026-0.034,0.063-0.058,0.08-0.099l2.384-5.75c0.062-0.151,0.046-0.323-0.045-0.458C18.036,5.092,17.883,5.011,17.72,5.011z" />
                    <path fill="none" d="M8.251,12.386c-1.023,0-1.856,0.834-1.856,1.856s0.833,1.853,1.856,1.853c1.021,0,1.853-0.83,1.853-1.853S9.273,12.386,8.251,12.386z M8.251,15.116c-0.484,0-0.877-0.393-0.877-0.874c0-0.484,0.394-0.878,0.877-0.878c0.482,0,0.875,0.394,0.875,0.878C9.126,14.724,8.733,15.116,8.251,15.116z" />
                    <path fill="none" d="M13.972,12.386c-1.022,0-1.855,0.834-1.855,1.856s0.833,1.853,1.855,1.853s1.854-0.83,1.854-1.853S14.994,12.386,13.972,12.386z M13.972,15.116c-0.484,0-0.878-0.393-0.878-0.874c0-0.484,0.394-0.878,0.878-0.878c0.482,0,0.875,0.394,0.875,0.878C14.847,14.724,14.454,15.116,13.972,15.116z" />
                </svg>
                <span v-if="cartData.length" class="badge">2</span>
            </a>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path fill="none" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z" />
                        <path fill="none" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z" />
                    </svg>
                </a>

                <ul class="dropdown-menu">
                    <i class="fa fa-caret-up"></i>
                    <li>
                        <nuxt-link to="/login">Login</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/sign_up">Signup</nuxt-link>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <h5 style="
                  padding-left: 10px !important;
                  color: #000;
                  font-weight: bold;
                ">
                            For Corporate
                        </h5>
                    </li>
                    <li>
                        <nuxt-link to="/vendor-login">Login</nuxt-link>
                    </li>
                    <li>
                        <nuxt-link to="/vendor-signup">Signup</nuxt-link>
                    </li>
                </ul>
            </div>

            <a href="#" class="search-toggle">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path fill="none" d="M12.323,2.398c-0.741-0.312-1.523-0.472-2.319-0.472c-2.394,0-4.544,1.423-5.476,3.625C3.907,7.013,3.896,8.629,4.49,10.102c0.528,1.304,1.494,2.333,2.72,2.99L5.467,17.33c-0.113,0.273,0.018,0.59,0.292,0.703c0.068,0.027,0.137,0.041,0.206,0.041c0.211,0,0.412-0.127,0.498-0.334l1.74-4.23c0.583,0.186,1.18,0.309,1.795,0.309c2.394,0,4.544-1.424,5.478-3.629C16.755,7.173,15.342,3.68,12.323,2.398z M14.488,9.77c-0.769,1.807-2.529,2.975-4.49,2.975c-0.651,0-1.291-0.131-1.897-0.387c-0.002-0.004-0.002-0.004-0.002-0.004c-0.003,0-0.003,0-0.003,0s0,0,0,0c-1.195-0.508-2.121-1.452-2.607-2.656c-0.489-1.205-0.477-2.53,0.03-3.727c0.764-1.805,2.525-2.969,4.487-2.969c0.651,0,1.292,0.129,1.898,0.386C14.374,4.438,15.533,7.3,14.488,9.77z" />
                </svg>
            </a>
            <div class id="search" style="display: none">
                <input type="text" name id placeholder="Search Products..." class="form-control" />
                <a href="#">
                    <img src="img/white-search.png" alt />
                </a>
            </div>
        </div> -->
    </div>

    <div class="offcanvas-overlay"></div>
    <v-snackbar color="black" v-model="snackbar" :timeout="timeout">
      <v-row style="color: #fff; width: 100%; margin: 0" justify="center">{{
        text
      }}</v-row>
    </v-snackbar>
    <!-- ----end---- -->
  </header>
</template>

<script>
const isBrowser = typeof window !== 'undefined'
export default {
  name: "Header",
  data() {
    return {
      drawer: null,
      snackbar: false,
      text: "You have been logged out!",
      timeout: 2000,
      cartData: "",
      fab: false,
      page: "",
      corpo: "",
      training: false,
      University: false,
      customer: false,
      Company: false,
      School: false,
      College: false,
      consultancy: false,
      indi: false,
      hrs: false,
      corpos: "",
      user_id:"",
      username:""
    };
  },
  // computed: {
  //   isAuthenticated() {
  //     return this.$store.state.auth.user;
  //   },
  //   cartCountNumber() {
  //     return this.$store.state.addToCart.cartCountNum;
  //   },
  //   customerLogin() {
  //     return this.$store.state.auth.userType;
  //   },
  //   // userData() {
  //   //     return this.$store.getters.userDataGetter
  //   // }
  //   route: function() {
  //     this.page = this.$route.path;
  //   },
  // },
  beforeUpdate() {
    console.log("this is usertype", this.userType);

    // this.getCorpor();
    this.user_id=localStorage.getItem("userId")
    this.username=localStorage.getItem("name")
    this.corpos = localStorage.getItem("corporate");
    console.log("coru", this.corpos);
    if (this.corpos === "School") {
      this.School = true;
      this.University = false;
      this.training = false;
      this.Company = false;
      this.College = false;
      this.hrs = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "University") {
      this.University = true;
      this.School = false;

      this.training = false;
      this.Company = false;
      this.College = false;
      this.hrs = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "Training Institute") {
      this.School = false;
      this.University = false;
      this.training = true;
      this.Company = false;
      this.College = false;
      this.hrs = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "Company") {
      false;
      this.School = false;
      this.University = false;
      this.training = false;
      this.Company = true;
      this.College = false;
      this.hrs = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "College") {
      this.College = true;
      this.School = false;
      this.University = false;
      this.training = false;
      this.Company = false;
      this.hrs = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "HR's") {
      this.hrs = true;
      this.School = false;
      this.University = false;
      this.training = false;
      this.Company = false;
      this.College = false;
      this.consultancy = false;
      this.indi = false;
    } else if (this.corpos === "Consultancy") {
      this.consultancy = true;
      this.School = false;
      this.University = false;
      this.training = false;
      this.Company = false;
      this.College = false;
      this.hrs = false;
      this.indi = false;
    } else if (this.corpos === "Individual Trainer") {
      this.indi = true;
      this.School = false;
      this.University = false;
      this.training = false;
      this.Company = false;
      this.College = false;
      this.hrs = false;
      this.consultancy = false;
    } else {
    }
  },
  mounted(){
    let user=localStorage.getItem("useId")
    this.user_id=user
    this.username=localStorage.getItem("name")
  },
  

  methods: {
    logout() {
      this.$router.push("/");
      localStorage.clear()
      // this.$store.dispatch("logout");
      // this.$store.dispatch("checkedOut");
      setTimeout(() => (this.snackbar = true), 1000);
      // this.snackbar = true
      // })
    },
    // getCorpor() {
    //   this.corpo = localStorage.getItem('corporate')

    //    console.log("sourav", this.corpo)
    //   // if (this.corpo === "University") {

    //   //   this.University = true;
    //   // }
    //   //     else if(this.corpos === "Training Institute") {
    //   //       this.training = true;
    //   // }
    //   // else if(this.corpos === "Company") {
    //   //   this.Company = true;
    //   // }
    //   // else if(this.corpos === "School") {
    //   //   this.School = true;
    //   // }
    //   //  else if(this.corpos === "College") {
    //   //   this.College = true;
    //   // }
    //   //  else if(this.corpos === "Consultancy") {
    //   //   this.consultancy = true;
    //   // }

    //   // else if(this.corpos === "Individual Trainer") {
    //   //   this.indi = true;
    //   // }
    //   // else {

    //   // }

    // }
  },
};
</script>

<style>
.search_content {
  display: inline-block !important;
}



.logoutMessage .v-snack__content {
  background: #ed1d25;
  color: #fff;
  text-align: center;
  align-items: center;
  /* display: flex; */
  /* font-size: 1.4rem; */
  border-radius: 4px;
  justify-content: center !important;
}

.v-snack__wrapper {
  min-height: auto;
}

.logoutMessage .v-snack__action {
  margin: 0;
}

.nav .nuxt-link-exact-active,
.nav .nuxt-link-exact-active .fa {
  color: #ed1d25 !important;
}

.head-top ul li a img {
  width: 25px;
  height: 25px;
}

header li a {
  text-transform: capitalize;
}

header .dropdown-menu li.logout a span {
  color: #ed1d25;
}

header .dropdown-menu li.logout a {
  display: grid;
  grid-template-columns: 20% 75%;
  align-items: center;
}
</style>
