<template>
  <div class="dashboardNav">
    <div class="course-profile">
      <div class="bx mb-4">
        <ul style="margin-top: 0">
          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard">
                Consultancy Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard">
                Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard">
                Company Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard">
                School Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard">
                College Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard">
                University Dashboard
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li> -->
            <!-- <router-link to="/corporate/update_profile">
              Update profile
              <i class="fa fa-angle-right"></i>
            </router-link> -->
            <!-- <a href="/corporate/update_profile">
              Profile
              <i class="fa fa-angle-right"></i>
            </a> -->
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard"
                  class="js-navigation-item"
                >
                  Trainer Dashboard
                  <i class="fa fa-angle-right" style="color: #ed1d25"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard#resume"
                  class="js-navigation-item"
                >
                  Resume
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard#pro"
                  class="js-navigation-item"
                >
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/add_education"
                  class="js-navigation-item"
                >
                  Education
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/add_employment"
                  class="js-navigation-item"
                >
                  Employment / Experience
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/training&certification"
                  class="js-navigation-item"
                >
                  Training & Certifications
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/skills"
                  class="js-navigation-item"
                >
                  Technical Skills
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/skills"
                  class="js-navigation-item"
                >
                  Professional Skills
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/customer/skills"
                  class="js-navigation-item"
                >
                  Key Skills
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard#lang"
                  class="js-navigation-item"
                >
                  Languages
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard#kyc"
                  class="js-navigation-item"
                >
                  Kyc
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="indi">
              <li>
                <router-link
                  to="/corporate/Trainerdashboard#hoby"
                  class="js-navigation-item"
                >
                  Interest & Hobbies
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>

            <div v-if="consultancy">
              <li>
                <router-link to="/corporate/Consultancydashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="training">
              <li>
                <router-link to="/corporate/dashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="Company">
              <li>
                <router-link to="/corporate/Companydashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="School">
              <li>
                <router-link to="/corporate/Schooldashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="College">
              <li>
                <router-link to="/corporate/Collegedashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
            <div v-if="University">
              <li>
                <router-link to="/corporate/Universitydashboard#pro">
                  Profile
                  <i class="fa fa-angle-right"></i>
                </router-link>
              </li>
            </div>
          <!-- </li> -->

          <!-- 
           <li>
            <a href="#address">
              Address & Locations
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <!-- _____________________________________________Address_________________________________________-->
          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#address">
                Address & Locations
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!--_________________________________________Timing__________________________________________________-->
          <!-- <li>
            <a href="#timing">
             Institute Timings
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#timings">
                Consultancy Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#timing">
                Institute Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#timing">
                Company Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#timing">
                School Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#timing">
                College Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#timing">
                University Timings
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#gallery">
              Gallery
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#gallery">
                Gallery
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li v-if="!indi">
            <router-link to="/corporate/manage_courses">
              Courses
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <li v-if="indi || training">
            <router-link to="/corporate/manage_trainers">
              Trainers
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>

          <li v-if="School">
            <router-link to="/corporate/Schooldashboard#staff">
              Staff
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <!-- <li>
            <router-link to="#">
             Services
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->

          <!-- <li>
            <a href="#jobs" >
             Jobs
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <!-- <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div> -->
          <!-- <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#jobs">
                Jobs
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div> -->

          <!-- <li>
            <a href="#placement">
             Placement
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#placement">
                Placement
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#placement">
                Placement
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#placement">
                Placement
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School"></div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#placement">
                Placement
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#placement">
                Placement
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#news">
             News
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#news">
                News
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#placement">
             Placement
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <!-- <li>
            <a href="#facili">
            Facilities
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#facili">
                Facilities
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#review">
              Reviews
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#review">
                Reviews
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#subs">
            Subscriptions
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#subs">
                Subscriptions
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <a href="#kyc" >
             Institute Kyc Documents
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="consultancy">
            <li>
              <router-link to="/corporate/Consultancydashboard#kyc">
                Consultancy Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="training">
            <li>
              <router-link to="/corporate/dashboard#kyc">
                Institute Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="Company">
            <li>
              <router-link to="/corporate/Companydashboard#kyc">
                Company Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="School">
            <li>
              <router-link to="/corporate/Schooldashboard#kyc">
                School Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>
          <div v-if="College">
            <li>
              <router-link to="/corporate/Collegedashboard#kyc">
                College Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <div v-if="University">
            <li>
              <router-link to="/corporate/Universitydashboard#kyc">
                University Kyc Documents
                <i class="fa fa-angle-right"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <router-link to="/corporate/change_password">
              Change Password
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_courses">
              Manage Courses
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_trainers">
              Manage Trainers
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- 
          <li>
            <a @click="toogle =! toogle">
              Manage
              <i class="fa fa-angle-down"></i>
            </a>
            <transition name="fade">
              <ul
                v-if="toogle"
                class="drop"
                style="border: none; margin: 0; padding: 0 15px !important;"
              >
                <li>
                  <a>Manage Courses</a>
                </li>
              </ul>
            </transition>
          </li> -->

          <!-- <li>
            <router-link to="/corporate/manage_gallery">
              Manage Gallery
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_placement">
              Manage Placements
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->

          <!-- <li>
            <router-link to="/corporate/maanage_jobs">
              Manage Jobs
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_products">
              Manage products
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_services">
              Manage Services
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_trackings">
              Enquiries tracker
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_history">
              Payment History
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/subscription_plans">
              Subscription Plan
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_news">
              Manage News
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
          <!-- <li>
            <router-link to="/corporate/manage_news">
              Manage Facilities
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/corporate/manage_news">
              Manage Solutions
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/corporate/manage_news">
              Research and development
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top: 0">
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Courses</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li v-if="training || indi">
                    <router-link to="/corporate/manage_courses">
                      Teaching Subjects / Courses
                    </router-link>
                  </li>
                  <li v-if="School || College || University">
                    <router-link to="/corporate/manage_courses">
                      Teaching Subjects / Courses
                    </router-link>
                  </li>
                  <li v-if="training || indi">
                    <router-link to="/corporate/add_new_course"
                      >Upload a course</router-link
                    >
                  </li>
                  <li v-if="School || College || University">
                    <a @click="addSCUCourseSideNavDia">Upload a Course</a>
                  </li>

                  <li>
                    <router-link to="/corporate/purchased_courses"
                      >Purchased Courses</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/payment_history"
                      >Payment History</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/enquiry_batchinformation"
                      >Enquiry / Batch Information</router-link
                    >
                  </li>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Jobs</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="#">Post a Job</a></li>
                  <li><a href="#">Job's Tracker</a></li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
        </ul>
      </div>
    </div>
    <v-dialog v-model="addSCUCourseSideNavDialog" max-width="800">
      <v-card>
        <v-card-title> Add Course Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="form" v-model="valid">
            <div class="row">
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.course_name"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  label="Course Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-file-input
                  ref="image_string"
                  v-on:change="onImageUploadSide"
                  v-model="img_string"
                  show-size
                  dense
                  :rules="[(v) => !!v || 'Is required']"
                  filled
                  label="Course Image*"
                  accept="image/*"
                ></v-file-input>
              </v-col>
              <v-col md="2" xs="12" sm="12">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
                <img
                  v-else
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                />
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.eligibility"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Eligibility*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.duration"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  label="Duration*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.fee"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  label="Fee*"
                  required
                ></v-text-field>
              </v-col>

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    Some error occured!
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Course Added!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn 
                    v-if="valid"
                    color="grey darken-4" 
                    dark 
                    rounded
                    :loading="loading"
                    :disabled="loading"
                    @click="submitSCUCourseSide"
                      >Save Course</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn
                      color="red"
                      dark
                      rounded
                      @click="addSCUCourseSideNavDialog = false"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "InnerDashboardNav",
  data() {
    return {
      toogle: false,
      corpo: "",
      consultancy: false,
      training: false,
      Company: false,
      School: false,
      College: false,
      University: false,
      indi: false,
      valid:true,
      success:false,
      loading:false,
      user_id:"",
      addSCUCourseSideNavDialog:false,
      courses:[],
      image:"",
      img_string:"",
      submitCourseDetails: {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      }
    };
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.instituteName = localStorage.getItem("name");
    this.corporate_type = localStorage.getItem("corporate");
    this.getCourseList()
    this.getcorporate();
  },
  methods: {
    onImageUploadSide(){
      let that=this
      let reader = new FileReader();
      reader.readAsDataURL(this.img_string);
      reader.onload = function () {
        // cb(reader.result)
        that.submitCourseDetails.image = reader.result;
        that.image=reader.result;
      };
    },
    addSCUCourseSideNavDia(){
      this.addSCUCourseSideNavDialog=true

    },
    async submitSCUCourseSide(){
      this.loading = true;
      this.submitCourseDetails.user_id = this.user_id;
      console.log("payloadCollege",this.submitCourseDetails)
      let res = await this.$axios.post(
        "trainingInstituteApi/add_course_details",
        this.submitCourseDetails
      );
      if (res.data.result === 1) {
        this.success = true;
        this.loading = false;
        this.getCourseList();
        setTimeout(() => {
          this.success = false;
          this.addSCUCourseSideNavDialog = false;
          this.submitCourseDetails = {
            course_name: "",
            image: "",
            eligibility: "",
            duration: "",
            fee: "",
          };
        }, 2000);
      }
    },
    async getCourseList() {
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      
      if (res.data.result === 1) {
        console.log("corselist234234",res);
        this.courses=res.data.data
        // this.dashboardCourses = res.data.data.reverse().slice(0, 3);
      } else {

      }
    },
    async getcorporate() {
      this.corpo = localStorage.getItem("corporate");
      console.log("corporation", this.corpo);
      if (this.corpo === "Consultancy") {
        this.consultancy = true;
      } else if (this.corpo === "Training Institute") {
        this.training = true;
      } else if (this.corpo === "Company") {
        this.Company = true;
      } else if (this.corpo === "School") {
        this.School = true;
      } else if (this.corpo === "College") {
        this.College = true;
      } else if (this.corpo === "University") {
        this.University = true;
      } else if (this.corpo === "Individual Trainer") {
        this.indi = true;
      } else {
      }
    },
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}
/* .fade-transition{} */
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.drop a {
  border: none !important;
}
.drop {
  border-bottom: 1px solid #ddd !important;
}
</style>