<template>
  <div class="dashboardNav">
    <div
      class="course-profile customer-menu js-sidebar-menu"
      style="position: sticky;top: 0px;"
    >
      <div class="bx article-sidebar-menu js-navigation-list">
        <ul style="margin-top: 0">
          <div v-if="trainer">
            <li>
              <router-link
                to="/corporate/Trainerdashboard"
                class="js-navigation-item "
                style="color:#ED1D25;"
              >
                Trainer Dashboard
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard"
                class="js-navigation-item "
                style="color:#ED1D25;"
              >
                HRs Dashboard
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="customer">
            <li>
              <router-link
                to="/customer/dashboard"
                class="js-navigation-item "
                style="color:#ED1D25;"
              >
                Dashboard
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <!-- <li>
            <a href="#resume" class="js-navigation-item ">
              Resume
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="trainer">
            <li>
              <router-link
                to="/corporate/Trainerdashboard"
                class="js-navigation-item "
              >
                Resume
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard"
                class="js-navigation-item "
              >
                Resume
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="customer">
            <li>
              <router-link to="/customer/dashboard" class="js-navigation-item ">
                Resume
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>

          <li v-if="customer">
            <nuxt-link
              to="/customer/dashboard#prop"
              class="js-navigation-item "
            >
              Profile
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link
              to="/corporate/trainerdashboard#prop"
              class="js-navigation-item "
            >
              Profile
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link
              to="/corporate/HRsdashboard#prop"
              class="js-navigation-item "
            >
              Profile
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link to="/customer/dashboard#edu" class="js-navigation-item ">
              Education
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link
              to="/corporate/trainerdashboard#prop"
              class="js-navigation-item "
            >
              Education
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link
              to="/corporate/HRsdashboard#edu"
              class="js-navigation-item "
            >
              Education
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link
              to="/customer/dashboard#emp"
              class="js-navigation-item "
            >
              Employment / Experience
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link
              to="/corporate/HRsdashboard#emp"
              class="js-navigation-item "
            >
              Employment / Experience
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link
              to="/corporate/trainerdashboard#emp"
              class="js-navigation-item "
            >
              Employment / Experience
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link
              to="/customer/dashboard#certi"
              class="js-navigation-item "
            >
              Training & Certifications
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link
              to="/corporate/trainerdashboard#certi"
              class="js-navigation-item "
            >
              Training & Certifications
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link
              to="/corporate/HRsdashboard#certi"
              class="js-navigation-item "
            >
              Training & Certifications
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link to="/customer/dashboard#technical" class="js-navigation-item ">
              Technical Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link to="/corporate/trainerdashboard#technical" class="js-navigation-item ">
              Technical Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link to="/corporate/HRsdashboard#technical" class="js-navigation-item ">
              Technical Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link to="/customer/dashboard#professional" class="js-navigation-item ">
              Professional Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link to="/corporate/HRsdashboard#professional" class="js-navigation-item ">
              Professional Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link to="/corporate/trainerdashboard#professional" class="js-navigation-item ">
              Professional Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="customer">
            <nuxt-link to="/customer/dashboard#keyskill" class="js-navigation-item ">
              Key Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="trainer">
            <nuxt-link to="/corporate/trainerdashboard#keyskill" class="js-navigation-item ">
              Key Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <li v-if="hrs">
            <nuxt-link to="/corporate/HRsdashboard#keyskill" class="js-navigation-item ">
              Key Skills
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
          <!-- <li>
           <a href="#lang" >
             Languages
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="trainer">
            <li>
              <router-link
                to="/corporate/Trainerdashboard#lang"
                class="js-navigation-item "
              >
                Languages
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard#lang"
                class="js-navigation-item "
              >
                Languages
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="customer">
            <li>
              <router-link to="/customer/dashboard#lang" class="js-navigation-item ">
                Languages
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard#subs"
                class="js-navigation-item "
              >
                Subcriptions
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard#jobs"
                class="js-navigation-item "
              >
                Jobs
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
            <nuxt-link to="/customer/update_skills">
             Wallet
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li> -->
          <!-- <li>
          <a href="#kyc">
             Kyc
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="trainer">
            <li>
              <router-link
                to="/corporate/Trainerdashboard#kyc"
                class="js-navigation-item "
              >
                Kyc
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard#kyc"
                class="js-navigation-item "
              >
                Kyc
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="customer">
            <li>
              <router-link to="/customer/dashboard#kyc" class="js-navigation-item ">
                Kyc
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>

          <!-- <li>
             <a href="#hoby">
             Interest & Hobbies
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->

          <div v-if="trainer">
            <li>
              <router-link
                to="/corporate/Trainerdashboard#hoby"
                class="js-navigation-item "
              >
                Interest & Hobbies
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="hrs">
            <li>
              <router-link
                to="/corporate/HRsdashboard#hoby"
                class="js-navigation-item "
              >
                Interest & Hobbies
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
          <div v-if="customer">
            <li>
              <router-link to="/customer/dashboard#hoby" class="js-navigation-item ">
                Interest & Hobbies
                <i class="fa fa-angle-right" style="color:#ED1D25"></i>
              </router-link>
            </li>
          </div>
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top:0">
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px;background:transparent"
              >
                <v-expansion-panel-header>Courses</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="/customer/viewedcourse">Viewed Course</a></li>
                  <li>
                    <a href="/customer/payment_history">Payment History</a>
                  </li>
                  <li><a href="/customer/Enqueries">Enquiry</a></li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
          <li>
            <nuxt-link to="#">
              Jobs
              <i class="fa fa-angle-right"></i>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InnerCustomerNav",
  panel: [0, 1],
  readonly: false,
  data() {
    return {
      hrs: false,
      trainer: false,
      cpo: "",
      cop: "",
      customer: false,
    };
  },
  mounted() {
    this.getdiff();
  },
  methods: {
    getdiff() {
      this.cpo = localStorage.getItem("corporate");
      this.cop = localStorage.getItem("user_type");
      if (this.cpo === "HR's") {
        this.hrs = true;
      } else if (this.cpo === "Individual Trainer") {
        this.trainer = true;
      } else if (this.cop === "Customer") {
        this.customer = true;
      } else {
      }
    },
  },
};
</script>

<style></style>
