<template>
  <div class="">
    <nuxt-link
      :to="`/training_institute/${institute.name.replace(/\s/g, '-').replace(/\//g, '-')}/${
        institute.training_institute_id
      }`"
      class="box"
    >
      <img :src="institute.logo_image" alt />
      <!-- <div class="prom-tag" v-if="course.is_promoted === 'Yes'">promoted</div> -->
      <article>
        <h4>{{ institute.name.substring(0, 34) }}</h4>
        <p>email: {{ institute.email }}</p>
        <h6>Mobile No: {{ institute.mobile_no }}</h6>
        <div class="art-info">
          <span class="left">
            <i class="ion-android-star"></i> {{ institute.rating }}
          </span>
          
        </div>
      </article>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: ["institute"],
  name: "InstituteListItem",
};
</script>

<style></style>
