<template>
  <!-- <nuxt-link :to="schools && 'schools/Details' || colleges && 'colleges/Details' || universities && 'universities/Details' || companies && 'companies/Details' || HRs && 'HRs/Details'"> -->

  <nuxt-link
    :to="
      (schools &&
        'schools/' +
          data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (colleges &&
          'colleges/' +
            data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (univers &&
          'universities/' +
            data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (companies &&
          'companies/' +
            data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (HR && 'HR/details') ||
        (training &&
          'traininginstitutes/' +
            data.username
              .replace(/\s/g, '-')
              .replace(/\//g, '-')) ||
        (trainer &&
          'trainers/' +
            data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (consultancies &&
          'consultancies/' +
            data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (jobs &&
          'jobs/details/?' +
            data.user_id.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (walkin && 'walkin/detail') ||
        (persons && 'persons/'+data.username.replace(/\s/g, '-').replace(/\//g, '-')) ||
        (Hr &&
          'HRs/' + data.username.replace(/\s/g, '-').replace(/\//g, '-'))
    "
  >
    <a href="#" class="box box-new" >
      <div >
        <img v-if="data.image"  :src="data.image" alt="" />
        <img v-if="data.logo_image"  :src="data.logo_image" alt="" />


        <img v-else-if="schools"  src="../assets/img/school-avatar.jpeg" alt="" />
        <img v-else-if="colleges"  src="../assets/img/college-avatar.jpeg" alt="" />
        <img v-else-if="univers"  src="../assets/img/university-avatar.jpeg" alt="" />
        <img v-else-if="trainer"  src="../assets/img/trainer_avatar.jpeg" alt="" />
        <img v-else-if="training"  src="../assets/img/training_avatar.jpeg" alt="" />
        <img v-else-if="Hr"  src="../assets/img/hr_avatar.jpeg" alt="" />

      </div>
      <article >
        <div class="stars">
          <v-rating
            color="warning"
            hover
            length="5"
            readonly
            size="15"
            half-increments
            :value="data.rating"
          ></v-rating>
        </div>
        <h4>{{ data.display_name }}</h4>
        <!-- <h5 style="color:#F73C1F; font-weight:bold; font-size:15px " v-if="!Hr && !trainer && !training">Board: CBSE</h5> -->
        <small v-if="data.designation">{{ data.designation }}</small>

        <small v-if="data.company">By {{ data.company }}</small>

        <p v-if="data.location">
          <i class="ion-location"></i> {{ data.address || data.location }}
        </p>
        <h5 v-if="data.email"><v-icon style="font-size:1rem">mdi-email</v-icon> {{data.email }}</h5>
        <p v-if="data.trainer_name">Trainer name: {{ data.trainer_name }}</p>
        <h5 v-if="data.mobile_no"> <v-icon style="font-size:1rem">mdi-phone</v-icon>{{" "}} {{ data.mobile_no }}{{(data.landline_no)?"  |  ":""}} {{data.landline_no}}</h5>
        <p v-if="data.fee">Fee: {{ data.fee }}</p>
        <p v-if="data.duration">Duration: {{ data.duration }}</p>

        <p v-if="data.salary">Salary: Rs. {{ data.salary }} P.A</p>
        <h6 v-if="data.category">{{ data.category }} :</h6>
        <small v-if="data.phone"
          ><i class="ion-android-call"></i> {{ data.phone }}</small
        >
        <small v-if="data.experience"
          ><i class="ion-briefcase"></i> {{ data.experience }}</small
        >
        <h5  
          ><v-icon style="font-size:1rem">mdi-web</v-icon>
          {{getWebsite(data.website)}}
          </h5
        >
      </article>
    </a>
  </nuxt-link>
</template>

<script>
export default {
  props: [
    "data",
    "Hr",
    "schools",
    "colleges",
    "companies",
    "HRs",
    "training",
    "trainer",
    "consultancies",
    "jobs",
    "walkin",
    "persons",
    "univers",
  ],
  name: "ListItem",
  data(){
    return{
      email:""
    }
  },
  mounted(){
    this.email=this.data.email.toLowerCase()
    console.log("listData",this.data)
  },
  methods:{
    getWebsite(web){
      let webstring
      let website
      if(String(web).includes("//")){
        webstring=String(web).split("//")[1]
        if(String(webstring).includes("www.")){
          let index=String(webstring).indexOf(".")
          website=String(webstring).substring(index+1,)
          return website
        }else{
          return webstring
        }
      }else{
        return web
      }
    }
  }
};
</script>

<style></style>
