<template>
<section class="loaderContainer">
    <div class="loading"></div>
</section>
</template>

<script>
export default {
    name: 'LoaderSpinner'
}
</script>

<style>
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.loading {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0.20rem solid #555;
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
</style>
