<template lang="html">
<div class="loading-page" v-if="loading">
    <!-- <p>Loading...</p> -->
</div>
</template>

<script>
export default {
    name: 'loading',
    data: () => ({
        loading: false
    }),
    methods: {
        start() {
            this.loading = true
        },
        finish() {
            this.loading = false
        }
    }
}
</script>

<style>
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #000;
    text-align: center;
    padding-top: 0;
    font-size: 30px;
    font-family: sans-serif;
    z-index: 9999999;
}
</style>
