<template>
<div id="loader">

</div>
    
</template>
<script>


export default {
   name:"PreLoader",
}
</script>
<style scoped>
#loader{
position: fixed;
height: 100%;
width: 100%;
background: #fff 
url("../assets/img/logo.png")
no-repeat
center;
z-index: 999;
}
</style>
