<template>
  <div class="bx mb-4" style="text-align: center">
    <div class="avatar-upload">
      <div class="avatar-preview">
        <div
          id="imagePreview"
          :style="{ backgroundImage: `url(${profile_image})` }"
        >
        <div >
        <v-btn
            v-if="training || School || College || University"
            icon
            class="mt-2"
            style="background-color: #fff"
            @click="openUpdateImageDialog"
          >
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
          </div></div>

        <router-link to="/customer/update_profile" v-if="cust"
          ><i class="ion-edit"></i
        ></router-link>


        <router-link to="/corporate/update_trainerprofile" v-if="indi || hr"
          ><v-btn><v-icon>mdi-pencil</v-icon></v-btn></router-link
        >
      </div>
      
    </div>
          

    <!-- <v-avatar size="130">
                  <img
                    v-if="profilePic"
                    :src="profilePic"
                    :alt="name || `Profile Picture`"
                    style="object-fit: cover"
                  />
                  <img
                    v-else
                    src="../assets/img/dummy.png"
                    :alt="name || `Profile Picture`"
                    style="object-fit: cover"
                  />
                </v-avatar> -->
    <div v-if="indi || customer || hr">
      <v-row
        ><v-col>
          <h5>
            <strong style="text-transform: capitalize"
              >{{ Infos.name }}
            </strong>
          </h5></v-col
        ></v-row
      >
      <v-row
        ><v-col class="text-right" md="3" v-if="Infos.mobile_no"
          ><v-icon color="green">mdi-check-decagram-outline</v-icon></v-col
        >
        <v-col class="text-left" md="9"
          ><p>{{ Infos.mobile_no }}</p></v-col
        ></v-row
      >
      <v-row
        ><v-col class="text-right" md="3" v-if="Infos.email"
          ><v-icon color="green">mdi-check-decagram-outline</v-icon></v-col
        >
        <v-col class="text-left" md="9"
          ><p>{{ Infos.email }}</p></v-col
        ></v-row
      >
      <v-row v-if="Infos.exreed_website_link !== ''">
        <v-col md="12"
          ><p style="color: #747474">{{ Infos.exreed_website_link }}</p></v-col
        >
        <v-col md="12"
          ><v-icon @click="editWebsiteDia(Infos.exreed_website_link)"
            >mdi-pencil</v-icon
          ></v-col
        >
      </v-row>
      <v-row v-if="Infos.exreed_website_link === ''">
        <v-col md="10" class="text-center"
          ><p style="color: #747474">{{ exreed_web }}</p></v-col
        >
        <v-col md="2"
          ><v-icon class="text-center" @click="editWebsiteDia(exreed_web)"
            >mdi-pencil</v-icon
          ></v-col
        >
      </v-row>

      <!-- <p v-if="userWebsite">
      Website:
      <a style="color: #747474">www.exreed/mahesh</a>
    </p> -->
    </div>

    <div v-if="training || School || College || University">
      <v-row
        ><v-col>
          <h5>
            <strong style="text-transform: capitalize"
              >{{ Infos.display_name }}
            </strong>
          </h5></v-col
        ></v-row
      >
      <v-row
        ><v-col class="text-right" md="3" 
          ><v-icon color="green" v-if="Infos.is_mobile_verified">mdi-check-decagram-outline</v-icon></v-col
        >
        <v-col class="text-left" md="9"
          ><p>{{ userMobile }}</p></v-col
        ></v-row
      >
      <v-row
        ><v-col class="text-right" md="3" 
          ><v-icon color="green" v-if="Infos.is_email_verified">mdi-check-decagram-outline</v-icon></v-col
        >
        <v-col class="text-left" md="9"
          ><p>{{ userEmail }}</p></v-col
        ></v-row
      >
      <v-row v-if="Infos.exreed_website_link !== ''">
        <v-col md="12" class="text-right pl-15"
          ><p style="color: #747474;overflow-x:hidden">{{ Infos.exreed_website_link }}</p></v-col
        >
        <v-col md="12" class="text-center"
          ><v-icon @click="editWebsiteDia(Infos.exreed_website_link)"
            >mdi-pencil</v-icon
          ></v-col
        >
      </v-row>
      <v-row v-if="Infos.exreed_website_link === ''">
        <v-col md="12" class="text-center"
          ><p style="color: #747474">{{ exreed_web }}</p></v-col
        >
        <v-col md="12" 
          ><v-icon @click="editWebsiteDia(exreed_web)"
            >mdi-pencil</v-icon
          ></v-col
        >
      </v-row>

      <!-- <p v-if="userWebsite">
      Website:
      <a style="color: #747474">www.exreed/mahesh</a>
    </p> -->
    </div>

    <!-- <p>+91 95845825</p> -->
    <!-- <p>
      <small style="font-size: 14px">
        Verified
        <svg style="margin-left: 4px" class="svg-icon" viewBox="0 0 20 20">
          <path
            d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
          />
        </svg>
      </small>
    </p> -->
    <!-- <div class="likes">
      <span style="color: #000">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        30
      </span>
      <span style="color: #000">
        <i class="fa fa-rss" aria-hidden="true"></i>
        50
      </span>
    </div> -->
    <ul class="social">
      <li v-if="this.Infos.facebook">
        <a v-bind:href="this.Infos.facebook" target="_blank">
          <i class="fa fa-facebook" style="background: #485b96"></i>
        </a>
      </li>
      <li v-else>
        <a> <i class="fa fa-facebook" style="background: #485b96"></i></a>
      </li>

      <li v-if="this.Infos.twitter">
        <a v-bind:href="this.Infos.twitter" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li v-else>
        <a> <i class="fa fa-twitter" style="background: #485b96"></i></a>
      </li>

      <li v-if="this.Infos.linkedin">
        <a v-bind:href="this.Infos.linkedin" target="_blank">
          <i class="fa fa-linkedin" style="background: #167eb7"></i>
        </a>
      </li>
      <li v-else>
        <a> <i class="fa fa-linkedin" style="background: #485b96"></i></a>
      </li>

      <li v-if="this.Infos.instagram">
        <a v-bind:href="this.Infos.instagram" target="_blank">
          <i class="fa fa-instagram" style="background: #e7437f"></i>
        </a>
      </li>
      <li v-else>
        <a> <i class="fa fa-instagram" style="background: #485b96"></i></a>
      </li>

      <li v-if="this.Infos.youtube">
        <a v-bind:href="this.Infos.youtube" target="_blank">
          <i class="fa fa-youtube" style="background: #e7437f"></i>
        </a>
      </li>
      <li v-else>
        <a> <i class="fa fa-youtube" style="background: #485b96"></i></a>
      </li>
      <!-- <li v-if="facebook">
        <a :href="facebook" target="_blank">
          <i class="fa fa-facebook" style="background: #485b96"></i>
        </a>
      </li>
      <li v-if="twitter" target="_blank">
        <a :href="twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li v-if="linkedin" target="_blank">
        <a :href="linkedin">
          <i class="fa fa-linkedin" style="background: #167eb7"></i>
        </a>
      </li>
      <li v-if="insta">
        <a :href="insta" target="_blank">
          <i class="fa fa-instagram" style="background: #e7437f"></i>
        </a>
      </li>
      <li v-if="youtube">
        <a :href="youtube" target="_blank">
          <i class="fa fa-youtube" style="background: red"></i>
        </a>
      </li> -->
    </ul>
    <!-- <p class="responsive">
        <v-alert class type="error" color="red">
            <h5 style="color: #fff;margin: 0;position: relative;">
                Your profile is incomplete, please update your profile.
                <router-link to="/corporate/update_profile" class="btn" style="background: #fff; color: #FF5252 !important;">Update Profile</router-link>
            </h5>
        </v-alert>
    </p> -->
    <v-dialog
      v-model="editWebsiteDialog"
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Exreed Link </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12 form-group">
              <h6>{{ notEditableSec + "/" + editableSec }}</h6>
              <v-text-field
                v-model="editableSec"
                dense
                filled
                :rules="userNameRule"
                required
                maxlength="20"
              >
              </v-text-field>
            </div>
            <v-row
              ><v-col class="ml-3 mt-5"
                ><p style="font-color: #e74c3c">
                  Minimum 6-20 character, only (dot,hyphen,underscore)allowed
                </p></v-col
              ></v-row
            >

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div v-if="error" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div class="form-group fadein" v-if="Edited">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Updated Exreed Link Successfully!.
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  v-if="show"
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  dark
                  rounded
                  type="submit"
                  @click.prevent="updateLink"
                >
                  Save
                </v-btn>
                <v-btn
                  color="red"
                  dark
                  rounded
                  @click="editWebsiteDialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="updateProfileImageDialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Update Profile Image</v-col>
        </v-card-title>
        <v-card-text>
          <v-form ref="updateProfileImageForm">
           <span>
              <v-file-input
              ref="image_string"
              v-model="image_string"
              v-on:change="onChange"
              accept="image/jpeg"
              :show-size="image_string?true:false"
              dense
              filled
              :rules="logo_image_Rule"
              label="Upload Image"
              required
            >
            </v-file-input>
            <v-row
              ><v-col class="ml-3 mt-5"
                ><p style="font-color: #e74c3c">
                  Image Format (.jpeg) / Maximum Size (2 MB)
                </p></v-col
              ></v-row
            >
            </span>
           
          </v-form>

          <v-alert v-if="error" text type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Image Updated Successfully.
          </v-alert>

          <v-card-actions>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                :disabled="loading"
                :loading="loading"
                color="grey darken-4"
                rounded
                dark
                @click="updateProfileImage"
              >Save 
              </v-btn>
              <v-btn
                color="red"
                rounded
                dark
                @click="closeUpdateProfileImageDialog"
                >Cancel</v-btn
              >
            </div>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
const regex = new RegExp(
  "^(?=.{6,20}$)(?![_.-])[a-zA-Z0-9._]+([a-zA-Z0-9._-])$"
);
export default {
  props: [
    "name",
    "mobile",
    "email",
    "facebook",
    "linkedin",
    "insta",
    "twitter",
    "youtube",
    "profilePic",
    "userWebsite",
  ],
  name: "ProfileCard",
  data() {
    return {
      userNameRule: [(v) => regex.test(v) || "Invalid Username!"],
      Infos: "",
      corpo: "",
      consultancy: false,
      training: false,
      Company: false,
      School: false,
      College: false,
      University: false,
      indi: false,
      hr: false,
      user_id: "",
      urlFixed: "",
      editWebsiteDialog: false,
      updateProfileImageDialog:false,
      valid: true,
      loading: false,
      error: false,
      errorMessage: "",
      Edited: false,
      customer: false,
      companyName: "",
      userMobile: "",
      userEmail: "",
      profile_image: "",
      exreed_web: "",
      cust: false,
      editableSec: "",
      notEditableSec: "",
      success: false,
      show: true,
      displayName: "",
      prof: "",
      image_string:"",
      edit:{
        logo_image:"",
        user_id:""
      },
      logo_image_Rule:[(v) => !!v || 'Image is required',
      (v)=>(v && v.size <= 2097152) || 'Image size must be less than or equal 2 Mb']
    };
  },
  async mounted() {
    this.getcorporate();
    this.getProfile();
    console.log("email", this.email);

    this.companyName = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    
  },
  methods: {
    openUpdateImageDialog(){
      this.updateProfileImageDialog = true
    },
    async updateProfileImage() {
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      if (!this.$refs.updateProfileImageForm.validate()) {
        
        
        // this.errorMessage = "Please choose an image";
        // this.error = true;
        setTimeout(() => {this.error = false
        this.loading = false}, 2000);
      } else {
        let resp = await this.$axios.post(
          "trainingInstituteApi/update_profile_image",
          this.edit
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.getProfile();
          this.success = true;
          

          setTimeout(() => {
            this.success = false;
            
            this.loading = false;
            this.updateProfileImageDialog=false
          }, 2000);
          this.$refs.image_string.reset();
          this.image_string=""
          this.$refs.updateProfileImageForm.reset()
        }
      }
    },
    onChange(e) {
      if(e){
        if(e.size < 2097152){
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.logo_image = reader.result;
        };
        reader.readAsDataURL(image_string);
        }else{
          this.image_string=""
        }
      }
    },
    closeUpdateProfileImageDialog(){
      this.updateProfileImageDialog=false
      this.$refs.updateProfileImageForm.reset()
      this.image_string=""
    },
    // getFullLink(){
    //   this.url=this.notEditableSec+"/"+this.editableSec
    // },
    // checkUser() {
    //   console.log("dsfgsdf4564534", regex.test(this.editableSec));
    //   if (this.editableSec.length >= 6 && regex.test(this.editableSec)) {
    //     this.show = true;
    //   } else {
    //     this.show = false;
    //   }
    // },
    async updateLink() {
      this.loading = true;
      let exLink = this.notEditableSec + "/" + this.editableSec;
      if (this.editableSec.length < 6) {
        this.errorMessage = "Please fill valid username";
        this.error = true;
        this.loading = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "CustomerApi/manage_exreed_website_link",
          {
            user_id: localStorage.getItem("userId"),
            action: "update",
            exreed_website_link: exLink,
          }
        );
        if (res.data.result === 1) {
          let resp = await this.$axios.post("CustomerApi/update_username", {
            user_id: localStorage.getItem("userId"),
            username: this.editableSec,
          });
          if (resp.data.result === 1) {
            console.log("userUpdate", resp.data.message);
          }
          this.Edited = true;
          this.loading = false;
          this.getProfile();
          setTimeout(() => {
            this.Edited = false;
            this.editWebsiteDialog = false;
          }, 2000);
        } else {
          this.loading = false;
          this.error = true;
          this.errorMessage = res.data.errorMessage;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      }
    },
    async getcorporate() {
      this.corpo = localStorage.getItem("corporate");
      console.log("corporation", this.corpo);
      if (this.corpo === "Consultancy") {
        this.consultancy = true;
      } else if (this.corpo === "Training Institute") {
        this.training = true;
      } else if (this.corpo === "Company") {
        this.Company = true;
      } else if (this.corpo === "School") {
        this.School = true;
        this.prof = "schools";
      } else if (this.corpo === "College") {
        this.College = true;
        this.prof = "colleges";
      } else if (this.corpo === "University") {
        this.University = true;
      } else if (this.corpo === "Individual Trainer") {
        this.indi = true;
      } else if (this.corpo === "HR's") {
        this.hr = true;
      } else {
        this.cust = true;
        this.corpo = localStorage.getItem("user_type");
        if (this.corpo === "Customer") {
          this.prof = "persons";
        }
      }
    },
    editWebsiteDia(getLink) {
      let link = getLink.split("/");
      let fixedLink = link[0] + "//" + link[2] + "/" + link[3];
      this.editWebsiteDialog = true;
      this.editableSec = link.pop();
      this.notEditableSec = fixedLink;
      console.log("dgsdg3456435", getLink.split("/"));
    },
    async getProfile() {
      let dispName;
      let res;
      if (this.corpo === "Customer") {
        res = await this.$axios.post("CustomerApi/my_profile", {
          user_id: localStorage.getItem("userId"),
        });
        if (res.data.result === 0) {
        } else if (res.data.result === 1) {
          this.Infos = res.data.data;
          if (res.data.data.exreed_website_link) {
          } else {
            let name = this.companyName || this.Infos.name;
            this.exreed_web = location.origin + "/persons/" + name;
            console.log("locationdfgsdfgsd", location);
          }
          this.profile_image =
            res.data.data.profile_image || res.data.data.logo_image;
          this.customer = true;
          console.log("info34535634634", res.data.data);
        }
      } else {
        res = await this.$axios.post("trainingInstituteApi/my_profile", {
          user_id: localStorage.getItem("userId"),
        });
        if (res.data.result === 0) {
        } else if (res.data.result === 1) {
          this.Infos = res.data.data;

          if (res.data.data.exreed_website_link) {
          } else {
            let name = this.companyName || this.Infos.name;
            this.exreed_web = location.origin + "/" + this.prof + "/" + name;
            console.log("locationdfgsdfgsd", location);
          }
          this.profile_image =
            res.data.data.profile_image || res.data.data.logo_image;
          console.log("info34535634634", res.data.data);
        }
        console.log("info3453sdfgsdfgd5634634", this.Infos);
      }
    },
  },
};
</script>

<style>
.avatar-preview a i {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  float: right;
  margin-top: -41px;
  line-height: 2.5;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}
</style>
