<template>
  <div class="bx school-course">
      <div class="box box-new row">
        <div class="col-md-4"
          v-for="course in courses"
          :key="course.course_id"
        >
        <div>
          <img :src="course.image" alt="" />
        </div>
        <div>
          <article>
              <h4 class="mb-2">{{ course.name }}</h4>
              
              <v-row>
                <v-col md="1"><i class="ion-clipboard p-2"></i></v-col>
              <v-col><p>Eligibility:
                {{ course.eligibility }}</p></v-col> 
                </v-row>
                
              <v-row>
                <v-col md="1"><i class="ion-clock m-2"></i></v-col>
                <v-col><p>Duration: {{ course.duration }}</p></v-col></v-row>
              <v-row>
                <v-col md="1"><i class="ion-card"></i></v-col>
                <v-col><p>Fees: {{ course.fee }}</p></v-col></v-row>
              <v-row class="mt-2"> 
                <v-col >
                  <v-btn
                v-if="user_id != detail_id"
                rounded
                dark

                @click="enrollDialog(course)"
                >Enroll</v-btn>
                </v-col>
                </v-row>
          </article>
        </div>
        </div>
      </div>
    <v-dialog v-model="showDialog" width="600">
      <v-card>
        <v-card-title class="headline"
          >Enroll Now For {{ courseName }}</v-card-title
        >
        <v-form ref="enrollform">
          <v-card-text>
            <v-row>
              <div class="col-md-12">
                <v-text-field
                  label="Name*"
                  outlined
                  required
                  :rules="firstNameRule"
                  @focus="firstNameR"
                  @blur="cancelFirstNameR"
                  v-model="enroll.first_name"
                ></v-text-field>
              </div>
              <!-- <div class="col-md-12">
                <v-text-field
                  outlined
                  required
                  :rules="lastNameRule"
                  @focus="lastNameR"
                  @blur="cancelLastNameR"
                  label="Last Name*"
                  v-model="enroll.last_name"
                ></v-text-field>
              </div> -->
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Email*"
                  required
                  :rules="emailRules"
                  @focus="emailR"
                  @blur="cancelEmailR"
                  :disabled="enroll.email ? true : false"
                  v-model="enroll.email"
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Phone Number*"
                  :disabled="enroll.phone ? true : false"
                  maxlength="10"
                  :rules="phoneRule"
                  @focus="phoneR"
                  @blur="cancelPhoneR"
                  required
                  v-model="enroll.phone"
                  @keypress="onlyNumbers"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  outlined
                  label="Message*"
                  maxlength="250"
                  counter
                  required
                  :rules="messageRule"
                  @focus="messageR"
                  @blur="cancelMessageR"
                  v-model="enroll.message"
                ></v-textarea>
              </div>
              <div class="col-md-12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ responseMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      {{ responseMessage }}
                    </v-alert>
                  </div>
                </div>
              </div>
            </v-row>

            <v-card-actions>
              <v-btn
                rounded
                dark
                color="grey darken-4"
                :loading="loading"
                :disabled="loading"
                @click="enrollCourse"
                >Submit</v-btn
              >
              <v-btn color="red" rounded dark @click="closeEnrollDialog"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog v-model="guestEnrollDialog" width="700px">
      <v-card>
        <v-card-title>
          <span class="headline">Enroll Now</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="guestEnrollFor">
            <v-row>
              <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.first_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Name*"
                  required
                ></v-text-field>
              </v-col>
              <!-- <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.first_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="First Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.last_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Last Name*"
                  required
                ></v-text-field>
              </v-col> -->
              <!-- <v-col md="6" lg="6" sm="12" xs="12">
                <v-text-field
                  v-model="guestEnrollForm.last_name"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Last Name*"
                  required
                ></v-text-field>
              </v-col> -->

               <!-- Email Verification -->
              <div class="col-md-6">
                <v-text-field
                  v-model="guestEnrollForm.email"
                  dense
                  filled
                  :rules="guestEmailRules"
                  label="Email*"
                  required
                ></v-text-field>
                <!-- <v-text-field
                  ref="enrollEmail"
                  v-model="guestEnrollForm.email"
                  dense
                  filled
                  :disabled="emailField"
                  :rules="guestEmailRules"
                  label="Email*"
                  @blur="checkEmail"
                  required
                ></v-text-field> -->
              </div>
              <!-- <div class="col-md-6" >
                <v-btn
                  v-if="verifyEmailButton"
                  rounded
                  dark
                  color="green"
                  :disabled="guestLoading"
                  :loading="guestLoading"
                  @click="verifyEmail"
                  >Verify</v-btn
                >
                <v-alert v-if="verifyEmailError" text type="error" align="left">
                  {{ verifyEmailErrorMessage }}
                </v-alert>
              </div> -->
              <div class="col-md-6" v-if="showEmailOtpForm">
                <v-text-field
                v-if="showEmailOtpForm"
                  v-model="emailOtp"
                  dense
                  :disabled="emailOtpField"
                  filled
                  label="Otp*"
                  required
                  @blur="checkEmailOtp"
                  @keypress="onlyEmailOtp"
                  maxlength="4"
                ></v-text-field>
              </div>
              <div class="col-md-4" v-if="submitEmailOtpButton">
                <v-btn rounded dark color="green" @click="submitEmailOtp"
                  >Submit Otp</v-btn
                >
              </div>
              <div class="col-md-4" v-if="submitEmailSuccess || submitEmailError">
                <v-alert v-if="submitEmailSuccess" text type="success" align="left">
                  Verified!
                </v-alert>
                <v-alert v-if="submitEmailError" text type="error" align="left">
                  {{ submitEmailErrorMessage }}
                </v-alert>
              </div>


              <!-- Mobile Verification -->
              <div class="col-md-6" >
                <v-text-field
                  v-model="guestEnrollForm.phone"
                  dense
                  :disabled="mobileField"
                  filled
                  :rules="phoneRules"
                  label="Phone*"
                  required
                  ref="mobile"
                  @blur="checkMobileNumber"
                  @keypress="onlyNumbers"
                  maxlength="10"
                ></v-text-field>
              </div>
              <div class="col-md-6">
                <v-btn
                  v-if="verifyButton"
                  rounded
                  dark
                  color="green"
                  :disabled="guestLoading"
                  :loading="guestLoading"
                  @click="verifyMobile"
                  >Verify</v-btn
                >
                <v-alert v-if="verifyError" text type="error" align="left">
                  {{ verifyErrorMessage }}
                </v-alert>
                <!-- <v-btn
                v-if="resendButton"
                  rounded
                  dark
                  color="green"
                  >Resend</v-btn
                > -->
              </div>
              <!-- <div class="col-md-6">
                <v-alert v-if="verifyError" text type="error" align="left">
                    {{ verifyErrorMessage }}
                  </v-alert>
              </div> -->
              <div class="col-md-6" v-if="showOtpForm">
                <v-text-field
                  v-model="otp"
                  dense
                  :disabled="otpField"
                  filled
                  label="Otp*"
                  required
                  @blur="checkOtp"
                  @keypress="onlyOtp"
                  maxlength="4"
                ></v-text-field>
              </div>
              <div class="col-md-4" v-if="submitotpbutton">
                <v-btn rounded dark color="green" @click="submitOtp"
                  >Submit Otp</v-btn
                >
              </div>
              <div class="col-md-4">
                <v-alert v-if="submitSuccess" text type="success" align="left">
                  Verified!
                </v-alert>
                <v-alert v-if="submitError" text type="error" align="left">
                  {{ submitErrorMessage }}
                </v-alert>
              </div>
              <div class="col-md-4"></div>
              <v-col cols="12" md="12" lg="12" sm="12" xs="12">
                <v-textarea
                  v-model="guestEnrollForm.message"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Message*"
                  required
                  maxlength="250"
                  counter
                ></v-textarea>
              </v-col>
            </v-row>
            <div class="col-md-12">
                <v-alert v-if="success" text type="success" align="left">
                  Enrolled Successfully!
                </v-alert>
                <v-alert v-if="errorenroll" text type="error" align="left">
                  {{ errormes }}
                </v-alert>
              </div>

            <v-card-actions>
              <v-row>
                <v-col class="text-left">
                  <v-btn
                    v-if="showSubmitButton"
                    rounded
                    dark
                    :loading="enrollLoad"
                    :disabled="enrollLoad"
                    color="grey darken-4"
                    @click="submitGuestForm"
                  >
                    Submit
                    <!-- <template  v-if="loading2">
                  <span>Processing...</span>
                </template> -->
                  </v-btn>
                  <v-btn
                    rounded
                    dark
                    color="red"
                    @click="closeGuestEnrollDialog"
                  >
                    Cancel
                  </v-btn>
                  <!-- <v-btn class="btn" style="background: #000" @click="submitForm">
              Submit
            </v-btn> -->
                </v-col>
              </v-row>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: ["courses"],
  name: "SchoolCoursesList",
  data() {
    return {
      showDialog: false,
      loading: false,
      user_id: "",
      email: "",
      mobile: "",
      enroll: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
        course_user_id: "",
      },
      guestEnrollForm: {
        first_name:"",
        last_name:"",
        email: "",
        phone: "",
        message: "",
      },
      // guestEnrollForm: {
      //   first_name: "",
      //   last_name: "",
      //   email: "",
      //   phone: "",
      //   message: "",
      // },
      responseMessage: "",
      success: false,
      error: false,
      emailRules: [],
      courseName: "",
      detail_id: "",
      firstNameRule: [],
      lastNameRule: [],
      phoneRule: [],
      messageRule: [],
      guestEmailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      phoneRules: [
        (v) => !!v || "Phone number is required",
        (v) => (v && v.length >= 10) || "Invalid",
      ],
      enrollLoad:false,
      guestEnrollDialog: false,
      verifyButton: false,
      mobileField: false,
      guestLoading: false,
      verifySuccess: false,
      verifyError: false,
      verifyErrorMessage: "",
      showOtpForm: false,
      otp: "",
      submitotpbutton: false,
      verified: false,
      showSubmitButton: false,
      resendButton: false,
      otpField: false,
      killResendButton: false,
      milisec: 60000,
      submitSuccess: false,
      submitError: false,
      submitErrorMessage: "",
      emailField: false,
      isNameEmailPresent: false,

      // Email verify
      verifyEmailError:false,
      verifyEmailErrorMessage:"",
      verifyEmailButton:false,
      verifyEmailSuccess: false,
      showEmailOtpForm: false,
      emailOtp: "",
      submitEmailOtpButton: false,
      emailVerified: false,
      showEmailOtpSubmitButton: false,
      emailOtpField: false,
      submitEmailSuccess: false,
      submitEmailError: false,
      submitEmailErrorMessage: "",

      // Enroll Submit
submitEnrollSuccess:false,
submitEnrollError:false,
submitEnrollErrorMessage:"",
errorenroll:false,
errormes:"",
showMobileField:false
    };
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.detail_id = localStorage.getItem("details_id");
    this.email = localStorage.getItem("email");
    this.mobile = localStorage.getItem("mobile");
    console.log("dfgsd35353", this.corporate);
  },
  methods: {
    submitOtp() {
      let responseOtp = localStorage.getItem("verifyotp");
      if (this.otp === responseOtp) {
        this.submitSuccess = true;
        this.submitotpbutton = false;
        this.showSubmitButton = true;
        this.otpField = true;
        this.mobileField = true;
        // this.emailField = true;

        // setTimeout(() => {
        //   this.otpField=false
        // }, 60000);
      } else {
        this.submitotpbutton = false;
        this.submitErrorMessage = "Invalid Otp!";
        this.submitError = true;
        setTimeout(() => {
          this.submitError = false;
          this.submitotpbutton = true;
        }, 2000);
      }
    },

    submitEmailOtp() {
      let responseOtp = localStorage.getItem("verifyEmailOtp");
      if (this.emailOtp === responseOtp) {
        this.submitEmailSuccess = true;
        this.submitEmailOtpButton = false;
        this.showEmailOtpSubmitButton = true;
        this.emailOtpField = true;
        // this.mobileField = true;
        this.emailField = true;
        this.showMobileField=true

        // setTimeout(() => {
        //   this.otpField=false
        // }, 60000);
      } else {
        this.submitEmailOtpButton = false;
        this.submitEmailErrorMessage = "Invalid Otp!";
        this.submitEmailError = true;
        setTimeout(() => {
          this.submitEmailError = false;
          this.submitEmailOtpButton = true;
        }, 2000);
      }
    },
    checkEmailOtp(){
      if (this.emailOtp.length == 4) {
        this.submitEmailOtpButton = true;
      } else {
        this.submitEmailOtpButton = false;
      }
    },
    checkOtp() {
      if (this.otp.length == 4) {
        this.submitotpbutton = true;
      } else {
        this.submitotpbutton = false;
      }
    },
    async verifyMobile() {
      this.guestLoading = true;

      // this.showOtpForm = true;
      // this.verifyButton=false
      // setTimeout(() => {
      //   this.resendButton=true
      // }, this.milisec);

      let payload = {
        mobile_no: this.guestEnrollForm.phone
      };
      // this.mobileField=true
      let res = await this.$axios.post(
        "CustomerApi/verify_mobile",
        payload
      );
      // this.guestLoading=true
      if (res.data.result === 1) {
        this.guestLoading = false;
        localStorage.setItem("verifyotp", res.data.otp);
        this.showOtpForm = true;
        this.verifyButton = false;
        this.submitSuccess = false;
        // this.emailField = false;
        // this.verifySuccess=true
        // setTimeout(() => {
        //   this.verifySuccess=false
        // }, 2000);
      } else if (res.data.result === 0) {
        this.verifyErrorMessage = res.data.message;
        this.verifyButton = false;
        this.verifyError = true;
        setTimeout(() => {
          this.guestLoading = false;
          this.verifyError = false;
          this.verifyButton = true;
        }, 2000);
      }
    },

    async verifyEmail() {
      this.guestLoading = true;

      // this.showOtpForm = true;
      // this.verifyButton=false
      // setTimeout(() => {
      //   this.resendButton=true
      // }, this.milisec);

      let payload = {
        email: this.guestEnrollForm.email
      };
      // this.mobileField=true
      let res = await this.$axios.post(
        "CustomerApi/verify_email",
        payload
      );
      // this.guestLoading=true
      if (res.data.result === 1) {
        this.guestLoading = false;
        localStorage.setItem("verifyEmailOtp", res.data.otp);
        this.showEmailOtpForm=true
        this.verifyEmailButton = false;
        this.submitEmailSuccess = false;
        this.emailField = false;
        // this.verifySuccess=true
        // setTimeout(() => {
        //   this.verifySuccess=false
        // }, 2000);
      } else if (res.data.result === 0) {
        this.verifyEmailErrorMessage = res.data.message;
        this.verifyEmailButton = false;
        this.verifyEmailError = true;
        setTimeout(() => {
          this.guestLoading = false;
          this.verifyEmailError = false;
          this.verifyEmailButton = true;
        }, 2000);
      }
    },
    closeGuestEnrollDialog() {
      this.$refs.guestEnrollFor.reset();
      this.guestEnrollDialog = false;
      this.showOtpForm = false;
      this.verifyButton = false;
      this.mobileField = false;
      this.submitSuccess = false;
      this.showSubmitButton = false;
      this.submitotpbutton = false;
      this.otpField = false;
      this.showMobileField=false


      // Email
      this.showEmailOtpForm = false;
      this.verifyEmailButton=false
      this.submitSuccess=false
      this.emailField=false
      this.emailOtpField=false
      this.resendButton=false
      this.submitEmailOtpButton=false
      this.showEmailOtpSubmitButton=false
      this.submitEmailSuccess=false
      this.submitEmailError=false
    },

    closeEnrollDialog() {
      this.$refs.enrollFor.reset();
      this.enrollDialog = false;
    },
    onlyOtp(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },

    onlyEmailOtp(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },

    checkMobileNumber() {
      if (this.$refs.mobile.validate()) {
        this.verifyButton = true;
      } else {
        this.verifyButton = false;
      }
    },

    checkEmail(){
      if (this.$refs.enrollEmail.validate()) {
        this.verifyEmailButton = true;
      } else {
        this.verifyEmailButton = false;
      }
    },

    firstNameR() {
      this.firstNameRule = [(v) => !!v || "First name is required"];
    },
    cancelFirstNameR() {
      this.firstNameRule = [];
    },
    lastNameR() {
      this.lastNameRule = [(v) => !!v || "Last name is required"];
    },
    cancelLastNameR() {
      this.lastNameRule = [];
    },
    phoneR() {
      this.phoneRule = [(v) => /^\d{10}$/.test(v) || "Must be 10 digit"];
    },
    cancelPhoneR() {
      this.phoneRule = [];
    },
    messageR() {
      this.messageRule = [(v) => !!v || "Message is required"];
    },
    cancelMessageR() {
      this.messageRule = [];
    },
    emailR() {
      this.emailRules = [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ];
    },
    cancelEmailR() {
      this.emailRules = [];
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    closeEnrollDialog() {
      this.showDialog = false;
      this.enroll.first_name = "";
      this.enroll.last_name = "";
      this.enroll.message = "";
    },
    enrollDialog(course) {
      let user=localStorage.getItem("userId")
      console.log("usersdfsdfs",user)
      let course_user_id=localStorage.getItem("details_id")
      if (user === "" || user === null) {
         this.guestEnrollDialog = true;
        this.guestEnrollForm.course_id = course.course_id;
        this.guestEnrollForm.course_user_id = course.user_id;
      } else {
       

        console.log("course12234", course);

        this.courseName = course.name;
        console.log("enroll2234", this.enroll);
        if (this.email != "") {
          this.enroll.email = this.email;
        }
        if (this.mobile != "") {
          this.enroll.phone = this.mobile;
        }
        this.enroll.user_id = user;
        this.enroll.course_id = course.course_id;
        this.enroll.course_user_id = course.user_id;
        this.showDialog = true;
        // this.$router.push("/login");
        // if (this.corporate === "Company") {
        // } else if (this.corporate === "Consultancy") {
        // } else if (this.corporate === "School") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "College") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "University") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "Training Institute") {
        //   this.$router.push("/corporate/login");
        // } else {
        //   this.$router.push("/login");
        // }
      }
    },
    async submitGuestForm() {
      this.enrollLoad = true;
      this.error = false;
      this.success = false;
      // this.guestEnrollForm.course_user_id = this.courseuser;
      if (!this.$refs.guestEnrollFor.validate()) {
        this.errorenroll = true;
        this.errormes = "Please fill mandatory field";
        setTimeout(() => {
          this.errorenroll = false;
          this.enrollLoad = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/CustomerApi/enroll_now",
          this.guestEnrollForm
        );
        console.log(res);
        if (res.data.result === 0) {
          this.enrollLoad = false;
          this.valid = true;
          this.errorenroll = true;
          this.errormes = res.data.message;
          setTimeout(() => {
            this.errorenroll = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.success = true;
          this.valid = true;
          this.enrollLoad = false;
          this.errorenroll = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
            this.guestEnrollDialog = false;
            this.$refs.guestEnrollFor.reset();
      this.guestEnrollDialog = false;
      this.showOtpForm = false;
      this.verifyButton=false
      this.mobileField=false
      this.submitSuccess=false
      this.emailField=false
      this.otpField=false
      this.submitotpbutton=false
      this.showSubmitButton=false
      this.showMobileField=false
      

      this.showEmailOtpForm = false;
      this.verifyEmailButton=false
      this.submitSuccess=false
      this.emailField=false
      this.emailOtpField=false
      this.resendButton=false
      this.submitEmailOtpButton=false
      this.showEmailOtpSubmitButton=false
      this.submitEmailSuccess=false
          }, 2000);
          // this.enrollForm.first_name = " ";
          // this.enrollForm.last_name = " ";
          // this.enrollForm.email = " ";
          // this.enrollForm.phone = " ";
          // this.enrollForm.message = " ";
        }
      }
    },
    checkValidEmail(v) {
      /.+@.+\..+/.test(v);
    },
    async enrollCourse() {
      this.loading = true;
      let checkEmail = true;
      let checkPhone = true;

      if (this.enroll.email != "") {
        checkEmail = /.+@.+\..+/.test(this.enroll.email);
      }
      // }
      // if (
      //   !this.$refs.enrollform.validate()
      // ) {
      if (
        this.enroll.first_name == "" ||
        this.enroll.last_name == "" ||
        this.enroll.email == "" ||
        !checkEmail ||
        this.enroll.phone == "" ||
        this.enroll.phone.length < 10 ||
        this.enroll.message == ""
      ) {
        if (this.enroll.first_name == "") {
          this.firstNameR();
        }
        if (this.enroll.last_name == "") {
          this.lastNameR();
        }
        if (this.enroll.email == "" || !checkEmail) {
          this.emailR();
        }
        if (this.enroll.phone == "" || this.enroll.phone.length < 10) {
          this.phoneR();
        }
        if (this.enroll.message == "") {
          this.messageR();
        }
        setTimeout(() => {
          this.loading = false;
        }, 2000);
      } else {
        this.cancelEmailR();
        this.cancelMessageR();
        this.cancelPhoneR();
        this.cancelLastNameR();
        this.cancelFirstNameR();
        let res = await this.$axios.post("CustomerApi/enroll_now", this.enroll);
        if (res.data.result === 1) {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.responseMessage = "";
            this.showDialog = false;
            this.enroll.first_name = "";
            this.enroll.last_name = "";
            this.enroll.message = "";
          }, 2000);
        } else {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.responseMessage = "";
          }, 2000);
        }
      }
    },
  },
};
</script>
<style></style>
