<template>
  <div class="bx gallery_new mt-3">
    <!-- <h3 class="head2" style="margin-top: 0">Gallery</h3> -->
    <div class="row" v-if="record.length > 0">
      <div
        v-viewer
       style="
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                              "
      >
        <div
          v-for="(src, index) in record"
          :key="index"
          class="col-md-2 text-center"
        >
          <img :src="src.image" class="image" />
        </div>
        <!-- <div
                                class="col-md-2 "
                                v-if="gallaryShort.length > 3"
                              >
                                <a
                                  @click="goToGallaryTab"
                                  class="viewMorebtn p-10"
                                  style="color: #999"
                                  >View More</a
                                >
                              </div> -->
      </div>
    </div>

    <!-- <div class="row" v-if="record.length > 0">
      <div class="col-md-2 text-center p-8" v-for="item in record" :key="item.gallery_id" v-viewer>
        <img
          style="
            width: 150px;
            height: 140px;
            object-fit: cover;
            border-radius: 4px;
          "
          :src="item.image"
          alt=""
        />
      </div> -->
    <!-- <div class="row" >
                       
                        <div class="col-md-3" >
                         No data found
                                                 </div> -->

    <!-- <div class="col-md-3">
                          <a href="#" class="btn">View More</a>
                        </div> -->
    <!-- </div> -->
    <v-dialog v-model="showDialog" width="500">
      <v-card>
        <img
          width="100%"
          height="300px"
          src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
          alt=""
        />
        <v-card-actions>
          <v-btn color="green darken-1" text @click="showDialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import "viewerjs/dist/viewer.css";
import VueViewer from "v-viewer";
import Vue from "vue";
Vue.use(VueViewer);
export default {
  props: ["record"],
  name: "SchoolGalleryList",
  data() {
    return {
      showDialog: false,
    };
  },
};
</script>
<style scoped>
.image {
  /* height: 200px;
  cursor: pointer;
  margin: 5px; */
  /* display: inline-flex; */
  width: 150px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
}
</style>
