<template>
    <div id="Overview">
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">About Us</h3>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Earum fugit impedit temporibus sapiente tempora
                          expedita similique doloribus itaque dicta possimus
                          quasi distinctio veritatis, sunt quam aliquam iste
                          facilis enim perspiciatis. Lorem ipsum dolor sit amet
                          consectetur adipisicing elit. Quo nihil ipsam aliquid
                          quos reprehenderit reiciendis debitis mollitia quia
                          quisquam ipsa nesciunt excepturi illum deserunt nemo
                          numquam neque perferendis, delectus rem?
                        </p>
                      </div>

                      <div style="float: left; width: 100%">
                        <v-tabs background-color="#FAFAFB" color="black">
                          <v-tab>Hyderabad</v-tab>
                          <v-tab>Mumbai</v-tab>
                          <v-tab>Banagalore</v-tab>
                          <v-tab>Chennai</v-tab>
                          <v-tab>Kanpur</v-tab>

                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                          <v-tab-item>
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p>Mon 10:00 to 18:00 Hrs</p>
                                  <p>Tue 10:00 to 18:00 Hrs</p>
                                  <p>Wed 10:00 to 18:00 Hrs</p>
                                  <p>Thurs 10:00 to 18:00 Hrs</p>
                                  <p>Fri 10:00 to 18:00 Hrs</p>
                                  <p>Sat 10:00 to 18:00 Hrs</p>
                                  <p>Sun 10:00 to 18:00 Hrs</p>
                                  <h4 class="head2">Address</h4>
                                  <p>
                                    JNTU,Road No:Kukatpully,Hyderabad,Telangana
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471218.38559717365!2d88.04952484283037!3d22.676385756918386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f882db4908f667%3A0x43e330e68f6c2cbc!2sKolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1605527790060!5m2!1sen!2sin"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                        </v-tabs>
                      </div>

                      <div class="bx gallery_new">
                        <h3 class="head2" style="margin-top: 0">Gallery</h3>
                        <div class="row">
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <a
                              href="#gal"
                              @click="tabIndex=1"
                              class="more-btn"
                              >View More</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">News</h3>
                        <hooper
                          class="tyming"
                          :itemsToShow="4"
                          :itemsToSlide="4"
                          :wheelControl="false"
                          style="margin-bottom;background:transparent;
            }"
                        >
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                          <slide>
                            <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a
                            >
                          </slide>
                        </hooper>
                        <div style="text-align: center; margin: 0 auto">
                          <a href="#" class="btn">View More</a>
                        </div>
                        <!-- <div class="row">
                         
                          <div class="col-md-4">
                           
                          </div>
                          <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                      </div>

                      <div class="review_view">
                         <h3 class="head2">Reviews</h3>
                        <div class="bx">
                         
                          <div>
                            <article>
                              <div class="tit">
                                <div>
                                  <img
                                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                  />
                                  <span class="stars"
                                    ><i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i
                                  ></span>
                                </div>
                                <div><h5>John Doe</h5></div>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Rem quae nemo voluptatum,
                                debitis optio earum quam nesciunt labore,
                                aperiam saepe error repellat, perferendis
                                assumenda fuga? Beatae quibusdam eligendi
                                ratione quisquam.Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Rem quae nemo
                                voluptatum, debitis optio earum quam nesciunt
                                labore, aperiam saepe error repellat,
                                perferendis assumenda fuga? Beatae quibusdam
                                eligendi ratione quisquam.
                              </p>
                            </article>
                            <article>
                              <div class="tit">
                                <div>
                                  <img
                                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                  />
                                  <span class="stars"
                                    ><i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i
                                  ></span>
                                </div>
                                <div><h5>John Doe</h5></div>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Rem quae nemo voluptatum,
                                debitis optio earum quam nesciunt labore,
                                aperiam saepe error repellat, perferendis
                                assumenda fuga? Beatae quibusdam eligendi
                                ratione quisquam.Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Rem quae nemo
                                voluptatum, debitis optio earum quam nesciunt
                                labore, aperiam saepe error repellat,
                                perferendis assumenda fuga? Beatae quibusdam
                                eligendi ratione quisquam.
                              </p>
                            </article>
                          </div>
                        </div>
                      </div>
                      <section>
                        <div class="bx">
                          <div class="write_review">
                            <h6>Write a Review</h6>
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <textarea
                                class="form-control"
                                placeholder="Message"
                              ></textarea>
                            </div>

                            <div class="rating">
                              <input
                                type="radio"
                                id="star5"
                                name="rating"
                                value="5"
                              />
                              <label
                                class="star"
                                for="star5"
                                title="Awesome"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star4"
                                name="rating"
                                value="4"
                              />
                              <label
                                class="star"
                                for="star4"
                                title="Great"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star3"
                                name="rating"
                                value="3"
                              />
                              <label
                                class="star"
                                for="star3"
                                title="Very good"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star2"
                                name="rating"
                                value="2"
                              />
                              <label
                                class="star"
                                for="star2"
                                title="Good"
                                aria-hidden="true"
                              ></label>
                              <input
                                type="radio"
                                id="star1"
                                name="rating"
                                value="1"
                              />
                              <label
                                class="star"
                                for="star1"
                                title="Bad"
                                aria-hidden="true"
                              ></label>
                            </div>
                            <span class="clearfix"></span>
                            <a href="#" class="btn">Add your Review</a>
                          </div>
                        </div>
                      </section>
                    </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  name: "Details",
  components: {
    Hooper,
    Slide,
    
  },
  data() {
    return {
      
      timeout: 6000,
     
    };
  },
 
};
</script>