<template>
  <div class="dashboardNav">
    <div class="course-profile">
      <div class="bx mb-4">
        <ul style="margin-top: 0">
          <li>
            <router-link to="/corporate/Schooldashboard">
              Dashboard
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
          <li>
            <!-- <router-link to="/corporate/update_profile">
              Update profile
              <i class="fa fa-angle-right"></i>
            </router-link> -->
              <router-link to="#pro">
              Profile
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li>
           <li>
            <a href="#address">
              Address And Locations
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#timing">
             School Timings
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#gallery">
              Gallery
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#staff">
             Staff
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <!-- <li>
            <router-link to="/corporate/manage_courses">
             Courses
              <i class="fa fa-angle-right"></i>
            </router-link>
          </li> -->
           <!-- <li>
            <a href="#jobs">
            Jobs
              <i class="fa fa-angle-right"></i>
            </a>
          </li> -->
           <li>
            <a href="#news">
             News
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#facili">
             Facilities
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#review">
             Reviews
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#subs">
             Subscriptions
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           <li>
            <a href="#kyc">
            School Kyc Dashboard
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
           
        </ul>
      </div>
      <div class="bx">
        <ul style="margin-top: 0">
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Courses</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li>
                    <router-link to="/corporate/manage_courses">
                      Teaching Subject/Course
                    </router-link>
                  </li>
                  <li @click="addSCUCourseSideNavDia"><a> Upload a course</a></li>
                  <!-- <li><router-link to="/corporate/manage_courses">
                      View all Courses
                    </router-link></li>
                  <li> -->
                  <li>
                    <router-link to="/corporate/purchased_courses"
                      >Purchased Courses</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/payment_history"
                      >Payment History</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/corporate/enquiry_batchinformation"
                      >Enquiry / Batch Information</router-link
                    >
                  </li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
          <li>
            <v-expansion-panels v-model="panel">
              <v-expansion-panel
                style="padding-left: 11px; background: transparent"
              >
                <v-expansion-panel-header>Jobs</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <li><a href="#">Post a Job</a></li>
                  <li><a href="#">Job's Tracker</a></li>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </li>
        </ul>
      </div>
    </div>
    <v-dialog v-model="addSCUCourseSideNavDialog" max-width="800">
      <v-card>
        <v-card-title> Add Course Details </v-card-title>
        <v-card-text>
          <v-form id="nativeForm" ref="courseform" v-model="valid">
            <div class="row">
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.course_name"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  label="Course Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-file-input
                  ref="image_string"
                  v-on:change="onImageUploadSide"
                  v-model="img_string"
                  show-size
                  dense
                  :rules="[(v) => !!v || 'Is required']"
                  filled
                  label="Course Image*"
                  accept="image/*"
                ></v-file-input>
              </v-col>
              <v-col md="2" xs="12" sm="12">
                <img
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  v-if="image"
                  :src="image"
                />
                <img
                  v-else
                  style="
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 4px;
                  "
                  src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                />
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.eligibility"
                  dense
                  filled
                  :rules="[(v) => !!v || 'Is required']"
                  label="Eligibility*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.duration"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  label="Duration*"
                  required
                ></v-text-field>
              </v-col>
              <v-col md="4" xs="12" sm="12">
                <v-text-field
                v-model="submitCourseDetails.fee"
                  :rules="[(v) => !!v || 'Is required']"
                  dense
                  filled
                  @keypress="onlyNumbers"
                  label="Fee*"
                  required
                ></v-text-field>
              </v-col>

              <v-col md="12">
                <div v-if="errorMessage1" class="form-group fadein">
                  <v-alert text type="error" align="left">
                    Some error occured!
                  </v-alert>
                </div>
              </v-col>
              <v-col md="12">
                <div v-if="success" class="form-group fadein">
                  <v-alert text type="success" align="left">
                    Course Added!
                  </v-alert>
                </div>
              </v-col>
              <v-card-actions>
                <v-row>
                  <v-col>
                    <v-btn 
                    v-if="valid"
                    color="grey darken-4" 
                    dark 
                    rounded
                    :loading="loading"
                    :disabled="loading"
                    @click="submitSCUCourseSide"
                      >Save Course</v-btn
                    >
                  </v-col>
                  <v-col>
                    <v-btn
                      color="red"
                      dark
                      rounded
                      @click="closeNavCourseDialog"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
              </v-card-actions>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "DashboardNav",
  data() {
    return {
      toogle: false,
      valid:true,
      success:false,
      loading:false,
      user_id:"",
      addSCUCourseSideNavDialog:false,
      courses:[],
      image:"",
      img_string:"",
      submitCourseDetails: {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      }
    };
  },
  mounted(){
    this.user_id = localStorage.getItem("userId");
    this.instituteName = localStorage.getItem("name");
    this.corporate_type = localStorage.getItem("corporate");
    this.getCourseList()
  },
  methods:{
    closeNavCourseDialog(){
      this.addSCUCourseSideNavDialog = false
      this.$refs.courseform.reset()
      this.$refs.image_string.reset()
      this.image=""
    },
     onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    onImageUploadSide(){
      let that=this
      let reader = new FileReader();
      reader.readAsDataURL(this.img_string);
      reader.onload = function () {
        // cb(reader.result)
        that.submitCourseDetails.image = reader.result;
        that.image=reader.result;
      };
    },
    addSCUCourseSideNavDia(){
      this.addSCUCourseSideNavDialog=true

    },
    async submitSCUCourseSide(){
      this.loading = true;
      this.submitCourseDetails.user_id = this.user_id;
      console.log("payloadCollege",this.submitCourseDetails)
      let res = await this.$axios.post(
        "trainingInstituteApi/add_course_details",
        this.submitCourseDetails
      );
      if (res.data.result === 1) {
        this.success = true;
        this.loading = false;
        this.getCourseList();
        setTimeout(() => {
          this.success = false;
          this.addSCUCourseSideNavDialog = false;
          this.submitCourseDetails = {
            course_name: "",
            image: "",
            eligibility: "",
            duration: "",
            fee: "",
          };
        }, 2000);
      }
    },
    async getCourseList() {
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      
      if (res.data.result === 1) {
        console.log("corselist234234",res);
        this.courses=res.data.data
        // this.dashboardCourses = res.data.data.reverse().slice(0, 3);
      } else {

      }
    },
  }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}
/* .fade-transition{} */
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.drop a {
  border: none !important;
}
.drop {
  border-bottom: 1px solid #ddd !important;
}
</style>