<template>
  <div class="vendor-board">
    <div v-if="aboutLoading">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div class="bx mb-4">
      <v-container>
        <!-- <v-alert
          class="desk"
          type="error"
          v-if="
            profile.about_us < 1 ||
              profile.country_name < 1 ||
              profile.state_name < 1 ||
              profile.city_name < 1 ||
              profile.area_name < 1 ||
              profile.pincode < 1
          "
        >
          <h5 style="color: #fff; margin: 0; position: relative">DashBoard</h5>
        </v-alert> -->
        <div class style="padding: 0">
          <div>
            <h3 class="small-title"></h3>
            <!-- <p>
            {{
              profile.about_us ||
              `Your Profile Is Incomplete, Please Update Your Profile.`
            }}
          </p> -->
          </div>
          <v-row class="mb-3">
            <v-col class="text-left"
              ><h4 class="head2">
                Profile
              </h4>
            </v-col>
            <v-col class="text-right">
              <router-link to="/corporate/update_profile">
                <v-btn rounded color="grey darken-4" dark>
                  Edit <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </router-link>
            </v-col>
          </v-row>

          <div v-if="Company">
            <div class="col-md-3 form-group">
              <label for>Display Name</label>
              <p>{{ displayName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Registered Name</label>
              <p>{{ companyName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Type Of Company</label>
              <p>{{ profile.type }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Mobile Number</label>
              <p>{{ profile.mobile_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Land Line Number</label>
              <p>{{ profile.landline_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Website</label>
              <p>{{ profile.website_link }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Email id</label>
              <p>{{ profile.email }}</p>
            </div>

            <div class="col-md-12">
              <h4 class="head2">About Company</h4>
              <p>{{ profile.about_us }}</p>
            </div>
          </div>

          <div v-if="School">
            <div class="col-md-3 form-group">
              <label for>Display Name</label>
              <p>{{ profileData.display_name }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Official Registered Name</label>
              <p>{{ profileData.registered_name }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Website</label>
              <p>{{ profileData.website_link }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Email id</label>
              <p>{{ profileData.email }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Mobile Number</label>
              <p>{{ profileData.mobile_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Land Line Number</label>
              <p>{{ String(profileData.landline_no).length === 10? `0${profileData.landline_no}` :profileData.landline_no}}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Classification</label>
              <p>{{ profileData.classification }}</p>
            </div>

            <div class="col-md-3 form-group">
              <label for>Type Of School</label>
              <p>{{ profileData.type }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Board</label>
              <p>{{ profileData.board }}</p>
            </div>

            <div class="col-md-12">
              <h4 class="head2">About School</h4>
              <p>{{ profileData.about_us }}</p>
            </div>
          </div>

          <div v-if="College">
            <div class="col-md-3 form-group">
              <label for>Display Name</label>
              <p>{{ profileData.display_name }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Registered Name</label>
              <p>{{ companyName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Website</label>
              <p>{{ profileData.website_link }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Email id</label>
              <p>{{ profileData.email }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Mobile Number</label>
              <p>{{ profileData.mobile_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Land Line Number</label>
              <p>{{ profileData.landline_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Board</label>
              <p>{{ profileData.board }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Type Of College</label>
              <p>{{ profileData.type }}</p>
            </div>
            
            <div class="col-md-3 form-group">
              <label for>Stream</label>
              <p>{{ profileData.stream }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Program Type</label>
              <p>{{ profileData.program_type }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Accreditation</label>
              <p>{{ profileData.accreditation }}</p>
            </div>
            <div class="col-md-12 form-group">
              <label for>Course Level</label>
              <ul>
                <li v-for="level in courseLevel" :key="level.id" class="col-md-2">{{ level.name }}</li>
              </ul>
            </div>

            <div class="col-md-12">
              <h4 class="head2">About College</h4>
              <p>{{ profileData.about_us }}</p>
            </div>
          </div>
          
          <div v-if="University">
            <div class="col-md-3 form-group">
              <label for>Display Name</label>
              <p>{{ profileData.display_name }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Registered Name</label>
              <p>{{ companyName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Website</label>
              <p>{{ profile.website_link }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Email id</label>
              <p>{{ profile.email }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Mobile Number</label>
              <p>{{ profile.mobile_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Land Line Number</label>
              <p>{{ profile.landline_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Board</label>
              <p>{{ profile.board }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Type Of University</label>
              <p>{{ profile.type }}</p>
            </div>
            <!-- <div class="col-md-3 form-group">
              <label for>Course Level</label> -->
              <!-- <p>{{ courseLevel[0].name }}</p>
            </div> -->
            <div class="col-md-3 form-group">
              <label for>Stream</label>
              <p>{{ profile.stream }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Program Type</label>
              <p>{{ profile.program_type }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Accreditation</label>
              <p>{{ profile.accreditation }}</p>
            </div>
            <div class="col-md-12 form-group">
              <label for>Course Level</label>
              <ul>
                <li v-for="level in courseLevel" :key="level.id" class="col-md-3">{{ level.name }}</li>
              </ul>
            </div>
            <div class="col-md-12">
              <h4 class="head2">About University</h4>
              <p>{{ profile.about_us }}</p>
            </div>
          </div>

          <div v-if="Trainer">
            <div class="row">
              <div class="col-md-3 form-group">
                <label for>Name</label>
                <p>{{ profile.name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Email</label>
                <p>{{ profile.email }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Phone Number</label>
                <p>{{ profile.mobile_no }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Landline Number</label>
                <p>{{ profile.mobile_no }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>DOB</label>
                <p>{{ profile.dob }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Gender</label>
                <p>{{ profile.gender }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Marital Status</label>
                <p>{{ profile.martial_status }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Country</label>
                <p>{{ profile.country_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>State</label>
                <p>{{ profile.state_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>City</label>
                <p>{{ profile.city_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Area</label>
                <p>{{ profile.area_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Pincode</label>
                <p>{{ profile.pincode }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Website</label>
                <p>
                  <a href="#">{{ profile.website }}</a>
                </p>
              </div>
            </div>

            <div class="bx" style="background:#fff">
              <h4 class="head2">Present Address</h4>
              <div class="row">
                <span style="display: flex; align-items: center">{{
                  profile.present_address
                }}</span>
                <!-- <div class="col-md-3 form-group">
          <label for>Address</label>
          <p>504 A,P.S Aviator Chinarpark</p>
        </div> -->
                <!-- <div class="col-md-3 form-group">
          <label for>Pincode</label>
          <p>700011</p>
        </div> -->
                <!-- <div class="col-md-3 form-group">
          <label for>City</label>
          <p>Kolkata</p>
        </div> -->
                <!-- <div class="col-md-3 form-group">
          <label for>State</label>
          <p>West Bengal</p>
        </div> -->
              </div>
            </div>

            <div class="bx" style="background:#fff">
              <h4 class="head2">Permanent Address</h4>
              <div class="row">
                <span style="display: flex; align-items: center">{{
                  profile.permanent_address
                }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="head2">About you</h4>
                <p>{{ profile.about_us }}</p>

                <!-- <h4 class="head2">Current Job Description</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Designation</th>
                      <th>Company</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Developer</td>
                      <td>Kazma Technology</td>
                      <td>5000</td>
                    </tr>
                  </tbody>
                </table> -->
              </div>
            </div>
          </div>
          <div v-if="Consultancy">
            <div class="col-md-3 form-group">
              <label for>Display Name</label>
              <p>{{ displayName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Registered Name</label>
              <p>{{ companyName }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Type Of Consultancy</label>
              <p>{{ profile.type }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Industry</label>
              <p>{{ profile.industry }}</p>
            </div>

            <div class="col-md-3 form-group">
              <label for>Website</label>
              <p>{{ profile.website_link }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Email id</label>
              <p>{{ profile.email }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Mobile Number</label>
              <p>{{ profile.mobile_no }}</p>
            </div>
            <div class="col-md-3 form-group">
              <label for>Land Line Number</label>
              <p>{{ profile.landline_no }}</p>
            </div>

            <div class="col-md-12">
              <h4 class="head2">About Consultancy</h4>
              <p>{{ profile.about_us }}</p>
            </div>
          </div>

          <div v-if="Training">
            <div class="row">
              <div class="col-md-3 form-group">
                <label for>Display Name</label>
                <p>{{ displayName }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Registered Name</label>
                <p>{{ companyName }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Type Of Institute</label>
                <p>{{ profileData.type }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Category</label>
                <p>{{ profileData.category_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Sub-Category</label>
                <p>{{ profileData.subcategory_name }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Website</label>
                <p>{{ profileData.website_link }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Email id</label>
                <p>{{ profileData.email }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Mobile Number</label>
                <p>{{ profileData.mobile_no }}</p>
              </div>
              <div class="col-md-3 form-group">
                <label for>Land Line Number</label>
                <p>{{ profileData.landline_no }}</p>
              </div>
              <!-- <div class="col-md-3 form-group">
                <label for>Board</label>
                <p>{{ profileData.board }}</p>
              </div> -->

              <div class="col-md-12">
                <h4 class="head2">About Institute</h4>
                <p>{{ profileData.about_us }}</p>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  props: ["profile", "loader"],
  name: "VendorBoard",
  data() {
    return {
      displayName:"",
      success: false,
      corporate: "",
      Training: false,
      Company: false,
      School: false,
      College: false,
      University: false,
      Consultancy: false,
      Trainer: false,
      companyName: "",
      aboutLoading:false,
      profileData:"",
      courseLevel:""
      
    };
  },
  mounted() {
    this.companyName = localStorage.getItem("name");
    this.user_id = localStorage.getItem("userId");
    this.getCorporate();
    this.getProfile()
    
  },
  methods: {
    async getProfile() {
      let dispName
      this.aboutLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData = res.data.data;
        if(this.corporate === "College" || this.corporate === "University"){
          this.courseLevel=res.data.data.course_level
        }
        dispName=res.data.data.exreed_website_link.split("/")
          this.displayName=dispName.pop()
        this.aboutLoading = false;

        console.log("profileData3211234567",this.profileData)
      } else {
      }
    },
    async getCorporate() {
      this.corporate = localStorage.getItem("corporate");
      console.log("corpo", this.corporate);
      if (this.corporate === "Company") {
        this.Company = true;
      } else if (this.corporate === "Training Institute") {
        this.Training = true;
      } else if (this.corporate === "School") {
        this.School = true;
      } else if (this.corporate === "College") {
        this.College = true;
      } else if (this.corporate === "University") {
        this.University = true;
      } else if (this.corporate === "Individual Trainer") {
        this.Trainer = true;
      } else if (this.corporate === "Consultancy") {
        this.Consultancy = true;
      } else {
      }
    },
  },
};
</script>

<style lang="css">
.v-application .error {
  background: #ed1d25 !important;
}
.btn {
  margin: 0 4px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 699px;
  position: relative;
}
.mdi-alert::before {
  content: "\F0026";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  display: none;
}
</style>
