/* @import "https: //fonts.googleapis.com/css?family=Lato|Oswald&display=swap"; */
/* @import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"; */
/* @import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"; */
/* @import "../assets/css/layout.css"; */
@import url(
  https://fonts.googleapis.com/css?family=Lato:300,
  400,
  700|Open+Sans:300,
  400,
  600,
  700&display=swap
);
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 0;
  border: none;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
a:hover {
  text-decoration: none;
}
.dropdown-menu > li > a {
  line-height: 2 !important;
  padding-left: 10px !important;
}

.dropdown-menu .fa-caret-up {
  position: absolute;
  text-align: center;
  left: 20%;
  margin-top: -19px;
  font-size: 20px;
  color: #fff;
}

.v-treeview-node__level {
  width: 24px;
  display: none;
}

.v-expansion-panel-header {
  padding: 0 !important;
  font-size: 14px;
  min-height: 40px;
  background: transparent !important;
}

.v-expansion-panel:not(:first-child)::after {
  border: none !important;
}

.v-input--selection-controls {
  margin-top: 0 !important;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 24px !important;
}

.v-expansion-panel-header::before {
  background: transparent !important;
}

.v-expansion-panel-header h6 {
  font-size: 14px;
}

/* front-end-css */
.hooper {
  height: auto !important;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto,
.container {
  padding: 0 15px !important;
}

.row {
  /* display: inline-block !important; */
  width: 100%;
}

.v-application .title {
  font-size: xx-large !important;
  font-weight: 500;
  letter-spacing: 0.0125em !important;
}

.breadcrumb ul {
  padding: 0 !important;
}

.v-input__control {
  top: 10px;
}

.v-expansion-panel::before {
  content: "";
  box-shadow: none !important;
}

.theme--light.v-expansion-panels
  .v-expansion-panel-header
  .v-expansion-panel-header__icon
  .v-icon {
  top: 0;
}

.theme--light.v-application {
  background: #fff !important;
}

.sidebar-menu .theme--light.v-expansion-panels .v-expansion-panel {
  /* background: #fff !important; */
  background: transparent;
}

.container {
  max-width: 95% !important;
}

.v-expansion-panel-header h6 {
  font-family: "Lato", sans-serif;
}

.v-expansion-panel-content__wrap {
  padding: 0 !important;
}

.theme--light.v-expansion-panels
  .v-expansion-panel-header
  .v-expansion-panel-header__icon
  .v-icon {
  font-size: 20px !important;
  color: black !important;
}

.course_list {
  float: left;
  width: 100%;
  display: grid;
  /* grid-template-columns: 18% auto 21%; */
  grid-gap: 1.5em;
  grid-template-columns: 18% auto; 
}

.course_list > div:nth-child(2) .bx > div:first-child, .listContainer > div:first-child {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 1em;
}

.bx {
  padding: 20px !important;
}

.checkbox,
.radio,
.sidebar-menu {
  margin-top: 0 !important;
}

.course-ft {
  margin-top: 0px;
}

.course-ft {
  margin-top: 0 !important;
}

.box img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.course_list .listView {
  display: grid;
  grid-template-columns: 100% !important;
  grid-gap: 1em;
}

.course_list .listView .box {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0em;
  text-decoration: none;
}

.course_list .listView .box article {
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.course_list .listView .box img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  /* height: 152px; */
}

.router-link-exact-active.router-link-active,
.router-link-exact-active.router-link-active .fa {
  color: #ed1d25;
}

.login .form form h3 {
  color: #000;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn {
  color: #fff !important;
  text-transform: capitalize !important;
}

.cart table tr td h5 span i {
  color: #fff !important;
}

.dropdown-menu .fa-caret-up {
  margin-top: -34px;
  font-size: 37px;
  color: #eee;
}

a.listViewFalse .fa,
a.listView .fa {
  color: #ed1d25 !important;
}

a:focus {
  text-decoration: none;
}

.v-slide-group__wrapper {
  /* margin: 0 -48px; */
  margin-top: -17px;
}

.home-grid {
  background: #fff;
}

.grey-box .tyming li span {
  width: 100%;
  margin: 0 !important;
  font-size: 20px !important;
}

.grey-box .tyming li {
  text-align: center;
  border: none !important;
}

ul {
  padding-left: 0 !important;
}

.grey-box p {
  color: #999;
  font-size: 14px;
  margin-top: 14px;
  float: left;
  /* padding: 15px; */
  width: 100%;
}

.course-detail .grey-box .col-md-3 article i {
  text-align: center !important;
}

.course-detail .grey-box .col-md-3 article {
  text-align: left !important;
  border: 1px solid #eee;
  float: left;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  background: #fff;
  height:230px;
}

.grey-box .tyming li .btn {
  bottom: 0;
  top: auto !important;
  display: grid;
  margin: 0 auto;
  width: 80%;
  float: none !important;
}

/* *{
    transition: .1s;
  } */
.self_placed {
  max-width: -webkit-fill-available !important;
  max-width: -moz-available !important;
  width: 100% !important;
  margin: 25px 0;
  background: #000;
  color: #fff;
  padding: 20px !important;
  /* margin-bottom: -20px; */
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  border-radius: 5px;
}

.self_placed h3,
.self_placed .fa {
  color: #fff !important;
}

.self_placed .btn {
  background: #fff;
  color: #000 !important;
}
.self_placed article{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.self_placed p {
  margin: 0;
  padding: 0;
}

.cart .col-md-3 .grey-box {
  margin-top: 0 !important;
}

.checkout .panel h5 {
  color: #000 !important;
}

.cart .col-md-3 .grey-box p {
  margin: 15px 0 !important;
  padding: 0 !important;
}

.review_view h3.small-title {
  position: sticky;
  top: -20px;
  background: #fff;
  left: -15px !important;
  width: 103%;
  padding: 13px;
  margin-top: 0;
}

.v-tabs-slider-wrapper {
  display: none;
}

/* .bx .v-tabs {
  margin-top: -20px;
  margin-left: -20px;
  width: 105%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
} */

.v-slide-group__wrapper {
  margin-top: 0;
}

.v-tab {
  text-transform: capitalize !important;
  color: #999 !important;
  height: 65px;
  font-size: 15px !important;
  font-weight: bold !important;
}

.v-tab--active {
  color: inherit;
  color: #337ab7 !important;
  background: #fff;
}

.v-tabs-bar {
  height: 65px !important;
}

.profile-course .col-md-9 .panel h5 {
  line-height: 1 !important;
}

.dashboardBanner h2 {
  position: absolute;
  color: #fff;
  float: left;
  z-index: 9;
  top: 108px;
  left: 0;
  width: 100%;
  padding: 0 38px;
}

.dashboardBanner h2 span {
  font-size: 14px;
  float: right;
  border: 1px solid #fff;
  position: relative;
  top: 6px;
  padding: 7px 15px;
  color: #fff;
  border-radius: 25px;
}

.add_new table tr td {
  padding: 15px;
  color: #000;
}

.add_new table tr td img {
  width: 30px;
  height: 30px;
}

.add_new .tab-pane {
  padding: 20px;
}

.add_new .tab-pane h3 {
  margin-top: 0;
}

.backTo {
  position: relative;
  left: 0;
  font-size: 20px;
  top: 15px;
  float: left;
  width: 100%;
}

.backTo small {
  position: relative;
  top: -4px;
  padding-left: 4px;
  font-weight: bold;
}

footer .footer-top ul li {
  position: relative;
}

.news_letter a {
  position: absolute;
  top: 32px;
  right: 3px;
}

footer .footer-top ul li a {
  margin-right: 7px;
}

.nav ul li a {
  padding: 0 15px !important;
  text-decoration: none;
}

.nav ul li a:hover {
  color: #ed1d25;
}

.responsive {
  display: none !important;
}

.banner .caption .form {
  max-width: 100%;
}

.right-menu .panel .btn,
.btn {
  border-radius: 25px !important;
}

.login .form form label {
  background: transparent !important;
  top: 0 !important;
  width: 100%;
  left: 0 !important;
  padding: 0 !important;
}

.head-top ul {
  float: right;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.btn svg path {
  fill: #fff;
}

.btn svg {
  position: relative;
  top: 2px;
  left: 3px;
}

label {
  color: #000;
}

.vendor-board .panel {
  padding: 15px 0;
}

.review_view .bx {
  scrollbar-width: thin;
}

/* custom button loader start */

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* custom button loader ends */
.bullet_list,
.keywords {
  padding: 0;
  float: left;
  width: 100%;
}

.bullet_list li {
  float: left;
  width: 100%;
  list-style-type: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bullet_list li::before {
  content: "";
  background: #ed1d25;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}

.bullet_list li p {
  padding: 0;
  /* margin-top: 0; */
  padding-left: 25px;
  margin: 0;
}

.course-detail .row .col-md-9 .col-md-3 {
  text-align: right;
}

.projects ul {
  padding: 0;
  float: left;
  width: 100%;
  margin-top: 7px;
}

.projects ul li {
  padding: 0;
  float: left;
  width: 100%;
  list-style-type: none;
  position: relative;
  padding-left: 30px;
}

.projects ul li:before {
  content: " ";
  position: absolute;
  top: 15px;
  left: 8px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 1em;
  width: 0.5em;
  border-bottom: 0.2em solid #22af73;
  border-right: 0.2em solid #22af73;
}

.projects ul li p {
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}
/* .projects ul li p a i {
  color: #fff;
}
.projects ul li p a {
  width: 50px;
  height: 50px;
} */
.keywords li {
  padding-right: 7px;
  margin-bottom: 7px;
  display: inline-flex;
}

.keywords li a {
  background: #fff;
  color: #000;
  border: 1px solid #ddd;
  padding: 7px 15px;
  border-radius: 25px;
}

section {
  margin-bottom: 15px;
}

.dashboardNav {
  /* position: sticky; */
  /* top: 150px; */
}

.form form .form-group {
  float: left;
  width: 100%;
  height: 65px;
}

.v-input--has-state.error--text .v-label {
  color: #000 !important;
}

.v-messages__message {
  color: #ed1d25 !important;
  font-size: 10px;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: none !important;
}

.deleteRow {
  background: #fff !important;
  color: #000 !important;
  /* border: 1px solid #ddd; */
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 15px !important;
  display: inline-flex;
  font-weight: bold;
}

.deleteRow span {
  color: #000;
}

.deleteRow svg path {
  fill: #444;
}

.deleteRow svg {
  position: relative;
  top: 0;
}

button:focus {
  outline: none;
}

.trainingCert > div:only-child > .deleteRow {
  display: none;
}

.trainingCert > div:only-child > hr {
  margin-top: 0;
}

.updateEmployment > div:only-child .deleteRow,
.addNew > div:only-child .deleteRow,
.addNew > div:only-child hr {
  display: none;
}

.updateEmployment div .resumeContain {
  display: none;
}

.updateEmployment > div:first-child .resumeContain {
  display: inline-block;
}

.technicalSkills > div:only-child > .deleteRow {
  display: none;
}

.updateEmployment > div:first-child .headers {
  display: none;
}

.headers2 {
  display: none;
}

.updateEmployment > div:first-child .headers2 {
  display: block;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 1.2rem;
}

* {
  font-family: "Lato", sans-serif;
  color: #000;
}



.container {
  width: 95%;
}

p {
  color: #747474;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: capitalize;
}

h6 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

#corporate {
  margin-top: 14px;
  position: absolute;
  background: #fcfcfc;
  top: 66px;
  padding: 12px;
  box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08);
  z-index: 99;
  text-align: center;
  width: 300px;
  height: 65px;
  right: 104px;
}

#corporate .btn {
  margin-top: -41px;
}

.head-top ul li .svg-icon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000;
}

.svg-icon circle {
  stroke: #000;
  stroke-width: 1;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: #fff;
}

.form-control:focus {
  box-shadow: none;
}

.log-banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* top: -20px; */
  position: relative;
  margin-top: -20px;
}

.log-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: #e31e26;
  opacity: 0.5;
  top: 0;
}

.log-banner article {
  position: relative;
  z-index: 9;
  text-align: center;
  top: 34%;
}

.log-banner article h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
}

.log-banner article h2 {
  color: #fff;
  font-size: 36px;
}

.log-banner article h4 {
  color: #fff;
  font-size: 29px;
  margin-top: 32%;
}

.login .form {
  text-align: center;
  position: relative;
  height: 100vh;
}

.login .form form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 6vh 0;
}

.vendor-login .form form {
  padding-top: 35px !important;
}

.vendor-login .form form h3 {
  color: #000;
  margin-top: 11px !important;
  margin-bottom: 5px !important;
}

.vendor-login .form form .btn {
  margin-bottom: 10px !important;
}

.login form img {
  width: 200px;
  margin-bottom: 2.5rem;
}

.login .col-md-6 {
  padding: 0;
}

.login .form form h3 {
  color: #000;
  margin-top: 15px;
  margin-bottom: 20px;
}

.login .form form label {
  position: relative;
  text-align: left;
  font-weight: bold;
  color: #000;
  float: left;
  background: #fff;
  top: 14px;
  left: 35px;
  /* padding: 5px; */
  text-transform: uppercase;
  font-size: 11px;
}

.login .form form .form-control {
  height: 48px;
  border-radius: 12px;
}

.login .form form .fa-eye-slash {
  position: relative;
  float: right;
  top: -31px;
  right: 19px;
  color: #000;
}

.login .form form .btn {
  background: #000;
  width: 100%;
  border-radius: 12px;
  color: #fff;
  height: 48px;
  line-height: 3;
  margin-bottom: 48px;
}

.login .form form .forget {
  float: left;
  width: 100%;
  color: #111;
  font-size: 14px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.login .form form .forget:hover {
  text-decoration: none;
}

/* ----modal-animation */
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.fade-scale .modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%) !important;
}

.fade-scale .modal-content {
  border-radius: 0;
  text-align: center;
}

.fade-scale .modal-content h3 {
  color: #000;
  margin-top: 0;
}

.fade-scale .modal-content p {
  color: #000;
}

.fade-scale .modal-content ul {
  padding-left: 0%;
}

.fade-scale .modal-content ul li {
  display: inline-block;
}

.fade-scale .modal-body {
  padding: 30px;
}

.fade-scale .modal-content ul li .form-control {
  width: 35px;
  height: 35px;
  border-radius: 0;
  box-shadow: none;
  background: #fcfcfc;
  font-size: 23px;
}

.fade-scale .modal-content .btn {
  padding: 6px 40px;
  font-size: 13px;
  border-radius: 25px;
  margin-top: 10px;
}

.btn {
  background: #000;
  border-radius: 0;
  color: #fff;
  padding: 6px 12px;
  font-size: 13px;
}

.head-top {
  float: left;
  width: 100%;
  background: #fff;
  height: 80px;
  box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08);
  line-height: 5.5;
}

.head-top .col-md-2 img {
  width: 165px;
}

.head-top .form-control {
  border-radius: 25px;
  height: 36px;
  margin-top: 23px;
  box-shadow: none;
}

.head-top .col-md-2 .fa-search {
  float: right;
  position: relative;
  top: -25px;
  right: 10px;
  color: #999;
}

.head-top .desk > ul {
  float: right;
  /* width: 50%;
align-items: center;
display: flex;
justify-content: flex-end; */
}

.head-top ul li {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  /* margin-top: 5px; */
}

.head-top ul li a {
  color: #000;
  padding: 5px 5px;
  line-height: 2.5;
  font-weight: bold;
  text-decoration: none;
}

.head-top .nuxt-link-exact-active {
  color: #ed1d25;
}

.head-top ul li a img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.head-top ul li a .fa-ellipsis-v {
  margin-left: 8px;
}

.head-top .search i {
  float: right;
  top: -25px;
  position: relative;
  color: #ff0000;
  left: -14px;
}

.head-top ul li .search {
  margin-right: 23px;
  width: 250px;
}

/* .head-top ul li a img{
   width: 20px;
} */
.head-top ul li a .badge {
  background: #ff0000;
  font-size: 8px;
  right: 11px;
  position: absolute;
  top: 22px;
  width: 15px;
  height: 15px;
  line-height: 2;
  text-align: center;
  padding: 0;
}

.head-top .btn {
  margin-left: 5px;

  color: #fff;
  line-height: initial;
  padding: 5px 15px;
  font-weight: normal;
}

.head-top .col-md-2 .btn:hover {
  color: #fff;
}

.nav {
  /* background: #F4F4F4; */
  float: left;
  width: 100%;
  position: relative;
  z-index: 9;
  /* padding: 17px;
   box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08); */
}

.nav a {
  color: #fff;
  font-size: 15px;
}

.nav ul {
  margin-bottom: 0;
  background: #f4f4f4;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 13px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08);
}

.nav ul li {
  list-style-type: none;
  display: inline-block;
}

.nav ul li a {
  color: #000;
  padding: 5px 25px;
  font-size: 15px;
}

.section {
  padding: 2rem 0;
  float: left;
  width: 100%;
}

.banner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  /* margin-top: -47px; */
  position: relative;
  /* background: #f3f3f3; */
}

.banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 400px;
  background: #000;
  opacity: 0.7;
  left: 0;
  top: 0px;
}

.banner .caption {
  width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  padding-top: 10px;
  text-align: center;
  top: 133px;
}

.banner .caption ul li {
  list-style-type: none;
  display: inline-block;
}

.banner .caption ul li a {
  padding: 10px 20px;
  color: #fff;
}

.banner .caption .active {
  background: #ff0000;
  border-radius: 25px;
}

.banner .caption .form-control {
  border-radius: 5px;

  height: 42px;

  box-shadow: none;

  border: none;

  padding-left: 33px;
}

.banner .caption .form {
  display: inline-flex;
  width: 585px;
  margin-top: 45px;
}

.banner .caption .fa-caret-up {
  float: left;

  color: #fff;

  margin-top: -16px;

  margin-left: 39px;

  position: absolute;

  font-size: 25px;
}

.banner .caption .btn {
  background-color: #ff0000;
  height: 42px;
  line-height: 2.5;
  margin-left: 15px;
  border-radius: 50%;
  width: 42px;
  text-align: center;
}

.banner .caption .btn .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.banner .caption .btn .svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

.banner .caption .btn .svg-icon {
  position: relative;
  top: 2px;
  left: -1px;
  transform: rotate(1741deg);
}

.home-grid {
  float: left;
  width: 100%;
}

.home-grid h3 {
  color: #999;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
}

.title,
.head1 {
  color: #000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}

/* .title::after,
.head1::after {
  content: "";
  position: absolute;
  width: 295px;
  height: 1px;
  background: #999;
  left: 0;
  top: 20px;
}

.title::before,
.head1::before {
  content: "";
  position: absolute;
  width: 295px;
  height: 1px;
  background: #999;
  right: 0;
  top: 20px;
} */

.box {
  float: left;
  width: 100%;
  position: relative;
}

.box img {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  /* border: 1px solid #eee; */
}

.box article {
  padding: 10px 15px;
  /* border: 1px solid #ddd; */
  background: #fff;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 4px 16px rgba(189, 189, 189, 0.24);
  height: 9.5rem;
  /* height:auto; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.box .prom-tag {
  float: left;
  position: absolute;
  background: #ed1d25;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 10px;
  /* margin-top: -100px; */
  top: 0;
  border-top-left-radius: 12px;
}

.box article h4 {
  color: #000;
  font-size: 16px;
    font-weight: bold;
  /* font-size: 20px; */
  /* margin-bottom: 0px; */
}

.box article p {
  color: #999;
  /* font-size: 15px; */
  margin-bottom: 7px;
  text-transform: capitalize;
}

.box article h6 {
  /* color: #ED1D25; */
  color: #000;
  font-size: 16px;
}

.art-info {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-top: 1px solid #ddd; */
  color: #000;
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 0 10px;
}

.art-info i {
  color: #999;
  font-size: 18px;
}

.art-info .left {
  float: left;
  margin-top: 10px;
}

.art-info .right {
  float: right;
  margin-top: 10px;
}

.btn-main {
  width: 100%;
  float: left;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.btn-main .btn {
  padding: 9px 40px;
  font-size: 15px;
  color: #fff;
  margin-top: 18px;
}

.jobs {
  float: left;
  width: 100%;
  background-color: #fff;
  padding-top: 3rem;
}

.jobs .title::before {
  right: 68px;
  margin-top: 18px;
  width: 345px;
}

.jobs .title::after {
  left: 68px;
  margin-top: 18px;
  width: 345px;
}

.jobs article {
  text-align: center;
  /* border-left: 1px solid #ddd; */
  margin-bottom: 20px;
  margin-top: 20px;
  /* border-bottom: 1px solid #ddd; */
}

/* .jobs article:last-child{
   border-left: 0px;
} */
.jobs article .little-box {
  background-color: #000000;
  background-image: linear-gradient(326deg, #000000 0%, #ff0000 74%);
  width: 120px;
  height: 100px;
  margin: 0 auto;
  border-radius: 4px;
}

.jobs article h5 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.jobs article img {
  width: 45px;
  height: 45px;
  position: relative;
  top: 29px;
}

.jobs .col-md-3 {
  padding: 0;
}

.career {
  float: left;
  width: 100%;
}

/* .career::before{
   position: absolute;
   content: '';
   width: 100%;
   height: 500px;
   background: #000;
   opacity: 0.5;
   left: 0;
} */
.caption-grid {
  position: relative;
  text-align: center;
  padding: 14px;
}

.career .title {
  color: #000;
}

.career .title::before {
  width: 475px;
  right: 14px;
  margin-top: 21px;
}

.career .title::after {
  width: 475px;
  left: 14px;
  margin-top: 21px;
}

.item-list {
  /* padding-top: 80px; */
  float: left;
  width: 100%;
  /* border-bottom: 1px solid #999; */
  /* border-left: 1px solid #999; */
  padding-bottom: 10px;
  /* border-right: 1px solid #999; */
  /* margin-top: -48px; */
}
.career article {
  width: 100%;
  margin-top: 20px;
}
.career .card {
  background: #000;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin: 0 auto;
  padding: 10px;
}

.career .card span {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  position: relative;
  float: left;
}

.career .card img {
  width: 43px;
  position: relative;
  top: 23px;
  height: 40px;
  object-fit: contain;
}

.career .card h5 {
  color: #000;
  margin-top: 25px;
  float: left;
  width: 100%;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: bold;
}

.career h4 {
  color: #000;
  font-size: 23px;
}

.corporate {
  float: left;
  width: 100%;
}

.corporate .panel {
  float: left;
  width: 100%;
  height: 330px;
  border: none;
  border-radius: 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: bottom;
}

.corporate .panel::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 330px;
  opacity: 0.5;
  background: #000;
  /* right: 0; */
}

.corporate .title::before {
  right: 47px;
  margin-top: 19px;
  width: 380px;
}

.corporate .title::after {
  left: 47px;
  margin-top: 19px;
  width: 380px;
}

.corporate .caption {
  position: relative;
  padding: 80px 50px;
}

.corporate .caption h3 {
  color: #fff;
  text-transform: capitalize;
  font-size: 27px;
}

.corporate .caption h5 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}

.corporate .caption p {
  color: #fff;
  font-size: 13px;
}

.corporate .btn {
  background: #fff;
  color: #000;
}

.testimonial {
  float: left;
  width: 100%;
  padding-bottom: 0;
}

.testimonial .title::before {
  width: 495px;
  right: 47px;
  margin-top: 19px;
}
.testimonial section{
  margin-bottom: 0;
}
.testimonial .title::after {
  width: 495px;
  left: 47px;
  margin-top: 19px;
}

/* -----testimonial------ */
#customers-testimonials .owl-stage-outer {
  height: 290px;
}

#customers-testimonials,
.hooper-slide {
  /* height: 290px; */
}

.hooper-list {
  /* height: 290px; */
}

.hooper {
  height: auto;
}

.shadow-effect {
  background: #fff;
  padding: 20px;
  border-radius: 0px;
  text-align: center;
  /* border: 1px solid #ececec; */
  height: auto;
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02); */
}

#customers-testimonials .owl-item.center {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  border: 1px solid #ececec;
  border-bottom: 5px solid #ff0000;
}

#customers-testimonials .owl-item.center .shadow-effect {
  border: none;
}

.shadow-effect p {
  font-family: inherit;
  font-size: 15px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 300;
  color: #999;
}

.shadow-effect h5 {
  color: #000;
  font-weight: bold;
}

.shadow-effect span {
  color: #000;
}

.shadow-effect i {
  color: #ff0000;
}

.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  background: #3190e7;
  padding: 9px 35px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
  text-align: center;
  /* padding: 50px; */
  /* margin-bottom:80px; */
  /* opacity: .2; */
  /* -webkit-transform: scale3d(0.8, 0.8, 1);
   transform: scale3d(0.8, 0.8, 1);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out; */
}

#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

#customers-testimonials .owl-item img {
  transform-style: preserve-3d;
  max-width: 90px;
  margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
  background: #3190e7;
  transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
  display: none;
  width: 100%;
  text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
  background: #3190e7;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px, -50%, 0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px;
}

.owl-nav {
  position: relative;
  top: -232px;
}

/* .collap .carousel-wrap .owl-nav{

} */
.owl-nav .owl-prev i,
.hooper-prev {
  background: #999;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  line-height: 2;
  padding: 0;
  color: #fff;
  margin-left: -17px;
}

.owl-nav .owl-next i,
.hooper-next {
  padding: 0;
  line-height: 2.5;
  background: #000;
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  color: #fff;
  margin-right: -17px;
}
.hooper-navigation button{
  background: #000;
  padding: 0;
  color: #fff;
}
.hooper-navigation button svg {
  display: none;
}

.hooper-navigation .hooper-prev::after {
  content: "\f104";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 22px;
}

.hooper-navigation .hooper-next::after {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 22px;
}

.latest-blog {
  float: left;
  width: 100%;
  padding-top: 0;
}

.latest-blog .title::before {
  width: 400px;
  right: 47px;
  margin-top: 20px;
}

.latest-blog .title::after {
  width: 400px;
  left: 47px;
  margin-top: 20px;
}

.latest-blog .panel {
  border: none;
  display: inline-flex;
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.latest-blog .panel img {
  width: 140px !important;
  height: 130px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  width: 100%;
  object-fit: cover;
}

.latest-blog .panel article {
  background: #fafafb;
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02); */
  padding: 13px;
  float: left;
  width: 100%;
}

.latest-blog .panel article span {
  color: #999;
  font-size: 10px;
}

.latest-blog .panel article p {
  color: #000;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 5px;
}

.latest-blog .panel article small {
  color: #555;
  font-weight: bold;
  font-size: 12px;
}

.latest-blog .panel article ul {
  padding-left: 0;
  margin-top: 6px;
  margin-bottom: 0;
}

.latest-blog .panel article ul li {
  color: #000;
  list-style-type: none;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  margin-right: 5px;
}

.latest-blog .panel article ul li i {
  color: #ff0000;
}

footer {
  float: left;
  width: 100%;
  background: #000000;
}

footer .footer-top .logo {
  width: 160px;
  margin-bottom: 10px;
}

footer .footer-top .social {
  padding-left: 0;
  margin-bottom: 0;
}

footer .footer-top .social li {
  list-style-type: none;
  display: inline-block;
}

footer .footer-top ul li a i {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 4px;
  color: #000;
  text-align: center;
  line-height: 1.9;
}

footer .footer-top ul li {
  list-style-type: none;
}

footer .footer-top p {
  color: #fff;
  font-size: 13px;
}

footer .footer-top ul li a {
  color: #fff;
  font-size: 14px;
  line-height: 2;
}

footer .footer-top a img {
  width: 110px;
}

.footer-bottom {
  float: left;
  width: 100%;
  border-top: 1px solid#999;
}

footer .footer-bottom ul li a {
  color: #fff;
  padding-right: 5px;
  line-height: 4;
  font-size: 14px;
  border-right: 1px solid #111;
  padding-left: 5px;
}

footer .footer-bottom ul li {
  list-style-type: none;
  display: inline-block;
}

.footer-bottom p {
  float: right;
  color: #fff;
  margin-top: 20px;
}

/* ------course-page------ */
.small-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.small-title h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 25px;
}

.inner-title {
  /* border-bottom: 1px solid #eee; */
}

.inner-title ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
}

.inner-title ul {
  float: right;
  margin-top: 30px;
}

.inner-title ul li i {
  font-size: 14px;
}

.inner-title ul li select {
  height: 25px;
  margin-bottom: -7px;
  float: left;
  padding: 2px;
}

.career-page .col-md-8 {
  margin-top: 30px;
}

.course-ft {
  /* margin-top: -102px !important; */
    z-index: 9;
    position: relative;
}

.course-ft h6 {
  font-size: 16px;
  /* color:#000; */
  /* font-weight: bold; */
  float: left;
  width: 100%;
  /* margin-bottom: 0; */
  margin-top: 0;
}

.course-ft img {
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
}

/* .inner-career .box article{
   height: ;
} */
.career-page .col-md-8 .col-md-3 {
  padding-left: 0;
}

/* ----check-box */
.new {
  padding: 50px;
}

.checkbox .form-group {
  display: block;
  margin-bottom: 15px;
}

.checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox .form-group label {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  color: #999;
  font-size: 13px;
  padding-left: 0;
}

/* .checkbox .form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
  border-radius: 3x;
  margin-top: -3px;
}

.checkbox .form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 4px;
  width: 5px;
  height: 12px;
  border: solid #999;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */

/* ----end---- */
.sidebar-menu {
  /* border: 1px solid #ddd; */
  padding: 15px;
  background: #f4f4f4;
  margin-top: 30px;
  /* position: -webkit-sticky;
  position: sticky !important;
    top: 0; */
}

.sidebar-menu .panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  background: transparent;
  border: none;
}

.sidebar-menu .panel-default > .panel-heading {
  color: #333;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}

.sidebar-menu .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
  float: left;
  width: 100%;
}

.sidebar-menu .panel-title {
  background: transparent;
  border: none;
  border-bottom: none;
  font-size: 14px;
}

.sidebar-menu li {
  list-style-type: none;
  display: block;
}

.sidebar-menu li h4 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.sidebar-menu li {
  color: #000;
  border-bottom: 1px solid #eee;
}

.sidebar-menu li:last-child {
  border-block-end: none;
}

.sidebar-menu li a {
  color: #000;
  line-height: 40px;
}

.sidebar-menu li i {
  float: right;
  font-size: 17px;
  position: relative;
  /* top: 11px; */
}

.tags {
  margin-top: 20px;
}

.tags a {
  padding: 5px;
  background: #ddd;
  color: #999;
  margin-right: 7px;
  margin-bottom: 10px;
  line-height: 35px;
}

.breadcrumb {
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.breadcrumb ul li {
  list-style-type: none;
  display: inline-block;
  /* margin-left: 5px; */
}

.breadcrumb .svg-icon {
  position: relative;
  stroke: #fff;
  height: 1.3em;
  width: 1.3em;
  top: 4px;
  margin-right: 5px;
}

.inner-banner .breadcrumb ul li i {
  color: #fff !important;
}

.breadcrumb ul li i {
  color: #000;
}

/* .breadcrumb .fa-angle-right:before {
   content: "\f105";
   color: #fff;
   } */
.breadcrumb ul li a {
  color: #000;
}

.breadcrumb ul li a:hover {
  text-decoration: none;
}

.pagination {
  float: left;
  width: 100%;
}

.pagination ul {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.pagination ul li {
  list-style-type: none;
  display: inline-block;
}

.pagination ul li a {
  color: #000;
  padding: 7px 10px;
  background: #000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #fff;
  position: relative;
  display: block;
  text-align: center;
}

.pagination .active {
  background: #ff0000;
  color: #fff;
}

.header {
  display: none;
}

.menu {
  display: none;
}

.svg {
  display: none;
}

/* -innner-pages--- */
.inner-banner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  position: relative;
  margin-top: -47px;
}

.inner-banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 400px;
  background: #000;
  opacity: 0.3;
  left: 0;
  top: 0px;
}

/* .inner-banner .breadcrumb{
   position: relative;
   z-index: 9;
   margin-top: 75px;
} */
.inner-banner .breadcrumb {
  position: relative;
  z-index: 9;
  top: 160px;
  left: -15px;
}

.inner-banner .btn {
  float: right;
  margin-top: -30px;
  border-radius: 25px;
  background: transparent;
  margin-right: -14px;
  border: 1px solid #fff;
}

.inner-banner ul li {
  color: #fff;
}

.inner-banner ul li a {
  color: #fff;
}

.course-detail {
  float: left;
  width: 100%;
  /* margin-top: 20px; */
}

.grey-box {
  float: left;
  width: 100%;
  background: #f4f4f4;
  padding: 16px;
  border-radius: 0;
}

.grey-box h3 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 4px;
  font-weight: bold;
}

.grey-box h6 {
  color: #000;
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.grey-box .col-md-3 span {
  float: left;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.grey-box .tyming li {
  list-style-type: none;
  /* display: inline-flex; */
  width: 100%;
  /* line-height: 1; */
  float: left;
  border-bottom: 1px solid #ddd;
  margin-top: 19px;
}

.grey-box .col-md-5 .btn {
  border-radius: 25px;
}

.course-detail .grey-box .col-md-3 article {
  text-align: center;
}

.course-detail .collap {
  float: left;
  width: 100%;
}
.collap .panel .v-expansion-panel {
  padding: 0 12px;
}
.collap .theme--light.v-expansion-panels .v-expansion-panel{
  background: transparent !important;
}
.collap h3 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.course-detail .panel-title a:after {
  font-family: Fontawesome;
  content: "\f077";
  float: right;
  font-size: 10px;
  font-weight: 300;
}

.course-detail .panel-title a.collapsed:after {
  font-family: Fontawesome;
  content: "\f078";
}

.collap h3 {
  color: #000;
}

.collap .grey-box div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* border-radius: 50%; */
  margin-top: 10px;
}

.collap .grey-box div ul li {
  list-style-type: none;
  display: inline-block;
}

.collap .grey-box div ul li a i {
  width: 30px;
  height: 30px;
  background: #3190e7;
  border-radius: 50%;
  color: #fff;
  line-height: 2.2;
  text-align: center;
  margin-top: 15px;
}

.collap .grey-box h4 {
  color: #000;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 22px;
}

.collap .grey-box span {
  color: #555;
}

.collap .panel-group .panel + .panel {
  margin-top: 0px;
}

.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
}

.course-detail .grey-box .col-md-3 article i {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 19px;
  line-height: 1.9;
  color: #000;
 
}

.course-detail .grey-box .btn {
  border-radius: 25px;
}

.grey-box .tyming li span {
  background: #fff;
  float: left;
  padding: 5px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 10px;
  margin-top: 8px;
  margin-right: 12px;
}

.right-menu h6 {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  float: left;
  width: 100%;
}

.right-menu .topic a {
  background: #eee;
  float: left;
  width: 100%;
  border-bottom: 1px solid#ddd;
  padding: 13px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}

.right-menu .certi img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.right-menu .topic a i {
  float: right;
  font-size: 20px;
  color: #222;
}

.grey-box .tyming li .btn {
  border-radius: 25px;
  padding: 12px 21px;
  float: right;
  line-height: 0.2;
  top: -31px;
  position: relative;
}

.grey-box .col-md-3 small {
  color: #000;
}

.grey-box .col-md-3 .fa-clock-o {
  color: #999;
  font-size: 15px;
}

.grey-box .col-md-3 span i {
  padding: 5px;
  background: #ff0000;
  font-size: 11px;
  color: #fff;
  border-radius: 4px;
  position: relative;
  top: -3px;
}

.grey-box p {
  color: #999;
  font-size: 14px;
  margin-top: 13px;
}

.course-detail .col-md-9 .grey-box .col-md-2 img {
  width: 100px;
}

.topic {
  padding: 0 !important;
}

.right-menu .panel {
  padding: 10px;
  float: left;
  width: 100%;
  /* border: 1px solid #ddd; */
  border-bottom: 0;
  border-radius: 0;
}

.right-menu .panel h5 {
  color: #ff0000;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.right-menu .panel .btn {
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
}

.cart {
  float: left;
  width: 100%;
}

.cart table {
  width: 100%;
  border: 1px solid #eee;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart table tr td {
  padding: 10px 30px;
}

.cart table tr th {
  padding: 10px 30px;
  border-bottom: 1px solid#eee;
  color: #88888a;
}

.cart table tr td img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}

.cart table tr td h5 {
  color: #000;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
}

.cart table tr td h5 span {
  background: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 10px;
  margin-left: 10px;
}

.cart table tr td h5 strike {
  color: #999;
  font-weight: normal;
}

.cart table tr td p {
  margin-top: 5px;
  color: #999;
}

.cros {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50% !important;
  min-width: 25px !important;
  color: #fff !important;
  padding: 0 !important;
}

.cart .col-md-3 .grey-box {
  margin-top: 20px;
}

.cart .col-md-3 .grey-box h5 {
  color: #747474;
  font-size: 15px;
}

.cart .col-md-3 .grey-box h4 {
  color: #000;
  margin-top: 22px;
  font-weight: bold;
}

.cart .col-md-3 .grey-box h4 span {
  float: right;
}

.cart .col-md-3 .grey-box strike {
  float: right;
  font-size: 15px;
  color: #999;
}

.cart .col-md-3 .grey-box p img {
  width: 20px;
  margin-left: 5px;
}

.cart .col-md-3 .grey-box p {
  margin-top: 30px;
}

.cart .col-md-3 .btn {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
}

.checkout .panel {
  border: 1px solid#ddd;
  border-radius: 0;
  /* padding: 10px; */
}

.checkout .panel h5 {
  margin: 0;
  padding: 15px;
  color: #888;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}

.checkout .panel h6 {
  color: #000;
  font-weight: bold;
}

/* .radio {
   margin: 0.5rem;
 } */
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #333;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  /* top: -0.2em; */
  margin-right: 10px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #333;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #333;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.radio .checkbox label,
.radio label {
  padding-left: 0px;
  color: #333;
  font-size: 12px;
}

.checkout .panel-body .form-group label {
  font-weight: normal;
  font-size: 14px;
  color: #888;
}

.checkout .checkbox .form-group label::before {
  border-radius: 3px;
}

.checkout .article li {
  display: inline-block;
  list-style-type: none;
  /* float: left; */
  width: 100%;
  margin-bottom: 15px;
}

.checkout .article li img {
  width: 100px;
  height: 60px;
  float: left;
}

.checkout .article li p {
  float: left;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
  margin: 0;
  text-align: left;
  width: 48%;
}

.checkout .article li span {
  float: right;
  color: #000;
  display: flex;
  align-items: center;
}

.checkout .article li span strike {
  color: #999;
  font-size: 14px;
}

.checkout .panel h4 {
  border-top: 1px solid #eee;
  margin-bottom: 0;
  padding: 10px 20px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
}

.checkout .panel h6 {
  font-weight: normal;
}

.checkout .panel h6 span {
  float: right;
}

.checkout .panel h4 span {
  float: right;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.profile .panel img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .panel {
  background: #f4f4f4;
  padding: 20px 30px;
  border-radius: 0;
  margin-top: 15px;
}

.profile .panel h4 {
  color: #000;
  font-weight: bold;
  margin-top: 25px;
}

.profile .panel p {
  color: #747474;
  margin-bottom: 5px;
}

.profile .panel .fa-mobile {
  font-size: 20px;
  margin-top: 1px;
  float: left;
}

.profile .panel i {
  width: 18px;
}

.profile .panel .social .btn {
  border-radius: 25px;
  padding: 3px 18px;
  margin-top: 23px;
}

.profile .panel .social {
  float: right;
}

.profile .panel ul {
  margin-top: 25px;
}

.profile .panel .social ul li {
  list-style-type: none;
  display: inline-block;
}

.profile .panel .social ul li a {
  width: 20px;
  height: 20px;
}

.profile .panel .social ul li a i {
  width: 30px;
  height: 30px;
  background: #3190e7;
  border-radius: 50%;
  color: #fff;
  line-height: 2.2;
  text-align: center;
  margin-top: 15px;
}

.profile .nav {
  background: transparent;
  box-shadow: none;
  /* border-bottom: none; */
  padding: 0;
  margin-top: 45px;
}

.profile .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #000 !important;
}

.profile .nav li a {
  color: #999;
  width: 115px;
  text-align: center;
  border-radius: 0;
}

.profile .tab-content {
  float: left;
  width: 100%;
  margin-top: 30px;
}

.profile .box article h6 {
  margin-bottom: 0;
}

.profile .box article h6 a {
  color: #ed1d25;
  font-size: 16px;
}

.collap .panel-group {
  margin-bottom: 0px;
}

.blank-page .panel {
  text-align: center;
  padding: 5rem;
  border: none;
  box-shadow: none;
}

.blank-page .panel h1 {
  text-transform: capitalize;
  color: #ed1d25;
  font-weight: bold;
  font-size: 40px;
}

.blank-page .panel .btn {
  border-radius: 25px;
  padding: 5px 22px;
  margin-top: 10px;
}

.profile-course video {
  object-fit: cover;
}

.profile-course .small-title {
  margin-bottom: 0;
}

.profile-course .lower-title {
  color: #747474;
}

.profile-course .col-md-9 .panel ul li {
  list-style-type: none;
  color: #747474;
  line-height: 1.5;
}

.profile-course .col-md-9 .panel p {
  color: #747474;
}

.profile-course .col-md-9 .panel h5 {
  color: #000;
  font-weight: bold;
  line-height: 5;
}

.profile-course .col-md-9 .panel {
  padding-top: 15px;
  padding-bottom: 15px;
}

.profile-course .col-md-9 .panel .col-md-8 img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

.profile-course .col-md-9 .panel .col-md-8 h6 {
  font-weight: bold;
  color: #747474;
  margin-left: 18px;
  float: left;
  font-size: 15px;
  margin-top: 15px;
}

.profile-course .col-md-9 .panel .col-md-8 span {
  color: #747474;
  float: left;
  position: relative;
  left: -97px;
  top: 12px;
}

.profile-course .col-md-3 h4 {
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  line-height: 2;
  margin-top: 0;
}

.profile-course .col-md-3 h6 {
  color: #000;
  font-size: 15px;
  margin-bottom: 0;
}

.profile-course .col-md-3 small {
  color: #747474;
}

.profile-course .col-md-3 article {
  margin-bottom: 10px;
}

.profile-course .col-md-3 article img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.profile-course .col-md-3 article small {
  margin-top: -10px;
  float: left;
}

.dashboard .panel article {
  text-align: center;
  height: 150px;
}

.dashboard .panel .little-box {
  background-color: #000000;
  background-image: linear-gradient(326deg, #000000 0%, #ff0000 74%);
  width: 115px;
  height: 100px;
  margin: 0 auto;
  border-radius: 4px;
}

.dashboard .panel article h5 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.dashboard .panel article img {
  width: 45px;
  height: 45px;
  position: relative;
  top: 29px;
  margin: 0 auto;
}

.dashboard .owl-prev {
  display: none;
}

.dashboard .owl-next i {
  float: right;
  background: #000;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  line-height: 1.4;
  border-radius: 50%;
  top: 120px;
  position: relative;
  margin-right: 0;
}

.dashboard .btn {
  margin-top: 10px;
}

ul {
  padding-left: 0;
}

.dashboard .course-list ul li {
  list-style-type: none;
  /* display: inline-flex; */
  /* float: left;
  width: 100%; */
}

.dashboard .course-list ul li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard .course-list ul li h6 {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 10px;
  width: 200px;
}

.dashboard .course-list ul li article {
  float: left;
  width: 100%;
}

.dashboard .course-list ul li h6 span {
  font-weight: normal;
  color: #999;
}

.dashboard .course-list ul li .badge {
  height: 20px;
  background: #000;
  padding: 3px 14px;
  margin-right: 50px;
  margin-top: 19px;
  margin-left: 40px;
}

.dashboard .course-list ul li p {
  color: #000;
  font-weight: bold;
  margin-top: 17px;
  margin-right: 33px;
  width: 200px;
  text-align: center;
}

.dashboard .course-list ul {
  float: left;
  width: 100%;
}

.dashboard .course-list ul li .fa-clock-o {
  color: #999;
}

.dashboard .col-md-8 .panel {
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding: 15px;
  height: 200px;
  border-radius: 0;
}

.dashboard .alert-box img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

.dashboard .alert-box h5 {
  color: #000;
  font-weight: bold;
  float: left;
  margin-left: 10px;
  margin-top: 14px;
}

.dashboard .alert-list {
  float: left;
  width: 100%;
  height: 365px;
  border: none;
  box-shadow: none;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.login .col-md-6:last-child {
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: thin;
}

.login .col-md-6::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
}

.login .col-md-6::-webkit-scrollbar-track {
  border-radius: 0;
}

.login .col-md-6::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.dashboard .alert-list::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
}

.dashboard .alert-list::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
  border-radius: 0px;
}

.dashboard .alert-list::-webkit-scrollbar-thumb {
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.even {
  background: #f4f4f4;
  float: left;
  width: 100%;
}

.dashboard .alert-box h5 .badge {
  background: #000;
}

.dashboard .alert-box p {
  float: left;
  color: #999;
  font-size: 13px;
}

.dashboard .alert-box {
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.dashboard .blog-box {
  border: 1px solid #eee;
  padding: 10px;
}

.dashboard .blog-box span {
  color: #999;
  font-size: 13px;
}

.dashboard .blog-box p {
  float: left;
  color: #333;
  font-size: 13px;
}

.course-list {
  float: left;
  width: 100%;
  border: 1px solid #eee;
}

.course-list article {
  float: left;
  width: 100%;
  padding: 10px;
  display: inline-flex;
}

.course-profile .panel {
  border-radius: 0;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

.course-profile .panel h5 {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.course-profile article {
  border: 1px solid #ddd;
  padding: 10px;
  float: left;
  width: 100%;
}

.course-profile article span {
  float: left;
}

.course-profile article p {
  float: left;
  color: #747474;
  font-size: 12px;
  margin-left: 13px;
}

.course-profile article h4 {
  float: left;
  margin-left: 15px !important;
  margin: 0;
  color: #000;
  margin-top: -6px;
}

.course-profile .svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ed1d25;
}

.course-profile .panel img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.course-profile svg {
  width: 1.3em;
  height: 1.3em;
  stroke: green;
  position: relative;
  top: 3px;
  margin-left: 3px;
}

.course-profile article .svg-icon {
  width: 2.5em;
  height: 2.5em;
}

.course-profile .panel p {
  color: #747474;
  font-size: 13px;
  margin: 8px 0;
}

.course-profile ul {
  float: left;
  width: 100%;
  /* border: 1px solid #ddd; */
  margin-top: 20px;
}

.course-profile ul li {
  list-style-type: none;
}

.course-profile ul li a {
  float: left;
  width: 100%;
  padding: 10px;
  /* border-bottom: 1px solid #ddd; */
  color: #000;
  text-decoration: none;
}

.course-profile ul li a:hover {
  color: #ed1d25;
}

.course-profile ul li a:last-child {
  /* border-bottom: 0; */
}

.course-profile ul li a i {
  color: #000;
  float: right;
}

.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.new-title h4 {
  background: #000;
  margin-top: 0;
  padding: 12px 20px;
  color: #fff;
}

.new-title h4 .btn {
  background: #fff;
  color: #000;
  float: right;
  border-radius: 25px;
  margin-top: -2px;
  padding: 2px 10px;
  font-size: 12px;
}

.table td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.table table tr td img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.table table tr td .badge {
  background: #000;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}

.table table tr td .com-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  line-height: 2 !important;
  margin-right: 4px;
}

.table table tr td .ad-batch {
  float: left;
  width: 100%;
  color: #ff5860;
}

.table table tr td .checkbox .form-group label {
  color: #000;
}

.table table tr td .checkbox .form-group label::before {
  border: 1px solid #000;
  border-radius: 3px;
}

.table table tr td .checkbox .form-group input:checked + label::after {
  border: solid #000;
  border-width: 0 2px 2px 0 !important;
}

.table table tr td .checkbox .form-group {
  margin-bottom: 0;
}

.table table tr td .checkbox,
.radio {
  margin-bottom: 3px;
  margin-top: 0;
}

.form .form-control {
  border-radius: 0;
  height: 40px;
  box-shadow: none;
  border-color: #ddd;
  color: #222;
  font-weight: bold;
}

.form .form-control::placeholder {
  color: #222;
  font-weight: bold;
}

/****** CODE ******/

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select {
  display: block;
  border: 1px solid #ddd;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  float: right;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

/* ----add-new---- */
.add_new .nav-tabs > li > a {
  color: #000;
  font-weight: bold;
  border: none;
}

.add_new .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-bottom: 2px solid #ff0000 !important;
  border: none;
}

.add_new .nav {
  border-bottom: none;
}

.add_new .nav > li > a {
  padding: 10px 23px;
}

.add_new .tab-content {
  float: left;
  width: 100%;
}

.add_new .tab-content h3 {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 25px;
}

.add_new .nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.add_new .tab-content h3 .btn {
  float: right;
  border-radius: 25px;
  padding: 2px 10px;
}

.add_new .tab-content table {
  border: 1px solid #ddd;
  width: 100%;
}

.add_new .tab-content table tr {
  border-bottom: 1px solid #ddd;
}

.add_new .tab-content table tr td {
  padding: 15px;
  color: #000;
}

.add_new .tab-content table tr td p {
  text-align: left;
}

.add_new .tab-content table tr td .squre {
  border-radius: 0px !important;
  width: 50px;
  height: 50px;
}

.add_new .tab-content table tr td img {
  width: 30px;
  height: 30px;
}

.add_new .tab-content .panel {
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 20px;
}

.add_new .tab-content .panel h5 {
  color: #000;
  font-weight: bold;
}

.add_new .tab-content .panel p {
  color: #747474;
}

/* -----order_management---- */
.order_management h5 {
  font-weight: bold;
  color: #000;
}

.order_management h5 .btn {
  border-radius: 25px;
  float: right;
  padding: 3px 10px;
  margin-bottom: 20px;
}

.btn-red {
  background: #ff0000 !important;
}

.nav-offcanvas {
  display: none;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 17px auto;
  /* margin-top: -84px; */
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 165px;
  height: 165px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----vendor-dashboard---- */
.vendor-board {
  /* float: left; */
  width: 100%;
  margin: 0 auto;
}

.panel-main {
  width: 100%;
  position: relative;
  z-index: 9;
  margin-top: -90px;
}

.panel-main .main {
  margin-top: -50px;
  float: left;
  width: 100%;
}

/* .panel-main {
   width: 100%;
   position: relative;
   z-index: 9999;
   margin-top: -125px;
   } */

.vendor-board .img-circle {
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

/* .panel-main .main{
   width: 90%;
   margin: 0 auto;
} */
.vendor-board .panel {
  width: 100%;
  /* margin: 0 auto; */
  /* margin-top: -40px; */
  position: relative;
  border-radius: 0;
  padding: 15px;
  box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08);
  float: left;
}

.vendor-board .panel p {
  color: #747474;
  font-size: 13px;
}

.vendor-board .panel .btn {
  border-radius: 25px;
  text-transform: capitalize;
  margin-top: -8px;
}

.course-profile .social {
  float: none;
  width: auto;
  border: none;
  margin-top: 0px;
}

.panel-main .social li {
  list-style-type: none;
  display: inline-block;
  width: auto;
  margin: 0 3px;
}

.panel-main .social li a {
  width: auto;
  border: none;
  padding: 0;
}

.panel-main .social li a i {
  width: 30px;
  height: 30px;
  background: #3190e7;
  border-radius: 50%;
  color: #fff;
  line-height: 2.2;
  text-align: center;
  margin-top: 15px;
}

.course-profile small {
  color: green;
  font-weight: bold;
  display: block;
  margin: 7px 0;
}

.vendor-board .review .col-md-2 img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}

.review .shadow-effect {
  height: auto;
}

.vendor-board .review .col-md-10 h4 {
  color: #000;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 22px;
}

.vendor-board .review .col-md-10 span {
  color: #555;
}

.vendor-board .review .col-md-10 p {
  color: #999;
  font-size: 14px;
  margin-top: 13px;
}

.vendor-list .col-md-7 {
  margin-top: 30px;
}

.vendor-list .box img {
  height: 150px;
}

.vendor-list .box .prom-tag {
  margin-top: -150px;
}

.likes span {
  margin: 0 7px;
}

.likes span i {
  margin: 0 3px;
}

.vendor-list .box .profile-pic img {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  border: 1px solid #eee;
  display: block;
  margin-top: -45px;
}

.vendor-list .box article {
  margin-top: -42px;
  text-align: center;
  padding-top: 43px;
}

.box article ul li {
  display: inline-block;
  text-align: center;
}

.box article ul li .fa-star {
  color: goldenrod;
  font-size: 13px;
}

.tabs {
  display: flex;
  background: #fff;
  width: 100%;
  max-width: 100%;
  /* overflow-x: hidden; */
  position: relative;
  z-index: 9;
  float: left;
  /* height: 50px; */
  width: 100%;
  /* line-height: 50px; */
  margin-bottom: 0;
}

/* .tabs li {
    list-style-type: none;
    background: #ED1D25;
} */

/* .tabs li a {
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    border-right: 1px solid #f46161;
    display: block;
    line-height: 3;
    border-radius: 0;
} */

.show {
  position: absolute;
  background: #ff0000;
  color: #fff;
  font-size: 16px;
  padding: 0 15px;
  display: block;
  width: 100%;
  font-size: 20px;
  border-left: 1px solid #f46161;
  line-height: 2.5;
  text-align: center;
}

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}

/* 

.tabs::-webkit-scrollbar {
   height:  7px;
}

.tabs::-webkit-scrollbar-track {
   background-color: rgba(225,225,225,0.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 10px;
}

.tabs::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */
address {
  display: flex;
  justify-content: space-between;
}

address p {
  flex-basis: 48%;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.contentAll {
  float: left;
  width: 100%;
}

.profileContainer {
  position: sticky;
  top: 150px;
}

.vendor-board .tab-pane address ul li {
  display: flex;
  color: #747474;
  font-size: 13px;
}

#placement .box img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  display: block;
}

#placement .box article {
  background: #eee;
  border: none;
  margin-top: -15px;
  text-align: center;
  padding-top: 18px;
}

#placement .box article h4 {
  color: #000;
}

#placement .box article p {
  color: #000;
}

#facilities p {
  display: inline-flex;
}

#facilities svg {
  width: 50px;
  margin-right: 5px;
  margin-top: 1px;
}

#service svg {
  width: 27px;
  margin-right: 5px;
  margin-top: -2px;
}

#service p {
  display: inline-flex;
}

#trainer .box img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  display: block;
}

#trainer .box article {
  background: #eee;
  border: none;
  margin-top: -15px;
  text-align: center;
  padding-top: 18px;
}

#trainer .box article h4 {
  color: #000;
}

#trainer .box article p {
  color: #000;
}

#gallery img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 7px;
}

/* #trainer .social {
    margin-top: -17px;
} */
#trainer .social li {
  margin: 0 4px;
}

.panel-main .vendor-board svg {
  width: 1.3em;
  height: 1.3em;
  stroke: green;
  position: relative;
  top: 3px;
  margin-left: 3px;
}

.review_view article {
  /* background: #fcfcfc; */

  float: left;

  width: 100%;

  /* padding: 25px; */

  margin-bottom: 10px;
}

.review_view .tit {
  display: grid;
  grid-template-columns: 10% 90%;
}
.review_view .tit .stars{
  margin-top: 4px;
    margin-right: 28px;
}
.review_view .tit h5 {
  margin-left: 19px;

  margin-top: 30px;
  font-weight: bold;
  color: #000;
  font-size: 17px;
}

.review_view article p {
  color: #747474;
  font-size: 13px;

  margin-top: 16px;

  float: left;

  width: 100%;
}

.review_view article p span {
  float: left;
  width: 85px;
  color: #000;
  font-weight: bold;
}

.write_review .form .form-control {
  height: 100px;
}

.review_view article p small .fa {
  color: #fff;
}
.review_view article p small i{
  color:#fff;
}
.review_view article p small {
  background: #ff0000;
    float: left;
    height: 20px;
    color: #fff;
    border-radius: 4px;
    /* font-size: 10px; */
    padding: 3px 11px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    position: absolute;
    /* margin-top: -35px; */
    margin-left: 5px;
    margin-right: 0px;
}

.review_view .tit img {
  width: 80px;

  height: 80px;

  border-radius: 50%;

  object-fit: cover;
}

.write_review {
  float: left;
  width: 100%;
  /* background: #fcfcfc; */
  /* padding: 20px; */
  /* margin-top: 65px; */
}

.rating {
  margin-top: 6px;
  border: none;
  float: left;
}

.rating > label {
  color: #90a0a3;
  float: right;
  font-size: 8px;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #f79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #fece31;
}

.review_view .bx {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.review_view .bx::-webkit-scrollbar {
  width: 6px;
}

.review_view .bx::-webkit-scrollbar-track {
  background: transparent;
}

.review_view .bx::-webkit-scrollbar-thumb {
  background: #ddd;
}

.vendorProfile .bx {
  /* background: #fff; */
  float: left;
  width: 100%;
  scrollbar-width: thin;
}

.vendorProfile {
  /* background: #eee; */
  display: block;
  width: 100%;
  margin-top: 0;
  float: left;
  position: relative;
}

.vendorProfile::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  /* height: 10px; */
  background: #eee;
  box-shadow: 0px -10px 10px rgba(107, 106, 106, 0.5);
  z-index: 9;
  top: -10px;
}

.vendorProfile .boxCard {
  background: #fff;
  float: left;
  width: 100%;
  padding: 25px;
  border-radius: 7px;
  margin-top: -100px;
  position: relative;
  margin-bottom: 15px;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.vendorProfile .col-md-3 section:first-child {
  margin-top: -100px;
}

.vendorProfile .boxCard .col-md-6 img {
  max-height: 130px;
  max-width: 130px;
  border-radius: 7px;
}

.vendorProfile .boxCard .row .col-md-6:first-child {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 2em;
}

.vendorProfile .boxCard .row .col-md-6:first-child small {
  color: green;
  font-weight: bold;
  font-size: 14px;
  padding-right: 7px;
}

.vendorProfile .boxCard .row .col-md-6:first-child p {
  display: flex;
  margin-top: 15px;
  margin-bottom: 5px;
}

.head2 {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.vendorProfile .boxCard .row .col-md-6:first-child small svg {
  width: 1.3em;
  height: 1.3em;
  stroke: green;
  position: relative;
  top: 3px;
  margin-left: 3px;
}

.rated {
  height: 24px;
  color: #fff;
  border-radius: 4px;
  font-size: 13px;
  padding: 3px 11px;
  text-align: center;
  background: orange;
}

.rated .fa {
  color: #fff;
}

.vendorProfile .boxCard .row .col-md-6:last-child article div {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap: 2em;
}

.vendorProfile .boxCard .social {
  float: left;
  display: flex;
  width: 60%;
  margin-top: 15px;
}

.vendorProfile .boxCard .social a {
  margin-right: 25px;
  color: #000;
}

.vendorProfile .boxCard .head2 {
  margin-top: 15px;
}

.lightHead {
  font-weight: lighter;
}

section {
  float: left;
  width: 100%;
  background-color: #fff;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 2;
  border: 1px solid transparent;
  color: #000;
  border-radius: 0;
}

.vendorProfile .tabs {
  margin-top: -15px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-bottom: 2px solid #fff !important;
  color: #337ab7 !important;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.bx {
  background: #fafafb;
  float: left;
  width: 100%;
  padding: 25px;
  border-radius: 7px;
  position: relative;
  margin-bottom: 10px;
  z-index: 10;
  /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}
.profile .bx {
  position: initial;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}

.vendorProfile .tab-content {
  margin-top: 25px;
  float: left;
  width: 100%;
}

.addresses div article {
  display: grid;
  grid-template-columns: 80% 20%;
}

.addresses div article span {
  border: 1px solid #ddd;
  padding: 15px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: none;
}

.addresses div {
  margin-bottom: 15px;
}

.addresses div article em {
  position: relative;
}

.addresses div article img {
  width: 100%;
  position: absolute;
  border-top-right-radius: 7px;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 7px;
}

.nav > li > a {
  padding: 15px 28px;
  font-weight: bold;
}
.courseContent .bx{
  position: initial;
}

/* -------------------------RESPONSIVE START------------------ */
@media (max-width: 768px) {

  .form form .form-group{
    height: auto;
  }
  .responsive {
    display: block !important;
  }

  .course_list {
    display: block;
  }

  .course-detail .row {
    margin: 0;
  }

  .course-detail .col-md-9 .grey-box .col-md-2 img {
    width: 100%;
    margin-bottom: 15px;
  }


  header > .container {
    display: none;
  }

  .v-navigation-drawer {
    position: fixed;
    /* height: 100vh; */
  }

  header .v-overlay.v-overlay--absolute.v-overlay--active.theme--dark {
    position: fixed;
    height: 100%;
  }

  .nav-button {
  }

  .desk {
    display: none !important;
  }
}

/* RESPONSIVE END */
.btn .fa {
  color: #fff !important;
}

.fadein {
  -moz-animation: fadeIn ease 1s;
  animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    bottom: -5%;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -5%;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -5%;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -5%;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -5%;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

.fa-spin {
  -webkit-animation: fa-spin 0.7s infinite linear;
  animation: fa-spin 0.7s infinite linear;
}

.panel-body .checkbox .form-group {
  margin-bottom: 0 !important;
}

.v-expansion-panel--active:not(:first-child),
.v-expansion-panel--active + .v-expansion-panel {
  margin-top: 0;
}

.listView a span {
  /* border: 1px solid #ddd; */
  display: flex;
  grid-template-columns: 30% 70%;
  grid-gap: 0.5em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
}

.listView a span article {
  border: none;
  padding: 0;
  text-align: left !important;
  margin: 0 !important;
}

.listView a span article ul {
  padding: 0;
}

.listView .box .profile-pic img {
  margin: 30px auto;
}

.vendor-list .box article ul {
  padding: 0;
}

.v-application .error {
  background-color: #ed1d25 !important;
  border-color: #ed1d25 !important;
}

.panel-main .v-tab--active {
  color: #ed1d25 !important;
}

.updateProfile .v-input__slot {
  height: 30px;
  overflow: hidden;
}

.v-snack__wrapper span {
  text-transform: capitalize;
}

.dropdown-menu li {
  width: 100%;
  float: left;
  margin: 0 !important;
}

.v-speed-dial {
  position: fixed !important;
}

.v-speed-dial--direction-top .v-speed-dial__list,
.v-speed-dial--direction-bottom .v-speed-dial__list {
  left: auto !important;
  width: 50% !important;
  right: 0 !important;
  z-index: 999;
  bottom: 96px !important;
}

.v-speed-dial__list {
  position: fixed !important;
  line-height: 3;
}

.v-speed-dial__list .v-sheet.v-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-speed-dial__list .v-sheet.v-card span a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-speed-dial__list .v-sheet.v-card span a svg {
  margin-right: 5px;
}

.v-navigation-drawer__content {
  line-height: 3;
}

.v-navigation-drawer__content .v-list-item a {
  color: #444;
  font-size: 15px;
}

.theme--light.v-navigation-drawer {
  width: 100% !important;
  background-color: #fafafb !important;
  padding: 4rem 1rem;
}

.theme--light.v-navigation-drawer .ion-android-close {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 30px;
  z-index: 99;
  color: #444;
}
.addAddress .col-md-4:first-child > i {
  display: none;
}
.addAddress .col-md-4 i {
  font-size: 25px;
  margin-left: 7px;
  cursor: pointer;
}
.row .form-group:last-child {
  margin-bottom: 0;
  margin-left: 20px;
}
/* -----latest--css */
.box-new article small{
  float: left;
  width: 100%;
  color: #999;
  font-size: 13px;
}
.box-new article small i{
  color:#000;
  font-size: 15px;
  margin-right: 5px;
  font-size: 16px;

}
.box-new article i{
  color:#000;
  font-size: 15px;
}
.box-new article h4{
  margin-bottom: 5px;
  margin-top: 15px;
}
.box-new article p{
  margin-bottom: 0;
}

.stars{
 float:right;
 margin-top: -41px;
}
.stars i{
 color:#f79426;
 font-size: 15px;
}
.box-new article h6{
  margin: 5px 0;
  font-size: 14px;
  color:#ff0000 !important;
}
.box-new .v-icon.v-icon.v-icon--link {
    cursor: pointer;
    outline: none;
    color: gold !important;
    padding: 0;
}
.box-new .stars .v-application--is-ltr .v-rating .v-icon{
  margin: 0;
    padding: 0 !important;
}
.profileContent{
  float: left;
  width:100%;
}
.gallery_new img{
  width:100%;
  height:100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.gallery_new .more-btn{
  text-align: center;
  border: 2px solid #ddd;
  float: left;
  width: 100%;
  height: 100px;
  color: #999;
  font-weight: bold;
  line-height: 7;
}
.gallery_new{
  
}
.gallery_new::-webkit-scrollbar {
  width: 6px;
}

.gallery_new::-webkit-scrollbar-track {
  background: transparent;
}
.list_view{
  float: left;
  width: 100%;
  background-color: #fcfcfc;
  margin-bottom: 10px;
  /* padding: 15px; */
}
.job-list p{
  margin-bottom: 5px !important;
}
/* .list_view .col-md-3{
  padding: 0 !important;
}
.list_view .col-md-9{
  padding: 0 !important;
} */
.list_view .col-md-3 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.list_view .list-bx ul li{
  list-style-type: none;
  display: inline-block;
}
.list_view .list-bx h5{
  color:#ff0000;
  font-size: 15px;
}
.list_view .list-bx ul li a{
  color:#999;
}
.list_view span{
  text-align: center;
  font-size: 14px;
  float: left;
  width: 100%;
  margin-top: 50px;
}
.list_view span i{
  font-size: 20px;
}
.list_view span h6{
   margin-top: 0;
   font-size: 14px;

}
.list_view .list-bx ul li a i{
  font-size: 18px;
  margin-right: 10px;
}

.list_view .list-bx {
  display: grid;
  float: left;
  width: 100%;
  grid-template-columns: 60% 15% 15%;
  grid-gap: 2em;
}
.education {
  display: grid;
  float: left;
  width: 100%;
  grid-template-columns: 10% 90%;
  grid-gap: 1em;
}

.education .fa-university{
  background: #eee;
  float: left;
  width: 100%;
  text-align: center;
  color: #000;
  padding: 30px;
  font-size: 25px;
}
.education .fa-align-left{
  background: #eee;
  float: left;
  width: 100%;
  text-align: center;
  color: #000;
  padding: 30px;
  font-size: 25px;
}
.education .fa-certificate{
  background: #eee;
  float: left;
  width: 100%;
  text-align: center;
  color: #000;
  padding: 30px;
  font-size: 25px;
}
.education h6 i{
  float: right;
  margin-right: 10px;
  font-size:15px;
}

.gallery_new::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.profileContent .fact p i{
  color: #000;
  font-size: 12px;
  width: 20px;
  line-height: 2;
  margin-top: 0px;
  float: left;
}
.job-details .col-md-6 img{
  width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    float: right;
    margin-right: 24px;
}
.job-details .stars{
  float: right;
  width: 100%;
  text-align: right;
  margin-top: 4px;
  margin-right: 20px;
}
.job-details .stars i{
  color:#f79426;
}
.job-details .btns{
  margin-top: 10px;
  float: right;
}
.job-details article p{
    float: left;
    display: grid;
    grid-template-columns: 3% 95%;
    margin-bottom: 20px !important;
}
.job-details p i{
  margin-top: 5px;
  margin-right: 6px;
}
.job-details .key{
  display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.bx h3{
  font-size: 18px;  
}
.job-details .company-box{
  
  float: left;
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;

}
.job-details .hr-contact{
  width: 100%;
  height: 100px;
  object-fit: cover;
  float: right;
  margin-top: 7px;
}
.bx-add .col-md-6 img{
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 10px;
  margin-right: 0;
  border: 1px solid #eee;
}
#customers-testimonials .hooper-navigation .hooper-next::after {
  margin-top: 0px;
  text-align: center;
  float: right;
  margin-right: 13px;
}
#customers-testimonials .hooper-navigation button{
  background: #000;
  color: #fff;
  line-height: 0;
}
#customers-testimonials .hooper-navigation .hooper-prev::after {
  margin-top: -3px;
  text-align: center;
  float: right;
  margin-right: 17px;
}
#customers-testimonials .hooper-slide {
  margin-right: 50px; 
}
#customers-testimonials .stars{
  float: left;
  width:100%;
  margin-top: -10px;
    margin-bottom: 5px;
}
.v-tab--active {
  color: inherit;
  background: #000;
  color: #fff !important;
}
.profileContent .v-tab--active {
  color: inherit;
  background: #f3f3f3;
  color: #000 !important;
}
.v-list-item{
  min-height: 30px !important;
}
.banner .caption .btn:hover, .btn:focus{
  color:transparent !important;
}
.hooper-list:hover, .hooper-list:focus{
  border: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  color: #fff !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: 0px 7px 8px 0px rgba(12, 0, 46, 0.08);
}
.theme--light.v-expansion-panels .v-expansion-panel {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 17px;
      /* border-bottom: 1px solid #eee; */
    border-radius: 0;
}
.courseContent p{
  margin-bottom: 0;
}
.walk-in .theme--light.v-expansion-panels .v-expansion-panel{
  background: transparent;
}
.walk-in {
  padding-top: 0 !important;
  padding-bottom: 0px !important;
  background:#eee;
}
.walk-in a{
  color: #333;
  font-weight: bold;

}
.res-head{
  display:none;
}
.tyming .hooper-slide{
  padding: 11px;
}
.stars .v-rating{
  margin-top: 35px;
}
.job-list .row .col-md-6 p{
  margin-bottom: 0 !important;
  margin-top: 5px;
}
.social-media img{
  width:40px;
  height:40px;
  margin-bottom: 10px;
    margin-right: 7px;
}
.certi-res{
   display:none;
 }
.send{
  float: right; 
  color: #000 !important;
  margin-top: 22px;
  text-align: right;
  font-size: 13px;
  font-weight:bold
}
.btns .btn{
  margin-left: 7px;
}
.vendorProfile .v-item-group {
  background: #f3f3f3 !important;
  border: none !important;
  height: 62px !important;
}
.vendorProfile .v-tab:hover{
  background:transparent;
}
.vendorProfile .v-tab{
  width: 105px;
  border-right: 1px solid #eaeaea;
}
#overview{
  float:left;
  width:100%;
}
.news-detail .col-md-4 img{
  width:100%;
  height: 200px;
  object-fit: cover;
}
.news-detail p{
  margin-top: 0;
}
.news-detail h2{
  margin-top: 0;
}
.school-course .btn{
  padding: 5px 25px;
  margin-top: 12px;
}
.profileContent .v-card  .v-input input {
  max-height: 32px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.profile-course .v-card .v-input .v-label {
  font-size: 14px;
}
.v-input input {
    max-height: 32px;
    border-bottom: 1px solid #eee;
}
.common_search .theme--light.v-label {
  color: #C0C0C0;
}
.listView .box article{
  height: 152px;
}
.close-btn{
  background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    font-weight: bold !important;
    float: right;
    padding: 0 !important;
    margin: 0;
    height: auto !important;
    margin-right: -15px;
}
.school-course .box-new article{
  height:auto;
}
.blog-grid img{
  width: 100%;
  height:220px;
  object-fit: cover;
  border-radius: 10px;
}
.blog-grid.odd img{
  width: 100%;
  height:453px;
  object-fit: cover;
  border-radius: 10px;
}
.blog-grid {
  float: left;
  position: relative;
  height: 220px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}
.blog-grid.odd{
  float: left;
  position: relative;
  height: 453px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.blog-grid.odd::after{
  position: absolute;
  content: '';
  width: 100%;
  background: #000;
  top: 0;
  border-radius: 10px;
  left: 0;
  height: 453px;
  opacity: 0.5;
}
.blog-grid::after{
  position: absolute;
  content: '';
  width: 100%;
  background: #000;
  top: 0;
  border-radius: 10px;
  left: 0;
  height: 220px;
  opacity: 0.5;
}
.blog-grid h6 img{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  margin-right: 4px;
}
.blog-grid span{
  color: #fff;
    position: relative;
    top: 0;
    float: left;
    background: red;
    padding: 6px 8px;
    display: flex;
    border-radius: 4px;
    top: -90px;
    left: 20px;

}
.blog-grid.odd span{
  top: -297px;
  left: 20px;
  
}
.blog-grid .date{
  position: relative;
    top: 0px;
    height: auto;
    margin-top: -106px;
    z-index: 9;
    float: left;
    width: 100%;
}
.blog-grid.odd .date{
  margin-top: -133px;
}
.blog-grid p{
  color: #fff;
    float: left;
    width: 100%;
    margin-bottom: 0 !important;
    margin-left: 20px;
}
.blog-grid h6{
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
}
.blog-grid h6 i{
  color:#fff;
  margin-left: 10px;
  margin-right: 3px;
}
.blog-grid .fa-camera{
  float: right;
  background: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 25px;
  line-height: 2;
  margin-top: -95px;
  margin-right: 14px;
}
.blog-info h6{
  color:#999;
  font-weight: normal;
  font-size:14px;
}
.blog-info h6 img{
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  margin-right: 4px;
}
.blog-info h6 i{
  color: #999;
  font-size: 15px;
  margin-right: 1px;
  margin-left: 10px;
}
.heading{
  color:#000;
  font-size: 16px;
  font-weight: bold;
}
.right-blog .social{
  background: #ddd;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.right-blog .social div{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.right-blog .social i{
  color: #3190e7;
  float: left;
  width: 100%;
  margin-top: 10px;
}
.right-blog .social span{
 width:100%;
 font-weight: bold;
}
.right-blog .social p{
  margin-bottom: 5px;
}
.right-blog .latest-blog .panel{
  border-bottom: none;
  box-shadow: none;
  margin-bottom: 0px;
}
.right-blog .latest-blog .panel img{
  height:85px;
}
.right-blog .latest-blog .panel article{
  background:#fff;
}
.blog-tag{
  background-position: top;
    width: 100%;
    background-size: cover;
    height: 60px;
    border-radius: 4px;
    margin-top: 15px;
    position: relative;
}
.blog-tag::after{
  width: 100%;
  content: '';
  position: absolute;
  height: 60px;
  background: #000;
  opacity: 0.5;
  border-radius: 4px;
  top: 0;

}
.blog-tag h6{
  color: #fff;
  position: relative;
  z-index: 9;
  padding: 20px;
  font-weight: bold;
  
}
.blog-tag h6 span{
  float: right;
  background: #fff;
  font-size: 10px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 2;
}
.blog-info {
  margin-bottom: 20px;
}
.blog-cate{
    background-size: cover;
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.testi{
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
}
.testi:last-child{
  border-bottom: none;
}
.testi p{
  margin-bottom: 0;
  margin-top: 22px;
}
.testi .col-md-2 img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 8px solid #fff;
  margin-top: 20px;
}
.testi h5{
  color: #000;
  font-weight: bold;
}
.testi span{
  color: #3190e7;
  margin-top: -7px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.testi h6{
  color: #999;
  font-weight: normal;
  font-style: italic;
  margin-top: -3px;
  font-size: 13px;
}
.testi .stars{
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-right: 20px;

}
.career-list img{
  width:80px;
  height:80px;
  border-radius: 50%;
  margin-top: 25px;
  
}
.career-list h6{
  font-size: 14px;
  font-weight: normal;
}
.career-list .col-md-6{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height:300px;
}
.career-list .col-md-6:last-child{
  border-right: none;
  
}
.career-list .col-md-6 .btn{
  float:right;
}
.career-list article{
  padding-top: 45px;
}
.contact .form-control{
  box-shadow:none;
  border-radius: 0px;
  height: 40px;
}
.contact textarea {
  height:100px !important;
}
.contact .bx{
  height:340px;
}
.course-profile p{
  margin-bottom: 3px !important;
}
/* .customer-menu{
  position: sticky;
  top: 0;
  left: 0;
  display: block;
} */
.resume label{
  display: inline-block;
  background-color: #3190e7;
  color: white;
  padding: 10px 25px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: normal;
}
.resume #upload{
  display:none;
}
.resume h4 span{
  color:green;
}
.profile_info .row .form-group:last-child{
  margin-left: 0;
}
.profile .head2 .btn{
  float:right;
  margin-bottom: 20px;

}
.profile .bx .head2 .btn i{
  color:#fff;
}
.profile .row .form-group:last-child{
  margin-left:0;
}
.profile .fact{
  margin-top: 25px;
}
.profile .fact a i{
  float:right;
  margin-right: 15px;
  font-size: 15px;
}
.profile .wallet table{
  width:100%;
}
.profile .wallet table tr td{
  border: 1px solid #eee;
  padding: 10px;
}
.profile .v-card{
  text-align: center;
  padding: 10px;
    margin-bottom: 25px;
}
.profile .v-card h4{
  color: #000;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 10px;
}
.profile .v-card p{
  color: green;
  margin-bottom: 0;
}
.purchase table{
  width:100%;
}
.purchase table tr td img{
  width: 110px;
  height: 65px;
  object-fit: cover;
  margin-top: 15px;
  margin-right: 12px;
  margin-bottom: 15px;
}
.purchase table tr td{
  border: 1px solid #eee;
  text-align: center;
}




















