@media only screen and (max-width: 320px) {
}

.common_search .row .col-md-9,
.common_search .row .col-md-3 {
  padding: 0 !important;
}

@media only screen and (max-width: 539px) {
  
  .course_list > div:nth-child(2) .bx > div:first-child {
    grid-template-columns: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .small-title{
    display: block;
  }
  .add_new .v-stepper__step{
    padding: 15px;
  }
  .profileUpdateForm.updateProfile .v-stepper--vertical .v-stepper__content{
    padding: 0;
    width: auto;
    padding-right: 22px;
    margin-left: 0 !important;
    border-left: none !important;
  }
.profileUpdateForm.updateProfile .v-stepper--vertical .v-stepper__content .v-stepper__wrapper >span{
    margin: 20px 0;
    float: left;
  }
  .profileUpdateForm.updateProfile .v-stepper--vertical .v-stepper__content .v-stepper__wrapper{
    padding-top: 20px;
  }
  .new-title.col{
    padding: 0 !important;
  }
  .new-title.col > .bx{
    padding: 0 !important;
  }
  .small-title h3 {
    font-size: 22px;
  }
  .vendor-board .row{
    display: block;
  }
  .vendor-board .row .form-group,.vendor-board .row .col-md-12{
    padding: 0 !important;
   }
  .respRow .row{
    display: block !important;
  }
  /* .courseContent .bx{
    padding: 0 !important;
  } */
  
  .course_list > div:nth-child(2) .bx > div:first-child {
    grid-template-columns: 48% 48%;
  }
  .self_placed{
    float: left;
  }
  .self_placed article{
    display: block;
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .login {
    position: relative !important;
    top: 0;
    z-index: 0 !important;
    background: #efefef;
  }

  .login .col-md-6 {
    padding: 0 !important;
  }

  .log-banner {
    height: 60vh;
    position: relative;
    display: none;
  }

  .log-banner article {
    position: relative;
    z-index: 9;
    text-align: center;
    top: 34%;
  }

  .log-banner::after {
    content: "";
    width: 100%;
    height: 100%;
  }

  .login .form form > a {
    display: none;
  }

  .login .form form {
    align-content: center;
    width: 80%;
    min-height: auto;
    min-width: auto !important;
  }

  .login .row {
    display: block;
    margin: 0;
  }

  .login .col-md-6:last-child {
    overflow-y: auto;
    height: auto;
  }

  .resp-top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .resp-top-nav a img {
    width: 110px !important;
  }

  .resp-top-nav button {
    line-height: 2;
  }

  .resp-top-nav span {
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .resp-top-nav button i,
  .resp-top-nav a i {
    margin-left: 7px;
  }

  .resp-top-nav button i {
    font-size: 35px;
  }

  .common_search {
    width: 100% !important;
    margin-top: 15px !important;
  }
 .common_search .v-text-field.v-text-field--solo .v-input__control {
  min-height: 40px;
  padding: 0;
}
  .common_search .row .col-md-3 {
    width: 100% !important;
    padding: 0 15px !important;
    margin-bottom: 20px;
  }

  .banner .caption .col-md-3 .form-control,
  .banner .caption .col-md-9 .form-control {
    border-radius: 25px !important;
  }

  .common_search .row .col-md-9 {
    width: 100% !important;
    padding: 0 15px !important;
  }

  .home-grid .row {
    display: block;
  }

  .inner-title .row {
    display: block;
  }

  .inner-title ul li {
    text-align: right;
  }

  .inner-title ul {
    float: right;
    margin-top: 0;
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
  }

  .inner-title ul li i {
    font-size: 20px;
  }

  .inner-banner .breadcrumb {
    padding: 0 15px;
    left: 0;
    top:100px;
  }
  .dashboardBanner h2{
    top: 55px;
  }

  header span.badge {
    background: #ff0000;
    font-size: 11px;
    right: 0;
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    line-height: 2;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .course-detail .row {
    display: block;
  }

  .collap .grey-box .col-md-2 img {
    width: 100px !important;
  }

  .v-sheet.v-snack__wrapper:not(.v-sheet--outlined) {
    z-index: 11;
    position: fixed;
  }

  .bx {
    position: unset;
  }

  .panel-main.row {
    margin: 0;
  }

  #Course {
    padding: 0 !important;
  }

  #Course .row {
    display: block;
    margin: 0;
  }

  .cart-table tr td:first-child {
    display: block;
    align-items: start;
    justify-content: unset;
    height: auto !important;
  }

  .cart-table tr td:first-child * {
    text-align: left;
  }

  .dashboardNav {
    width: 100%;
  }

  .v-speed-dial a {
    color: #000;
  }

  .cart .row {
    display: block !important;
  }

  .bx {
    padding: 0;
  }

  .container {
    max-width: 100% !important;
  }

  .addCourses .row {
    display: block;
  }

  .courseLoader .row {
    display: block;
  }

  .profileUpdateForm .row {
    display: block;
  }

  footer .row {
    display: block;
  }

  .v-snack__wrapper {
    position: fixed;
    bottom: 50px;
  }
  .responsive .v-navigation-drawer .v-expansion-panel {
    background: transparent !important;
  }
  .cart .col-md-9,
  .cart .col-md-3 {
    float: left;
    width: 100%;
  }
  .vendorProfile .boxCard .row .col-md-6:first-child{
    display:block;
  }
  .review_view article p small{
    float: right;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 16px;
  }
  .review_view article p strong{
    float: left;
  }
  #customers-testimonials .hooper{
    margin-bottom: 0;
  }
  #customers-testimonials .owl-item{
    width:100% !important;
  }
  .shadow-effect{
    padding-bottom: 0;
    height: auto;
  }
  #customers-testimonials .hooper-slide{
    width:100% !important;
    /* margin-right: 32px; */
  }
  .banner .caption{
    top: 17px !important;
  }
  .banner .caption h1{
    font-size: 23px;
  } 
  .banner .caption .form-control {
    height: 35px;
}
  .banner .caption h6{
    font-size: 13px;
  }
  .banner{
    height:32vh !important;
  }
  .title, .head1{
    font-size:20px;
  }
  .grey-box .col-md-3 span{
    margin-top: -136px;

  }
  .grey-box .col-md-3 small{
    float: left;
  }
  .course-detail .row .col-md-9 .col-md-3 p b{
    float:left;
  }
  .courseContent .hooper-list .hopper-slider{
    width:100% !important;
 }
 .grey-box .tyming li{
   width:100% !important;
 }
 .desktop-head{
   display:none;
 }
 .res-head{
   display:block;
 }
 .self_placed h3, .self_placed .fa{
  font-size: 17px;
 }
 .tyming .hooper-slide{
  width: 100% !important;
 }
 .job-details article p{
  grid-template-columns: 7% 93%;
 }
 .job-details .stars{
  text-align: right;
  margin-top: 4px;
  margin-right: -1px;
 }
 .job-details .col-md-6 img{
  float: right;
    margin-top: -57px;
    margin-right: 0 !important;
 }
 .job-details .key{
  grid-template-columns: auto;
 }
 .job-details .col-md-12 .collap .keywords ul li a{
  width: 145px;
}
 .common_search .v-text-field.v-text-field--solo .v-label{
  font-size: 11px;
 }
 .latest-blog .panel img{
   height:auto;
 }
 .common_search .col-md-12{
   padding-left: 0 !important;
 }
 .filter-modal{
  height: 490px;
  overflow-y: scroll;
 }
 .v-dialog:not(.v-dialog--fullscreen) {
  height: 95vh;
    max-height: 100vh;
    width: 90%;
}
 .certi-res{
   display:block
 }
 .certi-desk{
   display:none;
 }
 .review_view .tit{
  grid-template-columns: 35% 60%;
 }
 .course_list > div:nth-child(2) .bx > div:first-child, .listContainer > div:first-child {
  grid-template-columns: 100%;
 }
 .btns .btn{
  margin-bottom: 10px;
  font-size: 10px;
  margin-left: 5px;
 }
 .job-details .btns {
  margin-top: 10px;
  float: left;
}
 .send{
  float: left;
  text-align: center;
  margin-top: 8px;
  margin-left: 33px;
 }
 .likes {
  top: 0px !important;
  float: right;
  margin-top: -16px;
  margin-right: -11px;
}
 .box-new{
  margin-top: 0 !important;
 }
 .likes span {
  margin: 0 2px;
  font-size: 14px;
}
.banner .caption .btn{
  width: 45px !important;
  height: 41px !important;
}
.banner .caption .btn .svg-icon {
  position: relative;
  top: -4px;
  left: -1px;
  transform: rotate(1741deg);
  width: 20px;
  height: 20px;
}
.corporate .caption {
  position: relative;
  padding: 40px 40px;
} 
.box article{
  height: 9.5rem;
}
.inner-banner{
  height: 250px;
}
.inner-banner::after{
  height: 250px;
}
.profileContent .v-slide-group__next, .v-slide-group__prev{
  min-width: auto !important;
  flex:0;
}
.review_view{
  float: left;
    width: 100%;
    background: #fafafb;
    margin-bottom: 10px;
}
.review_view .head2{
  padding-left: 10px;
}
.common_search .v-input input{
  border-bottom: none;
}
.job-details .col-md-8 .job-list .row .col-md-6{
  padding:0 !important;
}
.career-list .col-md-6{
  border-right:none;
}
.testi{
  text-align: center;
}
.testi .stars{
  text-align: center;
    margin-top: -93px;
}
.contact .bx {
  height: auto;
}
footer .footer-bottom ul li a{
  line-height: 2.5;
}
.education{
  display: block;
}
.education h6{
  margin-top: 15px;
  float: left;
  width: 100%;
}
.profile .fact a i{
  margin-right: 5px;
}
}

