<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerdata})` }"
    >
      <h2>{{ trainning_username }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/training_institutes">Training Institute</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>{{ trainning_username }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <img
                      :src="profile.logo_image"
                      style="height: 190px; width: 180px; object-fit: cover"
                      alt=""
                    />
                  </div>
                  <div class="pl-8">
                    <span>
                      <h5 class="head2">{{ profile.username }}</h5>
                      <div v-if="profile.email || profile.mobile_no">
                        <small
                          >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                            ></path></svg
                        ></small>
                        <span class="rated">
                          <i class="fa fa-star fa-fw"></i> 4.0
                        </span>
                      </div>
                      <div class="social">
                        <a
                          v-if="profile.facebook"
                          v-bind:href="profile.facebook"
                          target="_blank"
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.twitter"
                          v-bind:href="profile.twitter"
                          target="_blank"
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.instagram"
                          v-bind:href="profile.instagram"
                          target="_blank"
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.linkedin"
                          v-bind:href="profile.linkedin"
                          target="_blank"
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                      </div>
                      <div class="social">
                        <h4 class="lightHead">
                          <span style="color: #000" class="mr-2"
                            ><i
                              class="fa fa-heart"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            30</span
                          >
                          <span style="color: #000"
                            ><i
                              class="fa fa-rss"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            50</span
                          >
                        </h4>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <v-row class="py-2">
                    <v-col md="3" v-if="profile.email"> <b>Email</b></v-col>
                    <v-col v-if="profile.email">: {{ profile.email }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.mobile_no">
                    <v-col md="3"><b>Phone</b></v-col>
                    <v-col
                      >: {{ profile.mobile_no }}
                      {{ profile.landline_no ? "|" : "" }}
                      {{ profile.landline_no }}</v-col
                    >
                  </v-row>
                  <v-row class="py-1" v-if="profile.website_link">
                    <v-col md="3"><b>Website</b></v-col>
                    <v-col>: {{ profile.website_link }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.classification">
                    <v-col md="3"><b>Classification</b></v-col>
                    <v-col>: {{ profile.classification }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.type">
                    <v-col md="3">
                      <b>Type of Institute</b>
                    </v-col>
                    <v-col>: {{ profile.type }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.category_name">
                    <v-col md="3">
                      <b>Category</b>
                    </v-col>
                    <v-col>: {{ profile.category_name }}</v-col>
                  </v-row>
                  <!-- <h4 class="lightHead">
                    <span
                      style="
                        float: right;
                        position: absolute;
                        top: 60px;
                        right: 0;
                      "
                      class="likes"
                    >
                      <span style="color: #000"
                        ><i class="fa fa-heart" aria-hidden="true"></i> 30</span
                      >
                      <span style="color: #000"
                        ><i class="fa fa-rss" aria-hidden="true"></i> 50</span
                      >
                    </span>
                  </h4>
                  <article>
                    <div>
                      <b>Email</b>
                      <p>{{ profile.email }}</p>
                    </div>
                    <div>
                      <b>Phone</b>
                      <p>
                        {{ profile.mobile_no }}
                        {{ profile.landline_no ? "|" : "" }}
                        {{ profile.landline_no }}
                      </p>
                    </div>
                    <div>
                      <b>Website</b>
                      <p>{{ profile.website_link }}</p>
                    </div>
                    <v-row class="py-1" v-if="profile.type">
                    <v-col md="3">
                      <b>Type of School</b>
                    </v-col>
                    <v-col>: {{ profile.type }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.board">
                    <v-col md="3">
                      <b>Board</b>
                    </v-col>
                    <v-col>: {{ profile.board }}</v-col>
                  </v-row>
                  </article> -->
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <v-tabs
                  background-color="#FAFAFB"
                  color="black"
                  v-model="tabIndex"
                >
                  <v-tab>Overview</v-tab>
                  <v-tab id="gal">Gallery</v-tab>
                  <v-tab>Jobs</v-tab>
                  <v-tab id="news">News</v-tab>
                  <v-tab>Facilities</v-tab>
                  <v-tab>Courses</v-tab>
                  <v-tab>Placements</v-tab>
                  <v-tab>Trainer</v-tab>
                  <v-tab>Services</v-tab>
                  <v-tab>Reviews</v-tab>
                  <v-tab-item>
                    <div id="Overview">
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">About Us</h3>
                        <p>
                          {{ profile.about_us }}
                        </p>
                      </div>

                      <div style="float: left; width: 100%">
                        <v-tabs
                          background-color="#FAFAFB"
                          color="black"
                          v-model="tabIndexAddress"
                        >
                          <v-tab
                            v-for="address in adresslist"
                            :key="address.city_address_time_id"
                            v-model="tabIndexAddress"
                            style="width: auto"
                            >{{ address.city_name }}</v-tab
                          >
                          <v-tab-item
                            v-for="address in adresslist"
                            :key="address.city_address_time_id"
                          >
                            <div class="bx">
                              <h4 class="head2">Timings:</h4>
                              <div class="row">
                                <div class="col-md-5">
                                  <p v-if="address.monday_start_time != ''">
                                    Mon {{ address.monday_start_time }} to
                                    {{ address.monday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_monday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.monday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_monday_holiday === "Yes"
                                          ? "Monday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.tuesday_start_time != ''">
                                    Tue {{ address.tuesday_start_time }} to
                                    {{ address.tuesday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_tuesday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.tuesday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_tuesday_holiday === "Yes"
                                          ? "Tuesday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.wednesday_start_time != ''">
                                    Wed {{ address.wednesday_start_time }} to
                                    {{ address.wednesday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_wednesday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.wednesday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_wednesday_holiday === "Yes"
                                          ? "Wednesday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.thursday_start_time != ''">
                                    Thurs {{ address.thursday_start_time }} to
                                    {{ address.thursday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_thursday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.thursday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_thursday_holiday === "Yes"
                                          ? "Thurseday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.friday_start_time != ''">
                                    Fri {{ address.friday_start_time }} to
                                    {{ address.friday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_friday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.friday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_friday_holiday === "Yes"
                                          ? "Friday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.saturday_start_time != ''">
                                    Sat {{ address.saturday_start_time }} to
                                    {{ address.saturday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_saturday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.saturday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_saturday_holiday === "Yes"
                                          ? "Saturday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <p v-if="address.sunday_start_time != ''">
                                    Sun {{ address.sunday_start_time }} to
                                    {{ address.sunday_end_time }} Hrs
                                    <span style="color: red">
                                      {{
                                        address.is_sunday_holiday === "Yes"
                                          ? "(Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>
                                  <p v-if="address.sunday_start_time == ''">
                                    <span style="color: red">
                                      {{
                                        address.is_sunday_holiday === "Yes"
                                          ? "Sunday (Holiday)"
                                          : ""
                                      }}
                                    </span>
                                  </p>

                                  <h4 class="head2">Address</h4>
                                  <p>
                                    {{ address.address }},
                                    {{ address.city_name }},<br />
                                    {{ address.state_name }},
                                    {{ address.country_name }},<br />
                                    {{ address.mobile_no }} {{ (address.phone_no)?" / ":"" }} {{ address.phone_no }}<br />
                                     
                                    {{ address.email }}
                                  </p>
                                </div>
                                <div class="col-md-7">
                                  <iframe
                                    :src="address.map_link"
                                    width="100%"
                                    height="300"
                                    frameborder="0"
                                    style="border: 0"
                                    allowfullscreen=""
                                    aria-hidden="false"
                                    tabindex="0"
                                  ></iframe>
                                </div>
                              </div>
                            </div>
                          </v-tab-item>
                        </v-tabs>
                      </div>

                      <div class="bx gallery_new">
                        <h3 class="head2" style="margin-top: 0">Gallery</h3>
                        <div class="row">
                          <div
                            class="col-md-2 mr-5"
                            v-for="gallary in gallarylist"
                            :key="gallary.gallery_id"
                          >
                            <img
                              style="
                                width: 190px;
                                height: 159px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              :src="gallary.image"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2" v-if="gallarylist.length > 4">
                            <a @click="tabIndex = 1" class="more-btn"
                              >View More</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="bx">
                        <h3 class="head2" style="margin-top: 0">News</h3>
                        <hooper
                          class="tyming"
                          :itemsToShow="4"
                          :itemsToSlide="4"
                          :wheelControl="false"
                          style="margin-bottom;background:transparent;
                          }"
                        >
                          <slide v-for="news in newslist" :key="news.news_id">
                            <nuxt-link
                              :to="'/NewsDetail/?' + news.news_id"
                              class="box box-new"
                              ><img :src="news.image" alt="" />
                              <article>
                                <h4>{{ news.title }}</h4>
                              <p>{{ news.desc.substr(0, 100) }}{{ " "
                                    }}<nuxt-link
                                      :to="'/NewsDetail/?' + news.news_id"
                                      v-if="news.desc.length > 100"
                                      >...Read more</nuxt-link
                                    >
                              </p>
                              </article></nuxt-link
                            >
                          </slide>
                        </hooper>
                        <div class="text-center" v-if="newslist.length > 3">
                          <a @click="tabIndex = 4" class="btn">View More</a>
                        </div>
                      </div>
                      <div class="review_view panel bx">
                        <h3
                          class="head2"
                          style="
                            background: #fafafb;
                            margin-bottom: 0;
                            padding: 15px;
                          "
                        >
                          Reviews
                        </h3>
                        <div v-if="reviewData.length > 0">
                          <div
                            class="grey-box mb-4"
                            style="border-radius: 20px"
                            v-for="review in reviewData"
                            :key="review.id"
                          >
                            <div>
                              <article>
                                <div class="tit">
                                  <div class="col-md-2" style="width: 150px">
                                    <v-row
                                      ><v-col>
                                        <img
                                          :src="review.customer_image" /></v-col
                                    ></v-row>
                                    <v-row
                                      ><v-col>
                                        <span class="stars">
                                          <i
                                            class="ion-android-star"
                                            v-for="rateindex in parseInt(
                                              review.rate
                                            )"
                                            :key="rateindex"
                                          ></i> </span></v-col
                                    ></v-row>
                                  </div>
                                  <div class="col-md-10 mb-20">
                                    <v-row
                                      ><v-col class="text-left"
                                        ><h5 class="ml-0">
                                          {{ review.customer_name }}
                                        </h5></v-col
                                      >
                                      <!-- <v-col class="text-right"
                                        ><v-btn
                                          v-if="review.status == 1"
                                          rounded
                                          dark
                                          color="green"
                                          size="small"
                                        >
                                          Published
                                        </v-btn>
                                        <v-btn
                                          v-else
                                          rounded
                                          dark
                                          color="grey darken-4"
                                          size="small"
                                          @click="makePublish(review.id, 1)"
                                        >
                                          Make Publish</v-btn
                                        ></v-col
                                      > -->
                                    </v-row>
                                    <v-row
                                      ><v-col style="padding-left: -20px">
                                        <p>
                                          {{ review.message }}
                                        </p></v-col
                                      ></v-row
                                    >
                                  </div>
                                </div>
                                                        <!-- <div class="tit">
                                    <div>
                                      <img :src="review.customer_image" />
                                      <span class="stars">
                                        <i
                                          class="ion-android-star"
                                          v-for="rateindex in parseInt(review.rate)"
                                          :key="rateindex"
                                        ></i>
                                      </span>
                                    </div>
                                    <div>
                                      <v-col
                                        ><h5>{{ review.customer_name }}</h5></v-col
                                      ><v-col class="text-right"
                                        ><v-btn
                                          v-if="review.status == 1"
                                          rounded
                                          dark
                                          color="green"
                                          size="small"
                                        >
                                          Published
                                        </v-btn>
                                        <v-btn
                                          v-else
                                          rounded
                                          dark
                                          color="grey darken-4"
                                          size="small"
                                          @click="makePublish(review.id, 1)"
                                        >
                                          Make Publish</v-btn
                                        ></v-col
                                      >
                                    </div>
                                  </div> -->
                                                        <!-- <p>
                                    {{ review.message }}
                                  </p> -->
                              </article>
                            </div>
                          </div>
                        </div>
                      </div>
                      <section v-if="user_id && entity_id != user_id">
                        <div class="bx">
                          <div class="write_review">
                            <h6>Write a Review</h6>
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <v-textarea
                                v-model="review.message"
                                placeholder="Message (within 250 characters)"
                                maxlength="250"
                                counter
                              ></v-textarea>
                            </div>
                            <div>
                              <v-rating
                                v-model="review.rate"
                                color="yellow darken-3"
                                background-color="grey darken-1"
                                half-increments
                                hover
                                large
                              ></v-rating>
                            </div>
                            <div
                              v-if="error"
                              class="form-group fadein"
                              style="margin-bottom: 30px"
                            >
                              <v-alert class="" text prominent type="error">
                                {{ errorMessage }}
                              </v-alert>
                            </div>
                            <div
                              class="form-group fadein"
                              v-if="success"
                              style="margin-bottom: 15px"
                            >
                              <div class="row">
                                <v-alert text type="success" align="left">
                                  {{ successMessage }}
                                </v-alert>
                              </div>
                            </div>
                            <v-btn
                              :loading="loading"
                              :disabled="loading"
                              rounded
                              dark
                              color="grey darken-4"
                              @click="submitReview"
                              >Add your Review</v-btn
                            >
                          </div>
                        </div>
                      </section>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx gallery_new">
                      <h3 class="head2">Gallery</h3>
                      <div class="row">
                        <div
                          class="col-md-2 mr-5"
                          v-for="gallary in gallarylist"
                          :key="gallary.gallery_id"
                        >
                          <img
                            style="
                              width: 190px;
                              height: 159px;
                              object-fit: cover;
                              border-radius: 4px;
                            "
                            :src="gallary.image"
                            alt=""
                          />
                        </div>
                        <!-- <div class="col-md-3">
                          <a href="#" class="btn">View More</a>
                        </div> -->
                      </div>
                    </div>
                  </v-tab-item>

                  <v-tab-item>
                    <div class="bx job-list">
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >

                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="row">
                        <div
                          class="col-md-4"
                          v-for="news in newslist"
                          :key="news.news_id"
                        >
                          <nuxt-link
                            :to="'/NewsDetail/?' + news.news_id"
                            class="box box-new"
                          >
                            <img :src="news.image" alt="" />
                            <article>
                              <v-row>
                                <v-col
                                  ><h4>{{ news.title }}</h4></v-col
                                ></v-row
                              >
                              <v-row>
                                <v-col
                                  >{{ news.desc.substr(0, 50) }}{{ " "
                                  }}<nuxt-link
                                    :to="'/NewsDetail/?' + news.news_id"
                                    v-if="news.desc.length > 50"
                                    >...Read more</nuxt-link
                                  ></v-col
                                >
                              </v-row>
                              <!-- <h4>{{ news.title }}</h4>
                                <p>
                                  {{ news.desc }}
                                </p> -->
                            </article>
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="fact">
                        <ul
                          v-for="facility in facilitylist"
                          :key="facility.facility_id"
                        >
                          <p>
                            <i
                              class="ion-checkmark-round"
                              aria-hidden="true"
                            ></i>
                            {{ facility.desc }}
                          </p>
                        </ul>
                      </div>
                    </div>
                  </v-tab-item>

                  <v-tab-item>
                    <div class="bx school-course" id="Courses">
                      <div class="row box box-new">
                        <div
                          class="col-md-4"
                          v-for="course in courselist"
                          :key="course.course_id"
                        >
                          <img :src="course.image" alt="" />

                          <article>
                            <h4>{{ course.name }}</h4>
                            <div>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                {{ course.eligibility }}</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                {{ course.duration }}</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees:
                                {{ course.fee }}</small
                              >
                            </div>
                            <div>
                              <v-btn
                                v-if="user_id != entity_id"
                                style="background: #000"
                                class="btn"
                                @click="enrollDialog(course)"
                                >Enroll</v-btn
                              >
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="collap panel bx ">
                      <div
                        class="grey-box mb-2"
                        style="border-radius:5px"
                        v-for="placement in placementlist"
                        :key="placement.placement_id"
                      >
                        <div
                          fragment="c7f12a3f69"
                          class="col-md-2"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                          "
                        >
                          <img 
                          :src="placement.image" 
                          style="height: 130px; width: 140px; object-fit: cover; border-radius:5px"
                          alt="" />
                          <!-- <ul>
                            <li>
                              <a href="#"><i class="fa fa-facebook" style="background: rgb(72, 91, 150);"></i></a></li> 
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-linkedin" style="background: rgb(22, 126, 183);"></i></a></li>
                               </ul> -->
                        </div>
                        <div fragment="c7f12a3f69" class="col-md-10">
                          <h4 style="font-weight:bold">{{ placement.name }}</h4>
                          <!-- <span>Btech | Batch:2020</span> -->
                          <span
                            >{{ placement.designation }} ({{
                              placement.placement_date
                            }})
                          </span>
                          <br />
                          <span>{{ placement.company }}</span>
                          <p style="margin-top: 0">
                            {{ placement.message }}
                          </p>
                        </div>
                        <!--fragment#c7f12a3f69#tail-->
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx" id="trainer">
                      <div class="list_view">
                        <div
                          class="row mb-2 grey-box"
                          style="border-radius:5px"
                          v-for="staff in stafflist"
                          :key="staff.trainer_id"
                        >
                          <div class="col-md-3">
                            <img :src="staff.image" alt="" style="border-radius:5px"/>
                          </div>
                          <div class="col-md-9">
                            <div class="list-bx">
                              <div>
                                <h3 class="head2 mb-2">{{ staff.name }}</h3>
                                <h5>{{ staff.designation }}</h5>
                                <p>
                                  {{ staff.description }}
                                </p>
                                <ul>
                                  <li>
                                    <a
                                      v-bind:href="staff.facebook"
                                      target="_blank"
                                      ><i class="ion-social-facebook"
                                      style="font-size: 1.5rem"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.twitter"
                                      target="_blank"
                                      ><i class="ion-social-twitter"
                                      style="font-size: 1.5rem"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.instagram"
                                      target="_blank"
                                      ><i class="ion-social-instagram"
                                      style="font-size: 1.5rem"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.linkedin"
                                      target="_blank"
                                      ><i class="ion-social-linkedin"
                                      style="font-size: 1.5rem"></i
                                    ></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="pl-3" style="width: 100%">
                      <v-row
                        v-for="service in serviceList"
                        :key="service.service_id"
                        class="bx"
                      >
                        <v-col md="2" align-self="center" class="py-2">
                          <img
                            style="
                              width: 170px;
                              height: 180px;
                              object-fit: cover;
                              border-radius: 5px;
                            "
                            :src="service.image"
                          />
                          <!-- <v-img :src="news.image" alt class="box" ></v-img> -->
                        </v-col>
                        <v-col md="8" class="py-5 pl-15">
                          <v-row>
                            <v-col class="pl-1"
                              ><h4 style="font-weight:bold">Title: {{ service.title }}</h4></v-col
                            ></v-row
                          >
                          <v-row>
                            <v-col class="pl-2"
                              ><p>Description: {{ service.desc }}</p></v-col
                            >
                          </v-row>
                        </v-col>
                      </v-row>
                      <!-- <h4 class="head2">Service 1</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Beatae placeat maxime ad commodi voluptatem quia.
                      </p>
                      <hr />
                      <h4 class="head2">Service 2</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Beatae placeat maxime ad commodi voluptatem quia.
                      </p>
                      <hr />
                      <h4 class="head2">Service 3</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Laboriosam fugiat voluptatibus facilis sed ratione iste
                        qui pariatur temporibus earum quisquam?
                      </p> -->
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <AllTabReview :reviewData="reviewData" />
                  </v-tab-item>
                </v-tabs>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <div class="course-ft vendor-board">
                <div class="">
                  <a
                    href="/training_institutes/Details"
                    class="box box-new"
                    style="margin-top: -100px"
                  >
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Intitute Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/training_institutes/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Intitute Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/training_institutes/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Intitute Name</h4>
                      <h6>category :</h6>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  ></span
                >
              </div>
            </section>
          </div>
          <div class="col-md-12 my-2 panel">
            <section class="grey-box bx">
              <v-row class="pb-3">
                <v-col><h3 class="head2">Similar Trainning Institute</h3></v-col>
              </v-row>

              <div class="row">
                <div
                  class="col-md-3"
                  v-for="item in similarTrainningInstitute"
                  :key="item.school_id"
                >
                  <nuxt-link :to="item.username" class="box box-new">
                    <img v-if="item.logo_image" :src="item.logo_image" alt="" />
                    <img
                      v-else
                      src="../../assets/img/training_avatar.jpeg"
                      alt=""
                    />
                    <article>
                      <div class="stars" v-if="item.rating">
                        <v-rating
                          color="warning"
                          hover
                          length="5"
                          readonly
                          size="15"
                          half-increments
                          :value="Number(item.rating).toFixed(1)"
                        ></v-rating>
                      </div>
                      <h4>{{ item.name }}</h4>
                      <h5
                        style="
                          color: #f73c1f;
                          font-weight: bold;
                          font-size: 15px;
                        "
                      >
                        Category: Private
                      </h5>
                      <h5>
                        <v-icon style="font-size: 1rem">mdi-email</v-icon
                        >{{ item.email }}
                      </h5>

                      <h5>
                        <v-icon style="font-size: 1rem">mdi-phone</v-icon>
                        {{ item.mobile_no }}
                      </h5>
                      <h5>
                        <v-icon style="font-size: 1rem">mdi-web</v-icon
                        >http://exreed.com
                      </h5>
                    </article>
                  </nuxt-link>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <v-dialog v-model="showDialog" width="600">
      <v-card>
        <v-card-title class="headline"
          >Enroll Now For {{ courseName }}</v-card-title
        >
        <v-form ref="enrollform">
          <v-card-text>
            <v-row>
              <div class="col-md-12">
                <v-text-field
                  label="First Name*"
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.first_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  label="Last Name*"
                  v-model="enroll.last_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Email*"
                  required
                  :rules="emailRules"
                  v-model="enroll.email"
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Phone Number*"
                  maxlength="10"
                  :rules="[(v) => /^\d{10}$/.test(v) || 'Must be 10 digit']"
                  required
                  v-model="enroll.phone"
                  @keypress="onlyNumbers"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  outlined
                  label="Message*"
                  maxlength="250"
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.message"
                ></v-textarea>
              </div>
              <div class="col-md-12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ responseMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      {{ responseMessage }}
                    </v-alert>
                  </div>
                </div>
              </div>
            </v-row>

            <v-card-actions>
              <v-btn
                rounded
                dark
                color="grey darken-4"
                :loading="loading"
                :disabled="loading"
                @click="enrollCourse"
                >Submit</v-btn
              >
              <v-btn color="red" rounded dark @click="closeEnrollDialog"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import AllTabReview from "../../components/AllTabReview";
export default {
  name: "SchoolDetails",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    AllTabReview,
  },
  data() {
    return {
      tabIndex: 0,
      training_id: "",
      edit: {
        per_page: "",
        page_no: "",
      },
      listings: "",
      showDialog: false,
      loading: false,
      user_id: "",
      email: "",
      mobile: "",
      enroll: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
        course_user_id: "",
      },
      responseMessage: "",
      success: false,
      error: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
      courseName: "",
      detail_id: "",
      error: false,
      errorMessage: "",
      success: false,
      tabIndexAddress: 0,
      loading: false,
      timeout: 6000,
      trainning_username: "",
      profile: "",
      adresslist: [],
      gallarylist: [],
      stafflist: [],
      newslist: [],
      facilitylist: [],
      serviceList: [],
      courselist: [],
      joblist: [],
      placementlist: [],
      kyclist: [],
      reviewData: [],
      similarTrainningInstitute:[],
      user_id: "",
      entity_id: "",
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      bannerdata: "",
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.trainning_username = id.pop();
    this.getProfile();

    console.log("url5235", id);
  },
  mounted() {
    let cust_id = localStorage.getItem("userId");
    this.user_id = cust_id;
    let id = localStorage.getItem("details_id");
    this.entity_id = id;
    this.email = localStorage.getItem("email");
    this.mobile = localStorage.getItem("mobile");
    console.log("sfdgsdfgdsgsdf", this.entity_id, this.user_id);
    setTimeout(() => {
      this.getAddress();
      this.getGallery();
      this.getStaff();
      this.getNews();
      this.getFacilities();
      this.getCouseList();
      this.getJobs();
      this.getPlacements();
      this.getKycs();
      this.getBanner();
      this.getReviews();
      this.getDashboardInfo();
      this.getServiceList();
      this.getSimilar()
    }, 1000);
  },
  methods: {
    async getSimilar() {
      let res = await this.$axios.post("CustomerApi/training_institute_list", {
        per_page: 4,
        page_no: 1,
      });
      this.similarTrainningInstitute = res.data.data;
      // if(res.data.data.rating){
      // let rate=Number(res.data.data.rating)
      // this.similarrating=Number(rate.toFixed(1))
      // }
    },
    async getDashboardInfo() {
      // this.training_id = this.$router.currentRoute;
      var queryString = window.location.search;
      this.training_id = queryString;

      console.log("f1", this.training_id);
      let res = await this.$axios.post(
        "/CustomerApi/training_institute_list",
        this.edit
      );
      console.log("listings", res.data.data.training_institute_id);
      this.listings = res.data.data;
    },
    async getProfile() {
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.trainning_username,
      });
      if (res.data.result === 1) {
        console.log("detailscollege353456456", res.data.data);
        this.profile = res.data.data;
        localStorage.setItem("details_id", res.data.data.user_id);
        localStorage.setItem("username", res.data.data.username);
        localStorage.setItem(
          "entity_corporate_type",
          res.data.data.corporate_type
        );
      } else {
        console.log("detailscollege", res.data.message);
      }
      console.log("collegedetails");
    },

    async getAddress() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_city_address_time",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.adresslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getGallery() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_gallery", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.gallarylist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getStaff() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/trainer_list", {
        user_id: entity_id,
      });
      if (res.data.result === 1) {
        this.stafflist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getNews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_news", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.newslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getFacilities() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.facilitylist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getCouseList() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/vendor_course_list",
        {
          user_id: entity_id,
        }
      );
      if (res.data.result === 1) {
        this.courselist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getJobs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_job", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.joblist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getPlacements() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_placement",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.placementlist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getKycs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_kyc", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.kyclist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getReviews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/review_list", {
        entity_id: entity_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let entity_id = localStorage.getItem("details_id");
      this.loading = true;
      (this.review.customer_id = this.user_id),
        (this.review.entity_id = entity_id);
      console.log("sdfasfgafsdgdf", this.review);
      let res = await this.$axios.post(
        "/trainingInstituteApi/add_review",
        this.review
      );
      if (res.data.result === 1) {
        this.loading = false;
        this.success = true;
        this.successMessage = res.data.message;
        setTimeout(() => {
          this.success = false;
          this.review = {
            customer_id: "",
            entity_id: "",
            description: "",
            rating: "",
          };
        }, 2000);
      } else {
        this.loading = false;
        this.error = true;
        this.errorMessage = res.data.message;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      }
    },

    async getBanner() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: entity_id,
      });
      this.bannerdata = res.data.data.banner_image;
      console.log("log2", this.bannerdata);
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    closeEnrollDialog() {
      this.showDialog = false;
      this.enroll.first_name = "";
      this.enroll.last_name = "";
      this.enroll.message = "";
      this.$refs.enrollform.reset();
    },
    enrollDialog(course) {
      if (this.user_id) {
        console.log("course12234", course);

        this.courseName = course.name;
        console.log("enroll2234", this.enroll);
        if (this.email != "") {
          this.enroll.email = this.email;
        }
        if (this.mobile != "") {
          this.enroll.phone = this.mobile;
        }
        this.enroll.user_id = this.user_id;
        this.enroll.course_id = course.course_id;
        this.enroll.course_user_id = this.entity_id;
        this.showDialog = true;
      } else {
        this.$router.push("/login");
        // if (this.corporate === "Company") {
        // } else if (this.corporate === "Consultancy") {
        // } else if (this.corporate === "School") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "College") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "University") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "Training Institute") {
        //   this.$router.push("/corporate/login");
        // } else {
        //   this.$router.push("/login");
        // }
      }
    },
    async enrollCourse() {
      this.loading = true;
      let checkEmail = true;
      let checkPhone = true;

      // if(this.enroll.phone !=""){
      // if(this.enroll.phone >10 || this.enroll.phone <10){
      //   checkPhone=false
      // }
      // }
      if (!this.$refs.enrollform.validate()) {
        // if(this.enroll.first_name == "" ||
        // this.enroll.last_name == "" ||
        // this.enroll.email == "" ||
        // this.enroll.phone == "" ||
        // this.enroll.message == ""){
        this.loading = false;
        this.responseMessage = "Please fill the mandatory field";
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.responseMessage = "";
        }, 2000);
        // }else{
        //   this.loading = false;
        // this.responseMessage = "Please fill valid Email or Phone Number";
        // this.error = true;
        // setTimeout(() => {
        //   this.error = false;
        //   this.responseMessage = "";
        // }, 2000);
        // }
      } else {
        let res = await this.$axios.post("CustomerApi/enroll_now", this.enroll);
        if (res.data.result === 1) {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.responseMessage = "";
            this.showDialog = false;
            this.enroll.first_name = "";
            this.enroll.last_name = "";
            this.enroll.message = "";
            this.$refs.enrollform.reset();
          }, 2000);
        } else {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.responseMessage = "";
          }, 2000);
        }
      }
    },
    async getServiceList() {
      let action = "list";
      let entity_id = localStorage.getItem("details_id");
      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_service",
        {
          action: action,
          user_id: entity_id,
        }
      );
      console.log("list data", respo);
      this.serviceList = respo.data.data;
    },
  },
};
</script>
