<template>
  <div class="bx">
    <v-container id="award">
      <v-row class="mb-2">
        <v-col class="text-left">
          <h4 class="head2">Awards/Acheivements</h4>
        </v-col>
        <v-col class="text-right">
          <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark>
            Add New</v-btn
          >
        </v-col>
      </v-row>
      <div class="row">
        <div class="col-md-12" >
          <!-- <img :src="gallery.image" alt="" /> -->
          
          <v-row v-for="award in awards" :key="award.award_id">
            <v-col md="9" class="text-left"><li>{{ award.description }}</li></v-col>
            <v-col md="3" class="text-right"> <v-icon @click="deleteimg(award)">mdi-delete</v-icon></v-col>
          </v-row>
          <!-- <div class="img-wrap">
            <button
              class="close"
              
              style="backgroundcolor: solidred"
            >
              &times;
            </button> -->
            <!-- <img
                      style="
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      :src="gallery.image"
                    /> -->
            <!-- <img :src="gallery.image" alt="" /> -->
          <!-- </div> -->
        </div>
      </div>
    </v-container>

    <div v-if="(message = true)"></div>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn1"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn1"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Award</v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12">
              <v-textarea
                v-model="edit.description"
                dense
                filled
                :rules="awardRule"
                @focus="awardR"
                @blur="cancelAwardR"
                label="Describe Shortly *"
                required
              >
              </v-textarea>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="fadein col-md-12"
                style="margin-bottom: 15px"
              >
                <v-alert class="" text-prominent-type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert
                    type="success"
                    align="left"
                    style="text-color= green"
                  >
                    Award Added Successfully
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  dark
                  rounded
                  type="submit"
                  @click.prevent="submitForm"
                >
                  Save 
                </v-btn>
                <v-btn
                  color="red"
                  dark
                  rounded
                  @click="closeAdd"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Awards",
  data() {
    return {
      file: "",
      edit: {
        description: "",
        action: "",
        award_id: "",
        user_id: "",
      },

      successAlert: false,
      errorAlert: false,
      uploadedImage: "",
      dialog: false,
      error: false,
      success: false,
      loading: false,
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      message: "",
      currentFile: "",
      awards: "",
      file: "",
      image: "",
      image_string: "",
      user_id: "",
      action: "",
      hovers: false,
      awardRule:[]
    };
  },
  mounted() {
    this.getAward();
  },
  methods: {
    awardR(){
      this.awardRule=[(v) => !!v || 'Description is required']
    },
    cancelAwardR(){
      this.awardRule=[]
    },

    closeAdd(){
      this.edit= {
        description: "",
        action: "",
        award_id: "",
        user_id: "",
      },
      this.dialog = false
    },
    // selectFile(e) {
    //   this.progress = 0;
    //   const image_file = e;
    //   console.log("selectfile", image_file);
    //   // this.createBase64Image(image_file);

    //   const reader = new FileReader();

    //   reader.onload = evt => {
    //     // this.currentFile = evt.target.result;
    //     this.image = evt.target.result;
    //     console.log("photo", this.image);
    //   };
    //   reader.readAsBinaryString(image_file);
    // },
    //  onChange(e) {
    //   if (e === undefined) {
    //     this.edit.image = "";

    //   } else {
    //     let image_string = this.edit.image;

    //     let reader = new FileReader();
    //     reader.onloadend = (image_string) => {
    //       this.edit.image = reader.result;

    //     };
    //     reader.readAsDataURL(image_string);
    //   }
    // },
    //       uploadImage:function(){
    //         if (!this.image) {
    //         this.message = "Please select a file!";
    //         return;
    //       }
    // //this.file1 =this.$refs.file.files[0];
    //     console.log('m1',this.$refs.file);

    //       this.message = "";

    //    var formData = new FormData();
    //     console.log('m2',this.image);
    //    formData.append('image', this.image);
    //     formData.append('action', 'add');
    //     formData.append('user_id', localStorage.getItem("userId"));

    //    this.$axios.post('TrainingInstituteApi/manage_gallery', formData, {
    //     header:{
    //      'Content-Type' : 'multipart/form-data'
    //     }
    //    }).then(function(response){
    //      console.log('m3',response)
    //     if(response.data.image == '')
    //     {
    //      this.errorAlert = true;
    //      this.successAlert = false;
    //      this.errorMessage = response.data.message;
    //      this.successMessage = '';
    //      this.uploadedImage = '';
    //     }
    //     else
    //     {
    //      this.errorAlert = false;
    //      this.successAlert = true;
    //      this.errorMessage = '';
    //      this.successMessage = response.data.message;
    //      var image_html = "<img src='"+response.data.image+"' class='img-thumbnail' width='200' />";
    //      this.uploadedImage = image_html;
    //      this.$refs.file.value = '';
    //     }
    //    });
    //   },
    async getAward() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "trainingInstituteApi/manage_award",
        this.edit
      );
      console.log("list data", respo);
      this.awards = respo.data.data;
      this.success = false;
      this.errorMessage = respo.data.message;
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.loading=true
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if(this.edit.description == ""){
        this.awardR()
        setTimeout(() => {
          this.loading = false;
        }, 1000);
      }else{
        this.cancelAwardR()
      let resp = await this.$axios.post(
        "trainingInstituteApi/manage_award",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.loading=false
        this.errorMessage = resp.data.message
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else if (resp.data.result === 1) {
        this.edit.action = "list";
        
        this.success = true;
        this.loading=false
        setTimeout(() => {
          this.success = false;
          this.dialog = false;
          
        }, 2000);
        
        this.getAward();
        this.$refs.file.reset();
      }
      }
    },

    deleteimg(award) {
      this.dialog2 = true;
      this.deleteId = award.award_id;
      console.log("award",award)
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        award_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post(
        "TrainingInstituteApi/manage_award",
        params
      );
      console.log("the deletion api", res.data);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.getAward();

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    // submitForm: function() {
    // this.edit.action = "add";
    //   this.edit.user_id = localStorage.getItem("userId");
    //   this.file = this.$refs.file.files;
    //   let formData = new FormData();
    //   formData.append("file", this.file);
    //  let res= this.$axios
    //     .post("/TrainingInstituteApi/manage_gallery", formData, {
    //       headers: {
    //         "Content-Type": "multipart/form-data"
    //       },

    //     })
    //     .then(function(response) {
    //       if (!response.data) {
    //         alert("File not uploaded.");
    //       } else {
    //         alert("File uploaded successfully.");
    //       }
    //       console.log("respodata",response.data)
    //     })
    //     .catch(function(error) {
    //       console.log(error);
    //     });
    //     console.log("respo", res);
    // },

    async openModal() {
      console.log("gallery clicked");
      this.dialog = true;
    },
  },
};
</script>
<style scoped>
a.btn {
  margin: 0 4px;
  top: -30px;
  left: 0px;
  position: relative;
}
.img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: -10px;
  right: -5px;
  z-index: 100;
  border: 2px solid red;
}
</style>
