<template>
  <div class="vendor-board">
    <div v-if="loader">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div class="bx profile_info" v-if="prof">
      <v-container>
        <!-- <v-alert
        type="error"
        class="desk"
        v-if="
          profile.about_us < 1 ||
          profile.country_name < 1 ||
          profile.state_name < 1 ||
          profile.city_name.lenght < 1 ||
          profile.area_name < 1 ||
          profile.pincode < 1
        "
        >
        <h5 style="color: #fff; margin: 0; position: relative">
          Your profile is incomplete, please update your profile.
          <router-link
            to="/customer/update_profile"
            class="btn"
            style="
              position: absolute;
              top: -6px;
              right: 0;
              background: #fff;
              color: #ff5252 !important;
            "
            >Update Profile</router-link
          >
        </h5>
        </v-alert> -->
        <!-- <h3 class="head2">Profile <a href="#" class="btn">Edit <i class="fa fa-pencil"></i> </a></h3> -->
        <v-row class="mb-3">
          <v-col class="text-left"><h4 class="head2">Profile</h4></v-col>
          <v-col class="text-right" v-if="rest">
            <router-link
              to="/customer/update_profile"
              @click.prevent="openModal"
            >
              <v-btn rounded color="grey darken-4" dark>
                Edit
                <v-icon right> mdi-pencil </v-icon>
              </v-btn>
            </router-link>
          </v-col>
          <v-col class="text-right" v-if="trainer">
            <router-link
              to="/corporate/update_trainerprofile"
              @click.prevent="openModal"
            >
              <v-btn rounded color="grey darken-4" dark>
                Edit
                <v-icon right> mdi-pencil </v-icon>
              </v-btn>
            </router-link>
          </v-col>
          <v-col class="text-right" v-if="hrs">
            <router-link
              to="/corporate/update_trainerprofile"
              @click.prevent="openModal"
            >
              <v-btn rounded color="grey darken-4" dark>
                Edit
                <v-icon right> mdi-pencil </v-icon>
              </v-btn>
            </router-link>
          </v-col>
        </v-row>

        <div class="row">
          <div class="col-md-3 form-group">
            <label for>Name</label>
            <p>{{ prof.name }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Email</label>
            <p>{{ prof.email }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Phone Number</label>
            <p>{{ prof.mobile_no }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Landline Number</label>
            <p>{{ prof.landline_no }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>DOB</label>
            <p>{{ prof.dob }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Gender</label>
            <p>{{ prof.gender }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Marital Status</label>
            <p>{{ prof.martial_status }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Country</label>
            <p>{{ prof.country_name }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>State</label>
            <p>{{ prof.state_name }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>City</label>
            <p>{{ prof.city_name }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Area</label>
            <p>{{ prof.area_name }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Pincode</label>
            <p>{{ prof.pincode }}</p>
          </div>
          <div class="col-md-3 form-group">
            <label for>Website</label>
            <p>
              <a href="#">{{ prof.website }}</a>
            </p>
          </div>
        </div>
        <v-container>
          <div class="my-5">
            <v-col class="text-right">
              <v-btn
                rounded
                color="grey darken-4"
                dark
                @click.prevent="openAddressModal"
              >
                Edit
                <v-icon right> mdi-pencil </v-icon>
              </v-btn>
            </v-col>

            <div class="bx" style="position: relative; top: 2px; left: -50px">
              <v-row
                ><v-col><h4 class="head2">Present Address</h4></v-col></v-row
              >
              <v-row
                ><v-col>{{ prof.present_address }}</v-col></v-row
              >
            </div>
          </div>

          <div class="my-5">
            <div class="bx" style="position: relative; top: -23px; left: -50px">
              <v-row
                ><v-col><h4 class="head2">Permanent Address</h4></v-col></v-row
              >
              <v-row
                ><v-col>{{ prof.permanent_address }}</v-col></v-row
              >
            </div>
          </div>
        </v-container>
        <div class="my-5">
          <v-row
            ><v-col class="text-left"><h4 class="head2">About me</h4></v-col>
            <v-col class="text-right"
              ><v-icon @click="editAboutDia(prof.about_us)"
                >mdi-pencil</v-icon
              ></v-col
            ></v-row
          >
          <v-row
            ><v-col>{{ prof.about_us }}</v-col></v-row
          >
        </div>
        <!-- <h4 class="head2">Current Job Description</h4>
        <div class="my-5">
          <v-row>
            <v-col>Designation</v-col>
            <v-col>Company</v-col>
            <v-col>Salary</v-col>
          </v-row>
          <v-row>
            <v-col>Developer</v-col>
            <v-col>Kazma Technology</v-col>
            <v-col>5000</v-col>
          </v-row>
        </div> 1 -->
      </v-container>
    </div>

    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              class="btn"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Profile</v-col>
        </v-card-title>
        <v-card-text style="background: #fff; float: left; width: 100%">
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="updateEmployment">
              <div class="">
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Name"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Email"
                    required
                  ></v-text-field>
                </div>

                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Landline Number"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="DOB"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Gender"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Marital Status"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Country"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="State"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="City"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Area"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Pincode"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Website"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-12">
                  <h4 class="head2">Permanent Address</h4>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Address"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Pincode"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="City"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="State"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-12">
                  <h4 class="head2">Present Address</h4>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Address"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="Pincode"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="City"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-6 form-group">
                  <v-text-field
                    dense
                    filled
                    label="State"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-12"><div class="head2">About You</div></div>
                <div class="col-md-12">
                  <v-textarea dense filled label="Message"></v-textarea>
                </div>
                <div class="col-md-12">
                  <h4 class="head2">Social Media Link</h4>
                </div>
                <div class="col-md-4">
                  <v-text-field filled label="Socials" required></v-text-field>
                </div>
              </div>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 30px"
              >
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert text type="success" align="left">
                    Employment added successfully!
                  </v-alert>
                </div>
              </div>
            </v-col>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                class="btn"
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
                @click.prevent="submitForm"
              >
                <span v-if="!loading2" style="color: #fff">Save</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <v-btn
                class="btn btn-red"
                style="margin-left: 7px; background-color: red"
                @click="dialog = false"
                >Cancel</v-btn
              >
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-dialog
      v-model="dialogAddress"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Edit Address</v-col>
        </v-card-title>
        <v-card-text>
        <v-form ref="file">
          <v-text-field
            v-model="present"
            ref="file"
            dense
            filled
            :rules="[(v) => !!v || 'This field is required']"
            label="Present Address *"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="permanent"
            ref="file"
            dense
            filled
            :rules="[(v) => !!v || 'This field is required']"
            label="Permanent Address *"
            required
          >
          </v-text-field>
        </v-form>
        <v-col md="12" lg="12" xs="12" xsm="12">
          <div
            v-if="error1"
            class="form-group fadein col-md-12"
            style="margin-bottom: 30px"
          >
            <v-alert class="" text prominent type="error">
              {{ errorMessage }}
            </v-alert>
          </div>
          <div
            class="form-group fadein col-md-12"
            v-if="success1"
            style="margin-bottom: 15px"
          >
            <div class="row">
              <v-alert text type="success" align="left">
                Address added successfully!
              </v-alert>
            </div>
          </div>
        </v-col>

        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="loading"
              color="#000"
              @click="UpdateAddress"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="dialogAddress = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="editAboutDialog"
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit About </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="editAboutContent"
                dense
                filled
                counter
                maxlength="200"
                :rules="[(v) => !!v || 'Skill is required']"
                required
              >
              </v-text-field>
            </div>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div v-if="error" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div class="form-group fadein" v-if="Edited">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Updated About Successfully!.
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :loading="loading"
                  :disabled="loading"
                  color="#000"
                  @click="updateAboutMe"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="editAboutDialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// export default {
//   props: ["profile", "loader"],
//   name: "BasicInfo",
// };
export default {
  props: ["profile", "loader"],
  name: "BasicInfo",
  data() {
    return {
      dialog: false,
      editAboutDialog: false,
      editAboutContent: "",
      profile: {
        permanent_address: "",
        present_address: "",
      },
      rest: false,
      trainer: false,
      success1: false,
      error1: false,
      hrs: false,
      Edited: false,
      dialog2: false,
      dialogAddress: false,
      editData: {},
      user_id: "",
      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      prof: "",
      present: "",
      permanent: "",

      loading: false,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: true,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
    };
  },

  methods: {
    editAboutDia(about) {
      this.editAboutDialog = true;
      this.editAboutContent = about;
    },
    openAddressModal() {
      this.dialogAddress = true;
      this.present = this.prof.present_address;
      this.permanent = this.prof.permanent_address;
    },
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else if (type === "HR's") {
        this.hrs = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.employement_list;
        this.aboutLoading = false;
        this.prof = res.data.data;
        console.log("customerprofile", res.data.data);
        this.present_address = this.profileData.present_address;
        this.permanent_address = this.profileData.permanent_address;
        this.permanent = this.profileData.permanent_address;
        this.present = this.profileData.present_address;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    async updateAboutMe() {
      this.loading = true;
      let payload = {
        user_id: this.user_id,
        action: "update",
        about_me: this.editAboutContent,
      };
      let res = await this.$axios.post("/CustomerApi/manage_about_me", payload);
      if (res.data.result === 1) {
        this.Edited = true;
        this.loading = false;
        this.getProfile();
        setTimeout(() => {
          this.Edited = false;
          this.editAboutDialog = false;
        }, 2000);
      } else {
        this.loading = false;
        this.error = true;
        this.errorMessage = res.data.message;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      }
    },
    openModal(data) {
      this.dialog = true;
      this.editData = data;
    },
    async submitForm() {
      this.editData.user_id = this.user_id;
      delete this.editData["notice_period"];
      delete this.editData["resume"];
      this.editData.end_date = this.editData.work_end_date;
      this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];
      let res = await this.$axios.post(
        "/CustomerApi/update_employement",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = res.data.message;
        this.dialog = false;
      } else if (res.data.result === 1) {
        this.getProfile();
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
      }
    },
    async UpdateAddress() {
      this.loading = true;
      let res = await this.$axios.post("/CustomerApi/update_address", {
        user_id: this.user_id,
        present_address: this.present,
        permanent_address: this.permanent,
      });
      if (res.data.result === 0) {
        this.error1 = true;
        this.errorMessage = res.data.message;
        this.loading = false;
        setTimeout(() => {
          this.error1 = false;
        }, 2000);
      } else if (res.data.result === 1) {
        this.loading = false;
        this.success1 = true;
        setTimeout(() => {
          this.dialogAddress = false;
          this.success1 = false;
        }, 2000);

        this.getProfile();
      }
    },
    deleteModal(item) {
      this.dialog2 = true;
      this.deleteId = item.employement_id;
      this.index = item;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        const index = this.data.indexOf(this.index);
        this.data.splice(index, 1);
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
    this.getcorpo();
  },
};
</script>

<style>
.profile_info .form-group span:last-child {
  display: none;
}
th {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  width: 200px;
  position: relative;
  left: -70px;
}
td {
  top: 0px;
  bottom: 0px;
  left: 5px;
  right: 0px;
  position: relative;
}
.bx {
  position: relative;
  top: -40px;
  left: -50px;
}
</style>
