<template>
  <div class="bx">
    <v-container id="certi">
      <v-row class="mb-2">
        <v-col class="text-left"
          ><h4 class="head2">Trainging & Certification</h4></v-col
        >
        <v-col class="text-right" v-if="rest">
          <router-link to="/customer/training&certification">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="trainer">
          <router-link to="/corporate/training&certification">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="hrs">
          <router-link to="/corporate/training&certification">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
      </v-row>
      <div
        class="education grey-box mb-2 row"
        style="border-radius: 5px"
        v-for="(l, i) in profileData"
        :key="i"
      >
          <v-col md="2">
            <img
              :src="l.docs"
              style="width: 120px; border-radius: 5px; height: 100px"
            />
          </v-col>
          <v-col class="text-left " md="8" align-self="center"
            ><h6>{{ l.description }}</h6></v-col
          >
          <v-col class="text-right" align-self="center">
            <a @click.prevent="openModal1(l)">
              <v-icon> mdi-pencil </v-icon>
            </a>
            <a @click.prevent="deleteModaltra(l)">
              <v-icon> mdi-delete </v-icon>
            </a>
          </v-col>
          <!-- <h5>{{ l.company }}</h5>
          <p>
            From {{ l.work_start_date || l.start_date }} -
            <span v-if="l.is_current === '1'"> Present</span>
            <span v-else>{{ l.work_end_date || l.end_date }}</span>
          </p> -->
      </div>

      <!--divided-->

      <!-- <div class="education" v-for="(l, i) in profileD" :key="i">
        <div>
          <i class="fa fa-certificate" aria-hidden="true"></i>
        </div>
        <div>
          <h6>
            {{ l.description }}
            <a @click.prevent="deleteModalcer(l)" style="margin: 0 4px"
              ><i class="ion-trash-b"></i
            ></a>
            <a @click.prevent="openModal(l)" style="margin: 0 4px"
              ><i class="ion-edit"></i
            ></a>
          </h6>
          <h5>{{ l.company }}</h5>
          <p>
            From {{ l.work_start_date || l.start_date }} -
            <span v-if="l.is_current === '1'"> Present</span>
            <span v-else>{{ l.work_end_date || l.end_date }}</span>
          </p>
        </div>
      </div> -->
    </v-container>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn color="green darken-1" text @click="dialog2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteItem"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-row justify="center">
      <v-dialog v-model="dialog3" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              class="btn"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItemcer"
              class="btn"
              >Yes, delete it!</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <!--________________________________________________________________________________________________-->

    <v-dialog
      v-model="dialog1"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Training</v-col>
        </v-card-title>
        <v-card-text style="background: #fff; float: left; width: 100%">
          <v-form ref="editTraining" v-model="valid">
            <div class="updateEmployment">
              <div class="">
                <!-- <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData1.industry"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Industry is required']"
                    label="Industry *"
                    required
                  ></v-text-field>
                </div> -->

                <!-- <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData1.department"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Department is required']"
                    label="Department *"
                    required
                  ></v-text-field>
                </div> -->
                <!-- <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData1.company"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Company name is required']"
                    label="Company / Organization Name *"
                    required
                  ></v-text-field>
                </div> -->

                <div class="col-md-12">
                  <v-text-field
                    v-model="editData1.description"
                    clearable
                    clear-icon="close"
                    dense
                    filled
                    required
                    :rules="[(v) => !!v || 'Name is required']"
                    label="Training Name *"
                  ></v-text-field>
                </div>
                <div class="col-md-10 form-group">
                  <v-file-input
                    v-model="image_string"
                    dense
                    filled
                    show-size
                    v-on:change="onEditImage"
                    required
                    :rules="[(v) => !!v || 'Training certificate is required']"
                    label="Upload training certificate*"
                  ></v-file-input>
                </div>
                <div class="col-md-2 form-group">
                  <img
                    style="
                      width: 50px;
                      height: 50px;
                      object-fit: cover;
                      border-radius: 4px;
                    "
                    v-if="displayimage"
                    :src="displayimage"
                  />
                </div>
              </div>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 30px"
              >
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert text type="success" align="left">
                    Training Edited successfully!
                  </v-alert>
                </div>
              </div>
            </v-col>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                :disabled="loading2"
                :loading="loading2"
                color="grey darken-4"
                rounded
                dark
                @click.prevent="submittraForm"
                >Save
              </v-btn>
              <v-btn rounded dark color="red" @click="closeEditTrainingDialog"
                >Cancel</v-btn
              >
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!--________________________________________________________________________________________________-->
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Certification</v-col>
        </v-card-title>
        <v-card-text style="background: #fff; float: left; width: 100%">
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="updateEmployment">
              <div class="">
                <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData.industry"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Industry is required']"
                    label="Industry"
                    required
                  ></v-text-field>
                </div>

                <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData.department"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Department is required']"
                    label="Department *"
                    required
                  ></v-text-field>
                </div>
                <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData.company"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Company name is required']"
                    label="Company / Organization Name *"
                    required
                  ></v-text-field>
                </div>

                <div class="col-md-12">
                  <v-textarea
                    v-model="editData.description"
                    clearable
                    clear-icon="close"
                    dense
                    filled
                    :rules="[(v) => !!v || 'Description is required']"
                    label="Write about your training *"
                  ></v-textarea>
                </div>
                <div class="col-md-12 form-group">
                  <v-file-input
                    v-model="image_string"
                    dense
                    filled
                    show-size
                    v-on:change="onChange"
                    label="Upload certificate *"
                  ></v-file-input>
                </div>
              </div>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 30px"
              >
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert text type="success" align="left">
                    certificate Edited successfully!
                  </v-alert>
                </div>
              </div>
            </v-col>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
                @click.prevent="submitcerForm"
              >
                <span v-if="!loading2" style="color: #fff">Save</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <v-btn
                style="margin-left: 7px; background-color: red"
                @click="dialog = false"
                >Cancel</v-btn
              >
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "Employment",
  props: ["data"],
  data() {
    return {
      dialog: false,
      trainer: false,
      rest: false,
      hrs: false,
      certification_id: "",
      training_id: "",
      dialog2: false,
      dialog3: false,
      editData: {
        user_id: "",
        certification_id: "",
        image_string: "",
        description: "",
      },
      dialog1: false,
      editData1: {
        user_id: "",
        training_id: "",
        image_string: "",
        description: "",
      },
      user_id: "",
      profileData: "",
      profileD: "",
      deleteId: "",
      deleteId2: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      displayimage: "",
    };
  },
  methods: {
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else if (type === "HR's") {
        this.hrs = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    onEditImage(e) {
      if (e === undefined) {
        this.editData1.image_string = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.editData1.image_string = reader.result;
          this.displayimage = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    onChange(e) {
      if (e === undefined) {
        this.editData.image_string = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.editData.image_string = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.traings_list;
        // this.profileD = res.data.data.certifications_list;
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(l) {
      this.dialog = true;
      this.editData = l;

      this.deleteId = l.certification_id;
      this.index = l;
    },
    openModal1(l) {
      console.log("dfgdgdf", l);
      this.dialog1 = true;
      this.success = false;
      this.error = false;
      this.editData1.training_id = l.training_id;
      this.displayimage = l.docs;
      this.editData1.description = l.description;

      this.deleteId2 = l.training_id;
      this.index = l;
    },
    closeEditTrainingDialog() {
      this.dialog1 = false;
      this.$refs.editTraining.reset();
      this.displayimage = "";
    },
    async submittraForm() {
      this.error = false;
      this.editData1.user_id = this.user_id;
      delete this.editData["notice_period"];
      delete this.editData["resume"];
      this.editData.end_date = this.editData.work_end_date;
      this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];

      this.editData1.user_id = localStorage.getItem("userId");
      if (!this.$refs.editTraining.validate()) {
        this.errorMessage = "Please fill the mandatory field";
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.loading2 = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/CustomerApi/update_trainings",
          this.editData1
        );
        console.log(res);
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
          // setTimeout(() => (this.dialog1 = false), 2000);
        } else if (res.data.result === 1) {
          this.getProfile();
          this.success = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          console.log(res);
          setTimeout(() => (this.dialog1 = false), 2000);

          // this.$refs.file.reset();
        }
      }
    },
    async submitcerForm() {
      this.error = false;
      this.$refs.form.validate();
      this.editData.user_id = this.user_id;
      delete this.editData["notice_period"];
      delete this.editData["resume"];
      this.editData.end_date = this.editData.work_end_date;
      this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];

      this.editData.user_id = localStorage.getItem("userId");
      this.editData.certification_id = this.deleteId;
      let res = await this.$axios.post(
        "/CustomerApi/update_certifications",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = res.data.errorMessage;
        setTimeout(() => {
          this.error = false;
        }, 2000);
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (res.data.result === 1) {
        this.getProfile();
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
        setTimeout(() => {
          this.dialog = false;
          this.success = false;
        }, 2000);

        // this.$refs.folder.reset();
      }
    },
    deleteModalcer(l) {
      this.dialog3 = true;
      this.deleteId = l.certification_id;
      this.index = l;
    },
    async deleteItemcer() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("/CustomerApi/delete_certification", {
        user_id: this.user_id,
        certification_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog3 = false;
        this.deleteProcessing = false;
        this.getProfile();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    deleteModaltra(l) {
      this.dialog2 = true;
      this.deleteId = l.training_id;
      this.index = l;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("/CustomerApi/delete_training", {
        user_id: this.user_id,
        training_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getProfile();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
    this.getcorpo();
  },
};
</script>

<style></style>
