 <template>
<div class="">
  <div class="bx" style="">
      <h4 class="head2">Enrolled Courses</h4>
    <div class="row"> 
        <!--fragment#15cdd010527#head-->
       <!-- <div class="col-md-4">
            <div class="isPromoted" fragment="15cdd010527">
            <a href="/customer/enrollcoursedetails" class="box"
            ><img
                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                alt=""
            />
            <article>
                <h4>The Adventure Of The Speckled Band</h4>
                <p>By Kazma</p>
            <h6>₹ 2000.00</h6>
            <div class="art-info">
              <span class="left"><i class="ion-android-star"></i> 0 </span>
              <span class="right"
                ><i aria-hidden="true" class="ion-ios-stopwatch"></i>
                2 Years
              </span>
            </div>
          </article></a
        >
      </div> -->
      </div>  
      <!--fragment#15cdd010527#tail--><!--fragment#3d523681d1#head-->
    <div class="col-md-4" v-for="(list , i) in courseslist" :key="i">
      
          <div class="" fragment="3d523681d1">
         <router-link :to="`courses/${list.name.replace(
                              /\s/g,
                              '-'
                            )}/${list.course_id}`" class="box"
          >
         <img
            :src="list.image"
            alt=""
          />
          <article>
            <h4>{{list.name}}</h4>
            <p>By {{list.training_institute}}</p>
            <h6>₹ {{list.fee}}</h6>
            <div class="art-info">
              <span class="left"><i class="ion-android-star"></i> {{list.rating}} </span>
              <span class="right"
                ><i aria-hidden="true" class="ion-ios-stopwatch"></i>
                {{list.duration}}
              </span>
            </div>
          </article>
       </router-link>
      </div>
    
     </div> 
      <!--fragment#3d523681d1#tail--><!--fragment#17491d99d48#head-->
     <!-- <div class="col-md-4">
          <div class="" fragment="17491d99d48">
        <a href="/courses/Core-Java/85" class="box"
          ><img
            src="https://exreed.com/backend/uploads/course/1600074100.jpeg"
            alt=""
          />
          <article>
            <h4>Core Java</h4>
            <p>By Krishna Training Institute</p>
            <h6>₹ 1000.00</h6>
            <div class="art-info">
              <span class="left"><i class="ion-android-star"></i> 0 </span>
              <span class="right"
                ><i aria-hidden="true" class="ion-ios-stopwatch"></i>
                60 Min
              </span>
            </div>
          </article></a
        >
      </div>
      </div>
    
    </div> -->
    
  </div>
</div>
</template>
<script>
export default {
  name: "enrolledCourses",
  data() {
    return {
      user: null,
      courseslist: "",
    };
  },
  created() {
    if (process.browser) {
      this.user=localStorage.getItem("userId");
    }
    if (this.user==null){
      this.$router.push("/login");
    }

  },
  methods: {
   async getCourses() {
     this.courseLoader= true;
     let res= await this.$axios.post('CustomerApi/purchased_course_list' , {
       user_id: this.user,
     });
     console.log("amar data",res);
     if (res.data.result === 1) {
       this.courseslist= res.data.data;
       this.courseLoader= false;
     }
     else {

     }
    }
  },
  mounted() {
    this.getCourses();
  }
};
</script>