<template>
  <div class="bx">
    <v-container id="edu">
      <v-row class="mb-2">
        <v-col class="text-left">
          <h4 class="head2">Education</h4>
        </v-col>
        <v-col class="text-right" v-if="rest">
          <router-link to="/customer/add_education">
            <v-btn rounded color="grey darken-4" dark> Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="trainer">
          <router-link to="/corporate/add_education">
            <v-btn rounded color="grey darken-4" dark> Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="hrs">
          <router-link to="/corporate/add_education">
            <v-btn rounded color="grey darken-4" dark> Add New</v-btn>
          </router-link>
        </v-col>
      </v-row>

      <div
        class="education grey-box mb-2"
        style="border-radius: 5px"
        v-for="l in profileData"
        :key="l.education_id"
      >
        <div>
          <i
            style="
              width: 150px;
              height: 160px;
              font-size: 4rem;
              border-radius: 5px;
              background-color: #d6dbdf;
            "
            aria-hidden="true"
            class="fa fa-university pl-10 pt-9"
          ></i>
        </div>
        <div class="ml-15">
          <v-row>
            <v-col class="text-left"
              ><h6>{{ l.college }}</h6></v-col
            >
            <v-col class="text-right mr-4">
              <a @click.prevent="openModal(l.education_id)">
                <v-icon> mdi-pencil </v-icon>
              </a>
              <a @click.prevent="deleteModal(l)">
                <v-icon> mdi-delete </v-icon>
              </a>
            </v-col>
          </v-row>
          <h5>{{ l.specialization }}</h5>
          <h5>{{ l.qualification }}, {{ l.stream }}</h5>
          <p>{{ l.course_type }} ({{ l.passing_year }})</p>
        </div>
      </div>
    </v-container>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Education</v-col>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.qualification_id"
                :items="qualifications"
                :loading="loadingDrop"
                item-text="name"
                item-value="id"
                @change="getStreams"
                label="Qualification *"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                required
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.stream_id"
                :loading="loadingDrop"
                :items="streams"
                item-text="name"
                item-value="id"
                @change="getSpecializations"
                label="Stream*"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                required
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.specialization_id"
                :items="specializations"
                :loading="loadingDrop"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                label="Specialization *"
                item-text="name"
                item-value="id"
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-text-field
                v-model="editData.college"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                label="University/Institute *"
                required
              ></v-text-field>
            </div>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.course_type_id"
                :items="courseTypes"
                :loading="loadingDrop"
                item-text="name"
                item-value="id"
                label="Course Type*"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                required
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.passing_year_id"
                :items="passingOutYears"
                :loading="loadingDrop"
                item-text="name"
                item-value="name"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                label="Passing out year *"
                required
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-select
                v-model="editData.grading_system_id"
                :items="gradingSystems"
                :loading="loadingDrop"
                @change="selectGrading()"
                item-text="name"
                item-value="id"
                dense
                filled
                :rules="[(v) => !!v || 'Required Field']"
                label="Grading System *"
                required
              ></v-select>
            </div>
            <div class="col-md-4 form-group">
              <v-text-field
                v-model="grade_marks"
                v-if="display_grade_marks"
                dense
                filled
                :rules="graderules"
                placeholder="ex:- A,A+,AA etc*"
                required
              ></v-text-field>
              <v-text-field
                v-model="percentage_marks"
                v-if="display_percentage_marks"
                :rules="graderules"
                dense
                type="number"
                filled
                placeholder="ex:- 50, 55.5 etc"
                required
              ></v-text-field>
            </div>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <v-alert v-if="error" text prominent type="error">
                {{ errorMessage }}
              </v-alert>
              <v-alert v-if="success" text type="success" align="left">
                Education Edited Successfully.
              </v-alert>
            </v-col>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col class="pl-8">
              <v-btn
                :loading="loading2"
                :disabled="loading2"
                rounded
                dark
                color="grey darken-4"
                @click="submitForm"
              >
                <span v-if="!loading2" style="color: #fff">Save</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <v-btn color="red" rounded dark @click="closeEducationDia"
                >Cancel</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn color="green darken-1" text @click="dialog2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteItem"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { base } from "~/components/base";
export default {
  name: "Education",
  props: ["data", "loader"],
  data() {
    return {
      dialog: false,
      rest: false,
      trainer: false,
      hrs: false,
      graderules: [(value) => !!value || "Required."],
      rules: [
        (value) => !!value || "This field is required",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      dialog2: false,
      editData: {
        education_id: "",
        grading_system_id: "",
        qualification_id: "",
        stream_id: "",
        specialization_id: "",
        college: "",
        course_type_id: "",
        passing_year_id: "",
        marks: "",
      },
      user_id: "",
      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      user_id: "",
      isShowing: false,
      valid: false,
      loadingDrop: true,
      loading2: false,

      qualifications: [],
      streams: [],
      specializations: [],
      courseTypes: [],
      passingOutYears: [],
      gradingSystems: [],
      education_id: "",
      grading_sys: "",
      grade: false,
      percent: false,
      grade_marks: "",
      percentage_marks: "",
      grade_id: "",
      display_percentage_marks: false,
      display_grade_marks: false,
    };
  },
  methods: {
    selectGrading() {
      if (this.editData.grading_system_id == 1) {
        (this.display_percentage_marks = false),
          (this.display_grade_marks = true);
      }
      if (this.editData.grading_system_id == 2) {
        (this.display_percentage_marks = true),
          (this.display_grade_marks = false);
      }
    },
    closeEducationDia() {
      this.editData.grading_system_id = this.grade_id;
      this.dialog = false;
    },
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else if (type === "HR's") {
        this.hrs = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log("", res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.eduction_list;
        this.education_id = res.data.data.eduction_list[0].education_id;
        console.log("profile", this.profileData);
        this.aboutLoading = false;
      } else {
      }
    },
    async getQualifications() {
      let res = await this.$axios.get("CustomerApi/qualification_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.qualifications = res.data.data;
        this.loadingDrop = false;
      } else {
      }
    },
    async getCourseTypes() {
      let res = await this.$axios.get("CustomerApi/course_type_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.courseTypes = res.data.data;
        this.loadingDrop = false;
      } else {
      }
    },
    async getPassingOutYear() {
      let res = await this.$axios.get("CustomerApi/passing_years_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.passingOutYears = res.data.data;
        console.log("dfgssf", res.data.data);
        this.loadingDrop = false;
      } else {
      }
    },
    async getGradingSystems() {
      let res = await this.$axios.get("CustomerApi/grading_system_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.gradingSystems = res.data.data;

        this.loadingDrop = false;
      } else {
      }
    },
    async getStreams(id) {
      let uid = id || this.data.qualification_id;
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };
      fetch(`${base}CustomerApi/stream_list/${uid}`, requestOptions)
        .then((response) => response.json())
        .then((result) => {
          // console.log(result.data)
          if (result.result === 1) {
            this.streams = result.data;
            this.loadingDrop = false;
          } else {
          }
        })
        .catch((error) => console.log("error", error));
    },
    async getSpecializations(id) {
      // console.log(id);
      let uid = id || this.data.stream_id;
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(`${base}CustomerApi/specialization_list/${id}`, requestOptions)
        .then((response) => response.json())
        .then((result) => {
          if (result.result === 1) {
            this.specializations = result.data;
            this.loadingDrop = false;
          } else {
          }
        })
        .catch((error) => console.log("error", error));
    },
    openModal(id) {
      let edu = this.profileData.find((edu) => edu.education_id === id);
      console.log("tertete", edu);
      this.editData.grading_system_id = edu.grading_system_id;
      this.grade_id = edu.grading_system_id;
      if (edu.grading_system_id == 1) {
        this.percentage_marks = "";
        this.grade_marks = edu.marks;
        (this.display_percentage_marks = false),
          (this.display_grade_marks = true);
      }
      if (edu.grading_system_id == 2) {
        this.percentage_marks = edu.marks;
        this.grade_marks = "";
        (this.display_percentage_marks = true),
          (this.display_grade_marks = false);
      }
      this.success = false;
      this.valid = false;
      this.loading2 = false;
      this.error = false;
      this.errorMessage = "";
      this.dialog = true;
      this.editData.education_id = id;

      this.editData.qualification_id = edu.qualification_id;
      this.editData.stream_id = edu.stream_id;
      this.editData.specialization_id = edu.specialization_id;
      this.editData.college = edu.college;
      this.editData.course_type_id = edu.course_type_id;
      this.editData.passing_year_id = edu.passing_year;
      this.editData.marks = edu.marks;
      this.getStreams(edu.qualification_id);
      this.getSpecializations(edu.stream_id);
      delete this.editData["notice_period"];
      this.education_id = edu.education_id;
    },
    deleteModal(l) {
      this.dialog2 = true;
      this.deleteId = l.education_id;
      this.index = l;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_education", {
        user_id: this.user_id,
        education_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getProfile();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
    async submitForm() {
      this.error = false;
      this.editData.user_id = this.user_id;
      if (this.editData.grading_system_id == 1) {
        this.editData.marks = this.grade_marks;
      }
      if (this.editData.grading_system_id == 2) {
        this.editData.marks = this.percentage_marks;
      }
      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];

      if (
        this.editData.education_id === "" ||
        this.editData.grading_system_id === "" ||
        this.editData.qualification_id === "" ||
        this.editData.stream_id === "" ||
        this.editData.specialization_id === "" ||
        this.editData.college === "" ||
        this.editData.course_type_id === "" ||
        this.editData.passing_year_id === "" ||
        this.editData.marks === ""
      ) {
        this.errorMessage = "Please fill all mandatory field";
        this.error = true;
        this.loading2 = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/CustomerApi/update_education",
          this.editData
        );
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.errorMessage;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.education_id = this.education_id;
          this.getProfile();
          this.success = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          console.log(res);
          setTimeout(() => (this.dialog = false), 2000);
        }
      }
    },
  },
  async mounted() {
    this.user_id = localStorage.getItem("userId");
    await this.getQualifications();
    this.getProfile();
    this.getPassingOutYear();
    this.getGradingSystems();
    this.getCourseTypes();
    this.getcorpo();
  },
};
</script>

<style>
/* .ion-edit{
    content: "\f2bf";
    top: 0px;
    left: -80px;
    position: relative;
} */
.ion-trash-b:before {
  content: "\f253";
  top: 0px;
  left: -60px;
  position: relative;
}
</style>
