<template>
  <div class="bx">
    <v-container id="emp">
      <v-row class="mb-2">
        <v-col class="text-left">
          <h4 class="head2">Experience / Employment</h4>
        </v-col>
        <v-col class="text-right" v-if="rest">
          <router-link to="/customer/add_employment">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="trainer">
          <router-link to="/corporate/add_employment">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
        <v-col class="text-right" v-if="hrs">
          <router-link to="/corporate/add_employment">
            <v-btn rounded color="grey darken-4" dark>Add New</v-btn>
          </router-link>
        </v-col>
      </v-row>
      <div
        class="education grey-box mb-2"
        style="border-radius: 5px"
        v-for="(l, i) in profileData"
        :key="i"
      >
        <div>
          <!-- <v-icon aria-hidden="true"  style="width: 150px; height: 160px; font-size:5rem">mdi-collage</v-icon> -->
          <i
            style="
              width: 150px;
              height: 160px;
              font-size: 4rem;
              border-radius: 5px;
              background-color: #d6dbdf;
            "
            class="fa fa-align-center pl-10 pt-10"
            aria-hidden="true"
          ></i>
        </div>
        <div class="ml-15">
          <v-row>
            <v-col class="text-left"
              ><h6>{{ l.designation }}</h6></v-col
            >
            <v-col class="text-right mr-2">
              <a @click.prevent="openModal(l)"><v-icon> mdi-pencil </v-icon></a>
              <a @click.prevent="deleteModal(l)"
                ><v-icon> mdi-delete </v-icon></a
              >
            </v-col>
          </v-row>
          <h5>Curren Employee: {{ l.company }}</h5>

          <p>
            From {{ l.work_start_date || l.start_date }} -
            <span v-if="l.is_current === '1'"> Present</span>
            <span v-else>{{ l.work_end_date || l.end_date }}</span>
          </p>
          <h5>Salary: {{ l.current_salary }}</h5>
          <h5>Notice Period: {{ l.notice_period }}</h5>
        </div>
      </div>
    </v-container>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn color="green darken-1" text @click="dialog2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteItem"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Edit Employment </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="editData.designation"
                dense
                filled
                :rules="[(v) => !!v || 'Designation is required']"
                label="Designation *"
                required
              ></v-text-field>
            </div>
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="editData.industry"
                dense
                filled
                :rules="[(v) => !!v || 'Industry is required']"
                label="Industry *"
                required
              ></v-text-field>
            </div>

            <div class="col-md-12 form-group">
              <v-text-field
                v-model="editData.department"
                dense
                filled
                :rules="[(v) => !!v || 'Department is required']"
                label="Department *"
                required
              ></v-text-field>
            </div>

            <div class="col-md-12 form-group" v-if="showDropdown">
              <v-autocomplete
                v-model="organiz"
                :items="organizations"
                item-text="company_name"
                item-value="company_name"
                :search-input.sync="search"
                @keyup="getSuggestion()"
                @change="checkOrganisation()"
                flat
                hide-no-data
                hide-details
                label="Company / Organization Name*"
                solo-inverted
              ></v-autocomplete>
            </div>
            <div class="col-md-12" v-if="showText">
              <v-text-field
                v-model="changedOrganization"
                dense
                filled
                :rules="[(v) => !!v || 'Company is required']"
                label="Company / Organization Name *"
                required
              ></v-text-field>
            </div>
            <div class="col-md-12">
              <label style="">Is this is your current company ?</label>
            </div>
            <div class="col-md-12">
              <div>
                <v-radio-group v-model="editData.is_current" row>
                  <v-radio label="Yes" @click.prevent="" value="1"></v-radio>
                  <v-radio label="No" value="0"></v-radio>
                </v-radio-group>
              </div>
            </div>
            <div
              v-if="editData.is_current === '0' || editData.is_current === '1'"
            >
              <v-container>
                <v-row>
                  <v-col md="5" lg="5" sm="12" xs="12">
                    <label>Started working from</label>
                    <v-text-field
                      label="Start Date*"
                      outlined
                      :value="start_date"
                      type="date"
                      :date-format="
                        (start_date) => new Date(start_date).toDateString()
                      "
                      v-model="start_date"
                    ></v-text-field>
                  </v-col>
                  <v-col class="col-md-5">
                    <div>
                      <label for>Worked till</label>
                      <div v-if="editData.is_current === '1'">
                        {{
                          editData.is_current === "1"
                            ? (editData.end_date = "")
                            : editData.end_date
                        }}
                        <v-text-field
                          v-model="editData.end_date"
                          dense
                          filled
                          value=""
                          readonly
                          label="Present"
                        ></v-text-field>
                      </div>
                      <div v-if="editData.is_current === '0'">
                        <v-text-field
                          label="End Date*"
                          outlined
                          :value="end_date"
                          type="date"
                          :date-format="
                            (end_date) => new Date(end_date).toDateString()
                          "
                          v-model="end_date"
                        ></v-text-field>
                      </div>
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </div>
            <v-col md="12" lg="12" sm="12" xs="12">
              <label>Current Salary</label>
              <v-row>
                <v-col md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="editData.currency"
                    dense
                    filled
                    label="Currency"
                  ></v-text-field>
                </v-col>
                <v-col md="6" lg="6" sm="12" xs="12">
                  <v-text-field
                    v-model="editData.current_salary"
                    dense
                    filled
                    label="Salary"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>

            <div class="col-md-12">
              <v-textarea
                v-model="editData.description"
                clearable
                clear-icon="close"
                dense
                filled
                counter
                maxlength="200"
                label="Describe your job profile"
              ></v-textarea>
            </div>
            <div class="col-md-4">
              <v-select
                v-model="editData.notice_period_id"
                :items="noticePeriods"
                item-text="name"
                item-value="id"
                dense
                filled
                label="Notice Period"
              ></v-select>
            </div>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <v-alert v-if="error" text prominent type="error">
                {{ errorMessage }}
              </v-alert>
              <v-alert v-if="success" text type="success" align="left">
                Employment Edited Successfully.
              </v-alert>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  :disabled="!valid || loading2"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading2" style="color: #fff">Save</span>
                  <template v-else>
                    <span>Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  style="margin-left: 7px; background-color: red"
                  @click="closeEditEmploymentDia"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "Employment",
  props: ["data"],
  data() {
    return {
      dialog: false,
      rest: false,
      trainer: false,
      hrs: false,
      dialog2: false,
      editData: {},
      user_id: "",
      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      organizations: [],
      search: "",
      showDropdown: true,
      showText: false,
      organiz: "",
      changedOrganization: "",
      end_date: "",
      start_date: "",
    };
  },
  methods: {
    closeEditEmploymentDia() {
      this.dialog = false;
      (this.showText = false), (this.organiz = this.editData.company);
      this.changedOrganization = "";
    },
    checkOrganisation() {
      if (this.organiz === "Others") {
        this.showText = true;
      }
    },
    async getSuggestion() {
      let res = await this.$axios.post("CustomerApi/search", {
        search_string: this.search,
      });
      if (res.data.result === 1) {
        this.organizations = res.data.data;
        console.log("organisationslist", res.data.data);
        this.organizations.push({
          user_id: "",
          company_name: "Others",
          corporate_type: "",
        });
      } else {
        this.organizations.push({
          user_id: "",
          company_name: "Others",
          corporate_type: "",
        });
      }
    },
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else if (type === "HR's") {
        this.hrs = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.employement_list;
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(l) {
      if (l !== "") {
        this.organizations = [
          {
            company_name: l.company,
          },
        ];
        this.organiz = l.company;
      }
      if (this.organiz === "") {
        this.getSuggestion();
      }
      console.log("gdgffsdf", l);
      this.editData.designation = l.designation;
      this.editData.industry = l.industry;
      this.editData.department = l.department;
      this.editData.company = l.company;
      this.editData.is_current = l.is_current;
      this.editData.start_date = l.work_start_date;
      this.editData.end_date = l.work_end_date;
      this.editData.current_salary = l.current_salary;
      this.editData.currency = l.currency;
      this.editData.description = l.description;
      this.editData.notice_period_id = l.notice_period_id;
      this.editData.employement_id = l.employement_id;
      this.start_date = l.work_start_date;
      this.end_date = l.work_end_date;

      this.dialog = true;
      this.success = false;
    },
    async submitForm() {
      this.error = false;
      this.$refs.form.validate();
      this.editData.user_id = this.user_id;
      if (this.changedOrganization) {
        this.editData.company = this.changedOrganization;
      } else {
        this.editData.company = this.organiz;
      }
      delete this.editData["notice_period"];
      delete this.editData["resume"];

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];
      this.editData.start_date = this.start_date;
      this.editData.end_date = this.end_date;
      let res = await this.$axios.post(
        "/CustomerApi/update_employement",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = res.data.message;
        // this.dialog = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else if (res.data.result === 1) {
        this.getProfile();
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        this.showText = false;
        this.changedOrganization = "";
        console.log(res);
        setTimeout(() => {
          this.dialog = false;
          this.success = false;
        }, 2000);
      }
    },
    deleteModal(l) {
      this.dialog2 = true;
      this.deleteId = l.employement_id;
      this.index = l;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.getProfile();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
    this.getcorpo();
  },
};
</script>

<style>
.ion-edit {
  content: "\f2bf";
  top: 0px;
  left: -20px;
  position: relative;
}
.ion-trash-a {
  content: "\f253";
  top: 0px;
  left: -10px;
  position: relative;
}
</style>
