<template>
  <div class="bx">
    <v-tabs background-color="#FAFAFB" color="black">
      <v-tab>Enrolled Courses</v-tab>
      <v-tab>Jobs Applied</v-tab>
      <v-tab-item>
        <div id="Course" style="padding: 20px">
          <h3 class="small-title">Courses</h3>
          <div v-if="loader">
            <div
              class=""
              style="
                display: flex;
                background: #fff;
                float: left;
                width: 100%;
                padding: 25px;
                border-radius: 7px;
                position: relative;
                margin-bottom: 15px;
                z-index: 10;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              "
            >
              <!-- <Loader /> -->
              <v-row>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </div>
          <div class="row" v-else>
            <div v-for="(l, i) in data" :key="i" class="col-md-4">
              <div class="box">
                <img :src="l.image" alt />
                <article>
                  <h4>{{ l.name }}</h4>
                  <p>By {{ l.training_institute }}</p>

                  <div class="art-info">
                    <h6>
                      <router-link
                        :to="`/customer/courses/${l.name.replace(/\s/g, '-')}/${
                          l.course_id
                        }`"
                        >Start Course</router-link
                      >
                    </h6>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="Jobs" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
export default {
  name: "EnrolledCourses",
  props: ["data", "loader"],
  data() {
    return {};
  },
};
</script>

<style></style>
