<template>
  <div class="bx" id="hoby">
    <v-container>
      <v-row class="mb-2">
        <v-col class="text-left"
          ><h4 class="head2">Interest & Hobbies</h4></v-col
        >
        <!-- <v-col class="text-right" v-if="rest">
          <router-link to="/customer/update_profile">
            <v-btn rounded color="grey darken-4" dark
              >Add New</v-btn
            ></router-link
          >
        </v-col> -->
        <v-col class="text-right">
          <!-- <router-link to="/corporate/update_trainerprofile"> -->
          <v-btn
            rounded
            color="grey darken-4"
            dark
            @click.prevent="openModal(hobbies)"
            >Update</v-btn
          >
          <!-- </router-link -->
        </v-col>
      </v-row>
      <v-row v-if="hobbies.length > 0">
        <!-- <ul style="padding-left: 15px !important" > -->
        <v-col md="3" v-for="(hobbi,index) in hobbies" :key="index">
          
            <li>{{ hobbi }}
            </li>
          
        </v-col>
        <!-- </ul> -->
      </v-row>
      <!-- <ul class="keywords" style="margin: 15px 0px; float: left; width: 100%;" >
        <li>
          <p>{{ profileData }}</p>
        </li> -->
        <!-- <li><a href="#" target="_blank">Dancing</a></li> 
        <li><a href="#" target="_blank">Reading</a></li>
        <li><a href="#" target="_blank">Traveling</a></li> -->
        <!-- <li><a href="#" target="_blank">Java</a></li> -->
      <!-- </ul> -->
    </v-container>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Interest & Hobbies</v-col>
        </v-card-title>
        <v-card-text style="background: #fff; float: left; width: 100%">
          <v-form ref="addHobbiesForm" >
            <div class="updateEmployment">
              <div class="">
                <div class="col-md-12 form-group">
                  <v-text-field
                    v-model="editData.hobbie"
                    dense
                    filled
                    label="Interest & Hobbies*"
                    required
                  ></v-text-field>
                </div>
              </div>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 30px"
              >
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert text type="success" align="left">
                    Hobbie added successfully!
                  </v-alert>
                </div>
              </div>
            </v-col>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                :disabled="loading2"
                :loading="loading2"
                color="grey darken-4"
                rounded
                dark
                @click.prevent="submitForm"
              >Save
              </v-btn>
              <v-btn
                rounded
                dark
                color="red"
                @click="dialog = false"
                >Cancel</v-btn
              >
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "TechnicalSkill",
  props: ["data"],
  data() {
    return {
      dialog: false,
      rest: false,
      trainer: false,
      dialog2: false,
      editData: {
        user_id: "",
        hobbie: "",
      },

      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      hobbies:[]
    };
  },
  methods: {
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        let hobby = res.data.data.hobbie;
        if(hobby != ""){
        this.hobbies=hobby.split(",")
        }
        console.log("sokh", this.profileData);
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(profileData) {
      this.dialog = true;
      this.success = false;
      this.error = false;
      this.editData.hobbie = profileData;
    },

    async submitForm() {
      this.editData.user_id = this.user_id;
      // delete this.editData["notice_period"];
      // delete this.editData["resume"];
      // this.editData.end_date = this.editData.work_end_date;
      // this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      // delete this.editData["work_end_date"];
      // delete this.editData["work_start_date"];
      if(!this.$refs.addHobbiesForm.validate()){

        
        this.errorMessage = "Please fill the field"
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.loading2 = false;
        }, 2000);
      }else{
      let res = await this.$axios.post(
        "/CustomerApi/update_profile",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        
        this.errorMessage = res.data.message;
        this.error = true;
        setTimeout(() => {
          this.error = false;
        }, 2000);
        // this.dialog = false;
      } else if (res.data.result === 1) {
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
        setTimeout(() => {
          this.dialog = false;
        }, 2000);

        this.getProfile();
      }
      }
    },
    deleteModal(item) {
      this.dialog2 = true;
      this.deleteId = item.employement_id;
      this.index = item;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        const index = this.data.indexOf(this.index);
        this.data.splice(index, 1);
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
    this.getcorpo();
  },
};
</script>
