<template>
  <div class="bx">
    <v-container id="keyskill">
      <v-row class="mb-2">
        <v-col class="text-left"><h4 class="head2">Key Skills</h4></v-col>
        <v-col class="text-right">
          <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark
            >Add New</v-btn
          >
        </v-col>
      </v-row>
      <ul class="keywords" style="margin: 15px 0px; float: left; width: 100%">
        <li
          v-for="facility in facilities"
          :key="facility.facility_id"
          class="rounded-pill mr-2"
          style="background-color: #e2e7e6"
        >
          <v-row class="py-2"
            ><v-col align-self="center" class="ml-2">{{
              facility.skill
            }}</v-col>
            <v-col align-self="center" class="text-right"
              ><v-icon @click="deleteModal(facility)">mdi-close</v-icon></v-col
            ></v-row
          >
        </li>
        <!-- <li><a href="#" target="_blank">Python</a></li> 
        <li><a href="#" target="_blank">Ui Frameworks</a></li>
        <li><a href="#" target="_blank">C++</a></li>
        <li><a href="#" target="_blank">Java</a></li> -->
      </ul>
    </v-container>

    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn color="green darken-1" text @click="dialog2 = false"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteItem"
                  >Yes, delete it!</v-btn
                >
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline"> Add Key Skill </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12 form-group">
              <v-select
                v-model="edit.skill"
                :items="techni"
                item-text="name"
                item-value="name"
                @change="checkSelected()"
                class="mx-4"
                required
                flat
                label="Skill Description *"
              ></v-select>
              <!-- <v-text-field
                v-model="edit.skill"
                dense
                filled
                :rules="[(v) => !!v || 'Skill is required']"
                label="Skill Description *"
                required
              >
              </v-text-field> -->
            </div>
            <div class="col-md-12 form-group" v-if="showText">
              <v-text-field
                v-model="skill"
                dense
                filled
                :rules="[(v) => !!v || 'Skill is required']"
                label="Skill Description *"
                @keyup="checkSkill()"
                required
              >
              </v-text-field>
            </div>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <div v-if="error" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div class="form-group fadein" v-if="Edited">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Skill Added Successfully.
                  </v-alert>
                </div>
              </div>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading || show"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="closeAddDialog"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Key Skill</v-col>
        </v-card-title>
        <v-form ref="file">
          <div class="updatePlacement">
            <div class="">
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.skill"
                  dense
                  filled
                  label="Skill Description *"
                  required
                >
                </v-text-field>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div class="form-group fadein" v-if="Edited">
                  <div class="row">
                    <v-alert text type="success" align="left">
                      Skill Edited Successfully.
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog3 = false"
                  >Cancel</v-btn
                >
              </div>
            </div>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "TechnicalSkill",
  props: ["data"],
  data() {
    return {
      edit: {
        action: "",
        user_id: "",
        skill_id: "",
        skill: "",
        type: "key",
      },
      facilities: "",
      dialog: false,
      error: false,
      dialog3: false,
      success: false,
      Edited: false,
      loading: false,
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      techni: [],
      profess: [],
      keys: [],
      show: false,
      showText: false,
      skill: "",
    };
  },
  mounted() {
    this.facilitylist();
    this.getSkills();
  },
  methods: {
    closeAddDialog() {
      this.edit.skill = "";
      this.dialog = false;
      this.skill = "";
    },
    checkSkill() {
      if (this.skill !== "") {
        this.show = false;
      }
    },
    checkSelected() {
      if (this.edit.skill === "Other") {
        this.show = true;
        this.showText = true;
      }
    },

    async getSkills() {
      let technical = "technical";
      let prof = "professional";
      let key = "key";
      let respo = await this.$axios.post("/CustomerApi/skill_list", {
        type: technical,
      });
      if (respo.data.result === 1) {
        this.techni = respo.data.data;
        this.techni.push({ id: "", name: "Other" });
      }
      let resp = await this.$axios.post("/CustomerApi/skill_list", {
        type: prof,
      });
      if (resp.data.result === 1) {
        this.profess = resp.data.data;
      }
      let res = await this.$axios.post("/CustomerApi/skill_list", {
        type: key,
      });
      if (res.data.result === 1) {
        this.keys = res.data.data;
      }
    },
    async facilitylist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "/CustomerApi/manage_skill",
        this.edit
      );
      console.log("list data", respo);

      this.facilities = respo.data.data;
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if (this.showText) {
        this.edit.skill = this.skill;
      }
      if (this.edit.skill === "") {
        this.errorMessage = "Please fill mandatory field";
        this.error = true;
        this.loading = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let resp = await this.$axios.post(
          "CustomerApi/manage_skill",
          this.edit
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => {
            this.loading = false;
            this.error = false;
          }, 2000);
          // setTimeout(() => (this.dialog = false), 2000);
        } else if (resp.data.result === 1) {
          this.loading = false;
          this.edit.action = "list";
          this.edit.facility_id = this.facility_id;
          let res = await this.$axios.post(
            "CustomerApi/manage_skill",
            this.edit
          );
          console.log("list data", res);
          this.facilities = res.data.data;
          this.Edited = true;
          setTimeout(() => {
            this.dialog = false;
            this.Edited = false;
            this.showText = false;
            this.skill = "";
          }, 2000);

          this.facilitylist();
          this.getSkills();

          this.$refs.file.reset();
        }
      }
    },
    deleteModal(facility) {
      this.dialog2 = true;
      this.deleteId = facility.skill_id;
      this.index = facility;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        skill_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post("CustomerApi/manage_skill", params);
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.facilitylist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    async openModal(facility) {
      this.dialog = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.showText = false;
      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async openModal1(facility) {
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.errorMessage = "";

      this.edit = facility;
      this.deleteId = facility.skill_id;
      this.index = facility;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async submitEditForm() {
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      this.edit.skill_id = this.deleteId;
      let respo = await this.$axios.post("CustomerApi/manage_skill", this.edit);
      if (respo.data.result === 0) {
        this.error = true;
        this.errorMessage = respo.data.message;
        setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.Edited = true;
        setTimeout(() => (this.dialog3 = false), 2000);
      } else {
      }
    },
  },
};
</script>
