<template>
  <div class="bx">
    <h4 class="head2">
      KYC
      <a @click.prevent="openModal" class="btn" style="margin: 0 4px"
        >Add New</a
      >
    </h4>
    <div class="fact">
      <p>
        Adhar card number:WB2152
        <a @click.prevent="deleteModal" style="margin: 0 4px"
          ><i class="ion-trash-b"></i
        ></a>
        <a @click.prevent="openModal" style="margin: 0 4px"
          ><i class="ion-edit"></i
        ></a>
      </p>
      <p>
        Pan card number:in654684
        <a @click.prevent="deleteModal" style="margin: 0 4px"
          ><i class="ion-trash-b"></i
        ></a>
        <a @click.prevent="openModal" style="margin: 0 4px"
          ><i class="ion-edit"></i
        ></a>
      </p>
      <p>
        Voterid card number:154851uhsy
        <a @click.prevent="deleteModal" style="margin: 0 4px"
          ><i class="ion-trash-b"></i
        ></a>
        <a @click.prevent="openModal" style="margin: 0 4px"
          ><i class="ion-edit"></i
        ></a>
      </p>

      <v-row justify="center">
        <v-dialog v-model="dialog2" persistent max-width="500">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-text
              >Do you really want to delete this ? This process cannot be
              undone.</v-card-text
            >
            <v-card-actions>
              <v-btn
                color="green darken-1"
                text
                @click="dialog2 = false"
                class="btn"
                >Cancel</v-btn
              >
              <v-btn
                color="black darken-1"
                text
                :loading="deleteProcessing"
                :disabled="deleteProcessing"
                @click.prevent="deleteItem"
                class="btn"
                >Yes, delete it!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
      <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline">
            <v-col md="12" lg="12">KYC</v-col>
          </v-card-title>
          <v-card-text style="background: #fff; float: left; width: 100%">
            <v-form ref="form" v-model="valid" lazy-validation>
              <div class="updateEmployment">
                <div class="">
                  <div class="col-md-6 form-group">
                    <v-select
                      :items="items"
                      :menu-props="{ top: true, offsetY: true }"
                      label="Documents *"
                    ></v-select>
                  </div>
                  <div class="col-md-6 form-group">
                    <v-text-field
                      dense
                      filled
                      :rules="[(v) => !!v || 'This field is required']"
                      label="Document Number *"
                      required
                    ></v-text-field>
                  </div>
                </div>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      certificate added successfully!
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn"
                  :disabled="!valid || loading2"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading2" style="color: #fff">Save</span>
                  <template v-else>
                    <span>Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>
<script>
export default {
  name: "TechnicalSkill",
  props: ["data"],
  data() {
    return {
      dialog: false,
      dialog2: false,
      editData: {},
      user_id: "",
      profileData: "",
      deleteId: "",
      index: "",
      error: false,
      dialog: false,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      items: ["Adhar card", "Pan card", "Voter card"],
    };
  },
  methods: {
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data.employement_list;
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(data) {
      this.dialog = true;
      this.editData = data;
    },
    async submitForm() {
      this.error = false;
      this.$refs.form.valiidate();
      this.editData.user_id = this.user_id;
      delete this.editData["notice_period"];
      delete this.editData["resume"];
      this.editData.end_date = this.editData.work_end_date;
      this.editData.start_date = this.editData.work_start_date;

      this.loading2 = true;
      this.error = false;
      this.success = false;
      delete this.editData["work_end_date"];
      delete this.editData["work_start_date"];
      let res = await this.$axios.post(
        "/CustomerApi/update_employement",
        this.editData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = "Please fill the mandatory field";
        // this.dialog = false;
      } else if (res.data.result === 1) {
        this.getProfile();
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
      }
    },
    deleteModal(item) {
      this.dialog2 = true;
      this.deleteId = item.employement_id;
      this.index = item;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        const index = this.data.indexOf(this.index);
        this.data.splice(index, 1);
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
  },
};
</script>
