<template>
  <div class="bx" id="lang">
    <v-container>
      <v-row class="mb-2">
        <v-col class="text-left"><h4 class="head2">Languages</h4></v-col>
        <!-- <v-col class="text-right" v-if="rest">
          <router-link to="/customer/update_profile">
            <v-btn rounded color="grey darken-4" dark>
              Add New
            </v-btn>
          </router-link>
        </v-col> -->
        <v-col class="text-right">
          <!-- <router-link to="/corporate/update_trainerprofile"> -->
          <v-btn
            rounded
            color="grey darken-4"
            dark
            @click.prevent="openModal(profileData)"
          >
            Update
          </v-btn>
          <!-- </router-link> -->
        </v-col>
        <!-- <v-col class="text-right" v-if="hrs">
          <router-link to="/corporate/update_trainerprofile">
            <v-btn rounded color="grey darken-4" dark>
              Add New
            </v-btn>
          </router-link>
        </v-col> -->
      </v-row>
      <v-row v-if="profileData.length > 0">
        <!-- <ul style="padding-left: 15px !important" > -->
        <v-col md="3" v-for="(language, index) in profileData" :key="index" >
          
            <li >{{ language }}
            </li>
          
        </v-col>
        <!-- </ul> -->
      </v-row>
    </v-container>

    <!-- <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Language</v-col>
        </v-card-title>
        <v-card-text style="background: #fff; float: left; width: 100%">
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="updateEmployment">
              <div class="">
                <div class="col-md-6 form-group">
                  <v-select
                    :items="items"
                    :menu-props="{ top: true, offsetY: true }"
                    label="Langauges"
                  ></v-select>
                </div>
                <div class="col-md-6 form-group">
                  <v-select
                    :items="learn"
                    :menu-props="{ top: true, offsetY: true }"
                    label="Skill"
                  ></v-select>
                </div>
              </div>
            </div>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <div
                v-if="error"
                class="form-group fadein col-md-12"
                style="margin-bottom: 30px"
              >
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div
                class="form-group fadein col-md-12"
                v-if="success"
                style="margin-bottom: 15px"
              >
                <div class="row">
                  <v-alert text type="success" align="left">
                    certificate added successfully!
                  </v-alert>
                </div>
              </div>
            </v-col>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                class="btn"
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
                @click.prevent="submitForm"
              >
                <span v-if="!loading2" style="color: #fff">Save</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <v-btn
                class="btn btn-red"
                style="margin-left: 7px; background-color: red"
                @click="dialog = false"
                >Cancel</v-btn
              >
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog> -->
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Add Language
        </v-card-title>
        <v-card-text>
          <v-form ref="addLanguage">
            <v-text-field
              v-model="edit.languages"
              dense
              filled
              :rules="[(v) => !!v || 'This field is required']"
              label="Language *"
              required
            >
            </v-text-field>
          </v-form>
          <v-alert v-if="error" text type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Language Added Successfully.
          </v-alert>
        </v-card-text>
        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn 
            rounded
            dark
            color="grey darken-4" 
            :disabled="loading"
            :loading="loading"
            @click="submitForm">
             Save 
            </v-btn>
            <v-btn
              rounded
              dark
              color="red"
              @click="dialog = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "Language",
  props: ["data"],
  data() {
    return {
      dialog: false,
      edit: {
        user_id: "",

        languages: "",
      },
      rest: false,
      trainer: false,
      hrs: false,
      dialog2: false,
      editData: {},
      user_id: "",
      profileData: [],
      deleteId: "",
      valid: false,
      index: "",
      error: false,
      dialog: false,
      loading: false,
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      errorMessage: "",
      success: false,
      loading2: false,
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      items: ["Tamil", "Bengali", "English", "Hindi", "Urdu"],
      learn: ["Read", "Write", "Spoke"],
    };
  },
  methods: {
    getcorpo() {
      console.log("type");
      let type = localStorage.getItem("corporate");

      if (type === "Individual Trainer") {
        this.trainer = true;
      } else if (type === "HR's") {
        this.hrs = true;
      } else {
        this.rest = true;
      }

      console.log("type", type);
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        let lang=res.data.data.language;
        if(lang != ""){
        this.profileData = lang.split(",")
        }
        console.log("vasa", this.profileData);
        this.aboutLoading = false;
      } else {
      }
    },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },
    openModal(profileData) {
      this.edit.languages = profileData;
      this.success = false;
      this.error = false;
      this.dialog = true;
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      
      this.edit.user_id = localStorage.getItem("userId");
      if(!this.$refs.addLanguage.validate()){

        this.errorMessage = "Please fill the field";
        this.error = true;
        
        setTimeout(() => {this.error = false
        this.loading = false;}, 2000);
      }else{
      let resp = await this.$axios.post(
        "CustomerApi/update_profile",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.error = true;
        this.errorMessage = resp.data.message
        this.loading = false;
        setTimeout(() => (this.error = false), 2000);
      } else if (resp.data.result === 1) {
        console.log("list data", resp);

        this.error = false;
        this.success = true;
        setTimeout(() => {this.dialog = false
        this.success = false;}, 2000);

        this.getProfile();
        this.$refs.addLanguage.reset();
        this.loading = false;
      }
      }
    },
    // async submitForm() {
    //   this.editData.user_id = this.user_id;
    //   delete this.editData["notice_period"];
    //   delete this.editData["resume"];
    //   this.editData.end_date = this.editData.work_end_date;
    //   this.editData.start_date = this.editData.work_start_date;

    //   this.loading2 = true;
    //   this.error = false;
    //   this.success = false;
    //   delete this.editData["work_end_date"];
    //   delete this.editData["work_start_date"];
    //   let res = await this.$axios.post(
    //     "/CustomerApi/update_employement",
    //     this.editData
    //   );
    //   console.log(res);
    //   if (res.data.result === 0) {
    //     this.loading2 = false;
    //     this.valid = true;
    //     this.error = true;
    //     this.errorMessage = res.data.message;
    //     this.dialog = false;
    //   } else if (res.data.result === 1) {
    //     this.getProfile();
    //     this.success = true;
    //     this.valid = true;
    //     this.loading2 = false;
    //     this.error = false;
    //     this.errorMessage = "";
    //     console.log(res);
    //   }
    // },
    deleteModal(item) {
      this.dialog2 = true;
      this.deleteId = item.employement_id;
      this.index = item;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let res = await this.$axios.post("CustomerApi/delete_employement", {
        user_id: this.user_id,
        employement_id: this.deleteId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        const index = this.data.indexOf(this.index);
        this.data.splice(index, 1);
        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getProfile();
    this.getcorpo();
  },
};
</script>
