<template>
  <fragmemt>
    <div v-if="loader">
      <v-skeleton-loader
        class="mx-auto"
        max-height="500"
        type="article"
      ></v-skeleton-loader>
    </div>
    <div class="bx" v-else>
      <div class="row">
        <div class="col-md-12">
          <h3 class="head2">Personal Details</h3>
        </div>
        <div class="col-md-4 form-group">
          <label for>Gender</label>
          <p>{{ profile.gender }}</p>
        </div>
        <div class="col-md-4 form-group">
          <label for>Date of birth</label>
          <p>{{ profile.dob }}</p>
        </div>
        <div class="col-md-4 form-group">
          <label for>Marital status</label>
          <p>{{ martial_status }}</p>
        </div>
        <div class="col-md-4 form-group">
          <label for>Pan card no.</label>
          <p>{{ profile.pancard_no }}</p>
        </div>
        <div class="col-md-4 form-group">
          <label for>Adhaar card no.</label>
          <p>{{ profile.adhar_no }}</p>
        </div>
        <div class="col-md-4 form-group">
          <label for>Passport</label>
          <p>{{ profile.passport_no }}</p>
        </div>
      </div>
    </div>
  </fragmemt>
</template>

<script>
export default {
  props: ["loader", "profile"],
  name: "PersonalDetails",
};
</script>

<style></style>
