<template>
  <div>
    <div class="bx">
      <v-container id="professional">
        <v-row class="mb-2">
          <v-col class="text-left"
            ><h4 class="head2">Professional Skills</h4></v-col
          >
          <v-col class="text-right">
            <v-btn @click.prevent="openModal" rounded color="grey darken-4" dark
              >Add New</v-btn
            >
          </v-col>
        </v-row>
        <v-row v-for="facility in facilities" :key="facility.facility_id">
          <v-col class="text-left" v-if="facility.type == 'professional'"><li>{{
             facility.skill
          }}</li></v-col>
          <v-col class="text-right mr-2">
            <a @click.prevent="openModal1(facility)"
              ><v-icon>
                mdi-pencil
              </v-icon></a
            >
            <a @click.prevent="deleteModal(facility)"
              ><v-icon>
                mdi-delete
              </v-icon></a
            >
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-row justify="center">
      <v-dialog v-model="dialog2" persistent max-width="500px">
        <v-card>
          <v-card-title class="headline">Are you sure?</v-card-title>
          <v-card-text
            >Do you really want to delete this ? This process cannot be
            undone.</v-card-text
          >
          <v-card-actions>
            <v-row>
              <v-col>
                <v-btn
              color="green darken-1"
              text
              @click="dialog2 = false"
              >Cancel</v-btn
            >
            <v-btn
              color="black darken-1"
              text
              :loading="deleteProcessing"
              :disabled="deleteProcessing"
              @click.prevent="deleteItem"
              >Yes, delete it!</v-btn
            >
              </v-col>
            </v-row>
            
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Add Professional Skill
        </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <v-text-field
              v-model="edit.skill"
              dense
              filled
              label="Skill Description *"
              required
            >
            </v-text-field>
            <v-alert v-if="error" text type="error">
              {{ errorMessage }}
            </v-alert>
            <v-alert v-if="success" text type="success" align="left">
              Skill Added Successfully.
            </v-alert>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="closeAddDialog"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12">Edit Professional Skill</v-col>
        </v-card-title>
        <v-form ref="file">
          <div class="updatePlacement">
            <div class="">
              <div class="col-md-12 form-group">
                <v-text-field
                  v-model="edit.skill"
                  dense
                  filled
                  label="Skill Description *"
                  required
                >
                </v-text-field>
              </div>

              <v-col md="12" lg="12" xs="12" xsm="12">
                <div v-if="error" class="form-group fadein">
                  <v-alert class="" text prominent type="error">
                    {{ errorMessage }}
                  </v-alert>
                </div>
                <div class="form-group fadein" v-if="Edited">
                  <div class="row">
                    <v-alert text type="success" align="left">
                      Skill Edited Successfully.
                    </v-alert>
                  </div>
                </div>
              </v-col>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  class="btn1"
                  :disabled="!valid || loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  class="btn1 btn-red"
                  style="margin-left: 7px; background-color: red"
                  @click="dialog3 = false"
                  >Cancel</v-btn
                >
              </div>
            </div>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Facilities",
  data() {
    return {
      edit: {
        action: "",
        user_id: "",
        skill_id: "",
        skill: "",
        type: "professional",
      },
      facilities: "",
      dialog: false,
      error: false,
      dialog3: false,
      success: false,
      Edited: false,
      loading: false,
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
    };
  },
  mounted() {
    this.facilitylist();
  },
  methods: {
    closeAddDialog(){
      this.dialog=false
       this.$refs.file.reset();
    },
    async facilitylist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "/CustomerApi/manage_skill",
        this.edit
      );
      console.log("list data", respo);

      this.facilities = respo.data.data;
    },
    async submitForm() {
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if(this.edit.skill===""){
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please fill mandatory field"
        setTimeout(() => {
          this.error=false
        }, 2000);
      }else{
      let resp = await this.$axios.post("CustomerApi/manage_skill", this.edit);
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please fill the mandatory fields";
        setTimeout(() => {
          this.error=false
        }, 2000);
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        this.loading = false;
        this.edit.action = "list";
        this.edit.facility_id = this.facility_id;
        let res = await this.$axios.post("CustomerApi/manage_skill", this.edit);
        console.log("list data", res);
        this.facilities = res.data.data;
        this.success = true;
        setTimeout(() => (this.dialog = false), 2000);

        this.facilitylist();
        this.$refs.file.reset();
      }
      }
    },
    deleteModal(facility) {
      this.dialog2 = true;
      this.deleteId = facility.skill_id;
      this.index = facility;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        skill_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post("CustomerApi/manage_skill", params);
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.facilitylist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    async openModal(facility) {
      this.dialog = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async openModal1(facility) {
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.errorMessage = "";
      this.edit.skill_id=facility.skill_id
        this.edit.skill=facility.skill
      this.deleteId = facility.skill_id;
      this.index = facility;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async submitEditForm() {
      this.error = false;
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      if(this.edit.skill===""){
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please fill mandatory field"
        setTimeout(() => {
          this.error=false
        }, 2000);
      }else{
      let respo = await this.$axios.post("CustomerApi/manage_skill", this.edit);
      if (respo.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = respo.data.message
        setTimeout(() => {
          this.error=false
        }, 2000);
        // setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.loading = false;
        this.Edited = true;
        this.facilitylist();
        setTimeout(() => {this.dialog3 = false
        this.Edited=false}, 2000);
        this.$refs.file.reset();
      } else {
      }
      }
    },
  },
};
</script>
<style scoped>
.ion-trash-b {
  content: "\f253";

  top: 0px;
  bottom: 0px;
  left: 800px;
  right: 0px;
  position: absolute;
}
.ion-edit {
  content: "\f2bf";

  top: 0px;
  bottom: 0px;
  left: 760px;
  right: 0px;
  position: absolute;
}
p {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 35px;
  position: relative;
}
</style>
