<template>
<div class="bx">
    <h3 class="head2">Skills</h3>
    <p>No skills added.</p>
    <!-- <div class="row">
        <div class="col-md-12 form-group">
            <label for>My top Skills</label>
            <ul class="keywords profileTags" style="margin: 15px 0px; float: left; width: 100%;margin-bottom:0;">
                <li>
                    <a>Lorem ipsum.</a>
                </li>
                <li>
                    <a>Lorem, ipsum dolor.</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
                <li>
                    <a href>Quincey</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 form-group">
            <label for>Professional skills</label>
            <ul class="keywords profileTags" style="margin: 15px 0px; float: left; width: 100%;margin-bottom: 0;">
                <li>
                    <a>Lorem ipsum.</a>
                </li>
                <li>
                    <a>Lorem, ipsum dolor.</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
                <li>
                    <a href>Quincey</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 form-group">
            <label for>Technical skills</label>
            <ul class="keywords profileTags" style="margin: 15px 0px; float: left; width: 100%;margin-bottom: 0;">
                <li>
                    <a>Lorem ipsum.</a>
                </li>
                <li>
                    <a>Lorem, ipsum dolor.</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
                <li>
                    <a href>Quincey</a>
                </li>
                <li>
                    <a href>Zombie</a>
                </li>
            </ul>
        </div>
    </div> -->
</div>
</template>

<script>
export default {
    name: 'Skills'
}
</script>

<style>

</style>
