<template>
  <div class="bx">
    <v-container id="technical">
      <v-row class="mb-2">
        <v-col class="text-left"><h4 class="head2">Technical Skills</h4></v-col>
        <v-col class="text-right"
          ><v-btn @click.prevent="openModal" rounded color="grey darken-4" dark>
            Add New</v-btn
          ></v-col
        >
      </v-row>
      <div>
        <v-row v-for="facility in facilities" :key="facility.skill_id">
          <v-col class="text-left" v-if="facility.type == 'technical'"><li>
             {{facility.skill}}</li></v-col>
          <v-col class="text-right mr-2">
            <a @click.prevent="openModal1(facility)">
              <v-icon>
                mdi-pencil
              </v-icon>
            </a>
            <a @click.prevent="deleteModal(facility)">
              <v-icon>mdi-delete</v-icon>
            </a>
          </v-col>
        </v-row>
      </div>
    </v-container>
    <!-- <v-container>
        <v-row>
          <v-col><h4 class="head2">Technical Skills</h4></v-col>
          <v-col><a @click.prevent="openModal" class="btn" style="margin: 0 4px"
          >Add +</a
        ></v-col>
        </v-row>
      <div
        v-for="facility in facilities"
        :key="facility.facility_id"
      >
        <p>
          <i class="md-square"></i>
          <i class="icon-circle"></i>
          {{ facility.type === "technical" ? facility.skill : "" }}
          <a @click.prevent="openModal1(facility)" style="margin: 0 4px"
            ><i class="ion-edit"></i
          ></a>
          <a @click.prevent="deleteModal(facility)" style="margin: 0 4px"
            ><i class="ion-trash-b"></i
          ></a>
        </p>
      </div>
      </v-container> -->

    <!-- <v-row justify="center"> -->
    <v-dialog v-model="dialog2" persistent max-width="500px">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-text
          >Do you really want to delete this ? This process cannot be
          undone.</v-card-text
        >
        <v-card-actions>
          <v-row>
            <v-col>
               <v-btn
            color="green darken-1"
            text
            @click="dialog2 = false"
            >Cancel</v-btn
          >
          <v-btn
            color="black darken-1"
            text
            :loading="deleteProcessing"
            :disabled="deleteProcessing"
            @click.prevent="deleteItem"
            >Yes, delete it!</v-btn
          >
            </v-col>
          </v-row>
         
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- </v-row> -->

    <v-dialog
      v-model="dialog"
      transition="dialog-top-transition"
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Add Technical Skill
        </v-card-title>
        <v-form ref="file">
          <v-card-text>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="edit.skill"
                  dense
                  filled
                  label="Skill Description *"
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>

            <v-col md="12" lg="12" xs="12" xsm="12">
              <v-alert v-if="error" text prominent type="error">
                {{ errorMessage }}
              </v-alert>
              <v-alert v-if="success" text type="success" align="left">
                Skill Added Successfully.
              </v-alert>
            </v-col>
          </v-card-text>
          <v-container>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: left">
                <v-btn
                  :disabled="loading"
                  :loading="loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  style="margin-left: 7px; background-color: red"
                  @click="dialog = false"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-dialog
      v-model="dialog3"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          Edit Technical Skill
        </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <div class="col-md-12 form-group">
              <v-text-field
                v-model="edit.skill"
                dense
                filled
                label="Skill Description *"
                required
              >
              </v-text-field>
            </div>
            <v-col md="12" lg="12" xs="12" xsm="12">
              <v-alert v-if="error" text prominent type="error">
                {{ errorMessage }}
              </v-alert>
              <v-alert v-if="success" text type="success" align="left">
                Skill Edited Successfully.
              </v-alert>
            </v-col>
            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  :disabled="loading"
                  :loading="loading"
                  color="#000"
                  type="submit"
                  @click.prevent="submitEditForm"
                >
                  <span v-if="!loading" style="color: #fff">Save </span>
                  <template v-else>
                    <span> Processing...</span>
                  </template>
                </v-btn>
                <v-btn
                  style="margin-left: 7px; background-color: red"
                  @click="dialog3 = false"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Experiment -->

    <v-snackbar v-model="snackbar" color="black">
      <span style="color: #fff">Deleted!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar v-model="deleteError" color="red">
      <span style="color: #fff">Could not delete!</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          <span style="color: #fff">Close</span>
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "Facilities",
  data() {
    return {
      edit: {
        action: "",
        user_id: "",
        skill_id: "",
        skill: "",
        type: "technical",
      },
      facilities: "",
      dialog: false,
      error: false,
      dialog3: false,
      success: false,
      Edited: false,
      loading: false,
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
    };
  },
  mounted() {
    this.facilitylist();
  },
  methods: {
    async facilitylist() {
      this.edit.action = "list";
      this.edit.user_id = localStorage.getItem("userId");
      let respo = await this.$axios.post(
        "/CustomerApi/manage_skill",
        this.edit
      );
      console.log("list data", respo);

      this.facilities = respo.data.data;
    },
    async submitForm() {
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "add";
      if(this.edit.skill===""){
        this.errorMessage="Please fill all mandatory field"
        this.error=true
        this.loading=false
        setTimeout(() => {
          this.error=false
        }, 2000);
      }else{
      let resp = await this.$axios.post("CustomerApi/manage_skill", this.edit);
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please fill the mandatory fields";
        setTimeout(() => {
          this.error = false
        }, 2000);
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        this.loading = false;
        this.edit.action = "list";
        this.edit.facility_id = this.facility_id;
        let res = await this.$axios.post("CustomerApi/manage_skill", this.edit);
        console.log("list data", res);
        this.facilities = res.data.data;
        this.success = true;
        setTimeout(() => {this.dialog = false
        this.success = false}, 2000);

        this.facilitylist();
        this.$refs.file.reset();
      }
      }
    },
    deleteModal(facility) {
      this.dialog2 = true;
      this.deleteId = facility.skill_id;
      this.index = facility;
    },
    async deleteItem() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      let params = {
        action: "delete",
        skill_id: this.deleteId,
        user_id: localStorage.getItem("userId"),
      };
      let res = await this.$axios.post("CustomerApi/manage_skill", params);
      console.log("the deletion api", res);
      if (res.data.result === 1) {
        this.deleteError = false;

        this.snackbar = true;
        this.dialog2 = false;
        this.deleteProcessing = false;
        this.facilitylist();
      } else {
        (this.deleteError = true), (this.dialog = false);
        this.deleteProcessing = false;
      }
    },

    async openModal(facility) {
      this.dialog = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.edit.skill=""
      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async openModal1(facility) {
      console.log("sertyruyytyu",facility)
      this.dialog3 = true;
      this.success = false;
      this.Edited = false;
      this.error = false;
      this.errorMessage = "";
      this.edit.skill_id = facility.skill_id
      this.edit.skill = facility.skill
      this.deleteId = facility.skill_id;
      this.index = facility;

      // let resp = await this.$axios.post("trainingInstituteApi/manage_facilities", this.edit)
    },
    async submitEditForm() {
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");
      this.edit.action = "edit";
      if(this.edit.skill===""){
        this.errorMessage="Please fill mandatory field"
        this.error=true
        this.loading=false
        setTimeout(() => {
          this.error=false
        }, 2000);
      }else{
      let respo = await this.$axios.post("CustomerApi/manage_skill", this.edit);
      if (respo.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = respo.data.message
        setTimeout(() => {
          this.error=false
        }, 2000);
        // setTimeout(() => (this.dialog3 = false), 2000);
      } else if (respo.data.result === 1) {
        this.loading = false;
        this.success = true;
        this.Edited = true;
        this.facilitylist();
        setTimeout(() => {
          this.success=false
        }, 2000);
        setTimeout(() => (this.dialog3 = false), 2000);
        this.$refs.file.reset();
      } else {
      }
      }
    },
  },
};
</script>
<style scoped>
/* a.btn {
      margin: 0 4px;
    top: 0px;
    bottom: 0px;
    left: 700px;
    right: 0px;
    height: 15%;
    width: 10%;
    position: relative;
} */
/* .ion-trash-b {
  content: "\f253";

  top: 0px;
  bottom: 0px;
  left: 800px;
  right: 0px;
  position: absolute;
}
.ion-edit {
  content: "\f2bf";

  top: 0px;
  bottom: 0px;
  left: 760px;
  right: 0px;
  position: absolute;
}
p {
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 35px;
  position: relative;
} */
</style>
