<template>
  <div class="resume bx article-section" id="resume">
    <div class="col-md-9">
      <v-container v-if="resume">
        <img
          src="https://uwm.edu/freshwater/wp-content/uploads/sites/48/2018/09/pdf-icon-transparent-7.png"
          style="width: 80px;"
          alt=""
        />
        <v-col>
          <a v-bind:href="resumees" target="_blank"
            ><i class="fa fa-download" aria-hidden="true"></i
          ></a>
        </v-col>

        <h4 class="head2" style="color:green">Download</h4>
      </v-container>
    </div>

    <div class="col-md-3">
      <v-btn type="file" id="upload" @click="openmodal" hidden></v-btn>
      <label for="upload">Upload Resume</label>
      <p>File Supported (PDF)</p>
    </div>

    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Add Resume</v-col>
        </v-card-title>
        <v-card-text>
        <v-form ref="uploadResume">
          <v-file-input
            ref="image_string"
            v-model="image_string"
            v-on:change="onChange"
            accept="application/pdf"
            dense
            filled
            :rules="[(v) => !!v || 'Image is required']"
            label="Upload Resume*"
            required
          >
          </v-file-input>
        </v-form>
        <v-alert v-if="error" text type="error">
          {{ errorMessage }}
        </v-alert>
        <v-alert v-if="success" text type="success" align="left">
          Resume Added Successfully.
        </v-alert>

        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              rounded
              dark
              :disabled="loading"
              :loading="loading"
              color="grey darken-4"
              @click="submitForm"
            >Save
            </v-btn>
            <v-btn
              rounded
              dark
              color="red"
              @click="closeUploadResumeDialog"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  data() {
    return {
      edit: {
        user_id: "",
        resume: "",
      },
      resume: false,
      successAlert: false,
      errorAlert: false,
      uploadedImage: "",
      dialog: false,
      error: false,
      success: false,
      loading: false,
      user_id: "",
      valid: true,
      index: "",
      deleteProcessing: false,
      snackbar: false,
      deleteError: false,
      deleteId: "",
      dialog2: false,
      message: "",
      currentFile: "",
      galleries: "",
      file: "",
      image: "",
      image_string: "",
      user_id: "",
      action: "",
      hovers: false,
      errorMessage: "",
      dialog: false,
      resumees: "",
    };
  },
  mounted() {
    this.getresume();
  },
  methods: {
    closeUploadResumeDialog(){
      this.$refs.uploadResume.reset()
      this.edit.resume=""
      this.image_string=""
      this.dialog = false
    },
    async getresume() {
      this.edit.user_id = localStorage.getItem("userId");

      let resp = await this.$axios.post(
        "/trainingInstituteApi/get_resume",
        this.edit
      );
      console.log("resume", resp.data.data.resume_link);
      this.resumees = resp.data.data.resume_link;
      if (this.resumees === "") {
        this.resume = false;
      } else {
        this.resume = true;
      }
    },
    openmodal() {
      this.dialog = true;
      this.success = false;
      this.error = false;
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.resume = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.resume = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.error = false;
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      if(!this.$refs.uploadResume.validate()){

        this.error = true;
        this.errorMessage = "Please fill the mandatory field";
        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      }else{
      let resp = await this.$axios.post(
        "/trainingInstituteApi/upload_resume",
        this.edit
      );
      console.log("onsubmit2", resp.data.data);
      if (resp.data.result === 0) {
        this.loading = false;
        
        this.errorMessage = resp.data.message
        this.error = true;
        setTimeout(() => {this.error = false
        }, 2000);
      } else if (resp.data.result === 1) {
        // this.resumees = resp.data.data;
        console.log("resumees", this.resumees);
        this.error = false;
        this.success = true;
        this.resume = true;
        this.getresume();
        this.$refs.uploadResume.reset()
        this.edit.resume=""
        this.image_string=""
        setTimeout(() => {this.dialog = false
        this.success = false}, 2000);
        this.loading = false;
      }
      }
    },
  },
};
</script>
<style scoped></style>
