<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerdata ? bannerdata : banner})` }"
    >
      <h2>{{ profile.display_name }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/universities">Universities</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>{{ profile.display_name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard">
              <div class="row">
                <div class="col-md-6">
                  <div v-if="profile.logo_image">
                    <img
                      style="height: 140px; width: 140px; object-fit: cover"
                      :src="profile.logo_image"
                      alt=""
                    />
                  </div>
                  <div v-else>
                    <img
                      style="height: 140px; width: 140px; object-fit: cover"
                      src="../../assets/img/university-avatar.jpeg"
                      alt=""
                    />
                  </div>

                  <!-- <img
                    :src="profile.logo_image"
                    alt=""
                  /> -->
                  <div class="pl-8">
                    <span style="width: 120px">
                      <h5 class="head2 pb-2 pt-0" style="font-size: 16px">
                        {{ profile.display_name }}
                      </h5>
                      <h6
                        class="head2 mt-0"
                        style="font-size: 15px; font-style: italic"
                      >
                        {{ profile.board }}
                      </h6>
                      <div v-if="profile.email || profile.mobile_no">
                        <small style="font-size: 15px"
                          >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                            ></path></svg
                        ></small>
                        <span class="rated ml-5" v-if="profile.rating">
                          <i class="fa fa-star fa-fw"></i>
                          {{ Number(profile.rating).toFixed(1) }}
                        </span>
                      </div>
                      <div class="social">
                        <a
                          v-if="profile.facebook"
                          v-bind:href="profile.facebook"
                          target="_blank"
                          class="fa fa-facebook"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-facebook"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.twitter"
                          v-bind:href="profile.twitter"
                          target="_blank"
                          class="fa fa-twitter"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-twitter"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.instagram"
                          v-bind:href="profile.instagram"
                          target="_blank"
                          class="fa fa-instagram"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-instagram"
                          style="font-size: 1rem"
                        ></a>

                        <a
                          v-if="profile.linkedin"
                          v-bind:href="profile.linkedin"
                          target="_blank"
                          class="fa fa-linkedin"
                          style="font-size: 1rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-linkedin"
                          style="font-size: 1rem"
                        ></a>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <v-row class="py-2">
                    <v-col md="1" v-if="profile.email"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-email</v-icon
                      ></v-col
                    >
                    <v-col v-if="profile.email">: {{ profile.email }}</v-col>
                  </v-row>
                  <v-row class="py-2" v-if="profile.mobile_no">
                    <v-col md="1"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-phone</v-icon
                      ></v-col
                    >
                    <v-col md="8"
                      >: {{ profile.mobile_no }}
                      {{ profile.landline_no ? "|" : "" }}
                      {{ profile.landline_no }}</v-col
                    >
                    <v-col>
                      <span class="mr-1"
                        ><v-icon style="font-size: 1rem; color: black"
                          >mdi-heart</v-icon
                        >30</span
                      >
                      <span
                        ><v-icon style="font-size: 1rem; color: black"
                          >mdi-rss</v-icon
                        >50</span
                      >
                    </v-col>
                    <!-- <v-col md="2"
                      ><div class="social">
                        <h4>
                          <span style="color: #000" class="mr-2"
                            ><i
                              class="fa fa-heart"
                              style="font-size: 1rem"
                              aria-hidden="true"
                            ></i>
                            30</span
                          >
                          <span style="color: #000"
                            ><i
                              class="fa fa-rss"
                              style="font-size: 1rem"
                              aria-hidden="true"
                            ></i>
                            50</span
                          >
                        </h4>
                      </div></v-col
                    > -->
                  </v-row>
                  <v-row class="py-2" v-if="profile.website_link">
                    <v-col md="1"
                      ><v-icon style="font-size: 1rem; color: black"
                        >mdi-web</v-icon
                      ></v-col
                    >
                    <v-col>: {{ profile.website_link }}</v-col>
                  </v-row>

                  <!-- <v-row class="py-1" v-if="profile.type">
                    <v-col md="3">
                      <b>Type of School</b>
                    </v-col>
                    <v-col>: {{ profile.type }}</v-col>
                  </v-row>
                  <v-row class="py-1" v-if="profile.board">
                    <v-col md="3">
                      <b>Board</b>
                    </v-col>
                    <v-col>: {{ profile.board }}</v-col>
                  </v-row> -->
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <v-tabs
                  background-color="#FAFAFB"
                  color="black"
                  v-model="tabIndex"
                >
                  <v-tab>Overview</v-tab>
                  <v-tab id="gal">Gallery</v-tab>
                  <v-tab>Staff</v-tab>
                  <v-tab>Jobs</v-tab>
                  <v-tab id="news">News</v-tab>
                  <v-tab>Facilities</v-tab>
                  <v-tab>Courses</v-tab>
                  <v-tab>Placements</v-tab>
                  <v-tab>Reviews</v-tab>
                  <v-tab-item>
                    <div id="Overview">
                      <section class="mt-4">
                        <div class="bx">
                          <h3 class="head2" style="margin-top: 0">About Us</h3>
                          <p>
                            {{ profile.about_us }}
                          </p>
                        </div>
                      </section>
                      <section class="mt-0">
                        <h3 class="head2">Address & Timings</h3>
                        <div style="float: right; width: 100%">
                          <v-tabs
                            background-color="#FAFAFB"
                            color="grey !important"
                            v-model="tabIndexAddress"
                          >
                            <v-tab
                              v-for="address in adresslist"
                              :key="address.city_address_time_id"
                              v-model="tabIndexAddress"
                              style="width: auto"
                              >{{ address.city_name }}</v-tab
                            >
                            <v-tab-item
                              v-for="address in adresslist"
                              :key="address.city_address_time_id"
                            >
                              <div class="bx">
                                <h4 class="head2">Timings:</h4>
                                <div class="row">
                                  <div class="col-md-5">
                                    <p v-if="address.monday_start_time != ''">
                                      Mon
                                      {{
                                        getTimeFormat(address.monday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.monday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_monday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.monday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_monday_holiday === "Yes"
                                            ? "Monday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.tuesday_start_time != ''">
                                      Tue
                                      {{
                                        getTimeFormat(
                                          address.tuesday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.tuesday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_tuesday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.tuesday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_tuesday_holiday === "Yes"
                                            ? "Tuesday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p
                                      v-if="address.wednesday_start_time != ''"
                                    >
                                      Wed
                                      {{
                                        getTimeFormat(
                                          address.wednesday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(
                                          address.wednesday_end_time
                                        )
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_wednesday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p
                                      v-if="address.wednesday_start_time == ''"
                                    >
                                      <span style="color: red">
                                        {{
                                          address.is_wednesday_holiday === "Yes"
                                            ? "Wednesday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.thursday_start_time != ''">
                                      Thurs
                                      {{
                                        getTimeFormat(
                                          address.thursday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.thursday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_thursday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.thursday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_thursday_holiday === "Yes"
                                            ? "Thurseday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.friday_start_time != ''">
                                      Fri
                                      {{
                                        getTimeFormat(address.friday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.friday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_friday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.friday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_friday_holiday === "Yes"
                                            ? "Friday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.saturday_start_time != ''">
                                      Sat
                                      {{
                                        getTimeFormat(
                                          address.saturday_start_time
                                        )
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.saturday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_saturday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.saturday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_saturday_holiday === "Yes"
                                            ? "Saturday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>

                                    <p v-if="address.sunday_start_time != ''">
                                      Sun
                                      {{
                                        getTimeFormat(address.sunday_start_time)
                                      }}
                                      to
                                      {{
                                        getTimeFormat(address.sunday_end_time)
                                      }}
                                      <span style="color: red">
                                        {{
                                          address.is_sunday_holiday === "Yes"
                                            ? "(Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                    <p v-if="address.sunday_start_time == ''">
                                      <span style="color: red">
                                        {{
                                          address.is_sunday_holiday === "Yes"
                                            ? "Sunday (Holiday)"
                                            : ""
                                        }}
                                      </span>
                                    </p>
                                  </div>
                                  <div class="col-md-7">
                                    <iframe
                                      :src="address.map_link"
                                      width="100%"
                                      height="300"
                                      frameborder="0"
                                      style="border: 0"
                                      allowfullscreen=""
                                      aria-hidden="false"
                                      tabindex="0"
                                    ></iframe>
                                  </div>
                                  <div class="col-md-12">
                                    <h4 class="head2">Address</h4>
                                    <p>
                                      {{ address.address }},
                                      {{ address.city_name }},
                                      {{ address.state_name }},
                                      {{ address.country_name }},
                                      {{ address.mobile_no }}
                                      {{ address.phone_no ? " / " : "" }}
                                      {{ address.phone_no }},

                                      {{ address.email }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </v-tab-item>
                          </v-tabs>
                        </div>
                      </section>
                      <section>
                        <v-row class="py-2">
                          <v-col>
                            <h3 class="head2" style="margin-top: 0">Gallery</h3>
                          </v-col>
                        </v-row>
                        <div class="bx gallery_new">
                          <div class="row">
                            <div
                              class="col-md-2 mr-10"
                              v-for="gallary in gallarylistShort"
                              :key="gallary.gallery_id"
                            >
                              <img
                                style="
                                  width: 150px;
                                  height: 140px;
                                  object-fit: cover;
                                  border-radius: 4px;
                                "
                                :src="gallary.image"
                                alt=""
                              />
                            </div>
                            <div
                              class="col-md-2"
                              v-if="gallarylistShort.length > 3"
                            >
                              <a
                                @click="goToGallaryTab"
                                class="viewMorebtn"
                                style="color: #999"
                                >View More</a
                              >
                            </div>
                          </div>
                        </div>
                      </section>
                      <section>
                        <h3 class="head2" style="margin-top: 0">News</h3>
                        <div class="bx">
                          <hooper
                            class="tyming"
                            :itemsToShow="4"
                            :itemsToSlide="4"
                            :wheelControl="false"
                            style="margin-bottom;background:transparent;
                          }"
                          >
                            <slide v-for="news in newslist" :key="news.news_id">
                              <nuxt-link
                                :to="'/NewsDetail/?' + news.news_id"
                                class="box box-new"
                                ><img :src="news.image" alt="" />
                                <article>
                                  <v-row>
                                    <v-col
                                      ><h4>{{ news.title }}</h4></v-col
                                    ></v-row
                                  >
                                  <v-row>
                                    <v-col>{{
                                      news.desc.substr(0, 100)
                                    }}</v-col>
                                  </v-row>
                                </article></nuxt-link
                              >
                            </slide>
                          </hooper>
                          <div class="text-center" v-if="newslist.length > 3">
                            <a @click="goToNewsTab" class="btn">View More</a>
                          </div>
                          <!-- <div class="row">
                         
                          <div class="col-md-4">
                           
                          </div>
                          <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                        </div>
                      </section>
                      <section>
                        <h3 class="head2">Reviews</h3>

                        <div class="review_view panel bx">
                          <div v-if="reviewData.length > 0">
                            <div
                              class="grey-box"
                              style="border-radius: 20px"
                              v-for="review in reviewData"
                              :key="review.id"
                            >
                              <div>
                                <article>
                                  <div class="tit">
                                    <div class="col-md-2" style="width: 150px">
                                      <v-row
                                        ><v-col>
                                          <img
                                            :src="
                                              review.customer_image
                                            " /></v-col
                                      ></v-row>
                                      <v-row
                                        ><v-col>
                                          <span class="stars">
                                            <i
                                              class="ion-android-star"
                                              v-for="rateindex in parseInt(
                                                review.rate
                                              )"
                                              :key="rateindex"
                                            ></i> </span></v-col
                                      ></v-row>
                                    </div>
                                    <div class="col-md-10 mb-20">
                                      <v-row
                                        ><v-col class="text-left"
                                          ><h5 class="ml-0">
                                            {{ review.customer_name }}
                                          </h5></v-col
                                        >
                                        <!-- <v-col class="text-right"
                                          ><v-btn
                                            v-if="review.status == 1"
                                            rounded
                                            dark
                                            color="green"
                                            size="small"
                                          >
                                            Published
                                          </v-btn>
                                          <v-btn
                                            v-else
                                            rounded
                                            dark
                                            color="grey darken-4"
                                            size="small"
                                            @click="makePublish(review.id, 1)"
                                          >
                                            Make Publish</v-btn
                                          ></v-col
                                        > -->
                                      </v-row>
                                      <v-row
                                        ><v-col style="padding-left: -20px">
                                          <p>
                                            {{ review.message }}
                                          </p></v-col
                                        ></v-row
                                      >
                                    </div>
                                  </div>
                                  <!-- <div class="tit">
                                  <div>
                                    <img :src="review.customer_image" />
                                    <span class="stars">
                                      <i
                                        class="ion-android-star"
                                        v-for="rateindex in parseInt(review.rate)"
                                        :key="rateindex"
                                      ></i>
                                    </span>
                                  </div>
                                  <div>
                                    <v-col
                                      ><h5>{{ review.customer_name }}</h5></v-col
                                    ><v-col class="text-right"
                                      ><v-btn
                                        v-if="review.status == 1"
                                        rounded
                                        dark
                                        color="green"
                                        size="small"
                                      >
                                        Published
                                      </v-btn>
                                      <v-btn
                                        v-else
                                        rounded
                                        dark
                                        color="grey darken-4"
                                        size="small"
                                        @click="makePublish(review.id, 1)"
                                      >
                                        Make Publish</v-btn
                                      ></v-col
                                    >
                                  </div>
                                </div> -->
                                  <!-- <p>
                                  {{ review.message }}
                                </p> -->
                                </article>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section v-if="entity_id != user_id">
                        <h6 class="head2">Write a Review</h6>
                        <div class="bx">
                          <div class="write_review">
                            <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                            <div class="form">
                              <v-textarea
                                v-model="review.message"
                                placeholder="Message (within 250 characters)"
                                maxlength="250"
                                counter
                              ></v-textarea>
                            </div>
                            <div>
                              <v-rating
                                v-model="review.rate"
                                color="yellow darken-3"
                                background-color="grey darken-1"
                                half-increments
                                hover
                                large
                              ></v-rating>
                            </div>
                            <div
                              v-if="error"
                              class="form-group fadein"
                              style="margin-bottom: 30px"
                            >
                              <v-alert class="" text prominent type="error">
                                {{ errorMessage }}
                              </v-alert>
                            </div>
                            <div
                              class="form-group fadein"
                              v-if="success"
                              style="margin-bottom: 15px"
                            >
                              <div class="row">
                                <v-alert text type="success" align="left">
                                  {{ successMessage }}
                                </v-alert>
                              </div>
                            </div>
                            <v-btn
                              :loading="loading"
                              :disabled="loading"
                              rounded
                              dark
                              color="grey darken-4"
                              @click="submitReview"
                              >Add your Review</v-btn
                            >
                          </div>
                        </div>
                      </section>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <SchoolGalleryList :record="gallarylist" />
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="list_view">
                        <div
                          class="row mb-2"
                          v-for="staff in stafflist"
                          :key="staff.trainer_id"
                        >
                          <div class="col-md-3">
                            <img :src="staff.image" alt="" />
                          </div>
                          <div class="col-md-9">
                            <div class="list-bx">
                              <div>
                                <h3 class="head2">{{ staff.name }}</h3>
                                <h5>{{ staff.designation }}</h5>
                                <p>
                                  {{ staff.description }}
                                </p>
                                <ul>
                                  <li>
                                    <a
                                      v-bind:href="staff.facebook"
                                      target="_blank"
                                      ><i class="ion-social-facebook"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.twitter"
                                      target="_blank"
                                      ><i class="ion-social-twitter"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.instagram"
                                      target="_blank"
                                      ><i class="ion-social-instagram"></i
                                    ></a>
                                  </li>
                                  <li>
                                    <a
                                      v-bind:href="staff.linkedin"
                                      target="_blank"
                                      ><i class="ion-social-linkedin"></i
                                    ></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx job-list">
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >

                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                      <hr />
                      <h3 class="head2">Recruting For</h3>
                      <h5 class="head2">Designer-Kolkata</h5>
                      <p>Mokesha Design PVT LTD</p>
                      <p>Kolkata</p>
                      <p>experience</p>
                      <span
                        >Posted 7 days ago
                        <a href="#" class="btn" style="float: right"
                          >More..</a
                        ></span
                      >
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="row">
                        <div
                          class="col-md-4"
                          v-for="news in newslist"
                          :key="news.news_id"
                        >
                          <nuxt-link
                            :to="'/NewsDetail/?' + news.news_id"
                            class="box box-new"
                          >
                            <img :src="news.image" alt="" />
                            <article>
                              <v-row>
                                <v-col
                                  ><h4>{{ news.title }}</h4></v-col
                                ></v-row
                              >
                              <v-row>
                                <v-col>{{ news.desc.substr(0, 100) }}</v-col>
                              </v-row>
                              <!-- <h4>{{ news.title }}</h4>
                                <p>
                                  {{ news.desc }}
                                </p> -->
                            </article>
                          </nuxt-link>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="bx">
                      <div class="fact">
                        <ul
                          v-for="facility in facilitylist"
                          :key="facility.facility_id"
                        >
                          <p>
                            <i
                              class="ion-checkmark-round"
                              aria-hidden="true"
                            ></i>
                            {{ facility.desc }}
                          </p>
                        </ul>
                      </div>
                    </div>
                  </v-tab-item>

                  <v-tab-item>
                    <div class="bx school-course" id="Courses">
                      <div class="row box box-new">
                        <div
                          class="col-md-4"
                          v-for="course in courselist"
                          :key="course.course_id"
                        >
                          <img :src="course.image" alt="" />

                          <article>
                            <h4>{{ course.name }}</h4>
                            <div>
                              <small
                                ><i class="ion-clipboard"></i> Eligibility:
                                {{ course.eligibility }}</small
                              >
                              <small
                                ><i class="ion-clock"></i>Duration:
                                {{ course.duration }}</small
                              >
                              <small
                                ><i class="ion-card"></i>Fees:
                                {{ course.fee }}</small
                              >
                            </div>
                            <div>
                              <v-btn
                                v-if="user_id != detail_id"
                                style="background: #000"
                                class="btn"
                                @click="enrollDialog(course)"
                                >Enroll</v-btn
                              >
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <div class="collap panel bx grey-box">
                      <div
                        class="grey-box"
                        style="background: rgb(255, 255, 255)"
                        v-for="placement in placementlist"
                        :key="placement.placement_id"
                      >
                        <div
                          fragment="c7f12a3f69"
                          class="col-md-2"
                          style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                          "
                        >
                          <img :src="placement.image" alt="" />
                          <!-- <ul>
                            <li>
                              <a href="#"><i class="fa fa-facebook" style="background: rgb(72, 91, 150);"></i></a></li> 
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               <li><a href="#"><i class="fa fa-linkedin" style="background: rgb(22, 126, 183);"></i></a></li>
                               </ul> -->
                        </div>
                        <div fragment="c7f12a3f69" class="col-md-10">
                          <h4>{{ placement.name }}</h4>
                          <!-- <span>Btech | Batch:2020</span> -->
                          <span
                            >{{ placement.designation }} ({{
                              placement.placement_date
                            }})
                          </span>
                          <br />
                          <span>{{ placement.company }}</span>
                          <p style="margin-top: 0">
                            {{ placement.message }}
                          </p>
                        </div>
                        <!--fragment#c7f12a3f69#tail-->
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item>
                    <AllTabReview :reviewData="reviewData" />
                  </v-tab-item>
                </v-tabs>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <div class="">
                    <h3 class="head2" style="margin-top: 0">
                      Sponsors &amp; Ads
                    </h3>
                    <div class="box">
                      <img
                        src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                        alt=""
                      />
                      <div class="prom-tag">promoted</div>
                      <article>
                        <h4>GIIM</h4>
                        <p>By GIM institue</p>
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </article>
                    </div>
                    <div class="box">
                      <img
                        src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                        alt=""
                      />
                      <div class="prom-tag">Newly Added</div>
                      <article>
                        <h4>NIT</h4>
                        <p>By NIT Manegement</p>
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </article>
                    </div>
                    <div class="box">
                      <img
                        src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                        alt=""
                      />
                      <div class="prom-tag">Exclusive</div>
                      <article>
                        <h4>NSHMI</h4>
                        <p>by NSHM institue</p>
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="bx">
                <h3 class="head2" style="margin-top: 0">Jobs</h3>
                <div class="course-profile">
                  <ul style="margin-top: 0">
                    <li><a href="#">10th Class Job (10)</a></li>
                    <li>
                      <a href="manage-course.html"
                        >Company Software Jobs (31)
                      </a>
                    </li>
                    <li><a href="#">Pharma job</a></li>
                    <li><a href="#">java Programmer</a></li>
                    <li><a href="#">Marketing job </a></li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
          <section>
            <v-row class="py-2 pl-4">
              <v-col><h3 class="head2">Similar Universities</h3></v-col>
            </v-row>
            <div class="col-md-12">
              <!-- Add 3 july -->
              <hooper
                class="tyming grey-box"
                style="border-radius: 5px"
                :itemsToShow="similarUniversities.length"
                :itemsToSlide="4"
                :wheelControl="false"
                :settings="hooperSettings"
                :infiniteScroll="true"
                :autoPlay="true"
                :playSpeed="5000"
              >
                <slide
                  v-for="item in similarUniversities"
                  :key="item.school_id"
                >
                  <div>
                    <nuxt-link :to="item.username" class="box box-new">
                      <img
                        v-if="item.logo_image"
                        :src="item.logo_image"
                        alt=""
                      />
                      <img
                        v-else
                        src="../../assets/img/university-avatar.jpeg"
                        alt=""
                      />
                      <article style="height: 180px">
                        <div class="stars" v-if="item.rating">
                          <v-rating
                            color="warning"
                            hover
                            length="5"
                            readonly
                            size="15"
                            half-increments
                            :value="Number(item.rating).toFixed(1)"
                          ></v-rating>
                        </div>
                        <h4>{{ item.name }}</h4>
                        <!-- <h5
                        style="
                          color: #f73c1f;
                          font-weight: bold;
                          font-size: 15px;
                        "
                      >
                        Board: CBSE
                      </h5> -->
                        <h5>
                          <v-icon style="font-size: 1rem">mdi-email</v-icon
                          >{{ item.email }}
                        </h5>

                        <h5>
                          <v-icon style="font-size: 1rem">mdi-phone</v-icon>
                          {{ item.mobile_no }}
                        </h5>
                        <h5 v-if="item.website">
                          <v-icon style="font-size: 1rem">mdi-web</v-icon
                          >{{ item.website }}
                        </h5>
                      </article>
                    </nuxt-link>
                  </div>
                </slide>
              </hooper>
              <!-- Add 3 july -->
            </div>
          </section>
        </div>
      </div>
    </div>
    <v-dialog v-model="showDialog" width="600">
      <v-card>
        <v-card-title class="headline"
          >Enroll Now For {{ courseName }}</v-card-title
        >
        <v-form ref="enrollform">
          <v-card-text>
            <v-row>
              <div class="col-md-12">
                <v-text-field
                  label="First Name*"
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.first_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  required
                  :rules="[(v) => !!v || 'Required']"
                  label="Last Name*"
                  v-model="enroll.last_name"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Email*"
                  required
                  :rules="emailRules"
                  v-model="enroll.email"
                >
                </v-text-field>
              </div>
              <div class="col-md-12">
                <v-text-field
                  outlined
                  label="Phone Number*"
                  maxlength="10"
                  :rules="[(v) => /^\d{10}$/.test(v) || 'Must be 10 digit']"
                  required
                  v-model="enroll.phone"
                  @keypress="onlyNumbers"
                ></v-text-field>
              </div>
              <div class="col-md-12">
                <v-textarea
                  outlined
                  label="Message*"
                  maxlength="250"
                  required
                  :rules="[(v) => !!v || 'Required']"
                  v-model="enroll.message"
                ></v-textarea>
              </div>
              <div class="col-md-12">
                <div
                  v-if="error"
                  class="form-group fadein col-md-12"
                  style="margin-bottom: 30px"
                >
                  <v-alert class="" text prominent type="error">
                    {{ responseMessage }}
                  </v-alert>
                </div>
                <div
                  class="form-group fadein col-md-12"
                  v-if="success"
                  style="margin-bottom: 15px"
                >
                  <div class="row">
                    <v-alert text type="success" align="left">
                      {{ responseMessage }}
                    </v-alert>
                  </div>
                </div>
              </div>
            </v-row>

            <v-card-actions>
              <v-btn
                rounded
                dark
                color="grey darken-4"
                :loading="loading"
                :disabled="loading"
                @click="enrollCourse"
                >Submit</v-btn
              >
              <v-btn color="red" rounded dark @click="closeEnrollDialog"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card-text>
        </v-form>
      </v-card>
    </v-dialog>
    <Footer />
  </div>
</template>
<script>
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
import SchoolCoursesList from "../../components/SchoolCoursesList";
import SchoolGalleryList from "../../components/SchoolGalleryList";
import SchoolOverview from "../../components/SchoolOverview";
import AllTabReview from "../../components/AllTabReview";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
import banner from "../../assets/img/picnic.jpg";

export default {
  name: "Details",
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    SchoolCoursesList,
    SchoolGalleryList,
    SchoolOverview,
    AllTabReview,
    Footer,
    Header,
    PreLoader,
  },
  data() {
    return {
      banner,
      showDialog: false,
      loading: false,
      user_id: "",
      email: "",
      mobile: "",
      enroll: {
        first_name: "",
        last_name: "",
        email: "",
        phone: "",
        message: "",
        course_user_id: "",
      },
      responseMessage: "",
      success: false,
      error: false,
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
      courseName: "",
      detail_id: "",
      error: false,
      errorMessage: "",
      success: false,
      tabIndex: 0,
      tabIndexAddress: 0,
      successMessage: "",
      loading: false,
      timeout: 6000,
      university_username: "",
      profile: "",
      adresslist: [],
      gallarylist: [],
      gallarylistShort: [],
      stafflist: [],
      newslist: [],
      facilitylist: [],
      courselist: [],
      joblist: [],
      placementlist: [],
      kyclist: [],
      reviewData: [],
      similarUniversities: [],
      user_id: "",
      entity_id: "",
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      // preloader: true,
      bannerdata: "",
      hooperSettings: {
        itemsToShow: 4,
        breakpoints: {
          800: {
            centerMode: false,
            itemsToShow: 2,
          },
          700: {
            centerMode: false,
            itemsToShow: 2,
          },
          360: {
            centerMode: false,
            itemsToShow: 1,
          },
          320: {
            centerMode: false,
            itemsToShow: 1,
          },
          280: {
            centerMode: false,
            itemsToShow: 1,
          },
          1000: {
            itemsToShow: 4,
          },
        },
      },
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.university_username = id.pop();
    this.getProfile();

    console.log("url5235", id);
  },
  mounted() {
    let cust_id = localStorage.getItem("userId");
    this.user_id = cust_id;
    let id = localStorage.getItem("details_id");
    this.entity_id = id;
    this.email = localStorage.getItem("email");
    this.mobile = localStorage.getItem("mobile");
    console.log("sfdgsdfgdsgsdf", this.entity_id, this.user_id);
    setTimeout(() => {
      this.getAddress();
      this.getGallery();
      this.getStaff();
      this.getNews();
      this.getFacilities();
      this.getCouseList();
      this.getJobs();
      this.getPlacements();
      this.getKycs();
      this.getBanner();
      this.getReviews();
      this.getSimilar();
    }, 1000);
    setTimeout(() => {
      this.getBanner();
      this.preloader = false;
    }, 3500);
    this.$store.dispatch("persist");
    this.$store.dispatch("cartItem");
  },
  methods: {
    getTimeFormat(t) {
      let ti = t.split(":");
      let h = Number(ti[0]);
      let m = Number(ti[1]);
      let ampm = h >= 12 ? "PM" : "AM";
      let h1 = Number(h % 12);
      let hours = h1 ? h1 : 12;
      let minutes = m < 10 ? "0" + m : m;
      let time = hours + ":" + minutes + " " + ampm;
      return time;
    },
    goToNewsTab() {
      this.tabIndex = 4;
      window.scrollTo(0, 0);
    },
    goToGallaryTab() {
      this.tabIndex = 1;
      window.scrollTo(0, 0);
    },
    async getSimilar() {
      let res = await this.$axios.post("CustomerApi/university_list", {
        per_page: 100,
        page_no: 1,
      });
      this.similarUniversities = res.data.data;
    },
    async getProfile() {
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.university_username,
      });
      if (res.data.result === 1) {
        console.log("detailscollege353456456", res.data.data);
        this.profile = res.data.data;
        localStorage.setItem("details_id", res.data.data.user_id);
        localStorage.setItem("username", res.data.data.username);
        localStorage.setItem(
          "entity_corporate_type",
          res.data.data.corporate_type
        );
      } else {
        console.log("detailscollege", res.data.message);
      }
      console.log("collegedetails");
    },

    async getAddress() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_city_address_time",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.adresslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getGallery() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_gallery", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.gallarylist = res.data.data;
        this.gallarylistShort = res.data.data.slice(0, 4);
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getStaff() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/trainer_list", {
        user_id: entity_id,
      });
      if (res.data.result === 1) {
        this.stafflist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getNews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_news", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.newslist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getFacilities() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_facilities",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.facilitylist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getCouseList() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: entity_id,
      });
      if (res.data.result === 1) {
        this.courselist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getJobs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_job", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.joblist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getPlacements() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_placement",
        {
          user_id: entity_id,
          action: "list",
        }
      );
      if (res.data.result === 1) {
        this.placementlist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getKycs() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/manage_kyc", {
        user_id: entity_id,
        action: "list",
      });
      if (res.data.result === 1) {
        this.kyclist = res.data.data;
        console.log("detailscollege", res.data.data);
      } else {
        console.log("detailscollege", res.data.message);
      }
    },

    async getReviews() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/review_list", {
        entity_id: entity_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let entity_id = localStorage.getItem("details_id");
      let user = localStorage.getItem("userId");
      this.loading = true;
      if (user) {
        (this.review.customer_id = this.user_id),
          (this.review.entity_id = entity_id);
        console.log("sdfasfgafsdgdf", this.review);
        if (this.review.message == "" && this.review.rate == "") {
          this.loading = false;
          this.error = true;
          this.errorMessage = "Please give rate or review";
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else {
          let res = await this.$axios.post(
            "/trainingInstituteApi/add_review",
            this.review
          );
          if (res.data.result === 1) {
            this.loading = false;
            this.success = true;
            this.successMessage = res.data.message;
            setTimeout(() => {
              this.success = false;
              this.review = {
                customer_id: "",
                entity_id: "",
                description: "",
                rating: "",
              };
            }, 2000);
          } else {
            this.loading = false;
            this.error = true;
            this.errorMessage = res.data.message;
            setTimeout(() => {
              this.error = false;
            }, 2000);
          }
        }
      } else {
        this.loading = false;
        this.$router.push("/login");
      }
    },

    async getBanner() {
      let entity_id = localStorage.getItem("details_id");
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: entity_id,
      });
      this.bannerdata = res.data.data.banner_image;
      console.log("log2", this.bannerdata);
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    closeEnrollDialog() {
      this.showDialog = false;
      this.enroll.first_name = "";
      this.enroll.last_name = "";
      this.enroll.message = "";
    },
    enrollDialog(course) {
      if (this.user_id) {
        console.log("course12234", course);

        this.courseName = course.name;
        console.log("enroll2234", this.enroll);
        if (this.email != "") {
          this.enroll.email = this.email;
        }
        if (this.mobile != "") {
          this.enroll.phone = this.mobile;
        }
        this.enroll.user_id = this.user_id;
        this.enroll.course_id = course.course_id;
        this.enroll.course_user_id = this.entity_id;
        this.showDialog = true;
      } else {
        this.$router.push("/login");
        // if (this.corporate === "Company") {
        // } else if (this.corporate === "Consultancy") {
        // } else if (this.corporate === "School") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "College") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "University") {
        //   this.$router.push("/corporate/login");
        // } else if (this.corporate === "Training Institute") {
        //   this.$router.push("/corporate/login");
        // } else {
        //   this.$router.push("/login");
        // }
      }
    },
    async enrollCourse() {
      this.loading = true;
      let checkEmail = true;
      let checkPhone = true;

      // if(this.enroll.phone !=""){
      // if(this.enroll.phone >10 || this.enroll.phone <10){
      //   checkPhone=false
      // }
      // }
      if (!this.$refs.enrollform.validate()) {
        // if(this.enroll.first_name == "" ||
        // this.enroll.last_name == "" ||
        // this.enroll.email == "" ||
        // this.enroll.phone == "" ||
        // this.enroll.message == ""){
        this.loading = false;
        this.responseMessage = "Please fill the mandatory field";
        this.error = true;
        setTimeout(() => {
          this.error = false;
          this.responseMessage = "";
        }, 2000);
        // }else{
        //   this.loading = false;
        // this.responseMessage = "Please fill valid Email or Phone Number";
        // this.error = true;
        // setTimeout(() => {
        //   this.error = false;
        //   this.responseMessage = "";
        // }, 2000);
        // }
      } else {
        let res = await this.$axios.post("CustomerApi/enroll_now", this.enroll);
        if (res.data.result === 1) {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.success = true;
          setTimeout(() => {
            this.success = false;
            this.responseMessage = "";
            this.showDialog = false;
            this.enroll.first_name = "";
            this.enroll.last_name = "";
            this.enroll.message = "";
          }, 2000);
        } else {
          this.loading = false;
          this.responseMessage = res.data.message;
          this.error = true;
          setTimeout(() => {
            this.error = false;
            this.responseMessage = "";
          }, 2000);
        }
      }
    },
  },
};
</script>
<style >
.viewMorebtn {
  text-align: center;
  align-self: center;
  border: 2px solid #ddd;
  float: left;
  width: 150px;
  height: 140px;
  color: #999;
  font-weight: bold;
  line-height: 10;
}
</style>

