<!DOCTYPE html>
<html lang="en">
  <head>


    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>DICS Computer Institute : Home</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/icon" href="img/wpf-favicon.png" />

    <!-- CSS
    ================================================== -->  
	<style >
	
		
		.sub1,.sub2{
			position: absolute;
			left: -999em;
		}
		
		.menu-item:hover .sub1,
		.menu-item:hover .sub2{
				left: 0em;
				 <!-- top: 2em; -->
				<!-- margin-top: 1em ; -->
			
				
		}
		

		
	</style>
	

    <!-- Bootstrap css file-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="css/superslides.css">
    <!-- Slick slider css file -->
    <link href="css/slick.css" rel="stylesheet"> 
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css'>  
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="css/animate.css"> 
    <!-- preloader -->
    <link rel="stylesheet" href="css/queryLoader.css" type="text/css" />
    <!-- gallery slider css -->
    <link type="text/css" media="all" rel="stylesheet" href="css/jquery.tosrus.all.css" />    
    <!-- Default Theme css file -->
    <link id="switcher" href="css/themes/default-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="style.css" rel="stylesheet">
   
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>   
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>    

    
 
  </head>
  
  <body>    

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"></a>
    <!-- END SCROLL TOP BUTTON -->

    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  <div class="container">
            <div class="navbar-header">
              <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- LOGO -->
              <!-- TEXT BASED LOGO -->
              <a class="navbar-brand" href="index.html">DICS <span>Computer Institute</span></a>              
              <!-- IMG BASED LOGO  -->
               <!-- <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="logo"></a>  -->            
                     
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="scholarship.html">About-us</a></li>
	            <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Courses<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="menu-item"><a  >Software Courses</a>
					
						<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="course-dcba.html">Diploma in Computer Business Application</a></li>
									<li><a href="course-pdse.html">Professional Diploma in Software Engineering</a></li>
									<li><a href="course-mdse.html">Master Diploma in Software Engineering</a></li>
									<li><a href="course-softwaredev.html">Professional Diploma in Software Devlopment</a></li> 
									<li><a href="gamdev.html">Master diploma in GAME DESIGN AND DEVLOPMENT </a></li> 
								 
								 </ul>
							</li>               
							
							
						</ul>
					</li>
                    <li class="menu-item"><a href="#">Multimedia & Animations Courses</a>
					
							<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="multimedia-animation.html">Master in animation </a></li>
									<li><a href="multimedia-grani.html">Graphic & animation </a></li>
									<li><a href="multimedia-web.html">Web Studio </a></li>
									<li><a href="video.html">Diploma in Video Post-Production & YouTube Marketing</a></li>
									             
								 </ul>
							</li> 
							</ul>							
					
					</li>
                    <li class="menu-item"><a >Web Designing Courses</a>
							<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="multimedia-web.html">WEB STUDIO </a></li>
									<li><a href="3DIn_Ex.html">3D Interior Design</a></li>
									<li><a href="multimedia-ad_digi.html">Advertising Design and Digital MARKETING</a></li>
								 </ul>
							</li> 
							</ul>	
						
					
					</li>
			        <li class="menu-item"><a >Digital Marketing Courses</a>
							<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="seo.html">Search Engine Optimization </a></li>
									<li><a href="seo_prm.html">SEO SMO Premium course </a></li>
									<li><a href="smmc.html">Social Media Marketing</a></li>
									<li><a href="gam.html">Google Adwords Master Course</a></li>
									<li><a href="gac.html">Google Analytics Course</a></li>	
									<li><a href="gsm.html">Graphics for Social Media	</a></li>
									<li><a href="dgm.html">Digital Marketing Course</a></li>

									
								 </ul>
							</li> 
							</ul>	
					
					
					</li>
                    <li class="menu-item"><a >Professional Diploma Courses</a>
							<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="course-uiux.html">Professional Diploma In UI/UX Development</a></li>
									<li><a href="course-android.html">Mastero Diploma In App Development</a></li>
									<li><a href="course-fullstack.html">Professional Diploma in Full Stack Devlopment</a></li>
									<li><a href="course-webdigi.html">Advance Diploma In Web Technologies And Digital Marketing</a></li>
									<li><a href="course-softwaredev.html">Professional Diploma In Software Development</a></li>
									<li><a href="course-webtech.html">POST GRADUATE DIPLOMA IN WEB TECHNOLOGIES</a></li>
									<li><a href="course-webmaster.html">Master Dipoma In Web Technologies AND Digital Marketing</a></li>
									    
								 </ul>
							</li> 
							</ul>	
					
					
					</li>
					<li class="menu-item"><a >Corporate Course</a>
						<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="margin-top: -50px;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav">
									<li><a href="course-financialAccounting.html">Diploma In Financial Accounting</a></li>
									<li><a href="course-corporate.html">Diploma In Computer For Corporate Professional</a></li>
									            
								 </ul>
							</li> 
						</ul>	
					
					
					
					</li>
                    <li class="menu-item"><a href="#">Short Term Courses</a>
						<ul  class="sub1" class="nav navbar-nav navbar-right main-nav" style="top: 2em;">
							<li class="dropdown">
							
								<ul class="dropdown-menu" role="menu" class="nav navbar-nav navbar-right main-nav" >
									<li ><a href="clanguage.html">C Language</a></li>
									<li><a href="course-cplus.html">C++ Language</a></li>
									<li><a href="course-java.html">Core Java</a></li>
									<li><a href="course-advjava.html">Adv. Java</a></li>
									<li><a href="course-php.html">Php</a></li>
									<li><a href="course-python.html">Python</a></li>
									<li><a href="course-mysql.html">MySql</a></li>
									<li><a href="course-web3.html">Html,CSS,Javascript</a></li>
									<li><a href="course-bootstrap.html">Bootstrap</a></li>									
								 </ul>
							</li> 
						</ul>	
					
					</li>              
                  </ul>
                </li>               
				<li><a href="course-archive.html">Why us</a></li>            
			<li><a href="gallery.html">Gallery</a></li>                
             <li><a href="blog-archive.html">Blog</a></li>
             <li><a href="contact.html">Contact</a></li>
              </ul>           
            </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->    
	 </header>
    <!--=========== END HEADER SECTION ================--> 

    <!--=========== BEGIN SLIDER SECTION ================-->
    <section id="slider">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="slider_area">
            <!-- Start super slider -->
            <div id="slides">
              <ul class="slides-container">                          
                <li>
                  <img src="img/slider/2.jpg" alt="img">
                   <div class="slider_caption">
                    <!-- <h2>Computer Education</h2> -->
                    <!-- <p>###################################</p> -->
                    <!-- <a class="slider_btn" href="#">Know More</a> -->
                  </div>
                </li>
                <!-- Start single slider-->
                <li>
                  <img src="img/slider/3.jpg" alt="img">
                   <div class="slider_caption slider_right_caption">
                    <!-- <h2>##############</h2> -->
                    <!-- <p></p> -->
                    <!-- <a class="slider_btn" href="#">Know More</a> -->
                  </div>
                </li>
                <!-- Start single slider-->
                <li>
                  <img src="img/slider/4.jpg" alt="img">
                   <div class="slider_caption">
                    <!-- <h2></h2> -->
                    <!-- <p></p> -->
                    <!-- <a class="slider_btn" href="#">Know More</a> -->
                  </div>
                </li>
				<li>
                  <img src="img/slider/5.jpg" alt="img">
                   <div class="slider_caption">
                    <!-- <h2></h2> -->
                    <!-- <p></p> -->
                    <!-- <a class="slider_btn" href="#">Know More</a> -->
                  </div>
                </li>
              </ul>
              <nav class="slides-navigation">
                <a href="#" class="next"></a>
                <a href="#" class="prev"></a>             
				</nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END SLIDER SECTION ================-->

    <!--=========== BEGIN ABOUT US SECTION ================-->
    <section id="aboutUs">
      <div class="container">
        <div class="row">
        <!-- Start about us area -->
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="aboutus_area wow fadeInLeft">
            <div align="justify">DICS  is New Delhi (India) based training organisation imparting Classroom/ online training solutions in Multimedia, CAD and IT streams.  TGC has trained thousands of students in the last 16 Years, An ISO certified company TGC is also a mainstream partner of Media and Entertainment Skill Council (MESC) under NSDC, Govt. of India for Skill India programme. An ATC- Adobe and AutoDesk, at TGC, Our primary focus is to deliver unmatched learning solutions through specialized trainers and in most affordable fee. We have got students placed in top notch media and entertainment studios, content houses, CAD and IT firms.</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="newsfeed_area wow fadeInRight">
            <ul class="nav nav-tabs feed_tabs" id="myTab2">
              <li class="active"><a href="#news" data-toggle="tab">Quotes</a></li>
              <li><a href="#notice" data-toggle="tab">Updates</a></li>
              <li><a href="#events" data-toggle="tab"> IT Trends</a></li>         
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <!-- Start news tab content -->
              <div class="tab-pane fade in active" id="news">                
                <ul class="news_tab">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" href="#">
                          <img class="media-object" src="img/quote.jpg" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >It doesn't matter what you have, what matters is what you do with what you have.</a>
                       <!-- <span class="feed_date">27.02.15</span> -->
                      </div>
                    </div>                    
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" >
                          <img class="media-object" src="img/quote.jpg" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >An Expert in anything was once a beginner.</a>
                       <!-- <span class="feed_date">28.02.15</span> -->
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" >
                          <img class="media-object" src="img/quote.jpg" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >Desire of Success should be greater than fear of Failure.</a>
                       <!-- <span class="feed_date">28.02.15</span> -->
                      </div>
                    </div>
                  </li>
                </ul>                
                <!-- <a class="see_all" href="#">See All</a> -->
              </div>
              <!-- Start notice tab content -->  
              <div class="tab-pane fade " id="notice">
                <div class="single_notice_pane">
                  <ul class="news_tab">
                    <li>
                      <div class="media">
                        <div class="media-left">
                          <a class="news_img" href="#">
                            <img class="media-object" src="img/news.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                         <a href="#">Registration and Admission open for the session 2018-2019</a>
                         <span class="feed_date">01.04.18</span>
                        </div>
                      </div>                   
                    </li>
                    <!-- <li> -->
                      <!-- <div class="media"> -->
                        <!-- <div class="media-left"> -->
                          <!-- <a class="news_img" href="#"> -->
                            <!-- <img class="media-object" src="img/news.jpg" alt="img"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                        <!-- <div class="media-body"> -->
                         <!-- <a href="#">Dummy text of the printing and typesetting industry</a> -->
                         <!-- <span class="feed_date">28.02.15</span>              -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li> -->
                      <!-- <div class="media"> -->
                        <!-- <div class="media-left"> -->
                          <!-- <a class="news_img" href="#"> -->
                            <!-- <img class="media-object" src="img/news.jpg" alt="img"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                        <!-- <div class="media-body"> -->
                         <!-- <a href="#">Dummy text of the printing and typesetting industry</a> -->
                         <!-- <span class="feed_date">28.02.15</span>              -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </li>                                     -->
                  </ul>
                  <ul class="news_tab">
                     <li>
                      <div class="media">
                        <div class="media-left">
                          <a class="news_img" href="#">
                            <img class="media-object" src="img/news.jpg" alt="img">
                          </a>
                        </div>
                        <div class="media-body">
                         <a href="#">Registration and Admission open for the session 2018-2019</a>
                         <span class="feed_date">01.04.18</span>
                        </div>
                      </div>                   
                    </li>
                    <!-- <li> -->
                      <!-- <div class="media"> -->
                        <!-- <div class="media-left"> -->
                          <!-- <a class="news_img" href="#"> -->
                            <!-- <img class="media-object" src="img/notice.jpg" alt="img"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                        <!-- <div class="media-body"> -->
                         <!-- <a href="#">Dummy text of the printing and typesetting industry</a> -->
                         <!-- <span class="feed_date">28.02.15</span>           -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </li> -->
                    <!-- <li> -->
                      <!-- <div class="media"> -->
                        <!-- <div class="media-left"> -->
                          <!-- <a class="news_img" href="#"> -->
                            <!-- <img class="media-object" src="img/notice.jpg" alt="img"> -->
                          <!-- </a> -->
                        <!-- </div> -->
                        <!-- <div class="media-body"> -->
                         <!-- <a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a> -->
                         <!-- <span class="feed_date">28.02.15</span> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </li>                                     -->
                  </ul>
                </div>               
              </div>
              <!-- Start events tab content -->
              <div class="tab-pane fade " id="events">
                <ul class="news_tab">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" href="#">
                          <img class="media-object" src="img/soft1.jpg" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >Brands Will Invest Heavily in Influencer Marketing</a>
                       <!-- <span class="feed_date">27.02.15</span> -->
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" href="#">
                          <img class="media-object" src="img/mul.jpg" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >The 2016 multimedia trends show how exciting a time it is for consumer entertainment.</a>
                       <!-- <span class="feed_date">28.02.15</span>                 -->
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a class="news_img" href="#">
                          <img class="media-object" src="img/trend.png" alt="img">
                        </a>
                      </div>
                      <div class="media-body">
                       <a >Social media influencers gaining more...influence</a>
                       <!-- <span class="feed_date">28.02.15</span>                 -->
                      </div>
                    </div>
                  </li>                  
                </ul>
                <a class="see_all" href="#">See All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!--=========== END ABOUT US SECTION ================--> 

    <!--=========== BEGIN WHY US SECTION ================-->
    <section id="whyUs">
      <!-- Start why us top -->
      <div class="row">        
        <div class="col-lg-12 col-sm-12">
          <div class="whyus_top">
            <div class="container">
              <!-- Why us top titile -->
              <div class="row">
                <div class="col-lg-12 col-md-12"> 
                  <div class="title_area">
                    <h2 class="title_two">Why Us</h2>
                    <span></span> 
                  </div>
                </div>
              </div>
              <!-- End Why us top titile -->
              <!-- Start Why us top content  -->
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="single_whyus_top wow fadeInUp">
                    <div class="whyus_icon">
                      <span class="fa fa-desktop"></span>
                    </div>
                    <h3>CERTIFICATIONS</h3>
                    <p>At the end of the course you will be provided with respective certificates that will help you 
					to get a good job</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="single_whyus_top wow fadeInUp">
                    <div class="whyus_icon">
                      <span class="fa fa-users"></span>
                    </div>
                    <h3>Professional Educators</h3>
                    <p>We bring to you the professionals in the business of particular domain when it comes to training delivery.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="single_whyus_top wow fadeInUp">
                    <div class="whyus_icon">
                      <span class="fa fa-flask"></span>
                    </div>
                    <h3>Practical Innovation</h3>
                    <p>We develop creative ideas with modern thought process then putting them into direction for final execution.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="single_whyus_top wow fadeInUp">
                    <div class="whyus_icon">
                      <span class="glyphicon glyphicon-retweet"></span>
                    </div>
                    <h3>FLEXIBLE LEARNING</h3>
                    <p>Ultimate goal is a student centered classroom where teacher act as a facilitator, not a lecturer</p>
                  </div>
                </div>
              </div>
              <!-- End Why us top content  -->
            </div>
          </div>
        </div>        
      </div>
      <!-- End why us top -->

      <!-- Start why us bottom -->
      <div class="row">        
        <div class="col-lg-12 col-sm-12">
          <div class="whyus_bottom">            
            <div class="slider_overlay"></div>
            <div class="container">               
              <div class="skills">                
                <!-- START SINGLE SKILL-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                 <div class="single_skill wow fadeInUp">
                   <div id="myStat" data-dimension="150" data-text="73%" data-info="" data-width="10" data-fontsize="25" data-percent="73" data-fgcolor="#999" data-bgcolor="#fff"  ></div>
                    <h4>ADVANCED CURRICULUM</h4>                      
                  </div>
                </div>
                <!-- START SINGLE SKILL-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="single_skill wow fadeInUp">
                    <div id="myStathalf2" data-dimension="150" data-text="82%" data-info="" data-width="10" data-fontsize="25" data-percent="82" data-fgcolor="#999" data-bgcolor="#fff"  ></div>
                    <h4>IT PROFESSIONALS</h4>
                  </div>
                </div>
                <!-- START SINGLE SKILL-->
                <div class="col-lg-3 col-md-3 col-sm-3">                 
                  <div class="single_skill wow fadeInUp">
                    <div id="myStat2" data-dimension="150" data-text="93%" data-info="" data-width="10" data-fontsize="25" data-percent="93" data-fgcolor="#999" data-bgcolor="#fff"  ></div>
                    <h4>Corporate Training</h4>
                  </div>
                </div>
                <!-- START SINGLE SKILL-->
                <div class="col-lg-3 col-md-3 col-sm-3">                 
                  <div class="single_skill wow fadeInUp">
                    <div id="myStat3" data-dimension="150" data-text="78%" data-info="" data-width="10" data-fontsize="25" data-percent="78" data-fgcolor="#999" data-bgcolor="#fff"  ></div>
                    <h4>LIFETIME QUERY SUPPORT</h4>
                  </div>
                </div>
              </div>
            </div>            
          </div>
        </div>        
      </div>
      <!-- End why us bottom -->
    </section>
    <!--=========== END WHY US SECTION ================-->

    <!--=========== BEGIN OUR COURSES SECTION ================-->
    <section id="ourCourses">
      <div class="container">
       <!-- Our courses titile -->
        <div class="row">
          <div class="col-lg-12 col-md-12"> 
            <div class="title_area">
              <h2 class="title_two">Our Popular Courses</h2>
              <span></span> 
            </div>
          </div>
        </div>
        <!-- End Our courses titile -->
        <!-- Start Our courses content -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="ourCourse_content">
              <ul class="course_nav">
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/uiux.png" height="250px"/>
                      <div class="mask">                         
                        <a href="course-uiux.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="course-uiux.html">UI/UX Devlopment Course</a></h3>
                    <p class="singCourse_price"><span>Duration : </span> 24 Months</p>
                    <p>The course has a practical component that takes you step-by-step through the workflow of a professional app designer.</p>
                    </div>
                    
                  </div>
                </li>
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/game1.jpg" height="250px"/>
                      <div class="mask">                         
                        <a href="gamdev.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="gamdev.html">Game Design and Devlopment</a></h3>
                    <p class="singCourse_price"><span>Duration : </span> 36 Months</p>
                    <p>You'll learn to develop a game concept; prototype, test, and iterate on your ideas; and navigate and other business considerations. </p>
                    </div>
                    
                  </div>
                </li> 
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/fullstack.jpg" height="250px"/>
                      <div class="mask">                         
                        <a href="course-fullstack.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="course-fullstack.html">Full Stack Devlopment Course</a></h3>
                    <p class="singCourse_price"><span>Duration : </span> 24 Months</p>
                    <p>we have introduced a brand new master course to become a Full Stack Web Development course.</p>
                    </div>
                    
                  </div>
                </li>  
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/corp.png" height="250px"/>
                      <div class="mask">                         
                        <a href="course-corporate.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="course-corporate.html">Diploma in Computer for Corporate Professional</a></h3>
                    <p class="singCourse_price"><span>Duration :</span> 12 Months</p>
                    <p>This course will strengthen your skills with a powerful, direct approach to ensure the achieving of personal effectiveness in the corporate environment.</p>
                    </div>
                    
                  </div>
                </li>
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/dgm.jpg" height="250px"/>
                      <div class="mask">                         
                        <a href="dgm.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="dgm.html">Digital Marketing Course</a></h3>
                    <p class="singCourse_price"><span>Duration : </span> 12 Months</p>
                    <p>The world is going Digital and by the year 2020, most of the companies around the world including India will have online presence and thus creating a lot of career opportunities in the digita marketing.</p>
                    </div>
                    
                  </div>
                </li> 
                <li>
                  <div class="single_course">
                    <div class="singCourse_imgarea">
                      <img src="img/grani.png" height="250px"/>
                      <div class="mask">                         
                        <a href="multimedia-grani.html" class="course_more">Know More</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                    <h3 class="singCourse_title"><a href="multimedia-grani.html">Graphic & Animation</a></h3>
                    <p class="singCourse_price"><span>Duration : </span> 24 Months</p>
                    <p>It is a course which is not only covering today's most popular and advanced computer designing applications but also includes applied art, visual grammar, concept art, photography, product shooting etc.</p>
                    </div>
                    
                  </div>
                </li>                
              </ul>
            </div>
          </div>
        </div>
        <!-- End Our courses content -->
      </div>
    </section>
    <!--=========== END OUR COURSES SECTION ================-->  

   

    <!--=========== BEGIN STUDENTS TESTIMONIAL SECTION ================-->
    <section id="studentsTestimonial" style="background-color: #D5D6C8">
      <div class="container" >
       <!-- Our courses titile -->
        <div class="row">
          <div class="col-lg-12 col-md-12"> 
            <div class="title_area">
              <h2 class="title_two">What our Student says</h2>
              <span></span> 
            </div>
          </div>
        </div>
        <!-- End Our courses titile -->

        <!-- Start Our courses content -->
        <div class="row" >
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="studentsTestimonial_content">              
              <div class="row">
                <!-- start single student testimonial -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_stsTestimonial wow fadeInUp">
                    <div class="stsTestimonial_msgbox">
                      <p>I am proud to say that i belong to DICS Family.I have learned the practical implementation of programming techniques.It has also helped me to search fot the best opportunity in the professional field too.</p>
                    </div>
                    <!-- <img class="stsTesti_img" src="img/author.jpg" alt="img"> -->
                    <div class="stsTestimonial_content">
                      <h3>Karan Sharma</h3>                      
                      <span> Student</span>
                      <p>Web Development</p>
                    </div>
                  </div>
                </div>
                <!-- End single student testimonial -->
                <!-- start single student testimonial -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_stsTestimonial wow fadeInUp">
                    <div class="stsTestimonial_msgbox">
                      <p>If you really want to excel yourself in digital marketing, don't think, just join DICS. Classes and Environment, both are friendly and Disciplined.I have gained a lot of practical exposure from this institute.</p>
                    </div>
                    <!-- <img class="stsTesti_img" src="img/author.jpg" alt="img"> -->
                    <div class="stsTestimonial_content">
                      <h3>Dheeraj Singh</h3>                      
                      <span> Student</span>
                      <p>Digital Marketing</p>
                    </div>
                  </div>
                </div>
                <!-- End single student testimonial -->
                <!-- start single student testimonial -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_stsTestimonial wow fadeInUp">
                    <div class="stsTestimonial_msgbox">
                      <p>Dear friends, DICS (Karol Bagh) keeps less students in a class around 7-10 and faculties are also awesome. Currently I am pursuing Web Studio Course from DICS. According to me, it is the best Institute. Here we got a platform where we can learn new things and explore our creativity. </p>
                    </div>
                    <!-- <img class="stsTesti_img" src="img/author.jpg" alt="img"> -->
                    <div class="stsTestimonial_content">
                      <h3>Himanshu Dhiman</h3>                      
                      <span>Student</span>
                      <p>Multimedia</p>
                    </div>
                  </div>
                </div>
                <!-- End single student testimonial -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Our courses content -->
      </div>
    </section>
    <!--=========== END STUDENTS TESTIMONIAL SECTION ================-->    
    
    <!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>About Us</h3>
                <p align="justify">DICS Computer Education in Karol Bagh, Delhi has been offering professional training to students. It specializes and is well-known for training students as well as working professionals in accounting, web designing, Digital Marketing,Hardware, Networking and programming languages.</p>
              </div>
            </div>
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Courses</h3>
                <ul class="footer_widget_nav">
                  <li><a href="multimedia-animation.html">Master In Animations</a></li>
                  <li><a href="dgm.html">Digital Marketing </a></li>
                  <li><a href="course-uiux.html">Professional Diploma in UI/UX Devlopment</a></li>
                  <li><a href="course-financialAccounting.html">Diploma in Financial Accounting</a></li>
                  <li><a href="course-mdse.html">Master Diploma in Software Engineering</a></li>
				  <li><a href="course-android.html">Mastero Diploma in App Development</a></li>
                </ul>
              </div>
            </div>
              <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Social Links</h3>
                <ul class="footer_social">
                  <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
			<div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Reach Us</h3>
                <p align="justify">2nd Floor, Pusa Road-17</p>
				<p align="justify">Opposite City Hospital</p>
				<p align="justify">Metro Pillar No-93, Karol Bagh</p>
				<p align="Justify"> New Delhi - 110005</p><br>
				<p align="justify"> Contact: +91-9899447206 | 011-43464905</p>
				<p align="justify"> E-mail: dicssoftware@gmail.com</p>
				<p align="justify"> E-mail: info@dicscomputerinstitute.com</p>
			
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer top area -->

      <!-- Start footer bottom area -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; All Rights Reserved</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomRight">
                <p>Designed by <a href="#" rel="nofollow">Sam IT Solutions</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    </footer>
    <!--=========== END FOOTER SECTION ================--> 
    
    <!--=========== MODAL ================--> 
    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Subscribe our Newsletter</h4>
            </div>
            <div class="modal-body">
				<p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Qualification">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
  </div>
    
    
  

    <!-- Javascript Files
    ================================================== -->
    
   <!-- <script>
    /*	$(document).ready(function(){
            setTimeout(function() {
                $("#myModal").modal('show');
            }, 3000)
    		}); */
    		 $( window ).on( "load", function() {
         setTimeout(function() {
            $("#myModal").modal('show');
        }, 2000)
		});
    </script> -->

    <!-- initialize jQuery Library -->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Preloader js file -->

    <!-- For smooth animatin  -->
    <script src="js/wow.min.js"></script>  
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="js/slick.min.js"></script>
    <!-- superslides slider -->
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.animate-enhanced.min.js"></script>
    <script src="js/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>   
    <!-- for circle counter -->
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <!-- Gallery slider -->
    <script type="text/javascript" language="javascript" src="js/jquery.tosrus.min.all.js"></script>   
   
    <!-- Custom js-->
    <script src="js/custom.js"></script>
      
    <script>
    /*	$(document).ready(function(){
            setTimeout(function() {
                $("#myModal").modal('show');
            }, 3000)
    		}); */
    		 $( window ).on( "load", function() {
         setTimeout(function() {
            $("#myModal").modal('show');
        }, 2000)
		});
    </script> 

  </body>
  
  
</html>
