<template>
<v-app light>
    <!-- <loading /> -->
    <!-- <Header /> -->
    <nuxt />
    <!-- <Footer /> -->
</v-app>
</template>

<script>
import Header from "../components/Header";
import Footer from "../components/Footer";
import loading from '../components/loading'
export default {
    components: {
        Header,
        Footer,
        loading
    },
    // mounted() {
    //     this.$store.dispatch("persist")
    //     this.$store.dispatch("cartItem")
    // },
    methods: {

    }
}
</script>

<style>
@import "../assets/css/responsive.css";

/* @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */
/* @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"; */
/* @import "../assets/css/layout.css"; */
.plyr__control--overlaid {
    background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #eee)));
}

.plyr--full-ui input[type=range] {
    color: var(--plyr-range-fill-background, var(--plyr-color-main, var(--plyr-color-main, #eee)));
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #eee)));
}

.plyr--video .plyr__controls {
    padding: 0 0;
    background: rgba(255, 255, 255, 0.6);
}
</style>
