<template>
<div class="fadein">
  <div class="blank-page section">
    <div class="container">
      <div class="panel">
        <h1>404 Error Page not found!</h1>
        <a @click="$router.go(-1)" class="btn">GO BACK</a>
       
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  scrollToTop: true,
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
