<template>
  <div class="fadein">
    <div class="profile-course section course-detail">
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <!-- <li>
              <router-link to="/my_profile/">My Profile</router-link>
            </li> -->
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <!-- <li>
              <router-link to="/my_profile/update_profile">Course</a>
            </li>-->
            <!-- <li>
              <i class="fa fa-angle-right"></i>
            </li>-->
            <li>
              <a href="#">{{data.course_name}}</a>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="bx">
              <h1 class="small-title">{{data.course_name}}</h1>
              <span class="lower-title"
                >By {{data.training_institute_name}}</span
              >
              <br />
              <br />
              <div v-if="videoLoader">
                <v-skeleton-loader
                  class="mx-auto"
                  max-width="100%"
                  type="card"
                ></v-skeleton-loader>
              </div>
              <fragment v-else>
                <vue-plyr>
                  <video controls width="100%" height="400">
                    <source
                      id="mp4"
                      :src="videoData.topic_video"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                </vue-plyr>
              </fragment>
              <hr />
              <p>{{data.description}}</p>
              <!-- 
                        <div class="panel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>By the Numbers</h5>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Skill Level: Beginners Level</li>
                                        <li>Students: 56</li>
                                        <li>Languages: English</li>
                                        <li>Caption: Yes</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>Lectures: 25</li>
                                        <li>Video: 57 hours</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Description</h5>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod similique accusantium earum nam corporis veniam, delectus sequi eaque beatae deleniti, cumque quo, iure tempore dolorem cupiditate impedit officiis eligendi ducimus.
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quos nisi temporibus nihil molestiae repudiandae quae eligendi nemo, recusandae mollitia. Amet earum inventore excepturi animi corporis ipsa necessitatibus eligendi aspernatur.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="row">
                                <div class="col-md-2">
                                    <h5>Instructor</h5>
                                </div>
                                <div class="col-md-8">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt />
                                    <h6>Richard Miles</h6>
                                    <br />
                                    <span>Photographer</span>
                                </div>
                            </div>
                        </div> -->
              <!-- <BasicDetails :loading='loading' :courseName='data.course_name' :description='data.description' :duration='data.duration' :language='data.language' :trainingInstituteName='data.training_institute_name' :image='data.image' :eligibility='data.eligibility' :rating='data.rating' :category='data.category' :subCategory='data.sub_category' /> -->
            </div>
            <Features
              v-if="data.feature_list"
              :data="data.feature_list[0]"
              :loading="loading"
            />
            <Curriculums
              v-if="data.curriculum_list"
              :data="data.curriculum_list[0]"
              :loading="loading"
            />
            <Projects
              v-if="data.project_list"
              :data="data.project_list[0]"
              :loading="loading"
            />
            <Faqs
              v-if="data.faq_list"
              :data="data.faq_list[0]"
              :loading="loading"
            />
            <TrainerDetails
              v-if="data.trainer_data"
              :data="data.trainer_data[0]"
              :loading="loading"
            />

            <!-- <section class="review_view" style="margin-bottom: 0;">
                        <div class="bx">
                            <h3 class="small-title">Reviews</h3>
                            <div>
                                <article>
                                    <div class="tit">
                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg" />
                                        <h5>John Doe</h5>
                                    </div>
                                    <p>
                                        <span>
                                            <strong>Rate</strong>
                                            <small>
                                                <i class="ion-android-star"></i> 4.1
                                            </small>
                                        </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.
                                    </p>
                                </article>
                                <article>
                                    <div class="tit">
                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg" />
                                        <h5>John Doe</h5>
                                    </div>
                                    <p>
                                        <span>
                                            <strong>Rate</strong>
                                            <small>
                                                <i class="ion-android-star"></i> 4.1
                                            </small>
                                        </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quae nemo voluptatum, debitis optio earum quam nesciunt labore, aperiam saepe error repellat, perferendis assumenda fuga? Beatae quibusdam eligendi ratione quisquam.
                                    </p>
                                </article>
                            </div>
                        </div>
                    </section> -->
            <!-- <section>
                        <div class="bx">
                            <div class="write_review">
                                <h6>Write a Review</h6>
                                <div class="form">
                                    <textarea placeholder="Message" class="form-control"></textarea>
                                </div>
                                <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label for="star5" title="Awesome" aria-hidden="true" class="star"></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4" title="Great" aria-hidden="true" class="star"></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3" title="Very good" aria-hidden="true" class="star"></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2" title="Good" aria-hidden="true" class="star"></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1" title="Bad" aria-hidden="true" class="star"></label>
                                </div>
                                <span class="clearfix"></span>
                                <a href="#" class="btn">Add your Review</a>
                            </div>
                        </div>
                    </section> -->
          </div>
          <div class="col-md-3">
            <!-- <div class="bx">
                        <div class="card">
                            <h4>Course Content</h4>
                            <article v-for='(l, i) in data.topic_list' :key='i'>
                                <div class="row">
                                      <div class="col-md-3">
                                        <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt />
                                    </div>
                                    <div class="col-md-9">
                                        <p>
                                            Photography Master class:
                                            <br />Welcome to the course
                                        </p>
                                        <small>15 mins</small>
                                    </div>
                                </div>
                            </article>
                            <hr />
                        </div>
                    </div> -->
            <div class="right-menu">
              <Topics
                :loading="loading"
                @clicked="onClickTopic"
                :data="data.topic_list"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
    Hooper,
    Slide,
    Navigation as HooperNavigation
} from "hooper";
import "hooper/dist/hooper.css";
import BasicDetails from '../../../../components/courseDetails/BasicDetails'
import WhyThisCourse from '../../../../components/courseDetails/WhyThisCourse'
import Batches from '../../../../components/courseDetails/Batches'
import Features from '../../../../components/courseDetails/Features'
import Curriculums from '../../../../components/courseDetails/Curriculums'
import Projects from '../../../../components/courseDetails/Projects'
import Faqs from '../../../../components/courseDetails/Faqs'
import TrainerDetails from '../../../../components/courseDetails/TrainerDetails'
import Reviews from '../../../../components/courseDetails/Reviews'
import Topics from '../../../../components/courseDetails/Topics'
import Certification from '../../../../components/courseDetails/Certification'
import PopularKeywords from '../../../../components/courseDetails/PopularKeywords'
import SimilarCourses from '../../../../components/courseDetails/SimilarCourses'
import SameCourses from '../../../../components/courseDetails/SameCourses'
export default {
    name: 'CourseDetails',
    components: {
        Hooper,
        Slide,
        HooperNavigation,
        BasicDetails,
        WhyThisCourse,
        Batches,
        Features,
        Curriculums,
        Projects,
        Faqs,
        TrainerDetails,
        Reviews,
        Topics,
        Certification,
        PopularKeywords,
        SimilarCourses,
        SameCourses
    },
    data() {
        return {
            panel: [0],
            slug: this.$route.params,
            data: '',
            loading: true,
            userId: '',
            videoLoader: true,
            videoData: '',
            topics: '',
            user: ''
        };
    },
    created() {
        console.log(this.$route.params)
        this.getCourseData()
        if (process.browser) {
            this.user = localStorage.getItem('userId');
        }
        if (this.user === null) {
            this.$router.push("/login")
        }
    },
    methods: {
        async onClickTopic(value) {
            this.videoLoader = true
            // console.log('All params',value, this.userId, this.slug.id)
            let res = await this.$axios.post('CustomerApi/topic_details', {
                user_id: this.userId,
                course_id: this.slug.id,
                topic_id: value
            })
            console.log(res)
            if (res.data.result === 1) {
                this.videoData = res.data.data;
                this.videoLoader = false
            } else {
                this.videoLoader = false
            }
        },
        async getCourseData() {
            this.courseLoading = true
            let res = await this.$axios.post('CustomerApi/course_details', {
                course_id: this.slug.id,
            })
            console.log(res)
            if (res.data.result === 1) {
                this.data = res.data.data[0];
                this.loading = false
                this.topics = res.data.data[0].topic_list[0].topic_id;
                let topicID = res.data.data[0].topic_list[0].topic_id;
                if (topicID !== undefined || topicID !== null) {
                    let user = localStorage.getItem('userId');
                    let res = await this.$axios.post('CustomerApi/topic_details', {
                        user_id: user,
                        course_id: this.slug.id,
                        topic_id: topicID
                    })
                    if (res.data.result === 1) {
                        this.videoData = res.data.data;
                        this.videoLoader = false
                    } else {
                        this.videoLoader = false
                    }
                } else {}

            } else {
                this.loading = false
            }
        },

        // async getTopicVideo() {
        //     // if (this.data.length > 0) {
        //     this.videoLoader = true
        //     let user = localStorage.getItem('userId');
        //     // var topic = this.topics;
        //     // let topicId = topic.topic_id
        //     console.log('this is topix', this.topics)
        //     let res = await this.$axios.post('CustomerApi/topic_details', {
        //         user_id: user,
        //         course_id: this.slug.id,
        //         topic_id: topicId
        //     })
        //     console.log(res)
        //     if (res.data.result === 1) {
        //         this.videoData = res.data.data[0];
        //         this.videoLoader = false
        //     } else {
        //         this.videoLoader = false
        //     }
        //     // } else {}

        // },
        getUser() {
            let userId = localStorage.getItem('userId')
            this.userId = userId
        }

    },
    computed: {
        //  getUser() {
        //     return this.$store.state.user
        //     // alert(userId)
        // },
    },
    mounted() {
        this.getUser()
        // this.getTopicVideo()
    }
};
</script>

<style></style>
