<template>
  <div class="fadein">
    
    <div class="vendorProfile job-details">
      <div class="container">
         <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/walkin">All Walk-in Jobs</nuxt-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <!-- <a href="#">{{slug.id}}</a> -->
              <a href="#">Details</a>
            </li>
          </ul>
        </div>
         
        </div>
        <div class="row" style="margin: 0">
          <div class="col-md-8">
            <div class="job-list">
              <div class="bx">
                <div class="row">
                  <div class="col-md-6">
                      <div class="user-img certi-res" >
                      <img
                      src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                      alt=""
                    />
                    <div class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                    <h3 class="head2 certi-desk">Graphics Designer</h3>
                    <h5>Mahesh Training Institute</h5>
                    <h3 class="certi-res head2">Graphics Designer</h3>
                    <p><i class="ion-ios-briefcase"></i> 2 - 4 year</p>
                    <p><i class="ion-android-list"></i> Not Disclosed</p>
                    <p><i class="ion-location"></i> Kolkata</p>
                    <p>posted: 3days ago| Opening: 1 | Job Applicants: 35</p>
                  </div>
                  <div class="col-md-6">
                  <div class="user-img certi-desk" >
                      <img
                      src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                      alt=""
                    />
                    <div class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                    <div class="btns">
                      <a href="#" class="btn">Register To Apply</a>
                      <a href="#" class="btn">Login To Apply</a>
                    </div>
                    <a href="#" class="send" style="">SEND ME JOB LIKE THIS</a>
                  </div>
                </div>
                <!-- <hr /> -->
                <br>
                 <div class="company-box" style="margin-bottom: 20px;">
                  <h3 class="head2" style="margin-top:0">Walk in Details</h3>
                  <div class="key">
                  <div><b>Time:</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Venue:</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>HR Name:</b></div>
                  <div></div>
                </div>
                
                <div class="key">
                  <div><b>Email Id:</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Contact Number:</b></div>
                  <div></div>
                </div>
               
                </div>
                <h3 class="head2" >Job Description</h3>
                <article>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                </article>
                <br />
                <hr style="float: left; width: 100%" />
                <article>
                  <h3 class="head2">Candidate Profile</h3>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                  <p>
                    <i class="ion-checkmark-round"></i> Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Expedita quas accusantium
                    sunt nobis dicta corporis. Omnis, debitis? Sit nihil
                    pariatur temporibus sunt quibusdam
                  </p>
                </article>
                <hr style="float: left; width: 100%" />
                <h3 class="head2" style="margin-bottom:15px">Educational Requirement</h3>
                <div class="key">
                  <div><b>UG</b></div>
                  <div>Diploma in Mechanical</div>
                </div>
                <div class="key">
                  <div><b>PG</b></div>
                  <div>Post Graduated Not required</div>
                </div>
                <div class="key">
                  <div><b>Doctorate</b></div>
                  <div>Doctorate Not Required</div>
                </div>
              <hr style="float:left;width:100%">
                <div class="key">
                  <div><b>Role</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Industry</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Functional Area</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Employment Type</b></div>
                  <div></div>
                </div>
                <div class="collap" style="margin: 25px 0px; float: left; width: 100%">
                  <h3 class="head2">Ky Skill</h3>
                  <ul
                    class="keywords"
                    style="margin: 15px 0px; float: left; width: 100%"
                  >
                    <li><a href="">Printing</a></li>
                    <li><a href="">Front Office</a></li>
                    <li><a href="">Illustrator</a></li>
                    <li><a href="">Photoshop</a></li>
                    <li><a href="">Adobe</a></li>
                    <li><a href="">Media Print</a></li>
                  </ul>
                   
                </div>
                <div class="company-box">
                  <h3 class="head2">About Company</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio amet sint asperiores? Sequi ullam fugiat quis ex, in explicabo sunt possimus eius, placeat aperiam quisquam illo laborum adipisci culpa eveniet!</p>
                  <div class="key">
                  <div><b>Job Id</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Job Link</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b><a href="#">www.exreed.com</a></b></div>
                  <div></div>
                </div>
                <hr style="float:left;width:100%">
                <div class="key">
                  <div><h3 class="head2" style="margin-top: 0;">HR Contact Details</h3></div>
                  <div></div>
                </div>
                 <div class="row">
                 <div class="col-md-3"><img class="hr-contact" src="https://exreed.com/backend/uploads/course/1599216573.jpeg" alt=""></div>
                 <div class="col-md-9">
                    <div class="key">
                  <div><b>Name</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Company</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Experience</b></div>
                  <div></div>
                </div>
                <div class="key">
                  <div><b>Location</b></div>
                  <div></div>
                </div>
                 </div>
               </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
             <div class="social-media">
               <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_share-512.png" alt=""></a>
                <a href="#"> <img src="https://www.vhv.rs/dpng/d/47-473504_fb-round-logo-png-transparent-png.png" alt=""></a>
                 <a><img src="https://www.pngfind.com/pngs/m/349-3493616_instagram-circle-logo-transparent-hd-png-download.png" alt=""></a>
                  <a><img src="https://rogueracer.co.uk/wp-content/uploads/2019/06/123-1234348_twittericon-twitter-round-logo-png-transparent-background-png.jpg" alt=""></a>
                 <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/766px-WhatsApp.svg.png" alt=""></a>
                 <a href="#"><img src="https://logodix.com/logo/1006565.png" alt=""></a>
              </div>
                <h3 class="head2" style="text-transform:inherit;margin-top: 5px;margin-bottom: 15px;">All jobs by the same company</h3>
            <div class="bx job-list">
                
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="/walkin/detail" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                       
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="/walkin/detail" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                      
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="/walkin/detail" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                      </div>
                      <h3 class="head2" style="float: left;width: 100%;">Similar Jobs</h3>
                      <div class="bx job-list">
                        
                        
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="/walkin/detail" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                       
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                        <hr />
                      
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a
                          ></span
                        >
                      </div>
                      <div class="bx-add">
                        <div class="row">
                          <div class="col-md-6">
                            <a href="https://www.cipla.com/home" target="_blank"><img src="https://mk0ehealtheletsj3t14.kinstacdn.com/wp-content/uploads/2016/11/cipla-1.png" alt="">
                            </a>
                            
                          </div>
                          <div class="col-md-6">
                            <a href="https://www.teradata.com/" target="_blank">
                              <img src="https://2s7gjr373w3x22jf92z99mgm5w-wpengine.netdna-ssl.com/wp-content/uploads/2018/10/new_teradata_logo.png" alt="">
                            </a>
 
                          </div>
                        
                          <div class="col-md-6">
                            <a href="https://www.msci.com/" target="_blank">
                            <img src="https://seekvectorlogo.com/wp-content/uploads/2019/03/msci-vector-logo.png" alt="">
                            </a>

                          </div>
                          <div class="col-md-6">
                            <a href="https://www.jadeglobal.com/" target="_blank">
                            <img src="https://mk0ehealtheletsj3t14.kinstacdn.com/wp-content/uploads/2016/11/cipla-1.png" alt="">
                            </a>
                          </div>
                         <div class="col-md-6">
                            <a href="https://www.teradata.com/" target="_blank">
                            <img src="https://seekvectorlogo.com/wp-content/uploads/2019/03/msci-vector-logo.png" alt="">
                            </a>
                          </div>
                        </div>
                      </div>
          </div>
          <div class="col-md-12">
             <div class="collap" style="margin: 25px 0px; float: left; width: 100%">
                  <h3 class="head2">Search By Cities</h3>
                  <ul
                    class="keywords"
                    style="margin: 15px 0px; float: left; width: 100%"
                  >
                    <li><a href="">Hyderabad</a></li>
                    <li><a href="">Mumbai</a></li>
                    <li><a href="">Bengalore</a></li>
                    <li><a href="">Chennai</a></li>
                    <li><a href="">Kolkata</a></li>
                    <li><a href="">Pune</a></li>
                    <li><a href="">Vishakapatnam</a></li>
                    <li><a href="">Ahmedabad</a></li>
                  </ul>
                   
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>