<template>
   
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/About_Us">About Us</nuxt-link>
            </li>
           
          </ul>
        </div>
        </div>
        
       <div class="row">
           <div class="col-md-4">
           <img src="https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg alt=" style="width:100%">
           </div>
           <div class="col-md-8">
               <h3 class="head2" style="margin-top:0">About Us</h3>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
           </div>
       </div>
      </div>
    </div>
  </div>
</template>