<template>
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
            <a>Blogs</a>
            </li>
           
          </ul>
        </div>
        </div>
        <div class="row" style="margin:0">
            <div class="col-md-4"> 
                <a href="/All_Blog_Details" class="blog-grid odd">
                    <img src="https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg" alt="">
                 <div class="date">
                 <span>Consulting</span>
                 <p>Lorem ipsum is simply dummy text of printing</p>
                 
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 </h6>
                     </div>                
                </a>
            </div>
            <div class="col-md-4">
            <a href="/All_Blog_Details" class="blog-grid">
                    <img src="https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg" alt="">
                 <div class="date">
                 <span>Photogrphy</span>
                 <i class="fa fa-camera" aria-hidden="true"></i>
                 <p>Lorem ipsum is simply dummy text of printing</p>
                 
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 </h6>
                     </div>                
                </a>
                <a href="/All_Blog_Details" class="blog-grid">
                    <img src="https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg" alt="">
                 <div class="date">
                   <i class="fa fa-camera" aria-hidden="true"></i>
                 <span>Consulting</span>
                 <p>Lorem ipsum is simply dummy text of printing</p>
                 
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 </h6>
                     </div>                
                </a>
            </div>
             <div class="col-md-4">
            <a href="/All_Blog_Details" class="blog-grid">
                    <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt="">
                 <div class="date">
                 <span>Teaching</span>
                 <p>Lorem ipsum is simply dummy text of printing</p>
                 
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 </h6>
                     </div>                
                </a>
                <a href="#" class="blog-grid">
                    <img src="https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg" alt="">
                 <div class="date">
                 <span>Photography</span>
                 <p>Lorem ipsum is simply dummy text of printing</p>
                 
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 </h6>
                     </div>                
                </a>
            </div>
          
          <div class="col-md-8">
            <a href="/All_Blog_Details" class="blog-grid odd">
                    <img src="https://wispapp.com/wp-content/uploads/Business-People.jpg" alt="">
                 <div class="date">
                 <span>Magazine</span>
                 <i class="fa fa-camera" aria-hidden="true"></i>
                 
                     </div>                
                </a>
                 <h4 class="head2">Lorem ipsum dolor sit amet.</h4>
                 <div class="blog-info">
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                 Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 <i class="fa fa-commenting-o" aria-hidden="true"></i> 2 </h6>
                 </div>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quis beatae, expedita ducimus doloremque consequuntur maiores impedit iusto animi voluptatum!</p>
                <v-row>
                   <div class="col-md-6">
                    <a href="#" class="blog-grid">
                    <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt="">
                 <div class="date">
                 <span>Teaching</span>
                 
                     </div>                
                </a>
                <h5 class="heading">Lorem ipsum dolor sit amet consectetur</h5>
                <div class="blog-info">
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                 Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 <i class="fa fa-commenting-o" aria-hidden="true"></i> 2 </h6>
                 </div>
                 </div>
                  <div class="col-md-6" >
                    <a href="#" class="blog-grid">
                    <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt="">
                 <div class="date">
                 <span>Teaching</span>
                 
                     </div>                
                </a>
                <h5 class="heading">Lorem ipsum dolor sit amet consectetur</h5>
                <div class="blog-info">
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                 Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 <i class="fa fa-commenting-o" aria-hidden="true"></i> 2 </h6>
                 </div>
                 </div>
                  <div class="col-md-6" >
                    <a href="#" class="blog-grid">
                    <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt="">
                 <div class="date">
                 <span>Teaching</span>
                 
                     </div>                
                </a>
                <h5 class="heading">Lorem ipsum dolor sit amet consectetur</h5>
                <div class="blog-info">
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                 Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 <i class="fa fa-commenting-o" aria-hidden="true"></i> 2 </h6>
                 </div>
                 </div>
                  <div class="col-md-6" >
                    <a href="#" class="blog-grid">
                    <img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt="">
                 <div class="date">
                 <span>Teaching</span>
                 
                     </div>                
                </a>
                <h5 class="heading">Lorem ipsum dolor sit amet consectetur</h5>
                <div class="blog-info">
                 <h6><img src="https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="">
                 Richards Miles <i class="fa fa-calendar" aria-hidden="true"></i> Feb 13,2020 <i class="fa fa-commenting-o" aria-hidden="true"></i> 2 </h6>
                 </div>
                 </div>
                 <br>
                 <br>
                 <div class="col-md-8">
          <v-container class="max-width" >
            <div class="certi-desk">
            <v-pagination
              v-model="page"
              class="my-4"
              :length="15"
            ></v-pagination>
            </div>
          </v-container>
        </div>
                </v-row>
          </div>
          <div class="col-md-4">
            <div class="right-blog">
              <div class="social">
                <div>
                  <i class="fa fa-facebook" style="color:#4867AA"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-instagram" style="color:#5D53CD"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-pinterest" style="color:#C52023"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-vk"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                  <div>
                  <i class="fa fa-twitter"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-vimeo"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-youtube" style="color:#C52023"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
                    <div>
                  <i class="fa fa-linkedin"></i>
                  <span>20.5k</span>
                  <p>Followers</p>
                  </div>
              </div>
              <div  class="blog-tag" style="background-image:url(https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80)">
              <a href="/Blog_Details"><h6>Education <span>11</span></h6></a>
              </div>
              <div class="blog-tag" style="background-image:url(https://wispapp.com/wp-content/uploads/Business-People.jpg)">
              
             <a href="Blog_Details"><h6>Jobs <span>17</span></h6></a>
              </div>
              <div  class="blog-tag" style="background-image:url(https://images.unsplash.com/photo-1542103749-8ef59b94f47e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80)">
             
              <a href="/Blog_Details"> <h6>Interview <span>25</span></h6></a>
              </div>  
              <h5 class="head2">Recent Posts</h5>
              <div class="latest-blog">
                <div class="panel"><img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt=""> <article><span>13Feb,2020</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></article></div>
              </div>
              <div class="latest-blog">
                <div class="panel"><img src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg" alt=""> <article><span>13Feb,2020</span> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></article></div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        page: 1,
      }
    },
  }
</script>