<template>
    
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/Career">Careers</nuxt-link>
            </li>
           
          </ul>
        </div>
        </div>
        <div class="bx career-list">
            <div class="col-md-6">
                <!-- <img src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt=""> -->
                <article>
                  <h4 class="head2">We Are Learners</h4>
                <h6> Frontend developer | Kazma Technology | 2 years | Hyderabad</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorum quaerat eaque temporibus repellendus id beatae laudantium ex est, in accusamus soluta obcaecati recusandae libero ipsam voluptatibus quas illo dolores?</p>
            <h6>Posted date:12 Dec 2020 <a href="/jobs/Details" class="btn">More</a></h6>
                </article>
            </div>
            <div class="col-md-6">
                <article>
                  <h4 class="head2">We Are Learners</h4>
                <h6> Frontend developer | Kazma Technology | 2 years | Hyderabad</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorum quaerat eaque temporibus repellendus id beatae laudantium ex est, in accusamus soluta obcaecati recusandae libero ipsam voluptatibus quas illo dolores?</p>
            <h6>Posted date:12 Dec 2020 <a href="/jobs/Details" class="btn">More</a></h6>
                </article>
            </div>
             <div class="col-md-6">
               <article>
                  <h4 class="head2">We Are Learners</h4>
                <h6> Frontend developer | Kazma Technology | 2 years | Hyderabad</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorum quaerat eaque temporibus repellendus id beatae laudantium ex est, in accusamus soluta obcaecati recusandae libero ipsam voluptatibus quas illo dolores?</p>
            <h6>Posted date:12 Dec 2020 <a href="/jobs/Details" class="btn">More</a></h6>
                </article>
            </div>
            <div class="col-md-6">
               <article>
                  <h4 class="head2">We Are Learners</h4>
                <h6> Frontend developer | Kazma Technology | 2 years | Hyderabad</h6>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorum quaerat eaque temporibus repellendus id beatae laudantium ex est, in accusamus soluta obcaecati recusandae libero ipsam voluptatibus quas illo dolores?</p>
            <h6>Posted date:12 Dec 2020 <a href="/jobs/Details" class="btn">More</a></h6>
                </article>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>