<template>
  <div class="fadein">
    <!-- <div class="cart section">
      <v-container>
        <fragment v-if="loading">
          <v-skeleton-loader
            max-width="70%"
            type="list-item-two-line"
          ></v-skeleton-loader>
          <v-skeleton-loader
            max-width="70%"
            type="list-item-two-line"
          ></v-skeleton-loader>
        </fragment>
        <fragment v-else>
          <fragment v-if="cartItems.length > 0">
            <div class="breadcrumb">
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <a href="#">Cart</a>
                </li>
              </ul>
            </div>
            <h1 class="small-title">YOUR CART ({{ cartItems.length }})</h1>
            <v-row>
              <v-col md="9">
                <div class="bx">
                  <div class="cart-table">
                    <v-data-table
                      loading-text="Loading... Please wait"
                      :headers="headers"
                      :items="cartItems"
                      class="elevation-1"
                      :page.sync="page"
                      :items-per-page="itemsPerPage"
                      hide-default-footer
                      @page-count="pageCount = $event"
                    >
                      <template v-slot:item.course_name="{ item }">
                        <div class="p-2" style="padding: 15px 0">
                          <v-row>
                            <v-col md="3" lg="3" sm="12">
                              <img :src="item.course_image" alt />
                            </v-col>
                            <v-col md="9" lg="9" sm="12">
                              <h5>
                                {{ item.course_name }}
                                <span>
                                  <i class="ion-android-star"></i>
                                  {{ item.course_rating }}
                                </span>
                              </h5>
                              <p>By {{ item.training_institute }}</p>
                            </v-col>
                          </v-row>
                        </div>
                      </template>

                      <template
                        v-slot:item.actions="{ item }"
                        style="display: flex; justify-content: center"
                      >
                        <v-btn
                          color="#000"
                          @click="deleteRow(item)"
                          class="cros"
                        >
                          <i
                            style="color: #fff; font-size: 17px"
                            class="ion-trash-b"
                          ></i>
                        </v-btn>
                      </template>
                    </v-data-table>
                  </div>
                </div>
              </v-col>
              <v-col md="3">
                <div class="panel grey-box bx">
                  <h5>Order Summary</h5>
                  <h4>
                    Total Amount
                    <span> ₹ {{ total }} </span>
                  </h4>
                 
                </div>
                <router-link to="/checkout" class="btn">CHECKOUT</router-link>
              </v-col>
            </v-row>
          </fragment>
          <fragment v-else>
            <div style="display: block; width: 100%; text-align: center">
              <img src="~/assets/img/empty-cart.png" />
              <h5>
                You cart is empty! Browse all
                <nuxt-link to="/courses" style="color: #ed1d25"
                  >courses.</nuxt-link
                >
              </h5>
            </div>
          </fragment>
        </fragment>
      </v-container>
    </div> -->
  

  <div class="cart section">
    <v-container>
      <div class="breadcrumb">
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <a href="#">Cart</a>
                </li>
              </ul>
            </div>
            <div class="row">
          
            <div class="col-md-9">
            <div class="cart-table bx">
              <table >
                <tbody><tr>
                  <th>Product Name</th>
                  <th colspan="2">Price</th>
                  
                </tr>
                <tr v-for="item in cartItems" :key="item.id">
                  <td>
                    <div class="row">
                    <div class="col-md-3">
                      <img v-if=item.course_image :src="item.course_image" alt="">

                      <v-slot :item.actions="{ item }">
                        <v-btn
                          color="#000"
                          @click="deleteRow(item)"
                          class="cros"
                        >
                          <i
                            style="color: #fff; font-size: 17px"
                            class="ion-trash-b"
                          ></i>
                        </v-btn>
                        </v-slot>
                    </div>
                    <div class="col-md-9">
                     <h5 v-if=item.course_name>{{item.course_name}} <span><i class="fa fa-star"></i> {{item.course_rating}}</span></h5>
                     <p v-if=item.training_institute>By {{item.training_institute}}</p>
                    </div>
                  </div>
                </td>
                <td><h5><i class="fa fa-inr"></i>{{item.course_fee}} 
                <!-- <strike>900.00</strike> -->
                </h5></td>
                <td><a href="#" class="cros"><img src="img/close.png" alt=""></a></td>
                </tr>
                <!-- <tr>
                  <td>
                    <div class="row">
                    <div class="col-md-3">
                      <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                    </div>
                    <div class="col-md-9">
                     <h5>Photography <span><i class="fa fa-star"></i> 4.1</span></h5>
                     <p>By Filmmake Media</p>
                    </div>
                  </div>
                </td>
                <td><h5><i class="fa fa-inr"></i>750.00 <strike>900.00</strike></h5></td>
                <td><a href="#" class="cros"><img src="img/close.png" alt=""></a></td>
                </tr>
                <tr>
                  <td>
                    <div class="row">
                    <div class="col-md-3">
                      <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                    </div>
                    <div class="col-md-9">
                     <h5>Photography <span><i class="fa fa-star"></i> 4.1</span></h5>
                     <p>By Filmmake Media</p>
                    </div>
                  </div>
                </td>
                <td><h5><i class="fa fa-inr"></i>750.00 <strike>900.00</strike></h5></td>
                <td><a href="#" class="cros"><img src="img/close.png" alt=""></a></td>
                </tr> -->
              </tbody></table>
            </div>
            </div>
            <div class="col-md-3">
              <div class="panel grey-box bx">
                <h5>Order Summary</h5>
                <h4>Total Amount <span><i class="fa fa-inr"></i>  {{ total }}</span></h4>
                <!-- <strike><i class="fa fa-inr"></i>{{ total }}</strike> -->
                <p><span class="row" style="margin: 15px 0px;"><span class="col-md-8" style="padding: 0px !important;"> Add coupon code <img src="img/arrow.png" alt=""></span><span class="col-md-4" style="padding: 0px !important;"><input type="text" class="form-control"></span></span></p>
                
              </div>
              
               <router-link to="/checkout" class="btn">CHECKOUT</router-link>
            </div>
          </div>
    </v-container>
  </div>
  </div>
</template>

<script>
export default {
  name: "Cart",
  data() {
    return {
      cartItems: [],
      loading: true,
      // total: "",
      headers: [
        // {
        //     text: 'Course Image',
        //     align: 'start',
        //     value: 'image',
        //     sortable: false
        // },
        {
          text: "Courses ",
          value: "course_name",
          sortable: false,
        },
        {
          text: "Fee",
          value: "course_fee",
          sortable: false,
        },
        {
          value: "actions",
          sortable: false,
          align: "center",
        },
      ],
      // total: ''
    };
  },
  methods: {
    async deleteRow(item) {
      let params = {
        user_id: localStorage.getItem("userId"),
        action: "Remove",
        cart_id: item.cart_id,
      };
      console.log("this is params", params);
      let res = await this.$axios.post("CustomerApi/manage_cart", params);
      console.log("this is cart res", res);

      if (res.data.result === "1") {
        // let total = res.data.data.reduce((acc, item) => acc + parseInt(item.course_fee), 0);
        // this.$store.dispatch("totalAmount", total);
        // this.$store.dispatch("cartItems", res.data.data);
        // this.total = total
        // this.$delete(this.cartItems, args[0]);
        const index = this.cartItems.indexOf(item);
        this.cartItems.splice(index, 1);
        // confirm('Are you sure you want to delete this item?') &&
        this.$store.dispatch("substractFromCart");
        this.loading = false;
        // this.cartItems = res.data.data
      } else {
        this.loading = false;
      }
    },
    async getCartItems() {
      let params = {
        user_id: localStorage.getItem("userId"),
        action: "List",
      };
      let res = await this.$axios.post("CustomerApi/manage_cart", params);
      console.log("this is cart ", res);

      if (res.data.result === "1") {
        let total= res.data.data.reduce((acc,item) => acc + parseInt(item.course_fee), 0);
        this.$store.dispatch("totalAmmount" , total);
        this.$store.dispatch("cartItems", res.data.data);
        this.total= total
        this.loading = false;
        
        this.cartItems = res.data.data;
        // setTimeout(() => {
        //     let total = 0
        //     this.cartItems.reduce((acc, item) => acc + item.course_fee, 0);
        //     return total
        //     this.total = total
        //     this.$store.dispatch("totalAmount", total);
        // }, 100)
      } else {
        this.loading = false;
      }
    },
  },
  computed: {
    total() {
      return this.cartItems.reduce(function (sum, item) {
        return sum + parseInt(item.course_fee);
      }, 0);
    },
  },
  mounted() {
    this.getCartItems();
  },
};
</script>

<style></style>
