<template>
  <div class="fadein">
    <div class="checkout section">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Cart</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Checkout</a>
            </li>
          </ul>
        </div>
        <v-row>
          <v-col md="4" xs="12" sm="12">
            <div class="bx">
              <div class="panel" style="border: none">
                <h5 class="head2">Payment Details</h5>
                <div class="panel-body">
                  <h6>Select Delivery Methods</h6>
                  <div class="radio">
                    <input id="radio-1" name="radio" type="radio" checked />
                    <label for="radio-1" class="radio-label"
                      >Credit Card/Debit Card</label
                    >
                  </div>

                  <div class="radio">
                    <input id="radio-2" name="radio" type="radio" />
                    <label for="radio-2" class="radio-label">Net Banking</label>
                  </div>
                  <div class="radio">
                    <input id="radio-3" name="radio" type="radio" />
                    <label for="radio-3" class="radio-label">Google Pay</label>
                  </div>
                  <div class="radio">
                    <input id="radio-4" name="radio" type="radio" />
                    <label for="radio-4" class="radio-label">Paytm</label>
                  </div>
                  <br />
                  <h6 class="head2">Enter Card Details</h6>
                  <div class="form-group">
                    <label for>Name on Card</label>
                    <input type="text" class="form-control" value="" />
                  </div>
                  <div class="form-group">
                    <label for>Card Number</label>
                    <input type="text" class="form-control" value="" />
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for>Valid Trough</label>
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for>CVC Code</label>
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="checkbox">
                        <div class="form-group">
                          <input type="checkbox" id="html" />
                          <label for="html">Remember this Card</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <small
                        >By completing your purchase you agree to these Terms
                        &amp; Conditions</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </v-col>
          <v-col md="4" xs="12" sm="12">
            <div class="bx">
              <div class="panel" style="border: none">
                <h5 class="head2">Your Order</h5>
                <div class="panel-body">
                  <ul class="article">
                    <li v-for="(l, i) in cartItems" :key="i">
                      <div
                        class="order-list"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                        "
                      >
                        <img :src="l.course_image" alt />
                        <p>{{l.course_name}}</p>
                        <span>
                          ₹ {{l.course_fee}}
                          <!-- <br />
                        <strike>
                          ₹  900
                        </strike> -->
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <h4>
                  Product Amount
                  <span> ₹ {{total}} </span>
                </h4>
              </div>
            </div>
          </v-col>
          <v-col md="4" xs="12" sm="12">
            <div class="bx">
              <div class="panel" style="border: none">
                <h5 class="head2">Order Summary</h5>
                <div class="panel-body">
                  <h6>
                    Product Amount
                    <span> ₹ {{total}} </span>
                  </h6>
                  <!-- <h6>
                    Coupon Discount
                    <span>
                      ₹ 250.00
                    </span>
                  </h6> -->
                </div>
                <h4>
                  Total Amount
                  <span> ₹ {{total}} </span>
                </h4>
                <hr />
                <!-- <router-link style="width: 100%;" to="/my_profile" class="btn">Submit</router-link> -->
                <v-btn
                  class="btn"
                  :disabled="loading2"
                  color="#000"
                  style="width: 100%"
                  type="submit"
                  @click.prevent="submit"
                >
                  <span v-if="!loading2" style="color: #fff">Submit</span>
                  <template v-else>
                    <span>Processing...</span>
                  </template>
                </v-btn>
                <!-- <a href="#" class="btn">buy now</a> -->
                <v-snackbar
                  class=""
                  color="success"
                  v-model="success"
                  :timeout="timeout"
                >
                  <span style="color: #fff"
                    >Your transaction was successfull!</span
                  >
                  <template v-slot:action="{ attrs }">
                    <v-btn
                      color="white"
                      text
                      v-bind="attrs"
                      @click="success = false"
                    >
                      <i style="color: #fff" class="ion-android-close"></i>
                    </v-btn>
                  </template>
                </v-snackbar>
                <v-snackbar
                  class=""
                  color="error"
                  v-model="error"
                  :timeout="timeout"
                >
                  <span style="color: #fff"> An error occured! </span>
                  <template v-slot:action="{ attrs }">
                    <v-btn
                      color="white"
                      text
                      v-bind="attrs"
                      @click="error = false"
                    >
                      <i style="color: #fff" class="ion-android-close"></i>
                    </v-btn>
                  </template>
                </v-snackbar>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
    name: "Checkout",
    data() {
        return {}
    },
    data() {
        return {
            cartItems: [],
            loading: true,
            total: '',
            error: false,
            errorMessage: '',
            success: false,
            timeout: 6000,
            loading2: false,
            notloggedIn: false
        }
    },
    methods: {
        async getCartItems() {
            let params = {
                user_id: localStorage.getItem('userId'),
                action: "List",
            }
            let res = await this.$axios.post('CustomerApi/manage_cart', params)
            console.log('this is cart res', res)

            if (res.data.result === '1') {
                let total = res.data.data.reduce((acc, item) => acc + parseInt(item.course_fee), 0);
                this.$store.dispatch("totalAmount", total);
                this.$store.dispatch("cartItems", res.data.data);
                this.total = total
                this.loading = false
                this.cartItems = res.data.data
            } else {
                this.loading = false
            }
        },
        async submit() {
            let user = localStorage.getItem('userId')
            // if (user === undefined || user === null) {
            //     this.notloggedIn = true
            // } else {
            this.loading2 = true;
            this.error = false;
            this.success = false;
            let res = await this.$axios.post('/CustomerApi/purchase_course', {
                user_id: user,
            })
            console.log(res)
            if (res.data.result === 0) {
                this.loading2 = false;
                this.error = true;
                this.errorMessage = res.data.message
            } else if (res.data.result === '1') {
                this.$store.dispatch("checkedOut");
                this.$router.push("/customer/dashboard");
                this.success = true;
                this.loading2 = false;
                this.error = false;
                this.errorMessage = '';
                console.log(res)
            }
        }

        // },
    },

    mounted() {
        this.getCartItems()
    }
};
</script>

<style></style>
