<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader/>
    </div>
    <Header/>
    <div class="career-page">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Colleges</a>
            </li>
          </ul>
        </div>
        <div class="inner-title">
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <h1 class="small-title">
                All Colleges
                <fragment v-if="total">({{ total }})</fragment>
              </h1>
            </v-col>
            <v-col md="6" xs="12" sm="12">
              <ul>
                <li>
                  <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
                </li>
                <li>
                  <a
                    @click="listViewFalse"
                    :class="{ listViewFalse: listViewfalse }"
                  >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a @click="listViewTrue" :class="{ listView: listView }">
                    <i
                      class="fa fa-list"
                      aria-hidden="true"
                      style="color: #000"
                    ></i>
                  </a>
                </li>
                <li class="responsive">
                  <a @click="sheet = !sheet">
                    <i style="font-size: 25px" class="ion-levels"></i>
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </div>
        <div class>
          <div class="inner-career course_list">
            <div class>
              <div class="sidebar-menu checkbox bx">
                <div class="responsive">
                  <v-bottom-sheet v-model="sheet">
                    <v-sheet v-model="sheet">
                      <v-container>
                        <div class="text-center" style="margin-top: 10px;">
                          <v-btn
                            fab
                            small
                            @click="sheet = false"
                            class="close-btn"
                            >X</v-btn
                          >
                        </div>
                        <CourseFilters :college="true" />
                      </v-container>
                    </v-sheet>
                  </v-bottom-sheet>
                </div>
                <div class="desk">
                  <h4 class="head2">Filters</h4>
                  <CourseFilters :college="true" />
                </div>
                <!-- <h4 class="head2">Filters</h4> -->
                <!-- <v-expansion-panels multiple v-model="panel">
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Country</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">India</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">USA</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>City</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Area</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Course Level</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Stream</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Course</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Program Type</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Type of college</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Fees</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Duration</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Review & Rating</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Popularity</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                   <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Distance</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <h6>Facilities</h6>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <div class="panel-body" style="padding: 0">
                        <div class="form-group">
                          <input type="checkbox" id="cit1" />
                          <label for="cit1">Delhi</label>
                        </div>
                        <div class="form-group">
                          <input type="checkbox" id="cit2" />
                          <label for="cit2">Kolkata</label>
                        </div>
                      </div>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels> -->
              </div>
            </div>
            <div class>
              <!-- <div class="bx" v-if="getCourses.length > 0">
                            <div class :class="{'listView': listView}">

                                <div v-for='(l, index) in getCourses' :key='index'>
                                    <CourseListItem :course='l'/>
                                </div>
                            </div>
                            <div class="btn-main">
                                <a href="#" class="btn">View More</a>
                            </div>

                        </div> -->
              <div>
                <div v-if="loader">
                  <Loader />
                </div>
              </div>
              <div class="bx listContainer" v-if="courseList.length > 0">
                <div :class="{ listView: listView }">
                  <fragment v-for="(college, index) in courseList" :key="index">
                    <ListItem :data="college" :colleges="true" />
                  </fragment>
                </div>
                <div class="btn-main" v-if="!lastPage">
                  <v-btn
                    rounded
                    dark
                    color="grey darken-4"
                    @click="getMore"
                  >View More
                  </v-btn>
                </div>
              </div>
              <div v-else>
                <div class="bx" v-if="courseList.length > 0">
                  <div class :class="{ listView: listView }">
                    <div v-for="(item, index) in courseList" :key="index">
                      <CourseListItem :course="item" />
                    </div>
                  </div>
                  <div class="btn-main" v-if="!lastPage">
                    <v-btn
                      :loading="loading"
                      :disabled="loading"
                      @click="getMore"
                      color="grey darken-4"
                      rounded
                      dark
                      >View More</v-btn
                    >
                  </div>
                </div>
                <div v-else class="emptyCourses bx">
                  <p>No college available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </div>
    <Footer/>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import CourseListItem from "../components/CourseListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
import { mapGetters } from "vuex";
import Footer from "../components/Footer";
import Header from "../components/Header";
import PreLoader from "../components/PreLoader";


export default {
  name: "Colleges",
  components: {
    AdvertisementSidebar,
    CourseListItem,
    Loader,
    CourseFilters,
    ListItem,
    Footer,
    Header,
    PreLoader
  },

  data() {
    return {
      selected: ["John"],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      courseList: [],
      courseLoading: true,
      loader: false,
      per_page: 20,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
      // preloader:true
    };
  },
  //     colleges: [
  //       {
  //         id: 1,
  //         name: "College Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Kolkata, WB",
  //         rating: 4,
  //         //designation: 'lorem',
  //         category: "Category",
  //         phone: "0123456789",
  //         website: "exreed.com",
  //       },
  //       {
  //         id: 2,
  //         name: "College Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Howrah, WB",
  //         rating: 3,
  //         category: "Category",
  //         phone: "9874561230",
  //         website: "exreed.com",
  //       },
  //       {
  //         id: 3,
  //         name: "College Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Howrah, WB",
  //         rating: 3,
  //         category: "Category",
  //         phone: "9874561230",
  //         website: "exreed.com",
  //       },
  //     ],
  //   };
  // },
  mounted() {
    this.getCollegeList();
    setTimeout(() => {
      this.preloader=false
    }, 3000);
    this.$store.dispatch("persist")
        this.$store.dispatch("cartItem")

  },
  methods: {
    async getCollegeList() {
      this.loader = true;
      this.courseLoading = true;
      let res = await this.$axios.post("/CustomerApi/college_list", {
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.loader = false;
        this.courseList = res.data.data;
        this.total = res.data.total;
        this.courseLoading = false;
      } else {
        this.loader = false;
        this.courseLoading = false;
      }
      if (res.data.last_page === 1) {
        this.loader = false;
        this.lastPage = true;
      } else {
        this.loader = false;
      }
    },
    async getMore() {
      let data = this.courseList;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("/CustomerApi/college_list", {
        user_id: this.user_id,
        per_page: 20,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
  // computed: {
  //   getCourses() {
  //     return this.$store.state.courses.courses;
  //   },
  // },
  // computed: {
  //   ...mapGetters(["allcolleges"]),
  // },
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
</style>
