<template>
  <div class="fadein">
    <div class="career-page">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Companies</a>
            </li>
          </ul>
        </div>
        <div class="inner-title">
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <h1 class="small-title">
                All Companies
                <fragment v-if="total">({{ total }})</fragment>
              </h1>
            </v-col>
            <v-col md="6" xs="12" sm="12">
              <ul>
                <li>
                  <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
                </li>
                <li>
                  <a
                    @click="listViewFalse"
                    :class="{ listViewFalse: listViewfalse }"
                  >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a @click="listViewTrue" :class="{ listView: listView }">
                    <i
                      class="fa fa-list"
                      aria-hidden="true"
                      style="color: #000"
                    ></i>
                  </a>
                </li>
                <li class="responsive">
                  <a @click="sheet = !sheet">
                    <i style="font-size: 25px" class="ion-levels"></i>
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </div>
        <div class>
          <div class="inner-career course_list">
            <div class>
              <div class="sidebar-menu checkbox bx">
                <div class="responsive">
                  <v-bottom-sheet v-model="sheet">
                    <v-sheet v-model="sheet">
                      <v-container>
                        <div class="text-center" style="margin-top: 10px;">
                          <v-btn
                            fab
                            small
                            @click="sheet = false"
                            class="close-btn"
                            >X</v-btn
                          >
                        </div>
                        <CourseFilters :companies="true" />
                      </v-container>
                    </v-sheet>
                  </v-bottom-sheet>
                </div>
                <div class="desk">
                  <h4 class="head2">Filters</h4>
                  <CourseFilters :companies="true" />
                </div>
              </div>
            </div>
            <div class>
              <div>
                <div v-if="loader">
                  <Loader />
                </div>
              </div>
              <div class="bx listContainer" v-if="courseList.length > 0">
                <div :class="{ listView: listView }">
                  <fragment v-for="(company, index) in courseList" :key="index">
                    <ListItem :data="company" :companies="true" />
                  </fragment>
                </div>
                <div class="btn-main" v-if="!lastPage">
                  <button
                    type="button"
                    class="btn v-btn v-btn--contained theme--light v-size--default"
                    style="
                      background-color: rgb(0, 0, 0);
                      border-color: rgb(0, 0, 0);
                      text-transform: capitalize;
                    "
                    @click="getMore"
                  >
                    <span class="v-btn__content">View More</span>
                  </button>
                </div>
              </div>
              <div v-else>
                <div class="bx" v-if="courseList.length > 0">
                  <div class :class="{ listView: listView }">
                    <div v-for="(company, index) in courseList" :key="index">
                      <CourseListItem :course="company" />
                    </div>
                  </div>
                  <div class="btn-main" v-if="!lastPage">
                    <v-btn
                      :loading="loading"
                      :disabled="loading"
                      @click="getMore"
                      color="#000"
                      class="btn"
                      style="text-transform: capitalize"
                      >View More</v-btn
                    >
                  </div>
                </div>
                <div v-else class="emptyCourses bx">
                  <p>No company available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import CourseListItem from "../components/CourseListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
import { mapGetters } from "vuex";
export default {
  name: "Companies",
  components: {
    AdvertisementSidebar,
    CourseListItem,
    Loader,
    CourseFilters,
    ListItem,
  },
  data() {
    return {
      selected: ["John"],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      courseList: [],
      courseLoading: true,
      loader: false,
      per_page: 20,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
    };
  },
  //     Companies: [
  //       {
  //         id: 1,
  //         name: "Company Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Kolkata, WB",
  //         rating: 4,
  //         //designation: 'lorem',
  //         category: "Category",
  //         phone: "0123456789",
  //         website: "exreed.com",
  //       },
  //       {
  //         id: 2,
  //         name: "Company Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Howrah, WB",
  //         rating: 3,
  //         category: "Ipsm dolor",
  //         phone: "9874561230",
  //         website: "exreed.com",
  //       },
  //       {
  //         id: 3,
  //         name: "Company Name",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         address: "Howrah, WB",
  //         rating: 3,
  //         category: "Category",
  //         phone: "9874561230",
  //         website: "exreed.com",
  //       },
  //     ],
  //   };
  // },
  mounted() {
    this.getCompanyList();
  },
  methods: {
    async getCompanyList() {
      this.loader = true;
      this.courseLoading = true;
      let res = await this.$axios.post("/CustomerApi/company_list", {
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.loader = false;
        this.courseList = res.data.data;
        this.total = res.data.total;
        this.courseLoading = false;
      } else {
        this.loader = false;
        this.courseLoading = false;
      }
      if (res.data.last_page === 1) {
        this.loader = false;
        this.lastPage = true;
      } else {
        this.loader = false;
      }
    },
    async getMore() {
      let data = this.courseList;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("/CustomerApi/company_list", {
        user_id: this.user_id,
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
  // computed: {
  //   getCourses() {
  //     return this.$store.state.courses.courses;
  //   },
  // },
  // computed: {
  //   ...mapGetters(["allcompanies"])
  // }
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
</style>
