<template>
    <div class="fadein">
   
    <div class="vendorProfile contact">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/Contactus">Contact Us</nuxt-link>
            </li>
           
          </ul>
        </div>
        </div>
        <div class="col-md-4">
        <div class="bx">
             <h4 class="head2">Contact Us</h4>
         
         <h6> <i class="fa fa-map-marker"></i> Address</h6>
         <p>504a P.S Aviators Chinar Park</p>
         <h6> <i class="fa fa-phone"></i> Phone Number</h6>
         <p>+91  9547333056</p>
         <h6> <i class="fa fa-envelope"></i> Email</h6>
         <p>exreed@gmail.com</p>
        </div>
        </div>
        <div class="col-md-4">
            <div class="bx">
                <h4 class="head2">Write Us</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <textarea name="" class="form-control" placeholder="Message" id="" cols="30" rows="10"></textarea>
                </div>
                <a href="#" class="btn">Submit</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bx">
             <h4 class="head2">Find us</h4>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.0511831523518!2d88.35591431443412!3d22.57718893849314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277b21f73e3a7%3A0xf78af4b24860fc30!2skazma%20technology%7CMobile%20app%20development%20company%20in%20kolkata!5e0!3m2!1sen!2sin!4v1609157468584!5m2!1sen!2sin" width="100%" height="270px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            

        </div>
      </div>
    </div>
    </div>
</template>