<template>
  <div>
    <section class="login">
      <div class="row" style="margin: 0">
        <div class="col-md-6">
          <div class="log-banner" 
          :style="{backgroundImage: `url(${loginBg})`}">
            <article>
              <h2>Welcome to</h2>
              <h1>EXREED.COM</h1>
              <h4>Register as Corporate</h4>
            </article>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form">
            <v-form
              v-model="valid"
              ref="form"
              lazy-validation
              @submit.prevent="validate"
              id="check-form"
            >
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <h3>Create Account</h3>
              <div class="form-group">
                <label for="cars">Corporate Type:</label>

                <v-select
                  class="form-control"
                  style="width: 100%"
                  v-model="corporateType"
                  solo
                  :items="corporateTypes"
                  :rules="[v => !!v || 'Corporate Type is required']"
                  required
                ></v-select>
              </div>
              <div class="form-group">
                <label for>Company Name"</label>
                <!-- <input type="text" class="form-control" placeholder /> -->
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="companyName"
                  :rules="[v => !!v || 'Company name is required']"
                  required
                ></v-text-field>
              </div>
              <div class="form-group">
                <label for>Mobile/ Landline</label>
                <div class="row">
                  <!-- <div class="col-md-4" style="padding-left: 0 !important;">
                    <v-select
                      class="form-control"
                      style="width: 100%;"
                      v-model="code"
                      solo
                      :items="codes"
                      :rules="[v => !!v || 'Required']"
                      required
                    ></v-select>
                  </div> -->
                  <div class="col-md-12" style="padding-right: 0 !important">
                    <!-- <input type="text" name id class="form-control" /> -->
                    <v-text-field
                      class="form-control"
                      style="width: 100%"
                      solo
                      v-model="mobile"
                      :rules="phoneRules"
                      required
                      @keypress="onlyNumbers"
                      maxlength="10"
                    ></v-text-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for>Email Id</label>
                <!-- <input type="text" name id class="form-control" /> -->
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="email"
                  :rules="emailRules"
                  required
                ></v-text-field>
              </div>
              <div class="form-group">
                <label for>Password</label>
                <!-- <input type="text" name id class="form-control" />
                <i class="fa fa-eye-slash" aria-hidden="true"></i>-->
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="password"
                  :rules="[v => !!v || 'Pasword is required']"
                  :type="show1 ? 'text' : 'password'"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show1 = !show1"
                  required
                ></v-text-field>
              </div>
              <div class="form-group">
                <label for>Confirm Password</label>
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="rePassword"
                  :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[[v => !!v || 'Required'], passwordConfirmationRule]"
                  :type="show2 ? 'text' : 'password'"
                  @click:append="show2 = !show2"
                ></v-text-field>
              </div>
              <!-- <a href="#" class="btn" data-toggle="modal" data-target="#scaleModal">SIGN UP</a> -->
              <!-- <button class="btn" :disabled="!valid" >SIGN UP</button> -->
              <!-- <button class="btn">SIGN UP</button> -->
              <v-btn
                class="btn"
                :loading="loading2"
                :disabled="loading2"
                color="#000"
                type="submit"
              >
                Sign up
                <template v-slot:loader>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <router-link to="/corporate/login" class="forget"
                >Already Registered? Please Login</router-link
              >
              <!-- <a href="" class="forget">Create an Account? Sign up</a> -->
              <a @click="$router.go(-1)" class="backTo" to="/">
                <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="#000000"
                    d="M0.646 10.146l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.146 5.146h16.293c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-16.293l5.146 5.146c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146s-0.256-0.049-0.354-0.146l-6-6c-0.195-0.195-0.195-0.512 0-0.707z"
                  />
                </svg>
                <small>Go back</small>
              </a>
            </v-form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import loginBg from "../assets/img/camera.jpg";
export default {
  name: "For_corporate_sign_up",
  data() {
    return {
      loginBg,
      loader: null,
      valid: true,
      loading2: false,
      show1: false,
      show2: false,
      phoneRules: [
        v => !!v || "Phone number is required",
        v =>
          (v && v.length >= 10) ||
          "Phone number must be less than 10 characters"
      ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      companyName: "",
      email: "",
      code: "",
      password: "",
      rePassword: "",
      mobile: "",
      corporateType: "",
      codes: ["91", "01", "02"],
      corporateTypes: [
        "Individual Trainer",
        "Trainning Institute",
        "Company",
        "School",
        "College",
        "University",
        "HR's",
        "Consultancies"
      ]
    };
  },
  methods: {
    validate() {
      this;
      this.$refs.form.validate();
      this.loader = "loading2"
    },
    // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    }
  },
  computed: {
    passwordConfirmationRule() {
      return () => this.password === this.rePassword || "Password must match";
    }
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  }
};
</script>
<style>
.login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}
.login .col-md-6 {
  padding-left: 0 !important;
}
.form div {
  box-shadow: none !important;
}
.form .form-group {
  margin-bottom: 25px;
}
.form .v-messages__message {
  color: red;
}
.form .v-text-field__details {
  padding: 0 !important;
}
</style>
