<template>
  <div>
    <section class="login">
      <div class="row" style="margin: 0">
        <div class="col-md-6">
          <div class="log-banner" :style="{backgroundImage: `url(${loginBg})`}">
            <article>
              <h2>Welcome to</h2>
              <h1>EXREED.COM</h1>
              <h4>Access Your Corporate Account</h4>
            </article>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form">
            <v-form id="nativeForm" v-model="valid" @submit.prevent="login">
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <h3>Login</h3>
              <div class="form-group">
                <label for>Email id</label>
                <!-- <input type="text" class="form-control" placeholder /> -->
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="email"
                  :rules="emailRules"
                  required
                ></v-text-field>
              </div>
              <div class="form-group">
                <label for>Password</label>
                <!-- <input type="pasword" name id class="form-control" />
                <i class="fa fa-eye-slash" aria-hidden="true"></i>-->
                <v-text-field
                  class="form-control"
                  style="width: 100%"
                  solo
                  v-model="password"
                  :rules="[v => !!v || 'Pasword is required']"
                  :type="show1 ? 'text' : 'password'"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="show1 = !show1"
                  required
                ></v-text-field>
              </div>
              <v-btn class="btn" :disabled="!valid" color="#000" type="submit">
                Sign in
                <!-- <template v-slot:loader>
                                <span>Processing...</span>
                            </template> -->
              </v-btn>
              <!-- <v-btn
                class="btn"
                :loading="loading2"
                :disabled="loading2"
                color="#000"
                type="submit"
              >
                Log in
                <template v-slot:loader>
                  <span>Processing...</span>
                </template>
              </v-btn> -->
              <a href="#" class="forget">Forgot Password</a>
              <router-link to="/corporate/sign_up" class="forget"
                >Create an Account? Sign up</router-link
              >
              <a @click="$router.go(-1)" class="backTo" to="/">
                <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="#000000"
                    d="M0.646 10.146l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.146 5.146h16.293c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-16.293l5.146 5.146c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146s-0.256-0.049-0.354-0.146l-6-6c-0.195-0.195-0.195-0.512 0-0.707z"
                  />
                </svg>
                <small>Go back</small>
              </a>
            </v-form>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import loginBg from "../assets/img/camera.jpg";
export default {
    name: "For_corporate_login",
    data() {
        return {
            valid: false,
            loginBg,
            loader: null,
            loading2: false,
            show1: false,
            email: "hassan@kazmatechnology.com",
            password: "123456",
            emailRules: [
                v => !!v || "E-mail is required",
                v => /.+@.+\..+/.test(v) || "E-mail must be valid"
            ]
        };
    },
    methods: {
        validate() {
            this;
            this.$refs.form.validate();
        },
        // reset() {
        //   this.$refs.form.reset();
        // },
        // resetValidation() {
        //   this.$refs.form.resetValidation();
        // },
        onlyNumbers(event) {
            let keyCode = event.keyCode ? event.keyCode : event.which;
            if (keyCode < 48 || keyCode > 57) {
                // 46 is dot
                event.preventDefault();
            }
        },
        // dispatchEvent
        // login() {
        //     this.$store
        //     .dispatch("login", {
        //       email: this.email, password: this.password
        //     })
        // }
    },
    watch: {
        loader() {
            const l = this.loader;
            this[l] = !this[l];

            setTimeout(() => (this[l] = false), 3000);

            this.loader = null;
        }
    }
};
</script>

<style>
.login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}

.login .col-md-6 {
  padding-left: 0 !important;
}

.form div {
  box-shadow: none !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .v-messages__message {
  color: #ed1d25;
}

.form .v-text-field__details {
  padding: 0 !important;
}

/* .v-input__control {
    min-height: 35px !important;
}

.form-group .v-messages {
    margin: 8px 0;
} */
</style>
