<template>
  <div>
    <section class="login">
      <v-row>
        <v-col md="6" xs="12" sm="12">
          <div
            class="log-banner"
            :style="{ backgroundImage: `url(${loginBg})` }"
          >
            <article>
              <h2>Forgot Your Passcode ?</h2>
              <h1>Verify Your Email</h1>
              <h4></h4>
            </article>
          </div>
        </v-col>
        <v-col md="6" xs="12" sm="12">
          <div class="form">
            <v-form
              v-if="!otpForm"
              v-model="valid"
              @submit.prevent="signUp"
              id="check-form"
            >
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <h3>Forgot Password</h3>
              <div class="form-group">
                <label for>Email Id</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="signupPayload.email"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                </div>
              </div>

              <br />

              <div v-if="error" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div class="form-group fadein" v-if="success">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Temporary Passcode has been set.
                  </v-alert>
                </div>
              </div>
              <!-- <div -->
              <v-btn
                class="btn2"
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
              >
                <span v-if="!loading2" style="color: #fff">Verify</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <router-link to="/corporate/sign_up" class="forget"
                >Dont have an account? <b> Please Signup</b></router-link
              >
              <a @click="$router.go(-1)" class="backTo" to="/">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="#000000"
                    d="M0.646 10.146l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.146 5.146h16.293c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-16.293l5.146 5.146c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146s-0.256-0.049-0.354-0.146l-6-6c-0.195-0.195-0.195-0.512 0-0.707z"
                  />
                </svg>
                <small>Go back</small>
              </a>
            </v-form>
            <v-form
              v-if="otpForm"
              v-model="valid"
              @submit.prevent="sumitOtp"
              id="otp"
            >
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <h3>Verify your Email</h3>
              <div class="form-group">
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="otp"
                    :rules="[(v) => !!v || 'OTP is required']"
                    :type="show1 ? 'text' : 'password'"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show1 = !show1"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group fadein" v-if="confirmed">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Your email has been verified!
                    <!-- <router-link
                      to="/corporate/login"
                      style="color: green; padding-left: 10px"
                      >Sign in</router-link
                    > -->
                  </v-alert>
                </div>
              </div>
              <div class="form-group fadein" v-if="wrongOtp">
                <div class="row">
                  <v-alert align="left" text type="warning">
                    Wrong OTP!
                  </v-alert>
                </div>
              </div>

              <v-btn
                class="btn"
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
                style="margin-bottom: 10px"
              >
                <span v-if="!loading2" style="color: #fff">Submit OTP</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <p style="margin-top: 10px">
                <small style="color: #acacac"
                  >An OTP has been sent to your email.</small
                >
              </p>
            </v-form>
          </div>
        </v-col>
      </v-row>
    </section>
  </div>
</template>

<script>
import loginBg from "../assets/img/camera.jpg";
export default {
  name: "For_corporate_sign_up",
  data() {
    return {
      loginBg,
      valid: false,
      loading2: false,
      show1: false,
      show2: false,
      error: false,
      errorMessage: "",
      success: false,
      otpForm: false,
      otp: "",
      phoneRules: [
        (v) => !!v || "Phone number is required",
        (v) => (v && v.length >= 10) || "Invalid",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,16}$/.test(v) ||
          "Password must be at least of 8 characters containing at least one number and one special character",
      ],
      rePassword: "",
      corporate_type: "",
      corporateTypes: [
        "Training Institute",
        "Individual Trainer",
        "Company",
        "School",
        "College",
        "University",
        "HR's",
        "Consultancy",
      ],
      signupPayload: {
        email: "",
      },
      wrongOtp: false,
      confirmed: false,
    };
  },
  methods: {
    async signUp() {
      this.loading2 = true;

      // let corporatetype = this.signupPayload.corporate_type;
      // console.log("corporate ka type", corporatetype);

      const response = await this.$axios.$post(
        "/trainingInstituteApi/forgot_password",

        this.signupPayload
      );

      console.log(response);
      if (response.result === 0) {
        this.loading2 = false;
        this.otpForm = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = response.message;
      } else if (response.result === 1) {
        this.success = true;
        this.valid = true;
        // setTimeout(() => (this.otpForm = true), 2000);

        this.loading2 = false;
        setTimeout(() => {
          this.$router.push("/corporate/login");
        }, 3000);
        this.error = false;
        this.errorMessage = "";
      }
      localStorage.setItem("OTP", response.otp);
    },
    async sumitOtp() {
      this.confirmed = false;
      this.wrongOtp = false;
      if (this.otp === localStorage.getItem("OTP")) {
        this.confirmed = true;
        this.wrongOtp = false;
        // let corporatetype = this.signupPayload.corporate_type;
        // console.log("corporate ka type", corporatetype);

        // this.success = true;
        this.valid = true;
        setTimeout(() => (this.success = true), 2000);
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";

        // setTimeout(() => this.$router.push("/new_password"), 3500);
      } else {
        this.wrongOtp = true;
        this.confirmed = false;
      }
    },
    // // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
  },

  watch: {},
};
</script>

<style>
.login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}

.login .col-md-6 {
  padding-left: 0 !important;
}

.form div {
  box-shadow: none !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .v-messages__message {
  color: #ed1d25;
}

.form .v-text-field__details {
  padding: 0 !important;
}
</style>
