<template>
   
  <div class="fadein">
   
    <div class="blog-detail">
      
      <div class="container">
       
          
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/Help">Help & FAQ's</nuxt-link>
            </li>
           
          </ul>
        </div>
       
        
        <h3 class="head2" style="margin-top:0">Help & FAQ's</h3>
        
   <div class="bx">
       <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in 5"
      :key="i"
    >
      <v-expansion-panel-header>Item</v-expansion-panel-header>
      <v-expansion-panel-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
   </div>
  
               
       </div>
      </div>
    </div>
  
</template>