<template>
<div>
<div v-if="loader">
    <PreLoader/>
</div>
<Header/>
<div class="home fadein">
    
    
    <!-- <div class="banner" :style="{backgroundImage: `url(${banner})`}"> -->
        <div class="banner" :style="{backgroundImage: `url(https://previews.123rf.com/images/rawpixel/rawpixel1510/rawpixel151010785/46261721-diversity-teenagers-friends-friendship-team-concept.jpg)`}">
        
        <div class="caption">
            <!-- <img src="/_nuxt/assets/img/logo.png" alt="" style="width:200px"> -->
            <h1>Welcome to Exreed</h1>
            <h6>Find the best courses, Institute and Jobs</h6>
            
            <CommonSearch />
        </div>
    </div>
    <Courses />
    <Jobs />
    <Career />
    <Corporate />
    <Reviews />
    <Blogs />
</div>
<Footer/>
</div>
</template>

<script>
// @ is an alias to /src
// import banner from "../assets/img/picnic.jpg";
import Courses from '../components/homePage/Courses'
import Jobs from '../components/homePage/Jobs'
import Career from '../components/homePage/Career'
import Corporate from '../components/homePage/Corporate'
import Reviews from '../components/homePage/Reviews'
import Blogs from '../components/homePage/Blogs'
import PreLoader from '../components/PreLoader'
import Header from "../components/Header";
import Footer from "../components/Footer";
import Page from "../components/Page";


import CommonSearch from "../components/Common_search";
export default {
    name: "Home",
    components: {
        CommonSearch,
        Courses,
        Jobs,
        Career,
        Corporate,
        Reviews,
        Blogs,
        Header,
        Footer,
        PreLoader,
        Page
    },
    data() {
        return {
            // loader:true
        };
    },
    mounted() {
        setTimeout(() => {
            this.loader=false
        }, 3000);
    },
};
</script>

<style>
/* .search_content {
    display: none !important;
} */

.banner .caption h1,
.banner .caption h6 {
    color: #fff;
    font-weight: bold;
    
}
</style>
