<template>
  <!-- Card -->
  <div>
    <div class="log-banner" :style="{ backgroundImage: `url(${loginBg})` }">
      <article>
        <h2>Set Your New Password</h2>
        <!-- <h1>We are here</h1>
        <h3>Verify Your email to reset your Password</h3> -->
      </article>
    </div>
    <div class="form respRow">
      <!-- <h3 style="margin-bottom: 25px" class="small-title">Change Password</h3> -->
      <v-form v-model="valid" @submit.prevent="changePassword" id="check-form">
        <v-row>
          <v-col md="6" lg="6" sm="12" xs="12">
            <div class="form-group">
              <v-text-field
                dense
                filled
                class="pass"
                label="New Password"
                v-model="newPassword"
                :rules="passwordRules"
                :type="show1 ? 'text' : 'password'"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="show1 = !show1"
                required
              ></v-text-field>
            </div>
          </v-col>
          <br />
          <v-col md="6" lg="6" sm="12">
            <div class="form-group">
              <v-text-field
                dense
                filled
                class="pass1"
                label="Confirm New Password"
                v-model="rePassword"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[[(v) => !!v || 'Required'], passwordConfirmationRule]"
                :type="show2 ? 'text' : 'password'"
                @click:append="show2 = !show2"
              ></v-text-field>
            </div>
          </v-col>
        </v-row>
        <div v-if="error" class="form-group fadein">
          <v-alert class="" text prominent type="error">
            {{ errorMessage }}
          </v-alert>
        </div>
        <div
          class="form-group fadein"
          v-if="success"
          style="margin-bottom: 15px"
        >
          <div class="row">
            <v-alert text type="success" align="left">
              Password updated successfully!
            </v-alert>
          </div>
        </div>
        <v-btn class="btn3" color="#000" type="submit">
          <span v-if="!loading2" style="color: #fff">Submit</span>
          <template v-else>
            <span>Processing...</span>
          </template>
        </v-btn>
      </v-form>
    </div>
    <div></div>
    <!-- Card -->
  </div>
</template>
<script>
// import { mdbInput, mdbBtn, mdbCard, mdbCardBody } from "mdbvue";
export default {
  data() {
    return {
      email: "",
    };
  },
  methods: {
    async changePassword() {
      //   let res = await this.$axios.post(
      //     "trainingInstituteApi/forgot_password",
      //     this.email
      //   );
      console.log("forget");
      alert("Coming Soon");
    },
  },
};
</script>
<style scoped>
.pass {
  top: -350px;
  left: 300px;
  position: relative;
}
.pass1 {
  top: -280px;
  left: -350px;

  position: relative;
}
.btn3 {
  top: -280px;
  left: 325px;
  width: 48%;
  position: relative;
}
</style>
