<template>
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/News">News</nuxt-link>
            </li>
           
          </ul>
        </div>
        </div>
         <div class="bx">
                      <div class="row">
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                              <h5>Posted Date:23/12/20</h5>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                             <h5>Posted Date:23/12/20</h5>

                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                              <h5>Posted Date:23/12/20</h5>

                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                              <h5>Posted Date:23/12/20</h5>

                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                              <h5>Posted Date:23/12/20</h5>

                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                        <div class="col-md-4">
                          <a href="/NewsDetail" class="box box-new">
                            <img
                              src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                              alt=""
                            />
                            <article>
                              <h4>News heading</h4>
                              <h5>Posted Date:23/12/20</h5>

                              <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Possimus, cum?
                              </p>
                            </article>
                          </a>
                        </div>
                      </div>
                    </div>
      </div>
    </div>
  </div>
        </template>
        <script>
        export default {
         name: "News", 
        }
        </script>