<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <div class="vendorProfile job-details">
      <div class="container">
        <div class="col-md-12">
          <div class="breadcrumb">
            <ul>
              <li>
                <nuxt-link to="/">Home</nuxt-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li v-if="school">
                <nuxt-link :to="'/schools/'+username">{{username}}</nuxt-link>
              </li>
              <li v-if="college">
                <nuxt-link :to="'/colleges/'+username">{{username}}</nuxt-link>
              </li>
              <li v-if="university">
                <nuxt-link :to="'/universities/'+username">{{username}}</nuxt-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <!-- <a href="#">{{slug.id}}</a> -->
                <a>News</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" style="margin: 0">
          <div class="col-md-12">
            <div class="bx news-detail" style="min-height:700px">
              <div class="row" v-for="item in newsdata" :key="item.news_id">
                <div class="col-md-4">
                  <img :src="item.image" alt="" 
                  style="width:400px;height:300px; border-radius:5px"/>
                </div>
                <div class="col-md-8">
                  <h2 class="head2">{{ item.title }}</h2>
                  <p>
                    {{ item.desc }}
                  </p>
                  <!-- <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Iste et dicta aliquam nam excepturi distinctio provident eos
                    architecto. At esse nobis ullam iure, blanditiis fuga
                    corporis voluptatibus tempore voluptate obcaecati.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolores culpa ab animi beatae voluptates natus aut expedita
                    delectus et asperiores nihil pariatur debitis, qui
                    distinctio sint aspernatur numquam iure illo!
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>
<script>
import Footer from "../components/Footer";
import Header from "../components/Header";
import PreLoader from "../components/PreLoader";
export default {
  components:{
    Footer,
    Header,
    PreLoader,
  },
  data() {
    return {
      newsdata: "",
      news_id:"",
      username:"",
      entity_corporate_type:"",
      school:false,
      college:false,
      university:false,
      // preloader:true

    };
  },
  beforeMount(){
    let id=location.href.split("?")
    this.news_id=id.pop()
    console.log("hgfuytkuygu677",id.pop())
    
  },
  mounted() {
    this.entity_corporate_type=localStorage.getItem("entity_corporate_type")
    this.username=localStorage.getItem("username")
    if(this.entity_corporate_type === "College"){
      this.college=true
    }else if(this.entity_corporate_type === "School"){
      this.school=true
    }else if(this.entity_corporate_type === "University"){
      this.university=true
    }
    this.getNews();
    setTimeout(() => {
      this.preloader = false;
      
    }, 3500);
    this.$store.dispatch("persist");
    this.$store.dispatch("cartItem");
  },
  methods: {
    async getNews() {
      this.username=localStorage.getItem("username")
      let params1 = {
        news_id: this.news_id,
        action: "list",
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/manage_news",
        params1
      );
      this.newsdata = res.data.data;
      console.log("newsdetail", this.newsdata);
    },
  },
};
</script>
