<template>
  <div class="fadein">
    <div class="career-page">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">All Person</a>
            </li>
          </ul>
        </div>
        <div class="inner-title">
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <h1 class="small-title">
                All Person
                <fragment v-if="total">({{ total }})</fragment>
              </h1>
            </v-col>
            <v-col md="6" xs="12" sm="12">
              <ul>
                <li>
                  <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
                </li>
                <li>
                  <a
                    @click="listViewFalse"
                    :class="{ listViewFalse: listViewfalse }"
                  >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a @click="listViewTrue" :class="{ listView: listView }">
                    <i
                      class="fa fa-list"
                      aria-hidden="true"
                      style="color: #000"
                    ></i>
                  </a>
                </li>
                <li class="responsive">
                  <a @click="sheet = !sheet">
                    <i style="font-size: 25px" class="ion-levels"></i>
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </div>
        <div class>
          <div class="inner-career course_list">
            <div class>
              <div class="sidebar-menu checkbox bx">
                <div class="responsive">
                  <v-bottom-sheet v-model="sheet">
                    <v-sheet v-model="sheet">
                      <v-container>
                        <div class="text-center" style="margin-top: 10px;">
                          <v-btn
                            fab
                            small
                            @click="sheet = false"
                            class="close-btn"
                            >X</v-btn
                          >
                        </div>
                        <div class="filter">
                          <CourseFilters :persons="true" />
                        </div>
                      </v-container>
                    </v-sheet>
                  </v-bottom-sheet>
                </div>
                <div class="desk">
                  <h4 class="head2">Filters</h4>
                  <CourseFilters :persons="true" />
                </div>
              </div>
            </div>
            <div class>
              <!-- <div class="bx" v-if="getCourses.length > 0">
                            <div class :class="{'listView': listView}">

                                <div v-for='(l, index) in getCourses' :key='index'>
                                    <CourseListItem :course='l'/>
                                </div>
                            </div>
                            <div class="btn-main">
                                <a href="#" class="btn">View More</a>
                            </div>

                        </div> -->

              <!-- <div v-if="courseLoading">
                <div
                  class="courseLoader"
                  style="
                    display: flex;
                    background: #fff;
                    float: left;
                    width: 100%;
                    padding: 25px;
                    border-radius: 7px;
                    position: relative;
                    margin-bottom: 15px;
                    z-index: 10;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                  "
                >
                  
                  <v-row>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                    <v-col mb="4" lg="4" sm="12">
                      <v-skeleton-loader
                        style="width: 100%"
                        class="mx-auto"
                        max-height="500"
                        type="card"
                      ></v-skeleton-loader>
                    </v-col>
                  </v-row>
                </div>
              </div> -->
              <div>
                <div v-if="loader">
                  <Loader />
                </div>
              </div>
              <div class="bx listContainer" v-if="courseList.length > 0">
                <div :class="{ listView: listView }">
                  <fragment v-for="(school, i) in courseList" :key="i">
                    <ListItem :data="school" :persons="true" />
                  </fragment>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn v-btn v-btn--contained theme--light v-size--default"
                    style="
                      background-color: rgb(0, 0, 0);
                      border-color: rgb(0, 0, 0);
                      text-transform: capitalize;
                    "
                    v-if="!lastPage"
                    @click="getMore"
                  >
                    <span class="v-btn__content">View More</span>
                  </button>
                </div>
              </div>
              <!-- <div class="bx listContainer" v-if="getCourses.length > 0">
              <div :class="{ listView: listView }">
                <fragment v-for="(school, i) in school" :key="i">
                  <ListItem :data="school" :schools="true" />
                </fragment>
              </div>
             <div class="btn-main">
                  <button
                    type="button"
                    class="btn v-btn v-btn--contained theme--light v-size--default"
                    style="
                      background-color: rgb(0, 0, 0);
                      border-color: rgb(0, 0, 0);
                      text-transform: capitalize;
                    "
                  >
                    <span class="v-btn__content">View More</span>
                  </button>
                </div>
            </div> -->

              <div v-else>
                <div class="bx" v-if="courseList.length > 0">
                  <div class :class="{ listView: listView }">
                    <div v-for="(item, index) in courseList" :key="index">
                      <CourseListItem :course="item" />
                    </div>
                  </div>
                  <div class="btn-main" v-if="!lastPage">
                    <v-btn
                      :loading="loading"
                      :disabled="loading"
                      @click="getMore"
                      color="#000"
                      class="btn"
                      style="text-transform: capitalize"
                      >View More</v-btn
                    >
                  </div>
                </div>
                <div v-else class="emptyCourses bx">
                  <p>No person available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import CourseListItem from "../components/CourseListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
export default {
  name: "persons",
  components: {
    AdvertisementSidebar,
    CourseListItem,
    Loader,
    CourseFilters,
    ListItem,
  },
  data() {
    return {
      selected: ["John"],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      courseList: [],
      courseLoading: true,
      loader: false,
      per_page: 20,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
    };
  },
  //     persons:  [
  //       {
  //         id: 1,
  //         name: "Smith",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         designation: 'HR',
  //         company: 'Covalent Technology',
  //         experience: '0-2 Years',
  //         location: "HYD,Telangana",

  //       },
  //       {
  //         id: 2,
  //         name: "Jhone Doe",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         designation: 'HR',
  //         company: 'Covalent Technology',
  //         experience: '0-2 Years',
  //         location: "HYD,Telangana",

  //       },
  //       {
  //         id: 3,
  //         name: "Mahesh",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         designation: 'HR',
  //         company: 'Covalent Technology',
  //         experience: '0-2 Years',
  //         location: "HYD,Telangana",
  //       },
  //        {
  //         id: 4,
  //         name: "Jhone Doe",
  //         image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
  //         designation: 'HR',
  //         company: 'Covalent Technology',
  //         experience: '0-2 Years',
  //         location: "HYD,Telangana",

  //       },
  //     ],
  //   };
  // },
  mounted() {
    this.getCustomerList();
  },
  methods: {
    async getCustomerList() {
      this.loader = true;
      this.courseLoading = true;
      let res = await this.$axios.post("/CustomerApi/customer_list", {
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.loader = false;
        this.courseList = res.data.data;
        this.total = res.data.total;
        this.courseLoading = false;
      } else {
        this.loader = false;
        this.courseLoading = false;
      }
      if (res.data.last_page === 1) {
        this.loader = false;
        this.lastPage = true;
      } else {
        this.loader = false;
      }
    },
    async getMore() {
      let data = this.courseList;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("/CustomerApi/customer_list", {
        user_id: this.user_id,
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
  computed: {
    getCourses() {
      return this.$store.state.courses.courses;
    },
  },
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
.filter {
  top: 10px;
}
</style>
