<template>
   
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/Privacy_Policy">Privacy Policy</nuxt-link>
            </li>
           
          </ul>
        </div>
       
        
        <h3 class="head2" style="margin-top:0">Privacy Policy</h3>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
                <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
              <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum accusantium laboriosam tempora deleniti cum veritatis rerum temporibus culpa, quasi a facilis molestiae labore dignissimos amet soluta totam, expedita quis unde.
            
            </p>
       </div>
      </div>
    </div>
  
</template>