<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <!-- <v-container style="pading-top: 20px"> </v-container> -->
    <!-- <div > -->
    <v-container style="margin-left: 50px; margin-top: -60px; height: 100px">
      <div class="inner-title">
        <div style="float: left">
          <ul>
            <li>
              <a href="#" style="color: #000">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right" style="color: #000"></i>
            </li>
            <li>
              <a href="#" style="color: #000">Schools</a>
            </li>
          </ul>
        </div>
        <v-row>
          <v-col md="6" sm="12" xs="12">
            <h1 class="small-title">
              All Schools
              <fragment v-if="total">({{ total }})</fragment>
            </h1>
          </v-col>
          <v-col md="6" xs="12" sm="12">
            <ul>
              <li>
                <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
              </li>
              <li>
                <a
                  @click="listViewFalse"
                  :class="{ listViewFalse: listViewfalse }"
                >
                  <i class="fa fa-th-large" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a @click="listViewTrue" :class="{ listView: listView }">
                  <i
                    class="fa fa-list"
                    aria-hidden="true"
                    style="color: #000"
                  ></i>
                </a>
              </li>
              <li class="responsive">
                <a @click="sheet = !sheet">
                  <i style="font-size: 25px" class="ion-levels"></i>
                </a>
              </li>
            </ul>
          </v-col>
        </v-row>
      </div>
    </v-container>
    <v-container style="margin-top: 180px">
      <div class="course_list">
        <div class="sidebar-menu checkbox bx">
          <div class="responsive">
            <v-bottom-sheet v-model="sheet">
              <v-sheet v-model="sheet">
                <v-container>
                  <div class="text-center" style="margin-top: 10px">
                    <v-btn fab small @click="sheet = false" class="close-btn"
                      >X</v-btn
                    >
                  </div>
                  <CourseFilters :schools="true" />
                </v-container>
              </v-sheet>
            </v-bottom-sheet>
          </div>
          <div class="desk">
            <h4 class="head2">Filters</h4>
            <CourseFilters :schools="true" />
          </div>
        </div>
        <div class>
          <div>
            <div v-if="loader">
              <Loader />
            </div>
          </div>
          <div class="bx mainbody" v-if="courseList.length > 0">
            <div
              :class="{ listView: listView }"
              class="scrollable"
              
            >
              <fragment v-for="(school, i) in courseList" :key="i">
                <ListItem :data="school" :schools="true" />
              </fragment>
              <div class="btn-main" v-if="!lastPage">
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  @click="getMore"
                  color="#000"
                  class="btn"
                  style="text-transform: capitalize"
                  >View More</v-btn
                >
              </div>
            </div>
          </div>

          <div v-else>
            <div class="bx" v-if="courseList.length > 0">
              <div class :class="{ listView: listView }">
                <div v-for="(item, index) in courseList" :key="index">
                  <CourseListItem :course="item" />
                </div>
              </div>
              <div class="btn-main" v-if="!lastPage">
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  @click="getMore"
                  color="#000"
                  class="btn"
                  style="text-transform: capitalize"
                  >View More</v-btn
                >
              </div>
            </div>

            <div v-else class="emptyCourses bx">
              <p>No data available</p>
            </div>
          </div>
        </div>
      </div>
    </v-container>

    <!-- <v-container>
        <div class="course_list">

          
        </div>
    </v-container> -->
    <!-- </div> -->
    <div>
      <Footer />
    </div>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import CourseListItem from "../components/CourseListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
import PreLoader from "../components/PreLoader";
import Footer from "../components/Footer";
import Header from "../components/Header";

export default {
  name: "Schools",
  components: {
    AdvertisementSidebar,
    CourseListItem,
    Loader,
    CourseFilters,
    PreLoader,
    ListItem,
    Header,
    Footer,
  },

  data() {
    return {
      selected: [],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      loader: false,
      courseLoading: true,
per_page: 20,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
      courseList: [],
      payload: {
        per_page: 20,
        page_no: 1,
        filter:""
      },
      // preloader:true
    };
  },
  mounted() {
    this.getSchoolList();
    setTimeout(() => {
      this.preloader = false;
    }, 3000);
  },
  methods: {
    async getSchoolList() {
      this.loader = true;
      this.courseLoading = true;
      let res = await this.$axios.post(
        "/CustomerApi/school_list",
        this.payload
      );
      console.log(res);
      if (res.data.result === 1) {
        this.loader = false;
        this.courseList = res.data.data;
        this.total = res.data.total;
        this.courseLoading = false;
      } else {
        this.loader = false;
        this.courseLoading = false;
      }
      if (res.data.last_page === 1) {
        this.loader = false;
        this.lastPage = true;
      } else {
        this.loader = false;
      }
    },
    async getMore() {
      let data = this.courseList;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("/CustomerApi/school_list", {
        user_id: this.user_id,
        per_page: this.per_page,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
  // computed: {
  //   getCourses() {
  //     return this.$store.state.courses.courses;
  //   },
  // },
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
.desk {
  top: 10px;
}
.sidenav {
  float: left;
  width: 18%;
  display: grid;
  /* grid-template-columns: 18% auto 21%; */
  grid-gap: 1.5em;
  grid-template-columns: 18% auto;
}
.mainbody {
  float: left;
  width: auto;
  display: grid;
  /* grid-template-columns: 18% auto 21%;
  grid-gap: 1.5em; */
  grid-template-columns: auto;
}
.scrollable{
height: 1200px; 
overflow-y: scroll
}
.scrollable::-webkit-scrollbar {
    display: none;
}
.scrollable{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
</style>
