<template>
    <div class="fadein">
        <div class="inner-banner" style="background-image: url(https://exreed.com/backend/uploads/course/1599216573.jpeg);">

            <v-container>
                <!-- <div class="breadcrumb">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">Vendor Profile </a></li>
    
                    </ul>
                </div> -->
            </v-container>
        </div>
        <div class="vendorProfile">
            <v-container>
                <v-row>
                    <v-col md="9" sm="12" xs="12">
                        <section class="">
                            <div class="boxCard">
                                <v-row>
                                    <v-col md="6" sm="12" xs="12">
                                        <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="" />
                                        <span>
                                            <h3 class="head2">John Wick</h3>
                                            <p>
                                                <small>Verified<svg class="svg-icon" viewBox="0 0 20 20">
                                                        <path
                                                            d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                        </path>
                                                    </svg></small>
                                                <span class="rated">
                                                    <i class="fa fa-star fa-fw"></i> 4.0
                                                </span>
                                            </p>
                                            <div class="social">
                                                <a href="" class="fa fa-facebook"></a>
                                                <a href="" class="fa fa-twitter"></a>
                                                <a href="" class="fa fa-google-plus"></a>
                                                <a href="" class="fa fa-linkedin"></a>
                                            </div>
                                        </span>
                                    </v-col>
                                    <v-col md="6" sm="12" xs="12">
                                        <h4 class="lightHead">500+ Online Courses <span style="    float: right;
                                            position: absolute;
                                            top: 60px;
                                            right: 0;" class="likes">
                                                <span style="color: #000;"><i class="fa fa-heart"
                                                        aria-hidden="true"></i>
                                                    30</span>
                                                <span style="color: #000;"><i class="fa fa-rss" aria-hidden="true"></i>
                                                    50</span>
                                                </span>
                                        </h4>
                                        <article>
                                            <div>
                                                <b>Email</b>
                                                <p>john_wick@mail.com</p>
                                            </div>
                                            <div>
                                                <b>Phone</b>
                                                <p>7894561230  |  033-1234-0123</p>
                                            </div>
                                            <div>
                                                <b>Website</b>
                                                <p>john_wick@mail.com</p>
                                            </div>
                                        </article>

                                    </v-col>
                                </v-row>
                            </div>
                        </section>
                        <section class="profileContent">
                            <div class="bx">
                                
                                    <!-- <v-row>
                                    <ul class="nav nav-tabs tabs" id="tab-scroll">
                                        <li class="active"><a data-toggle="tab" href="#home">Overview </a></li>
                                        <li><a data-toggle="tab" href="#placement">Placements</a></li>
                                        <li><a data-toggle="tab" href="#gallery">Gallery</a></li>
                                        <li><a data-toggle="tab" href="#trainer">Trainers</a></li>
                                        <li><a data-toggle="tab" href="#facilities">Facilities</a></li>
                                        <li><a data-toggle="tab" href="#job">Jobs</a></li>
                                        <li><a data-toggle="tab" href="#service">Services</a></li>
                                        <li><a data-toggle="tab" href="#Course">Courses</a></li>
                                        <li><a data-toggle="tab" href="#product">Products</a></li>
                                        <li><a data-toggle="tab" href="#solution">Solution</a></li>
                                        
                                    </ul>

                                </v-row>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="panel">
                                            <h3 class="head2">About Us </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugit
                                                impedit
                                                temporibus sapiente tempora expedita similique doloribus itaque
                                                dicta
                                                possimus
                                                quasi distinctio veritatis, sunt quam aliquam iste facilis enim
                                                perspiciatis.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nihil
                                                ipsam
                                                aliquid
                                                quos reprehenderit reiciendis debitis mollitia quia quisquam ipsa
                                                nesciunt
                                                excepturi illum deserunt nemo numquam neque perferendis, delectus
                                                rem?
                                            </p>
                                            <a href="">Read more</a>
                                            <hr>
                                            <h3 class="head2">Addresses</h3>
                                            <div class="row addresses">
                                                 <v-col md="6">
                                                    <article>
                                                        <span>
                                                            Street Number 615, Action Area II,
                                                            New Town, West Bengal 700135,
                                                            India, New Town
                                                        </span>
                                                        <em><img src="img/map.PNG" alt=""></em>
                                                    </article>
                                                </v-col>
                                                 <v-col md="6">
                                                    <article>
                                                        <span>
                                                            Street Number 615, Action Area II,
                                                            New Town, West Bengal 700135,
                                                            India, New Town
                                                        </span>
                                                        <em><img src="img/map.PNG" alt=""></em>
                                                    </article>
                                                </v-col>
                                                 <v-col md="6">
                                                    <article>
                                                        <span>
                                                            Street Number 615, Action Area II,
                                                            New Town, West Bengal 700135,
                                                            India, New Town
                                                        </span>
                                                        <em><img src="img/map.PNG" alt=""></em>
                                                    </article>
                                                </v-col>
                                            </div>
                                            


                                        </div>
                                    </div>
                                    <div id="placement" class="tab-pane fade">
                                        <div class="panel">
                                            <h4 class="small-title">No Placements </h4>
                                            
                                        </div>

                                    </div>
                                    <div id="gallery" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="head2">Gallery</h3>
                                            <div class="row">
                                                <v-col md="2">
                                                    <img src="img/vd1.jpg" alt="">
                                                </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd2.jpg" alt="">
                                                </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd3.jpg" alt="">
                                                 </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd4.jpg" alt="">
                                                 </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd1.jpg" alt="">
                                                 </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd2.jpg" alt="">
                                                </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd3.jpg" alt="">
                                                 </v-col>
                                                 <v-col md="2">
                                                    <img src="img/vd4.jpg" alt="">
                                                </v-col>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="trainer" class="tab-pane fade">
                                        <div class="panel">
                                            <h4 class="small-title">Our Trainers </h4>
                                            <div class="row">




                                                <v-col md="3">
                                                    <div class="box">
                                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>John Doe</h4>
                                                            <p> JAVA</p>
                                                            <ul class="social">
                                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </li>
                                                            </ul>
                                                        </article>
                                                    </div>
                                                </v-col>
                                                <v-col md="3">
                                                    <div class="box">
                                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Marry Kom</h4>
                                                            <p> HTML</p>
                                                            <ul class="social">
                                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </li>
                                                            </ul>

                                                        </article>
                                                    </div>
                                                </v-col>
                                                <v-col md="3">
                                                    <div class="box">
                                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Lorry Ben</h4>
                                                            <p> Javascript</p>
                                                            <ul class="social">
                                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </li>
                                                            </ul>
                                                        </article>
                                                    </div>
                                                </v-col>
                                                <v-col md="3">
                                                    <div class="box">
                                                        <img src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Herry Len</h4>
                                                            <p> PHP</p>
                                                            <ul class="social">
                                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </li>
                                                            </ul>

                                                        </article>
                                                    </div>
                                                </v-col>



                                            </div>
                                        </div>


                                    </div>
                                    <div id="facilities" class="tab-pane fade">

                                        <div class="panel">
                                            <h3 class="small-title">Facilities</h3>
                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg>
                                                <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                    Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                    voluptatibus officia at provident rem minus ducimus ut iste
                                                    voluptate similique totam. Eius?
                                                </span> </p>
                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg>
                                                <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                    Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                    voluptatibus officia at provident rem minus ducimus ut iste
                                                    voluptate similique totam. Eius?
                                                </span> </p>

                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg>
                                                <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                    Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                    voluptatibus officia at provident rem minus ducimus ut iste
                                                    voluptate similique totam. Eius?
                                                </span> </p>


                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg>
                                                <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                    Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                    voluptatibus officia at provident rem minus ducimus ut iste
                                                    voluptate similique totam. Eius?
                                                </span>
                                            </p>



                                        </div>
                                    </div>
                                    <div id="job" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title"> No Jobs</h3>
                                        </div>
                                    </div>
                                    <div id="service" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">Services</h3>
                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                voluptatibus officia at provident rem minus ducimus ut iste
                                                voluptate similique totam. Eius?</p>
                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                voluptatibus officia at provident rem minus ducimus ut iste
                                                voluptate similique totam. Eius?</p>

                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                voluptatibus officia at provident rem minus ducimus ut iste
                                                voluptate similique totam. Eius?</p>


                                            <p><svg class="svg-icon" viewBox="0 0 20 20">
                                                    <path
                                                        d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z">
                                                    </path>
                                                </svg> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                                Nulla unde, impedit quidem iusto, alias fuga hic voluptas
                                                voluptatibus officia at provident rem minus ducimus ut iste
                                                voluptate similique totam. Eius?</p>



                                        </div>

                                    </div>
                                    <div id="Course" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">Courses</h3>
                                            <div class="row">
                                                <v-col md="4">
                                                    <a href="course-detail.html" class="box">
                                                        <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Photography</h4>
                                                            <p>By Filmmake Media</p>
                                                            <h6><i class="fa fa-inr"></i>750.00</h6>
                                                            <div class="art-info">
                                                                <span class="left"><i class="fa fa-star"></i>
                                                                    4.1</span>
                                                                <span class="right"><i class="fa fa-clock-o"
                                                                        aria-hidden="true"></i> 74 Hours</span>
                                                            </div>
                                                        </article>
                                                    </a>
                                                </v-col>
                                                <v-col md="4">
                                                    <a href="course-detail.html" class="box">
                                                        <img src="https://images.financialexpress.com/2019/05/cats-1182.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Jewellery Design</h4>
                                                            <p>By Object'D Art</p>
                                                            <h6><i class="fa fa-inr"></i>600.00</h6>
                                                            <div class="art-info">
                                                                <span class="left"><i class="fa fa-star"></i>
                                                                    4.1</span>
                                                                <span class="right"><i class="fa fa-clock-o"
                                                                        aria-hidden="true"></i> 74 Hours</span>
                                                            </div>
                                                        </article>
                                                    </a>
                                                </v-col>
                                                <v-col md="4">
                                                    <a href="course-detail.html" class="box">
                                                        <img src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Music</h4>
                                                            <p>By Elite Singing Techniques</p>
                                                            <h6><i class="fa fa-inr"></i>650.00</h6>
                                                            <div class="art-info">
                                                                <span class="left"><i class="fa fa-star"></i>
                                                                    4.1</span>
                                                                <span class="right"><i class="fa fa-clock-o"
                                                                        aria-hidden="true"></i> 74 Hours</span>
                                                            </div>
                                                        </article>
                                                    </a>
                                                </v-col>
                                                <v-col md="4">
                                                    <a href="course-detail.html" class="box">
                                                        <img src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                                                            alt="">
                                                        <article>
                                                            <h4>Music</h4>
                                                            <p>By Elite Singing Techniques</p>
                                                            <h6><i class="fa fa-inr"></i>650.00</h6>
                                                            <div class="art-info">
                                                                <span class="left"><i class="fa fa-star"></i>
                                                                    4.1</span>
                                                                <span class="right"><i class="fa fa-clock-o"
                                                                        aria-hidden="true"></i> 74 Hours</span>
                                                            </div>
                                                        </article>
                                                    </a>
                                                </v-col>



                                            </div>

                                        </div>

                                    </div>
                                    <div id="product" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">No Data</h3>
                                        </div>
                                    </div>
                                    <div id="solution" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">No Data</h3>
                                        </div>
                                    </div>
                                    <div id="research" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">No Data</h3>
                                        </div>
                                    </div>
                                    <div id="development" class="tab-pane fade">
                                        <div class="panel">
                                            <h3 class="small-title">No Data</h3>
                                        </div>
                                    </div>
                                </div> -->
                           
                           <v-tabs background-color="#FAFAFB" color="black">
      <v-tab>Overview</v-tab>
      <v-tab>Gallery</v-tab>
      <v-tab>Staff(OR)Facilities</v-tab>
      <v-tab>Jobs</v-tab>
      <v-tab>News</v-tab>
      <v-tab>Courses</v-tab>
      <v-tab>Reviews</v-tab>
      <v-tab-item>
        <div id="Overview" style="padding: 20px">
         <h3 class="head2">About Us </h3>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugit
                                                impedit
                                                temporibus sapiente tempora expedita similique doloribus itaque
                                                dicta
                                                possimus
                                                quasi distinctio veritatis, sunt quam aliquam iste facilis enim
                                                perspiciatis.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nihil
                                                ipsam
                                                aliquid
                                                quos reprehenderit reiciendis debitis mollitia quia quisquam ipsa
                                                nesciunt
                                                excepturi illum deserunt nemo numquam neque perferendis, delectus
                                                rem?
                                            </p>
                                            <a href="">Read more</a>
                                            <hr>
                                            <h3 class="head2" style="margin-bottom: 26px;">Address & Timing</h3>
                                            <v-tabs>
                                                <v-tab>Mumbai</v-tab>
                                                <v-tab>Hyderabad</v-tab>
                                                <v-tab>Bangalore</v-tab>
                                                <v-tab>Chennai</v-tab>
                                                <v-tab>Kanpur</v-tab>
                                            
                                            <v-tab-item>
                                                <div id="time" style="padding: 20px">
                                                    <v-row>
                                                    <v-col mb="4">
                                                        <h4>Timing</h4>

                                                    </v-col>
                                                </v-row>
                                                </div>
                                            </v-tab-item>
                                            </v-tabs>

          <div v-if="loader">
            <div
              class=""
              style="
                display: flex;
                background: #fff;
                float: left;
                width: 100%;
                padding: 25px;
                border-radius: 7px;
                position: relative;
                margin-bottom: 15px;
                z-index: 10;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
              "
            >
              <!-- <Loader /> -->
              <v-row>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
                <v-col mb="4" lg="4" sm="12">
                  <v-skeleton-loader
                    style="width: 100%"
                    class="mx-auto"
                    max-height="500"
                    type="card"
                  ></v-skeleton-loader>
                </v-col>
              </v-row>
            </div>
          </div>
          <div class="row" v-else>
            <div v-for="(l, i) in data" :key="i" class="col-md-4">
              <div class="box">
                <img :src="l.image" alt />
                <article>
                  <h4>{{ l.name }}</h4>
                  <p>By {{ l.training_institute }}</p>

                  <div class="art-info">
                    <h6>
                      <router-link
                        :to="`/customer/courses/${l.name.replace(/\s/g, '-')}/${
                          l.course_id
                        }`"
                        >Start Course</router-link
                      >
                    </h6>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="gallery" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="staff" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="jobs" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="news" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="course" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
      <v-tab-item>
        <div id="review" style="padding: 20px">
          <h3 class="small-title">No Data</h3>
        </div>
      </v-tab-item>
    </v-tabs>
                           
                            </div>
                        </section>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    </div>
    
</template>

<script>
export default {
  name: "EnrolledCourses",
  props: ["data", "loader"],
  data() {
    return {};
  },
};
</script>