<template>
  <div>
    <section class="login">
      <v-row>
        <v-col md="6" xs="12" sm="12">
          <div
            class="log-banner"
            :style="{ backgroundImage: `url(${loginBg})` }"
          >
            <article>
              <h2>Welcome to</h2>
              <h1>EXREED.COM</h1>
              <h4>Register as User</h4>
            </article>
          </div>
        </v-col>
        <v-col md="6" xs="12" sm="12">
          <div class="form">
            <v-form
              v-if="!otpForm"
              v-model="valid"
              @submit.prevent="signUp"
              id="check-form"
            >
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <div class="form-group">
                <label for>Name</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="signupPayload.name"
                    :rules="[(v) => !!v || 'Company name is required']"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group">
                <label for>Mobile/ Landline</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="signupPayload.mobile_no"
                    :rules="phoneRules"
                    required
                    @keypress="onlyNumbers"
                    maxlength="10"
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group">
                <label for>Email Id</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="signupPayload.email"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group">
                <label for>Password</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="signupPayload.password"
                    :rules="passwordRules"
                    :type="show1 ? 'text' : 'password'"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show1 = !show1"
                    required
                  ></v-text-field>
                </div>
              </div>
              <br />
              <div class="form-group">
                <label for>Confirm Password</label>
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="rePassword"
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :rules="repass"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div v-if="error" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ errorMessage }}
                </v-alert>
              </div>
              <div class="form-group fadein" v-if="success">
                <div class="row">
                  <v-alert text type="success" align="left">
                    OTP has been sent to your phone number.
                  </v-alert>
                </div>
              </div>
              <v-btn
                rounded
                dark
                :disabled="loading2"
                :loading="loading2"
                color="grey darken-4"
                type="submit"
              >Sign up
              </v-btn>
              <router-link to="/corporate/login" class="forget"
                >Already Registered? <b> Please Login </b> </router-link
              >
              <a @click="$router.go(-1)" class="backTo" to="/">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="#000000"
                    d="M0.646 10.146l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.146 5.146h16.293c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-16.293l5.146 5.146c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146s-0.256-0.049-0.354-0.146l-6-6c-0.195-0.195-0.195-0.512 0-0.707z"
                  />
                </svg>
                <small>Go back</small>
              </a>
            </v-form>
            <v-form
              v-if="otpForm"
              v-model="valid"
              @submit.prevent="sumitOtp"
              id="otp"
            >
              <router-link to="/">
                <img src="../assets/img/logo.png" alt />
              </router-link>
              <h3>Enter OTP</h3>
              <div class="form-group">
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="otp"
                    :rules="[(v) => !!v || 'OTP is required']"
                    :type="show1 ? 'text' : 'password'"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show1 = !show1"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group fadein" v-if="confirmed">
                <div class="row">
                  <v-alert text type="success" align="left">
                    Your phone number has been verified!
                    <!-- <router-link
                      to="/login"
                      style="color: green; padding-left: 10px"
                      >Sign in</router-link
                    > -->
                  </v-alert>
                </div>
              </div>
              <div class="form-group fadein" v-if="wrongOtp">
                <div class="row">
                  <v-alert align="left" text type="warning">
                    Wrong OTP!
                  </v-alert>
                </div>
              </div>

              <v-btn
                :disabled="loading2"
                :loading="loading2"
                color="grey darken-4"
                rounded
                dark
                type="submit"
              ><span style="color: #fff"> Submit OTP</span>
              </v-btn>
              <p style="margin-top: 10px">
                <small style="color: #acacac"
                  >An OTP has been sent to your phone number.</small
                >
              </p>
            </v-form>
          </div>
        </v-col>
      </v-row>
    </section>
  </div>
</template>

<script>
import loginBg from "../assets/img/camera.jpg";
export default {
  name: "For_customer_sign_up",
  data() {
    return {
      loginBg,
      valid: false,
      loading2: false,
      show1: false,
      show2: false,
      error: false,
      errorMessage: "",
      success: false,
      otpForm: false,
      otp: "",
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,16}$/.test(v) ||
          "Password must be at least of 8 characters containing at least one number and one special character",
      ],
      phoneRules: [
        (v) => !!v || "Phone number is required",
        (v) => (v && v.length >= 10) || "Invalid",
      ],
      repass: [
        (v) => !!v || "Re-enter password",
        (v) =>
          this.signupPayload.password === this.rePassword ||
          "Password must match",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
      rePassword: "",
      corporate_type: "",
      signupPayload: {
        name: "",
        corporate_type: "Customer",
        email: "",
        mobile_no: "",
        password: "",
      },
      wrongOtp: false,
      confirmed: false,
    };
  },
  methods: {
    async signUp() {
      this.loading2 = true;
      const response = await this.$axios.$post("CustomerApi/get_OTP", {
        mobile_no: this.signupPayload.mobile_no,
      });
      console.log(response);
      if (response.result === 0) {
        this.loading2 = false;
        this.otpForm = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = response.message;
      } else if (response.result === 1) {
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        setTimeout(() => (this.otpForm = true), 2000);
        
        this.error = false;
        this.errorMessage = "";
      }
      localStorage.setItem("OTP", response.otp);
    },
    async sumitOtp() {
      this.loading2 = true;
      this.confirmed = false;
      this.wrongOtp = false;
      if (this.otp === localStorage.getItem("OTP")) {
        this.confirmed = true;
        this.wrongOtp = false;
        const response = await this.$axios.$post(
          "CustomerApi/registration",
          this.signupPayload
        );
        if (response.result === 0) {
          this.loading2 = false;
          this.otpForm = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = response.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (response.result === 1) {
          // this.success = true;
          this.valid = true;
          setTimeout(() => {this.success = true
          this.loading2 = false}, 2000);
          
          this.error = false;
          this.errorMessage = "";
          setTimeout(() => this.$router.push("/login"), 3500);
        }
      } else {
        this.wrongOtp = true;
        this.confirmed = false;
        setTimeout(() => {
          this.wrongOtp = false;
        }, 2000);
      }
    },
    // // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
  },
  computed: {
    passwordConfirmationRule() {
      return () =>
        this.signupPayload.password === this.rePassword ||
        "Password must match";
    },
  },
  watch: {},
};
</script>

<style>
.login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}

.login .col-md-6 {
  padding-left: 0 !important;
}

.form div {
  box-shadow: none !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .v-messages__message {
  color: #ed1d25;
}

.form .v-text-field__details {
  padding: 0 !important;
}
</style>
