<template>
  <div class="fadein">
   
    <div class="vendorProfile blog-detail">
      
      <div class="container">
       
          <div class="col-md-12">
             <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>Testimonials</a>
            </li>
           
          </ul>
        </div>
        </div>
        <div class="bx">
           <div class="testi" v-for="testimonial in alltestimonials" :key="testimonial.id">
                <div class="col-md-10" >
                  
                <p>
                  {{testimonial.info}}
                    <!-- "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente" -->

                </p>
            </div>
            <div class="col-md-2">
                <img src="testimonial.image" alt="">
            </div>
            <div class="col-md-10">
                <h5>{{testimonial.name}}</h5>
                <h6>Founding Partner</h6>
                <span>Exact Drive</span>
            </div>
            <div class="col-md-2">
                <div class="stars">
                   <v-rating
                         color="warning"
                         hover
                         length="5"
                         readonly
                        size="14"
                         :value="testimonial.rating"
                         ></v-rating>
                  <!-- <i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i> -->
                  </div>
            </div>
           </div>
           <!-- <div class="testi">
             <div class="row">
              <div class="col-md-2">
                <img src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
            </div>
                <div class="col-md-10">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente"

                </p>
            </div>
            <div class="col-md-2">
                <div class="stars"><i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i></div>
            </div>
            <div class="col-md-10">
                <article style="float:right">
                  <h5>MARK COLGAN</h5>
                <h6>Digital Marketing Manager</h6>
                <span>The Local Data Company</span>
                </article>
            </div>
             </div> 
           
           </div>
           <div class="testi">
                <div class="col-md-10">
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente
                    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, dolorum? Quas repudiandae repellendus eaque minima voluptatem excepturi aperiam rem placeat sapiente. Enim incidunt quibusdam sunt id, possimus natus sit sapiente"

                </p>
            </div>
            <div class="col-md-2">
                <img src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt="">
            </div>
            <div class="col-md-10">
                <h5>TIM NICHOLS</h5>
                <h6>Founding Partner</h6>
                <span>Exact Drive</span>
            </div>
            <div class="col-md-2">
                <div class="stars"><i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i> <i class="ion-android-star"></i></div>
            </div>
           </div> -->
        </div>
      </div>
    </div>
  </div>
        </template>

        <script>
          import {mapGetters} from 'vuex';
          export default{
            computed: {
              ...mapGetters(["alltestimonials"])
            }
            

          }
          </script>