<template>
  <div class="fadein">
    <div class="career-page">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Institutes</a>
            </li>
          </ul>
        </div>
        <div class="inner-title">
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <h1 class="small-title">
                All Institutes
                <fragment v-if="total">({{ total }})</fragment>
              </h1>
            </v-col>
            <v-col md="6" xs="12" sm="12">
              <ul>
                <li>
                  <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
                </li>
                <li>
                  <a
                    @click="listViewFalse"
                    :class="{ listViewFalse: listViewfalse }"
                  >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a @click="listViewTrue" :class="{ listView: listView }">
                    <i
                      class="fa fa-list"
                      aria-hidden="true"
                      style="color: #000"
                    ></i>
                  </a>
                </li>
                <li class="responsive">
                  <a @click="sheet = !sheet">
                    <i style="font-size: 25px" class="ion-levels"></i>
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </div>
        <div class>
          <div class="inner-career course_list">
            <div class>
              <div class="sidebar-menu checkbox bx">
                <div class="responsive">
                  <v-bottom-sheet v-model="sheet">
                    <v-sheet v-model="sheet">
                      <v-container>
                        <div class="text-center" style="margin-top: 10px;">
                          <v-btn
                            fab
                            small
                            @click="sheet = false"
                            class="close-btn"
                            >X</v-btn
                          >
                        </div>
                        <CourseFilters :training="true" />
                      </v-container>
                    </v-sheet>
                  </v-bottom-sheet>
                </div>
                <div class="desk">
                  <h4 class="head2">Filters</h4>
                  <CourseFilters :training="true" />
                </div>
              </div>
            </div>
            <div class>
              <div>
                <div v-if="loader">
                  <Loader />
                </div>
              </div>
              <div class="bx listContainer" v-if="institute.length > 0">
                <div :class="{ listView: listView }">
                  <fragment v-for="(item, index) in institute" :key="index">
                    <ListItem :data="item" :training="true" />
                  </fragment>
                </div>
                <div class="btn-main" v-if="!lastPage">
                  <v-btn
                    :loading="instituteLoading"
                    :disabled="instituteLoading"
                    @click="getMore"
                    color="#000"
                    class="btn"
                    style="text-transform: capitalize"
                    >View More</v-btn
                  >
                </div>
                <!-- <div class="btn-main">
                  <v-btn
                    :loading="instituteLoading"
                    :disabled="instituteLoading"
                    @click="getLess(institute)"
                    color="#000"
                    class="btn"
                    style="text-transform: capitalize"
                    >View Less</v-btn
                  >
                </div> -->
              </div>

              <div v-else>
                <div class="bx" v-if="institute.length > 0">
                  <div class :class="{ listView: listView }">
                    <div v-for="(item, index) in institute" :key="index">
                      <InstituteListItem :institute="item" />
                    </div>
                  </div>
                  <div class="btn-main" v-if="!lastPage">
                    <v-btn
                      :loading="instituteLoading"
                      :disabled="instituteLoading"
                      @click="getMore"
                      color="#000"
                      class="btn"
                      style="text-transform: capitalize"
                      >View More</v-btn
                    >
                  </div>
                  <div class="btn-main">
                    <v-btn
                      :loading="instituteLoading"
                      :disabled="instituteLoading"
                      @click="getLess(institute)"
                      color="#000"
                      class="btn"
                      style="text-transform: capitalize"
                      >View Less</v-btn
                    >
                  </div>
                </div>
                <div v-else class="emptyCourses bx">
                  <p>No institute available</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import InstituteListItem from "../components/InstituteListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
export default {
  name: "institute",
  components: {
    AdvertisementSidebar,
    InstituteListItem,
    Loader,
    CourseFilters,
    ListItem,
  },
  data() {
    return {
      selected: [],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      loader: false,
      instituteLoading: true,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
      institute: [],
    };
  },
  mounted() {
    this.getInstituteList();
  },
  methods: {
    async getInstituteList() {
      this.loader = true;
      this.instituteLoading = true;

      let res = await this.$axios.post("CustomerApi/training_institute_list", {
        per_page: 20,
        page_no: this.pageNo,
      });
      console.log("m1", res.data.data);
      if (res.data.result === 1) {
        this.loader = false;
        this.institute = res.data.data;
        this.total = res.data.total;
        this.instituteLoading = false;
      } else {
        this.loader = false;
        this.instituteLoading = false;
      }
      if (res.data.last_page === 1) {
        this.loader = false;
        this.lastPage = true;
      } else {
        this.loader = false;
      }
    },
    async getMore() {
      let data = this.institute;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("CustomerApi/training_institute_list", {
        user_id: this.user_id,
        per_page: 8,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.institute = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    getLess(institute) {
      this.loading = true;
      console.log("before", institute.length);
      // this.institute.splice(this.institute.indexOf(institute) , 1);
      this.institute.splice(institute, 3);
      // let deleted = this.institute.splice(data, 1);
      //   console.log("deleted", deleted)
      console.log("after splice", institute.length);
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
</style>
