<template>
  <div class="fadein">
    <div class="career-page">
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Walk-in jobs</a>
            </li>
          </ul>
        </div>
        <div class="inner-title">
          <v-row>
            <v-col md="6" sm="12" xs="12">
              <h1 class="small-title">
                All Walkin Jobs
                <fragment v-if="total">({{ total }})</fragment>
              </h1>
            </v-col>
            <v-col md="6" xs="12" sm="12">
              <ul>
                <li>
                  <!-- <select class="form-control">
                    <option value="Currency">Currency</option>
                    <option value>USD</option>
                    <option value>Rupees</option>
                  </select> -->
                </li>
                <li>
                  <a
                    @click="listViewFalse"
                    :class="{ listViewFalse: listViewfalse }"
                  >
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a @click="listViewTrue" :class="{ listView: listView }">
                    <i
                      class="fa fa-list"
                      aria-hidden="true"
                      style="color: #000"
                    ></i>
                  </a>
                </li>
                <li class="responsive">
                  <a @click="sheet = !sheet">
                    <i style="font-size: 25px" class="ion-levels"></i>
                  </a>
                </li>
              </ul>
            </v-col>
          </v-row>
        </div>
        <div class>
          <div class="inner-career course_list">
            <div class>
             <div class="sidebar-menu checkbox bx">
                 <div class="responsive">
                  <v-bottom-sheet v-model="sheet">
                    <v-sheet v-model="sheet">
                      <v-container>
                        <div class="text-center" style="margin-top: 10px;">
                          <v-btn fab
      small @click="sheet = false" class="close-btn">X</v-btn>
                        </div>
                        <CourseFilters :jobs='true'/>
                      </v-container>
                    </v-sheet>
                  </v-bottom-sheet>
                </div>
                 <div class="desk" >
                  <h4 class="head2">Filters</h4>
                  <CourseFilters :jobs='true'/>
                </div>
              </div>
              <div class="desk">
                <div class="bx grey-box walk-in">
                  <v-expansion-panels>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <nuxt-link to="/walkin">walk-ins</nuxt-link>
                      </v-expansion-panel-header>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </div>
              </div>
            </div>
            <div class>
              <!-- <div class="bx" v-if="getCourses.length > 0">
                            <div class :class="{'listView': listView}">

                                <div v-for='(l, index) in getCourses' :key='index'>
                                    <CourseListItem :course='l'/>
                                </div>
                            </div>
                            <div class="btn-main">
                                <a href="#" class="btn">View More</a>
                            </div>

                        </div> -->

              
              <!-- <div class="bx" style="">
                <div>
                  <fragment v-for='(school, i) in  Companies' :key='i'>
                    <ListItem :data="school" :walkin="true"/>
                  </fragment>
                </div>
                

              </div> -->
               <div class="bx listContainer" v-if="getCourses.length > 0">
              <div :class="{ listView: listView }">
                <fragment v-for="(school, i) in Companies" :key="i">
                  <ListItem :data="school" :walkin="true" />
                </fragment>
              </div>
             <div class="btn-main">
                  <button
                    type="button"
                    class="btn v-btn v-btn--contained theme--light v-size--default"
                    style="
                      background-color: rgb(0, 0, 0);
                      border-color: rgb(0, 0, 0);
                      text-transform: capitalize;
                    "
                  >
                    <span class="v-btn__content">View More</span>
                  </button>
                </div>
            </div>
              
            </div>
            <!-- <div class="course-ft">
              <div class="bx">
              
                <a class="box box-new">
                  <img
                    src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                    alt
                  />
                  <div class="prom-tag">promoted</div>
                  <article>
                    <h4> Graphic Design</h4>
                    <p>Rank Right PVT Ltd</p>
                   <p>HYD,Telangana</p>
                   <p>₹ 3000-5000 P.A</p>
                 <small><i class="ion-briefcase"></i> 0-2 years</small>
                  </article>
                </a>
                <a class="box box-new">
                  <img
                    src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                    alt
                  />
                  <div class="prom-tag">Newly Added</div>
                  <article>
                    <h4> Graphic Design</h4>
                    <p>Rank Right PVT Ltd</p>
                   <p>HYD,Telangana</p>
                   <p>₹ 3000-5000 P.A</p>
                 <small><i class="ion-briefcase"></i> 0-2 years</small>
                  </article>
                </a>
                <a class="box box-new">
                  <img
                    src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                    alt
                  />
                  <div class="prom-tag">Exclusive</div>
                 <article>
                    <h4> Graphic Design</h4>
                    <p>Rank Right PVT Ltd</p>
                   <p>HYD,Telangana</p>
                   <p>₹ 3000-5000 P.A</p>
                 <small><i class="ion-briefcase"></i> 0-2 years</small>
                  </article>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import AdvertisementSidebar from "../components/AdvertisementSidebar";
import CourseListItem from "../components/CourseListItem";
import CourseFilters from "../components/CourseFilters";
import ListItem from "../components/ListItem";
import Loader from "../components/Loader";
export default {
  name: "Companies",
  components: {
    AdvertisementSidebar,
    CourseListItem,
    Loader,
    CourseFilters,
    ListItem,
  },
  data() {
    return {
      selected: ["John"],
      listView: false,
      sheet: false,
      listViewfalse: true,
      ex4: "",
      courseList: [],
      courseLoading: true,
      pageNo: 1,
      loading: false,
      lastPage: false,
      total: "",
      Companies: [
        {
          id: 1,
          name: "Graphic Designer",
          image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
          company: 'Rank right PVT Ltd',
          salary: '3000-5000',
          experience: '0-2 Years',
        
        },
        {
          id: 2,
          name: "Graphic Designer",
          image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
          company: 'Rank right PVT Ltd',
          salary: '3000-5000',
          experience: '0-2 Years', 
        },
        {
          id: 3,
          name: "Graphic Designer",
          image: 'https://exreed.com/backend/uploads/course/1599216573.jpeg',
          company: 'Rank right PVT Ltd',
          salary: '3000-5000',
          company: 'Covalent Technology',
        
          experience: '0-2 Years',
         
        },
      ],
    };
  },
  mounted() {
    this.getCourseList();
  },
  methods: {
    async getCourseList() {
      this.courseLoading = true;
      let res = await this.$axios.post("CustomerApi/course_list", {
        per_page: 6,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = res.data.data;
        this.total = res.data.total;
        this.courseLoading = false;
      } else {
        this.courseLoading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    async getMore() {
      let data = this.courseList;
      this.loading = true;
      this.pageNo++;
      let res = await this.$axios.post("CustomerApi/course_list", {
        user_id: this.user_id,
        per_page: 6,
        page_no: this.pageNo,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courseList = [...data, ...res.data.data];
        this.loading = false;
      } else {
        this.loading = false;
      }
      if (res.data.last_page === 1) {
        this.lastPage = true;
      } else {
      }
    },
    listViewTrue() {
      this.listView = true;
      this.listViewfalse = false;
    },
    listViewFalse() {
      this.listView = false;
      this.listViewfalse = true;
    },
  },
  computed: {
    getCourses() {
      return this.$store.state.courses.courses;
    },
  },
};
</script>

<style>
.emptyCourses {
  min-height: 20vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.emptyCourses p {
  text-align: center;
  margin-bottom: 0;
}
</style>
