<template>
  <fragment>
    <div class="latest-blog section">
      <v-container>
        <h1 class="head1">latest blog posts</h1>

        <v-row>
          <v-col md="6" xs="12" sm="12">
            <a href="/All_Blog_Details" class="panel">
              <img
                src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg"
                alt
              />

              <article>
                <span>13Feb,2020</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <small>-Harry hoe</small>

                <ul>
                  <li><i class="fa fa-heart"></i> 5</li>

                  <li><i class="fa fa-users"></i> 57</li>
                </ul>
              </article>
            </a>
          </v-col>

          <v-col md="6" xs="12" sm="12">
            <a href="/All_Blog_Details" class="panel">
              <img
                src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg"
                alt
              />

              <article>
                <span>13Feb,2020</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <small>-Harry hoe</small>

                <ul>
                  <li><i class="fa fa-heart"></i> 5</li>

                  <li><i class="fa fa-users"></i> 57</li>
                </ul>
              </article>
            </a>
          </v-col>

          <v-col md="6" xs="12" sm="12">
            <a href="/All_Blog_Details" class="panel">
              <img
                src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg"
                alt
              />

              <article>
                <span>13Feb,2020</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <small>-Harry hoe</small>

                <ul>
                  <li><i class="fa fa-heart"></i> 5</li>

                  <li><i class="fa fa-users"></i> 57</li>
                </ul>
              </article>
            </a>
          </v-col>

          <v-col md="6" xs="12" sm="12">
            <a href="/All_Blog_Details" class="panel">
              <img
                src="https://blog.hubspot.com/hubfs/guide-sales-marketing.jpg"
                alt
              />

              <article>
                <span>13Feb,2020</span>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                <small>-Harry hoe</small>

                <ul>
                  <li><i class="fa fa-heart"></i> 5</li>

                  <li><i class="fa fa-users"></i> 57</li>
                </ul>
              </article>
            </a>
          </v-col>

          <div class="col-md-12 btn-main" style="width: 100%">
            <a href="/Blog" class="btn">View all</a>
          </div>
        </v-row>
      </v-container>
    </div>
  </fragment>
</template>

<script>
export default {
    name: 'HomeBlogs'
}
</script>

<style></style>
