<template>
<fragment>
    <div class="">
        <div class="career">
            <v-container>
                <v-row>
                    <div class="caption-grid">
                        <h1 class="head1">Explore your career</h1>
                        <div class="item-list">
                            <v-row>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/schools">
                                                <span>
                                                    <img src="../../assets/img/school.png" alt />
                                                </span>
                                                <h5>Schools</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/colleges">
                                                <span>
                                                    <img src="../../assets/img/student.png" alt />
                                                </span>
                                                <h5>Colleges</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/universities">
                                                <span>
                                                    <img src="../../assets/img/university.png" alt />
                                                </span>
                                                <h5>Universities</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/companies">
                                                <span>
                                                    <img src="../../assets/img/class.png" alt />
                                                </span>
                                                <h5>Companies</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/hrs">
                                                <span>
                                                    <img src="../../assets/img/flags.png" alt />
                                                </span>
                                                <h5>HR's</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/training_institutes">
                                                <span>
                                                    <img src="../../assets/img/man.png" alt />
                                                </span>
                                                <h5>Training Institutes</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/trainers">
                                                <span>
                                                    <img src="../../assets/img/man.png" alt />
                                                </span>
                                                <h5>Trainers</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                                <v-col md="3">
                                    <article>
                                        <div class="card">
                                            <nuxt-link to="/consultancies">
                                                <span>
                                                    <img src="../../assets/img/man.png" alt />
                                                </span>
                                                <h5>Consultancies</h5>
                                            </nuxt-link>
                                        </div>
                                    </article>
                                </v-col>
                            </v-row>
                        </div>
                    </div>
                </v-row>
            </v-container>
        </div>
    </div>
</fragment>
</template>

<script>
export default {
    name: 'HomeCareer'
}
</script>

<style>

</style>
