<template>
<fragment>
    <div class="corporate">

        <v-container>

            <h1 class="head1">Register as a corporate</h1>

            <!-- <div class="panel" :style="{backgroundImage: `url(${banner})`}"> -->
              <div class="panel" style="background-image:url(https://images.freeimages.com/images/premium/previews/5640/56400282-man-hands-holding-smart-phone-with-laptop-computer-background.jpg)">
                <div class="caption">



                    <h3>Register as corporate</h3>

                    <h5>No more dull edges in your company.Make your employee into masters.</h5>

                    <p>Naural talent with instructor-led course on tranding technologies</p>
         
           <nuxt-link to="../corporate/sign_up">
                    <a class="btn" style="color: #000 !important;">Register</a>
           </nuxt-link>
                        

                </div>

                <div></div>

            </div>

        </v-container>

    </div>
</fragment>
</template>

<script>
import banner from "../../assets/img/corporate.jpg";

export default {
    name: 'HomeCorporate',
    data() {
        return {
            banner
        }
    }
}
</script>

<style>

</style>
