<template>
  <fragment>
    <div v-if="courseLoading" class="home-grid section courseLoader">
      <v-container
        style="
          margin-top: -85px;
          position: relative;
          background: #fff;
          padding: 40px 15px !important;
          border-radius: 20px;
          padding-bottom: 5px !important;
        "
      >
        <v-row>
          <h1 class="head1">get the real time courses</h1>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
          <v-col md="3">
            <v-skeleton-loader
              style="width: 100%"
              class="mx-auto"
              max-height="500"
              type="card"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <div v-else class="home-grid">
      <v-container
        style="
          margin-top: 0px;
          position: relative;
          background: #fff;
          padding: 40px 15px !important;
          border-radius: 20px;
        "
      >
        <h1 class="head1">get the real time courses</h1>
        <v-row>
          <v-col md="3" v-for="item in courseList" :key="item.course_id">
            <CourseListItem :course="item" />
          </v-col>
          <div class="btn-main" >
            <nuxt-link to="/courses" class="btn">View All</nuxt-link>
          </div>
        </v-row>
      </v-container>
    </div>
  </fragment>
</template>

<script>
import CourseListItem from '../../components/CourseListItem'
import Loader from '../../components/Loader'
export default {
    name: 'HomeCourses',
    props: ['data'],
    components: {
        CourseListItem,
        Loader
    },

    data() {
        return {
            courseList: [],
            courseLoading: true,
            pageNo: 1,
            loading: false,
            lastPage: false,
            total: ''
        };
    },
    mounted() {
        this.getCourseList()
    },
    methods: {
        async getCourseList() {
            this.courseLoading = true
            let res = await this.$axios.post('CustomerApi/all_courses', {
                per_page: 8,
                page_no: this.pageNo
            })
            console.log(res)
            if (res.data.result === 1) {
                this.courseList = res.data.data;
                console.log("fg34353ffgs",this.courseList)
                this.total = res.data.total
                this.courseLoading = false
            } else {
                this.courseLoading = false
            }
        },
    },
}
</script>

<style></style>
