<template>
  <fragment>
       <div class="jobs section">
        <v-container>
            <h1 class="head1">find your perfect job</h1>
            <v-row>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article style="border-left:0;">
                        <div class="little-box">
                            <img src="../../assets/img/graphic.png" alt />
                        </div>
                        <h5>Finance Jobs</h5>
                    </article>
                     </nuxt-link>
                    <!-- <hr style="padding: 5px;" /> -->
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/businessman.png" alt />
                        </div>
                        <h5>Sales &amp; Marketing Jobs</h5>
                    </article>
                     </nuxt-link>
                    <!-- <hr style="padding: 5px;" /> -->
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/staff.png" alt />
                        </div>
                        <h5>Consulting Jobs</h5>
                    </article>
                     </nuxt-link>
                    <!-- <hr style="    padding: 5px;" /> -->
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/staff.png" alt />
                        </div>
                        <h5>Hr Jobs</h5>
                    </article>
                     </nuxt-link>
                    <!-- <hr style="padding: 5px;" /> -->
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article style="border-left:0;">
                        <div class="little-box">
                            <img src="../../assets/img/monitor.png" alt />
                        </div>
                        <h5>IT Jobs</h5>
                    </article>
                     </nuxt-link>
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/concept.png" alt />
                        </div>
                        <h5>Electrical Jobs</h5>
                    </article>
                     </nuxt-link>
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/capsule.png" alt />
                        </div>
                        <h5>pharma Jobs</h5>
                    </article>
                     </nuxt-link>
                </v-col>
                <v-col md="3">
                     <nuxt-link to="/jobs">
                    <article>
                        <div class="little-box">
                            <img src="../../assets/img/truck.png" alt />
                        </div>
                        <h5>automative Jobs</h5>
                    </article>
                     </nuxt-link>
                </v-col>
                <div class="btn-main">
                      <nuxt-link to="/jobs">
                    <a class="btn">View All</a>
                      </nuxt-link>
                </div>
            </v-row>
        </v-container>
    </div>
  </fragment>
</template>

<script>
export default {
name: 'HomeJobs'
}
</script>

<style>

</style>