<template>
<fragment>
    <section>

        <div class="testimonial section">

            <v-container>

                <h1 class="head1">Testimonials  </h1>


                <v-row>

                    <v-col md="12">

                        <div id="customers-testimonials" class="owl-carousel owl-loaded owl-drag" >

                            <hooper :itemsToShow="5" :itemsToSlide="5" :infiniteScroll="false" :playSpeed="2000" :wheelControl="false">

                               <slide v-for="testimonial in sorted_testimoniallist" :key="testimonial.id">
                                   <!-- <fragment v-for='(item,id) in testimonial' :key='id'> -->
                          <!-- console.log("dfdsjhsads"); -->
                                    <div class="owl-item cloned" style="width: 250.4px;"  >
                                        <nuxt-link :to="'testimonials/?' + testimonial.name.replace(/\s/g, '-').replace(/\//g, '-')" 
                                      testimonial.style="{color:red}">
                                            <div class="shadow-effect">
                                                <img class="img-circle" :src="testimonial.image" alt />
                                                <span>
                                                    <div class="stars">
                                                       <v-rating
                                                           color="warning"
                                                           hover
                                                           length="5"
                                                           readonly
                                                           size="14"
                                                           :value="testimonial.rating"
                                                         ></v-rating>
                                                        <!-- <p v-for="">{{item.rating}}
                                                         <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i></p> -->
                                                         </div>
                                                         </span>
                                                         <h5>{{testimonial.name}}</h5>
                                                         <p>{{testimonial.info}}</p>
                                                         </div>
                                                         
                                                    </nuxt-link>
                                                    </div>   
                                                    <!-- </fragment>                                                          -->
                                   </slide>
                               
                                <!-- <slide>
                                    <div class="owl-item cloned" style="width: 250.4px;">
                                       <nuxt-link to="Testimonials">
                                            <div class="shadow-effect">
                                                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt />
                                                 <span>
                                                      <div class="stars">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i>
                                                </div>
                                                </span>
                                                <h5>Lary Loe</h5>
                                                <p>
                                                    Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                                    Completely synergize resource taxing relationships via premier niche markets.
                                                    Professionally cultivate.
                                                </p>

                                            </div>

                                       </nuxt-link>

                                    </div>

                                </slide>

                                <slide>

                                    <div class="owl-item cloned" style="width: 250.4px;">

                                       <nuxt-link to="">

                                            <div class="shadow-effect">

                                                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt />
                                                 <span>

                                                      <div class="stars">
                                                    <i class="ion-android-star"></i>
                                                   
                                                   <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i>
                                                </div>

                                                </span>
                                                <h5>Lary Loe</h5>
                                                <p>

                                                    Dramatically maintain clicks-and-mortar solutions without functional solutions.

                                                    Completely synergize resource taxing relationships via premier niche markets.

                                                    Professionally cultivate.

                                                </p>

                                            </div>

                                       </nuxt-link>
                                    </div>

                                </slide>

                                <slide>

                                    <div class="owl-item cloned" style="width: 250.4px;">

                                       <nuxt-link to="">

                                            <div class="shadow-effect">

                                                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt />
                                                 <span>

                                                      <div class="stars">
                                                    <i class="ion-android-star"></i>
                                                   
                                                   <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i>
                                                </div>

                                                </span>
                                                <h5>Lary Loe</h5>
                                                <p>

                                                    Dramatically maintain clicks-and-mortar solutions without functional solutions.

                                                    Completely synergize resource taxing relationships via premier niche markets.

                                                    Professionally cultivate.

                                                </p>

                                            </div>

                                       </nuxt-link>
                                    </div>

                                </slide>

                                <slide>

                                    <div class="owl-item cloned" style="width: 250.4px;">

                                       <nuxt-link to="">

                                            <div class="shadow-effect">

                                                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt />
                                                 <span>

                                                      <div class="stars">
                                                    <i class="ion-android-star"></i>
                                                   
                                                   <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i>
                                                </div>

                                                </span>
                                                <h5>Lary Loe</h5>
                                                <p>

                                                    Dramatically maintain clicks-and-mortar solutions without functional solutions.

                                                    Completely synergize resource taxing relationships via premier niche markets.

                                                    Professionally cultivate.

                                                </p>

                                            </div>

                                       </nuxt-link>

                                    </div>

                                </slide>

                                <slide>

                                    <div class="owl-item cloned" style="width: 250.4px;">

                                        <nuxt-link to="">

                                            <div class="shadow-effect">

                                                <img class="img-circle" src="http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg" alt />
                                                 <span>

                                                      <div class="stars">
                                                    <i class="ion-android-star"></i>
                                                   
                                                   <i class="ion-android-star"></i>
                                                   <i class="ion-android-star"></i>
                                              <i class="ion-android-star"></i>
                                                </div>

                                                </span>
                                                <h5>Lary Loe</h5>
                                                <p>

                                                    Dramatically maintain clicks-and-mortar solutions without functional solutions.

                                                    Completely synergize resource taxing relationships via premier niche markets.

                                                    Professionally cultivate.

                                                </p>

                                            </div>

                                       </nuxt-link>

                                    </div>

                                </slide> -->

                                <hooper-navigation slot="hooper-addons"></hooper-navigation>

                            </hooper>

                        </div>

                    </v-col>

                </v-row>

            </v-container>

        </div>

    </section>
</fragment>
</template>

<script>
import {
    Hooper,
    Slide,
    Navigation as HooperNavigation
} from "hooper";
import "hooper/dist/hooper.css";
import { mapGetters, } from 'vuex';
export default {
name: 'HomeReviews',
    components: {
        Hooper,
        Slide,
        HooperNavigation,
    },
    computed: {
        ...mapGetters(["sorted_testimoniallist"]),
        
    }
//     data(){
//         return{
//             testimonialLoading: false,
//             testimoniallist:[],
//            mata:"",
//         testimonial:[
//             {
//                 id: 1,
//                 name: "Atif Aslam" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image: 'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 4,
//                 date: "20/03/2020",
//                 },
//                 {
//                     id: 2,
//                     name:"Lary Loe" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image:'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 1,
//                 date: "31/03/2021",
//                 },
//                 {
//                     id: 3,
//                     name:"Hrittik roshan" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image:'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 2,
//                 date: "21/03/2021",
//                 },
//                 {
//                     id: 4,
//                     name:"Shahrukh khan" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image:'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 3,
//                 date: "22/03/2021",
//                 },
//                 {
//                     id: 5,
//                     name:"Amir khan" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image:'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 4,
//                 date: "23/03/2021",
//                 },
//                 {
//                     id: 6,
//                     name:"Salman khan" ,
//                 info: "Dramatically maintain clicks-and-mortar solutions without functional solutions.Completely synergize resource taxing relationships via premier niche markets.Professionally cultivate.",
//                 image:'http://themes.audemedia.com/html/goodgrowth/images/testimonial3.jpg',
//                 rating: 5,
//                 date: "26/03/2021",
//                 }
                
//         ]
//         };
//         },
//         computed(){
//             orderedtestimonial: 
//                 return _.orderBy(this.testimonial, ['date'],['desc']);
            
//         },
//         mounted() {
//     this.gettestimoniallist();
//   },
//             methods: {
//     async gettestimoniallist() {
//       this.courseLoading = true;
//       let res = await this.$axios.post("testimonial", {
//         per_page: 6,
//         page_no: this.pageNo,
//       });
//       console.log("result",res);
//       if (res.data.result === 1) {
//         this.testimonial = res.data.data;
       
//         this.testimonialLoading = false;
//       } else {
//         this.testimonialLoading = false;
//       }
     
//     },
        }

</script>

<style>

</style>
