<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      style="
        background-image: url('https://lh3.googleusercontent.com/-euhNLKcAirc/X7IygXmL1zI/AAAAAAAAFqQ/rZ3PtkSyU8U_Bk557keNaG1NQTWnaLp6QCK8BGAsYHg/s0/2020-11-16.jpg');
      "
    >
      <h2>Test Institutes</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-md-9">
            <div class="boxCard" style="margin-bottom:0">
              <div class="row">
                <div class="col-md-6">
                  <img
                    src="https://img.delicious.com.au/otDu1ZV5/w506-h506-cfill/del/2015/10/dan-stock-19711-1.jpg"
                    alt=""
                  />
                  <span>
                    <h3 class="head2">John Wick</h3>
                    <p>
                      <small
                        >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                          <path
                            d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                          ></path></svg
                      ></small>
                      <span class="rated">
                        <i class="fa fa-star fa-fw"></i> 4.0
                      </span>
                    </p>
                    <div class="social">
                      <a href="" class="fa fa-facebook"></a>
                      <a href="" class="fa fa-twitter"></a>
                      <a href="" class="fa fa-google-plus"></a>
                      <a href="" class="fa fa-linkedin"></a>
                    </div>
                  </span>
                </div>
                <div class="col-md-6">
                  <h4 class="lightHead">
                    <!-- 500+ Online Courses -->
                    <span
                      style="
                        float: right;
                        position: absolute;
                        top: 60px;
                        right: 0;
                      "
                      class="likes"
                    >
                      <span style="color: #000"
                        ><i class="fa fa-heart" aria-hidden="true"></i> 30</span
                      >
                      <span style="color: #000"
                        ><i class="fa fa-rss" aria-hidden="true"></i> 50</span
                      >
                    </span>
                  </h4>
                  <article>
                    <div>
                      <b>Email</b>
                      <p>****@mail.com</p>
                    </div>
                    <div>
                      <b>Phone</b>
                      <p>****1230</p>
                    </div>
                    <div>
                      <b>Website</b>
                      <p>john_wick@mail.com</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                   <h3 class="head2" >About Us</h3>
                    <div id="Overview">
                      <div class="bx">
                       
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Earum fugit impedit temporibus sapiente tempora
                          expedita similique doloribus itaque dicta possimus
                          quasi distinctio veritatis, sunt quam aliquam iste
                          facilis enim perspiciatis. Lorem ipsum dolor sit amet
                          consectetur adipisicing elit. Quo nihil ipsam aliquid
                          quos reprehenderit reiciendis debitis mollitia quia
                          quisquam ipsa nesciunt excepturi illum deserunt nemo
                          numquam neque perferendis, delectus rem?
                        </p>
                      </div>
                        <h3 class="head2">Education</h3>
                        <div class="bx">
                        <div class="education">
                          <div>
                            <i class="fa fa-university" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              Bachelor of Technology (Btech) Computer Science
                            </h6>
                            <h5>Sri Sivani College of Engineering</h5>
                            <p>2006 - 2010</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-university" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              Bachelor of Technology (Btech) Computer Science
                            </h6>
                            <h5>Sri Sivani College of Engineering</h5>
                            <p>2006 - 2010</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-university" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              Bachelor of Technology (Btech) Computer Science
                            </h6>
                            <h5>Sri Sivani College of Engineering</h5>
                            <p>2006 - 2010</p>
                          </div>
                        </div>
                      </div>
                       <h3 class="head2">Experience</h3>
                      <div class="bx">
                       

                        <div class="education">
                          <div>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>SalesForce Technical Lead</h6>
                            <h5>Enspire For Enterprise</h5>

                            <p>May 2019- Present -1 Year 6 Months</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>Sales Technical Lead</h6>
                            <h5>Sri Sivani College of Engineering</h5>
                            <p>2006 - 2010</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-align-left" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              Bachelor of Technology (Btech) Computer Science
                            </h6>
                            <h5>Sri Sivani College of Engineering</h5>
                            <p>2006 - 2010</p>
                          </div>
                        </div>
                      </div>
                      <h3 class="head2">Certification</h3>
                      <div class="bx">
                        

                        <div class="education">
                          <div>
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              SalesForce Certified CPQ Specialist Certification
                            </h6>
                            <h5>Sales Force</h5>

                            <p>Issued Jul 2020</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              SalesForce Certified CPQ Specialist Certification
                            </h6>
                            <h5>Sales Force</h5>

                            <p>Issued Jul 2020</p>
                          </div>
                        </div>

                        <div class="education">
                          <div>
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                          </div>
                          <div>
                            <h6>
                              SalesForce Certified CPQ Specialist Certification
                            </h6>
                            <h5>Sales Force</h5>

                            <p>Issued Jul 2020</p>
                          </div>
                        </div>
                      </div>
                        <h3 class="head2">Technical Skill</h3>
                      <div class="bx">
                      
                        <div class="fact">
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p>
                          <p>
                            <i class="fa fa-comments-o"></i>
                            Get Introduced
                          </p>
                          <p>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Contact Mahesh Directly
                          </p>
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p>
                        </div>
                      </div>
                       <h3 class="head2">Professional Skill</h3>
                      <div class="bx">
                       
                        <div class="fact">
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p>
                          <p>
                            <i class="fa fa-comments-o"></i>
                            Get Introduced
                          </p>
                          <p>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            Contact Mahesh Directly
                          </p>
                          <p>
                            <i class="fa fa-link"></i>
                            See who you know in common
                          </p>
                        </div>
                      </div>
                      <h3 class="head2">Languages</h3>
                      <div class="bx">
                        
                          <div class="row">
                            <div class="col-md-4">
                            <ul style="padding-left:15px !important">
                              <li>English(Excellent)</li>
                              <li>Hindi(Excellent)</li>
                            </ul>
                            </div>
                            <div class="col-md-4">
                            <ul  style="padding-left:15px !important">
                              <li>English(Excellent)</li>
                              <li>Hindi(Excellent)</li>
                            </ul>
                            </div>
                            <div class="col-md-4">
                            <ul  style="padding-left:15px !important">
                              <li>English(Excellent)</li>
                              <li>Hindi(Excellent)</li>
                            </ul>
                            </div>
                          </div>
                      </div>
                      <!-- <div class="bx job-list">
                        <h3 class="head2">Recruting For</h3>
                        <div class="row">
                          <div class="col-md-4">
                           
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  

                 
              </div>
            </div>

            
          </div>
           <div class="col-md-3">
            <div class="">
              <div class="course-ft vendor-board">
                <div class="">
                  
                  <a href="/persons/Details" class="box box-new" style="margin-top: -100px">
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>
                      
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="persons/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>
                     
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/persons/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star theme--light warning--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="v-icon notranslate v-icon--link mdi mdi-star-outline theme--light accent--text"
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="course-ft vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                 <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                 <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right;">More..</a>
                </span>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>