<template>
  <div class="fadein addCourses">
    <div class="section">
      <v-container>
        <h3 class="head2" style="margin-top: 0">Add New Course</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/dashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Add new course</a>
            </li>
          </ul>
        </div>
        <v-row>
          <v-col md="9" sm="12">
            <div class="add_new">
              <div class="tab-content">
                <v-stepper v-model="e1">
                  <v-stepper-header>
                    <v-stepper-step
                      :editable="editable"
                      :complete="e1 > 1"
                      :class="{ stepper: step1 }"
                      step="1"
                      >Course Details</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="detailsAdded"
                      :complete="e1 > 2"
                      :class="{ stepper: step2 }"
                      step="2"
                      >Features</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="featuresAdded"
                      :complete="e1 > 3"
                      :class="{ stepper: step3 }"
                      step="3"
                      >Curriculums</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="curriculumsAdded"
                      :complete="e1 > 4"
                      :class="{ stepper: step4 }"
                      step="4"
                      >FAQs</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="faqAdded"
                      :complete="e1 > 5"
                      :class="{ stepper: step5 }"
                      step="5"
                      >Topics</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="topicsAdded"
                      :complete="e1 > 6"
                      :class="{ stepper: step6 }"
                      step="6"
                      >Trainer</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="topicsAdded"
                      :complete="e1 > 7"
                      :class="{ stepper: step7 }"
                      step="7"
                    >
                      Batches</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step
                      :editable="topicsAdded"
                      :complete="e1 === 8"
                      :class="{ stepper: step8 }"
                      step="8"
                      >Projects</v-stepper-step
                    >
                  </v-stepper-header>

                  <v-stepper-items>
                    <v-stepper-content step="1">
                      <AddCourseDetails
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn
                              color="grey darken-4"
                              rounded
                              :disabled="stepOne"
                              dark
                              @click="e1 = 2"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>

                      <!-- <v-container>
                        <v-row>
                          <v-col>
                            <v-btn
                              
                              @click="(e1 = 2), (detailsAdded = true)"
                              >Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container> -->
                    </v-stepper-content>

                    <v-stepper-content step="2">
                      <AddCourseFeatures
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 1"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepTwo"
                              @click="e1 = 3"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>

                    <v-stepper-content step="3">
                      <AddCourseCurriculum
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 2"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepThree"
                              @click="e1 = 4"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>

                    <v-stepper-content step="4">
                      <AddCourseFaq
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 3"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepFour"
                              @click="e1 = 5"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>

                    <v-stepper-content step="5" >
                      <AddCourseTopic
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 4"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepFive"
                              @click="e1 = 6"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>

                    <v-stepper-content step="6">
                      <AddCourseTrainer
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 5"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepSix"
                              @click="e1 = 7"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="7">
                      <AddNewCourseBatches
                        :action="'add'"
                        v-on:changeStep="updateStep($event)"
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 6"
                            >
                              Back
                            </v-btn> -->
                            <v-btn
                              color="grey darken-4"
                              rounded
                              dark
                              :disabled="stepSeven"
                              @click="e1 = 8"
                            >
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="8">
                      <AddCourseProjects
                        v-on:changeColor="updateStepColor($event)"
                      />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <!-- <v-btn
                              rounded
                              dark
                              color="grey darken-4"
                              @click="e1 = 7"
                            >
                              Back
                            </v-btn> -->
                          </v-col>
                        </v-row>
                      </v-container>
                      <v-row>
                        <v-col md="12">
                          <div v-if="submitCourse" class="form-group fadein">
                            <v-alert text type="success" align="left">
                              Course added successfully
                            </v-alert>
                          </div>
                        </v-col>
                        <v-col md="12" v-if="getCourseProjectValid">
                          <!-- <a class="btn">Submit</a> -->
                          <!-- <button class="btn" :disabled='!getCourseProjectValid' @click="$nuxt.$emit('submitCourseProject')"> Submit</button> -->
                          <button class="btn" @click="submitCourseFinal">
                            Submit Course
                          </button>
                          <!-- <a v-if="submitCourse" href='' class="btn">Add new course</a> -->
                          <a href="" @click="addNew" class="btn btn-red"
                            >Add new course</a
                          >
                        </v-col>
                      </v-row>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              </div>
            </div>
          </v-col>
          <v-col md="3" sm="12">
            <DashboardNav />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import DashboardNav from "../../components/DashboardNav";
import AddCourseDetails from "../../components/AddCourseDetails";
import AddCourseFeatures from "../../components/AddCourseFeatures";
import AddCourseCurriculum from "../../components/AddCourseCurriculum";
import AddCourseFaq from "../../components/AddCourseFaq";
import AddCourseTopic from "../../components/AddCourseTopic";
import AddCourseTrainer from "../../components/AddCourseTrainer";
import AddCourseProjects from "../../components/AddCourseProjects";
import AddNewCourseBatches from "../../components/AddNewCourseBatches";
export default {
  name: "Add_new_course",
  components: {
    DashboardNav,
    AddCourseDetails,
    AddCourseFeatures,
    AddCourseCurriculum,
    AddCourseFaq,
    AddCourseTopic,
    AddCourseProjects,
    AddCourseTrainer,
    AddNewCourseBatches,
  },
  data() {
    return {
      e1: 1,
      submitCourse: false,
      editable: true,
      detailsAdded: false,
      featuresAdded: false,
      curriculumsAdded: false,
      faqAdded: false,
      topicsAdded: false,
      user: null,
      step1: false,
      step2: false,
      step3: false,
      step4: false,
      step5: false,
      step6: false,
      step7: false,
      step8: false,
      stepOne: true,
      stepTwo: true,
      stepThree: true,
      stepFour: true,
      stepFive: true,
      stepSix: true,
      stepSeven: true,
      // rules: [
      //     value => !!value || "Required.",
      //     value => (value && value.length >= 3) || "Min 3 characters"
      // ]
    };
  },

  methods: {
    submitCourseFinal() {
      this.submitCourse = true;
      setTimeout(() => {
        this.submitCourse = false;
        (this.step1 = false),
          (this.step2 = false),
          (this.step3 = false),
          (this.step4 = false),
          (this.step5 = false),
          (this.step6 = false),
          (this.step7 = false),
          (this.step8 = false),
          (this.stepOne = true),
          (this.stepTwo = true),
          (this.stepThree = true),
          (this.stepFour = true),
          (this.stepFive = true),
          (this.stepSix = true),
          (this.stepSeven = true),
          this.$router.push("/corporate/manage_courses");
      }, 2000);
    },
    addNew() {
      localStorage.removeItem("course_id");
    },
    updateStep(step) {
      this.e1 = step;
    },

    updateStepColor(step) {
      
      if (step === 1) {
        this.step1 = true;
        this.stepOne = false;
      }
      if (step === 2) {
        this.step2 = true;
        this.stepTwo = false;
      }
      if (step === 3) {
        this.step3 = true;
        this.stepThree = false;
      }
      if (step === 4) {
        this.step4 = true;
        this.stepFour = false;
      }
      if (step === 5) {
        this.step5 = true;
        this.stepFive = false;
      }
      if (step === 6) {
        this.step6 = true;
        this.stepSix = false;
      }
      if (step === 7) {
        this.step7 = true;
        this.stepSeven = false;
      }
      if (step === 8) {
        this.step8 = true;
      }
    },
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  computed: {
    getCourseDValid() {
      return this.$store.state.addCourse.courseDValid;
    },
    getCourseFValid() {
      return this.$store.state.addCourse.courseFValid;
    },
    getCourseCValid() {
      return this.$store.state.addCourse.courseCValid;
    },
    getCourseFAqValid() {
      return this.$store.state.addCourse.COURSEFAQVALID;
    },
    getCourseTopicValid() {
      return this.$store.state.addCourse.courseTopicValid;
    },
    getCourseTrainerValid() {
      return this.$store.state.addCourse.courseTrainerValid;
    },
    getCourseProjectValid() {
      return this.$store.state.addCourse.courseProjectValid;
    },
  },
};
</script>

<style>
.v-stepper__step__step.primary {
  background: red !important;
}

.v-stepper__step__step .v-icon.v-icon {
  font-size: 1rem !important;
}

.v-stepper {
  box-shadow: none;
}
.stepper {
  color: green;
}
</style>
