<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <div
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerlink?bannerlink:banner})` }"
    >
      <h2 style>
        {{ profileData.display_name }}
        <!-- <span style>Open: 3 PM To 6 PM</span> -->
        <!-- <span><button class="">Change banner</button></span> -->
      </h2>
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li v-if="corporateType == 'School'">
              <router-link to="/corporate/Schooldashboard"
                >Dashboard</router-link
              >
            </li>
            <li v-if="corporateType == 'College'">
              <router-link to="/corporate/Collegedashboard"
                >Dashboard</router-link
              >
            </li>
            <li v-if="corporateType == 'University'">
              <router-link to="/corporate/Universitydashboard"
                >Dashboard</router-link
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/change_password"
                >Change Password</router-link
              >
            </li>
          </ul>
        </div>
      </v-container>
    </div>
    <div class="section">
      <v-container>
        <div class="panel-main row">
          <div class="main">
            <v-row>
              <div class="col-md-3 dashboardNav profileNav">
                <div class="course-profile">
                  <ProfileCard
                    :facebook="profileData.facebook"
                    :linkedin="profileData.linkedin"
                    :insta="profileData.instagram"
                    :twitter="profileData.twitter"
                    :youtube="profileData.youtube"
                    :name="companyName"
                    :mobile="userMobile"
                    :email="userEmail"
                    :profilePic="profileData.logo_image"
                    :userWebsite="profileData.website_link"
                  />
                </div>
              </div>
              <v-col md="6">
                <ChangePasswordForm :corporate="true" />
              </v-col>
              <v-col md="3">
                <DashboardNav />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-container>
    </div>
    <Footer />
  </div>
</template>

<script>
import banner from "../../assets/img/picnic.jpg";
import DashboardNav from "../../components/DashboardNav";
import ProfileCard from "../../components/ProfileCard";
import ChangePasswordForm from "../../components/ChangePasswordForm";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
export default {
  name: "ChangePasswordPage",
  components: {
    DashboardNav,
    ProfileCard,
    ChangePasswordForm,
    Footer,
    Header,
    PreLoader,
  },
  data() {
    return {
      banner,
      user_id: "",
      user: null,
      companyName: "",
      userMobile: "",
      userEmail: "",
      userWebsite: "",
      profileData: "",
      // preloader:true,
      corporateType: "",
       bannerlink:""

    };
  },
  mounted() {
    // this.$loading = this.$refs.loading
    this.companyName = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.corporateType = localStorage.getItem("corporate");
    this.getProfile();
    this.getbanner()
    setTimeout(() => {
      this.preloader = false;
    }, 3500);
  },
  // created() {
  //   if (process.browser) {
  //     this.user = localStorage.getItem("userId");
  //   }
  //   if (this.user === null) {
  //     this.$router.push("/corporate/login");
  //     this.$store.dispatch("logout");
  //   }
  // },
  methods: {
    async getProfile() {
      let user = localStorage.getItem("userId");
      this.aboutLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: user,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData = res.data.data;
        console.log("sdfgsdgsdf", res.data.data);
        this.aboutLoading = false;
      } else {
      }
    },
    async getbanner() {
      let user = localStorage.getItem("userId");

      let respo = await this.$axios.post("/trainingInstituteApi/get_banner", {
        user_id: user,
      });
      console.log("list data", respo.data.message);
      if (respo.data.result === 1) {
        this.bannerlink = respo.data.data.banner_image;
        console.log("bannerdata", this.bannerlink);
      } else {
        this.bannerlink = "";
      }
    },
  },
};
</script>

<style scoped></style>
