<template>
  <div class="fadein">
    <div v-if="noimage">
      <div
        class="inner-banner dashboardBanner"
        :style="{ backgroundImage: `url(${banner})` }"
      >
        <h2 style>
          {{ companyName }}
          <!-- <span style>Open: 3 PM To 6 PM</span> -->
          <!-- <span><button class="">Change banner</button></span> -->
        </h2>
        <v-container>
          <div class="breadcrumb">
            <ul>
              <li>
                <router-link to="/">Home</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">My profile</a>
              </li>
            </ul>
            <a
              style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
              @click="openModal"
              ><i class="ion-edit" style="color:#fff"></i
            ></a>
          </div>
        </v-container>
      </div>
    </div>
    <div v-if="image">
      <div
        class="inner-banner dashboardBanner"
        :style="{ backgroundImage: `url(${bannerlink})` }"
      >
        <h2 style>
          {{ companyName }}
          <!-- <span style>Open: 3 PM To 6 PM</span> -->
          <!-- <span><button class="">Change banner</button></span> -->
        </h2>
        <v-container>
          <div class="breadcrumb">
            <ul>
              <li>
                <router-link to="/">Home</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">My profile</a>
              </li>
            </ul>
            <a
              style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
              @click="openModal"
              ><i class="ion-edit" style="color:#fff"></i
            ></a>
          </div>
        </v-container>
      </div>
    </div>
    <div class="section">
      <v-container>
        <div class="panel-main row">
          <div class="main">
            <v-row>
              <div class="col-md-3 dashboardNav profileNav">
                <div class="course-profile">
                  <ProfileCard
                    :facebook="profileData.facebook"
                    :linkedin="profileData.linkedin"
                    :insta="profileData.instagram"
                    :twitter="profileData.twitter"
                    :youtube="profileData.youtube"
                    :name="companyName"
                    :mobile="userMobile"
                    :email="userEmail"
                    :profilePic="profileData.logo_image"
                    :userWebsite="profileData.website_link"
                  />
                  <CompanyDashboardNav />
                </div>
              </div>
              <v-col md="9">
                <VendorBoard :profile="profileData" :loader="aboutLoading" />

                <!-- <CompanyInfo /> -->
                <Address />
                <Gallery />
                <Products />
                <!-- <Staff /> -->
                <!-- <Trainer /> -->
                <Service />
                <Research />
                <News />
                <Facilities />

                <!-- <CorporateDashboardCourses
                  :courses="dashboardCourses"
                  :loader="courseLoading"
                /> -->

                <Jobs />
                <!-- <DashboardReviews /> -->
                <Placements />
                <!-- <Subscription /> -->
                <Kyc />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-container>
    </div>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Change Banner</v-col>
        </v-card-title>
        <v-form ref="file">
          <v-file-input
            ref="image_string"
            v-model="image_string"
            v-on:change="onChange"
            dense
            filled
            :rules="[(v) => !!v || 'Image is required']"
            label="Upload Image"
            required
          >
          </v-file-input>
        </v-form>
        <v-alert v-if="error" text-prominent-type="error">
          {{ errorMessage }}
        </v-alert>
        <v-alert v-if="success" text type="success" align="left">
          Banner Changed Successfully.
        </v-alert>

        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="loading"
              color="#000"
              @click="submitForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="dialog = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import banner from "../../assets/img/picnic.jpg";
import CompanyDashboardNav from "../../components/CompanyDashboardNav";
import VendorBoard from "../../components/VendorBoard";
import DashboardReviews from "../../components/DashboardReviews";
//import CorporateDashboardCourses from "../../components/CorporateDashboardCourses";
import ProfileCard from "../../components/ProfileCard";
import CompanyInfo from "../../components/CorporateDashboard/CompanyInfo";
import Address from "../../components/CorporateDashboard/Address";
import Gallery from "../../components/CorporateDashboard/Gallery";
import Service from "../../components/CorporateDashboard/Services";
import Products from "../../components/CorporateDashboard/Products";
import Research from "../../components/CorporateDashboard/Research";
import News from "../../components/CorporateDashboard/News";
import Facilities from "../../components/CorporateDashboard/Facilities";
import Jobs from "../../components/CorporateDashboard/Jobs";
import Kyc from "../../components/CorporateDashboard/Kyc";
import Placements from "../../components/CorporateDashboard/Placements";
import Subscription from "../../components/CorporateDashboard/Subscription";

export default {
  name: "Companydashboard",
  components: {
    CompanyDashboardNav,
    VendorBoard,
    DashboardReviews,
    // CorporateDashboardCourses,
    ProfileCard,
    CompanyInfo,
    Placements,
    Address,
    Gallery,
    Products,
    // Trainer,
    Service,
    Research,
    News,
    Facilities,
    Jobs,
    Kyc,
    Subscription,
  },
  data() {
    return {
      banner,
      user_id: "",
      user: null,
      edit: {
        banner_image: "",
        user_id: "",
      },
      image: false,
      noimage: false,
      success: false,
      dialog: false,
      bannerlink: "",
      error: false,
      companyName: "",
      userMobile: "",
      userEmail: "",
      userWebsite: "",
      profileData: "",
      dashboardCourses: "",
      aboutLoading: false,
      courseLoading: false,
    };
  },
  mounted() {
    // this.$loading = this.$refs.loading
    this.companyName = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.getProfile();
    this.getCourseList();
    this.getbanner();
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  methods: {
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
    async getCourseList() {
      this.courseLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.dashboardCourses = res.data.data.reverse().slice(0, 3);
        this.courseLoading = false;
      } else {
        this.courseLoading = false;
      }
    },
    openModal() {
      (this.success = false), (this.error = false), (this.dialog = true);
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.banner_image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.banner_image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");

      let resp = await this.$axios.post(
        "/trainingInstituteApi/upload_banner",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please choose a image";
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        this.success = true;

        setTimeout(() => (this.dialog = false), 2000);
        this.loading = false;
        this.getbanner();
        this.$refs.image_string.reset();
      }
    },
    async getbanner() {
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "/trainingInstituteApi/get_banner",
        this.edit
      );
      console.log("list data", respo.data.message);
      this.bannerlink = respo.data.data.banner_image;
      console.log("bannerdata", this.bannerlink);
      if (this.bannerlink === "") {
        this.noimage = true;
      } else {
        this.noimage = false;
        this.image = true;
      }
      // this.errorMessage = res.data.message;
    },
  },
};
</script>

<style>
/* .profileNav {
    top: -210px;
} */
</style>
<style scoped>
.form-group {
  margin-bottom: 0;
}

.adresses p {
  padding-left: 7px;
  position: relative;
  display: flex;
  align-items: center;
}

.adresses p i {
  font-size: 20px;
  padding-right: 12px;
  line-height: 2;
}
.fadein {
  min-width: 100%;
  height: auto;
  overflow-x: auto;
  justify-content: right;
  align-items: right;
}
</style>
