<template>
  <div>
    <section class="login">
      <div class="row" style="margin: 0">
        <div class="col-md-6">
          <div
            class="log-banner"
            :style="{ backgroundImage: `url(${loginBg})` }"
          >
            <article>
              <h2>Welcome to</h2>
              <h1>EXREED.COM</h1>
              <h4>Access Your Corporate Account</h4>
            </article>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form">
            <v-form id="nativeForm" v-model="valid" @submit.prevent="login">
              <router-link to="/">
                <img src="../../assets/img/logo.png" alt />
              </router-link>
              <h3 class="desktop-head">Sign in to Exreed</h3>
              <h3 class="res-head">Sign in as corporate</h3>

              <div class="form-group">
                <label for>Email id</label>
                <!-- <input type="text" class="form-control" placeholder /> -->
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="loginF.email"
                    :rules="emailRules"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div class="form-group">
                <label for>Password</label>
                <!-- <input type="pasword" name id class="form-control" />
                <i class="fa fa-eye-slash" aria-hidden="true"></i>-->
                <div class="row">
                  <v-text-field
                    class="form-control"
                    style="width: 100%"
                    solo
                    v-model="loginF.password"
                    :rules="[(v) => !!v || 'Pasword is required']"
                    :type="show1 ? 'text' : 'password'"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    @click:append="show1 = !show1"
                    required
                  ></v-text-field>
                </div>
              </div>
              <div v-if="getLoginMessage" class="form-group fadein">
                <v-alert class="" text prominent type="error">
                  {{ getLoginMessage }}
                </v-alert>
              </div>
              <v-btn
                class="btn2"
                :disabled="!valid || loading2"
                color="#000"
                type="submit"
              >
                <span v-if="!loading2" style="color: #fff">Sign in</span>
                <template v-else>
                  <span>Processing...</span>
                </template>
              </v-btn>
              <!-- <v-btn
                class="btn"
                :loading="loading2"
                :disabled="loading2"
                color="#000"
                type="submit"
              >
                Log in
                <template v-slot:loader>
                  <span>Processing...</span>
                </template>
              </v-btn> -->
              <router-link to="/Forgetpass" class="forget"
                >Forgot Password</router-link
              >
              <router-link to="/corporate/sign_up" class="forget"
                >Don't have an account? <b> Sign up</b>
              </router-link>
              <a @click="$router.go(-1)" class="backTo" to="/">
                <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill="#000000"
                    d="M0.646 10.146l6-6c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-5.146 5.146h16.293c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-16.293l5.146 5.146c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146s-0.256-0.049-0.354-0.146l-6-6c-0.195-0.195-0.195-0.512 0-0.707z"
                  />
                </svg>
                <small>Go back</small>
              </a>
            </v-form>
          </div>
        </div>
      </div>
    </section>
    <v-snackbar class="loginMessage" v-model="loginMessage" :timeout="timeout">
      Logged in successfully!
    </v-snackbar>
  </div>
</template>

<script>
import loginBg from "../../assets/img/camera.jpg";
export default {
  name: "For_corporate_login",
  data() {
    return {
      valid: false,
      loginMessage: false,
      loginBg,
      timeout: 2000,
      loader: null,
      loading2: false,
      show1: false,
      loginF: {
        email: "",
        password: "",
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
    };
  },
  // computed: {
  //   getLoginMessage() {
  //     return this.$store.state.auth.loginMessage;
  //   },
  //   console() {
  //     console.log(getLoginMessage);
  //   },
  // },
  methods: {
    // async login() {
    //     try {
    //         let response = await this.$auth.loginWith('local', {
    //             data: this.loginF
    //         })
    //         console.log(response)
    //     } catch (err) {
    //         console.log(err)
    //     }
    // },
    validate() {
      this;
      this.$refs.form.validate();
    },
    // reset() {
    //   this.$refs.form.reset();
    // },
    // resetValidation() {
    //   this.$refs.form.resetValidation();
    // },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },

    // dispatchEvent
    async login() {
      this.loading2 = true;
      // let sourav = this.$store.state.auth.corporate;
      //  console.log("khobor a6e",sourav);
      let name;
      let cor;
      let userName;
      let corporate;
      let exreed_web;
      console.log("CorporateLoginpayload", this.loginF);
      let response = await this.$axios.post(
        "trainingInstituteApi/login",
        this.loginF
      );
      console.log("CorporateLoginResponse", response);
      if (response.data.result === 1) {
        let userId = response.data.data.id;
        localStorage.setItem("userId", userId);
        localStorage.setItem("name", response.data.data.company_name);
        localStorage.setItem("email", response.data.data.email);
        localStorage.setItem("mobile", response.data.data.mobile);
        localStorage.setItem("corporate", response.data.data.corporate_type);
        name = response.data.data.company_name;
        userName = name.split(" ").join("");
        cor = response.data.data.corporate_type;
        if (cor === "School") {
          corporate = "schools";
        } else if (cor === "College") {
          corporate = "colleges";
        }
        if (cor === "University") {
          corporate = "universities";
        }
        if (cor === "Training Institute") {
          corporate = "traininginstitutes";
        }
        if (cor === "Individual Trainer") {
          corporate = "trainers";
        }
        if (cor === "HR's") {
          corporate = "HRs";
        }
        exreed_web = location.origin + "/" + corporate + "/" + userName;
        let res = await this.$axios.post(
          "CustomerApi/manage_exreed_website_link",
          {
            user_id: userId,
            action: "update",
            exreed_website_link: exreed_web,
          }
        );
        if (res.data.result === 1) {
          let resp = await this.$axios.post("CustomerApi/update_username", {
            user_id: userId,
            username: userName,
          });
          if (resp.data.result === 1) {
            console.log("userUpdate", resp.data.message);
          }
        }
        // commit('CARLOUS', localStorage.getItem('corporate') || null)
        // commit('authSuccess', localStorage.getItem('name') || null)
        // commit('USERID', userId)

        // commit('corporate', localStorage.getItem('corporate_type'))

        // commit('COMPANY_NAME', response.data.data.company_name)
        if (cor === "School") {
          this.loginMessage = true;
          this.$router.push("/corporate/schooldashboard");
        } else if (cor === "Training Institute") {
          this.loginMessage = true;
          this.$router.push("/corporate/dashboard");
        } else if (cor === "HR's") {
          this.loginMessage = true;
          this.$router.push("/corporate/HRsdashboard");
        }
        else if (cor === "Individual Trainer") {
          this.loginMessage = true;
          this.$router.push("/corporate/Trainerdashboard");
        } else if (cor === "Company") {
          this.loginMessage = true;
          this.$router.push("/corporate/Companydashboard");
        } else if (cor === "College") {
          this.loginMessage = true;
          this.$router.push("/corporate/Collegedashboard");
        } else if (cor === "University") {
          this.loginMessage = true;
          this.$router.push("/corporate/Universitydashboard");
        } else if (cor === "Consultancy") {
          this.loginMessage = true;
          this.$router.push("/corporate/Consultancydashboard");
        } else {
          this.error = true;
        }
      } else if (response.data.result === 0) {
        console.log("LOGIN holona", response);
      }

      // this.$store.dispatch("login", this.loginF).then(() => {
      //   this.loading2 = false;
      //   let sourav = this.$store.state.auth.corporate;
      //   console.log("khobor a6e", sourav);
      //   if (this.$store.state.auth.loginMessage) {
      //     console.log("invalid");
      //   }

      // if (sourav === "School") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/schooldashboard");
      // } else if (sourav === "Training Institute") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/dashboard");
      // } else if (sourav === "HR's") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/HRsdashboard");
      // }
      // else if (sourav === "Individual Trainer") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/Trainerdashboard");
      // } else if (sourav === "Company") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/Companydashboard");
      // } else if (sourav === "College") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/Collegedashboard");
      // } else if (sourav === "University") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/Universitydashboard");
      // } else if (sourav === "Consultancy") {
      //   this.loginMessage = true;
      //   this.$router.push("/corporate/Consultancydashboard");
      // } else {
      //   this.error = true;
      // }
      // });
    },
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    },
  },
  // mounted() {
  //   this.$store.dispatch("loginMounted");
  // },
};
</script>

<style>
.login {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #efefef;
}

.login .col-md-6 {
  padding-left: 0 !important;
}

.form div {
  box-shadow: none !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .v-messages__message {
  color: #ed1d25;
}

.form .v-text-field__details {
  padding: 0 !important;
}

.login .form .v-alert__content {
  text-align: left;
}

/* .v-input__control {
    min-height: 35px !important;
}

.form-group .v-messages {
    margin: 8px 0;
} */
</style>
