<template>
  <div class="fadein">
    <div v-if="preloader">
    <PreLoader/>
    </div>
    <Header/>
    <div class="section">
      <v-container>
        <h3 class="head2">Manage Trainers</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/dashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Manage Trainers</a>
            </li>
          </ul>
        </div>

        <v-row>
          <v-col class="new-title">
            <v-container>
              <v-row style="background-color: #000" class="ml-1">
                <v-col><h4>Trainers</h4></v-col>
                <v-col class="text-right" align-self="center">
                  <v-btn
                    rounded
                    dark
                    color="grey darken-4"
                    @click="addTrainerDia"
                  >
                    <v-icon>mdi-plus</v-icon>Add New
                  </v-btn>
                </v-col>
              </v-row>

              <v-simple-table>
                <template>
                  <thead>
                    <tr>
                      <th class="text-center">Trainer Image</th>
                      <th class="text-center">Trainer Name</th>
                      <th class="text-center">Trainer Designation</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="trainer in trainers" :key="trainer.trainer_id">
                      <td class="text-center">
                        <v-img
                          max-height="80"
                          max-width="80"
                          :src="trainer.image"
                        ></v-img>
                      </td>
                      <td class="text-center">{{ trainer.name }}</td>
                      <td class="text-center">{{ trainer.designation }}</td>
                      <td class="text-center">
                        <v-btn @click="editTrainerDia(trainer)">
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn @click="deleteTrainerDia(trainer)">
                          <v-icon>mdi-delete</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
              <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"></v-pagination>
              </div>
            </v-container>
          </v-col>
          <InnerDashboardNav />
        </v-row>

        <v-dialog v-model="addTrainerDialog" max-width="800">
          <v-card>
            <v-card-title> Add Trainer Details </v-card-title>
            <v-card-text>
              <v-form id="nativeForm" ref="form">
                <div class="row">
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.name"
                      dense
                      filled
                      :rules="nameRule"
                @focus="nameR"
                @blur="cancelNameR"
                      label="Trainer Name*"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.email"
                      dense
                      filled
                      :rules="emailRules"
                      @focus="emailR"
                      @blur="cancelEmailR"
                      label="Trainer Email*"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.designation"
                      dense
                      filled
                      :rules="designationRule"
                      @focus="designationR"
                      @blur="cancelDesignationR"
                      label="Trainer Designation*"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-file-input
                      v-on:change="onImageUploadAdd"
                      accept="image/*"
                      v-model="image_string"
                      show-size
                      prepend-icon="mdi-camera"
                      dense
                      filled
                      label="Trainer Image*"
                      :rules="imageRule"
                      @focus="imageR"
                      @blur="cancelImageR"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.facebook"
                      dense
                      type="url"
                      filled
                      :rules="urlRules"
                      @focus="urlR"
                      @blur="cancelUrlR"
                      label="Facebook"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.twitter"
                      dense
                      type="url"
                      filled
                      :rules="urlRules"
                      @focus="urlR"
                      @blur="cancelUrlR"
                      label="Twitter"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.linkedin"
                      dense
                      type="url"
                      filled
                      :rules="urlRules"
                      @focus="urlR"
                      @blur="cancelUrlR"
                      label="Linkedin"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="train.instagram"
                      dense
                      type="url"
                      :rules="urlRules"
                      @focus="urlR"
                      @blur="cancelUrlR"
                      filled
                      label="Instagram"
                      required
                    />
                  </div>
                  <div class="col-md-12">
                    <v-textarea
                      clearable
                      clear-icon="cancel"
                      v-model="train.description"
                      dense
                      filled
                      :rules="descriptionRule"
                      @focus="descriptionR"
                      @blur="cancelDescriptionR"
                      label="Trainer Description*"
                      required
                    ></v-textarea>
                  </div>

                  <v-col md="12">
                    <div v-if="errorMessage1" class="form-group fadein">
                      <v-alert text type="error" align="left">
                        {{errorMessage1}}
                      </v-alert>
                    </div>
                  </v-col>
                  <v-col md="12">
                    <div v-if="success" class="form-group fadein">
                      <v-alert text type="success" align="left">
                        {{resposeMessege}}
                      </v-alert>
                    </div>
                  </v-col>
                  <v-card-actions>
                    <v-row>
                      <v-col>
                        <v-btn
                          color="grey darken-4"
                          dark
                          rounded
                          :loading="loading"
                          :disabled="loading"
                          @click="addTrainer"
                          >Save</v-btn
                        >
                      </v-col>
                      <v-col>
                        <v-btn
                          color="red"
                          dark
                          rounded
                          @click="addTrainerDialog = false"
                          >Cancel</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-dialog v-model="editDialog" max-width="800">
          <v-card>
            <v-card-title> Edit Trainer Details </v-card-title>
            <v-card-text>
              <v-form id="nativeForm" ref="form" v-model="valid">
                <div class="row">
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.name"
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      label="Trainer Name"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.email"
                      dense
                      filled
                      :rules="emailRules"
                      label="Trainer Email"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.designation"
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      label="Trainer Designation"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-file-input
                      v-on:change="onImageUploadUpdate"
                      accept="image/*"
                      v-model="image_string"
                      show-size
                      prepend-icon="mdi-camera"
                      dense
                      filled
                      label="Trainer Image"
                      :rules="[(v) => !!v || 'Is required']"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.facebook"
                      dense
                      type="url"
                      filled
                      label="Facebook"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.twitter"
                      dense
                      type="url"
                      filled
                      label="Twitter"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.youtube"
                      dense
                      type="url"
                      filled
                      label="YouTube"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <v-text-field
                      v-model="editDialogContent.instagram"
                      dense
                      type="url"
                      filled
                      label="Instagram"
                      required
                    />
                  </div>
                  <div class="col-md-12">
                    <v-textarea
                      clearable
                      clear-icon="cancel"
                      v-model="editDialogContent.description"
                      dense
                      filled
                      :rules="[(v) => !!v || 'Is required']"
                      label="Trainer Description"
                      required
                    ></v-textarea>
                  </div>

                  <v-col md="12">
                    <div v-if="errorMessage1" class="form-group fadein">
                      <v-alert text type="error" align="left">
                        {{errorMessage1}}
                      </v-alert>
                    </div>
                  </v-col>
                  <v-col md="12">
                    <div v-if="success" class="form-group fadein">
                      <v-alert text type="success" align="left">
                        Trainer Details Updated!
                      </v-alert>
                    </div>
                  </v-col>
                  <v-card-actions>
                    <v-row>
                      <v-col>
                        <v-btn
                          color="grey darken-4"
                          dark
                          rounded
                          @click="updateTrainer"
                          >Update</v-btn
                        >
                      </v-col>
                      <v-col>
                        <v-btn
                          color="red"
                          dark
                          rounded
                          @click="editDialog = false"
                          >Cancel</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-dialog v-model="deleteTrainerDialog" max-width="500">
          <v-card>
            <v-card-title class="headline">Are you sure?</v-card-title>
            <v-card-text
              >Do you really want to delete this course ? This process cannot be
              undone.</v-card-text
            >
            <v-card-actions>
              <v-btn
                color="green darken-1"
                text
                @click="deleteTrainerDialog = false"
                class="btn"
                >Cancel</v-btn
              >
              <v-btn
                color="black darken-1"
                text
                :loading="deleteProcessing"
                :disabled="deleteProcessing"
                @click.prevent="deleteTrainer"
                class="btn"
                >Yes, delete it!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-container>
    </div>
    <Footer/>
  </div>
</template>

<script>
import InnerDashboardNav from "../../components/InnerDashboardNav";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
const regex = new RegExp(
  "^(http[s]?:\\/\\/(www\\.)?){1}([0-9A-Za-z-\\.@:%_+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?"
);
export default {
  name: "ManageTrainers",
  components: {
    InnerDashboardNav,
    Footer,
    Header,
    PreLoader
  },
  data() {
    return {
      // preloader:true,
      editDialog: false,
      
      addTrainerDialog: false,
      deleteTrainerDialog: false,
      deleteProcessing: false,
      image_string: "",
      loading: false,
      courseId: "",
      itemsPerPage: 6,
      headers: [
        {
          text: "Trainer Image",
          align: "start",
          value: "image",
          sortable: false,
        },
        {
          text: "Trainer Name",
          align: "start",
          value: "name",
          sortable: false,
        },
        {
          text: "Trainer Designation",
          align: "start",
          value: "designation",
          sortable: false,
        },
      ],
      trainers: [],
      user_id: "",
      trainer_id: "",
      resposeMessege:"",
      errorMessage1:"",
      train: {
        name: "",
        email: "",
        designation: "",
        image_file: "",
        facebook: "",
        twitter: "",
        linkedin: "",
        instagram: "",
        description: "",
      },
      editDialogContent:{
            trainer_id:"",
            name: "",
            email:"",
            designation: "",
            image_file: "",
            description: "",
            facebook: "",
            twitter: "",
            linkedin: "",
            instagram: ""
            },
      success: false,
      urlRules: [],
      nameRule: [],
      companyRule: [],
      designationRule: [],
      dateRule: [],
      commentRule: [],
      imageRule: [],
      descriptionRule: [],
      emailRules: []
    };
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  mounted() {
    this.getCourseList();
    this.user_id = localStorage.getItem("userId");
    setTimeout(() => {
      this.preloader=false
    }, 3500);
    this.$store.dispatch("persist")
        this.$store.dispatch("cartItem")
  },
  methods: {
    nameR() {
      this.nameRule = [(v) => !!v || "Name is required"];
    },
    cancelNameR() {
      this.nameRule = [];
    },

    companyR() {
      this.companyRule = [(v) => !!v || "Company is required"];
    },
    cancelCompanyR() {
      this.companyRule = [];
    },
    designationR() {
      this.designationRule = [(v) => !!v || "Designation is required"];
    },
    cancelDesignationR() {
      this.designationRule = [];
    },

    descriptionR() {
      this.descriptionRule = [(v) => !!v || "Description is required"];
    },
    cancelDescriptionR() {
      this.descriptionRule = [];
    },

    dateR() {
      this.dateRule = [(v) => !!v || "Date is required"];
    },
    cancelDateR() {
      this.dateRule = [];
    },

    commentR() {
      this.commentRule = [(v) => !!v || "Comment is required"];
    },
    cancelCommentR() {
      this.commentRule = [];
    },

    imageR() {
      this.imageRule = [(v) => !!v || "Image is required"];
    },
    cancelImageR() {
      this.imageRule = [];
    },

    emailR() {
      this.emailRules = [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ];
    },
    cancelEmailR() {
      this.emailRules = [];
    },

    urlR(){
      this.urlRules=[
        (v) => (v && regex.test(v)) || "Valid url required",
      ]
    },
    cancelUrlR(){
      this.urlRules=[]
    },

    async getCourseList() {
      let res = await this.$axios.post("trainingInstituteApi/trainer_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.trainers = res.data.data;
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
    onImageUploadAdd(e) {
      let image_string = this.image_string;
      // console.log(image_string);
      let reader = new FileReader();
      reader.onloadend = (image_string) => {
        this.train.image_file = reader.result;
        console.log("manageTrain", this.train.image_file);
        // this.trainers.image_file = this.trainers.image_file;
      };
      reader.readAsDataURL(image_string);
    },
    onImageUploadUpdate(e) {
      let image_string = this.image_string;
      // console.log(image_string);
      let reader = new FileReader();
      reader.onloadend = (image_string) => {
        this.editDialogContent.image_file = reader.result;
        console.log("manageTrainup", this.editDialogContent.image_file);
        // this.trainers.image_file = this.trainers.image_file;
      };
      reader.readAsDataURL(image_string);
    },
    addTrainerDia() {
      this.addTrainerDialog = true;
    },
    async addTrainer() {
      this.loading=true
      this.train.user_id = this.user_id;
      let res = await this.$axios.post(
        "trainingInstituteApi/add_trainer_without_course",
        this.train
      );
      if (res.data.result === 1) {
        this.resposeMessege=res.data.messege
        this.success = true;
        this.loading=false
        this.getCourseList();
        setTimeout(() => {
          this.success = false;
          this.addTrainerDialog = false;
          this.train = {
            name: "",
            email: "",
            designation: "",
            image_file: "",
            facebook: "",
            twitter: "",
            youtube: "",
            instagram: "",
            description: "",
          };
        }, 2000);
        console.log("add_trainer_without_course", res.data);
      }
      if(res.data.result ===0 ){
         this.errorMessage1=res.data.messege
       this.loading=false
       this.train = {
            name: "",
            email: "",
            designation: "",
            image_file: "",
            facebook: "",
            twitter: "",
            youtube: "",
            instagram: "",
            description: "",
          };
      }
    },
    editTrainerDia(trainer) {
      console.log("trainer", trainer);
      this.editDialog = true;
      this.editDialogContent.trainer_id = trainer.trainer_id
      this.editDialogContent.name=trainer.name
      this.editDialogContent.email=trainer.email
      this.editDialogContent.designation=trainer.designation
      this.editDialogContent.description=trainer.description
      this.editDialogContent.twitter=trainer.twitter
      this.editDialogContent.youtube=trainer.youtube
      this.editDialogContent.facebook=trainer.facebook
      this.editDialogContent.instagram=trainer.instagram
    },
    async updateTrainer(){
      this.loading=true
      this.editDialogContent.user_id=this.user_id
      let res = await this.$axios.post("trainingInstituteApi/update_trainer",this.editDialogContent);
      if(res.data.result===1){
        this.success = true;
        this.loading=false
        this.getCourseList();
        setTimeout(()=>{
          this.success = false;
          this.editDialog = false;
        },2000)
        console.log("updateTrainerwithoutCourse",res.data)
      }
    },
    deleteTrainerDia(trainer) {
      console.log("deletingtrainer", trainer);
      this.trainer_id = trainer.trainer_id;
      this.deleteTrainerDialog = true;
    },
    async deleteTrainer() {
      this.deleteProcessing=true
      let payload = {
        user_id: this.user_id,
        trainer_id: this.trainer_id,
      };
      let res = await this.$axios.post(
        "trainingInstituteApi/delete_trainer",
        payload
      );
      console.log("resp", res);
      if (res.data.result === 1) {
        this.getCourseList();
        this.deleteTrainerDialog = false;
        this.deleteProcessing=false
      }else{
        setTimeout(() => {
          this.deleteProcessing=false
        }, 2000);
      }
    },
  },
};
</script>

<style>
.v-pagination__item.v-pagination__item--active.primary {
  background: #000;
  border-color: #000;
}
</style>
