<template>
  <div class="fadein">
    <div v-if="preloader">
    <PreLoader/>
    </div>
    <Header/>
    <div class="section">
      <v-container>
        <h3 class="head2">Manage Courses</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li v-if="corporate_type === school">
              <router-link to="/corporate/Schooldashboard">Dashboard</router-link>
            </li>
            <li v-if="corporate_type === college">
              <router-link to="/corporate/Collegedashboard">Dashboard</router-link>
            </li>
            <li v-if="corporate_type === univer">
              <router-link to="/corporate/Universitydashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Manage Courses</a>
            </li>
          </ul>
        </div>

        <v-row v-if="corporate_type === training || corporate_type === indi">
          <v-col class="new-title">
            <div class="bx">
              <v-container>
                <v-row style="background-color: #000" class="ml-1">
                  <v-col class="text-left"><h4>Courses</h4></v-col>
                  <v-col class="text-right" align-self="center">
                    <router-link to="/corporate/add_new_course">
                      <v-btn> Add New </v-btn>
                    </router-link>
                  </v-col>
                </v-row>

                <v-simple-table>
                  <template>
                    <thead>
                      <tr>
                        <th class="text-center">Course Image</th>
                        <th class="text-center">Course Name</th>
                        <th class="text-center">Fees</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="course in courses" :key="course.course_id">
                        <td style="padding: 5px">
                          <v-img
                            max-height="80"
                            max-width="80"
                            :src="course.image"
                            :alt="course.name"
                          ></v-img>
                        </td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.fee }}</td>
                        <td>{{ course.duration }}</td>
                        <td>
                          <v-container>
                            <v-row>
                              <v-col class="text-right">
                                <nuxt-link
                                  :to="`/corporate/courses_reviews/${course.course_id}`"
                                >
                                  <v-icon class="mr-2" >mdi-message-draw</v-icon
                                  >
                                </nuxt-link>
                                <!-- <nuxt-link
                                  :to="`/courses/${course.name}/${course.course_id}`"
                                >
                                  <v-icon class="mr-2"> mdi-eye </v-icon>
                                </nuxt-link> -->
                                <nuxt-link
                                  :to="`/corporate/edit_course/${course.course_id}`"
                                >
                                  <v-icon class="mr-2"> mdi-pencil </v-icon>
                                </nuxt-link>
                                <v-icon
                                  @click="deleteModal(course)"
                                  class="mr-2"
                                >
                                  mdi-delete
                                </v-icon>
                                <v-btn-toggle
                                  v-model="course.status"
                                  tile
                                  group
                                  @change="changeStatus(course)"
                                >
                                  <v-btn
                                    :disabled="getStatusActive(course.status)"
                                    style="
                                      height: 30px;
                                      text-transform: capitalize;
                                      border-radius: 5px;
                                    "
                                    value="Active"
                                    size="small"
                                  >
                                    Active
                                  </v-btn>
                                  <v-btn
                                    :disabled="getStatusInactive(course.status)"
                                    style="
                                      height: 30px;
                                      text-transform: capitalize;
                                      border-radius: 5px;
                                    "
                                    value="Inactive"
                                    size="small"
                                  >
                                    Inactive
                                  </v-btn>
                                </v-btn-toggle>
                              </v-col>
                            </v-row>
                          </v-container>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <!-- <v-data-table
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="headers"
                :items="courses"
                sort-by="fee"
                class="elevation-1"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                @page-count="pageCount = $event"
              >
                <template v-slot:item="{ item }">
                  <v-container>
                    <div class="p-2">
                      <v-img
                        :src="item.image"
                        :alt="item.name"
                        height="50px"
                        width="100px"
                        style="margin: 7px"
                      ></v-img>
                    </div>
                    <template v-slot:item.name="{ item }">
                               <p>{{item.name}}</p>
                                <a>Add batches</a>
                            </template>

                    <nuxt-link :to="`/courses/${item.name}/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-eye </v-icon>
                    </nuxt-link>
                    <nuxt-link to="/">
                      <v-icon small class="mr-2"> mdi-plus </v-icon>
                    </nuxt-link>
                    <nuxt-link :to="`/corporate/edit_course/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-pencil </v-icon>
                    </nuxt-link>
                    <v-icon small @click="deleteModal(item)">
                      mdi-delete
                    </v-icon>
                    <v-btn-toggle
                      v-model="item.status"
                      tile
                      group
                      @change="changeStatus(item)"
                    >
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Active"
                        size="small"
                      >
                        Active
                      </v-btn>
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Inactive"
                        size="small"
                      >
                        Inactive
                      </v-btn>
                    </v-btn-toggle>
                  </v-container>
                </template>
              </v-data-table> -->
                <div class="text-center pt-2">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                  ></v-pagination>
                  <!-- <v-text-field :value="itemsPerPage" label="Items per page" type="number" min="-1" max="15" @input="itemsPerPage = parseInt($event, 10)"></v-text-field> -->
                </div>
              </v-container>
            </div>
          </v-col>
          <InnerDashboardNav />
        </v-row>

        <v-row
          v-if="
            corporate_type === school ||
            corporate_type === college ||
            corporate_type === univer
          "
        >
          <v-col class="new-title">
            <div class="bx">
              <v-container>
                <v-row style="background-color: #000" class="ml-1">
                  <v-col class="text-left"><h4>Courses</h4></v-col>
                  <v-col class="text-right" align-self="center">
                    <v-btn @click="addSCUCourse"> Add New </v-btn>
                  </v-col>
                </v-row>

                <v-simple-table>
                  <template>
                    <thead>
                      <tr>
                        <th class="text-center">Course Image</th>
                        <th class="text-center">Course Name</th>
                        <th class="text-center">Eligibility</th>
                        <th class="text-center">Fees</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="course in courses" :key="course.course_id">
                        <td style="padding: 5px">
                          <v-img
                            max-height="80"
                            max-width="80"
                            :src="course.image"
                            :alt="course.name"
                          ></v-img>
                        </td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.eligibility }}</td>
                        <td>{{ course.fee }}</td>
                        <td>{{ course.duration }}</td>
                        <td>
                          <v-container>
                            <v-row>
                              <v-col class="text-right">
                                <!-- <nuxt-link
                                  :to="`/courses/${course.name}/${course.course_id}`"
                                >
                                  <v-icon class="mr-2"> mdi-eye </v-icon>
                                </nuxt-link> -->
                                <v-icon
                                  class="mr-2"
                                  @click="editSCUCourse(course)"
                                >
                                  mdi-pencil
                                </v-icon>
                                <v-icon
                                  class="mr-2"
                                  @click="deleteModal(course)"
                                >
                                  mdi-delete
                                </v-icon>
                                <v-btn-toggle
                                  v-model="course.status"
                                  tile
                                  group
                                  @change="changeStatus(course)"
                                >
                                  <v-btn
                                    :disabled="getStatusActive(course.status)"
                                    style="
                                      height: 30px;
                                      text-transform: capitalize;
                                      border-radius: 5px;
                                    "
                                    value="Active"
                                    size="small"
                                  >
                                    Active
                                  </v-btn>
                                  <v-btn
                                    :disabled="getStatusInactive(course.status)"
                                    style="
                                      height: 30px;
                                      text-transform: capitalize;
                                      border-radius: 5px;
                                    "
                                    value="Inactive"
                                    size="small"
                                  >
                                    Inactive
                                  </v-btn>
                                </v-btn-toggle>
                              </v-col>
                            </v-row>
                          </v-container>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
                <!-- <v-data-table
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="headers"
                :items="courses"
                sort-by="fee"
                class="elevation-1"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                @page-count="pageCount = $event"
              >
                <template v-slot:item="{ item }">
                  <v-container>
                    <div class="p-2">
                      <v-img
                        :src="item.image"
                        :alt="item.name"
                        height="50px"
                        width="100px"
                        style="margin: 7px"
                      ></v-img>
                    </div>
                    <template v-slot:item.name="{ item }">
                               <p>{{item.name}}</p>
                                <a>Add batches</a>
                            </template>

                    <nuxt-link :to="`/courses/${item.name}/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-eye </v-icon>
                    </nuxt-link>
                    <nuxt-link to="/">
                      <v-icon small class="mr-2"> mdi-plus </v-icon>
                    </nuxt-link>
                    <nuxt-link :to="`/corporate/edit_course/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-pencil </v-icon>
                    </nuxt-link>
                    <v-icon small @click="deleteModal(item)">
                      mdi-delete
                    </v-icon>
                    <v-btn-toggle
                      v-model="item.status"
                      tile
                      group
                      @change="changeStatus(item)"
                    >
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Active"
                        size="small"
                      >
                        Active
                      </v-btn>
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Inactive"
                        size="small"
                      >
                        Inactive
                      </v-btn>
                    </v-btn-toggle>
                  </v-container>
                </template>
              </v-data-table> -->
                <div class="text-center pt-2">
                  <v-pagination
                    v-model="page"
                    :length="pageCount"
                  ></v-pagination>
                  <!-- <v-text-field :value="itemsPerPage" label="Items per page" type="number" min="-1" max="15" @input="itemsPerPage = parseInt($event, 10)"></v-text-field> -->
                </div>
              </v-container>
            </div>
          </v-col>
          <InnerDashboardNav />
          <!-- <SchoolDashboardNav v-if="corporate_type === school" />
          <CollegeDashboardNav v-if="corporate_type === college" />
          <UniversityDashboardNav v-if="corporate_type === univer" /> -->
        </v-row>

        <v-dialog v-model="addSCUCourseDialog" max-width="800">
          <v-card>
            <v-card-title> Add Course Details </v-card-title>
            <v-card-text>
              <v-form id="nativeForm" ref="addform" v-model="valid">
                <div class="row">
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="submitCourseDetails.course_name"
                      :rules="courseNameRule"
                      @focus="courseNameR"
                      @blur="cancelCourseNameR"
                      dense
                      filled
                      label="Course Name*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-file-input
                      ref="image_string"
                      v-on:change="onImageUpload"
                      v-model="img_string"
                      show-size
                      dense
                      :rules="courseImageRule"
                      @focus="courseImageR"
                      @blur="cancelCourseImageR"
                      filled
                      label="Course Image*"
                      accept="image/*"
                    ></v-file-input>
                  </v-col>
                  <v-col md="2" xs="12" sm="12">
                    <img
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      v-if="image"
                      :src="image"
                    />
                    <img
                      v-else
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                    />
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="submitCourseDetails.eligibility"
                      dense
                      filled
                      :rules="courseEligibilityRule"
                      @focus="courseEligibilityR"
                      @blur="cancelEligibilityR"
                      label="Eligibility*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="submitCourseDetails.duration"
                      :rules="courseDurationRule"
                      @focus="courseDurationR"
                      @blur="cancelCourseDurationR"
                      dense
                      filled
                      label="Duration*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="submitCourseDetails.fee"
                      :rules="courseFeeRule"
                      @focus="courseFeeR"
                      @blur="cancelCourseFeeR"
                      @keypress="onlyNumbers"
                      dense
                      filled
                      label="Fee*"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col md="12">
                    <div v-if="errorMessage1" class="form-group fadein">
                      <v-alert text type="error" align="left">
                        Some error occured!
                      </v-alert>
                    </div>
                  </v-col>
                  <v-col md="12">
                    <div v-if="success" class="form-group fadein">
                      <v-alert text type="success" align="left">
                        Course Added!
                      </v-alert>
                    </div>
                  </v-col>
                  <v-card-actions>
                    <v-row>
                      <v-col>
                        <v-btn
                          color="grey darken-4"
                          dark
                          rounded
                          v-if="valid"
                          :loading="loadingAdd"
                          :disabled="loadingAdd"
                          @click="submitCourse"
                          >Save Course</v-btn
                        >
                      </v-col>
                      <v-col>
                        <v-btn color="red" dark rounded @click="closeAdd"
                          >Cancel</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-dialog v-model="editSCUCourseDialog" max-width="800">
          <v-card>
            <v-card-title> Edit Course Details </v-card-title>
            <v-card-text>
              <v-form id="nativeForm" ref="editform">
                <div class="row">
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="editSCUCourseContent.name"
                      :rules="courseNameRule"
                      @focus="courseNameR"
                      @blur="cancelCourseNameR"
                      dense
                      filled
                      label="Course Name*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-file-input
                      ref="image_string"
                      v-on:change="onImageUploadUpdate"
                      v-model="image_string"
                      show-size
                      dense
                      filled
                      label="Course Image"
                      accept="image/*"
                    ></v-file-input>
                  </v-col>
                  <v-col md="2" xs="12" sm="12">
                    <img
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      v-if="image"
                      :src="image"
                    />
                    <img
                      v-else
                      style="
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 4px;
                      "
                      src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                    />
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="editSCUCourseContent.eligibility"
                      dense
                      filled
                      :rules="courseEligibilityRule"
                      @focus="courseEligibilityR"
                      @blur="cancelEligibilityR"
                      label="Eligibility*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="editSCUCourseContent.duration"
                      :rules="courseDurationRule"
                      @focus="courseDurationR"
                      @blur="cancelCourseDurationR"
                      dense
                      filled
                      label="Duration*"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col md="4" xs="12" sm="12">
                    <v-text-field
                      v-model="editSCUCourseContent.fee"
                      :rules="courseFeeRule"
                      @focus="courseFeeR"
                      @blur="cancelCourseFeeR"
                      @keypress="onlyNumbers"
                      dense
                      filled
                      label="Fee*"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col md="12">
                    <div v-if="errorMessage1" class="form-group fadein">
                      <v-alert text type="error" align="left">
                        Some error occured!
                      </v-alert>
                    </div>
                  </v-col>
                  <v-col md="12">
                    <div v-if="success" class="form-group fadein">
                      <v-alert text type="success" align="left">
                        Course Updated!
                      </v-alert>
                    </div>
                  </v-col>
                  <v-card-actions>
                    <v-row>
                      <v-col>
                        <v-btn
                          color="grey darken-4"
                          dark
                          rounded
                          :loading="loadingup"
                          :disabled="loadingup"
                          @click="updateCourse"
                          >Update</v-btn
                        >
                      </v-col>
                      <v-col>
                        <v-btn color="red" dark rounded @click="closeEdit"
                          >Cancel</v-btn
                        >
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
              <v-card-title class="headline">Are you sure?</v-card-title>
              <v-card-text
                >Do you really want to delete this course ? This process cannot
                be undone.</v-card-text
              >
              <v-card-actions>
                <v-row
                  ><v-col class="text-left">
                    <v-btn color="green darken-1" text @click="dialog = false"
                      >Cancel</v-btn
                    >
                    <v-btn
                      color="black darken-1"
                      text
                      :loading="deleteProcessing"
                      :disabled="deleteProcessing"
                      @click.prevent="deleteCourse"
                      >Yes, delete it!</v-btn
                    ></v-col
                  ></v-row
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
        <v-snackbar v-model="snackbar" color="black">
          <span style="color: #fff">Course Deleted!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="deleteError" color="red">
          <span style="color: #fff">Could not delete!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusTrue" color="black">
          <span style="color: #fff">Status changed!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusFalse" color="red">
          <span style="color: #fff">Could not change status!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
      </v-container>
    </div>
    <Footer/>
  </div>
</template>

<script>
import InnerDashboardNav from "../../components/InnerDashboardNav";
import SchoolDashboardNav from "../../components/SchoolDashboardNav";
import CollegeDashboardNav from "../../components/CollegeDashboardNav";
import UniversityDashboardNav from "../../components/UniversityDashboardNav";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
export default {
  name: "ManageCourses",
  components: {
    InnerDashboardNav,
    SchoolDashboardNav,
    CollegeDashboardNav,
    UniversityDashboardNav,
    Footer,
    Header,
    PreLoader
  },
  data() {
    return {
      page: 1,
      valid: true,
      pageCount: 0,
      itemsPerPage: 6,
      corporate_type: "",
      training: "Training Institute",
      indi: "Individual Trainer",
      school: "School",
      college: "College",
      univer: "University",
      status: "Active",
      dialog: false,
      statusTrue: false,
      statusFalse: false,
      user: null,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      courseId: "",
      deleteError: false,
      headers: [
        {
          text: "Course Image",
          align: "start",
          value: "image",
          sortable: false,
        },
        {
          text: "Course Name",
          value: "name",
          sortable: false,
        },
        {
          text: "Fee",
          value: "fee",
        },
        {
          text: "Duration",
          value: "duration",
        },
        {
          text: "Actions",
          value: "actions",
          sortable: false,
        },
      ],
      courses: [],
      user_id: "",
      addSCUCourseDialog: false,
      editSCUCourseDialog: false,
      img_string: "",
      image_string: "",
      submitCourseDetails: {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      },
      image: "",
      success: false,
      loadingAdd: false,
      loadingup: false,
      editSCUCourseContent: {
        course_id: "",

        duration: "",
        eligibility: "",
        fee: "",
        image: "",
        course_name: "",
      },
      courseNameRule: [],
      courseEligibilityRule: [],
      courseDurationRule: [],
      courseFeeRule: [],
      courseImageRule: [],
      isActive: false,
      isInactive: false,
      // preloader:true
    };
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
      this.corporate_type = localStorage.getItem("corporate");
    }
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  mounted() {
    this.getCourseList();
    this.user_id = localStorage.getItem("userId");
    setTimeout(() => {
      this.preloader=false
    }, 3500);
  },
  methods: {
    // getCourseId(id) {
    //   alert(1)
    //   localStorage.setItem("course_id_for_review", id);
    // },
    getStatusActive(c) {
      if (c == "Active") {
        return true;
      } else {
        return false;
      }
    },
    getStatusInactive(c) {
      if (c == "Inactive") {
        return true;
      } else {
        return false;
      }
    },
    courseNameR() {
      this.courseNameRule = [(v) => !!v || "Course name is required"];
    },
    cancelCourseNameR() {
      this.courseNameRule = [];
    },

    courseImageR() {
      this.courseImageRule = [(v) => !!v || "Course image is required"];
    },
    cancelCourseImageR() {
      this.courseImageRule = [];
    },

    courseEligibilityR() {
      this.courseEligibilityRule = [
        (v) => !!v || "Course eligibility is required",
      ];
    },
    cancelEligibilityR() {
      this.courseEligibilityRule = [];
    },

    courseDurationR() {
      this.courseDurationRule = [(v) => !!v || "Course duration is required"];
    },
    cancelCourseDurationR() {
      this.courseDurationRule = [];
    },

    courseFeeR() {
      this.courseFeeRule = [(v) => !!v || "Course fee is required"];
    },
    cancelCourseFeeR() {
      this.courseFeeRule = [];
    },

    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    closeAdd() {
      // (this.submitCourseDetails.course_name = "")
      //   (this.submitCourseDetails.image = "")
      //   (this.submitCourseDetails.eligibility = "")
      //   (this.submitCourseDetails.duration = "")
      //   (this.submitCourseDetails.fee = "")
      this.$refs.addform.reset();
      this.submitCourseDetails = {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      };
      this.image = "";
      this.addSCUCourseDialog = false;
    },
    closeEdit() {
      this.editSCUCourseContent = {
        course_name: "",
        image: "",
        eligibility: "",
        duration: "",
        fee: "",
      };
      this.image = "";
      this.editSCUCourseDialog = false;
    },
    onImageUpload() {
      let reader = new FileReader();

      reader.readAsDataURL(this.img_string);
      reader.onloadend = () => {
        this.submitCourseDetails.image = reader.result;
        this.image = reader.result;
        // this.submitCourseDetails.image = this.submitCourseDetails.image;
      };
    },

    addSCUCourse() {
      this.addSCUCourseDialog = true;
    },

    async submitCourse() {
      this.loadingAdd = true;
      this.submitCourseDetails.user_id = this.user_id;
      // console.log("payloadschool",this.submitCourseDetails)
      if (
        this.submitCourseDetails.course_name == "" ||
        this.submitCourseDetails.duration == "" ||
        this.submitCourseDetails.eligibility == "" ||
        this.submitCourseDetails.fee == ""
      ) {
        if (this.submitCourseDetails.course_name == "") {
          this.courseNameR();
        }

        if (this.submitCourseDetails.eligibility == "") {
          this.courseEligibilityR();
        }

        if (this.submitCourseDetails.duration == "") {
          this.courseDurationR();
        }

        if (this.submitCourseDetails.fee == "") {
          this.courseFeeR();
        }
        setTimeout(() => {
          this.loadingAdd = false;
        }, 1000);
      } else {
        this.cancelCourseImageR();
        this.cancelCourseNameR();
        this.cancelEligibilityR();
        this.cancelCourseDurationR();
        this.cancelCourseFeeR();
        let res = await this.$axios.post(
          "trainingInstituteApi/add_course_details",
          this.submitCourseDetails
        );
        if (res.data.result === 1) {
          this.success = true;
          this.loadingAdd = false;
          this.getCourseList();
          setTimeout(() => {
            this.success = false;
            this.valid = false;
            this.addSCUCourseDialog = false;
            this.$refs.addform.reset();
            this.submitCourseDetails = {
              course_name: "",
              image: "",
              eligibility: "",
              duration: "",
              fee: "",
            };
            this.image = "";
          }, 2000);
        } else {
          this.loadingAdd = false;
        }
      }
    },

    onImageUploadUpdate() {
      let reader = new FileReader();

      reader.readAsDataURL(this.image_string);
      reader.onloadend = () => {
        this.editSCUCourseContent.image = reader.result;
        this.image = reader.result;
        // this.submitCourseDetails.image = this.submitCourseDetails.image;
      };
    },

    editSCUCourse(course) {
      this.editSCUCourseDialog = true;
      (this.editSCUCourseContent.course_id = course.course_id),
        (this.editSCUCourseContent.duration = course.duration),
        (this.editSCUCourseContent.eligibility = course.eligibility),
        (this.editSCUCourseContent.fee = course.fee),
        (this.image = course.image),
        (this.editSCUCourseContent.name = course.name),
        console.log("editcoursedia", this.editSCUCourseContent);
    },

    async updateCourse() {
      this.loadingup = true;

      this.editSCUCourseContent.user_id = this.user_id;
      if (
        this.editSCUCourseContent.course_name == "" ||
        this.editSCUCourseContent.duration == "" ||
        this.editSCUCourseContent.eligibility == "" ||
        this.editSCUCourseContent.fee == ""
      ) {
        if (this.editSCUCourseContent.course_name == "") {
          this.courseNameR();
        }

        if (this.editSCUCourseContent.eligibility == "") {
          this.courseEligibilityR();
        }

        if (this.editSCUCourseContent.duration == "") {
          this.courseDurationR();
        }

        if (this.editSCUCourseContent.fee == "") {
          this.courseFeeR();
        }
        setTimeout(() => {
          this.loadingup = false;
        }, 1000);
      } else {
        this.cancelCourseImageR();
        this.cancelCourseNameR();
        this.cancelEligibilityR();
        this.cancelCourseDurationR();
        this.cancelCourseFeeR();
        let res = await this.$axios.post(
          "trainingInstituteApi/update_course_details",
          this.editSCUCourseContent
        );
        if (res.data.result === 1) {
          this.success = true;
          this.loadingup = false;
          this.getCourseList();
          setTimeout(() => {
            this.success = false;
            this.editSCUCourseDialog = false;
            this.editSCUCourseContent = {
              course_name: "",
              image: "",
              eligibility: "",
              duration: "",
              fees: "",
            };
            this.image = "";
          }, 2000);
        }
      }
    },

    deleteModal(item) {
      this.dialog = true;
      this.courseId = item.course_id;
    },
    async changeStatus(item) {
      console.log("this is is id", item.status, item.course_id);
      let res = await this.$axios.post(
        "trainingInstituteApi/update_course_status",
        {
          user_id: this.user_id,
          course_id: item.course_id,
          status: item.status,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.statusTrue = true;
      } else {
        this.statusFalse = true;
      }
    },
    async deleteCourse() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      // setTimeout(() =>
      //     this.$delete(this.snackbar = true, this.dialog = false, this.deleteProcessing = false),
      //     2000);
      let res = await this.$axios.post("trainingInstituteApi/delete_course", {
        user_id: this.user_id,
        course_id: this.courseId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.snackbar = true;
        this.dialog = false;
        this.deleteProcessing = false;
        this.getCourseList();
      } else {
        this.deleteError = true;
        this.dialog = false;
        this.deleteProcessing = false;
      }
    },
    async getCourseList() {
      let user=localStorage.getItem("userId")
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: user
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courses = res.data.data;
        for (let i = 0; i < res.data.data.length; i++) {
          if (res.data.data[i].status == "Active") {
            this.isActive = true;
          }
          if (res.data.data[i].status == "Inactive") {
            this.isInactive = true;
          }
        }
        console.log("werwe34535353", res.data.data);
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
  },
};
</script>

<style>
.v-pagination__item.v-pagination__item--active.primary {
  background: #000;
  border-color: #000;
}
</style>
