<template>
  <div class="fadein">
    <div v-if="preloader">
    <PreLoader/>
    </div>
    <Header/>
    <div class="section">
      <v-container>
        <h3 class="head2">Purchased Course List</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li v-if="corporate_type == 'School'">
              <router-link to="/corporate/Schooldashboard">Dashboard</router-link>
            </li>
            <li v-if="corporate_type == 'College'">
              <router-link to="/corporate/Collegedashboard">Dashboard</router-link>
            </li>
            <li v-if="corporate_type == 'University'">
              <router-link to="/corporate/Universitydashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Purchased Courses</a>
            </li>
          </ul>
        </div>

        <v-row>
          <v-col class="new-title">
            <div class="bx">
              <v-container>
                <v-row style="background-color:#000" class="ml-1">
                  <v-col class="text-left"><h4>
                Courses</h4></v-col>
                  <!-- <v-col class="text-right" align-self="center">
                    <router-link
                  to="/corporate/add_new_course"
                  >
                    <v-btn>
                        Add New
                    </v-btn>
                    </router-link
                >
                  </v-col> -->
                </v-row>
              
                <v-simple-table>
                  <template >
                    <thead>
                      <tr>
                        <th class="text-center">Course Name</th>
                        <th class="text-center">Corporate / Customer Type</th>
                        <th class="text-center">Corporate  / Customer Name</th>
                        <th class="text-center">Mobile no</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Transaction Date</th>

                        <th class="text-center">Transaction Status</th>

                      </tr>
                    </thead>
                    <!-- <tbody v-if="purchasedCourseList.length===0">
                      <v-row><v-col class="text-center"><h6 >You have no course purchased yet</h6></v-col></v-row>
                    </tbody>
                    <tbody v-if="purchasedCourseList.length>0">
                      <tr v-for="course in purchasedCourseList" :key="course.name">
                        <td>{{ course.name }}</td>
                        <td>{{ course.training_institute }}</td>
                        <td>{{ course.trainer_name }}</td>
                        <td>{{ course.fee }}</td>
                        <td>{{ course.duration }}</td> -->
                        <!-- <td >
                          <v-container >
                            
                            <v-row>
                              <v-col class="text-right">
                            <nuxt-link
                              :to="`/courses/${course.name}/${course.course_id}`"
                            >
                              <v-icon class="mr-2"> mdi-eye </v-icon>
                            </nuxt-link>
                            <nuxt-link
                              :to="`/corporate/edit_course/${course.course_id}`"
                            >
                              <v-icon class="mr-2"> mdi-pencil </v-icon>
                            </nuxt-link>
                            <v-icon  @click="deleteModal(course)" class="mr-2">
                              mdi-delete
                            </v-icon>
                            <v-btn-toggle
                              v-model="course.status"
                              tile
                              group
                              @change="changeStatus(course)"
                            >
                              <v-btn
                                style="
                                  height: 30px;
                                  text-transform: capitalize;
                                  border-radius: 5px;
                                "
                                value="Active"
                                size="small"
                              >
                                Active
                              </v-btn>
                              <v-btn
                                style="
                                  height: 30px;
                                  text-transform: capitalize;
                                  border-radius: 5px;
                                "
                                value="Inactive"
                                size="small"
                              >
                                Inactive
                              </v-btn>
                            </v-btn-toggle>
                              </v-col>
                            </v-row>
                          </v-container>
                        </td> -->
                      <!-- </tr>
                    </tbody> -->
                  </template>
                </v-simple-table>
              <!-- <v-data-table
                :loading="loading"
                loading-text="Loading... Please wait"
                :headers="headers"
                :items="courses"
                sort-by="fee"
                class="elevation-1"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                @page-count="pageCount = $event"
              >
                <template v-slot:item="{ item }">
                  <v-container>
                    <div class="p-2">
                      <v-img
                        :src="item.image"
                        :alt="item.name"
                        height="50px"
                        width="100px"
                        style="margin: 7px"
                      ></v-img>
                    </div>
                    <template v-slot:item.name="{ item }">
                               <p>{{item.name}}</p>
                                <a>Add batches</a>
                            </template>

                    <nuxt-link :to="`/courses/${item.name}/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-eye </v-icon>
                    </nuxt-link>
                    <nuxt-link to="/">
                      <v-icon small class="mr-2"> mdi-plus </v-icon>
                    </nuxt-link>
                    <nuxt-link :to="`/corporate/edit_course/${item.course_id}`">
                      <v-icon small class="mr-2"> mdi-pencil </v-icon>
                    </nuxt-link>
                    <v-icon small @click="deleteModal(item)">
                      mdi-delete
                    </v-icon>
                    <v-btn-toggle
                      v-model="item.status"
                      tile
                      group
                      @change="changeStatus(item)"
                    >
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Active"
                        size="small"
                      >
                        Active
                      </v-btn>
                      <v-btn
                        style="
                          height: 30px;
                          text-transform: capitalize;
                          border-radius: 5px;
                        "
                        value="Inactive"
                        size="small"
                      >
                        Inactive
                      </v-btn>
                    </v-btn-toggle>
                  </v-container>
                </template>
              </v-data-table> -->
              <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"></v-pagination>
                <!-- <v-text-field :value="itemsPerPage" label="Items per page" type="number" min="-1" max="15" @input="itemsPerPage = parseInt($event, 10)"></v-text-field> -->
              </div>
              </v-container>
            </div>
          </v-col>
          <InnerDashboardNav />
        </v-row>
        <v-row justify="center">
          <v-dialog v-model="dialog" persistent max-width="500">
            <v-card>
              <v-card-title class="headline">Are you sure?</v-card-title>
              <v-card-text
                >Do you really want to delete this course ? This process cannot
                be undone.</v-card-text
              >
              <v-card-actions>
                <v-btn
                  color="green darken-1"
                  text
                  @click="dialog = false"
                  class="btn"
                  >Cancel</v-btn
                >
                <v-btn
                  color="black darken-1"
                  text
                  :loading="deleteProcessing"
                  :disabled="deleteProcessing"
                  @click.prevent="deleteCourse"
                  class="btn"
                  >Yes, delete it!</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
        <v-snackbar v-model="snackbar" color="black">
          <span style="color: #fff">Course Deleted!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="deleteError" color="red">
          <span style="color: #fff">Could not delete!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusTrue" color="black">
          <span style="color: #fff">Status changed!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
        <v-snackbar v-model="statusFalse" color="red">
          <span style="color: #fff">Could not change status!</span>
          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
              <span style="color: #fff">Close</span>
            </v-btn>
          </template>
        </v-snackbar>
      </v-container>
    </div>
    <Footer/>
  </div>
</template>

<script>
import InnerDashboardNav from "../../components/InnerDashboardNav";
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
export default {
  name: "ManageCourses",
  components: {
    InnerDashboardNav,
    Footer,
    Header,
    PreLoader
  },
  data() {
    return {
      // preloader:true,
      page: 1,
      pageCount: 0,
      itemsPerPage: 6,
      status: "Active",
      dialog: false,
      statusTrue: false,
      statusFalse: false,
      user: null,
      loading: true,
      deleteProcessing: false,
      snackbar: false,
      courseId: "",
      deleteError: false,
      headers: [
        {
          text: "Course Image",
          align: "start",
          value: "image",
          sortable: false,
        },
        {
          text: "Course Name",
          value: "name",
          sortable: false,
        },
        {
          text: "Fee",
          value: "fee",
        },
        {
          text: "Duration",
          value: "duration",
        },
        {
          text: "Actions",
          value: "actions",
          sortable: false,
        },
      ],
      courses: [],
      user_id: "",
      purchasedCourseList:[],
      corporate_type:""
    };
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  mounted() {
    this.corporate_type = localStorage.getItem("corporate");
    this.getCourseList();
    this.getCoursePurchaseList()
    this.user_id = localStorage.getItem("userId");
    setTimeout(() => {
      this.preloader=false
    }, 3500);
    this.$store.dispatch("persist")
        this.$store.dispatch("cartItem")
  },
  methods: {
    deleteModal(item) {
      this.dialog = true;
      this.courseId = item.course_id;
    },
    async changeStatus(item) {
      // console.log("this is is id", item.status, item.course_id);
      let res = await this.$axios.post(
        "trainingInstituteApi/update_course_status",
        {
          user_id: this.user_id,
          course_id: item.course_id,
          status: item.status,
        }
      );
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.statusTrue = true;
      } else {
        this.statusFalse = true;
      }
    },
    async deleteCourse() {
      this.deleteProcessing = true;
      this.snackbar = false;
      this.deleteError = false;
      // setTimeout(() =>
      //     this.$delete(this.snackbar = true, this.dialog = false, this.deleteProcessing = false),
      //     2000);
      let res = await this.$axios.post("trainingInstituteApi/delete_course", {
        user_id: this.user_id,
        course_id: this.courseId,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.deleteError = false;
        this.snackbar = true;
        this.dialog = false;
        this.deleteProcessing = false;
      } else {
        this.deleteError = true;
        this.dialog = false;
        this.deleteProcessing = false;
      }
    },
    async getCourseList() {
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.courses = res.data.data;
        this.loading = false;
      } else {
        this.loading = false;
      }
    },
    async getCoursePurchaseList(){
      let res = await this.$axios.post("CustomerApi/purchased_course_list", {
        user_id: this.user_id,
      });
      if(res.data.result===1){
        this.purchasedCourseList=res.data.data
        console.log("purchasedCourseList",res.data.data)
      }
    }
  },
};
</script>

<style>
.v-pagination__item.v-pagination__item--active.primary {
  background: #000;
  border-color: #000;
}
</style>
