<template>
  <div class="fadein">
    <div>
      <div
        class="inner-banner dashboardBanner"
        :style="{ backgroundImage: `url(${banner_image})` }"
      >
        <h2 style>
          {{ name }}
          <!-- <span><button class="">Change banner</button></span> -->
        </h2>
        <div class="container">
          <v-col>
            <div class="breadcrumb">
              <ul>
                <li>
                  <router-link to="/">Home</router-link>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <nuxt-link to="/corporate/Trainerdashboard"
                    >My Profile</nuxt-link
                  >
                </li>
              </ul>
              <v-col class="text-right">
                <v-btn
                  color="#fff"
                  icon
                  outlined
                  elevation="2"
                  @click="openModal"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </v-col>

              <!-- <a
            style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
            >Change banner image</a -->
            </div>
          </v-col>
        </div>
        <v-container>
          <v-row>
            <v-col>
              <!-- <a
              style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
              @click="openModal"
              ><i class="ion-edit" style="color:#fff"></i
            ></a> -->
            </v-col>
          </v-row>
        </v-container>
      </div>
    </div>
    <div class="profile js-sidebar-holder">
      <div class="container">
        <div class="panel-main row">
          <div class="main">
            <div class="col-md-3 col-sm-12 dashboardNav profileNav">
              <div class="course-profile">
                <ProfileCard
                  :facebook="profileData.facebook"
                  :linkedin="profileData.linkedin"
                  :insta="profileData.instagram"
                  :twitter="profileData.twitter"
                  :youtube="profileData.youtube"
                  :name="companyName"
                  :mobile="userMobile"
                  :email="userEmail"
                  :profilePic="profileData.profile_image"
                  :userWebsite="profileData.website_link"
                />
                <IndiTrainerNav />
              </div>
            </div>
            <div class="col-md-9 col-sm-12">
              <UploadResume />

              <!-- <VendorBoard :profile="profileData" :loader="aboutLoading" /> -->
              <BasicInfo :profile="profileData" :loader="aboutLoading" />
              <Education />
              <Employment />
              <Certification />
              <CorporateDashboardCourses 
              :courses="dashboardCourses"
              :loader="courseLoading"/>
              <TechnicalSkill />
              <ProfessionalSkills />
              <KeySkills />
              <Languages />

              <Kyc />
              <Hobbies />

              <!-- <PersonalDetails
                v-if="
                  profileData.gender ||
                  profileData.dob ||
                  profileData.martial_status
                "
                :profile="profileData"
                :loader="aboutLoading"
              />
              <Employment
                v-if="
                  profileData.employement_list &&
                  profileData.employement_list.length
                "
                :data="profileData.employement_list"
                :loader="aboutLoading"
              />
              <Education
                v-if="
                  profileData.eduction_list && profileData.eduction_list.length
                "
                :data="profileData.eduction_list"
              />
              
              <EnrolledCourses
                v-if="enrolledCoursesList && enrolledCoursesList.length"
                :data="enrolledCoursesList"
                :loader="courseLoader"
              /> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Change Banner</v-col>
        </v-card-title>
        <v-card-text>
          <v-form ref="file">
            <v-file-input
              ref="image_string"
              v-model="image_string"
              v-on:change="onChangeBanner"
              accept="image/*"
              dense
              filled
              :rules="imageRule"
              @focus="imageR"
              @blur="cancelImageR"
              label="Upload Image"
              required
            >
            </v-file-input>
          </v-form>
          <v-alert v-if="error" text type="error">
            {{ errorMessage }}
          </v-alert>
          <v-alert v-if="success" text type="success" align="left">
            Banner Changed Successfully.
          </v-alert>

          <v-card-actions>
            <div class="col-md-12" style="display: flex; align-items: center">
              <v-btn
                rounded
                dark
                :disabled="loading"
                :loading="loading"
                color="grey darken-4"
                @click="Uploadbanner"
                >Save
              </v-btn>
              <v-btn rounded dark color="red" @click="closeEdit">Cancel</v-btn>
            </div>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
<script>
$(document).ready(function () {
  $(".js-sidebar-menu").scrollToFixed({
    marginTop: 20,
    limit:
      $(".js-sidebar-holder").outerHeight() +
      90 -
      $(".js-sidebar-menu").outerHeight(),
  });

  $(".js-navigation-item").bind("click", function (e) {
    e.preventDefault();

    var target = $(this).attr("href");

    if (target.length > 1) {
      $("html, body")
        .stop()
        .animate(
          {
            scrollTop: $(target).offset().top,
          },
          600,
          function () {
            location.hash = target;
          }
        );
    }

    return false;
  });
});

$(window)
  .scroll(function () {
    var scrollDistance = $(window).scrollTop();

    $(".article-section").each(function (i) {
      if ($(this).position().top - 2 <= scrollDistance) {
        $(".js-navigation-list .js-navigation-item.active").removeClass(
          "active"
        );
        $(".js-navigation-list .js-navigation-item").eq(i).addClass("active");
      }
    });
  })
  .scroll();
</script>
<script>
import banner from "../../assets/img/picnic.jpg";
import IndiTrainerNav from "../../components/CorporateDashboard/IndiTrainerNav";
import ProfileCard from "../../components/ProfileCard";
import VendorBoard from "../../components/VendorBoard";
import CorporateDashboardCourses from "../../components/CorporateDashboardCourses";
import BasicInfo from "../../components/CustomerDashboard/BasicInfo";
import PersonalDetails from "../../components/CustomerDashboard/PersonalDetails";
import Employment from "../../components/CustomerDashboard/Employment";
import Education from "../../components/CustomerDashboard/Education";
import Skills from "../../components/CustomerDashboard/Skills";
//import EnrolledCourses from "../../components/CustomerDashboard/EnrolledCourses";
import UploadResume from "../../components/CustomerDashboard/UploadResume";
import Certification from "../../components/CustomerDashboard/Certification";
import TechnicalSkill from "../../components/CustomerDashboard/TechnicalSkill";
import ProfessionalSkills from "../../components/CustomerDashboard/ProfessionalSkills";
import KeySkills from "../../components/CustomerDashboard/KeySkills";
import Languages from "../../components/CustomerDashboard/Languages";
import Hobbies from "../../components/CustomerDashboard/Hobbies";
import Courses from "../../components/CustomerDashboard/Courses";
import Kyc from "../../components/CorporateDashboard/Kyc";

export default {
  name: "customerProfile",
  components: {
    IndiTrainerNav,
    ProfileCard,
    BasicInfo,
    PersonalDetails,
    Employment,
    Education,
    Skills,
    VendorBoard,
    //  EnrolledCourses,
    UploadResume,
    Certification,
    TechnicalSkill,
    ProfessionalSkills,
    KeySkills,
    Languages,
    Hobbies,
    Courses,
    Kyc,
    CorporateDashboardCourses
  },
  data() {
    return {
      banner,
      name: "",

      user_id: "",

      image: false,
      noimage: false,
      success: false,
      dialog: false,
      banner_image: "",
      edit_banner_image: "",
      error: false,
      profileData: "",
      enrolledCoursesList: [],
      courseLoader: true,
      imageRule: [],
      image_string: "",
      dashboardCourses:[],
      courseLoading:false
    };
  },
  methods: {
    closeEdit() {
      this.dialog = false;
      this.edit_banner_image = "";
      this.image_string = "";
    },
    imageR() {
      this.imageRule = [(v) => !!v || "Image is required"];
    },
    cancelImageR() {
      this.imageRule = [];
    },
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("/CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
    async getEnrolledCourses() {
      this.courseLoader = true;
      let res = await this.$axios.post("CustomerApi/purchased_course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.enrolledCoursesList = res.data.data;
        this.courseLoader = false;
      } else {
      }
    },
    openModal() {
      (this.success = false), (this.error = false), (this.dialog = true);
    },
    onChangeBanner(e) {
      if (this.image_string === undefined) {
        this.edit_banner_image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit_banner_image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async Uploadbanner() {
      this.loading = true;
      // this.edit.user_id = localStorage.getItem("userId");
      if (this.edit_banner_image == "") {
        this.imageR();
        this.errorMessage = "Please choose an image";
        this.loading = false;
        this.error = true;
        setTimeout(() => {
          this.error = false;
        }, 1000);
      } else {
        let resp = await this.$axios.post(
          "/trainingInstituteApi/upload_banner",
          {
            user_id: this.user_id,
            banner_image: this.edit_banner_image,
          }
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.success = true;

          setTimeout(() => (this.dialog = false), 2000);
          this.loading = false;
          this.getbanner();
          this.edit_banner_image = "";
          this.image_string = "";
        }
      }
    },
    async getbanner() {
      // this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post("/trainingInstituteApi/get_banner", {
        user_id: this.user_id,
      });
      console.log("list data", respo.data.message);

      this.banner_image = respo.data.data.banner_image;
    },
    async getCourseList() {
      this.courseLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.dashboardCourses = res.data.data.reverse().slice(0, 3);
        this.courseLoading = false;
      } else {
        this.courseLoading = false;
      }
    },
  },
  mounted() {
    this.name = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.getProfile();
    this.getEnrolledCourses();
    this.getbanner();
    this.getCourseList()
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (this.user_id === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style scoped></style>
<style>
/* .profileNav {
    top: -270px;
} */

/* .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
} */
.adresses p {
  padding-left: 7px;
  position: relative;
  display: flex;
  align-items: center;
}

.adresses p i {
  font-size: 20px;
  padding-right: 12px;
  line-height: 2;
}
.fadein {
  min-width: 100%;
  height: auto;
  overflow-x: auto;
  justify-content: right;
  align-items: right;
}
/* .adresses p::before {
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
} */
</style>
