<template>
  <div class="fadein">
    <div v-if="preloader">
    <PreLoader/>
    </div>
    <Header/>
    <div v-if="noimage">
      <div
        class="inner-banner dashboardBanner"
        :style="{ backgroundImage: `url(${banner})` }"
      >
        <h2 style>
          {{ profileData.display_name }}
          <!-- <span style>Open: 3 PM To 6 PM</span> -->
          <!-- <span><button class="">Change banner</button></span> -->
        </h2>
        <v-container>
          <div class="breadcrumb">
            <ul>
              <li>
                <router-link to="/">Home</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">Dashboard</a>
              </li>
               <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">{{profileData.display_name}}</a>
              </li>
            </ul>
            <v-col class="text-right">
              <v-btn
                color="#fff"
                icon
                outlined
                elevation="2"
                @click="openModal"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
            <!-- <a
              style="
                position: absolute;
                top: 87px;
                right: 18px;
                color: #fff;
                border: 1px solid #fff;
                padding: 4px 10px;
                border-radius: 25px;
              "
              @click="openModal"
              ><i class="ion-edit" style="color: #fff"></i
            ></a> -->
          </div>
        </v-container>
      </div>
    </div>
    <div v-if="image">
      <div
        class="inner-banner dashboardBanner"
        :style="{ backgroundImage: `url(${bannerlink})` }"
      >
        <h2 style>
          {{ profileData.display_name }}
          <!-- <span style>Open: 3 PM To 6 PM</span> -->
          <!-- <span><button class="">Change banner</button></span> -->
        </h2>
        <v-container>
          <div class="breadcrumb">
            <ul>
              <li>
                <router-link to="/">Home</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">Dashboard</a>
              </li>
               <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">{{profileData.display_name}}</a>
              </li>
            </ul>
            <v-col class="text-right">
              <v-btn
                color="#fff"
                icon
                outlined
                elevation="2"
                @click="openModal"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
            <!-- <a
              style="
                position: absolute;
                top: 87px;
                right: 18px;
                color: #fff;
                border: 1px solid #fff;
                padding: 4px 10px;
                border-radius: 25px;
              "
              @click="openModal"
              ><i class="ion-edit" style="color: #fff"></i
            ></a> -->
          </div>
        </v-container>
      </div>
    </div>
    <div class="section">
      <v-container>
        <div class="panel-main row">
          <div class="main">
            <v-row>
              <div class="col-md-3 dashboardNav profileNav">
                <div class="course-profile">
                  <ProfileCard
                    :facebook="profileData.facebook"
                    :linkedin="profileData.linkedin"
                    :insta="profileData.instagram"
                    :twitter="profileData.twitter"
                    :youtube="profileData.youtube"
                    :name="companyName"
                    :mobile="userMobile"
                    :email="userEmail"
                    :profilePic="profileData.logo_image"
                    :userWebsite="profileData.website_link"
                  />
                  <UniversityDashboardNav />
                </div>
              </div>
              <v-col md="9">
                <VendorBoard :profile="profileData" :loader="aboutLoading" />

                <!-- <UniversityInfo /> -->
                <Address />
                <Gallery />
                <Staff />
                <!-- <Trainer /> -->
                <News />
                <Facilities />

                <CorporateDashboardCourses
                  :courses="dashboardCourses"
                  :loader="courseLoading"
                />

                <Jobs />
                <DashboardReviews />
                <Placements />
                <Subscription />
                <Kyc />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-container>
    </div>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Change Banner</v-col>
        </v-card-title>
        <v-card-text>
        <v-form ref="bannerfile">
          <v-file-input
            ref="image_string"
            v-model="image_string"
            v-on:change="onChange"
            accept="image/jpeg"
            dense
            filled
            :rules="[(v) => !!v || 'Image is required']"
            label="Upload Image*"
            required
          >
          </v-file-input>
          <v-row
              ><v-col class="ml-3 mt-5"
                ><p style="font-color: #e74c3c">
                  Image Format (.jpeg)
                </p></v-col
              ></v-row
            >
        </v-form>
        <v-alert v-if="error" text type="error">
          {{ errorMessage }}
        </v-alert>
        <v-alert v-if="success" text type="success" align="left">
          Banner Changed Successfully.
        </v-alert>

        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
            rounded
            dark
            color="grey darken-4"
              :disabled="loading"
              :loading="loading"
              @click="submitForm"
            >Save
            </v-btn>
            <v-btn
              rounded
              dark
              color="red"
              @click="closeBannerDialog"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
    <Footer/>
  </div>
</template>

<script>
import banner from "../../assets/img/picnic.jpg";
import UniversityDashboardNav from "../../components/UniversityDashboardNav";
import VendorBoard from "../../components/VendorBoard";
import DashboardReviews from "../../components/DashboardReviews";
import CorporateDashboardCourses from "../../components/CorporateDashboardCourses";
import ProfileCard from "../../components/ProfileCard";
//import UniversityInfo from "../../components/CorporateDashboard/UniversityInfo";
import Address from "../../components/CorporateDashboard/Address";
import Gallery from "../../components/CorporateDashboard/Gallery";
import Staff from "../../components/CorporateDashboard/Staff";
import News from "../../components/CorporateDashboard/News";
import Facilities from "../../components/CorporateDashboard/Facilities";
import Jobs from "../../components/CorporateDashboard/Jobs";
import Kyc from "../../components/CorporateDashboard/Kyc";
import Placements from "../../components/CorporateDashboard/Placements";
import Subscription from "../../components/CorporateDashboard/Subscription";
import PreLoader from "../../components/PreLoader";
import Footer from "../../components/Footer";
import Header from "../../components/Header";

export default {
  name: "Dashboard",
  components: {
    UniversityDashboardNav,
    VendorBoard,
    DashboardReviews,
    CorporateDashboardCourses,
    ProfileCard,
    // UniversityInfo,
    Placements,
    Address,
    Gallery,
    Staff,
    // Trainer,
    News,
    Facilities,
    Jobs,
    Kyc,
    Subscription,
    PreLoader,
    Header,
    Footer
  },
  data() {
    return {
      banner,
      // preloader:true,
      user_id: "",
      user: null,
      edit: {
        banner_image: "",
        user_id: "",
      },
      image: false,
      noimage: false,
      success: false,
      dialog: false,
      bannerlink: "",
      error: false,
      companyName: "",
      userMobile: "",
      userEmail: "",
      userWebsite: "",
      profileData: "",
      dashboardCourses: "",
      aboutLoading: false,
      courseLoading: false,
      bannerRule: [],
      loading:false,
      image_string:""
    };
  },
  mounted() {
    // this.$loading = this.$refs.loading
    this.companyName = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.getProfile();
    this.getCourseList();
    this.getbanner();
    setTimeout(() => {
      this.preloader=false
    }, 3000);
    this.$store.dispatch("persist")
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  methods: {
    closeBannerDialog() {
      this.$refs.image_string.reset();
      this.$refs.bannerfile.reset();
      this.dialog = false;
    },
    bannerR() {
      this.bannerRule = [(v) => !!v || "Image is required"];
    },
    cancelBannerR() {
      this.bannerRule = [];
    },
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
    async getCourseList() {
      this.courseLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.dashboardCourses = res.data.data.reverse().slice(0, 3);
        this.courseLoading = false;
      } else {
        this.courseLoading = false;
      }
    },
    openModal() {
      (this.success = false), (this.error = false), (this.dialog = true);
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.banner_image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.banner_image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      if (!this.$refs.bannerfile.validate()) {
        this.error = true;
          this.errorMessage = "Please choose an image"
        setTimeout(() => {
          this.loading = false;
          this.error = false;
        },1000);
      } else {
        let resp = await this.$axios.post(
          "/trainingInstituteApi/upload_banner",
          this.edit
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.success = true;

          setTimeout(() => {
            this.dialog = false;
            this.success = false;
          }, 2000);
          this.loading = false;
          this.getbanner();
          this.$refs.image_string.reset();
          this.$refs.bannerfile.reset();
        }
      }
    },
    async getbanner() {
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "/trainingInstituteApi/get_banner",
        this.edit
      );
      console.log("list data", respo.data.message);
      this.bannerlink = respo.data.data.banner_image;
      console.log("bannerdata", this.bannerlink);
      if (this.bannerlink === "") {
        this.noimage = true;
      } else {
        this.noimage = false;
        this.image = true;
      }
      // this.errorMessage = res.data.message;
    },
  },
};
</script>

<style>
/* .profileNav {
    top: -210px;
} */
</style>
<style scoped>
.form-group {
  margin-bottom: 0;
}

.adresses p {
  padding-left: 7px;
  position: relative;
  display: flex;
  align-items: center;
}

.adresses p i {
  font-size: 20px;
  padding-right: 12px;
  line-height: 2;
}
.fadein {
  min-width: 100%;
  height: auto;
  overflow-x: auto;
  justify-content: right;
  align-items: right;
}
</style>
