<template>
  <div class="fadein">
    <div class="section">
      <v-container>
        <h3 class="small-title">Update profile</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/dashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Update profile</a>
            </li>
          </ul>
        </div>

        <div class="form profileUpdateForm updateProfile">
          <div class="row">
            <v-col md="9">
              <div class="bx">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-row>
                    <v-stepper v-model="e6" vertical>
                      <v-stepper-step
                        :editable="basic"
                        :complete="e6 > 1"
                        step="1"
                      >
                        Basic details
                      </v-stepper-step>

                      <v-stepper-content step="1" autocomplete="off">
                        <v-container
                          style="background-color: #f4f6f6"
                          class="px-4 py-4 border rounded-lg"
                        >
                          <v-row>
                            <v-col md="4" sm="12" class="form-group">
                              <v-text-field
                                dense
                                filled
                                v-model="updateProfile.email"
                                :rules="emailRules"
                                label="E-mail"
                                required
                              ></v-text-field>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-text-field
                                label="Mobile Number"
                                dense
                                filled
                                v-model="updateProfile.mobile_no"
                                :rules="phoneRules"
                                hide-details="auto"
                                @keypress="onlyNumbers"
                                maxlength="10"
                                minlength="10"
                              ></v-text-field>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-text-field
                                label="Landline Number"
                                dense
                                filled
                                v-model="updateProfile.landline_no"
                                hide-details="auto"
                                @keypress="onlyNumbers"
                                maxlength="10"
                                minlength="10"
                              ></v-text-field>
                            </v-col>
                            <v-col md="12">
                              <v-textarea
                                v-model="updateProfile.aboutus"
                                clearable
                                clear-icon="cancel"
                                dense
                                filled
                                auto-grow
                                rows="4"
                                :rules="rules"
                                label="About us"
                              ></v-textarea>
                            </v-col>

                            <v-col md="4" sm="12" class="form-group">
                              <v-file-input
                                ref="image_string"
                                v-on:change="onFile"
                                v-model="image_string"
                                prepend-icon="mdi-camera"
                                show-size
                                dense
                                filled
                                label="logo Image"
                              ></v-file-input>
                            </v-col>
                            <v-col md="4" sm="12">
                              <img
                                style="
                                  width: 50px;
                                  height: 50px;
                                  object-fit: cover;
                                  border-radius: 4px;
                                "
                                v-if="profile_im"
                                :src="profile_im"
                              />
                              <img
                                v-else
                                style="
                                  width: 50px;
                                  height: 50px;
                                  object-fit: cover;
                                "
                                src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                              />
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col class="text-right">
                              <span @click="location = true">
                                <v-btn
                                  @click="e6 = 3"
                                  rounded
                                  color="grey darken-4"
                                  dark
                                >
                                  Next
                                </v-btn>
                              </span>
                            </v-col>
                          </v-row>
                        </v-container>
                        <!-- <a class="btn btn-red" text>Cancel</a> -->
                      </v-stepper-content>

                      <!-- <v-stepper-step
                        :editable="location"
                        :complete="e6 > 2"
                        step="2"
                        >Location and address</v-stepper-step
                      > -->

                      <!-- <v-stepper-content step="2" class="location">
                        <v-container
                          style="background-color: #f4f6f6"
                          class="px-4 py-4 border rounded-lg"
                        > -->
                      <!-- <v-row>
                            <v-col md="4" sm="12" class="form-group">
                              <v-autocomplete
                                v-model="updateProfile.country_id"
                                :items="countries"
                                item-text="name"
                                @change="getStates()"
                                item-value="country_id"
                                :rules="[(v) => !!v || 'Country is required']"
                                required
                                dense
                                filled
                                label="Country"
                              >
                              </v-autocomplete>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-autocomplete
                                v-model="updateProfile.state_id"
                                :items="states"
                                item-text="name"
                                @change="getCities()"
                                item-value="state_id"
                                :rules="[(v) => !!v || 'State is required']"
                                required
                                dense
                                filled
                                label="State"
                              ></v-autocomplete>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-autocomplete
                                v-model="updateProfile.city_id"
                                :items="cities"
                                @change="getAreas()"
                                item-text="name"
                                item-value="city_id"
                                :rules="[(v) => !!v || 'City is required']"
                                required
                                dense
                                filled
                                label="City"
                              ></v-autocomplete>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-autocomplete
                                v-model="updateProfile.area_id"
                                :items="areas"
                                @change="getPincodes()"
                                item-text="name"
                                item-value="area_id"
                                :rules="[(v) => !!v || 'Area is required']"
                                required
                                dense
                                filled
                                label="Area"
                              ></v-autocomplete>
                            </v-col>
                            <v-col md="4" sm="12" class="form-group">
                              <v-autocomplete
                                v-model="updateProfile.pincode_id"
                                :items="pincodes"
                                item-text="name"
                                item-value="pincode_id"
                                :rules="[(v) => !!v || 'Pincode is required']"
                                required
                                dense
                                filled
                                label="Pincode"
                              ></v-autocomplete>
                            </v-col> -->
                      <!-- <div
                            class="addAddress"
                            style="width: 100%; float: left"
                          >
                            <v-col
                              v-for="(l, i) in updateProfile.address"
                              :key="i"
                              md="4"
                              class="form-group"
                              style="display: flex; align-items: center"
                            >
                              <v-text-field
                                v-model="l.address"
                                dense
                                filled
                                label="Address"
                              ></v-text-field>
                              <i
                                style="margin-bottom: 20px"
                                class="ion-trash-b"
                                @click.prevent="deleteAddress(i)"
                              ></i>
                            </v-col> -->
                      <!-- <v-col md="2"
                              ><v-btn
                                @click.prevent="addMoreAddress"
                                size="small"
                                color="#000"
                                style="margin-top: 2px; margin-bottom: 8px"
                                ><i
                                  class="ion-plus-round"
                                  style="color: #fff"
                                ></i
                                ><span style="color: #fff"
                                  >Add more</span
                                ></v-btn
                              ></v-col
                            > -->
                      <!-- <v-col md="5" class="form-group">
                                                        <v-text-field v-model="updateProfile.permanentAddress" dense filled :rules="rules" label="Permanent Address" required></v-text-field>
                                                    </v-col> -->
                      <!-- <v-col md="4" xs='12' sm='12' class="form-group">
                                                        <a class="btn" style="margin-top: 10px;margin-left: -20px;">Add more addresses</a>
                                                    </v-col> -->
                      <!-- </div> -->
                      <!-- </v-row>
                          <v-row>
                            <v-col class="text-right">
                              <span @click="media = true">
                                <v-btn
                                  @click="e6 = 3"
                                  rounded
                                  dark
                                  color="grey darken-4"
                                  >Next</v-btn
                                >
                              </span>
                            </v-col> -->
                      <!-- </v-row>
                        </v-container> -->

                      <!-- <a class="btn btn-red" text>Cancel</a> -->
                      <!-- </v-stepper-content> -->

                      <v-stepper-step
                        :editable="media"
                        :complete="e6 > 3"
                        step="2"
                        >Your website and social media</v-stepper-step
                      >

                      <v-stepper-content step="3">
                        <v-container
                          style="background-color: #f4f6f6"
                          class="px-4 py-4 border rounded-lg"
                        >
                          <v-row>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.website"
                                dense
                                filled
                                label="Website"
                              ></v-text-field>
                            </v-col>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.exreed_website"
                                dense
                                filled
                                label="Exreed Website Link"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col md="12">
                              <h4>
                                <label for>Social media info</label>
                              </h4>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.linkedin"
                                dense
                                filled
                                label="Linkedin"
                              ></v-text-field>
                            </v-col>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.facebook"
                                dense
                                filled
                                label="Facebook"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-row>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.instagram"
                                dense
                                filled
                                label="Twitter"
                              ></v-text-field>
                            </v-col>
                            <v-col md="5" sm="12" class="form-group">
                              <v-text-field
                                type="url"
                                v-model="updateProfile.youtube"
                                dense
                                filled
                                label="Youtube"
                              ></v-text-field>
                            </v-col>
                          </v-row>
                          <v-alert v-if="error" text prominent type="error">
                            {{ errorMessage }}
                          </v-alert>
                          <v-alert
                            v-if="success"
                            text
                            type="success"
                            align="left"
                          >
                            Profile updated successfully!
                          </v-alert>
                          <v-row>
                            <v-col class="text-right">
                              <v-btn
                                rounded
                                dark
                                color="grey darken-4"
                                @click="reset"
                              >
                                Clear
                              </v-btn>
                              <v-btn
                                rounded
                                dark
                                color="grey darken-4"
                                :disabled="!valid || loading2"
                                @click="submitUpdateProfile"
                              >
                                <span v-if="!loading2" style="color: #fff"
                                  >Save</span
                                >
                                <template v-else>
                                  <span>Processing...</span>
                                </template>
                              </v-btn>
                            </v-col>
                          </v-row>
                        </v-container>
                        <!-- <a class="btn btn-red" text>Cancel</a> -->
                      </v-stepper-content>

                      <!-- <v-stepper-step :editable="time" step="4"
                        >Opening Time</v-stepper-step
                      > -->
                      <v-stepper-content step="4">
                        <v-container
                          style="background-color: #f4f6f6"
                          class="px-4 py-4 border rounded-lg"
                        >
                          <v-row class="timepickersrow">
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="sunday_start"
                                  :close-on-content-click="false"
                                  v-model="sunday_start_time_picker"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.sunday_start_time"
                                      label="Sunday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.sunday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.sunday_start.save(sunday_start_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="sunday_end"
                                  v-model="sunday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.sunday_end_time"
                                      label="Sunday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.sunday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.sunday_end.save(sunday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="monday_start"
                                  v-model="monday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.monday_start_time"
                                      label="Monday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.monday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.monday_start.save(monday_start_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="monday_end"
                                  v-model="monday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.monday_end_time"
                                      label="Monday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.monday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.monday_end.save(monday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="tuesday_start"
                                  v-model="tuesday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.tuesday_start_time"
                                      label="Tuesday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.tuesday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.tuesday_start.save(
                                        tuesday_start_time
                                      )
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="tuesday_end"
                                  v-model="tuesday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.tuesday_end_time"
                                      label="Tuesday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.tuesday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.tuesday_end.save(tuesday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="wednesday_start"
                                  v-model="wednesday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="
                                        updateProfile.wednesday_start_time
                                      "
                                      label="Wednesday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.wednesday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.wednesday_start.save(
                                        wednesday_start_time
                                      )
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="wednesday_end"
                                  v-model="wednesday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.wednesday_end_time"
                                      label="Wednesday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.wednesday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.wednesday_end.save(
                                        wednesday_end_time
                                      )
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="thursday_start"
                                  v-model="thursday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="
                                        updateProfile.thursday_start_time
                                      "
                                      label="Thursday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.thursday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.thursday_start.save(
                                        thursday_start_time
                                      )
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="thursday_end"
                                  v-model="thursday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.thursday_end_time"
                                      label="Thursday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.thursday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.thursday_end.save(thursday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="friday_start"
                                  v-model="friday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.friday_start_time"
                                      label="Friday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.friday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.friday_start.save(friday_start_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="friday_end"
                                  v-model="friday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.friday_end_time"
                                      label="Friday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.friday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.friday_end.save(friday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="saturday_start"
                                  v-model="saturday_start_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="
                                        updateProfile.saturday_start_time
                                      "
                                      label="Saturday start time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.saturday_start_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.saturday_start.save(
                                        saturday_start_time
                                      )
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                            <v-col md="3" sm="1">
                              <span>
                                <v-menu
                                  ref="saturday_end"
                                  v-model="saturday_end_time_picker"
                                  :close-on-content-click="false"
                                  :return-value.sync="time"
                                  transition="scale-transition"
                                  offset-y
                                  min-width="290px"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      prepend-icon="access_time"
                                      v-model="updateProfile.saturday_end_time"
                                      label="Saturday end time"
                                      readonly
                                      v-bind="attrs"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-time-picker
                                    outlined
                                    v-model="updateProfile.saturday_end_time"
                                    format="24hr"
                                    @click:minute="
                                      $refs.saturday_end.save(saturday_end_time)
                                    "
                                  ></v-time-picker>
                                </v-menu>
                              </span>
                            </v-col>
                          </v-row>
                          <!-- <v-alert v-if="error" text prominent type="error">
                            {{ errorMessage }}
                          </v-alert>
                          <v-alert
                            v-if="success"
                            text
                            type="success"
                            align="left"
                          >
                            Profile updated successfully!
                          </v-alert>
                          <v-row>
                            <v-col class="text-right">
                              <v-btn
                                rounded
                                dark
                                color="grey darken-4"
                                @click="reset"
                              >
                                Clear
                              </v-btn>
                              <v-btn
                                rounded
                                dark
                                color="grey darken-4"
                                :disabled="!valid || loading2"
                                @click="submitUpdateProfile"
                              >
                                <span v-if="!loading2" style="color: #fff"
                                  >Save</span
                                >
                                <template v-else>
                                  <span>Processing...</span>
                                </template>
                              </v-btn>
                            </v-col>
                          </v-row> -->
                        </v-container>
                        <!-- <p>
                          <small style="color: #999"
                            >Please fill all the mandatory fields</small
                          >
                        </p> -->
                      </v-stepper-content>
                    </v-stepper>
                  </v-row>
                  <!-- <div class="row">

                                </div> -->
                </v-form>
              </div>
            </v-col>
            <v-col md="3">
              <InnerDashboardNav />
            </v-col>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import InnerDashboardNav from "../../components/InnerDashboardNav";
export default {
  name: "UpdateProfile",
  components: {
    InnerDashboardNav,
  },
  data() {
    return {
      e6: 1,
      profile_im: "",
      image_string: "",
      basic: true,
      location: false,
      media: false,
      time: false,
      // value: null,
      loading2: false,
      error: false,
      errorMessage: "",
      success: false,
      logo_image: "",
      updateProfile: {
        email: "",
        mobile_no: "",
        user_id: "",
        landline_no: "",
        aboutus: "",
        logo_image: "",

        country_id: "",
        state_id: "",
        city_id: "",
        area_id: "",
        pincode_id: "",
        address: [],

        facebook: "",
        twitter: "",
        instagram: "",
        youtube: "",
        linkedin: "",
        website: "",
        exreed_website: "",
        sunday_start_time: null,
        sunday_end_time: null,
        monday_start_time: null,
        monday_end_time: null,
        tuesday_start_time: null,
        tuesday_end_time: null,
        wednesday_start_time: null,
        wednesday_end_time: null,
        thursday_start_time: null,
        thursday_end_time: null,
        friday_start_time: null,
        friday_end_time: null,
        saturday_start_time: null,
        saturday_end_time: null,
        corporate_type: "",
      },
      time: null,
      sunday_start_time_picker: false,
      sunday_end_time_picker: false,
      monday_start_time_picker: false,
      monday_end_time_picker: false,
      tuesday_start_time_picker: false,
      tuesday_end_time_picker: false,
      wednesday_start_time_picker: false,
      wednesday_end_time_picker: false,
      thursday_start_time_picker: false,
      thursday_end_time_picker: false,
      friday_start_time_picker: false,
      friday_end_time_picker: false,
      saturday_start_time_picker: false,
      saturday_end_time_picker: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      valid: false,
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      phoneRules: [
        (v) => !!v || "Phone number is required",
        (v) =>
          (v && v.length >= 10) ||
          "Phone number must be less than 10 characters",
      ],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      countries: [],
      states: [],
      cities: [],
      areas: [],
      pincodes: [],

      name: "",
      email: "",
      phone: "",
    };
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
  async mounted() {
    this.updateProfile.user_id = localStorage.getItem("userId");
    this.user_id = localStorage.getItem("userId");
    await this.getProfile();
    await this.getCountries();
    await this.getStates();
    await this.getCities();
    await this.getAreas();
    await this.getPincodes();
  },

  methods: {
    deleteAddress(i) {
      this.$delete(this.updateProfile.address, i);
    },
    addMoreAddress() {
      this.updateProfile.address.push({
        address: "",
      });
    },
    onFile(e) {
      if (e === undefined) {
        this.updateProfile.logo_image = "";
        this.profile_im = "";
      } else {
        let image_string = this.image_string;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.updateProfile.logo_image = reader.result;
          this.profile_im = reader.result;
          // console.log(this.updateProfile.logo_image);
          // this.updateProfile.logo_image = this.updateProfile.logo_image;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async getCountries() {
      let res = await this.$axios.get("/trainingInstituteApi/country_list");
      this.countries = res.data.data;
    },
    async getStates() {
      if (this.updateProfile.country_id === undefined) {
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/state_list/100/" +
            this.updateProfile.country_id
        );
        this.states = res.data.data;
      }
    },
    async getCities() {
      if (this.updateProfile.state_id === undefined) {
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/city_list/35/" + this.updateProfile.state_id
        );
        this.cities = res.data.data;
      }
    },
    async getAreas() {
      if (this.updateProfile.city_id === undefined) {
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/area_list/2/" + this.updateProfile.city_id
        );
        this.areas = res.data.data;
      }
    },
    async getPincodes() {
      if (this.updateProfile.area_id === undefined) {
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/pincode_list/2/" + this.updateProfile.area_id
        );
        console.log(res.data.data);
        this.pincodes = res.data.data;
      }
    },
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data?.result === 1) {
        this.updateProfile.email = res.data.data.email;
        this.updateProfile.mobile_no = res.data.data.mobile_no;
        this.updateProfile.landline_no = res.data.data.landline_no;
        this.updateProfile.aboutus = res.data.data.about_us;
        this.profile_im = res.data.data.logo_image;
        this.updateProfile.country_id = res.data.data.country_id;
        this.updateProfile.state_id = res.data.data.state_id;
        this.updateProfile.city_id = res.data.data.city_id;
        this.updateProfile.area_id = res.data.data.area_id;
        this.updateProfile.pincode_id = res.data.data.pincode_id;
        this.updateProfile.address = res.data.data.address;
        this.updateProfile.facebook = res.data.data.facebook;
        this.updateProfile.twitter = res.data.data.twitter;
        this.updateProfile.instagram = res.data.data.instagram;
        this.updateProfile.youtube = res.data.data.youtube;
        this.updateProfile.linkedin = res.data.data.linkedin;
        this.updateProfile.website = res.data.data.website_link;
        this.updateProfile.exreed_website = res.data.data.exreed_website_link;
        this.updateProfile.sunday_start_time = res.data.data.sunday_start_time;
        this.updateProfile.sunday_end_time = res.data.data.sunday_end_time;
        this.updateProfile.monday_start_time = res.data.data.monday_start_time;
        this.updateProfile.monday_end_time = res.data.data.monday_end_time;
        this.updateProfile.tuesday_start_time =
          res.data.data.tuesday_start_time;
        this.updateProfile.tuesday_end_time = res.data.data.tuesday_end_time;
        this.updateProfile.wednesday_start_time =
          res.data.data.wednesday_start_time;
        this.updateProfile.thursday_start_time =
          res.data.data.thursday_start_time;
        this.updateProfile.thursday_end_time = res.data.data.thursday_end_time;
        this.updateProfile.friday_start_time = res.data.data.friday_start_time;
        this.updateProfile.friday_end_time = res.data.data.friday_end_time;
        this.updateProfile.saturday_start_time =
          res.data.data.saturday_start_time;
        this.updateProfile.saturday_end_time = res.data.data.saturday_end_time;
      } else {
      }
    },
    async submitUpdateProfile() {
      this.loading2 = true;
      this.error = false;
      this.success = false;
      // console.log(this.updateProfile)
      this.updateProfile.corporate_type = localStorage.getItem("corporate");
      console.log("updatation", this.updateProfile.corporate_type);
      let res = await this.$axios.post(
        "/trainingInstituteApi/update_profile",
        this.updateProfile
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.valid = true;
        this.error = true;
        this.errorMessage = res.data.message;
      } else if (res.data.result === 1) {
        this.success = true;
        this.valid = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        console.log(res);
        this.getProfile();
      }
      let corporate = localStorage.getItem("corporate");
      if (corporate === "Training Institute") {
        this.$router.push("/corporate/dashboard");
      } else if (corporate === "School") {
        this.$router.push("/corporate/schooldashboard");
      } else if (corporate === "College") {
        this.$router.push("/corporate/collegedashboard");
      } else if (corporate === "University") {
        this.$router.push("/corporate/universitydashboard");
      } else if (corporate === "Company") {
        this.$router.push("/corporate/companydashboard");
      } else if (corporate === "Consultancy") {
        this.$router.push("/corporate/consultancydashboard");
      } else if (corporate === "Individual Trainer") {
        this.$router.push("/corporate/trainerdashboard");
      } else if (corporate === "HR's") {
        this.$router.push("/corporate/hrsdashboard");
      } else {
      }
    },
    // for date picker
    save(date) {
      this.$refs.menu.save(date);
    },
    // for date picker end
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
  },
};
</script>

<style>
form .form-group {
  float: left;
  width: 100%;
  height: 65px;
}

.v-input--has-state.error--text .v-label {
  color: #000 !important;
}
a.btn1 {
  left: -100px;
  right: 0px;
  position: relative;
}
.v-messages__message {
  color: #ed1d25 !important;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: none !important;
}

.v-stepper__step__step.primary {
  background: red !important;
}

.v-stepper__step__step .v-icon.v-icon {
  font-size: 1rem !important;
}

.v-stepper {
  box-shadow: none;
}
</style>
