<template>
  <div class="fadein">
    <div class="section">
      <div class="container">
        <h3 class="small-title">Update profile</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="#">My Profile</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Update profile</a>
            </li>
            <!-- <li><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Photography</a></li>-->
          </ul>
        </div>

        <div class="form updateProfile">
          <div class="row">
            <div class="col-md-9">
              <div class="bx">
                <v-form ref="form" >
                  <div class="col-md-12">
                    <h4>
                      <label for>Basic info</label>
                    </h4>
                  </div>

                  <div class="col-md-4 form-group">
                    <v-text-field
                      v-model="profileData.name"
                      dense
                      filled
                      label="Name"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-4 form-group">
                    <v-text-field
                      dense
                      filled
                      v-model="profileData.email"
                      :rules="emailRules"
                      :disabled="disable"
                      label="E-mail"
                      required
                    ></v-text-field>
                  </div>
                  <div class="col-md-4 form-group">
                    <!-- <input type="text" class="form-control" name placeholder="Phone Number" /> -->
                    <v-text-field
                      label="Mobile Number"
                      dense
                      filled
                      required
                      v-model="profileData.mobile_no"
                      :rules="[(v) => /^\d{10}$/.test(v) || 'Must be 10 digit']"
                      hide-details="auto"
                      :disabled="disable"
                      @keypress="onlyNumbers"
                      maxlength="10"
                    ></v-text-field>
                  </div>
                  <div class="col-md-4 form-group">
                    <!-- <input type="text" class="form-control" name placeholder="Phone Number" /> -->
                    <v-text-field
                      label="Land Line No."
                      dense
                      filled
                      required
                      v-model="profileData.landline_no"
                      :rules="[(v) => /^\d{10}$/.test(v) || 'Must be 10 digit']"
                      hide-details="auto"
                      @keypress="onlyNumbers"
                      maxlength="10"
                    ></v-text-field>
                  </div>

                  <!-- <div class="col-md-2 form-group">
                    <a class="btn" style="margin-top: 10px;margin-left: -20px;">Add more addresses</a>
                  </div>-->

                  <div class="col-md-4 form-group">
                    <v-autocomplete
                      v-model="profileData.country_id"
                      :items="countries"
                      item-text="name"
                      @change="getStates()"
                      item-value="country_id"
                      dense
                      filled
                      label="Country"
                    ></v-autocomplete>
                  </div>
                  <div class="col-md-4 form-group">
                    <v-autocomplete
                      v-model="profileData.state_id"
                      :items="states"
                      item-text="name"
                      @change="getCities()"
                      item-value="state_id"
                      dense
                      filled
                      label="State"
                    ></v-autocomplete>
                  </div>
                  <div class="col-md-4 form-group">
                    <v-autocomplete
                      v-model="profileData.city_id"
                      :items="cities"
                      @change="getAreas()"
                      item-text="name"
                      item-value="city_id"
                      dense
                      filled
                      label="City"
                    ></v-autocomplete>
                  </div>
                  <v-col md="4" xs="12" sm="12" class="form-group">
                    <v-autocomplete
                      v-model="profileData.area_id"
                      :items="areas"
                      @change="getPincodes()"
                      item-text="name"
                      item-value="area_id"
                      dense
                      filled
                      label="Area"
                    >
                    </v-autocomplete>
                  </v-col>
                  <v-col md="4" xs="12" sm="12" class="form-group">
                    <v-autocomplete
                      v-model="profileData.pincode_id"
                      :items="pincodes"
                      item-text="name"
                      item-value="pincode_id"
                      dense
                      filled
                      label="Pincode"
                    ></v-autocomplete>
                  </v-col>
                  <div class="col-md-6 form-group">
                    <v-text-field
                      v-model="profileData.present_address"
                      dense
                      filled
                      label="Present Address"
                    ></v-text-field>
                  </div>
                  <div class="col-md-6 form-group">
                    <v-text-field
                      v-model="profileData.permanent_address"
                      dense
                      filled
                      label="Permanent Address"
                    ></v-text-field>
                  </div>

                  <div class="col-md-8 form-group">
                    <v-text-field
                      v-model="profileData.website"
                      :rules="urlRules"
                      dense
                      filled
                      label="Website"
                    ></v-text-field>
                  </div>
                  <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                  <div class="col-md-12">
                    <v-row>
                      <v-col md="8">
                        <v-file-input
                          @change="onUploadProfileImage"
                          v-model="profile_image"
                          accept="image/*"
                          dense
                          filled
                          show-size
                          prepend-icon="undefined"
                          append-icon="mdi-camera"
                          label="Profile picture"
                        ></v-file-input>
                      </v-col>
                      <v-col md="4">
                        <img
                          style="
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 4px;
                          "
                          v-if="profile_im"
                          :src="profile_im"
                        />
                        <img
                          v-else
                          style="
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 4px;
                          "
                          src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                        />
                      </v-col>
                    </v-row>
                  </div>
                  <div class="col-md-12">
                    <h4>
                      <label for>Social media info</label>
                    </h4>
                  </div>
                  <div class="col-md-8 form-group">
                    <v-text-field
                      v-model="profileData.linkedin"
                      dense
                      filled
                      :rules="urlRules"
                      label="Linkedin"
                    ></v-text-field>
                  </div>
                  <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                  <div class="col-md-8 form-group">
                    <v-text-field
                      v-model="profileData.facebook"
                      dense
                      filled
                      :rules="urlRules"
                      label="Facebook"
                    ></v-text-field>
                  </div>
                  <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                  <div class="col-md-8 form-group">
                    <v-text-field
                      v-model="profileData.twitter"
                      dense
                      filled
                      :rules="urlRules"
                      label="Twitter"
                    ></v-text-field>
                  </div>
                  <v-col md="4" ><p class="mt-" style="color:red">ex: http://example.com</p></v-col>
                  <div class="col-md-8 form-group">
                    <v-text-field
                      v-model="profileData.instagram"
                      :rules="urlRules"
                      dense
                      filled
                      label="Instagram"
                    ></v-text-field>
                  </div>
                  <v-col md="4" ><p class="mt-4" style="color:red">ex: http://example.com</p></v-col>
                  <div class="col-md-12">
                    <h4>
                      <label for>Personal Details</label>
                    </h4>
                  </div>
                    <div class="col-md-4">
                        <v-text-field
                        outlined
                        label="DOB"
                        type="date"
                        :date-format="dob => new Date(dob).toDateString()"
                        v-model="dob"
                        ></v-text-field>
                  </div>
                  <div class="col-md-4 form-group">
                    <v-select
                      v-model="profileData.gender"
                      :items="genders"
                      dense
                      filled
                      label="Gender"
                    ></v-select>
                  </div>
                  <div class="col-md-4 form-group">
                    <v-select
                      v-model="profileData.martial_status"
                      :items="maritalStatuses"
                      dense
                      filled
                      label="Marital Status"
                    ></v-select>
                  </div>
                  <!-- <v-row>
                    <v-col md="12">
                      <div class="col-md-5 form-group">
                        <v-text-field
                          v-model="profileData.pancard_no"
                          dense
                          filled
                          label="Pancard No."
                        ></v-text-field>
                      </div>
                      <div class="col-md-7">
                        <v-row>
                          <v-col md="8">
                            <v-file-input
                              v-on:change="pancardImageUpload"
                              v-model="pancard_image"
                              dense
                              filled
                              show-size
                              prepend-icon="undefined"
                              append-icon="mdi-camera"
                              label="Pancard picture"
                            ></v-file-input>
                          </v-col>
                          <v-col md="4">
                            <img
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              v-if="pancard_im"
                              :src="pancard_im"
                            />
                            <img
                              v-else
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                            />
                          </v-col>
                        </v-row>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col md="12">
                      <div class="col-md-5 form-group">
                        <v-text-field
                          v-model="profileData.adhar_no"
                          dense
                          filled
                          label="Adhaar Card No."
                        ></v-text-field>
                      </div>
                      <div class="col-md-7">
                        <v-row>
                          <v-col md="8">
                            <v-file-input
                              v-model="adhar_image"
                              v-on:change="adhaarImageUpload"
                              dense
                              filled
                              show-size
                              prepend-icon="undefined"
                              append-icon="mdi-camera"
                              label="Adhaar card picture"
                            ></v-file-input>
                          </v-col>
                          <v-col md="4">
                            <img
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              v-if="adhar_im"
                              :src="adhar_im"
                            />
                            <img
                              v-else
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                            />
                          </v-col>
                        </v-row>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col md="12">
                      <div class="col-md-5 form-group">
                        <v-text-field
                          v-model="profileData.passport_no"
                          dense
                          filled
                          label="Passport No."
                        ></v-text-field>
                      </div>
                      <div class="col-md-7">
                        <v-row>
                          <v-col md="8">
                            <v-file-input
                              v-model="passport_image"
                              v-on:change="passportImageUpload"
                              dense
                              filled
                              show-size
                              prepend-icon="undefined"
                              append-icon="mdi-camera"
                              label="Passport picture"
                            ></v-file-input>
                          </v-col>
                          <v-col md="4">
                            <img
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              v-if="passport_im"
                              :src="passport_im"
                            />
                            <img
                              v-else
                              style="
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                                border-radius: 4px;
                              "
                              src="https://freeiconshop.com/wp-content/uploads/edd/image-solid.png"
                            />
                          </v-col>
                        </v-row>
                      </div>
                    </v-col>
                  </v-row> -->
                  <!-- <div class="col-md-12">
                    <h4>
                      <label for>Languages</label>
                    </h4> -->
                  <!-- <v-combobox
                      multiple
                      v-model="profileData.languages"
                      append-icon
                      chips
                      dense
                      filled
                      placeholder="Type and press enter"
                      deletable-chips
                      class="tag-input"
                      @keyup.tab="updateTags"
                      @paste="updateTags"
                    ></v-combobox> -->
                  <!-- <v-textarea
                      v-model="profileData.languages"
                      dense
                      filled
                      clearable
                      clear-icon="cancel"
                      label=""
                      value
                    ></v-textarea>
                  </div> -->
                  <!-- <div class="col-md-12">
                    <h4>
                      <label for>Interests and hobbies</label>
                    </h4> -->
                  <!-- <v-combobox
                      multiple
                      v-model="profileData.hobbie"
                      append-icon
                      chips
                      dense
                      filled
                      placeholder="Type and press enter"
                      deletable-chips
                      class="tag-input"
                      @keyup.tab="updateTagss"
                      @paste="updateTagss"
                    ></v-combobox> -->
                  <!-- <v-textarea
                      v-model="profileData.hobbie"
                      dense
                      filled
                      clearable
                      clear-icon="cancel"
                      label=""
                      value
                    ></v-textarea> -->
                  <!-- <v-select
                      v-on:select="getHobbies()"
                      :items="hobbies"
                      :menu-props="{ maxHeight: '400' }"
                      label="Select"
                      multiple
                      hint="Pick your favorite hobbies"
                      persistent-hint
                    ></v-select> -->
                  <!-- </div> -->
                  <!-- <div class="col-md-12">
                    <h4>
                      <label for>About me</label>
                    </h4>
                    <v-textarea
                      v-model="profileData.about_us"
                      dense
                      filled
                      clearable
                      clear-icon="cancel"
                      label="Write something about yourself"
                      value
                    ></v-textarea>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12" style="margin-top: 15px">
                      <div
                        v-if="error"
                        class="form-group fadein"
                        style="margin-bottom: 30px"
                      >
                        <v-alert class="" text prominent type="error">
                          {{ errorMessage }}
                        </v-alert>
                      </div>
                      <div
                        class="form-group fadein"
                        v-if="success"
                        style="margin-bottom: 15px"
                      >
                        <div class="row">
                          <v-alert text type="success" align="left">
                            Profile updated successfully!
                          </v-alert>
                        </div>
                      </div>
                      <div class="form-group">
                        <v-btn
                          class="btn"
                          :disabled="!valid || loading2"
                          color="#000"
                          type="submit"
                          @click.prevent="submitUpdateProfile"
                        >
                          <span v-if="!loading2" style="color: #fff">Save</span>
                          <template v-else>
                            <span>Processing...</span>
                          </template>
                        </v-btn>
                        <v-btn class="btn btn-red" @click="backDashboard">
                          Cancel
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </v-form>
              </div>
            </div>
            <v-col md="3" lg="3" sm="12">
              <InnerCustomerNav />
            </v-col>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InnerCustomerNav from "../../components/InnerCustomerNav";
import OtherEducation from "../../components/Add_new_education";
const regex = new RegExp(
  "^(http[s]?:\\/\\/(www\\.)?){1}([0-9A-Za-z-\\.@:%_+~#=]+)+((\\.[a-zA-Z]{2,3})+)(/(.)*)?(\\?(.)*)?"
);
export default {
  name: "UpdateProfile",
  components: {
    InnerCustomerNav,
    // OtherEducation
  },
  data() {
    return {
      // for select dropdown search
      e1: 1,
      user: "",
      editable: true,
      loading2: false,
      items: ["foo", "bar", "fizz", "buzz"],
      values: ["foo", "bar"],
      genders: ["Male", "Female"],
      maritalStatuses: ["Married", "Single"],
      hobbies: [
        "Singing",
        "Playing Cricket",
        "Playing Football",
        "Travelling",
        "Tracking",
      ],
      value: null,
      // for select dropdown search end
      // for date picker
      date: null,
      menu: false,
      // for date picker end
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      // skills: [
      //   value => !!value || "Required.",
      //   value => (value && value.length >= 5) || "Min 5 "
      // ],
      valid: true,
      urlRules: [
        (v) => (v && regex.test(v)) || "invalid url",
      ],
      nameRules: [
        (v) => !!v || "Name is ",
        (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
      ],
      emailRules: [
        (v) => !!v || "E-mail is ",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      profile_image: "",
      profile_im: "",
      pancard_image: "",
      pancard_im: "",
      adhar_im: "",
      passport_image: "",
      passport_im: "",
      select: [],
      selectt: [],
      // items: [],
      search: "",
      hob: "",
      name: "",
      email: "",
      phone: "",
      presentAddress: "",
      permanentAddress: "",
      website: "",
      linkedin: "",
      facebook: "",
      twitter: "",
      gender: "",
      maritalStatus: "",
      pancard: "",
      adhaarCard: "",
      passport_no: "",
      // education: "",
      // technicalSkills: "",
      // professionalSkills: "",
      experience: "",
      errorMessage: "",
      error:false,
      resume: "",
      photo: "",
      // careerObjective: "",
      countries: [],
      states: [],
      cities: [],
      pincodes: [],
      areas: [],
      languages: [],
      about: "",
      // hobbie: [],
      profileData: {
        user_id: "",
        name: "",
        email: "",
        mobile_no: "",
        country_id: "",
        state_id: "",
        city_id: "",
        pincode_id: "",
        area_id: "",
        present_address: "",
        permanent_address: "",
        website: "",
        profile_image: "",
        instagram:"",
        linkedin: "",
        facebook: "",
        twitter: "",
        dob: "",
        gender: "",
        martial_status: "",
        landline_no:""
      },
      dob:"",
      disable:false,
      corporateType:""
    };
  },
  watch: {
    // for date picker
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
    // for date picker end
  },
  methods: {
    backDashboard(){
      if(this.corporateType == "Individual Trainer"){
        this.$router.push("/corporate/trainerdashboard");
      }else if(this.corporateType == "HR's"){
        this.$router.push("/corporate/HRsdashboard");
      }
      
      this.profileData.profile_image = ""
          this.profile_image = ""
          this.profile_im=""
    },
    onUploadProfileImage(e) {
        let profile_image = this.profile_image;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (profile_image) => {
          this.profileData.profile_image = reader.result;
          this.profile_im=reader.result;
          console.log(this.profileData.profile_image);
          // this.profileData.profile_image = this.profileData.profile_image;
        };
        reader.readAsDataURL(profile_image);
    },
    pancardImageUpload(e) {
      if (e === undefined) {
        this.profileData.pancard_image = "";
        this.pancard_im = "";
      } else {
        let pancard_image = this.pancard_image;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (pancard_image) => {
          this.profileData.pancard_image = reader.result;
          this.pancard_im = reader.result;
          // console.log(this.profileData.pancard_image);
          // this.profileData.pancard_image = this.profileData.pancard_image;
        };
        reader.readAsDataURL(pancard_image);
      }
    },
    adhaarImageUpload(e) {
      if (e === undefined) {
        this.profileData.adhar_image = "";
        this.adhar_im = "";
      } else {
        let adhar_image = this.adhar_image;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (adhar_image) => {
          this.profileData.adhar_image = reader.result;
          this.adhar_im = reader.result;
        };
        reader.readAsDataURL(adhar_image);
      }
    },
    passportImageUpload(e) {
      if (e === undefined) {
        this.profileData.passport_image = "";
        this.passport_im = "";
      } else {
        let passport_image = this.passport_image;
        // console.log(image_string);
        let reader = new FileReader();
        reader.onloadend = (passport_image) => {
          this.profileData.passport_image = reader.result;
          this.passport_im = reader.result;
        };
        reader.readAsDataURL(passport_image);
      }
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    async getCountryList() {
      let res = await this.$axios.get("trainingInstituteApi/country_list");
      if (res.data.result === 1) {
        this.countries = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
    async getStates() {
      if (this.profileData.country_id === "") {
        this.states = "";
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/state_list/" + this.profileData.country_id
        );
        console.log("res.data.data", this.profileData.country_id);
        this.states = res.data.data;
        this.cities=[]
        this.areas=[]
        this.pincodes=[]
      }
    },
    async getCities() {
      if (this.profileData.state_id === "") {
        this.cities = "";
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/city_list/" + this.profileData.state_id
        );
        console.log(res.data.data);
        this.cities = res.data.data;
        this.areas=[]
        this.pincodes=[]
      }
    },
    async getAreas() {
      if (this.profileData.city_id === "") {
        this.areas = "";
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/area_list/" + this.profileData.city_id
        );
        console.log(res.data.data);
        this.areas = res.data.data;
        this.pincodes=[]
      }
    },
    async getPincodes() {
      if (this.profileData.area_id === "") {
        this.pincodes = "";
      } else {
        let res = await this.$axios.get(
          "/trainingInstituteApi/pincode_list/" + this.profileData.area_id
        );
        console.log(res.data.data);
        this.pincodes = res.data.data;
      }
    },
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.profileData.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData.name = res.data.data.name;
        this.profileData.email = res.data.data.email;
        if(res.data.data.email){
          this.disable=true
        }else{
          
        }
        if(res.data.data.mobile_no){
          this.disable=true
        }else{
          
        }
        this.profileData.mobile_no = res.data.data.mobile_no;
        this.profileData.country_id = res.data.data.country_id;
        this.profileData.state_id = res.data.data.state_id;
        this.profileData.city_id = res.data.data.city_id;
        this.profileData.pincode_id = res.data.data.pincode_id;
        this.profileData.present_address = res.data.data.present_address;
        this.profileData.permanent_address = res.data.data.permanent_address;
        this.profileData.website = res.data.data.website;
        this.profile_im = res.data.data.profile_image;
        this.profileData.facebook = res.data.data.facebook;
        this.profileData.twitter = res.data.data.twitter;
        this.dob = res.data.data.dob;
        this.profileData.gender = res.data.data.gender;
        this.profileData.martial_status = res.data.data.martial_status;
        this.profileData.landline_no = res.data.data.landline_no;
        this.profileData.linkedin = res.data.data.linkedin;
        this.profileData.instagram = res.data.data.instagram;
        this.city_id = res.data.data.city_id;
        this.state_id = res.data.data.state_id;
        this.profileData.area_id = res.data.data.area_id;
        this.pincode_id = res.data.data.pincode_id;
        this.aboutLoading = false;
      } else {
      }
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    updateTags() {
      this.$nextTick(() => {
        this.select.push(...this.search.split(","));
        this.$nextTick(() => {
          this.search = "";
        });
      });
    },
    updateTagss() {
      this.$nextTick(() => {
        this.selectt.push(...this.hob.split(","));
        this.$nextTick(() => {
          this.hob = "";
        });
      });
    },
    checkUrlValid(value) {
      return regex.test(value);
    },
    async submitUpdateProfile() {
      this.loading2 = true;
      this.error = false;
      this.success = false;
      this.profileData.dob=this.dob
      // console.log(this.updateProfile)
      let websiteurlcheck=true
       let facebookurlcheck=true;
      let twitterurlcheck=true;
      let linkedinurlcheck=true;
      let instagramurlcheck=true;
      if(this.profileData.website !=""){
      websiteurlcheck=this.checkUrlValid(this.profileData.website) 
      }
      if(this.profileData.facebook !=""){
      facebookurlcheck=this.checkUrlValid(this.profileData.facebook) 
      }
      if(this.profileData.twitter !=""){
       twitterurlcheck=this.checkUrlValid(this.profileData.twitter)
        
      }
      if(this.profileData.linkedin !=""){
       linkedinurlcheck=this.checkUrlValid(this.profileData.linkedin)
        
      }
      if(this.profileData.instagram !=""){
       instagramurlcheck=this.checkUrlValid(this.profileData.instagram)
        
      }
      if(!facebookurlcheck || !twitterurlcheck || !linkedinurlcheck || !instagramurlcheck || !websiteurlcheck){
        this.errorMessage="Please fill valid url"
        this.error=true
        this.loading2=false
        setTimeout(() => {
          this.error=false
        }, 2000);
      }else{
      let res = await this.$axios.post(
        "/CustomerApi/update_profile",
        this.profileData
      );
      console.log(res);
      if (res.data.result === 0) {
        this.loading2 = false;
        this.error = true;
        this.errorMessage = res.data.message;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else if (res.data.result === 1) {
        this.success = true;
        this.loading2 = false;
        this.error = false;
        this.errorMessage = "";
        setTimeout(() => {
          this.success = false;
        }, 2000);
        console.log(res);
        let corporate = localStorage.getItem("corporate");
        if (corporate === "Individual Trainer") {
          this.$router.push("/corporate/trainerdashboard");
        } else if(corporate === "HR's"){
          this.$router.push("/corporate/HRsdashboard");
        }
      }
      }
    },
  },
  async mounted() {
    this.name = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.profileData.user_id = localStorage.getItem("userId");
    this.corporateType=localStorage.getItem("corporate")
    await this.getProfile();
    await this.getCountryList();
    await this.getStates();
    await this.getCities();
    await this.getAreas();
    await this.getPincodes();

    // if (
    //   this.profileData.state_id !== null ||
    //   this.profileData.state_id !== undefined
    // ) {
    //   setTimeout(() => this.getStates(), 1000);
    // }
    // if (
    //   this.profileData.city_id !== null ||
    //   this.profileData.city_id !== undefined
    // ) {
    //   setTimeout(() => this.getCities(), 1000);
    // }
    // if (
    //   this.profileData.area_id !== null ||
    //   this.profileData.area_id !== undefined
    // ) {
    //   setTimeout(() => this.getAreas(), 1000);
    // }
    // this.getPincodes();
    // if (
    //   this.profileData.area_id !== null ||
    //   this.profileData.area_id !== undefined
    // ) {
    // setTimeout(() => this.getPincodes(), 1000);
    // }
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
form .form-group {
  float: left;
  width: 100%;
  height: 65px;
}

.v-input--has-state.error--text .v-label {
  color: #000 !important;
}

.v-messages__message {
  color: red !important;
}

.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px !important;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: none !important;
}
</style>
