<template>
  <div class="fadein">
    <div v-if="preloader">
      <PreLoader />
    </div>
    <Header />
    <div
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerlink ? bannerlink : banner})` }"
    >
      <h2 style>
        {{ profileData.display_name }}
        <!-- <span><button class="">Change banner</button></span> -->
      </h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li v-if="corporateType == 'School'">
              <router-link to="/corporate/Schooldashboard"
                >Dashboard</router-link
              >
            </li>
            <li v-if="corporateType == 'College'">
              <router-link to="/corporate/Collegedashboard"
                >Dashboard</router-link
              >
            </li>
            <li v-if="corporateType == 'University'">
              <router-link to="/corporate/Universitydashboard"
                >Dashboard</router-link
              >
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>Wallet</a>
            </li>
          </ul>

          <!-- <a
            style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
            ><i class="ion-edit" style="color:#fff"></i
          ></a> -->
          <v-col class="text-right">
            <v-btn
              color="#fff"
              icon
              outlined
              elevation="2"
              @click="openBannerEditDialog"
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </v-col>
        </div>
      </div>
    </div>
    <div class="profile">
      <div class="container">
        <div class="row panel-main">
          <div class="main wallet">
            <div class="bx">
              <div class="row">
                <div class="col-md-3">
                  <a href="#">
                    <v-card>
                      <h4>Paytm</h4>
                      <p>200</p>
                    </v-card>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#">
                    <v-card>
                      <h4>Google Pay</h4>
                      <p>500</p>
                    </v-card>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#">
                    <v-card>
                      <h4>Mobikwik</h4>
                      <p>100</p>
                    </v-card>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#">
                    <v-card>
                      <h4>Phone Pe</h4>
                      <p>500</p>
                    </v-card>
                  </a>
                </div>
              </div>
              <h4 class="head2">Transactions</h4>
              <table>
                <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Liknedin</td>
                  <td>2500</td>
                </tr>
                <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Phone pe</td>
                  <td>2500</td>
                </tr>
                <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Google pay</td>
                  <td>2500</td>
                </tr>
                <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Paytm</td>
                  <td>2500</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <v-dialog
        v-model="dialog"
        scrollable
        max-width="600"
        style="background: #fff"
      >
        <v-card>
          <v-card-title class="headline">
            <v-col md="12" lg="12"> Change Banner</v-col>
          </v-card-title>
          <v-card-text>
            <v-form ref="bannerfile">
              <v-file-input
                ref="image_string"
                v-model="image_string"
                v-on:change="onChange"
                accept="image/jpeg"
                dense
                filled
                :rules="[(v) => !!v || 'Image is required']"
                label="Upload Image*"
                required
              >
              </v-file-input>
              <v-row
                ><v-col class="ml-3 mt-5"
                  ><p style="font-color: #e74c3c">
                    Image Format (.jpeg)
                  </p></v-col
                ></v-row
              >
            </v-form>
            <v-alert v-if="error" text type="error">
              {{ errorMessage }}
            </v-alert>
            <v-alert v-if="success" text type="success" align="left">
              Banner Changed Successfully.
            </v-alert>

            <v-card-actions>
              <div class="col-md-12" style="display: flex; align-items: center">
                <v-btn
                  :disabled="loading"
                  :loading="loading"
                  color="grey darken-4"
                  rounded
                  dark
                  @click="submitForm"
                  >Save
                </v-btn>
                <v-btn color="red" rounded dark @click="closeBannerDialog"
                  >Cancel</v-btn
                >
              </div>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <Footer />
  </div>
</template>
<script>
import Footer from "../../components/Footer";
import Header from "../../components/Header";
import PreLoader from "../../components/PreLoader";
import banner from "../../assets/img/picnic.jpg";

export default {
  name: "Wallet",
  components: {
    Footer,
    Header,
    PreLoader,
  },
  data() {
    return {
      banner,

      companyName: "",
      userMobile: "",
      userEmail: "",
      user_id: "",
      // preloader:true,
      profileData: "",
      corporateType: "",
      bannerlink: "",
      edit: {
        banner_image: "",
        user_id: "",
      },
      image: false,
      noimage: false,
      success: false,
      dialog: false,
      loading: false,
      bannerlink: "",
      error: false,
      errorMessage: "",
      user: null,
      companyName: "",
      userMobile: "",
      userEmail: "",
      userWebsite: "",
      profileData: "",
      dashboardCourses: "",
      aboutLoading: false,
      courseLoading: false,
      bannerRule: [],
    };
  },
  mounted() {
    this.companyName = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.corporateType = localStorage.getItem("corporate");
    this.getbanner();

    this.getProfile();
    setTimeout(() => {
      this.preloader = false;
    }, 3500);
  },
  methods: {
    openBannerEditDialog() {
      this.dialog = true;
    },
    closeBannerDialog() {
      this.$refs.image_string.reset();
      this.$refs.bannerfile.reset();
      this.dialog = false;
    },
    bannerR() {
      this.bannerRule = [(v) => !!v || "Image is required"];
    },
    cancelBannerR() {
      this.bannerRule = [];
    },
    async getProfile() {
      let user = localStorage.getItem("userId");
      let res = await this.$axios.post("trainingInstituteApi/my_profile", {
        user_id: user,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.profileData = res.data.data;
      } else {
      }
    },
    async getbanner() {
      let user = localStorage.getItem("userId");

      let respo = await this.$axios.post("/trainingInstituteApi/get_banner", {
        user_id: user,
      });
      console.log("list data", respo.data.message);
      if (respo.data.result === 1) {
        this.bannerlink = respo.data.data.banner_image;
        console.log("bannerdata", this.bannerlink);
      } else {
        this.bannerlink = "";
      }

      // this.errorMessage = res.data.message;
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.banner_image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.banner_image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.loading = true;
      this.edit.user_id = localStorage.getItem("userId");
      if (!this.$refs.bannerfile.validate()) {
        this.error = true;
        this.errorMessage = "Please choose an image";
        setTimeout(() => {
          this.error = false;
          this.loading = false;
        }, 2000);
      } else {
        let resp = await this.$axios.post(
          "/trainingInstituteApi/upload_banner",
          this.edit
        );
        console.log("onsubmit", resp);
        if (resp.data.result === 0) {
          this.loading = false;
          this.error = true;
          this.errorMessage = resp.data.message;
          setTimeout(() => (this.error = false), 2000);
        } else if (resp.data.result === 1) {
          this.success = true;

          setTimeout(() => {
            this.dialog = false;
            this.success = false;
          }, 2000);
          this.loading = false;
          this.getbanner();
          this.$refs.image_string.reset();
          this.$refs.bannerfile.reset();
        }
      }
    },
  },
};
</script>

