<template>
  <div class="fadein">
    <div
      data-v-2f5d7b04=""
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${bannerdata})` }"
    >
      <h2>{{ profile.name }}</h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="/" class="nuxt-link-active">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/persons">Persons</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a>{{ customer_name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="vendorProfile">
      <v-container>
        <v-row>
          <v-col md="9">
            <div class="boxCard" style="margin-bottom: 0">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <img
                      :src="profile.profile_image"
                      style="height: 180px; width: 170px; object-fit: cover"
                      alt=""
                    />
                  </div>
                  <div class="pl-8">
                    <span>
                      <h3 class="head2">{{ profile.name }}</h3>
                      <div v-if="profile.email || profile.mobile_no">
                        <small
                          >Verified<svg class="svg-icon" viewBox="0 0 20 20">
                            <path
                              d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"
                            ></path></svg
                        ></small>
                        <span class="rated">
                          <i class="fa fa-star fa-fw"></i> 4.0
                        </span>
                      </div>

                      <div class="social">
                        <a
                          v-if="profile.facebook"
                          v-bind:href="profile.facebook"
                          target="_blank"
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-facebook"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.twitter"
                          v-bind:href="profile.twitter"
                          target="_blank"
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-twitter"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.instagram"
                          v-bind:href="profile.instagram"
                          target="_blank"
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-instagram"
                          style="font-size: 1.5rem"
                        ></a>

                        <a
                          v-if="profile.linkedin"
                          v-bind:href="profile.linkedin"
                          target="_blank"
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                        <a
                          v-else
                          class="fa fa-linkedin"
                          style="font-size: 1.5rem"
                        ></a>
                      </div>
                      <div class="social">
                        <h4 class="lightHead">
                          <span style="color: #000" class="mr-2"
                            ><i
                              class="fa fa-heart"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            30</span
                          >
                          <span style="color: #000"
                            ><i
                              class="fa fa-rss"
                              style="font-size: 1.5rem"
                              aria-hidden="true"
                            ></i>
                            50</span
                          >
                        </h4>
                      </div>
                    </span>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <h4 class="lightHead">
                    500+ Online Courses
                    <span
                      style="
                        float: right;
                        top: 60px;
                        right: 0;
                      "
                      class="likes"
                    >
                      <span style="color: #000"
                        ><i class="fa fa-heart" aria-hidden="true"></i> 30</span
                      >
                      <span style="color: #000"
                        ><i class="fa fa-rss" aria-hidden="true"></i> 50</span
                      >
                    </span>
                  </h4>
                   -->
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Email</b>
                    </v-col>
                    <v-col>: {{ email ? "XXXXXXXX" : "" }}{{ email }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Phone</b>
                    </v-col>
                    <v-col
                      >: {{ mobile ? "XXXXXX" : "" }}{{ mobile }}
                      {{ profile.landline_no ? "|" : "" }}
                      {{ profile.landline_no }}</v-col
                    >
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Website</b>
                    </v-col>
                    <v-col>: {{ profile.website }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Country</b>
                    </v-col>
                    <v-col>: {{ profile.country_name }}</v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>State</b>
                    </v-col>
                    <v-col>: {{ profile.state_name }}</v-col>
                  </v-row>

                  <!-- <div>
                      <b>City</b>
                      <p>{{ profile.city_name }}</p>
                    </div> -->
                  <v-row class="py-1">
                    <v-col md="3">
                      <b>Area</b>
                    </v-col>
                    <v-col>: {{ profile.area_name }}</v-col>
                  </v-row>
                </div>
              </div>
            </div>

            <div class="profileContent">
              <div class="">
                <div id="Overview" class="mt-4">
                  <div class="bx">
                    <h3 class="head2">About Me</h3>
                    <p>
                      {{ profile.about_us }}
                    </p>
                  </div>
                  <div class="bx panel">
                    <v-row class="pb-2">
                      <v-col><h3 class="head2">Education</h3></v-col>
                    </v-row>

                    <div
                      class="education grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="education in profile.eduction_list"
                      :key="education.education_id"
                    >
                      <div>
                        <i
                          style="
                            width: 150px;
                            height: 160px;
                            font-size: 4rem;
                            border-radius: 5px;
                            background-color: #d6dbdf;
                          "
                          aria-hidden="true"
                          class="fa fa-university pl-10 pt-9"
                        ></i>
                      </div>
                      <div class="ml-15">
                        <h6>
                          {{ education.stream }} -
                          {{ education.specialization }}
                        </h6>
                        <h5>{{ education.college }}</h5>
                        <h5>{{ education.course_type }}</h5>
                        <h5>
                          {{ education.grading_system }} -
                          {{
                            education.grading_system_id == 2
                              ? education.marks + "%"
                              : education.marks
                          }}
                        </h5>
                        <p>{{ education.passing_year }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="bx panel">
                    <v-row class="pb-2">
                      <v-col
                        ><h3 class="head2">Experience & Employment</h3></v-col
                      >
                    </v-row>

                    <div
                      class="education grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="experience in profile.employement_list"
                      :key="experience.employement_id"
                    >
                      <div>
                        <!-- <v-icon aria-hidden="true"  style="width: 150px; height: 160px; font-size:5rem">mdi-collage</v-icon> -->
                        <i
                          style="
                            width: 150px;
                            height: 160px;
                            font-size: 4rem;
                            border-radius: 5px;
                            background-color: #d6dbdf;
                          "
                          class="fa fa-align-center pl-10 pt-10"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div class="ml-15">
                        <h6>Designation: {{ experience.designation }}</h6>
                        <h5>Company: {{ experience.company }}</h5>

                        <p>
                          From: {{ experience.work_start_date }} -
                          {{
                            experience.is_current
                              ? "Present"
                              : experience.work_end_date
                          }}
                        </p>
                        <h5>
                          Salary: {{ experience.currency }}
                          {{ experience.current_salary }}
                        </h5>
                        <h5>Notice Period: {{ experience.notice_period }}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="bx panel">
                    <v-row class="pb-2">
                      <v-col
                        ><h3 class="head2">
                          Trainings & Certifications
                        </h3></v-col
                      >
                    </v-row>
                    <div
                      class="education grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="training in profile.traings_list"
                      :key="training.training_id"
                    >
                      <v-col md="1" class="mt-2">
                        <img
                          :src="training.docs"
                          style="
                            width: 120px;
                            height: 100px;
                            border-radius: 5px;
                          "
                        />
                      </v-col>
                      <v-col md="9" class="text-left ml-15" align-self="center"
                        ><h6>
                          {{ training.description }}
                        </h6></v-col
                      >
                    </div>
                  </div>

                  <div class="bx panel">
                    <v-row>
                      <v-col><h3 class="head2">Technical Skill</h3></v-col>
                    </v-row>

                    <div
                      class="grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="technical in technicalList"
                      :key="technical.skill_id"
                    >
                      <v-row>
                        <v-col>
                          <i class="fa fa-comments-o"></i>
                          {{ technical.skill }}
                        </v-col>
                      </v-row>
                    </div>
                  </div>

                  <div class="bx panel">
                    <v-row>
                      <v-col><h3 class="head2">Professional Skill</h3></v-col>
                    </v-row>

                    <div
                      class="grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="professional in proffessionalList"
                      :key="professional.skill_id"
                    >
                      <v-row>
                        <v-col>
                          <i class="fa fa-comments-o"></i>
                          {{ professional.skill }}
                        </v-col>
                      </v-row>
                    </div>
                  </div>
                  <div class="bx panel">
                    <v-row>
                      <v-col><h3 class="head2">Key Skill</h3></v-col>
                    </v-row>

                    <div
                      class="grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="key in keyList"
                      :key="key.skill_id"
                    >
                      <v-row>
                        <v-col>
                          <i class="fa fa-comments-o"></i>
                          {{ key.skill }}
                        </v-col>
                      </v-row>
                    </div>
                  </div>

                  <div class="bx panel">
                    <v-row class="mb-2">
                      <v-col
                        ><h3 class="head2">Awards & Acheivements</h3></v-col
                      >
                    </v-row>

                    <div
                      class="grey-box mb-2"
                      style="border-radius: 5px"
                      v-for="award in profile.award_list"
                      :key="award.award_id"
                    >
                      <v-col md="9" class="text-left" v-if="award.description">
                        <li>
                          {{ award.description }}
                        </li></v-col
                      >
                    </div>
                  </div>
                  <div class="bx panel">
                    <v-row class="mb-2">
                      <v-col><h3 class="head2">Languages</h3></v-col>
                    </v-row>

                    <div
                      class="col-md-4"
                      v-for="(lang, index) in languages"
                      :key="index"
                    >
                      <li
                        v-if="lang"
                        style="
                          padding-left: 15px !important;
                          border-radius: 5px;
                        "
                        class="grey-box mb-2"
                      >
                        {{ lang }}
                      </li>
                    </div>
                  </div>
                  <div class="bx">
                    <v-row class="mb-2">
                      <v-col><h3 class="head2">Interests & Hobbies</h3></v-col>
                    </v-row>

                    <div
                      class="col-md-4"
                      v-for="(hobie, index) in hobie_list"
                      :key="index"
                    >
                      <li
                        v-if="hobie"
                        style="
                          padding-left: 15px !important;
                          border-radius: 5px;
                        "
                        class="grey-box mb-2"
                      >
                        {{ hobie }}
                      </li>
                    </div>
                  </div>
                  <div class="review_view panel bx">
                    <h3
                      class="head2"
                      style="
                        background: #fafafb;
                        margin-bottom: 5px;
                        padding: 10px;
                      "
                    >
                      Reviews
                    </h3>
                    <div v-if="reviewData.length > 0">
                      <div
                        class="grey-box mb-4"
                        style="border-radius: 20px"
                        v-for="review in reviewData"
                        :key="review.id"
                      >
                        <div>
                          <article>
                            <div class="tit">
                              <div class="col-md-2" style="width: 150px">
                                <v-row
                                  ><v-col>
                                    <img :src="review.customer_image" /></v-col
                                ></v-row>
                                <v-row
                                  ><v-col>
                                    <span class="stars">
                                      <i
                                        class="ion-android-star"
                                        v-for="rateindex in parseInt(
                                          review.rate
                                        )"
                                        :key="rateindex"
                                      ></i> </span></v-col
                                ></v-row>
                              </div>
                              <div class="col-md-10 mb-20">
                                <v-row
                                  ><v-col class="text-left"
                                    ><h5 class="ml-0">
                                      {{ review.customer_name }}
                                    </h5></v-col
                                  >
                                  <!-- <v-col class="text-right"
                                          ><v-btn
                                            v-if="review.status == 1"
                                            rounded
                                            dark
                                            color="green"
                                            size="small"
                                          >
                                            Published
                                          </v-btn>
                                          <v-btn
                                            v-else
                                            rounded
                                            dark
                                            color="grey darken-4"
                                            size="small"
                                            @click="makePublish(review.id, 1)"
                                          >
                                            Make Publish</v-btn
                                          ></v-col
                                        > -->
                                </v-row>
                                <v-row
                                  ><v-col style="padding-left: -20px">
                                    <p>
                                      {{ review.message }}
                                    </p></v-col
                                  ></v-row
                                >
                              </div>
                            </div>
                            <!-- <div class="tit">
                                  <div>
                                    <img :src="review.customer_image" />
                                    <span class="stars">
                                      <i
                                        class="ion-android-star"
                                        v-for="rateindex in parseInt(review.rate)"
                                        :key="rateindex"
                                      ></i>
                                    </span>
                                  </div>
                                  <div>
                                    <v-col
                                      ><h5>{{ review.customer_name }}</h5></v-col
                                    ><v-col class="text-right"
                                      ><v-btn
                                        v-if="review.status == 1"
                                        rounded
                                        dark
                                        color="green"
                                        size="small"
                                      >
                                        Published
                                      </v-btn>
                                      <v-btn
                                        v-else
                                        rounded
                                        dark
                                        color="grey darken-4"
                                        size="small"
                                        @click="makePublish(review.id, 1)"
                                      >
                                        Make Publish</v-btn
                                      ></v-col
                                    >
                                  </div>
                                </div> -->
                            <!-- <p>
                                  {{ review.message }}
                                </p> -->
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                  <section v-if="user_id && entity_id != user_id">
                    <div class="bx">
                      <div class="write_review">
                        <h6>Write a Review</h6>
                        <!-- <input class="form-control" placeholder="Help other foodie By sharing your review of Chowman"> -->
                        <div class="form">
                          <v-textarea
                            v-model="review.message"
                            placeholder="Message (within 250 characters)"
                            maxlength="250"
                            counter
                          ></v-textarea>
                        </div>
                        <div>
                          <v-rating
                            v-model="review.rate"
                            color="yellow darken-3"
                            background-color="grey darken-1"
                            half-increments
                            hover
                            large
                          ></v-rating>
                        </div>
                        <div
                          v-if="error"
                          class="form-group fadein"
                          style="margin-bottom: 30px"
                        >
                          <v-alert class="" text prominent type="error">
                            {{ errorMessage }}
                          </v-alert>
                        </div>
                        <div
                          class="form-group fadein"
                          v-if="success"
                          style="margin-bottom: 15px"
                        >
                          <div class="row">
                            <v-alert text type="success" align="left">
                              {{ successMessage }}
                            </v-alert>
                          </div>
                        </div>
                        <v-btn
                          :loading="loading"
                          :disabled="loading"
                          rounded
                          dark
                          color="grey darken-4"
                          @click="submitReview"
                          >Add your Review</v-btn
                        >
                      </div>
                    </div>
                  </section>

                  <!-- <div class="bx gallery_new">
                          <h3 class="head2" style="margin-top:0">Gallery</h3>
                          <div class="row">
                            <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                            <img
                              src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                              alt=""
                            />
                          </div>
                          <div class="col-md-2">
                                <a href="#gal" @click="showFirstTabFunc" class="more-btn">View More</a>
                              </div>
                            </div>
                          </div> -->
                  <!-- <div class="bx">
                            <h3 class="head2" style="margin-top:0">News</h3>
                            <hooper class="tyming"
                                  :itemsToShow="4"
                              :itemsToSlide="4"
                              :wheelControl="false"
                              style="margin-bottom;background:transparent;
                              }">
                              <slide> <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                              <slide>
                                  <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                              <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                               <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                              </slide>
                               <slide>
                                 <a href="/NewsDetail" class="box box-new"
                              ><img
                                src="https://exreed.com/backend/uploads/course/1599216573.jpeg"
                                alt=""
                              />
                              <article>
                                <h4>News heading</h4>
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur
                                  adipisicing elit. Possimus, cum?
                                </p>
                              </article></a>
                                  </slide>
                            </hooper>
                            <div style="text-align:center;margin:0 auto">
                                <a href="#" class="btn">View More</a>
                            </div> -->
                  <!-- <div class="row">
                            
                              <div class="col-md-4">
                              
                              </div>
                              <div class="col-md-4">
                          
                          </div>
                          <div class="col-md-4">
                           
                          </div>
                        
                        </div> -->
                  <!-- </div> -->
                </div>
              </div>
              <!-- <div class="bx job-list">
                        <h3 class="head2">Recruting For</h3>
                        <div class="row">
                          <div class="col-md-4">
                           
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                          <div class="col-md-4">
                          
                        <h5 class="head2">Designer-Kolkata</h5>
                        <p>Mokesha Design PVT LTD</p>
                        <p>Kolkata</p>
                        <p>experience</p>
                        <span
                          >Posted 7 days ago
                          <a href="#" class="btn" style="float: right"
                            >More..</a></span>
                          </div>
                        </div>
                      </div> -->
            </div>
          </v-col>
          <v-col md="3">
            <div class="">
              <div class="vendor-board">
                <div class="">
                  <a
                    href="/persons/Details"
                    class="box box-new"
                    style="margin-top: -100px"
                  >
                    <img
                      src="https://www.openmicuk.co.uk/wp-content/uploads/2019/08/Genres-of-music-e1565267569131.jpg"
                      alt=""
                    />
                    <div class="prom-tag">promoted</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="persons/Details" class="box box-new">
                    <img
                      src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>

                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                  <a href="/persons/Details" class="box box-new">
                    <img
                      src="https://www.careergirls.org/wp-content/uploads/2018/05/FashionDesigner_1920x1080.jpg"
                      alt=""
                    />
                    <div class="prom-tag">Newly Added</div>
                    <article>
                      <div class="stars">
                        <div class="v-rating v-rating--readonly">
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star
                              theme--light
                              warning--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                          <button
                            type="button"
                            tabindex="-1"
                            class="
                              v-icon
                              notranslate
                              v-icon--link
                              mdi mdi-star-outline
                              theme--light
                              accent--text
                            "
                            style="font-size: 15px"
                          ></button>
                        </div>
                      </div>
                      <h4>Smith Doe</h4>
                      <small><i class="ion-android-call"></i> 9874561230</small>
                      <small
                        ><i
                          aria-hidden="true"
                          class="ion-ios-world-outline"
                        ></i>
                        doloripsum.com</small
                      >
                    </article>
                  </a>
                </div>
              </div>
            </div>

            <section>
              <div class="bx">
                <div class="vendor-board">
                  <h3 class="head2" style="margin-top: 0">Enquiry Form</h3>
                  <div class="form">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter  Name"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Mobile Number"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Email"
                      />
                    </div>
                    <div class="form-group">
                      <select class="form-control">
                        <option>Select Course</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <a
                        href="#"
                        class="btn"
                        style="width: 100%; border-radius: 0"
                        >Send</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h4 class="head2" style="margin-top: 0">Jobs</h4>
              <div class="bx job-list">
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
                <hr />
                <h5 class="head2">Designer-Kolkata</h5>
                <p>Mokesha Design PVT LTD</p>
                <p>Kolkata</p>
                <p>experience</p>
                <span
                  >Posted 7 days ago
                  <a href="/jobs/Details" class="btn" style="float: right"
                    >More..</a
                  >
                </span>
              </div>
            </section>
          </v-col>
        </v-row>
      </v-container>
    </div>
    
  </div>
</template>
<script>
export default {
  name: "Details",
  data() {
    return {
      customer_id: "",
      profile: "",
      languages: [],
      bannerdata: "",
      user_id: "",
      entity_id:"",
      reviewData: [],
      hobie_list: [],
      customer_name: "",
      email: "",
      mobile: "",
      technicalList: [],
      proffessionalList: [],
      keyList: [],
      loading:false,
      error:false,
      success:false,
      successMessage: "",
      errorMessage: "",
      responseMessage: "",
      review: {
        customer_id: "",
        entity_id: "",
        message: "",
        rate: "",
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) =>
          /^\s*(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$/.test(
            v
          ) || "E-mail must be valid",
      ],
    };
  },
  beforeMount() {
    let id = location.href.split("/");
    this.customer_id = id.pop();
    this.getProfile();
  },
  mounted() {
    let userid = localStorage.getItem("userId");
    this.user_id = userid;
    let id = localStorage.getItem("details_id");
    this.entity_id = id;
    this.getBanner();
    this.getReviews();
  },
  methods: {
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    async getBanner() {
      let res = await this.$axios.post("trainingInstituteApi/get_banner", {
        user_id: this.user_id,
      });
      if (res.data.result === 1) {
        this.bannerdata = res.data.data.banner_image;
        console.log("log2", this.bannerdata);
      }
    },
    async getReviews() {
      let res = await this.$axios.post("trainingInstituteApi/get_reviews", {
        entity_id: this.user_id,
      });
      if (res.data.result === 1) {
        this.reviewData = res.data.data;
        console.log("log26464674", res.data.data);
      }
    },

    async submitReview() {
      let entity_id = localStorage.getItem("details_id");
      this.loading = true;
      (this.review.customer_id = this.user_id),
        (this.review.entity_id = entity_id);
      console.log("sdfasfgafsdgdf", this.review);
      if (this.review.message == "" && this.review.rate == "") {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please give rate or review";
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post(
          "/trainingInstituteApi/add_review",
          this.review
        );
        if (res.data.result === 1) {
          this.loading = false;
          this.success = true;
          this.successMessage = res.data.message;
          setTimeout(() => {
            this.success = false;
            this.review = {
              customer_id: "",
              entity_id: "",
              description: "",
              rating: "",
            };
          }, 2000);
        } else {
          this.loading = false;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        }
      }
    },

    async getProfile() {
      let lang;
      let i;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.customer_id,
      });
      if (res.data.result === 1) {
        console.log("detailspersons", res.data.data);
        this.profile = res.data.data;
        if (res.data.data.skill_list) {
          let skills = res.data.data.skill_list;
          for (let i = 0; i < res.data.data.skill_list.length; i++) {
            if (skills[i].type === "technical") {
              this.technicalList.push(skills[i]);
            }
            if (skills[i].type === "key") {
              this.keyList.push(skills[i]);
            }
            if (skills[i].type === "professional") {
              this.proffessionalList.push(skills[i]);
            }
          }
        }
        i = res.data.data.email.indexOf("@");
        this.email = res.data.data.email.substring(i);
        this.mobile = res.data.data.mobile_no.substring(0, 4);
        this.customer_name = res.data.data.name;
        this.hobie_list = res.data.data.hobbie.split(",");
        localStorage.setItem("use_id", res.data.data.user_id);
        localStorage.setItem("details_id", res.data.data.user_id);
        localStorage.setItem("username", res.data.data.username);
        localStorage.setItem(
          "entity_corporate_type",
          res.data.data.corporate_type
        );
        lang = res.data.data.language;

        this.languages = lang.split(",");
      } else {
      }
      console.log("collegedetails");
    },
  },
};
</script>
<style>
.head2 {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
</style>
