<template>
  <div class="fadein addCourses">
    <div class="section">
      <v-container>
        <h3 class="head2" style="margin-top: 0">Edit Course</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/corporate/dashboard">Dashboard</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Edit Course</a>
            </li>
          </ul>
        </div>
        <v-row>
          <v-col md="9" sm="12">
            <div class="add_new">
              <div class="tab-content">
                <v-stepper v-model="e1">
                  <v-stepper-header>
                    <v-stepper-step
                      :editable="true"
                      color="green"
                      :complete="comp"
                      step="1"
                    >
                      Course Details
                    </v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step
                      :editable="true"
                      :complete="comp"
                      color="green"
                      step="2"
                    >
                      Features
                    </v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true" 
                    :complete="comp"
                    color="green"
                    step="3">
                      Curriculums
                    </v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true" 
                    :complete="comp"
                    color="green"
                    step="4">
                      Faqs
                    </v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true" 
                    :complete="comp"
                    color="green"
                    step="5">
                      Topics
                    </v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true"
                    :complete="comp" 
                    color="green"
                    step="6">
                      Trainer
                    </v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true" 
                    :complete="comp"
                    color="green"
                    step="7">
                      Batches</v-stepper-step
                    >
                    <v-divider></v-divider>
                    <v-stepper-step 
                    :editable="true"
                    :complete="comp" 
                    color="green"
                    step="8">
                      Projects
                    </v-stepper-step>
                  </v-stepper-header>
                  <v-stepper-items>
                    <v-stepper-content step="1">
                      <AddCourseDetails />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn @click="e1 = 2" color="grey darken-4" dark rounded> Next </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="2">
                      <AddCourseFeatures />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 1">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 3">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="3">
                      <AddCourseCurriculum  />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 2">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 4">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="4">
                      <AddCourseFaq />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 3">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 5">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="5">
                      <AddCourseTopic />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 4">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 6">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="6">
                      <AddCourseTrainer />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 5">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 7">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="7">
                      <AddNewCourseBatches :action="'add'" />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 6">
                              Back
                            </v-btn>
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 8">
                              Next
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                    <v-stepper-content step="8">
                      <AddCourseProjects />
                      <v-container class="mt-2">
                        <v-row>
                          <v-col class="text-center">
                            <v-btn color="grey darken-4" dark rounded @click="e1 = 7">
                              Back
                            </v-btn>
                            <v-btn
                              color="grey darken-4" dark rounded
                              @click.prevent="saveAll"
                            >
                              Save
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-stepper-content>
                  </v-stepper-items>
                </v-stepper>
              </div>
            </div>
          </v-col>
          <v-col md="3" sm="12">
            <DashboardNav />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import DashboardNav from "../../../components/DashboardNav";
import AddCourseDetails from "../../../components/AddCourseDetails";
import AddCourseFeatures from "../../../components/AddCourseFeatures";
import AddCourseCurriculum from "../../../components/AddCourseCurriculum";
import AddCourseFaq from "../../../components/AddCourseFaq";
import AddCourseTopic from "../../../components/AddCourseTopic";
import AddCourseTrainer from "../../../components/AddCourseTrainer";
import AddCourseProjects from "../../../components/AddCourseProjects";
import AddNewCourseBatches from "../../../components/AddNewCourseBatches";
export default {
  name: "Add_new_course",
  components: {
    DashboardNav,
    AddCourseDetails,
    AddCourseFeatures,
    AddCourseCurriculum,
    AddCourseFaq,
    AddCourseTopic,
    AddCourseProjects,
    AddCourseTrainer,
    AddNewCourseBatches,
  },
  data() {
    return {
      e1: 1,
      user: null,
      comp:true,
      courseCurriculum:[]
    };
  },
  methods: {
    saveAll() {
      this.$router.push("/corporate/manage_courses");
    },
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/corporate/login");
      this.$store.dispatch("logout");
    }
  },
};
</script>

<style>
.v-stepper__step__step.primary {
  background: red !important;
}

.v-stepper__step__step .v-icon.v-icon {
  font-size: 1rem !important;
}

.v-stepper {
  box-shadow: none;
}
</style>
