<template>
  <div class="fadein">
    <div class="section">
      <div class="container">
        <h3 class="small-title">Add Employment</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="#">My Profile</nuxt-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Update Employment</a>
            </li>
          </ul>
        </div>

        <div class="form">
          <div class="row">
            <div class="col-md-9">
              <div class="bx">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <div class="row">
                    <div class="col-xs-12 updateEmployment">
                      <div class v-for="(row, index) in rows" :key="index">
                        <div class="row">
                          <div class="col-md-12 headers2">
                            <h4 class="head2">Add Employment</h4>
                          </div>
                          <div class="col-md-12 headers">
                            <h4 class="head2">Other Employment</h4>
                          </div>
                          <div class="col-md-4 form-group">
                            <v-text-field
                              v-model="row.designation"
                              dense
                              filled
                              label="Designation*"
                              required
                            ></v-text-field>
                          </div>
                          <div class="col-md-4 form-group">
                            <v-text-field
                              v-model="row.industry"
                              dense
                              filled
                              label="Industry*"
                              required
                            ></v-text-field>
                          </div>

                          <div class="col-md-4 form-group">
                            <v-text-field
                              v-model="row.department"
                              dense
                              filled
                              label="Department*"
                              required
                            ></v-text-field>
                          </div>
                          <div class="col-md-4 form-group" v-if="showDropdown">
                            <v-autocomplete
                              v-model="organiz"
                              :items="organizations"
                              item-text="company_name"
                              item-value="company_name"
                              :search-input.sync="search"
                              @keyup="getSuggestion()"
                              @change="checkOrganisation()"
                              class="mx-4"
                              flat
                              hide-no-data
                              hide-details
                              label="Company / Organization Name*"
                              solo-inverted
                            ></v-autocomplete>
                          </div>
                          <div class="col-md-4 form-group" v-if="showText">
                            <v-text-field
                              v-model="changedOrganization"
                              dense
                              filled
                              label="Company / Organization Name*"
                              required
                            ></v-text-field>
                          </div>
                          <div class="col-md-4 form-group">
                            <label style="margin-top: 15px"
                              >Is this is your current company ?*</label
                            >
                          </div>
                          <div class="col-md-4 form-group">
                            <div style="margin-top: 15px">
                              <v-radio-group
                                v-model="row.is_current"
                                row
                                style="margin: 0"
                              >
                                <v-radio
                                  label="Yes"
                                  @click.prevent=""
                                  value="1"
                                ></v-radio>
                                <v-radio label="No" value="0"></v-radio>
                              </v-radio-group>
                            </div>
                          </div>
                          <v-col
                            md="12"
                            lg="12"
                            sm="12"
                            xs="12"
                            v-if="
                              row.is_current === '0' || row.is_current === '1'
                            "
                          >
                            <v-row>
                              <v-col md="5" lg="5" sm="12" xs="12">
                                <label style="width: 100%"
                                  >Started working from</label
                                >
                                <v-text-field
                                  label="Start Date*"
                                  outlined
                                  :value="start_date"
                                  type="date"
                                  :date-format="
                                    (start_date) =>
                                      new Date(start_date).toDateString()
                                  "
                                  v-model="start_date"
                                ></v-text-field>
                              </v-col>
                              <div class="col-md-5 form-group">
                                <div>
                                  <label for>Worked till</label>
                                  <div v-if="row.is_current === '1'">
                                    {{
                                      row.is_current === "1"
                                        ? (row.end_date = "")
                                        : row.end_date
                                    }}
                                    <v-text-field
                                      v-model="row.end_date"
                                      dense
                                      filled
                                      value=""
                                      readonly
                                      label="Present"
                                    ></v-text-field>
                                  </div>

                                  <v-text-field
                                  v-else
                                    label="End Date*"
                                    outlined
                                    :value="end_date"
                                    type="date"
                                    :date-format="
                                      (end_date) =>
                                        new Date(end_date).toDateString()
                                    "
                                    v-model="end_date"
                                  ></v-text-field>
                                </div>
                              </div>
                            </v-row>
                          </v-col>
                          <v-col md="12" lg="12" sm="12" xs="12">
                            <label>Current Salary</label>
                            <v-row>
                              <v-col md="4" lg="4" sm="12" xs="12">
                                <v-select
                                  v-model="currency"
                                  :items="currenceis"
                                  item-text="currency"
                                  item-value="currency"
                                  dense
                                  filled
                                  label="Currency*"
                                ></v-select>
                              </v-col>
                              <v-col md="4" lg="4" sm="12" xs="12">
                                <v-text-field
                                  v-model="row.current_salary"
                                  @keypress="onlyNumbers"
                                  dense
                                  filled
                                  label="Salary*"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-col>

                          <div class="col-md-12">
                            <v-textarea
                              v-model="row.description"
                              clearable
                              clear-icon="close"
                              dense
                              filled
                              counter
                              maxlength="200"
                              label="Describe your job profile"
                            ></v-textarea>
                          </div>
                          <div class="col-md-4">
                            <v-select
                              v-model="row.notice_period"
                              :items="noticePeriods"
                              item-text="name"
                              item-value="id"
                              dense
                              filled
                              label="Notice Period*"
                            ></v-select>
                          </div>
                          <!-- <div class="col-md-6 resumeContain">
                            <v-file-input
                              v-model="resume"
                              dense
                              filled
                              show-size
                              prepend-icon="undefined"
                              append-icon="mdi-paperclip"
                              label="Upload your resume"
                            ></v-file-input>
                          </div> -->
                          <div
                            class="col-md-2"
                            style="text-align: center; line-height: 3.5"
                          >
                            <a
                              class="deleteRow btn"
                              @click.prevent="deleteRow(index)"
                              style="margin: 0 auto"
                            >
                              <span>Remove</span>
                              <svg class="svg-icon" viewBox="0 0 20 20">
                                <path
                                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                                />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-md-4"
                      style="display: flex; align-items: center"
                    >
                      <v-btn
                        class="btn"
                        :disabled="!valid || loading2"
                        color="#000"
                        type="submit"
                        @click.prevent="submitForm"
                      >
                        <span v-if="!loading2" style="color: #fff">Save</span>
                        <template v-else>
                          <span>Processing...</span>
                        </template>
                      </v-btn>
                      <v-btn
                        class="btn btn-red"
                        style="margin-left: 7px; background-color: red"
                        @click="reset"
                        >Reset</v-btn
                      >
                      <router-link to="/customer/dashboard">
                        <v-btn
                          class="btn btn-red"
                          style="margin-left: 7px; background-color: red"
                          >Cancel</v-btn
                        >
                      </router-link>
                    </div>
                    <v-col md="6" lg="6" xs="6" xsm="6">
                      <div
                        v-if="error"
                        class="form-group fadein col-md-12"
                        style="margin-bottom: 30px"
                      >
                        <v-alert class="" text prominent type="error">
                          {{ errorMessage }}
                        </v-alert>
                      </div>
                      <div
                        class="form-group fadein col-md-12"
                        v-if="success"
                        style="margin-bottom: 15px"
                      >
                        <div class="row">
                          <v-alert text type="success" align="left">
                            Employment added successfully!
                          </v-alert>
                        </div>
                      </div>
                    </v-col>
                    <!-- <div class="col-md-12" style="margin-top: 15px">
                      <button type="submit" @click.prevent="addRow">
                        <b>+ Add more employment</b>
                      </button>
                    </div> -->
                  </div>
                </v-form>
              </div>
            </div>
            <v-col md="3" lg="3" sm="12">
              <InnerCustomerNav />
            </v-col>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InnerCustomerNav from "../../components/InnerCustomerNav";
export default {
  name: "UpdateEmployment",
  components: {
    InnerCustomerNav,
  },
  data() {
    return {
      // yes: false,
      user_id: "",
      error: false,
      errorMessage: "",
      success: false,
      loading2: false,
      resume: "",
      currenceis: ["USD", "EURO", "POUND", "INR"],
      currency: "",
      start_date: "",
      end_date: "",
      rows: [
        {
          company: "",
          currency: "",
          current_salary: "",
          department: "",
          description: "",
          designation: "",
          industry: "",
          notice_period: "",
          start_date: "",
          end_date: "",
          is_current: "",
        },
      ],
      menu: false,
      menu2: false,
      valid: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
      ],
      noticePeriods: [],
      organizations: [],
      search: "",
      organiz: "",
      showDropdown: true,
      showText: false,
      changedOrganization: "",
    };
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
  },
  methods: {
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },

    checkOrganisation() {
      if (this.organiz === "Others") {
        this.showText = true;
      } else {
        this.showText = false;
      }
    },
    async getCurrency() {
      let res = await this.$axios.get("/trainingInstituteApi/country_list");
      if (res.data.result === 1) {
        this.currenceis = res.data.data;
      }
    },

    async getSuggestion() {
      let res = await this.$axios.post("CustomerApi/search", {
        search_string: this.search,
      });
      if (res.data.result === 1) {
        this.organizations = res.data.data;
        console.log("organisationslist", res.data.data);
        //   if(this.organiz==="Others"){
        //   this.showText=false
        // }
        this.organizations.push({
          user_id: "",
          company_name: "Others",
          corporate_type: "",
        });
      } else {
        this.organizations.push({
          user_id: "",
          company_name: "Others",
          corporate_type: "",
        });
      }
    },
    // save (date) {
    //   this.$refs.menu.save(date)
    // },
    async getNoticePeriods() {
      let res = await this.$axios.get("CustomerApi/notice_period_list");
      console.log(res);
      if (res.data.result === 1) {
        this.noticePeriods = res.data.data;
      } else {
      }
    },

    async submitForm() {
      this.loading2 = true;
      this.error = false;
      this.success = false;
      if (this.changedOrganization) {
        this.rows[0].company = this.changedOrganization;
      } else {
        this.rows[0].company = this.organiz;
      }
      this.rows[0].currency = this.currency;
      this.rows[0].start_date=this.start_date
      if(this.end_date){
        this.rows[0].end_date=this.end_date
      }
      if (
        this.rows[0].currency === "" ||
        this.rows[0].current_salary === "" ||
        this.rows[0].department === "" ||
        this.rows[0].designation === "" ||
        this.rows[0].industry === "" ||
        this.rows[0].notice_period === "" ||
        this.rows[0].start_date === "" ||
        this.rows[0].company === "" ||
        this.rows[0].is_current === ""
      ) {
        this.errorMessage = "Please fill all mandatory field";
        this.error = true;
        this.loading2 = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post("/CustomerApi/add_employement", {
          user_id: this.user_id,
          employement: this.rows,
        });
        console.log(res);
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.success = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          this.showText = false;
          this.$router.push("/customer/dashboard");
          console.log(res);
        }
      }
    },
    isShowingf() {
      this.isShowing = true;
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    // for v-combobox
    updateTags() {
      this.$nextTick(() => {
        this.select.push(...this.search.split(","));
        this.$nextTick(() => {
          this.search = "";
        });
      });
    },
    // for v-combobox end
    addRow: function () {
      this.rows.push({});
    },
    // deleteRow: function(row) {
    //   this.rows.$remove(row);
    // },
    // addSubRow: function(row) {
    //   row.subrows.push({ answer: "" });
    // },
    deleteRow: function (index) {
      this.$delete(this.rows, index);
    },
  },
  mounted() {
    this.user_id = localStorage.getItem("userId");
    this.getNoticePeriods();
    this.getCurrency();
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (this.user_id === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style></style>
