<template>
  <div class="fadein">
    <div class="section">
      <div class="container">
        <h3 class="small-title">Add education</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="#">My Profile</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Update education</a>
            </li>
          </ul>
        </div>

        <div class="form" >
          <div class="row">
            <div class="col-md-9">
              <div class="bx">
                <v-form ref="form" v-model="valid" lazy-validation>
                  <!-- <div> -->
                  <v-row v-for="(row, i) in rows" :key="i">
                    <!-- <div class="col-md-12">
                          <h4>
                            <label for>Education</label>
                          </h4>
                    </div>-->
                    <div class="col-md-4 form-group">
                      <v-select
                        v-model="row.qualification_id"
                        :items="qualifications"
                        :loading="loadingDrop"
                        item-text="name"
                        item-value="id"
                        @change="getStreams"
                        label="Qualification*"
                        dense
                        filled
                        :rules="rules"
                        required
                      ></v-select>
                    </div>
                    <div class="col-md-4 form-group">
                      <v-select
                        v-model="row.stream_id"
                        :loading="loadingDrop"
                        :items="streams"
                        item-text="name"
                        item-value="id"
                        @change="getSpecializations"
                        label="Stream*"
                        dense
                        filled
                        :rules="rules"
                        required
                      ></v-select>
                    </div>
                    <div class="col-md-4 form-group">
                      <v-select
                        v-model="row.specialization_id"
                        :items="specializations"
                        :loading="loadingDrop"
                        dense
                        filled
                        label="Specialization*"
                        item-text="name"
                        item-value="id"
                      ></v-select>
                    </div>
                    <div class="col-md-4 form-group">
                      <v-text-field
                        v-model="row.college"
                        dense
                        filled
                        :rules="rules"
                        label="University/Institute*"
                        required
                      ></v-text-field>
                    </div>
                    <v-col class="col-md-4 form-group">
                      <!-- <v-radio-group v-model="courseType" row>
                        <v-radio label="Full Time" value="fullTime"></v-radio>
                        <v-radio label="Part Time" value="partTime"></v-radio>
                        <v-radio label="Correspondence/Distance learning" value="distance"></v-radio>
                      </v-radio-group>-->
                      <v-select
                        v-model="row.course_type"
                        :items="courseTypes"
                        :loading="loadingDrop"
                        item-text="name"
                        item-value="id"
                        label="Course Type*"
                        dense
                        filled
                        :rules="rules"
                        required
                      ></v-select>
                    </v-col>
                    <v-col class="col-md-4 form-group">
                      <v-select
                        v-model="row.passing_year"
                        :items="passingOutYears"
                        :loading="loadingDrop"
                        item-text="name"
                        item-value="id"
                        dense
                        filled
                        :rules="rules"
                        label="Passing out year*"
                        required
                      ></v-select>
                    </v-col>
                    <v-col class="col-md-4 form-group">
                      <v-select
                        v-model="row.grading_system_id"
                        :items="gradingSystems"
                        :loading="loadingDrop"
                        @change="selectGrading()"
                        item-text="name"
                        item-value="id"
                        dense
                        filled
                        :rules="rules"
                        label="Grading System*"
                        required
                      ></v-select>
                    </v-col>
                    <v-col
                      class="col-md-4 form-group"
                      v-if="grading_system === 'Grade'"
                    >
                      <v-text-field
                        v-model="row.marks"
                        dense
                        filled
                        :rules="rules"
                        placeholder="ex:- A,A+,AA etc*"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col
                      class="col-md-4 form-group"
                      v-if="grading_system === 'Percentage'"
                    >
                      <v-text-field
                        v-model="row.marks"
                        dense
                        filled
                        type="number"
                        maxlength="3"
                        minlength="1"
                        placeholder="ex:- 50, 55.5 etc"
                        required
                      ></v-text-field>
                    </v-col>
                    <v-alert v-if="error" text prominent type="error">
                      {{ errorMessage }}
                    </v-alert>
                    <v-alert v-if="success" text type="success" align="left">
                      Education added successfully!
                    </v-alert>
                    <!-- <div
                          class="col-xs-12"
                          v-if="!isShowing"
                          style="margin-top: 15px"
                        >
                          <button @click.prevent="isShowingf">
                            <b>+ Add more education</b>
                          </button>
                        </div>
                        <div
                          class="col-md-12"
                          v-if="isShowing"
                          style="margin-top: 15px"
                        >
                          <button type="submit" @click.prevent="addRow">
                            <b>+ Add more education</b>
                          </button>
                        </div> -->
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-btn
                        class="btn"
                        :disabled="!valid || loading2"
                        color="#000"
                        type="submit"
                        @click.prevent="submitForm"
                      >
                        <span v-if="!loading2" style="color: #fff">Save</span>
                        <template v-else>
                          <span>Processing...</span>
                        </template>
                      </v-btn>
                      <v-btn
                        color="red"
                        class="btn btn-red"
                        @click.prevent="reset"
                        >Reset</v-btn
                      >
                      <v-btn
                        color="red"
                        class="btn btn-red"
                        @click="backToDashboard"
                        >Cancel</v-btn
                      >
                    </v-col>
                  </v-row>
                  <!-- </div> -->

                  <v-row>
                    <div class="col-xs-12" v-if="isShowing">
                      <div class v-for="(row, index) in rows" :key="row.name">
                        <hr />

                        <div class="row">
                          <div class="col-md-12">
                            <h4 class="head2">Other Education</h4>
                          </div>
                          <div class="col-md-4">
                            <v-select
                              v-model="row.qualification"
                              :items="qualifications"
                              dense
                              filled
                              :rules="rules"
                              label="Qualification"
                              required
                            ></v-select>
                          </div>
                          <div class="col-md-4">
                            <v-select
                              v-model="row.board"
                              :items="boards"
                              dense
                              filled
                              :rules="rules"
                              label="Board"
                              required
                            ></v-select>
                          </div>
                          <div class="col-md-4">
                            <v-select
                              v-model="row.passingOut"
                              :items="passingOutYear"
                              dense
                              filled
                              :rules="rules"
                              label="Year of passing"
                              required
                            ></v-select>
                          </div>
                          <div class="col-md-4">
                            <v-select
                              v-model="row.medium"
                              :items="medium"
                              dense
                              filled
                              :rules="rules"
                              label="Medium"
                              required
                            ></v-select>
                          </div>

                          <div class="col-md-4">
                            <v-select
                              v-model="row.marks"
                              :items="percentages"
                              dense
                              filled
                              :rules="rules"
                              label="Percentage"
                              required
                            ></v-select>
                          </div>

                          <div
                            class="col-md-4"
                            style="text-align: center; line-height: 3.5"
                          >
                            <a
                              class="deleteRow btn"
                              @click.prevent="deleteRow(index)"
                              style="margin: 0 auto"
                            >
                              <span>Remove</span>
                              <svg class="svg-icon" viewBox="0 0 20 20">
                                <path
                                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                                />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </v-row>
                </v-form>
              </div>
            </div>
            <v-col md="3" lg="3" sm="12">
              <InnerCustomerNav />
            </v-col>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InnerCustomerNav from "../../components/InnerCustomerNav";
import OtherEducation from "../../components/Add_new_education";
import { base } from "~/components/base";
export default {
  name: "UpdateEducation",
  components: {
    InnerCustomerNav,
    OtherEducation,
  },
  data() {
    return {
      user_id: "",
      error: false,
      errorMessage: "",
      success: false,
      rows:[{college :"",
        course_type :"",
        grading_system_id :"",
        marks :"",
        passing_year :"",
        qualification_id :"",
        specialization_id :"",
        stream_id :""}],
      isShowing: false,
      valid: false,
      loadingDrop: true,
      loading2: false,
      rules: [(value) => !!value || "Required."],
      qualifications: [],
      streams: [],

      specializations: [],
      courseTypes: [],
      passingOutYears: [],
      gradingSystems: [],
      grading_system: "",
    };
  },

  methods: {
    backToDashboard() {
      this.$router.push("/customer/dashboard");
    },

    selectGrading() {
      for (let i = 0; i < this.gradingSystems.length; i++) {
        if (this.gradingSystems[i].id === this.rows[0].grading_system_id) {
          this.grading_system = this.gradingSystems[i].name;
        }
      }
      console.log("grading345647567", this.grading_system);
    },
    async getQualifications() {
      let res = await this.$axios.get("CustomerApi/qualification_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.qualifications = res.data.data;
        this.loadingDrop = false;
      } else {
      }
    },
    async getCourseTypes() {
      let res = await this.$axios.get("CustomerApi/course_type_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.courseTypes = res.data.data;
        this.loadingDrop = false;
      } else {
      }
    },
    async getPassingOutYear() {
      let res = await this.$axios.get("CustomerApi/passing_years_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.passingOutYears = res.data.data;
        this.loadingDrop = false;
      } else {
      }
    },
    async getGradingSystems() {
      let res = await this.$axios.get("CustomerApi/grading_system_list/");
      console.log(res);
      if (res.data.result === 1) {
        this.gradingSystems = res.data.data;
        this.loadingDrop = false;
        console.log("grading", res.data.data);
      } else {
      }
    },
    async getStreams(id) {
      console.log("this is id", id);
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };
      fetch(`${base}CustomerApi/stream_list/${id}`, requestOptions)
        .then((response) => response.json())
        .then((result) => {
          // console.log(result.data)
          if (result.result === 1) {
            this.streams = result.data;
            this.loadingDrop = false;
          } else {
          }
        })
        .catch((error) => console.log("error", error));
    },
    async getSpecializations(id) {
      console.log(id);
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(`${base}CustomerApi/specialization_list/${id}`, requestOptions)
        .then((response) => response.json())
        .then((result) => {
          if (result.result === 1) {
            this.specializations = result.data;
            this.loadingDrop = false;
          } else {
          }
        })
        .catch((error) => console.log("error", error));
    },
    async submitForm() {
      this.loading2 = true;
      this.error = false;
      this.success = false;
      const newArr = this.rows.map((v) => ({
        ...v,
        user_id: this.user_id,
      }));
      console.log("educationPayload", this.rows);
      if (
        this.rows[0].college === "" ||
        this.rows[0].course_type === "" ||
        this.rows[0].grading_system_id === "" ||
        this.rows[0].marks === "" ||
        this.rows[0].passing_year === "" ||
        this.rows[0].qualification_id === "" ||
        this.rows[0].specialization_id === "" ||
        this.rows[0].stream_id === ""
      ) {
        this.errorMessage = "Please fill all mandatory field";
        this.error = true;
        this.loading2 = false;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else {
        let res = await this.$axios.post("/CustomerApi/add_education", {
          user_id: this.user_id,
          education: this.rows,
        });
        console.log(res);
        if (res.data.result === 0) {
          this.loading2 = false;
          this.valid = true;
          this.error = true;
          this.errorMessage = res.data.message;
          setTimeout(() => {
            this.error = false;
          }, 2000);
        } else if (res.data.result === 1) {
          this.success = true;
          this.valid = true;
          this.loading2 = false;
          this.error = false;
          this.errorMessage = "";
          setTimeout(() => {
            this.success = false;
          }, 2000);
          this.$router.push("/customer/dashboard");
          console.log(res);
        }
      }
    },
    isShowingf() {
      this.isShowing = true;
    },
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    onlyNumbers(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if (keyCode < 48 || keyCode > 57) {
        // 46 is dot
        event.preventDefault();
      }
    },
    // for v-combobox
    updateTags() {
      this.$nextTick(() => {
        this.select.push(...this.search.split(","));
        this.$nextTick(() => {
          this.search = "";
        });
      });
    },
    // for v-combobox end
    addRow: function () {
      this.rows.push({});
    },
    deleteRow: function (index) {
      this.$delete(this.rows, index);
    },
  },
  mounted() {
    // this.name = localStorage.getItem('name');
    // this.userMobile = localStorage.getItem('mobile');
    // this.userEmail = localStorage.getItem('email');
    this.user_id = localStorage.getItem("userId");
    this.getQualifications();
    this.getPassingOutYear();
    this.getGradingSystems();
    this.getCourseTypes();
    // this.getCourses()
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (this.user_id === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style></style>
