<template>
  <div class="fadein">
    <div
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${banner})` }"
    >
      <h2 style>
        {{ companyName }}
        <!-- <span style>Open: 3 PM To 6 PM</span> -->
        <!-- <span><button class="">Change banner</button></span> -->
      </h2>
      <v-container>
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <router-link to="/corporate/change_password"
                >Change Password</router-link
              >
            </li>
          </ul>
        </div>
      </v-container>
    </div>
    <div class="section">
      <v-container>
        <div class="panel-main row">
          <div class="main">
            <v-row>
              <div class="col-md-3 dashboardNav profileNav">
                <div class="course-profile">
                  <ProfileCard
                    :facebook="profileData.facebook"
                    :linkedin="profileData.linkedin"
                    :insta="profileData.instagram"
                    :twitter="profileData.twitter"
                    :youtube="profileData.youtube"
                    :name="companyName"
                    :mobile="userMobile"
                    :email="userEmail"
                    :profilePic="profileData.logo_image"
                    :userWebsite="profileData.website_link"
                  />
                </div>
              </div>
              <v-col md="6">
                <ChangePasswordForm :customer="true" />
              </v-col>
              <v-col md="3">
                <CustomerNav />
              </v-col>
            </v-row>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import banner from "../../assets/img/picnic.jpg";
import CustomerNav from "../../components/CustomerNav";
import ProfileCard from "../../components/ProfileCard";
import ChangePasswordForm from "../../components/ChangePasswordForm";
export default {
  name: "ChangePasswordPage",
  components: {
    CustomerNav,
    ProfileCard,
    ChangePasswordForm,
  },
  data() {
    return {
      banner,
      user_id: "",
      user: null,
      companyName: "",
      userMobile: "",
      userEmail: "",
      userWebsite: "",
      profileData: "",
    };
  },
  mounted() {
    this.name = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.user_id = localStorage.getItem("userId");
    this.getProfile();
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      // this.$router.push("/customer/login");
      this.$store.dispatch("logout");
    }
  },
  methods: {
    async getProfile() {
      this.aboutLoading = true;
      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
  },
};
</script>


<style scoped>
</style>
