<template>
  <div>
    <div class="fadein">
      <div v-if="noimage">
        <div
          class="inner-banner dashboardBanner"
          :style="{ backgroundImage: `url(${banner})` }"
        >
          <h2 style>
            {{ name }}
            <!-- <span><button class="">Change banner</button></span> -->
          </h2>
          <div class="container">
            <div class="breadcrumb">
              <ul>
                <li>
                  <router-link to="/">Home</router-link>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <nuxt-link to="/customer/dashboard">My Profile</nuxt-link>
                </li>
              </ul>

              <!-- <a
            style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
            >Change banner image</a -->

              <a
                style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
                @click="openModal"
                ><i class="ion-edit" style="color:#fff"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div v-if="image">
        <div
          class="inner-banner dashboardBanner"
          :style="{ backgroundImage: `url(${bannerlink})` }"
        >
          <h2 style>
            {{ name }}
            <!-- <span><button class="">Change banner</button></span> -->
          </h2>
          <div class="container">
            <div class="breadcrumb">
              <ul>
                <li>
                  <router-link to="/">Home</router-link>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                </li>
                <li>
                  <nuxt-link to="/customer/dashboard">My Profile</nuxt-link>
                </li>
              </ul>

              <!-- <a
            style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
            >Change banner image</a -->

              <a
                style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
                @click="openModal"
                ><i class="ion-edit" style="color:#fff"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="profile js-sidebar-holder">
        <div class="container">
          <div class="panel-main row">
            <div class="main">
              <div class="col-md-3 col-sm-12 dashboardNav profileNav">
                <div class="course-profile">
                  <ProfileCard
                    :facebook="profileData.facebook"
                    :linkedin="profileData.linkedin"
                    :insta="profileData.instagram"
                    :twitter="profileData.twitter"
                    :youtube="profileData.youtube"
                    :name="companyName"
                    :mobile="userMobile"
                    :email="userEmail"
                    :profilePic="
                      profileData.logo_image || profileData.profile_image
                    "
                    :userWebsite="profileData.website_link"
                  />
                  <CustomerNav />
                </div>
              </div>
              <div class="col-md-9 col-sm-12">
                <UploadResume />

                <BasicInfo :profile="profileData" :loader="aboutLoading" />
                <Education />
                <Employment />
                <Certification />
                <TechnicalSkill />
                <ProfessionalSkills />
                <KeySkills />
                <Languages />
                <Awards v-if="getco" />
                <!-- if (this.corporate_type != "HR's") {} -->

                <Courses v-if="getcorporatetype" />

                <Subscription v-if="getcorporate"/>

                <Kyc />
                <Hobbies />

                <!-- <PersonalDetails
                v-if="
                  profileData.gender ||
                  profileData.dob ||
                  profileData.martial_status
                "
                :profile="profileData"
                :loader="aboutLoading"
              />
              <Employment
                v-if="
                  profileData.employement_list &&
                  profileData.employement_list.length
                "
                :data="profileData.employement_list"
                :loader="aboutLoading"
              />
              <Education
                v-if="
                  profileData.eduction_list && profileData.eduction_list.length
                "
                :data="profileData.eduction_list"
              />
              
              <EnrolledCourses
                v-if="enrolledCoursesList && enrolledCoursesList.length"
                :data="enrolledCoursesList"
                :loader="courseLoader"
              /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600"
      style="background: #fff"
    >
      <v-card>
        <v-card-title class="headline">
          <v-col md="12" lg="12"> Change Banner</v-col>
        </v-card-title>
        <v-form ref="file">
          <v-file-input
            ref="image_string"
            v-model="image_string"
            v-on:change="onChange"
            dense
            filled
            :rules="[(v) => !!v || 'Image is required']"
            label="Upload Image"
            required
          >
          </v-file-input>
        </v-form>
        <v-alert v-if="error" text-prominent-type="error">
          {{ errorMessage }}
        </v-alert>
        <v-alert v-if="success" text type="success" align="left">
          Banner Changed Successfully.
        </v-alert>

        <v-card-actions>
          <div class="col-md-12" style="display: flex; align-items: center">
            <v-btn
              class="btn1"
              :disabled="loading"
              color="#000"
              @click="submitForm"
            >
              <span v-if="!loading" style="color: #fff">Save </span>
              <template v-else>
                <span> Processing...</span>
              </template>
            </v-btn>
            <v-btn
              class="btn1 btn-red"
              style="margin-left: 7px; background-color: red"
              @click="dialog = false"
              >Cancel</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollToFixed/1.0.8/jquery-scrolltofixed-min.js"></script>
<script>
$(document).ready(function() {
  $(".js-sidebar-menu").scrollToFixed({
    marginTop: 20,
    limit:
      $(".js-sidebar-holder").outerHeight() +
      90 -
      $(".js-sidebar-menu").outerHeight(),
  });

  $(".js-navigation-item").bind("click", function(e) {
    e.preventDefault();

    var target = $(this).attr("href");

    if (target.length > 1) {
      $("html, body")
        .stop()
        .animate(
          {
            scrollTop: $(target).offset().top,
          },
          600,
          function() {
            location.hash = target;
          }
        );
    }

    return false;
  });
});

$(window)
  .scroll(function() {
    var scrollDistance = $(window).scrollTop();

    $(".article-section").each(function(i) {
      if ($(this).position().top - 2 <= scrollDistance) {
        $(".js-navigation-list .js-navigation-item.active").removeClass(
          "active"
        );
        $(".js-navigation-list .js-navigation-item")
          .eq(i)
          .addClass("active");
      }
    });
  })
  .scroll();
</script>
<script>
import banner from "../../assets/img/picnic.jpg";
import CustomerNav from "../../components/CustomerNav";
import ProfileCard from "../../components/ProfileCard";
import BasicInfo from "../../components/CustomerDashboard/BasicInfo";
import PersonalDetails from "../../components/CustomerDashboard/PersonalDetails";
import Employment from "../../components/CustomerDashboard/Employment";
import Education from "../../components/CustomerDashboard/Education";
import Skills from "../../components/CustomerDashboard/Skills";
import EnrolledCourses from "../../components/CustomerDashboard/EnrolledCourses";
import UploadResume from "../../components/CustomerDashboard/UploadResume";
import Certification from "../../components/CustomerDashboard/Certification";
import TechnicalSkill from "../../components/CustomerDashboard/TechnicalSkill";
import ProfessionalSkills from "../../components/CustomerDashboard/ProfessionalSkills";
import KeySkills from "../../components/CustomerDashboard/KeySkills";
import Languages from "../../components/CustomerDashboard/Languages";
import Awards from "../../components/CustomerDashboard/Awards";
import Hobbies from "../../components/CustomerDashboard/Hobbies";
import Courses from "../../components/CustomerDashboard/Courses";
import Kyc from "../../components/CorporateDashboard/Kyc";
import Subscription from "../../components/CorporateDashboard/Subscription";

export default {
  name: "customerProfile",
  components: {
    Awards,
    CustomerNav,
    ProfileCard,
    BasicInfo,
    PersonalDetails,
    Employment,
    Education,
    Skills,
    EnrolledCourses,
    UploadResume,
    Certification,
    TechnicalSkill,
    ProfessionalSkills,
    KeySkills,
    Languages,
    Hobbies,
    Courses,
    Kyc,
    Subscription,
  },
  data() {
    return {
      banner,
      name: "",
      edit: {
        banner_image: "",
        user_id: "",
      },
      loading: false,
      image: "",
      noimage: "",
      dialog: false,
      profileData: "",
      success: false,
      error: false,
      bannerlink: "",
      enrolledCoursesList: [],
      courseLoader: true,
      corporate_type: "",
      userType: "",
    };
  },
  methods: {
    async getProfile() {
      this.aboutLoading = true;
      let corpo = localStorage.getItem("corporate");
      console.log("corpo ka rang", corpo);

      let res = await this.$axios.post("CustomerApi/my_profile", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.$store.dispatch("cartItem");
        this.profileData = res.data.data;
        this.aboutLoading = false;
      } else {
      }
    },
    async getEnrolledCourses() {
      this.courseLoader = true;
      let res = await this.$axios.post("CustomerApi/purchased_course_list", {
        user_id: this.user_id,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.enrolledCoursesList = res.data.data;
        this.courseLoader = false;
      } else {
      }
    },
    openModal() {
      (this.success = false), (this.error = false), (this.dialog = true);
    },
    onChange(e) {
      if (e === undefined) {
        this.edit.banner_image = "";
      } else {
        let image_string = this.image_string;

        let reader = new FileReader();
        reader.onloadend = (image_string) => {
          this.edit.banner_image = reader.result;
        };
        reader.readAsDataURL(image_string);
      }
    },
    async submitForm() {
      this.loading = true;
      this.$refs.file.validate();
      this.edit.user_id = localStorage.getItem("userId");

      let resp = await this.$axios.post(
        "/trainingInstituteApi/upload_banner",
        this.edit
      );
      console.log("onsubmit", resp);
      if (resp.data.result === 0) {
        this.loading = false;
        this.error = true;
        this.errorMessage = "Please choose a image";
        // setTimeout(() => (this.dialog = false), 2000);
      } else if (resp.data.result === 1) {
        this.success = true;

        setTimeout(() => (this.dialog = false), 2000);
        this.loading = false;
        this.getbanner();
        this.$refs.image_string.reset();
      }
    },
    async getbanner() {
      this.edit.user_id = localStorage.getItem("userId");

      let respo = await this.$axios.post(
        "/trainingInstituteApi/get_banner",
        this.edit
      );
      console.log("list data", respo.data.message);
      this.bannerlink = respo.data.data.banner_image;
      console.log("bannerdata", this.bannerlink);
      if (this.bannerlink === "") {
        this.noimage = true;
      } else {
        this.image = true;
      }
      // this.errorMessage = res.data.message;
    },
  },
  mounted() {
    this.name = localStorage.getItem("name");
    this.userMobile = localStorage.getItem("mobile");
    this.userEmail = localStorage.getItem("email");
    this.corporate_type = localStorage.getItem("corporate");
    this.user_id = localStorage.getItem("userId");
    this.userType = localStorage.getItem("user_type");
    this.getProfile();
    this.getEnrolledCourses();
    this.getbanner();
  },
  created() {
    if (process.browser) {
      this.user_id = localStorage.getItem("userId");
    }
    if (this.user_id === null) {
      this.$router.push("/login");
    }
  },
  computed: {
    getcorporatetype() {
      if (
        this.corporate_type === "HR's" &&
        this.corporate_type != "Individual Trainer"
      ) {
        return true;
      } else {
        return false;
      }
    },
    getcorporate() {
      if (this.corporate_type != "Individual Trainer") {
        return true;
      } else {
        return false;
      }
    },
    getco() {
      if (this.user_type === "Customer") {
        return false;
      } else {
        return true;
      }
    },
  },
};
</script>

<style scoped></style>
<style>
/* .profileNav {
    top: -270px;
} */

/* .svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
} */
.adresses p {
  padding-left: 7px;
  position: relative;
  display: flex;
  align-items: center;
}

.adresses p i {
  font-size: 20px;
  padding-right: 12px;
  line-height: 2;
}
.fadein {
  min-width: 100%;
  height: auto;
  overflow-x: auto;
  justify-content: right;
  align-items: right;
}
/* .adresses p::before {
  content: "\f041";
  font: normal normal normal 14px/1 FontAwesome;
} */
</style>
