<template>
    <div class="fadein">
        <div class="profile-course section purchase">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                 <li><router-link to="/">Home</router-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><nuxt-link to="/customer/dashboard">My Profile</nuxt-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Enqueries</a></li>
                </ul>
            </div>
            <div class="bx viewed">
                
                <table>
                    <tr>
                        <th>SI</th>
                        <th>Course Name</th>
                        <th>Course Type</th>
                        <th>Institute Name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>PHP</td>
                        <td>Online</td>
                        <td>NIIT</td>
                    </tr>
                      <tr>
                        <td>2</td>
                        <td>Btech</td>
                        <td>Classes</td>
                        <td>NIT</td>
                    </tr>
                </table>

            </div>
        </div>
        </div>
    </div>
            </template>