<template>
  <div class="fadein">
    <div class="section">
      <div class="container">
        <h3 class="small-title">Enrolled Courses</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/my_profile/">My Profile</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Enrolled Courses</a>
            </li>
            <!-- <li><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Photography</a></li>-->
          </ul>
        </div>
        <div>
          <div class="row">
            <div class="col-md-9">
              <div v-if="!enrolledCoursesList.length" class="bx">
                <h5>No data</h5>
              </div>
              <div class="row" v-else>
                <div
                  v-for="(l, i) in enrolledCoursesList"
                  :key="i"
                  class="col-md-4"
                >
                  <div class="box">
                    <img :src="l.image" alt />
                    <article>
                      <h4>{{ l.name }}</h4>
                      <p>By {{ l.training_institute }}</p>

                      <div class="art-info">
                        <h6>
                          <router-link
                            style="color: #ed1d25"
                            :to="`/customer/courses/${l.name.replace(
                              /\s/g,
                              '-'
                            )}/${l.course_id}`"
                            >Start Course</router-link
                          >
                        </h6>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <CustomerNav />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CustomerNav from "../../components/CustomerNav";
import EnrolledCourses from "../../components/CustomerDashboard/EnrolledCourses";
export default {
  name: "enrolledCourses",
  components: {
    CustomerNav,
    EnrolledCourses,
  },
  data() {
    return {
      user: null,
      enrolledCoursesList: "",
    };
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/login");
    }
  },
  methods: {
    async getEnrolledCourses() {
      this.courseLoader = true;
      let res = await this.$axios.post("CustomerApi/purchased_course_list", {
        user_id: this.user,
      });
      console.log(res);
      if (res.data.result === 1) {
        this.enrolledCoursesList = res.data.data;
        this.courseLoader = false;
      } else {
      }
    },
  },
  mounted() {
    this.getEnrolledCourses();
  },
};
</script>

<style>
</style>