<template>
    <div class="fadein">
        <div class="profile-course section">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                 <li><router-link to="/">Home</router-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><nuxt-link to="/customer/dashboard">My Profile</nuxt-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Enroll Course Details</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <video controls="" width="100%" height="400">
                        <source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
                       
                        Your browser does not support the video tag.
                      </video>
                   
                        <h1 class="small-title">Photography Part 2</h1>
                        <span class="lower-title">By Filmmake Media</span>
                        <div class="panel">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>By the Numbers</h5>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                    <li>Skill Level: Beginners Level</li>
                                    <li>Students: 56</li>
                                    <li>Languages: English</li>
                                    <li>Caption: Yes</li>
                               
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul>
                                  
                                    <li>Lectures: 25</li>
                                    <li>Video: 57 hours</li>
                                </ul>
                            </div>
                            
                        </div>
                      </div>
                      <div class="panel">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Description </h5>
                            </div>
                            <div class="col-md-8">
                             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod similique accusantium earum nam corporis veniam, delectus sequi eaque beatae deleniti, cumque quo, iure tempore dolorem cupiditate impedit officiis eligendi ducimus.
                                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quos nisi temporibus nihil molestiae repudiandae quae eligendi nemo, recusandae mollitia. Amet earum inventore excepturi animi corporis ipsa necessitatibus eligendi aspernatur.
                             </p>
                            </div>
                          
                            
                        </div>
                      </div>
                      <div class="panel">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Instructor </h5>
                            </div>
                            <div class="col-md-8">
                            <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                            <h6>Richard Miles</h6>
                            <br>
                            <span>Photographer</span>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <h4>Course Content</h4>
                        <h6>Section 1: Intro</h6>
                        <small>3 Videos | 45 mins</small>
                        <br>
                        <br>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>Photography Master class: <br>Welcome to the course</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>How Does a Camera work?</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>Know your lecture type</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                    </div>
                    <hr>
                    <div class="card">
                    
                        <h6>Section 2: Description</h6>
                        <small>3 Videos | 45 mins</small>
                        <br>
                        <br>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>What is exposure?</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>What is aperture &amp; sHutter Speed?</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://www.hotrate.com/wp-content/uploads/2019/03/point-and-shoot-camera.jpg" alt="">
                                </div>
                                <div class="col-md-9">
                                <p>What is ISO?</p>   
                                <small>15 mins</small>                    
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>