<template>
  <div class="fadein">
    <!-- <div class="section">
      <div class="container">
        <h3 class="small-title">Payment History</h3>
        <div class="breadcrumb">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <router-link to="/my_profile/">My Profile</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="#">Update profile</a>
            </li>
            
          </ul>
        </div>
        <div>
          <div class="row">
            <div class="col-md-9">
              <div class="bx">
                <h5>No data</h5>
              </div>
            </div>
            <v-col md="3" lg="3" sm="12">
              <CustomerNav />
            </v-col>
          </div>
        </div>
      </div>
    </div> -->
   <div class="profile-course section purchase">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                 <li><router-link to="/">Home</router-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><nuxt-link to="/customer/dashboard">My Profile</nuxt-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Payment History</a></li>
                </ul>
            </div>
            <div class="bx viewed">
                
                <table>
                    <tr>
                        <th><h6>Purchase History</h6></th>
                        <th>Date</th>
                        <th>Total price</th>
                        <th>Payment Type</th>
                        <th>Receipt</th>
                        <th>Invoice</th>
                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>
                        
                        <td>20 Dec 2020</td>
                        <td> <i class="fa fa-inr"></i> 600</td>
                        <td>300 Google play store</td>
                        <td><a href="#">Reciept</a></td>
                        <td>Unavailable</td>

                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>
                        
                        <td>20 Dec 2020</td>
                        <td> <i class="fa fa-inr"></i> 600</td>
                        <td>300 Google play store</td>
                        <td><a href="#">Reciept</a></td>
                        <td>Unavailable</td>

                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>
                        
                        <td>20 Dec 2020</td>
                        <td> <i class="fa fa-inr"></i> 600</td>
                        <td>300 Google play store</td>
                        <td><a href="#">Reciept</a></td>
                        <td>Unavailable</td>

                    </tr>
                </table>
            </div>
        </div>
        </div>
  </div>
</template>

<script>
import CustomerNav from "../../components/CustomerNav";
export default {
  name: "PaymentHistory",
  components: {
    CustomerNav,
  },
  data() {
    return {
      user: null,
    };
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
</style>