<template>
  <div>
    <div class="fadein">
      <div class="section">
        <div class="container">
          <h3 class="small-title">Update Skills</h3>
          <div class="breadcrumb">
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <router-link to="#">My Profile</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">Update Skills</a>
              </li>
            </ul>
          </div>

          <div class="form">
            <div class="row">
              <div class="col-md-9">
                <div class="bx">
                  <div class="row">
                    <v-form>
                      <div class="col-md-12">
                        <h6>
                          <label for>Your top 5 skills</label>
                        </h6>
                        <v-combobox
                          multiple
                          v-model="skills"
                          append-icon
                          chips
                          dense
                          filled
                          :rules="skillsRules"
                          placeholder="Type and press enter"
                          deletable-chips
                          class="tag-input"
                          :search-input.sync="search"
                          @keyup.tab="updateTags"
                          @paste="updateTags"
                        ></v-combobox>
                        <h6>
                          <label for>Professional skills</label>
                        </h6>
                        <v-combobox
                          multiple
                          v-model="professionalSkills"
                          append-icon
                          chips
                          dense
                          filled
                          :rules="skillsRules"
                          placeholder="Type and press enter"
                          deletable-chips
                          class="tag-input"
                          :search-input.sync="search"
                          @keyup.tab="updateTags"
                          @paste="updateTags"
                        ></v-combobox>

                        <!-- <v-combobox
                          multiple
                          v-model="technicalSkills"
                          append-icon
                          chips
                          dense
                          filled
                          :rules="skillsRules"
                          placeholder="Type and press enter"
                          deletable-chips
                          class="tag-input"
                          :search-input.sync="search"
                          @keyup.tab="updateTags"
                          @paste="updateTags"
                        ></v-combobox>-->
                      </div>
                      <span class="col-md-12">
                        <h6>
                          <label for>Technical skills</label>
                        </h6>
                      </span>
                      <div class="technicalSkills">
                        <div
                          v-for="(row, index) in rows"
                          :key="index"
                          style="float: left; width: 100%"
                        >
                          <div class="col-md-4">
                            <v-text-field
                              v-model="itSkills"
                              dense
                              filled
                              :rules="rules"
                              label="IT Skills"
                              required
                            ></v-text-field>
                          </div>
                          <div class="col-md-4">
                            <v-text-field
                              v-model="version"
                              dense
                              filled
                              :rules="rules"
                              label="Version"
                              required
                            ></v-text-field>
                          </div>
                          <div class="col-md-3">
                            <v-text-field
                              v-model="lastUsed"
                              dense
                              filled
                              :rules="rules"
                              label="Last Used"
                              required
                            ></v-text-field>
                          </div>

                          <div
                            class="col-md-1"
                            style="text-align: center; line-height: 3.5"
                          >
                            <a
                              class="deleteRow btn"
                              @click.prevent="deleteRow(index)"
                              style="margin: 0 auto"
                            >
                              <!-- <span>Remove</span> -->
                              <svg class="svg-icon" viewBox="0 0 20 20">
                                <path
                                  d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                                />
                              </svg>
                            </a>
                          </div>
                          <div style="float: left; width: 100%">
                            <hr />
                          </div>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 15px">
                          <button type="submit" @click.prevent="addRow">
                            <b>+ Add more technical skills</b>
                          </button>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button
                          :disabled="valid"
                          class="mr-4 btn"
                          @click="validate"
                        >
                          Save
                        </button>
                        <!-- <v-btn :disabled="!valid" class="mr-4 btn" @click="validate">Validate</v-btn> -->
                        <button class="btn btn-red" @click="reset">
                          Cancel
                        </button>

                        <!-- <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn> -->

                        <!-- <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn> -->
                      </div>
                    </v-form>
                  </div>
                </div>
              </div>
              <v-col md="3" lg="3" sm="12">
                <InnerCustomerNav />
              </v-col>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InnerCustomerNav from "../../components/InnerCustomerNav";
export default {
  name: "UpdateSkills",
  components: {
    InnerCustomerNav,
  },
  data() {
    return {
      valid: false,
      skills: [],
      user: "",
      professionalSkills: [],
      // technicalSkills: []
      rows: [
        {
          itSkills: "",
          version: "",
          lastUsed: "",
          years: "",
          months: "",
        },
      ],
    };
  },
  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    addRow: function () {
      this.rows.push({
        itSkills: "",
        version: "",
        lastUsed: "",
        years: "",
        months: "",
      });
    },
    deleteRow: function (index) {
      this.$delete(this.rows, index);
    },
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
</style>