<template>
  <div>
    <div class="fadein">
      <div class="section">
        <div class="container">
          <h3 class="small-title">Training & Certifications</h3>
          <div class="breadcrumb">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <router-link to="#">My Profile</router-link>
              </li>
              <li>
                <i class="fa fa-angle-right"></i>
              </li>
              <li>
                <a href="#">Update Training & Certification</a>
              </li>
            </ul>
          </div>
          <div class="form">
            <div class="row">
              <div class="col-md-9">
                <div class="bx">
                  <v-container>
                    <div>
                      <h6>
                        <label>Training</label>
                      </h6>

                      <v-form class="trainingCert" ref="addTraining">
                        <div class v-for="(row, index) in rows" :key="index">
                          <v-row>
                            <v-col md="11">
                              <!-- <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Value"
                                  v-model="row.name"
                          />-->
                              <v-text-field
                                v-model="row.description"
                                clearable
                                clear-icon="cancel"
                                :rules="[(v)=>!!v || 'Training name is required']"
                                dense
                                filled
                                required
                                label="Training Name*"
                              ></v-text-field>
                              <v-file-input
                                v-model="img_string[index]"
                                v-on:change="uploadDocument"
                                dense
                                filled
                                show-size
                                required
                                :rules="[(v)=>!!v || 'Traning certification is required']"
                                label="Upload Training certificate*"
                              ></v-file-input>
                              <!-- <a
                            class="deleteRow btn"
                            
                            style="margin: 0 auto; padding: 0"
                          >
                            <span>Remove</span>
                            <svg class="svg-icon" viewBox="0 0 20 20">
                              <path
                                d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                              />
                            </svg>
                          </a> -->
                            </v-col>
                            <v-col md="1" v-if="index !== 0">
                              <v-btn @click.prevent="deleteRows(index)">
                                <v-icon>mdi-delete</v-icon>
                              </v-btn>
                            </v-col>
                            <v-col md="6" lg="6" xs="6" xsm="6">
                              <div
                                v-if="error"
                                class="form-group fadein col-md-12"
                                style="margin-bottom: 30px"
                              >
                                <v-alert class="" text prominent type="error">
                                  {{ errorMessage }}
                                </v-alert>
                              </div>
                              <div
                                class="form-group fadein col-md-12"
                                v-if="success"
                                style="margin-bottom: 15px"
                              >
                                <div class="row">
                                  <v-alert text type="success" align="left">
                                    Training Data added successfully!
                                  </v-alert>
                                </div>
                              </div>
                            </v-col>
                          </v-row>
                          <hr />
                        </div>
                      </v-form>

                      <v-btn @click="addRow">+ Add more trainings</v-btn>

                      <v-row class="mt-3">
                        <v-col>
                          <v-btn
                            color="grey darken-4"
                            dark
                            rounded
                            @click.prevent="Training"
                            :loading="loadingTrain"
                            :disabled="loadingTrain"
                            >Save</v-btn
                          >
                          <!-- <v-btn :disabled="!valid" class="mr-4 btn" @click="validate">Validate</v-btn> -->
                          <router-link to="/customer/dashboard">
                            <v-btn color="grey darken-4" dark rounded
                              >Cancel</v-btn
                            >
                          </router-link>

                          <!-- <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn> -->

                          <!-- <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn> -->
                        </v-col>
                      </v-row>
                    </div>
                  </v-container>
                  <!-- <v-container>
                    <div >
                      <h6>
                        <label>Certifications</label>
                      </h6>
                      <v-form class="trainingCert">
                        <div
                          class="row form-row"
                          v-for="(rows, index) in rowss"
                          :key="index"
                        >
                          <v-textarea
                            v-model="edit1.description"
                            clearable
                            clear-icon="cancel"
                            dense
                            filled
                            label="Write about your certificate"
                          ></v-textarea>
                          <v-file-input
                            v-model="edit1.image_string"
                            dense
                            filled
                            show-size
                            label="Upload Your certificate"
                          ></v-file-input>
                          <a
                            v-if="clicked"
                            class="deleteRow btn"
                            @click.prevent="deleteRow(index)"
                            style="margin: 0 auto; padding: 0"
                          >
                            <span>Remove</span>
                            <svg class="svg-icon" viewBox="0 0 20 20">
                              <path
                                d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"
                              />
                            </svg>
                          </a>
                          <hr />
                           <button class="btn btn-danger" @click="deleteRow(rows)">X</button>
                         </div>
                      </v-form>
                      <button @click="addRows">
                        + Add more certifications
                      </button>
                      <div class="row" style="margin-top: 15px">
                        <div class="col-md-12">
                          <button class="mr-4 btn" @click.prevent="Certificate" >Save</button> -->
                  <!-- <v-btn :disabled="!valid" class="mr-4 btn" @click="validate">Validate</v-btn> -->
                  <!-- <button class="btn btn-red">Cancel</button> -->

                  <!-- <v-btn color="error" class="mr-4" @click="reset">Reset Form</v-btn> -->

                  <!-- <v-btn color="warning" @click="resetValidation">Reset Validation</v-btn> -->
                  <!-- </div>
                      </div>
                    </div>
                  </v-container>  -->
                </div>
              </div>
              <v-col md="3" lg="3" sm="12">
                <InnerCustomerNav />
              </v-col>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InnerCustomerNav from "../../components/InnerCustomerNav";
export default {
  name: "TrainingAndCertificatons",
  components: {
    InnerCustomerNav,
  },
  data() {
    return {
      success: false,
      errorMessage: "",
      error: false,
      loadingTrain: false,
      edit: {
        description: "",
        image_string: "",
        user_id: "",
      },
      edit1: {
        description: "",
        image_string: "",
        user_id: "",
      },
      clicked: false,
      user: "",
      rows: [{ description: "", image_string: "" }],
      img_string: [],
      // rowss: [{ name: "", upload: "" }],
    };
  },
  methods: {
    uploadDocument() {
      for (let i = 0; i < this.img_string.length; i++) {
        let reader = new FileReader();

        reader.readAsDataURL(this.img_string[i]);
        reader.onloadend = () => {
          this.rows[i].image_string = reader.result;
          // this.finalDocument[i].image=this.project.document
          console.log("document", this.rows);
          // this.submitCourseDetails.certification = this.submitCourseDetails.certification;
        };
      }
    },
    async Training() {
      this.loadingTrain = true;
      let id = localStorage.getItem("userId");
      let payload = {
        user_id: id,
        descriptions: this.rows,
      };
      if(!this.$refs.addTraining.validate()){
          this.errorMessage = "Please fill mandatory field";
          this.error = true;
          this.loadingTrain = false;
          setTimeout(() => {
            this.error = false;
          }, 2000);
      }else{
      // console.log('this is new arr', newArr)
      let res = await this.$axios.post("/CustomerApi/add_trainings", payload);
      console.log(res);
      if (res.data.result === 0) {
        this.loadingTrain = false;
        // this.valid = true;
        this.error = true;
        this.errorMessage = res.data.message;
        setTimeout(() => {
          this.error = false;
        }, 2000);
      } else if (res.data.result === 1) {
        this.success = true;
        // this.valid = true;

        this.error = false;
        this.errorMessage = "";
        setTimeout(() => {
          this.success = false;
          // this.valid = true;
          this.loadingTrain = false;
          this.rows = [{ description: "", image_string: "" }];
          this.$router.push("/customer/dashboard");
        }, 2000);

        // console.log(res);
      }
      }
    },
    async Certificate() {
      this.edit1.user_id = localStorage.getItem("userId");
      // console.log('this is new arr', newArr)
      let res = await this.$axios.post(
        "/CustomerApi/add_certifications",
        this.edit1
      );
      console.log(res);
      if (res.data.result === 0) {
        // this.loading2 = false;
        // this.valid = true;
        // this.error = true;
        // this.errorMessage = res.data.message;
      } else if (res.data.result === 1) {
        // this.success = true;
        // this.valid = true;
        // this.loading2 = false;
        // this.error = false;
        // this.errorMessage = "";
        // console.log(res);
      }
    },
    addRow: function() {
      this.rows.push({ description: "", image_string: "" });
    },
    addRows: function() {
      this.rowss.push({
        name: "",
        upload: "",
      });
      this.clicked = true;
    },
    deleteRow: function(index) {
      this.$delete(this.rowss, index);
    },
    deleteRows: function(index) {
      this.$delete(this.rows, index);
    },
  },
  created() {
    if (process.browser) {
      this.user = localStorage.getItem("userId");
    }
    if (this.user === null) {
      this.$router.push("/login");
    }
  },
};
</script>

<style></style>
