<template>
    <div class="fadein">
        <div class="profile-course section purchase">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                 <li><router-link to="/">Home</router-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><nuxt-link to="/customer/dashboard">My Profile</nuxt-link></li>
                <li><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Viewed Courses</a></li>
                </ul>
            </div>
            <div class="bx viewed">
                <table>
                    <tr>
                        <th>Viewed Cousrse</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>   
                        <td>20 Dec 2020</td>
                       <td>11:00 AM</td>
        
                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>
                        
                        <td>20 Dec 2020</td>
                       <td>11:00 AM</td>

                    </tr>
                    <tr>
                        <td><img src="https://exreed.com/backend/uploads/course/1601654031.jpeg" alt=""> Paython for statistical Analysis</td>
                        <td>20 Dec 2020</td>
                       <td>11:00 AM</td>

                    </tr>
                </table>
            </div>
        </div>
        </div>
    </div>
            </template>