<template>
  <div class="fadein">
    <div
      class="inner-banner dashboardBanner"
      :style="{ backgroundImage: `url(${banner})` }"
    >
      <h2 style>
        {{ name }}
        <!-- <span><button class="">Change banner</button></span> -->
      </h2>
      <div class="container">
        <div class="breadcrumb">
          <ul>
            <li>
              <router-link to="/">Home</router-link>
            </li>
            <li>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <nuxt-link to="/customer/dashboard">Wallet</nuxt-link>
            </li>
          </ul>
          
         
            
           <a style="
              position: absolute;
              top: 87px;
              right: 18px;
              color: #fff;
              border: 1px solid #fff;
              padding: 4px 10px;
              border-radius: 25px;
            "
            ><i class="ion-edit" style="color:#fff"></i></a>
        </div>
       
        </div>
        </div>
        <div class="profile">
          <div class="container">
           <div class="row panel-main">
               <div class="main wallet">
            <div class="bx">
              <div class="row">
                <div class="col-md-3">
               <a href="#">
                  <v-card>
                  <h4>Paytm </h4>
                  <p>200</p>
                </v-card>
               </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <v-card>
                  <h4>Google Pay</h4>
                  <p>500</p>
                </v-card>
                </a>

              </div>
              <div class="col-md-3">
               <a href="#">
                  <v-card>
                  <h4>Mobikwik</h4>
                  <p>100</p>
                </v-card>
               </a>
              </div>
              <div class="col-md-3">
                <a href="#">
                  <v-card>
                  <h4>Phone Pe</h4>
                  <p>500</p>
                </v-card>
                </a>
              </div>
              </div>
              <h4 class="head2">Transactions</h4>
                <table>
                <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Liknedin</td>
                  <td>2500</td>
                </tr>
                 <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Phone pe</td>
                  <td>2500</td>
                </tr>
                 <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Google pay</td>
                  <td>2500</td>
                </tr>
                 <tr>
                  <td>Dec 25 2020, 5:50 AM</td>
                  <td>Paytm</td>
                  <td>2500</td>
                </tr>
                </table>
            </div>
        </div>
           </div>

          </div>
        </div>
  </div>
        </template>